<template>
	<view class="topicdel_page">
		<view class="topicdel_cell" v-for="(item,index) in topicname" :key="index">
			<view class="topic_name">#{{item.name}}#</view>
			<view class="c-gray text-r flex-1" @click="delTopic(index)">删除</view>
		</view>
	</view>
</template>

<script>
	import {
		getList,
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				topicname: []
			};
		},
		onShow() {
			var that = this
			uni.getStorage({
				key: 'namelist',
				success: function(res) {
					that.topicname = res.data
					console.log(that.topicname)
				},
			})
		},
		onLoad() {

		},
		methods: {
			delTopic(index) {
				var that = this
				uni.showModal({
					content: '确定要删除该话题吗？',
					confirmText: "删除",
					cancelText: "取消",
					success: function(res) {
						if (res.confirm) {
							that.topicname.splice(index, 1);
							
							uni.setStorage({
								key: 'namelist',
								data: that.topicname,
								success() {
									
								}
							})

						} else {
							console.log('用户点击取消')
						}
					}
				});
			}
		}
	}
</script>

<style lang="scss">
	.topicdel_page {
		padding: 30rpx;

		.topicdel_cell {
			width: 100%;
			font-size: 24rpx;
			margin: 20rpx 0 40rpx 0;
			display: flex;
			align-items: center;

			.topic_name {
				color: #33A1FF;
				padding: 10rpx 12rpx;
				background-color: #F3F9FF;
			}

		}
	}
</style>
