<template>
	<view class="goodslist_page">
		<!-- #ifdef MP -->
		<uni-nav-bar :fixed="true" leftIcon="back" @clickLeft="clickLeft()" :statusBar="true" :border="false"
			leftWidth="30rpx" rightWidth="30rpx">
			<view class="SearchWidth_wechat">
				<uni-search-bar v-model="params.name" placeholder="输入搜索关键词" bgColor="#F0F0F0" radius="60"
					@confirm="search" @clear="clearInput" cancelButton="none" />
			</view>
		</uni-nav-bar>
		<!-- #endif -->
		<!-- #ifdef APP-PLUS|| H5 -->
		<uni-nav-bar :fixed="true" leftIcon="back" @clickLeft="clickLeft()" leftWidth="30rpx" rightWidth="0"
			:statusBar="true" :border="false">
			<view class="SearchWidth_app">
				<uni-search-bar v-model="params.name" placeholder="输入搜索关键词" bgColor="#F0F0F0" radius="60"
					@confirm="search" @clear="clearInput" cancelButton="none" />
			</view>
		</uni-nav-bar>
		<!-- #endif -->
		<view class="tabs_fixed" :style="'top:' +tabs_top+'px;'">
			<view :class="params.sort_sales == 1 ? 'tabs_item tab_item_border' : 'tabs_item'" style="color: #3a3a3a;"
				@click="handleTap(1)">
				销量
			</view>
			<view :class="params.sort_price >0 ? 'tabs_item tab_item_border' : 'tabs_item'" style="color: #3a3a3a;"
				@click="handleTap(2)">
				价格
				<uni-icons v-if="params.sort_price == 2" type="top" size="12"></uni-icons>
				<uni-icons v-if="params.sort_price == 1" type="bottom" size="12"></uni-icons>
			</view>
			<view :class="activeIndex == 3 ? 'tabs_item tab_item_border' : 'tabs_item'" style="color: #3a3a3a;"
				@click="handleTap(3)">
				{{brand_name}}
				<uni-icons type="bottom" size="12"></uni-icons>
			</view>
		</view>
		<view v-if="showTopPop" class="mask_box" :style="'top:' +tabs_top+'px;'" catchtouchmove="ture"
			@click="showTopPop=false"></view>
		<view v-if="showTopPop" class="topPop_box" :style="'top:' +tabs_top+'px;'">
			<view v-for="(item,index) in brandlist" :key="item.id"
				:class="params.brand_id==item.id?'brand_box brand_active':'brand_box'" v-if="item.name"
				@click="changeBrand(item.id,item.name)">
				{{item.name}}
			</view>
		</view>
		<view class="goods_box">
			<view class="goods_cell" v-for="(item,index) in list" :key="item.id"
				@click="goodsInfo(item.id,item.tt_shop_id)">
				<view class="goods_img_box">
					<image class="goods_img" mode="aspectFill" :src="item.img_url"></image>
				</view>
				<view class="goods_info">
					<view class="goods_info_name ellipsis-3">
						<span class="presellbadge" v-if="item.activity_status==1">预售</span>
						<span class="secondbadge" v-if="item.activity_status==2">秒杀</span>
						<span class="groupbadge" v-if="item.activity_status==4">团购</span>
						{{item.name}}
					</view>
					<view class="goods_info_bottom">
						<view class="text-r f-15 c-red f-w mb-5">￥ {{item.price}}</view>
						<view class="display_flex c-gray f-13">
							<view class="flex-1">销量 {{item.buy_num}}</view>
							<view class="old_price">{{item.old_price}}</view>
						</view>
					</view>
				</view>
			</view>
		</view>
		<view class="no_orders">
			<image v-if="noCommentText=='加载中'" class="loading_gift" src="/static/images/gif.gif">
			</image>
			<image v-if="noCommentText=='没有找到您要搜索的商品'" class="error_img" src="/static/images/shop/error.png"></image>
			<view class="mt-5">{{noCommentText}}</view>
		</view>
	</view>
</template>

<script>
	import {
		getShopList,
		getGoodsBrandList
	} from '@/api/motortime.js'
	let app = getApp()
	export default {
		data() {
			return {
				activeIndex: 0,
				list: [],
				params: {
					name: '',
					brand_id: 0,
					sort_sales: 0,
					sort_price: 0,
					subs_id: 0,
					page: 1,
					size: 10,
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : 0
				},
				showTopPop: false,
				listNull: false,
				noCommentText: '加载中',
				brandlist: [],
				brand_name: '品牌',
				tabs_top: 64,
			};
		},
		onLoad(options) {
			this.params.subs_id = options.subs_id ? options.subs_id : 0
			this.getShopList()
			this.getGoodsBrandList()
			this.tabs_top = 44 + app.globalData.statusBarHeight
		},
		methods: {
			getShopList() {
				getShopList(this.params).then(res => {
					if (res.state == 1) {
						this.list = [...this.list, ...res.data.data]
						this.current_page = res.data.current_page
						this.last_page = res.data.last_page
						if (res.data.total == 0) {
							this.noCommentText = '没有找到您要搜索的商品'
						} else {
							this.noCommentText = ''
						}
					}
				})
			},
			getGoodsBrandList() {
				getGoodsBrandList().then(res => {
					if (res.state == 1) {
						this.brandlist = res.data

					}
				})
			},
			changeBrand(id, name) {
				this.showTopPop = false
				this.brand_name = name
				this.params.brand_id = id
				this.params.page = 1
				this.list = []
				this.getShopList()
			},
			handleTap(index) {
				if (index == 1) {
					this.noCommentText = '加载中'
					this.params.sort_sales = this.params.sort_sales == 1 ? 0 : 1
					this.params.page = 1
					this.list = []
					this.getShopList();
				} else if (index == 2) {
					this.noCommentText = '加载中'
					this.params.sort_price = this.params.sort_price == 2 ? 1 : 2
					this.params.page = 1
					this.list = []
					this.getShopList();
				} else if (index == 3) {
					this.noCommentText = '加载中'
					this.showTopPop = this.showTopPop ? false : true
					this.activeIndex = 3
				}
			},
			goodsInfo(id, tt_shop_id) {
				// #ifdef MP-TOUTIAO
				if (this.appName != 'Toutiao') {
					tt.openEcGood({
						promotionId: tt_shop_id,
						success(res) {
							console.log("openEcGood调用成功", res);
						},
						fail(res) {
							console.log("openEcGood调用失败", res);
						},
					});
				}
				// #endif
				// #ifndef MP-TOUTIAO
				uni.navigateTo({
					url: '/pages/goodsinfo/goodsinfo?scene=' + id
				})
				// #endif
			},
			clickLeft() {
				uni.navigateBack({
					delta: 1
				})
			},
			search(e) {
				this.params.name = e.value
				this.list = []
				this.noCommentText = '加载中...'
				this.params.page = 1
				this.getShopList()
			},
			
			clearInput() {
				this.params.name = ''
				this.params.page = 1
				this.list = []
				this.noCommentText = '加载中'
				this.getShopList()
			}
		},
		onReachBottom() {
			if (this.current_page < this.last_page) {
				this.noCommentText = '加载中'
				this.params.page++
				this.getShopList();
			} else {
				this.noCommentText = '已加载全部'
			}
		},
		onPullDownRefresh() {
			this.noCommentText = '加载中'
			this.params = {
				brand_id: 0,
				sort_sales: 0,
				sort_price: 0,
				page: 1,
				size: 16
			}
			this.list = []
			this.getShopList()
			uni.stopPullDownRefresh()
		}
	}
</script>

<style lang="scss">
	.goodslist_page {
		.SearchWidth_wechat {
			width: 78%;
		}

		.tabs_fixed_box {
			border-bottom: 1rpx solid #EAEAEA;
			position: -webkit-sticky !important;
			position: sticky;
			top: 0px;
			z-index: 1;
			background-color: #ffffff;
		}

		.topPop_box {
			position: fixed;
			left: 0;
			right: 0;
			background-color: #fff;
			min-height: 400rpx;
			max-height: 1000rpx;
			z-index: 1001;
			padding: 10rpx;
		}

		.brand_box {
			min-width: 140rpx;
			color: #605c6b;
			font-size: 24rpx;
			padding: 20rpx;
			display: inline-block;
			text-align: center;
			margin: 20rpx 10rpx;
			border: 2rpx solid #EAEAEA;
			background-color: #fff;
		}

		.brand_active {
			color: #fff;
			background-color: #F6AB00;
			border: 2rpx solid #F6AB00;
		}

		.goods_box {
			.goods_cell {
				display: flex;
				align-items: flex-start;
				padding: 30rpx 20rpx;
				border-bottom: 2rpx solid #EAEAEA;

				.goods_img_box {
					width: 220rpx;
					height: 220rpx;

					.goods_img {
						width: 220rpx;
						height: 220rpx;
						border-radius: 5rpx;
					}
				}

				.goods_info {
					flex: 1;
					position: relative;
					height: 220rpx;
					margin-left: 20rpx;

					.goods_info_name {
						color: #3a3a3a;
						font-size: 30rpx;
						line-height: 18px;
						font-weight: bold;
					}

					.goods_info_bottom {
						position: absolute;
						bottom: 0;
						left: 0;
						right: 0;

						.old_price {
							text-decoration: line-through;
						}
					}


				}
			}
		}
	}
</style>