<template>
	<view class="topicinfo">
		<view class="motor_list_topic" v-if="!topicstate" @click="goinfo()">
			<image class="motor_list_left_img" :src="info.pic_url" mode="aspectFill"></image>
			<view class="motor_list_topicinfo">#{{info.name}}#</view>
		</view>
		<view class="remark" v-if="info.remark">{{info.remark}}</view>
		<view style="padding:10px 15px 0 15px;" v-if="!topicstate">
			<view class="f-12 c-gray" v-if="info.user">发起人：{{info.user.user_name}}</view>
			<view class="f-12 c-gray">
				<span v-if="info.read_num>0">阅读：{{item.read_num}}</span>
				<span v-if="info.recom_num>0">讨论：{{item.recom_num>0}}</span>
			</view>
			<!-- <view class="f-12 c-gray">#123#</view> -->
		</view>
		<view class="bbs_comment_top">
			<view style="flex: 1;" v-if="info">#{{info.name}}#</view>
			<view class="list_num" v-if="total">·{{total}}条内容</view>
		</view>
		<view class="tpoic_bbslist">
			<block v-for="(itemd,indexd) in list" :key="indexd">
				<view class="topiclass" v-if="indexd!=0">
					<image class="topicPoint" src="/images/topicPoint.png"></image>
					{{indexd}}
				</view>
				<view class="listbox">
					<view class="leftbox">
						<view class="mb-10" v-for="(item,index) in itemd" :key="item.id" v-if="index%2==0">
							<view @click="goBbsinfo(item.id,item.url,item.post_id,index)">
								<view class="pic-box">
									<image class="pic" :src="item.cover?item.cover:item.image[0]" mode="widthFix">
									</image>
									<image v-if="item.ranking_img" class="topic_rank" :src="item.ranking_img"></image>
									<image class="img_sign" v-if="item.is_essence==1"
										src="/static/images/elite_sign_home.png">
									</image>
									<image class="img_sign" v-if="item.is_essence==2"
										src="/static/images/active_sign_home.png"></image>
									<image class="img_sign" v-if="item.is_essence==3"
										src="/static/images/hot_sign_home.png">
									</image>
									<image class="img_sign" v-if="item.is_essence==4"
										src="/static/images/question_sign_home.png"></image>
								</view>
								<view class="f-12 topictitle bkc-fff">{{item.title}}</view>
							</view>
							<view class="topic_list_member">
								<view style="display: flex;flex: 1;align-items: center;">
									<view class="memberpic">
										<image class="member-pic"
											:src="item.user.headimg_url?item.user.headimg_url:'/static/images/default-avatar.png'"
											mode="aspectFill"></image>
										<!-- <image class="avatarborder" src="/static/images/border.gif"
											v-if="item.user.auth.is_audit==1"></image> -->
									</view>
									<span class="f-12 c-gray ellipsis ml-10">{{item.user.user_name}}</span>
								</view>
								<view style="float: right;">
									<image class="collectpic"
										:src="item.is_praise==0?'/static/images/zan.png':'/static/images/zan-active.png'"
										@click="praise(item.is_praise,item.id,item.topic_type_name,item.post_id,index)">
									</image>
									<span class="f-12 c-gray">{{item.praise_num}}</span>
								</view>
							</view>
						</view>
					</view>
					<view class="rightbox">
						<view class="mb-10" v-for="(item,index) in itemd" :key="item.id" v-if="index%2!=0">
							<view @click="goBbsinfo(item.id,item.url,item.post_id,index)">
								<view class="pic-box">
									<image class="pic" :src="item.cover?item.cover:item.image[0]" mode="widthFix">
									</image>
									<image v-if="item.ranking_img" class="topic_rank" :src="item.ranking_img"></image>
									<image class="img_sign" v-if="item.is_essence==1"
										src="/static/images/elite_sign_home.png">
									</image>
									<image class="img_sign" v-else-if="item.is_essence==2"
										src="/static/images/active_sign_home.png"></image>
									<image class="img_sign" v-else-if="item.is_essence==3"
										src="/static/images/hot_sign_home.png">
									</image>
									<image class="img_sign" v-else-if="item.is_essence==4"
										src="/static/images/question_sign_home.png"></image>
								</view>
								<!-- <view class="f-12 c-blue ml-30" v-if="item.is_audit==0">内容审核中</view> -->
								<view class="f-12 topictitle bkc-fff">{{item.title}}</view>
							</view>
							<view class="topic_list_member">
								<view style="display: flex;flex: 1;align-items: center;">
									<view class="memberpic">
										<image class="member-pic"
											:src="item.user.headimg_url?item.user.headimg_url:'/static/images/default-avatar.png'"
											mode="aspectFill"></image>
										<!-- <image v-if="item.user.auth.is_audit==1" class="avatarborder"
											src="/static/images/border.gif"></image> -->
									</view>
									<span class="f-12 c-gray ellipsis ml-10">{{item.user.user_name}}</span>
								</view>
								<view style="float: right;">
									<image class="collectpic"
										:src="item.is_praise==0?'/static/images/zan.png':'/static/images/zan-active.png'"
										@click="praise(item.is_praise,item.id,item.topic_type_name,item.post_id,index)">
									</image>
									<span class="f-12 c-gray">{{item.praise_num}}</span>
								</view>
							</view>
						</view>
					</view>
				</view>
			</block>
		</view>
		<view class="mastbar">
			<!-- <view class="mastbar_map" @click="goMap" v-if="showBackMap">
				<image class="backmap" src="/static/images/active/backmap.png"></image>
			</view> -->
			<!-- v-if="showPost&&bbs_edit_status==1" -->
			<view class="mastbar_post" @click="posted">
				<image class="release" src="/static/images/write.png"></image>
			</view>
		</view>
		<!-- <view :class="showMessage ? 'weui-demo-dialog weui-demo-dialog_show' : 'weui-demo-dialog'">
			<view class="weui-mask" @click="closeDialogd"></view>
			<view class="showModal_box">
				<view class="showModal_img_box">
					<image class="showModal" src="/static/images/active/showModal.png"></image>
					<view class="showModal_title" style="top:25%">
						<view>您参与发帖集赞成功</view>
					</view>
					<view class="showModal_ok" @click="closeDialogd">
						确认
					</view>
				</view>
			</view>
		</view> -->
	</view>
</template>

<script>
	import {
		getTopicInfo,
		getTopicBbs,
		bbsPraise,
		articlePraise,
		getActiveInfo,
		noticeTemplate
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				params: {
					user_id: ''
				},
				info: '',
				topicstate: false,
				total: '',
				paramb: {
					user_id: '',
					topic_id: '',
				},
				list: [],
				showBackMap: false,
				showPost: true,
				bbs_edit_status: 1,
				showMessage: false,
				ispost: false
			};
		},
		onLoad(options) {
			this.user_id = uni.getStorageSync('member') ? uni.getStorageSync('member').id : ''
			var scene = decodeURIComponent(options.scene);
			var list = scene.split('-');
			this.id = list[0]?list[0]:0
			this.paramb.topic_id = list[0]?list[0]:0
			if (options.hid) {
				this.hid = options.hid
				if (options.hid > 0) {
					this.showBackMap = true
					this.getActiveInfo()
				} else {
					this.showBackMap = false

				}

			}
			this.getTopicInfo()

		},
		onShow() {
			this.user_id = uni.getStorageSync('member') ? uni.getStorageSync('member').id : ''
			if (this.ispost) {
				this.list = []
			}
			this.getTopicBbs()

		},
		methods: {
			getTopicInfo() {
				this.params.user_id = this.user_id
				getTopicInfo(this.params, this.id).then(res => {
					if (res.state == 1) {
						this.info = res.data
						if (res.data.is_official == 1) {
							if (res.data.h_u_status > 0) {
								this.showPost = true

							} else {
								this.showPost = false

							}
						} else {
							this.showPost = true

						}
					} else {
						this.topicstate = true
					}
				})
			},
			getActiveInfo() {
				var params = {
					user_id: uni.getStorageSync('member').id ? uni.getStorageSync('member').id : '',
				}
				getActiveInfo(params, this.hid).then(res => {
					if (res.state == 1) {
						this.activeinfo = res.data
						this.bbs_edit_status = res.data.data.bbs_edit_status
					}

				})
			},
			getTopicBbs() {
				this.paramb.user_id = this.user_id
				getTopicBbs(this.paramb).then(res => {
					if (res.state == 1) {
						this.list = res.data.info
						this.total = res.data.num
					}
				})
			},
			praise(type, id, name, pid, index) {
				if (uni.getStorageSync('access_token')) {
					var params = {
						id: id,
						type: type == 1 ? 2 : 1
					}
					if (pid == 0) {
						bbsPraise(params).then(res => {
							if (res.state == 1) {
								var list = this.list
								var lists = this.list[name]
								lists[index].is_praise = type == 1 ? 0 : 1
								if (type == 0) {
									lists[index].praise_num++
								} else {
									lists[index].praise_num--
								}
								this.list = list
							}

						})
					} else {
						articlePraise(params).then(res => {
							if (res.state == 1) {
								var list = this.list
								var lists = this.list[name]
								lists[index].is_praise = type == 1 ? 0 : 1
								if (type == 0) {
									lists[index].praise_num++
								} else {
									lists[index].praise_num--
								}
								this.list = list
							}

						})
					}
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			goBbsinfo(id, url, pid, index) {
				if (pid > 0) {
					uni.navigateTo({
						url: '/pages/article/article?scene=' + pid
					})
				} else {
					uni.navigateTo({
						url: '/pages/articleinfo/articleinfo?scene=' + id
					})
				}

			},
			posted() {
				var that = this
				if (uni.getStorageSync('access_token')) {
					// #ifdef  MP-WEIXIN
					uni.requestSubscribeMessage({
						tmplIds: ['UXoNEgstqcHaHFtsesbbyv6WUHPjheI3nH9pMiUGS6E',
							'EJH23t_jW88wn4eIhRqEc7UPO1GpALMXVFq-SxTlsaI',
							'4UY_JJwhR9hRN_2wKYKdgqcxNixYBlXXSZUgg5BQvkE'
						],
						success: function(res) {
							noticeTemplate({
								template_type: 1
							}).then(res => {
								if (res.state == 1) {
									var params = {
										id: that.id,
									}
									if (that.info.name) {
										params.name = that.info.name
									} else {
										params.name = that.topicname
									}
									uni.setStorage({
										key: 'namelist',
										data: [params],
									})
									uni.navigateTo({
										url: "/pages/post/post?scene=" + that.id
									})
									that.ispost = true
								} else {

								}
							})
						},
						file: function(e) {
							console.log(e)
						}
					})
					// #endif
					// #ifndef  MP-WEIXIN
					var params = {
						id: that.id,
					}
					if (that.info.name) {
						params.name = that.info.name
					} else {
						params.name = that.topicname
					}
					uni.setStorage({
						key: 'namelist',
						data: [params],
					})
					uni.navigateTo({
						url: "/pages/post/post?scene=" + that.id
					})
					that.ispost = true
					// #endif
				} else {
					uni.navigateTo({
						url: '/pages/login/login?is_goan=1'
					})
				}
			},
			goinfo() {
				var url = this.activeinfo.url
				if (url.indexOf("signin") == 0) {
					uni.navigateTo({
						url: url
					})
				} else {
					uni.reLaunch({
						url: url
					})
				}
			},
			closeDialogd() {
				this.showMessage = false
			}

		},
		onPullDownRefresh() {
			this.getTopicInfo()
			this.list = []
			this.getTopicBbs()
			if (this.hid) {
				if (this.hid > 0) {
					this.showBackMap = true
					this.getActiveInfo()
				} else {
					this.showBackMap = false
				}
			}

			
			uni.stopPullDownRefresh()
		},
		onShareAppMessage(res) {
			app.getShareTask('/pages/topicinfo/topicinfo')
			return {
				title: this.info.name,
				imageUrl: this.info.pic_url
			}
		},
	}
</script>

<style lang="scss">
	.topicinfo {

		.motor_list_topic {
			position: relative;
			width: 100%;
			height: 240px;

			.motor_list_left_img {
				width: 100%;
				height: 240px;
				border-radius: 0;
			}

			.motor_list_topicinfo {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				color: #000;
				background-color: #fff;
				opacity: 0.7;
				padding: 2rpx 10rpx;
				font-weight: bold;
			}
		}

		.remark {
			font-size: 13px;
			padding: 15px;
		}

		.bbs_comment_top {
			color: #9a9a9a;
			font-size: 15px;
			font-weight: bold;
			padding: 15px 10px;
			margin-top: 20px;
			border-top: 10px solid #f1f1f1;
			border-bottom: 10px solid #f1f1f1;
			display: flex;
			align-items: center;
		}

		.list_num {
			font-size: 12px;
			font-weight: 400;
		}

		.tpoic_bbslist {
			background-color: #f1f1f1;

			.listbox {
				display: flex;
				justify-content: space-between;
				background-color: #f1f1f1;
			}
			
			.leftbox {
				width: calc(50% - 10rpx);
				float: left;
				border-bottom: 20rpx solid #f1f1f1;
			}
			
			.rightbox {
				width: calc(50% - 10rpx);
				float: left;
				border-bottom: 20rpx solid #f1f1f1;
			}

			.pic-box {
				object-fit: cover;
				position: relative;
				background-color: #FFFFFF;
				border-top-left-radius: 5rpx;
				border-top-right-radius: 5rpx;
			}

			.pic {
				width: 100%;
				max-height: 500rpx;
				border-top-left-radius: 5rpx;
				border-top-right-radius: 5rpx;
			}

			.img_sign {
				width: 80rpx;
				height: 50rpx;
				left: 0;
				top: 0;
				position: absolute;
			}

			.topictitle {
				padding: 10rpx 20rpx;
			}

			.bkc-fff {
				background-color: #fff;
			}

			.topic_list_member {
				border-bottom-left-radius: 5rpx;
				border-bottom-right-radius: 5rpx;
				padding: 10rpx 20rpx 20rpx 20rpx;
				background-color: #FFFFFF;
				display: flex;
				align-items: center;

				.memberpic {
					position: relative;
					width: 40rpx;
					height: 40rpx;
					border-radius: 3rpx;
				}

				.member-pic {
					width: 100%;
					height: 100%;
					border-radius: 100rpx;
				}

				.avatarborder {
					width: 40rpx;
					height: 40rpx;
					position: absolute;
					right: 0;
				}

				.collectpic {
					width: 30rpx;
					height: 30rpx;
					padding: 10rpx;
					vertical-align: middle;
					background: transparent;
				}
			}


		}

		.mastbar {
			position: fixed;
			bottom: 200rpx;
			right: 20rpx;

			.mastbar_post {
				width: 120rpx;
				height: 120rpx;
				background: #FFBA00;
				border-radius: 100rpx;
				color: #fff;
				text-align: center;
				margin-top: 30rpx;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			.release {
				width: 40rpx;
				height: 44rpx;
			}

			.mastbar_map {
				width: 120rpx;
				height: 120rpx;
				background: #3a3a3a;
				border-radius: 100rpx;
				color: #fff;
				display: flex;
				align-items: center;
				justify-content: center;

				.backmap {
					width: 105rpx;
					height: 105rpx;
					border-radius: 100rpx;
				}
			}



			.weui-demo-dialog {
				visibility: hidden;
				opacity: 0;
				transition: all;
			}

			.weui-mask,
			.weui-mask_transparent {
				position: fixed;
				z-index: 1000;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
			}

			.showModal_box {
				width: 490rpx;
				height: 280rpx;
				position: fixed;
				top: 40%;
				left: 0;
				right: 0;
				z-index: 9999;
				margin: 0 auto;
				text-align: center;
			}

			.showModal_img_box {
				position: relative;
				text-align: center;
			}

			.showModal {
				width: 490rpx;
				height: 280rpx;
			}

			.showModal_title {
				font-size: 28rpx;
				width: 490rpx;
				position: absolute;
				top: 25%;
				color: #fff;
			}

			.showModal_ok {
				font-size: 28rpx;
				width: 490rpx;
				position: absolute;
				bottom: 45rpx;
				color: #fff;
			}
		}

		.topic_rank {
			width: 100rpx;
			height: 100rpx;
			position: absolute;
			top: 5rpx;
			right: 5rpx;
		}
	}
</style>
