<template>
	<view class="other_page">
		<image class="other_top_bkimg" :src="otherinfo.bg?otherinfo.bg:'/static/images/member_bg.png'"></image>
		<view class="memberinfo">
			<view class="display_flex">
				<image class="otherinfo_img"
					:src="otherinfo.avatar?otherinfo.avatar:'/static/images/default-avatar.png'"></image>
				<view class="flex-1"></view>
				<view class="motor_list_user_follow" @click="followUser(userinfo.id,1)" v-if="userinfo.is_follow==0">
					<uni-icons type="plusempty" size="12" color="#F6AB00"></uni-icons>关注
				</view>
				<view class="motor_list_user_followd" @click="followUser(userinfo.id,2)" v-else>
					已关注
				</view>
			</view>
			<view class="f-14 f-w mt-10">{{otherinfo.username}}</view>
			<!-- <view class="f-13 mt-10 c-intro" style="display:flex"
				v-if="otherinfo.auth.is_audit==1&&otherinfo.auth.title">
				<image class="motor_car" style="padding-top:7rpx;" :src="otherinfo.auth.pic"></image>
				<view class="c-gray" style="flex:1">
					<block v-for="item in otherinfo.auth.title" :key="item">
						<view>{{item}}</view>
					</block>
				</view>
			</view>
			<view class="f-13 mt-10 c-gray member_approve" v-if="otherinfo.cars.id">
				<image class="motor_car" src="/static/images/member_car.png"></image>
				<span>{{otherinfo.cars.title}} 车主</span>
			</view> -->
			<view class="f-13 mt-10 c-gray" v-if="otherinfo.intro">{{otherinfo.intro}}</view>
			<view class="other_tbox mt-30">
				<view class="boxi" @click="myPraise">
					<span class="f-13 c-gray">获赞</span>
					<span class="f-13 f-w ml-20">{{userinfo.praise_num}}</span>
				</view>
				<view class="boxi" @click="myFollow(userinfo.id,0)">
					<span class="f-13 c-gray">关注</span>
					<span class="f-13 f-w ml-20">{{userinfo.follow_num}}</span>
				</view>
				<view class="boxi" @click="myFollow(userinfo.id,1)">
					<span class="f-13 c-gray">粉丝</span>
					<span class="f-13 f-w ml-20">{{userinfo.fans_num}}</span>
				</view>
			</view>
		</view>
		<view class="scrollist">
			<view class="dynamicbox">
				<view class="dynamic" v-if="nolist">
					<view class="years mb-20">{{nowYears}}</view>
					<view class="dislinblock">
						<view class="lefttime">
							<view class="f-20 f-w">{{nowMonth}}.{{nowDays}}</view>
							<view class="f-14 c-gray mt-20"></view>
						</view>
						<view class="text-c f-14 mt-50 c-gray">该用户还没有发布过动态</view>
					</view>
				</view>
				<view class="dynamic" v-for="(item,index) in list" :key="item.id">

					<view class="years mb-20" v-if="item.yearshow">{{item.year}}</view>
					<view class="dislinblock">

						<view class="lefttime">
							<view class="f-20 f-w" v-if="item.monshow">{{item.date}}</view>
							<view class="f-14 c-gray mt-20"></view>
						</view>
						<block v-if="item.cate.id==4||item.cate.id==1">
							<view class="rightbox">
								<view class="f-12 c-gray">{{item.cate.type}} - {{item.time}}</view>
								<view v-if="item.cate.id==1"
									@click="goBbsinfo(item.id,item.shop_info.id,item.title,item.url,index)">
									<view class="f-15 f-w mt-15 ellipsis-2" v-if="item.title">{{item.title}}</view>
									<view class="f-15 mt-10 ellipsis-4" v-if="item.content">{{item.content}}</view>
									<block v-if="item.cover">
										<image class="dynamicpic mt-15" :src="item.cover" mode="aspectFill"></image>
									</block>
									<block v-else>
										<image class="dynamicpic mt-15" v-if="item.image.length>0" :src="item.image[0]"
											mode="aspectFill"></image>
										<image v-if="item.image.length>1" class="picicon"
											src="/static/images/picture.png">
										</image>
									</block>
								</view>
								<view v-if="item.cate.id==4">
									<view class="f-15 f-w mt-15 ellipsis-2" v-if="item.title">{{item.title}}</view>
									<view class="f-15 mt-10 ellipsis-4" v-if="item.content">{{item.content}}</view>
									<image class="dynamicpic mt-15" v-if="item.image.length>0" :src="item.image[0]"
										mode="aspectFill"></image>
									<image v-if="item.image.length>1" class="picicon" src="/static/images/picture.png">
									</image>
								</view>
								<view class="mt-10 display_flex" v-if="item.cate.id==4||item.cate.id==1">
									<view class="flex-1 display_flex f-12 c-gray">
										<view class="display_flex" @click="praise(item.id,item.is_praise,index)">
											<image class="binpic"
												:src="item.is_praise==0?'/static/images/zan.png':'/static/images/zan-active.png'"
												data-type=""></image>
											<view class="ml-5" v-if="item.praise_num>0">{{item.praise_num}}</view>
										</view>
										<view class="ml-10 display_flex" v-if="item.comment_num>0"
											@click="goBbsinfo(item.id,item.shop_info.id,item.title,item.url,index)">
											<image class="binpic ml-50" src="/static/images/comment.png"></image>
											<view class="ml-5" v-if="item.comment_num">{{item.comment_num}}</view>
										</view>
									</view>
									<view @click="openDialog(item.id,item.title,item.post_id,item.cover,item.image[0])">
										<image class="binpic" src="/static/images/shared.png"></image>
									</view>
								</view>
							</view>
						</block>
					</view>
				</view>
			</view>
		</view>
		<block v-if="showShare">
			<view class="share_box" :style="'padding-bottom:'+bottomBox+'px'">
				<view class="display_flex" style="justify-content: center;">
					<view style="width: 100px;height: 1px;background: #eaeaea;"></view>
					<view class="c-black f-10 ml-5 mr-5">分享</view>
					<view style="width: 100px;height: 1px;background: #eaeaea;"></view>
				</view>
				<!-- #ifdef MP -->
				<view class="display_flex mt-20">
					<button class="share_cell" open-type="share">
						<image class="share_img" src="/static/images/wecheck.png"></image>
					</button>
					<view class="share_cell" @click="getPoster">
						<image class="share_img" src="/static/images/friend.png"></image>
					</view>
				</view>
				<!-- #endif -->
				<!-- #ifdef APP-PLUS -->
				<view class="display_flex mt-20">
					<view class="share_cell" @click="shareApp('WXSceneSession')">
						<image class="share_img" src="/static/images/wecheck.png"></image>
					</view>
					<view class="share_cell" @click="shareApp('WXSenceTimeline')">
						<image class="share_img" src="/static/images/friend.png"></image>
					</view>
				</view>
				<!-- #endif -->
				<view class="mt-20 f-12"
					style="border-top: 1rpx solid #eaeaea;padding-top: 30rpx;padding-bottom: 10rpx;"
					@click="showShare=false">取消
				</view>
			</view>
			<view class="wask_box" @click="showShare=false"></view>
		</block>

		<block v-if="showShareUrl">
			<view class="share_url_box">
				<image class="share_url" :src="share_url" mode="widthFix"></image>
				<view class="shareBtn" @click="showShareUrl=false">我知道了</view>
			</view>
			<view class="wask_box" @click="showShareUrl=false"></view>
		</block>
	</view>
</template>

<script>
	import {
		getUserOtherInfo,
		getUserInfo,
		getUserList,
		bbsPraise,
		bbsPoster,
		followUser
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				otherinfo: '',
				userinfo: '',
				nowYears: '',
				nowMonth: '',
				nowDays: '',
				list: [],
				nolist: false,
				params: {
					media_id: 0,
					user_id: 0,
					page: 1
				},
				bottomBox: uni.getSystemInfoSync().safeAreaInsets.bottom > 0 ? uni.getSystemInfoSync().safeAreaInsets
					.bottom : 8,
				showShare: false,
				showShareUrl: false,
				user_id: ''
			};
		},
		onShow() {
			if (uni.getStorageSync('onload')) {
				this.user_id = uni.getStorageSync('member') ? uni.getStorageSync('member').id : ''
				this.showLoading = true
				this.list = []
				this.params.page = 1
				this.getUserInfo()
				this.getUserList()
				uni.removeStorage({
					key: 'onload'
				})
			}
		},
		onLoad(options) {
			this.user_id = uni.getStorageSync('member') ? uni.getStorageSync('member').id : ''

			this.userid = options.scene
			this.params.user_id = options.scene
			this.getUserInfo()
			this.getUserOtherInfo()
			this.getUserList()
			var newDate = new Date();
			var nowMonth = newDate.getMonth() + 1
			if (nowMonth < '10') nowMonth = "0" + nowMonth;
			var nowDays = newDate.getDate()
			if (nowDays < '10') nowDays = "0" + nowDays;
			this.nowYears = newDate.getFullYear()
			this.nowMonth = nowMonth
			this.nowDays = nowDays
		},
		methods: {
			getUserOtherInfo() {
				getUserOtherInfo({
					user_id: this.userid
				}).then(res => {
					if (res.state == 1) {
						this.otherinfo = res.data
						uni.setNavigationBarTitle({
							title: this.otherinfo.username
						})
					}
				})
			},
			getUserInfo() {
				getUserInfo(this.userid, {
					user_id: this.user_id
				}).then(res => {
					if (res.state == 1) {
						this.userinfo = res.data
					}
				})
			},
			getUserList() {
				getUserList(this.params).then(res => {
					if (res.state == 1) {
						var list = res.data.data
						this.last_page = res.data.last_page
						this.current_page = res.data.current_page
						if (res.data.total == 0) {
							this.nolist = true
						} else {
							this.nolist = false
						}
						for (var i = 0; i < list.length; i++) {
							let year = list[i].year
							let mon = list[i].date

							list[i].year = year
							list[i].mon = mon
						}
						for (var i = 0; i < list.length; i++) {
							if (i > 0) {
								if (list[i].year == list[i - 1].year) {
									list[i].yearshow = false
								} else {
									list[i].yearshow = true
								}
								if (list[i].mon == list[i - 1].mon) {
									list[i].monshow = false
								} else {
									list[i].monshow = true
								}
							} else {
								list[i].yearshow = true
								list[i].monshow = true
							}
						}
						this.list = [...this.list, ...list]
					}
				})
			},
			goBbsinfo(id, shopid, title, url, index) {
				uni.navigateTo({
					url: '/pages/articleinfo/articleinfo?scene=' + id
				})
			},
			praise(id, is_praise, index) {
				if (uni.getStorageSync('access_token')) {
					var params = {
						id: id,
						type: is_praise == 1 ? 2 : 1
					}
					bbsPraise(params).then(res => {
						if (res.state == 1) {
							this.list[index].is_praise = params.type
							if (params.type == 1) {
								this.list[index].praise_num = this.list[index].praise_num + 1
							} else {
								this.list[index].praise_num = this.list[index].praise_num - 1
							}
						}

					})
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			openDialog(id, title, pid, cover, img, ) {
				this.bbs_id = id
				this.bbs_title = title
				this.bbs_share_image = cover ? cover : img
				this.showShare = true
			},
			//获取海报
			getPoster() {
				if (uni.getStorageSync('access_token')) {
					var params = {
						cid: this.bbs_id,
						user_id: uni.getStorageSync('member').id
					}
					bbsPoster(params).then(res => {
						if (res.state == 1) {
							this.share_url = res.data.share_url
							this.showShareUrl = true
							this.showShare = false
							uni.downloadFile({
								url: res.data.share_url,
								success: function(res) {
									var tempFilePath = res.tempFilePath
									console.log(res.tempFilePath)
									uni.authorize({
										scope: 'scope.writePhotosAlbum',
										success() {
											uni.saveImageToPhotosAlbum({
												filePath: tempFilePath,
												success: function() {
													uni.showToast({
														title: '保存成功了，快去分享吧~',
														icon: 'none',
														duration: 1500
													});
													console.log('save success');
												},
												fail(e) {
													console.log('下载失败')
												}
											});
										},
										fail() {
											console.log('未授权')
										}
									})

								},

							})

						}
					})
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			//微信app分享
			shareApp(scene) {
				var that = this

				if (scene == 'WXSceneSession') {
					uni.share({
						provider: "weixin",
						scene: scene,
						type: 5,
						title: that.bbs_title,
						imageUrl: that.bbs_share_image,
						miniProgram: {
							id: 'gh_664d5a5771aa',
							path: '/pages/articleinfo/articleinfo?scene=' + that.bbs_id,
							type: 0,
							webUrl: "https://m.motortime.com/bbs/" + that.bbs_id
						},
						success: function(res) {
							that.showShare = false
							console.log("success:" + JSON.stringify(res));
						},
						fail: function(err) {
							that.showShare = false
							console.log("fail:" + JSON.stringify(err));
						}
					});
				} else {
					uni.share({
						provider: "weixin",
						scene: scene,
						type: 0,
						href: "https://m.motortime.com/bbs/" + that.bbs_id,
						title: that.info.title,
						summary: '',
						imageUrl: that.bbs_share_image += '?x-oss-process=image/resize,w_120',
						success: function(res) {
							that.showShare = false
							console.log("success:" + JSON.stringify(res));
						},
						fail: function(err) {
							console.log("fail:" + JSON.stringify(err));
						}
					});
				}
				app.getShareTask('/pages/articleinfo/articleinfo')
			},
			followUser(id, type) {
				if (uni.getStorageSync('access_token')) {
					followUser({
						follow_user_id: id,
						type: type
					}).then(res => {
						if (res.state == 1) {
							this.userinfo.is_follow = type == 1 ? 1 : 0
							if (type == 1) {
								this.userinfo.fans_num++
							} else {
								this.userinfo.fans_num--
							}
							uni.setStorage({
								key: 'changeFollow',
								data: true
							})
						}
					})
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			myFollow(id, type) {
				uni.navigateTo({
					url: '/pages/otherfollow/otherfollow?id=' + id + '&type=' + type
				})
			},
			myPraise() {
				uni.showModal({
					title: this.otherinfo.username,
					content: '共获得' + this.userinfo.praise_num + '个赞',
					confirmText: "确认",
					confirmColor: '#F6AB00',
					showCancel: false,
					success: function(res) {
						if (res.confirm) {

						} else {
							console.log('用户点击取消')
						}
					}
				});
			}

		},
		onReachBottom() {
			if (this.last_page > this.current_page) {
				this.params.page++
				this.getUserList()
			}
		},
		onPullDownRefresh() {
			this.params.page = 1
			this.list = []
			this.getUserList()
			uni.stopPullDownRefresh()
		},
		//分享
		onShareAppMessage(res) {
			if (res.from === 'button') { // 来自页面内分享按钮
				this.showShare = false
			}
			return {
				title: this.bbs_title,
				path: '/pages/articleinfo/articleinfo?scene=' + this.bbs_id,
				imageUrl: this.bbs_share_image
			}
			app.getShareTask('/pages/articleinfo/articleinfo')
		}
	}
</script>

<style lang="scss">
	.other_page {
		.other_top_bkimg {
			width: 100%;
			height: 500rpx;
			position: fixed;
			top: 0;
		}

		.memberinfo {
			position: relative;
			min-height: 360rpx;
			margin: 0 30rpx;
			padding: 40rpx;
			margin-top: 18%;
			z-index: 999;
			background-color: #fff;
			border-radius: 5rpx;
			box-shadow: 1.5rpx 0 3.75rpx 0 #dedad9, 0.75rpx 5.25rpx 9.75rpx 0 #dad4d3;
		}

		.otherinfo_img {
			width: 120rpx;
			height: 120rpx;
			border-radius: 60px;
		}

		.member_approve {
			display: flex;
			align-items: center;
		}

		.motor_car {
			width: 30rpx;
			height: 30rpx;
			margin-right: 10rpx;
			vertical-align: middle;
		}

		.other_tbox {
			width: 75%;
			display: flex;
		}

		.boxi {
			width: 33.33%;
		}

		.scrollist {
			padding-bottom: 90rpx;
		}

		.dynamicbox {
			padding: 30rpx 0;
			position: relative;
			background-color: #fff;
		}

		.dynamic {
			padding: 0 30rpx;
		}

		.lefttime {
			width: 20%;
			float: left;
		}

		.years {
			color: #9a9a9a;
			font-size: 34rpx;
			font-weight: bold;
		}

		.dislinblock {
			width: 100%;
			display: inline-block;
		}

		.camerabox {
			width: 180rpx;
			height: 180rpx;
			border-radius: 3rpx;
			text-align: center;
			background-color: #f8f8f8;
			vertical-align: middle;
			display: table-cell;
		}

		.camera {
			width: 70rpx;
			height: 60rpx;
		}

		.rightbox {
			width: 80%;
			float: left;
			padding-bottom: 40rpx;
			border-bottom: 2rpx solid #eaeaea;
		}

		.lists {
			padding: 0 30rpx;
		}

		.dynamicpic {
			width: 100%;
			height: 380rpx;
			border-radius: 5rpx;
		}

		.binpic {
			width: 30rpx;
			height: 30rpx;
			vertical-align: middle;
		}

		.picicon {
			width: 32rpx;
			height: 28rpx;
			float: left;
			margin-left: 20rpx;
			margin-top: -60rpx;
			position: relative;
		}
	}
</style>
