<template>
	<view class="orderinfo_page">
		<view class="orderinfo_top_box">
			<view class="display_flex" style="justify-content: center;">
				<image
					v-if="info.status.id==1||info.status.id==2||info.status.id==3||info.status.id==5||info.status.id==6"
					class="wate_icon" src="/static/images/shop/wate.png"></image>
				<image v-if="info.status.id==8" class="notice_icon" src="/static/images/shop/notice.png"></image>
				<view class="f-17 f-w c-white" v-if="info.status.id==1">等待付款</view>
				<view class="f-17 f-w c-white" v-if="info.status.id==2">等待卖家发货</view>
				<view class="f-17 f-w c-white" v-if="info.status.id==3">已发货</view>
				<view class="f-17 f-w c-white" v-if="info.status.id==4">已完成</view>
				<view class="f-17 f-w c-white" v-if="info.status.id==5">退款中</view>
				<view class="f-17 f-w c-white" v-if="info.status.id==6">退货中</view>
				<view class="f-17 f-w c-white" v-if="info.status.id==7">已退款</view>
				<view class="f-17 f-w c-white" v-if="info.status.id==8">已取消</view>
			</view>
			<view class="display_flex f-14 c-white mt-10" style="justify-content: center;">
				<block v-if="info.status.id==1">

					<block v-if="info.activity_status==1||info.activity_status==4">
						<block v-if="info.deposit=='0.00'">需付款:￥{{info.balance}}</block>
						<block v-else>
							<block v-if="info.deposit_status==0">需付定金:￥{{info.deposit}}</block>
							<block v-else>需付款:￥{{info.balance}}</block>
						</block>
					</block>
					<block v-else>需付款:￥{{info.balance}}</block>
					<!-- <view>剩余:{{timer}}</view> -->
				</block>
				<view v-if="info.status.id==5||info.status.id==6||info.status.id==7">
					退款金额: ￥{{info.balance}}
				</view>
			</view>
			<view class="display_flex mt-10" style="justify-content: center;">
				<block v-if="info.status.id==1">
					<view class="orderinfo_topbtn" @click="payOrder()"
						v-if="info.group_status==0||info.group_status==2">立即付款</view>
					<block v-if="info.group_status==1">
						<view v-if="info.deposit_status==1" class="orderinfo_topbtn">待付尾款</view>
						<view v-if="info.deposit_status==0" class="orderinfo_topbtn" @click="payOrder()">立即付款</view>
					</block>
				</block>

				<view class="orderinfo_topbtn" @click="submitOrder()" v-if="info.status.id==3">确认收货</view>
				<block v-if="info.offline_type!=1||info.activity_status==0||info.activity_status==3">
					<view class="orderinfo_topbtn" @click="buyAgain()"
						v-if="info.status.id==4||info.status.id==7||info.status.id==8">再次购买
					</view>
				</block>
			</view>
		</view>
		<view class="top_addr_box" v-if="info">
			<image class="top_addr_img" src="/static/images/shop/location.png"></image>
			<view class="top_addr_text">
				<view class="top_addr_user">
					<span class="f-14">{{info.address.name}}</span>
					<span class="f-12 ml-5">{{info.address.mobile}}</span>
				</view>
				<view class="top_addr mt-5">{{info.address.area.province_name}} {{info.address.area.city_name}}
					{{info.address.area.area_name}}
					{{info.address.address}}
				</view>
			</view>
		</view>
		<view class="goods_box" v-if="info">
			<block v-for="item in info.corders" :key="item.goods.id">
				<view class="mb-10">
					<view class="goodsinfo_box" @click="goodsInfo(item.goods.id)">
						<image class="goodsinfo_img" mode="aspectFill"
							:src="item.goods.pic_url?item.goods.pic_url:'/static/images/default_img.png'"></image>
						<view class="goodsinfo_content">
							<view class="goodsinfo_title ellipsis-3">
								<span class="presellbadge" v-if="info.activity_status==1">预售</span>
								<span class="secondbadge" v-if="info.activity_status==2">秒杀</span>
								<span class="groupbadge" v-if="info.activity_status==4">团购</span>
								{{item.goods.name}}
							</view>
							<view v-if="item.goods.delivery_label">
								<span v-for="itemd in item.goods.delivery_label" :key="itemd"
									class="weui-badge mr-10">{{itemd.name}}</span>
							</view>
							<view class="display_flex goodsinfo_price_box">
								<view class="goodsinfo_price flex-1"
									v-if="info.activity_status==1||info.activity_status==4">
									<block v-if="info.deposit=='0.00'">
										￥<span class="f-17">{{item.product_amount_total}}</span>
									</block>
									<block v-else>
										<block v-if="info.deposit_status==1">

											<block v-if="info.status.id==1">
												尾款￥
												<span class="f-17">{{endprice}}</span>
											</block>
											<block v-else>
												￥<span class="f-17">{{info.product_amount_total}}</span>
											</block>
										</block>
										<block v-else>
											定金￥
											<span class="f-17">{{info.deposit}}</span>
										</block>
									</block>
								</view>
								<view class="goodsinfo_price flex-1" v-else-if="info.activity_status==3">
									<span class="f-17">{{info.balance/info.product_count}} 积分</span>
								</view>
								<view class="goodsinfo_price flex-1" v-else>￥
									<span class="f-17">{{item.goods.goods_price}}</span>
								</view>
								<view class="c-gray f-12">x {{item.product_count}}</view>
							</view>
						</view>
					</view>
					<view class="delivery_time" v-if="item.goods.delivery_time">发货时间 : {{item.goods.delivery_time}}
					</view>
					<view v-if="item.remark" class="display_flex f-13 mt-5" style="align-items: flex-start;">
						<view class="c-gray mr-5">订单备注:</view>
						<view class="c-black ml-5 f-w flex-1">{{item.remark}}</view>
					</view>
				</view>
			</block>
		</view>
		<view class="f-13 order_info_box pd-30">
			<view class="display_flex">
				<view class="c-gray mr-5">订单编号:</view>
				<view class="c-black ml-5 f-w">{{info.order_no}}</view>
			</view>
			<view class="display_flex mt-15">
				<view class="c-gray mr-5">下单时间:</view>
				<view class="c-black ml-5 f-w">{{info.created_at}}</view>
			</view>
			<view class="display_flex mt-15" style="align-items: flex-start;">
				<view class="c-gray mr-5">规格名称:</view>
				<view class="flex-1 ml-5">
					<span class="c-black mr-10 f-w" v-for="(item,index) in info.corders" :key="item.goods.id">
						{{item.goods.attr.name}}
					</span>
				</view>
			</view>
			<view class="display_flex mt-15">
				<view class="c-gray mr-5">支付方式:</view>
				<view class="c-black ml-5 f-w">{{info.offline_type_text}}</view>
			</view>
			<view class="display_flex mt-15" v-if="info.offline_type!=1">
				<view class="c-gray mr-5">配送方式:</view>
				<view class="c-black ml-5 f-w">{{info.distribution}}</view>
			</view>
			
		</view>
		<view class="f-13 order_info_box pd-30"
			:style="'padding-bottom:'+bottomHeight+'px;border-top:2rpx solid #eaeaea;'">
			<view class="display_flex">
				<view class="flex-1 f-w">商品总额</view>
				<view class="price" v-if="info.activity_status==1||info.activity_status==4">
					<block v-if="info.deposit=='0.00'">
						￥{{info.product_amount_total}}
					</block>
					<block v-else>
						￥
						<span v-if="info.deposit_status==1">
							<block v-if="info.status.id==1">{{endprice}}</block>
							<block v-else>{{info.product_amount_total}}</block>
						</span>
						<span v-else>{{info.deposit}}</span>
					</block>
				</view>
				<view class="price" v-else-if="info.activity_status==3">
					{{info.balance}} 积分
				</view>

				<view class="price" v-else>￥{{info.product_amount_total}}</view>
			</view>
			<view class="display_flex mt-15" v-if="info.integral_money>0">
				<view class="flex-1 f-w">积分</view>
				<view class="price">-￥{{info.integral_money}}</view>
			</view>
			<view class="display_flex mt-15">
				<view class="flex-1 f-w">运费</view>
				<view class="price">
					<block v-if="info.activity_status==1">
						<view class="price" v-if="info.deposit_status==1">￥{{info.logistics_fee}}
						</view>
						<view class="price" v-if="info.deposit_status==0">￥0</view>
					</block>
					<view class="price" v-else>￥{{info.logistics_fee}}</view>
				</view>
			</view>
			<view class="display_flex mt-15">
				<view class="flex-1"></view>
				<span class="c-black f-w" v-if="info.status.id==1||info.status.id==8">需付款：</span>
				<span class="c-black f-w" v-else>实付款：</span>
				<block v-if="info.activity_status==3">
					<span class="price">{{info.balance}} 积分</span>
				</block>
				<block v-else>
					<block v-if="info.activity_status==4">
						<block v-if="info.deposit=='0.00'">
							<span class="price">￥{{price}}</span>
						</block>
						<block v-else>
							<span v-if="info.deposit_status==1">
								<span class="price">￥{{price}}</span>
							</span>
							<span v-else class="price">￥{{info.deposit}}</span>
						</block>
					</block>
					<span v-else class="price">￥{{price}}</span>
				</block>
			</view>
		</view>
		<view class="bottom_box" :style="'padding-bottom:'+bottomBox+'px'">
			<view class="flex-1"></view>
			<view class="display_flex" style="justify-content: flex-end;">
				<block v-if="info.status.id==1">
					<block v-if="info.group_status==0">
						<view v-if="info.deposit_status==0" class="closeBtn" @click="cancelOrder()">取消订单</view>
						<view class="byuBtn ml-5" @click="payOrder()">立即付款</view>
					</block>
					<block v-if="info.group_status==1">
						<view v-if="info.deposit_status==1" class="closeBtn">待付尾款</view>
						<view v-if="info.deposit_status==0" class="closeBtn" @click="cancelOrder()">取消订单</view>
						<view v-if="info.deposit_status==0" class="byuBtn ml-5" @click="payOrder()">立即付款</view>
					</block>
					<block v-if="info.group_status==2">
						<view v-if="info.deposit=='0.00'&&info.deposit_status==0" class="closeBtn"
							@click="cancelOrder()">取消订单</view>
						<view class="byuBtn ml-5" @click="payOrder()">立即付款</view>
					</block>
				</block>
				<block v-if="info.status.id==2">
					<view class="closeBtn" v-if="info.refund_status!=2&&info.activity_status!=3" @click="refundOrder()">
						申请退款</view>
				</block>
				<block v-if="info.status.id==5">
					<view class="closeBtn" @click="refundCancel()">取消退款</view>
				</block>
				<block v-if="info.status.id==6">
					<view class="closeBtn" @click="refundCancel()">取消退款</view>
				</block>
				<block v-if="info.status.id==3">
					<view class="closeBtn" @click="showLogistics()">查看物流</view>
					<!-- <view class="closeBtn ml-5" v-if="info.refund_status!=2&&info.activity_status!=3&&info.offline_type!=1"
						@click="refundOrder()">
						申请退款</view> -->
					<view class="byuBtn ml-5" @click="submitOrder()">确认收货</view>
				</block>
				<block v-if="info.status.id==4">
					<!-- <view class="closeBtn ml-5" v-if="info.refund_status!=2&&info.activity_status!=3"
						@click="refundOrder()">
						申请退款</view> -->
					<view class="closeBtn ml-5"
						v-if="info.refund_status!=2&&info.activity_status!=3&&info.offline_type!=1&&info.is_overtime==1"
						@click="goLogistics()">
						申请退款</view>
					<block v-if="info.activity_status!=4">
						<view v-if="info.offline_type!=1||info.activity_status==0||info.activity_status==3"
							class="byuBtn ml-5" @click="buyAgain()">再次购买</view>
					</block>
				</block>
				<block v-if="info.status.id==7||info.status.id==8">
					<view class="closeBtn" @click="delOrder()">删除订单</view>
					<view v-if="info.offline_type!=1||info.activity_status==0||info.activity_status==3"
						class="byuBtn ml-5" @click="buyAgain()">再次购买</view>
				</block>
			</view>
		</view>
	</view>
</template>

<script>
	import {
		getOrderinfo,
		cancelOrder,
		goodsAddcarts,
		delOrder,
		refundOrder,
		submitOrder,
		cancelRefundOrder
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				info: '',
				bottomBox: 8,
				order_no: 0,
				timer: '00:00:00',
				bottomHeight: 70,
				price: '',
				endprice: 0
			};
		},
		onShow() {
			wx.hideShareMenu()
			if (uni.getStorageSync('onload')) {
				this.getOrderinfo()
			}
		},
		onLoad(options) {
			if (app.globalData.statusBarHeight < 30) {
				this.bottomBox = 8
				this.bottomHeight = 70
			} else {
				this.bottomBox = 30
				this.bottomHeight = 90
			}

			this.order_no = options.id
			if (uni.getStorageSync('access_token')) {
				this.getOrderinfo()
			} else {
				uni.navigateTo({
					url: '/pages/login/login'
				})
			}

		},
		methods: {
			getOrderinfo() {
				getOrderinfo(this.order_no).then(res => {
					if (res.state == 1) {
						this.info = res.data
						var info = res.data
						if (info.activity_status == 1 || info.activity_status == 4) {
							if (info.deposit == '0.00') {
								var pricedd = parseFloat(info.product_amount_total) + parseFloat(info
									.logistics_fee) - parseFloat(info.integral_money)
							} else {
								if (info.deposit_status == 1) {
									if (info.status.id == 1) {
										var pricedd = parseFloat(info.balance) - parseFloat(info.integral_money)

									} else {
										var pricedd = parseFloat(info.product_amount_total) + parseFloat(info
											.logistics_fee) - parseFloat(info.integral_money)
									}

									var endprice = parseFloat(info.balance) - parseFloat(info.logistics_fee) -
										parseFloat(info.integral_money)
									this.endprice = endprice.toFixed(2)

								} else {
									var pricedd = parseFloat(info.deposit) - parseFloat(info.integral_money)
								}
							}
						} else {
							var pricedd = parseFloat(info.balance)
						}
						this.price = pricedd.toFixed(2)
						console.log(this.price)

					}
				})
			},

			cancelOrder() {
				var that = this
				uni.showModal({
					content: '确定要取消该订单吗？',
					confirmText: "确定",
					cancelText: "暂不",
					success: function(res) {
						if (res.confirm) {
							cancelOrder(that.order_no).then(res => {
								if (res.state == 1) {
									wx.setStorage({
										key: 'onload',
										data: true,
									})
									wx.navigateBack({
										delta: 1
									})
								}
							})
						} else {}
					}
				})
			},
			payOrder() {
				uni.navigateTo({
					url: '/pages/shop/goodspay/goodspay?order_no=' + this.order_no + '&pages=2'
				})
			},
			delOrder() {
				var that = this
				uni.showModal({
					content: '确定要删除该订单吗？',
					confirmText: "确定",
					cancelText: "取消",
					success: function(res) {
						if (res.confirm) {
							delOrder(that.order_no).then(res => {
								if (res.state == 1) {
									wx.setStorage({
										key: 'onload',
										data: true,
									})
									wx.navigateBack({
										delta: 1
									})
								}
							})
						} else {}
					}
				})
			},
			submitOrder() {
				var that = this
				uni.showModal({
					content: '是否确认收货？',
					confirmText: "确定",
					cancelText: "取消",
					success: function(res) {
						if (res.confirm) {
							submitOrder(that.order_no).then(res => {
								if (res.state == 1) {
									wx.setStorage({
										key: 'onload',
										data: true,
									})
									wx.navigateBack({
										delta: 1
									})
								}
							})
						} else {}
					}
				})
			},
			refundOrder() {
				var that = this
				uni.showModal({
					content: '确定申请退款吗？',
					confirmText: "确定",
					cancelText: "取消",
					success: function(res) {
						if (res.confirm) {
							refundOrder(that.order_no, {}).then(res => {
								if (res.state == 1) {
									wx.setStorage({
										key: 'onload',
										data: true,
									})
									wx.navigateBack({
										delta: 1
									})
								}
							})
						} else {}
					}
				})
			},
			goLogistics(order_no, index, total) {
				var order_no = this.order_no
				var total = this.info.product_amount_total
				uni.navigateTo({
					url: '/pages/shop/logistics/logistics?order_no=' + order_no + '&total=' + total
				})
			},
			refundCancel() {
				var that = this
				uni.showModal({
					content: '确定取消申请退款吗？',
					confirmText: "确定",
					cancelText: "取消",
					success: function(res) {
						if (res.confirm) {
							cancelRefundOrder(that.order_no).then(res => {
								if (res.state == 1) {
									wx.setStorage({
										key: 'onload',
										data: true,
									})
									wx.navigateBack({
										delta: 1
									})
								}
							})
						} else {}
					}
				})
			},
			buyAgain() {
				var corders = this.info.corders
				if (this.info.activity_status == 3) {
					uni.navigateTo({
						url: '/pages/integral/integralinfo/integralinfo?scene=' + corders[0].goods.id
					})
				} else if (this.info.activity_status == 2 || this.info.activity_status == 4) {
					uni.navigateTo({
						url: '/pages/goodsinfo/goodsinfo?scene=' + corders[0].goods.id
					})
				} else {
					var num = 0
					for (var i = 0; i < corders.length; i++) {
						num++
						var params = {
							goods_id: corders[i].goods.id,
							goods_attr_id: corders[i].goods.attr.id,
							number: corders[i].goods.goods_number,
							is_buy_cancel: 0,
							is_buy: 1
						}
						goodsAddcarts(params).then(res => {
							if (res.state == 1) {
								if (num == corders.length) {
									uni.redirectTo({
										url: '/pages/shop/goodscarts/goodscarts'
									})
								}
							}
						})
					}
				}
			},
			showLogistics() {
				var that = this
				if (that.info.corders[0].express_no) {
					uni.showModal({
						title: '物流信息',
						content: that.info.corders[0].express_no,
						showCancel: false,
						confirmText: '复制单号',
						success: function(res) {
							if (res.confirm) {
								uni.setClipboardData({
									data: that.info.corders[0].express_no,
									success: function() {
										uni.showToast({
											title: '复制成功',
											icon: "none",
										});
									}
								});
							} else {}
						}
					})
				} else {
					uni.showToast({
						title: '暂无物流信息',
						icon: "none",
					});
				}

			},
			goodsInfo(id, tt_shop_id) {
				uni.navigateTo({
					url: '/pages/goodsinfo/goodsinfo?scene=' + id
				})
			}
		}
	}
</script>

<style lang="scss">
	.orderinfo_page {
		.orderinfo_top_box {
			padding: 80rpx;
			background-color: #F6AB00;
			text-align: center;
			margin: 0 auto;
		}

		.wate_icon {
			width: 20rpx;
			height: 26rpx;
			margin-right: 20rpx;
		}

		.notice_icon {
			width: 30rpx;
			height: 30rpx;
			margin-right: 20rpx;
		}

		.orderinfo_topbtn {
			padding: 15rpx 20rpx;
			background-color: #fff;
			text-align: center;
			font-size: 24rpx;
			width: 150rpx;
		}

		.closeBtn {
			min-width: 190rpx;
			max-height: 60rpx;
			font-size: 26rpx;
			color: #9A9A9A;
			background-color: #FFFFFF;
			border: 2rpx solid #9A9A9A;
			text-align: center;
			border-radius: 30px;
			padding: 16rpx 0;
		}

		.byuBtn {
			min-width: 190rpx;
			max-height: 60rpx;
			font-size: 26rpx;
			color: #FFFFFF;
			background-color: #E10000;
			text-align: center;
			border-radius: 30px;
			padding: 16rpx 0;
		}

		.top_addr_box {
			min-height: 100rpx;
			display: flex;
			align-items: center;
			padding: 30rpx 20rpx;
			border-bottom: 20rpx solid #F0F0F0;
			border-top: 1rpx solid #EAEAEA;

			.top_addr_img {
				width: 40rpx;
				height: 42rpx;
			}

			.top_addr_text {
				flex: 1;
				margin-left: 20rpx;

				.top_addr_user {
					font-weight: bold;
				}

				.top_addr {
					color: #3A3A3A;
					font-size: 24rpx;

				}
			}
		}

		.goods_box {
			padding: 30rpx 20rpx 0 20rpx;
			border-bottom: 20rpx solid #F0F0F0;

			.goodsinfo_box {
				display: flex;
				align-items: center;
				// padding-bottom: 30rpx;

				.goodsinfo_img {
					width: 200rpx;
					height: 200rpx;
					border-radius: 5rpx;
				}

				.goodsinfo_content {
					flex: 1;
					height: 200rpx;
					margin-left: 20rpx;
					position: relative;

					.goodsinfo_title {
						color: #3A3A3A;
						font-size: 30rpx;
						font-weight: bold;
						line-height: 16px;
					}

					.weui-badge {
						font-size: 22rpx;
						border-radius: 30px;
						background-color: #fff;
						color: #E10000;
						border: 1px solid #E10000;
						padding: 2rpx 5rpx;
					}

					.goodsinfo_price_box {
						position: absolute;
						bottom: 0;
						left: 0;
						right: 10rpx;

						.goodsinfo_price {
							color: #E10000;
							font-size: 28rpx;
							font-weight: bold;
						}
					}
				}
			}

			.delivery_time {
				color: #F6AB00;
				font-size: 24rpx;
				margin-top: 10rpx;
			}
		}
	}
</style>