<template>
	<view class="quesindex">
		<!-- #ifndef MP -->
		<!-- <uni-nav-bar :fixed="true" :statusBar="true" rightIcon="bars">
			<block slot="left">
				<view class="display_flex">
					<image class="home_logo" src="/static/images/logo.png"></image>
				</view>
			</block>
			<view class="input-view" style="flex: 1;" @click="goSearchPage">
				<uni-icons class="input-uni-icon" type="search" size="18" color="#999" />
				<input class="nav-bar-input" type="text" placeholder="输入搜索关键词" :disabled="true" />
			</view>
		</uni-nav-bar> -->
		<!-- #endif -->
		<!-- #ifdef MP -->
		<!-- <uni-nav-bar :fixed="true" :statusBar="true">
			<block slot="left">
				<view class="display_flex">
					<image class="home_logo" src="/static/images/logo.png"></image>
				</view>
			</block>
			<view class="input-view" style="width: 60%;" @click="goSearchPage">
				<uni-icons class="input-uni-icon" type="search" size="18" color="#999" />
				<input class="nav-bar-input" type="text" placeholder="输入搜索关键词" :disabled="true" />
			</view>
		</uni-nav-bar> -->
		<!-- #endif -->
		<view class="top_tiopic">
			<scroll-view class="fun-box" :scroll-x="true">
				<block v-for="(item,index) in topics" :key='item'>
					<view class="funpic-box" @click="goInfo(item.id)">
						<image :src="item.img_url" class="fanpic"></image>
						<view class="picback-top">
							<view class="ellipsis-2 toppicfont">{{item.question}}</view>
						</view>
						<view class="picback-bott">
							<view style="flex: 1;">
								<block v-if='item.reply_q_num>0'>
									<image v-if='item.answers[0].headimg_url' class="m-pic mr-10 ml-30 f-l"
										:src="item.answers[0].headimg_url"></image>
									<image v-else class="m-pic mr-10 ml-30 f-l" src="/images/default-avatar.png">
									</image>
								</block>
								<view class="f-12 bott-font ml-30">{{item.reply_q_num}}人参与讨论</view>
							</view>
							<button class="check-btn f-r f-12 mr-30">立即查看</button>
						</view>
					</view>
				</block>
			</scroll-view>
		</view>
		<view class="nav-scroll">
			<scroll-view class="scroll-view_H" scroll-x="true" :scroll-left="navScrollLeft"
				scroll-with-animation="true">
				<text v-for='(item,index) in tabs' :key="item.id" @click="handleTap(item.id,index)"
					:class="activeIndex==index ? 'nav-name f-w weui-bar_on' : 'nav-name f-w'">{{item.alias}}</text>
			</scroll-view>
			<view class="info-head f-12">
				<view class="flex-1">{{total}}个问题</view>
				<view class="display_flex" @click="showPop=true">
					<view>{{filterName}}</view>
					<uni-icons type="bottom" size="12"></uni-icons>
				</view>
				<view v-if="showPop" class="showtypepop_mask" @click="showPop=false"></view>
				<view class="showtypepop" v-if="showPop">
					<view class="pop_title" @click="checkFilter(0,'看全部')">
						<span class="mr-25">看全部</span>
						<uni-icons v-if="params.filter==0" color="#ffba00" type="checkmarkempty" size="12"></uni-icons>
					</view>
					<view class="pop_title" style="margin: 35rpx 0;" @click="checkFilter(1,'只看答案')">
						<span class="mr-15">只看答案</span>
						<uni-icons v-if="params.filter==1" color="#ffba00" type="checkmarkempty" size="12"></uni-icons>
					</view>
					<view class="pop_title" @click="checkFilter(2,'只看问题')">
						<span class="mr-15">只看问题</span>
						<uni-icons v-if="params.filter==2" color="#ffba00" type="checkmarkempty" size="12"></uni-icons>
					</view>
				</view>
			</view>
		</view>
		<view class="ques_list_box">
			<view class="ques_list_cell" v-for="(item,index) in list" :key="item.id">
				<view class="display_flex" v-if="item.answer">
					<view class="flex-1 display_flex" @click="goUserInfo(item.answer.user.id)">
						<view class="ques_user_avatar_box">
							<image class="ques_user_avatar" :src="item.answer.user.headimg_url"></image>
						</view>
						<view class="ml-15">
							<view class="f-w f-15">{{item.answer.user.user_name}}</view>
							<view class="c-gray f-12 mt-5">{{item.answer.answer_time}}</view>
						</view>
					</view>
					<view class="motor_list_user_follow" @click="followUser(item.answer.user.id,1,index)"
						v-if="item.answer.user.is_follow==0">
						<uni-icons type="plusempty" size="12" color="#F6AB00">
						</uni-icons>关注
					</view>
					<view class="motor_list_user_followd" @click="followUser(item.answer.user.id,2,index)" v-else>
						已关注
					</view>
				</view>
				<view class="question_title_box" @click="goInfo(item.id,index)">
					<image v-if="!item.answer" class="question_icon" src="/static/images/question.png"></image>
					<text class="question_title">{{item.question}}</text>
				</view>
				<view class="answer_box" v-if="item.answer">
					<view class="display_flex" style="align-items: flex-start;position: relative;">
						<view class="answer_img_box" v-if="item.answer.content.img"
							@click="goInfo(item.id,index,item.answer.id)">
							<image class="answer_img" mode="aspectFill" :src="item.answer.content.img"></image>
						</view>
						<image v-if="item.answer.content.img" class="answers_icon" style="left: 250rpx;"
							src="/static/images/answers.png"></image>
						<image v-else class="answers_icon" style="left: 0;" src="/static/images/answers.png">
						</image>
						<view v-if="item.answer.content.text" class="question_text_box ellipsis-5"
							@click="goInfo(item.id,index)">
							{{item.answer.content.text}}
						</view>
					</view>

					<view class="display_flex mt-15">
						<view class="question_labels" v-if="item.labels.length>0">{{item.labels[0].name}}</view>
						<view class="flex-1" @click="goInfo(item.id,index,item.answer.id)"></view>
						<view class="display_flex">
							<view class="display_flex" style="margin-right: 30rpx;" @click="goInfo(item.id,index)">
								<image class="comment_icon" src="/static/images/comment.png"></image>
								<span class="ml-5 c-gray">{{item.answer.reply_num}}</span>
							</view>
							<view class="display_flex" @click="quesPraise(item.answer.id,item.answer.is_praise,index)">
								<image class="comment_icon" v-if="item.answer.is_praise==1"
									src="/static/images/zan-active.png"></image>
								<image class="comment_icon" v-else src="/static/images/zan.png"></image>
								<span class="ml-5 c-gray"
									v-if="item.answer.praise_num>0">{{item.answer.praise_num}}</span>
							</view>
						</view>
					</view>
				</view>
				<view class="answer_box" v-else>
					<text @click="goInfo(item.id,index)">{{item.content}}</text>
					<view @click="goInfo(item.id,index)" class="question_img_box" v-if="item.image.length>0">
						<image class="question_img" mode="aspectFill" :src="item.image[0]"></image>
						<image class="question_badge" src="/static/images/badge.png"></image>
					</view>
					<view class="display_flex mt-15">
						<view @click="goInfo(item.id,index)" class="flex-1 display_flex">
							<view class="c-gray f-12" v-if="item.answer_num>0">{{item.answer_num}}个回答</view>
							<view class="c-gray f-12 ml-10" v-if="item.collect_num>0">{{item.collect_num}}个收藏</view>
						</view>
						<view @click="goAnswer(item.id,item.question)" class="ques_reply_btn">
							<image class="ques_reply_btn_icon" src="/../static/images/answer.png"></image>
							我要回答
						</view>
					</view>
				</view>
			</view>
		</view>
		<view class="mastbar">
			<view class="mastbar_post" @click="posted">
				<image class="release" src="/static/images/write.png"></image>
			</view>
		</view>
	</view>
</template>

<script>
	import {
		getAskTopicList,
		getAskChannelList,
		getQuesList,
		quesPraise,
		quesPraiseNo,
		followUser,
		noticeTemplate,
		getShareImg
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				topics: [],
				tabs: [{
					"id": 0,
					"alias": "推荐"
				}],
				activeIndex: 0,
				list: [],
				total: 0,
				select: false,
				params: {
					channel_id: 0,
					column_id: 0,
					type: 0,
					filter: 0,
					is_top: 1,
					page: 1,
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
				},
				filterName: '看全部',
				showPop: false,
				last_page: 1,
				current_page: 1,
				navScrollLeft: '',
				shareInfo: ''

			};
		},
		onShow() {
			if (uni.getStorageSync('onload')) {
				this.params.user_id = uni.getStorageSync('member') ? uni.getStorageSync('member').id : ''
				this.list = []
				this.params.page = 1
				this.getList()
				uni.removeStorage({
					key: 'onload'
				})
			}
			var params = {
				event_code: '问答',
				path: 'pages/question/index/index',
				user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
				source: app.globalData.source,
				invitees_scene_id: '',
				source_page: '',
				event_id: '',
				title: '',
				value: '',
			}
			app.BurialPoint(params)
		},
		onLoad() {
			this.getAskTopicList()
			this.getAskChannelList()
			this.getList()
			this.getShareImg()
		},
		methods: {
			getShareImg() {
				getShareImg({
					path: '问答'
				}).then(res => {
					if (res.state == 1) {
						this.shareInfo = res.data
					}
				})
			},
			goSearchPage() {
				// #ifdef MP
				uni.navigateTo({
					url: '/pages/wechatsearch/wechatsearch'
				})
				// #endif
				// #ifndef MP
				uni.navigateTo({
					url: '/pages/appsearch/appsearch'
				})
				// #endif
			},
			getAskTopicList() {
				getAskTopicList({
					channel_id: 1
				}).then(res => {
					if (res.state == 1) {
						this.topics = res.data
					}
				})
			},
			getAskChannelList() {
				getAskChannelList(0).then(res => {
					if (res.state == 1) {
						this.tabs = [...this.tabs, ...res.data.columns]
					}
				})
			},
			getList() {
				getQuesList(this.params).then(res => {
					if (res.state == 1) {
						this.list = [...this.list, ...res.data.data]
						this.last_page = res.data.last_page
						this.current_page = res.data.current_page
						this.total = res.data.total
					}
				})
			},
			checkFilter(filter, filterName) {
				this.filterName = filterName
				this.params.filter = filter
				this.params.page = 1
				this.list = []
				this.getList()
				this.showPop = false

			},
			goInfo(id, index) {
				if (index) {
					if (this.list[index].answer) {
						uni.navigateTo({
							url: '/pages/question/askinfo/askinfo?scene=' + this.list[index].answer.id
						})
					} else {
						uni.navigateTo({
							url: '/pages/question/quesinfo/quesinfo?scene=' + id
						})
					}
				} else {
					uni.navigateTo({
						url: '/pages/question/quesinfo/quesinfo?scene=' + id
					})
				}

				this.showPop = false
			},
			handleTap(id, index) {
				this.showPop = false
				var singleNavWidth = app.globalData.windowWidth / 5;
				var navScrollLeft = (index - 2) * singleNavWidth;
				var isTap = id == 0 ? 1 : 0
				//tab选项居中   
				this.navScrollLeft = index * singleNavWidth
				this.activeIndex = index
				this.params.type = id
				this.list = []
				this.params.page = 1
				this.params.is_top = isTap
				this.getList();
			},
			quesPraise(id, praise, index) {
				if (uni.getStorageSync('access_token')) {
					var params = {
						id: id,
						type: praise == 1 ? 2 : 1
					}
					quesPraise(params).then(res => {
						if (res.state == 1) {
							this.list[index].answer.is_praise = praise == 1 ? 0 : 1
							this.list[index].answer.praise_num = praise == 1 ? this.list[index].answer
								.praise_num -
								1 :
								this.list[index].answer.praise_num + 1
						}
					})
					if (praise == 0) {
						quesPraiseNo({
							id: id,
							type: 2
						}).then(res => {
							if (res.state == 1) {}
						})
					}

				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			followUser(id, type, index) {
				if (uni.getStorageSync('access_token')) {
					followUser({
						follow_user_id: id,
						type: type
					}).then(res => {
						if (res.state == 1) {
							this.list[index].answer.user.is_follow = type == 1 ? 1 : 0
						}
					})
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			goAnswer(id, title) {
				if (uni.getStorageSync('access_token')) {
					if (uni.getStorageSync('member').stop_status == 1) {
						uni.showModal({
							content: uni.getStorageSync('member').stop_time,
							confirmText: "确定",
							confirmColor: "#F6AB00",
							showCancel: false,
							success: function(res) {
								console.log(res);
							}
						});
					} else {
						uni.navigateTo({
							url: '/pages/question/postanswer/postanswer?id=' + id + '&title=' + title + '&type=1'
						})
					}
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			goUserInfo(id) {
				uni.navigateTo({
					url: '/pages/other/other?scene=' + id
				})
			},
			posted() {
				if (uni.getStorageSync('access_token')) {
					if (uni.getStorageSync('member').stop_status == 0) {
						// #ifdef  MP-WEIXIN
						uni.navigateTo({
							url: '/pages/question/post/post'
						})
						// uni.requestSubscribeMessage({
						// 	tmplIds: ['UXoNEgstqcHaHFtsesbbyv6WUHPjheI3nH9pMiUGS6E',
						// 		'EJH23t_jW88wn4eIhRqEc7UPO1GpALMXVFq-SxTlsaI'
						// 	],
						// 	success: function(res) {
						// 		noticeTemplate({
						// 			template_type: 1
						// 		}).then(res => {
						// 			if (res.state == 1) {
						// 				uni.navigateTo({
						// 					url: '/pages/question/post/post'
						// 				})
						// 			} else {

						// 			}
						// 		})
						// 	},
						// 	file: function(e) {
						// 		console.log(e)
						// 	}
						// })
						// #endif
						// #ifndef  MP-WEIXIN
						uni.navigateTo({
							url: '/pages/question/post/post'
						})
						// #endif
					} else {
						uni.showToast({
							title: uni.getStorageSync('member').stop_time,
							icon: 'none',
							mask: true,
							duration: 1500
						})
					}
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			}
		},
		onPageScroll() {
			this.showPop = false
		},
		onReachBottom() {
			if (this.last_page > this.current_page) {
				this.params.page++
				this.getList();
			}
		},
		onPullDownRefresh() {
			this.list = []
			this.params.page = 1
			this.getList();
			uni.stopPullDownRefresh()
		},
		onShareAppMessage() {
			app.getShareTask('/pages/question/index/index')
			return {
				title: this.shareInfo ? this.shareInfo.titie : '',
				imageUrl: this.shareInfo ? this.shareInfo.img : ''
			}
		},
		onShareTimeline: function() {
			app.getShareTask('/pages/question/index/index')
			return {
				title: this.shareInfo ? this.shareInfo.titie : '',
				imageUrl: this.shareInfo ? this.shareInfo.img : ''
			}
		},
	}
</script>

<style lang="scss">
	.quesindex {

		.top_tiopic {
			overflow-x: hidden;

			.fun-box {
				padding: 10rpx 20rpx;
				white-space: nowrap;
			}

			.funpic-box {
				width: 85%;
				margin-right: 20rpx;
				display: inline-block;
				position: relative;
			}

			.fanpic {
				width: 100%;
				height: 350rpx;
				border-radius: 10rpx;
			}

			.picback-top {
				left: 0;
				right: 0;
				height: 110rpx;
				position: absolute;
				top: 0;
				background: rgba(0, 0, 0, 0.5);
				color: #fff;
				border-top-left-radius: 10rpx;
				border-top-right-radius: 10rpx;
				white-space: normal;
			}

			.toppicfont {
				font-size: 28rpx;
				padding: 25rpx;
			}

			.picback-bott {
				height: 100rpx;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				display: flex;
				align-items: center;
				padding: 5rpx 25rpx;
			}

			.m-pic {
				width: 50rpx;
				height: 50rpx;
				border-radius: 30px;
			}

			.bott-font {
				color: #fff;
				line-height: 2;
			}

			.check-btn {
				float: right;
				line-height: 2;
				padding-left: 20rpx;
				padding-right: 20rpx;
			}
		}

		.nav-scroll {
			border-top: 1rpx solid #eaeaea;
			position: -webkit-sticky !important;
			position: sticky;
			top: 0px;
			background-color: #fff;
			z-index: 99;

			.scroll-view_H {
				white-space: nowrap;
				width: 100%;
				height: 85rpx;
				box-sizing: border-box;
				// border-bottom: 1rpx solid #eaeaea;
			}

			.nav-name {
				display: inline-block;
				font-size: 28rpx;
				padding: 20rpx 40rpx;
			}

			.weui-bar_on {
				background-color: #fff;
				color: #ffba00;
				border-bottom: 6rpx solid #ffba00;
			}
		}

		.info-head {
			background: #fff;
			padding: 30rpx 20rpx;
			color: #9a9a9a;
			display: flex;
			align-items: center;
			position: relative;
			box-shadow: 0 0 10rpx rgba(0, 0, 0, 0.1);

			.showtypepop {
				padding: 30rpx 20rpx;
				background-color: #fff;
				position: absolute;
				top: 85rpx;
				right: 25rpx;
				border-radius: 5rpx;
				box-shadow: 0 0 10rpx rgba(0, 0, 0, 0.1);
				z-index: 101;

				.pop_title {
					color: #3A3A3A;
					font-size: 25rpx;
				}
			}

			.showtypepop_mask {
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
				z-index: 100;
				height: 100vh;
			}
		}

		.mastbar {
			position: fixed;
			bottom: 200rpx;
			right: 20rpx;

			.mastbar_post {
				width: 120rpx;
				height: 120rpx;
				background: #FFBA00;
				border-radius: 100rpx;
				color: #fff;
				text-align: center;
				margin-top: 30rpx;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			.release {
				width: 40rpx;
				height: 44rpx;
			}
		}

	}
</style>
