<template>
	<web-view :src="weburl"></web-view>
</template>

<script>
	export default {
		data() {
			return {
				weburl: '',
			};
		},
		onShow() {

		},
		onLoad(options) {
			var scene = decodeURIComponent(options.scene)
			var list = scene.split('-');
			var weburl = list[0]
			var otherid = list[1]
			this.weburl = weburl + "?token=" + uni.getStorageSync('access_token') + "&source=4&userid=" + uni
				.getStorageSync('member').id

		},
		methods: {

		}
	}
</script>

<style lang="scss">

</style>
