<template>
	<view class="integral_box">
		<view class="integral_top">
			<view class="integral_num">{{integral}}</view>
			<view class="f-12 c-gray">当前积分</view>
			<view class="integral_info f-12 c-black" v-if="integral>0" @click="myintegral">积分明细</view>
		</view>
		<view class="goods_box">
			<view class="goods_cell" v-for="(item,index) in list" :key="item.id">
				<view :class="index%2==0?'goods right_border':'goods'" @click="goIntegralinfo(item.id)">
					<view>
						<image class="goods_img" mode="aspectFill" :src="item.img_url"></image>
						<view class="goods_title mt-10 ellipsis-2">{{item.name}}</view>
					</view>
					<view class="display_flex mt-10">
						<view class="goods_integral">
							<span class="f-17 f-w mr-5">{{item.price}}</span>
							积分
						</view>
						<view class="goods_convert f-r">兑换</view>
					</view>
				</view>
			</view>
			
		</view>
	</view>
</template>

<script>
	import {
		getShopList,
		getMemberInfo
	} from '@/api/motortime.js';
	export default {
		data() {
			return {
				integral: 0,
				list: [],
				params: {
					page: 1,
					is_integral: 1
				}
			};
		},
		onLoad() {
			this.getIntegralist()
		},
		onShow() {
			if(uni.getStorageSync('access_token')){
				getMemberInfo({
					source: getApp().globalData.source,
					media_id:1
				}).then(res => {
					if (res.state == 1) {
						uni.setStorage({
							key: 'member',
							data: res.data,
						});
						this.integral = res.data.integral?res.data.integral:0
					} else {
				
					}
				})
			}
			
			
		},
		methods: {
			getIntegralist() {
				getShopList(this.params).then(res => {
					if (res.state == 1) {
						this.list = [...this.list, ...res.data.data]
					}

				})
			},
			goIntegralinfo(id) {
				uni.navigateTo({
					url: '/pages/integral/integralinfo/integralinfo?scene=' + id
				})
			},
			goIntegralorder(id) {
				if (uni.getStorageSync('access_token')) {
					uni.navigateTo({
						url: '/pages/integral/integralorder/integralorder?id=' + id
					})
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}

			},
			myintegral(){
				if (uni.getStorageSync('access_token')) {
					uni.navigateTo({
						url: '/pages/myintegral/myintegral'
					})
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			}
		}
	}
</script>

<style lang="scss">
	.integral_box {
		.integral_top {
			text-align: center;
			padding: 60rpx 0;
			position: relative;

			.integral_num {
				font-weight: bold;
				font-size: 100rpx;
				color: #3A3A3A;
			}
			.integral_info{
				position: absolute;
				top: 30rpx;
				right: 30rpx
			}
		}

		.goods_box {
			margin-top: 40rpx;
			border-top: 2rpx solid #EAEAEA;

			.goods_cell {
				width: 50%;
				float: left;
				border-bottom: 2rpx solid #EAEAEA;

				.goods {
					padding: 30rpx;

					.goods_img {
						width: 320rpx;
						height: 320rpx;
					}

					.goods_title {
						color: #3A3A3A;
						font-size: 26rpx;
						font-weight: bold;
						min-height: 70rpx;
					}

					.goods_integral {
						color: #E10000;
						font-size: 24rpx;
						flex: 1;
					}

					.goods_convert {
						width: 120rpx;
						font-size: 24rpx;
						color: #FFFFFF;
						background-color: #F6AB00;
						border-radius: 60rpx;
						text-align: center;
						padding: 8rpx 0;
					}
				}
			}

			.right_border {
				border-right: 2rpx solid #EAEAEA;
			}
		}
	}
</style>
