<template>
	<view class="mysales_pages">
		<uni-nav-bar :fixed="true" :statusBar="true" :border="false" :backgroundColor="navbarback" leftIcon="back"
			@clickLeft="goBack" title="我的分销"></uni-nav-bar>
		<view class="sales_top_box">
			<image class="sales_top_img" mode="widthFix" src="/static/images/shop/salestop.png"></image>
		</view>
		<view class="sales_content">
			<view class="sales_top_tips">
				<image class="salesling" src="../../../static/images/shop/salesling.png"></image>
				{{info.announcement}}
			</view>
			<view class="f-12 mt-10" style="color: #4B4B4B;">可提现佣金</view>
			<view class="display_flex" style="justify-content: center;align-items: flex-end;">
				<image class="reb_img" style="margin-bottom: 18rpx;" src="../../../static/images/shop/rmb.png"></image>
				<view class="f-w f-30 ml-5">{{info.balance}}</view>
			</view>
			<view class="display_flex mt-10" style="justify-content: center;">
				<view class="cash_btn" @click="goCash()">提现</view>
				<view class="cash_record" @click="gocashList()">提现记录<uni-icons type="right" color="#6E6E6E"
						size="12"></uni-icons></view>
			</view>
			<view class="help_icon_box" @click="showHelp()"><uni-icons type="help" color="#ffffff"
					size="20"></uni-icons></view>
			<view class="sales_goods_list_box">
				<view class="sales_goods_list_top">
					<view class="f-12 flex-1 text-l" style="color: #8C8C8C;">带货商品列表 </view>
					<uni-icons type="more-filled" color="#8C8C8C" size="15" @click="goSalesGoods"></uni-icons>
				</view>
				<view class="c-gray text-c f-12 mt-10" v-if="showNogoods">暂无商品</view>
				<view class="sales_goods_box">
					<view style="padding: 0 15rpx;width: 100%;" class="display_flex">
						<view class="sales_goods_cell" v-for="(item,index) in goodslist" :key="item.id" v-if="index<3"
							@click="goInfo(item.id,item.goods_id)">
							<view style="padding: 0 12rpx;">
								<image mode="aspectFill" class="sales_goods_img" :src="item.cover_img"></image>
								<view class="sales_goods_name ellipsis-2">{{item.goods_name}}</view>
								<view class="sales_goods_price">
									<span>佣金</span>
									<span class="c-red">{{item.commission}}</span>
								</view>
							</view>
						</view>
					</view>
				</view>

			</view>
			<view class="sales_goods_list_box">
				<view class="sales_goods_list_top" style="border-bottom: 0rpx solid #F5F5F5;">
					<view class="f-12 flex-1 text-l" style="color: #8C8C8C;">订单明细</view>
					<uni-icons type="more-filled" color="#8C8C8C" size="15" @click="goSalesOrder"></uni-icons>
				</view>
				<view class="sales_order_tables_box">
					<uni-table ref="table" :loading="loading" border emptyText="暂无订单">
						<uni-tr>
							<uni-th width="90" align="center">时间</uni-th>
							<uni-th align="center">商品名称</uni-th>
							<uni-th width="55" align="center">金额</uni-th>
							<uni-th width="55" align="center">佣金</uni-th>
						</uni-tr>
						<uni-tr v-for="item in orderlist">
							<uni-td align="left">{{item.pay_time}}</uni-td>
							<uni-td align="left">
								<view class="uni-table-text" @click="goSalesOrder">{{item.goods_name}}</view>
							</uni-td>
							<uni-td align="center">
								<view class="uni-table-text">{{item.price}}</view>
							</uni-td>
							<uni-td align="center">
								<view class="uni-table-text">{{item.commission}}</view>
							</uni-td>
						</uni-tr>
					</uni-table>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	import {
		getSaleGoodsList,
		getSaleOrderList,
		getSalesclerkInfo
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				navbarback: 'transparent',
				goodslist: [],
				orderlist: [],
				info: '',
				showNogoods: false,
				pageLength: 0
			};
		},
		onShow() {
			uni.hideShareMenu()
			this.pageLength = getCurrentPages().length
			console.log(getCurrentPages().length)
			this.getSalesclerkInfo()
		},
		onLoad() {
			var params = {
				event_code: '我的分销',
				path: 'pages/shop/mysales/mysales',
				user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
				invitees_scene_id: '',
				source_page: '',
				event_id: '',
				title: '',
				value: '',
			}
			app.BurialPoint(params)
			this.getSaleGoodsList()
			this.getSaleOrderList()
		},
		methods: {
			getSalesclerkInfo() {
				getSalesclerkInfo({
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
				}).then(res => {
					if (res.state == 1) {
						this.info = res.data
					} else {
						this.isSubmit = true
						uni.showToast({
							title: res.error[0],
							icon: 'none'
						})
					}
				})
			},
			getSaleGoodsList() {
				getSaleGoodsList({
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : 0,
					page: 1,
					size: 3,
				}).then(res => {
					if (res.state == 1) {
						this.goodslist = res.data.data
						if (res.data.total == 0) {
							this.showNogoods = true
						}
					}
				})
			},
			getSaleOrderList() {
				getSaleOrderList({
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : 0,
					page: 1,
					size: 3,
				}).then(res => {
					if (res.state == 1) {
						this.orderlist = res.data.data
					}
				})
			},
			goInfo(id) {
				uni.navigateTo({
					url: '/pages/shop/salesshare/salesshare?id=' + id
				})
			},
			
			goBack() {
				if (this.pageLength > 1) {
					uni.navigateBack({
						delta: 1
					})
				} else {
					uni.switchTab({
						url: '/pages/my/my'
					})
				}

			},
			goSalesGoods() {
				uni.navigateTo({
					url: '/pages/shop/mysaleslist/mysaleslist'
				})
			},
			goSalesOrder() {
				uni.navigateTo({
					url: '/pages/shop/salesorder/salesorder'
				})
			},
			goCash() {
				// uni.navigateTo({
				// 	url: '/pages/shop/salescash/salescash'
				// })
				if (this.info.withdrawn_status == 0) {
					uni.showModal({
						content: this.info.withdrawn_text,
						confirmColor: '#FFBB00',
						showCancel: false
					})
				} else {
					uni.navigateTo({
						url: '/pages/shop/salescash/salescash'
					})
				}
			},
			gocashList() {
				uni.navigateTo({
					url: '/pages/shop/salescashrecord/salescashrecord'
				})
			},
			showHelp() {
				uni.navigateTo({
					url: '/pages/shop/salestext/salestext'
				})
				// uni.showModal({
				// 	content: this.info.commission_text,
				// 	confirmColor: '#FFBB00',
				// 	showCancel: false
				// })
			}
		},
		onPageScroll: function(e) { //nvue暂不支持滚动监听，可用bindingx代替
			console.log("滚动距离为：" + e.scrollTop);
			if (e.scrollTop == 0) {
				this.navbarback = 'transparent'
			} else {
				this.navbarback = '#ffffff'
			}
		},
		//       onShareAppMessage(res) {
		// 	return {

		// 	}
		// },
		// onShareTimeline: function() {
		// 	return {

		// 	}
		// },
	}
</script>

<style lang="scss">
	page {
		background-color: #F4F4F4;
	}

	.mysales_pages {

		.sales_top_box {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			z-index: 0;
			width: 100%;

			.sales_top_img {
				width: 100%;
			}
		}

		.sales_content {
			padding: 20rpx 30rpx;
			position: absolute;
			left: 0;
			right: 0;
			z-index: 1;
			text-align: center;

			.sales_top_tips {
				color: #ffffff;
				display: flex;
				align-items: center;
				font-size: 24rpx;
				border-radius: 50rpx;
				padding: 12rpx 15rpx;
				background-color: rgba(255, 248, 248, 0.2);

				.salesling {
					width: 20rpx;
					height: 25rpx;
				}
			}

			.reb_img {
				width: 22rpx;
				height: 28rpx;
			}

			.help_icon_box {
				position: absolute;
				top: 120rpx;
				right: 30rpx;
			}

			.cash_btn {
				margin-left: 23%;
				width: 150rpx;
				padding: 15rpx 0;
				font-size: 28rpx;
				color: #ffffff;
				border-radius: 10rpx;
				background-color: rgba(255, 255, 255, 0.3);
			}

			.cash_record {
				font-size: 24rpx;
				color: #6D6D6D;
				margin-left: 40rpx;
			}

			.sales_goods_list_box {
				margin-top: 20rpx;
				border-radius: 5rpx;
				background-color: #ffffff;

				.sales_goods_list_top {
					display: flex;
					align-items: center;
					padding: 15rpx 30rpx;
					border-bottom: 2rpx solid #F5F5F5;
				}

				.sales_goods_box {
					width: calc(100vw - 30px);
					display: flex;
					align-items: center;
					padding: 10rpx 0 30rpx 0;

					.sales_goods_cell {
						width: 33.3333333%;

						.sales_goods_img {
							width: 100%;
							height: 230rpx;
						}

						.sales_goods_name {
							height: 68rpx;
							padding: 0 12rpx;
							font-size: 24rpx;
							text-align: left;
						}

						.sales_goods_price {
							color: #8C8C8C;
							font-size: 24rpx;
							// margin-top: 10rpx;
						}
					}
				}
			}

			.sales_order_tables_box {
				overflow-x: hidden;

				.uni-table-scroll {
					overflow-x: hidden !important;
					border-top: 1px #ebeef5 solid !important;
					border-bottom: 1px #ebeef5 solid !important;
					border-left: 1px #ffffff solid !important;
					border-right: 1px #ffffff solid !important;
				}

				.uni-table-th {
					font-size: 24rpx !important;
					padding: 15rpx 0 !important;
				}

				.uni-table-td {
					height: 90rpx;
					font-size: 24rpx !important;
					padding: 10rpx 15rpx !important;
					line-height: 32rpx !important;
					position: relative;
					// display: flex;
					// align-items: center;
					// justify-content: center;
				}

				.uni-table-text {
					position: absolute;
					top: 10rpx;
					left: 15rpx;
					right: 15rpx;
					bottom: 10rpx;
					display: flex;
					align-items: center;
					justify-content: center;
				}

				.empty-border {
					font-size: 24rpx;
					border-right: none !important;
					margin-top: 40rpx;
				}


			}


		}
	}
</style>