<template>
	<view class="qrcode_box">
		<view class="topImg_box">
			<image class="topImg" :src="info.background_pic" @click="goTipsPost" mode='aspectFit'></image>
		</view>
		<view class="qrcode_box">
			<view class="qrcode_title" style="font-weight:bold;">{{info.ticket_text}}</view>
			<image class="qrcode_img" :src="info.ticket_pic"></image>
			<view class="f-14" style="letter-spacing:28rpx;font-weight: bold;">{{info.h_token}}</view>
		</view>
		<view class="qrcode_content_box">
			<view class="qrcode_content_title">活动说明</view>
			<image class="qrcode_content_img" src="/static/images/active/qrcode_title.png"></image>
		</view>
		<view class="qrcode_content">
			{{info.index_text}}
		</view>
		<view class="qrcode_sign_box" v-if="info.stage==1">
			<view v-for="(item,index) in list" :key="item.id" class="qrcode_sign" @click="showTipsd(item.id,index)">
				<image class="qrcode_sign_img" :src="item.clock_img1" v-if="item.clock_status==0"></image>
				<image class="qrcode_sign_img" :src="item.clock_img2" v-if="item.clock_status==1"></image>
				<image class="qrcode_sign_img" :src="item.clock_img3" v-if="item.clock_status==2"></image>
				<view :class="item.clock_status==0?'qrcode_sign_gread':'qrcode_sign_gread qclock_status_ok'">
					{{item.clock_name}}
				</view>
				<image class="grid_line" v-if="index==0||index==1" src="/static/images/active/grid_top_line.png">
				</image>
				<block v-if="listnum>6&&listnum<10">
					<image class="grid_line" v-if="index==3||index==4" src="/static/images/active/grid_center_line.png">
					</image>
				</block>
				<block v-if="listnum>9&&listnum<13">
					<image class="grid_line" v-if="index==3||index==4" src="/static/images/active/grid_center_line.png">
					</image>
					<image class="grid_line" v-if="index==6||index==7" src="/static/images/active/grid_center_line.png">
					</image>
				</block>
				<block v-if="listnum>12&&listnum<16">
					<image class="grid_line" v-if="index==3||index==4" src="/static/images/active/grid_center_line.png">
					</image>
					<image class="grid_line" v-if="index==6||index==7" src="/static/images/active/grid_center_line.png">
					</image>
					<image class="grid_line" v-if="index==9||index==10"
						src="/static/images/active/grid_center_line.png"></image>
				</block>
				<block v-if="listnum>15&&listnum<19">
					<image class="grid_line" v-if="index==3||index==4" src="/static/images/active/grid_center_line.png">
					</image>
					<image class="grid_line" v-if="index==6||index==7" src="/static/images/active/grid_center_line.png">
					</image>
					<image class="grid_line" v-if="index==9||index==10"
						src="/static/images/active/grid_center_line.png"></image>
					<image class="grid_line" v-if="index==12||index==13"
						src="/static/images/active/grid_center_line.png"></image>
				</block>
				<block v-if="listnum>18&&listnum<22">
					<image class="grid_line" v-if="index==3||index==4" src="/static/images/active/grid_center_line.png">
					</image>
					<image class="grid_line" v-if="index==6||index==7" src="/static/images/active/grid_center_line.png">
					</image>
					<image class="grid_line" v-if="index==9||index==10"
						src="/static/images/active/grid_center_line.png"></image>
					<image class="grid_line" v-if="index==12||index==13"
						src="/static/images/active/grid_center_line.png"></image>
					<image class="grid_line" v-if="index==15||index==16"
						src="/static/images/active/grid_center_line.png"></image>
				</block>
				<block v-if="listnum>21&&listnum<25">
					<image class="grid_line" v-if="index==3||index==4" src="/static/images/active/grid_center_line.png">
					</image>
					<image class="grid_line" v-if="index==6||index==7" src="/static/images/active/grid_center_line.png">
					</image>
					<image class="grid_line" v-if="index==9||index==10"
						src="/static/images/active/grid_center_line.png"></image>
					<image class="grid_line" v-if="index==12||index==13"
						src="/static/images/active/grid_center_line.png"></image>
					<image class="grid_line" v-if="index==15||index==16"
						src="/static/images/active/grid_center_line.png"></image>
					<image class="grid_line" v-if="index==18||index==19"
						src="/static/images/active/grid_center_line.png"></image>
				</block>
				<block v-if="remnum==0">
					<image class="grid_line" v-if="index==listnum-3||index==listnum-2"
						src="/static/images/active/grid_bottom_line.png">
					</image>
				</block>
				<block v-if="remnum<3">
					<image class="grid_line" v-if="index==listnum-remnum||index==listnum-remnum+1"
						src="/static/images/active/grid_bottom_line.png"></image>
				</block>
				<block v-if="remnum==3">
					<image class="grid_line" v-if="index==listnum-remnum||index==listnum-remnum-1"
						src="/static/images/active/grid_bottom_line.png"></image>
				</block>
			</view>
			<!-- clock_status  坐标打卡状态 0 未打卡 1 打卡完成 2管理员确认 -->
		</view>
		<view :class="showTips ? 'weui-demo-dialog weui-demo-dialog_show' : 'weui-demo-dialog'">
			<view class="weui-mask" @click="closeDialogd"></view>
			<view class="showtips_box">
				<view class="showtips_img" @click="goUrl">
					<block v-if="img_arr.length>1">
						<swiper style="height:100%;" class="swiper" indicator-dots="true" duration="1000"
							indicator-color="#FFFFFF" indicator-active-color="#1E2A75" circular='true'>
							<swiper-item v-for="item in img_arr" :key='item'>
								<image mode="aspectFill" class="showtips_image" :src="item"></image>
							</swiper-item>
						</swiper>
					</block>
					<image mode="aspectFill" v-else class="showtips_image" :src="img_arr[0]"></image>
				</view>
				<view class="showtips_title">
					<view class="f-13 pt-20" v-if="tipsinfo.popname" @click="goUrl">{{tipsinfo.popname}}</view>
					<view class="f-13 pt-20" v-if="tipsinfo.content" @click="goUrl">{{tipsinfo.content}}</view>
					<view style="display:flex;align-items: center;padding: 25rpx;">
						<image class="checkline" src="/static/images/active/checkline.png" @click="openMap"></image>
						<image v-if="info.stage==1&&tipsinfo.type==4&&tipsinfo.clock_status!=2" class="checktopic"
							src="/static/images/active/takephotos.png" @click="uploadImgTest"></image>
						<!-- <view class="nowSign" @click="uploadImg" v-if="{{tipsinfo.clock_status==0}}">立即签到</view> -->
					</view>
				</view>
			</view>
		</view>
		<view :class="is_popup ? 'weui-demo-dialog weui-demo-dialog_show' : 'weui-demo-dialog'">
			<view class="weui-mask" @click="closeDialog"></view>
			<view class="showModal_box">
				<view class="showModal_img_box">
					<image class="showModal" src="/static/images/active/showModal.png"></image>
					<view class="showModal_title">
						<view>您参与的活动，全部打卡完成</view>
						<view class="mt-10">可以获得主办方提供的精美礼品</view>
					</view>
					<view class="showModal_ok" @click="closeDialog">
						确定
					</view>
				</view>
			</view>
		</view>
		<view :class="uploadImgpop ? 'weui-demo-dialog weui-demo-dialog_show' : 'weui-demo-dialog'">
			<view class="weui-mask" @click="closepop"></view>
			<view class="showModal_box">
				<view class="showModal_img_box">
					<image class="showModal" src="/static/images/active/showModal.png"></image>
					<view class="showModal_title">
						<view class="pd-30">{{poptext}}</view>
					</view>
					<view class="showModal_ok" @click="closepop">
						确认
					</view>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	import {
		getActiveInfo,
		getPoplist
	} from '@/api/motortime.js';
	let app = getApp()
	var getlist
	export default {
		data() {
			return {
				list: [],
				info: {},
				tipsinfo: '',
				is_popup: false,
				uploadImgpop: false,
				showTips: false,
				listnum: 0,
				remnum: 0,
				linenum: 0
			}
		},
		onLoad(options) {
			this.hid = options.scene
			this.getPoplist()

			this.getActiveInfo()
			

		},
		onShow() {
			var that = this
			uni.getSystemInfo({
				success: function(res) {
					that.topHeight = 44 + res.statusBarHeight
				}
			});
			getlist = setInterval(() => {
				this.getPoplist()
			}, 1000 * 3);
			if (uni.getStorageSync('member').username) {
				
			} else {
				uni.navigateTo({
					url: '/pages/login/login'
				})
			}
		},
		onHide: function() {
			clearInterval(getlist)
		},
		onUnload: function() {
			clearInterval(getlist)
		},
		methods: {
			getActiveInfo() {
				var params = {
					user_id: uni.getStorageSync('member').id ? uni.getStorageSync('member').id : '',
				}
				getActiveInfo(params, this.hid).then(res => {
					if (res.state == 1) {
						this.activeinfo = res.data
						if (res.data.stage == 2) {
							clearInterval(getlist)
						}
						var params = {
							event_code: '我的凭证',
							path: 'pages/signin/qrcode/qrcode',
							user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
							source: app.globalData.source,
							event_id: res.data.id,
							title: res.data.title,
							invitees_scene_id: '',
							source_page: '',
							value: '',
						}
						app.BurialPoint(params)
					}

				})
			},
			getPoplist() {
				var params = {
					type: 2,
					user_id: uni.getStorageSync('member').id ? uni.getStorageSync('member').id : '',
				}
				getPoplist(params, this.hid).then(res => {
					if (res.state == 1) {
						var list = res.data.list
						this.list = res.data.list
						this.info = res.data.user_info
						this.listnum = list.length
						this.remnum = list.length % 3 //总数的余数，判断最后一行
						this.linenum = Math.ceil(list.length / 3) //行数
						if (!uni.getStorageSync('ticket_popup')) {

							this.is_popup = res.data.user_info.is_popup

						}
					}

				})
			},
			showTipsd(id, index) {

				var list = this.list
				this.tipsinfo = list[index]
				console.log(list[index])
				this.img_arr = list[index].img_arr
				this.showTips = true

				clearInterval(getlist)
			},
			closeDialogd() {
				this.showTips = false
			},
			openMap() {
				uni.redirectTo({
					url: '/pages/activemap/activemap?hid=' + this.hid
				})
			}
		},
		//分享
		onShareAppMessage(res) {
			if (res.from === 'button') { // 来自页面内分享按钮
				console.log('title' + this.activeinfo.title)
				this.showShare = false
		
			}
			return {
				title: this.activeinfo.title,
				path: '/pages/signin/qrcode/qrcode?scene=' + this.hid,
				imageUrl: this.activeinfo.enroll_share_pic
			}
		
		}
	}
</script>

<style lang="scss">
	.qrcode_box {
		background-color: #f1f1f1;

		.topImg_box {
			width: 100%;

			.topImg {
				width: 100%;
				height: 400rpx;
			}
		}

		.qrcode_box {
			position: relative;
			text-align: center;
			background-color: #fff;
			border-radius: 30rpx;
			margin: 0 30rpx;
			margin-top: -60rpx;
			padding: 40rpx 0;
			box-shadow: 0 3px 5px rgba(0, 0, 0, .3);

			.qrcode_title {
				font-size: 24rpx;
				text-align: center;
				font-weight: bold;
			}

			.qrcode_img {
				width: 560rpx;
				height: 140rpx;
				margin-top: 30rpx;
			}
		}

		.qrcode_content_box {
			margin-top: 60rpx;
			text-align: center;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;

			.qrcode_content_title {
				font-size: 32rpx;
				font-weight: bold;
				margin: 0 auto;
				position: absolute;
			}

			.qrcode_content_img {
				height: 1rpx;
			}
		}

		.qrcode_content {
			font-size: 12px;
			padding: 15px;
			margin-top: 15px;
		}


		.qrcode_sign_box {
			background-color: #fff;
			margin: 0 15px 25px 15px;
			border-radius: 30rpx;
			overflow: hidden;

			.qrcode_sign {
				float: left;
				width: 33.333%;
				padding: 30rpx 0;
				text-align: center;
				border-bottom: 1px solid #f1f1f1;
				position: relative;
			}

			.qrcode_sign_img {
				width: 90rpx;
				height: 90rpx;
				margin-top: 30rpx;
				margin-left: -10rpx;
			}

			.qrcode_sign_gread {
				font-size: 26rpx;
				text-align: center;
				color: #989898;
				margin-left: -10rpx;
			}

			.grid_line {
				position: absolute;
				right: 0;
				top: 0;
				bottom: 0;
				width: 10px;
				height: auto;
			}
		}



		.weui-demo-dialog {
			visibility: hidden;
			opacity: 0;
			transition: all;

			.showModal_box {
				width: 490rpx;
				height: 280rpx;
				position: fixed;
				top: 40%;
				left: 0;
				right: 0;
				z-index: 9999;
				margin: 0 auto;
				text-align: center;

				.showModal_img_box {
					position: relative;
					text-align: center;

					.showModal {
						width: 490rpx;
						height: 280rpx;
					}

					.showModal_title {
						font-size: 28rpx;
						width: 490rpx;
						position: absolute;
						top: 50rpx;
						color: #fff;
					}

					.showModal_ok {
						font-size: 28rpx;
						width: 490rpx;
						position: absolute;
						bottom: 45rpx;
						color: #fff;
					}
				}
			}

			.showtips_box {
				position: fixed;
				top: 20%;
				left: 40rpx;
				right: 40rpx;
				background-color: transparent;
				border-top-left-radius: 16rpx;
				z-index: 1002;

				.showtips_img {
					height: 480rpx;
					padding: 20rpx;
					background-color: #E7EAF9;
					border-top-left-radius: 16rpx;
					border-top-right-radius: 16rpx;
				}

				.showtips_title {
					width: 100%;
					color: #fff;
					background-color: #1E2A75;
					border-bottom-left-radius: 16rpx;
					border-bottom-right-radius: 16rpx;
				}

				.pt-20 {
					padding: 20rpx 25rpx 0 25rpx;
				}

				.checkline {
					width: 200rpx;
					height: 50rpx;
				}

				.checktopic {
					width: 200rpx;
					height: 50rpx;
					margin-left: 30rpx;
				}
			}
		}

		.weui-demo-dialog_show {
			visibility: visible;
			opacity: 1;
		}

		.weui-mask,
		.weui-mask_transparent {
			position: fixed;
			z-index: 1000;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
		}
	}
</style>
