<template>
	<view class="salescash_pages">
		<view class="salescash_input_box">
			<input placeholder="请输入金额" type="digit" />
		</view>
		<view class="salescash_input_box" @longpress="delCard(1)" style="background-color: #FFBB00;">
			<view class="display_flex">
				<view class="salescash_name">
					<span>姓</span>
					<span>名：</span>
				</view>
				<view style="color: #030303;flex: 1;">李三</view>
			</view>
			
			<view class="display_flex">
				<view class="salescash_name">
					<span>卡</span>
					<span>号：</span>
				</view>
				<view style="color: #030303;flex: 1;;">622255555555555555555555</view>
			</view>
		</view>
		
		<!-- <view class="display_flex">
			<view class="salescash_name">
				<span>银</span>
				<span>行</span>
				<span>开</span>
				<span>户</span>
				<span>行：</span>
			</view>
			<view style="color: #030303;flex: 1;">中国银行XXX支行</view>
		</view> -->
		<view class="cash_btn_box">
			<view class="cash_btn" @click="cash()">立即提现（预计XX分钟到账）</view>
		</view>
	</view>
</template>

<script>
	import {
		getList,
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {

			};
		},
		onShow() {

		},
		onLoad() {
			wx.hideShareMenu()
		},
		methods: {
			cash() {
				uni.navigateTo({
					url: '/pages/shop/salescashresult/salescashresult'
				})
			},
			delCard(id){
				console.log(id)
				var that = this
				uni.showModal({
					content: '确定要删除吗？',
					confirmText: "确定",
					cancelText: "取消",
					success: function(res) {
						if (res.confirm) {
							delOrder(order_no).then(res => {
								if (res.state == 1) {
									that.list.splice(index, 1)
									if (that.list.length == 0) {
										that.noCommentText = '暂无订单'
									}
								}
							})
						} else {}
					}
				})
				
			}
		},
		// onShareAppMessage(res) {
		// 	return {

		// 	}
		// },
		// onShareTimeline: function() {
		// 	return {

		// 	}
		// },
	}
</script>

<style lang="scss">
	.salescash_pages {
		padding: 80rpx;

		.salescash_input_box {
			font-size: 24rpx;
			padding: 20rpx 30rpx;
			margin-bottom: 30rpx;
			line-height: 45rpx;
			border-radius: 10rpx;
			background-color: #EEEDEB;
		}

		.salescash_name {
			color: #030303;
			width: 150rpx;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		.cash_btn_box {
			position: fixed;
			bottom: 10%;
			left: 0;
			right: 0;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.cash_btn {
			color: #030303;
			font-size: 28rpx;
			padding: 16rpx 30rpx;
			border-radius: 10rpx;
			margin-top: 30rpx;
			background-color: #FFBB00;
		}
	}
</style>