<template>
	<view class="search_box">
		<uni-nav-bar :fixed="true" leftIcon="back"  @clickLeft="clickLeft()" rightIcon="bars" leftWidth="120" :statusBar="true">
			<uni-search-bar v-model="params.keyword" placeholder="输入搜索关键词" bgColor="#F0F0F0" radius="60"
				@confirm="search" @cancel="clickLeft" />
		</uni-nav-bar>
		<!-- <view>
			<uni-search-bar v-model="params.keyword" placeholder="输入搜索关键词" bgColor="#F0F0F0" radius="60"
				@confirm="search" @cancel="clickLeft" />
		</view> -->
		<view v-if="!showSearchList" class="search_history">
			<block v-if="historylist.length>0">
				<view class="display_flex">
					<view class="f-13 c-black flex-1">搜索历史</view>
					<view class="f-13 c-gray" @click="cleanHistory">清空</view>
				</view>
				<view class="search_keylist mb-20">
					<view class="search_key_block" v-for="(item,index) in historylist" :key="index"
						@click="chooseChannel(0,item)">{{item}}</view>
				</view>
			</block>
			<view class="">
				<view class="f-13 c-black">频道/栏目</view>
			</view>
			<view class="search_keylist">
				<view class="search_key_block" v-for="item in clist" :key="item.id"
					@click="chooseChannel(item.id,item.title)">{{item.title}}</view>
			</view>
		</view>
		<view v-if="showSearchList" class="motor_list" v-for="(item,index) in list" :key="item.id">
			<block v-if="item.topic_info.id">
				<view class="motor_list_topic" @click="goTopic(item.topic_info.id,item.topic_info.name)">
					<image class="motor_list_left_img" :src="item.topic_info.pic_url" mode="aspectFill"></image>
					<view class="motor_list_topicinfo">#{{item.topic_info.name}}#</view>
				</view>
			</block>
			<block v-else>
				<block v-if="item.module.id==1">
					<view class="motor_list_content" @click="goInfo(item.id,item.link_url,item.title)">
						<image class="motor_list_img mr-15" :src="item.pic_url" mode="aspectFill"></image>
						<view class="motor_list_title ellipsis-4">{{item.title}}
							<span class="ml-10 motor_badge" v-if="item.label">{{item.label.name}}</span>
						</view>
					</view>
					<view class="motor_list_intor">
						<view class="motor_list_time" v-if="item.media">{{item.media.name}} {{item.time_format}}</view>
						<view class="motor_praise_comm">
							<image class="motor_comm_img" src="../../static/images/comment.png"></image>
							{{item.reply_num}}
						</view>
						<view class="motor_praise_comm" @click="praise(item.id,item.is_praise,index,item.module.id)">
							<image class="motor_praise_img"
								:src="item.is_praise==1?'../../static/images/zan-active.png':'../../static/images/zan.png'">
							</image>
							{{item.praise}}
						</view>
					</view>
				</block>
				<block v-if="item.module.id==2">
					<view class="motor_list_title ellipsis-3" @click="goimgInfo(item.id,item.link_url,item.title)">
						{{item.title}}
						<span class="ml-10 motor_badge" v-if="item.label">{{item.label.name}}</span>
					</view>
					<view class="motor_list_imgroup" @click="goimgInfo(item.id,item.link_url)">
						<view class="motor_list_imgroup_left">
							<image class="motor_list_left_img" :src="item.all_pics[0]" mode="aspectFill"></image>
						</view>
						<view class="motor_list_imgroup_right">
							<image class="motor_list_right_img" :src="item.all_pics[1]" mode="aspectFill"></image>
							<image class="motor_list_right_img" style="margin-top: 12rpx;" :src="item.all_pics[2]"
								mode="aspectFill"></image>
						</view>
					</view>
					<view class="motor_list_intor">
						<view class="motor_list_time" v-if="item.media">{{item.media.name}} {{item.time_format}}</view>
						<view class="motor_praise_comm">
							<image class="motor_comm_img" src="../../static/images/comment.png"></image>
							{{item.reply_num}}
						</view>
						<view class="motor_praise_comm" @click="praise(item.id,item.is_praise,index,item.module.id)">
							<image class="motor_praise_img"
								:src="item.is_praise==1?'../../static/images/zan-active.png':'../../static/images/zan.png'">
							</image>
							{{item.praise}}
						</view>
					</view>
				</block>
				<block v-if="item.module.id==4">
					<view class="motor_list_user mb-15">
						<view class="avatarbox">
							<image class="motor_list_user_img" v-if="item.user"
								:src="item.user.headimg_url?item.user.headimg_url:'../../static/images/default-avatar.png'"
								mode="aspectFill"></image>
							<image class="avatarborder" v-if="item.user.auth.gif" :src="item.user.auth.gif"></image>

						</view>

						<view class="motor_list_user_info">
							<view class="motor_list_user_name" v-if="item.user">{{item.user.user_name}}</view>
							<view class="motor_list_user_time mt-5">
								<span class="mr-15">{{item.time_format}}</span>
								浏览{{item.show_num}}
							</view>
						</view>
						<!-- <view class="motor_list_user_follow">
						<uni-icons type="plusempty" size="12" color="#F6AB00"></uni-icons>关注
					</view> -->
					</view>
					<view @click="goBbsInfo(item.id,item.title)">
						<view class="motor_list_title ellipsis-3">{{item.title}}</view>
						<view class="motor_list_info mt-15">{{item.content}}</view>
					</view>
					<view class="motor_list_bigimg mt-15" v-if="item.cover||item.image.length>0"
						@click="previewImg(item.cover,item.image[0],item.image)">
						<image class="motor_list_left_img" :src="item.cover==''?item.image[0]:item.cover"
							mode="aspectFill">
						</image>
						<view v-if="item.image.length>1" class="piclength">
							{{item.cover?item.image.length+1:item.image.length}}P
						</view>
					</view>
					<view class="motor_list_intor">
						<view class="motor_list_time">
							<span class="motor_list_badge" v-if="item.channel">{{item.channel.alias}}</span>
						</view>
						<view class="motor_praise_comm">
							<image class="motor_comm_img" src="../../static/images/comment.png"></image>
							{{item.comment_num}}
						</view>
						<view class="motor_praise_comm" @click="praise(item.id,item.is_praise,index,item.module.id)">
							<image class="motor_praise_img"
								:src="item.is_praise==1?'../../static/images/zan-active.png':'../../static/images/zan.png'">
							</image>
							{{item.praise_num}}
						</view>
					</view>
				</block>
			</block>
		</view>
		<view class="no_comments">
			<image v-if="noCommentText=='加载中...'" class="loading_gift" src="../../static/images/gif.gif"></image>
			<view class="mt-5">{{noCommentText}}</view>
		</view>
	</view>
</template>

<script>
	import {
		getChannelList,
		getHomeList,
		bbsPraise,
		articlePraise
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				params: {
					keyword: '',
					channel_id: '',
					page: 1,
					user_id: ''
				},
				list: [],
				clist: [],
				historylist: [],
				showSearchList: false
			};
		},
		onShow() {
			var historytext = uni.getStorageSync('historytext')
			if (historytext) {
				this.historylist = historytext.split(",")
			}


		},
		onLoad() {
			this.getChannelList()
		},
		methods: {
			getChannelList() {
				getChannelList({
					search: 0
				}).then(res => {
					if (res.state == 1) {
						this.clist = res.data
					}

				})
			},
			search(e) {
				if (e.value) {
					this.params.keyword = e.value
					var list = this.historylist
					if (list.length > 0) {
						if (list.indexOf(e.value) > -1) {
							var num = list.indexOf(e.value)
							list.splice(num, 1)
						}
						var historyText = e.value + ',' + list.toString()
						this.historylist = historyText.split(",")
					} else {
						var historyText = e.value
						this.historylist = historyText.split(",")
					}
					uni.setStorage({
						key: 'historytext',
						data: historyText
					})
					this.getHomeList()
					this.showSearchList = true
				}
			},
			cleanHistory() {
				var that = this
				uni.showModal({
					content: '确认删除所有搜索历史',
					confirmText: '确认',
					success: function(res) {
						if (res.confirm) {
							uni.removeStorage({
								key: 'historytext'
							})
							that.historylist = []
						} else if (res.cancel) {
							console.log('用户点击取消');
						}
					}
				});

			},
			chooseChannel(id, title) {
				this.params.channel_id = id
				this.params.keyword = title
				var list = this.historylist
				if (list.length > 0) {
					if (list.indexOf(title) > -1) {
						var num = list.indexOf(title)
						list.splice(num, 1)
					}
					var historyText = title + ',' + list.toString()
					this.historylist = historyText.split(",")
				} else {
					var historyText = title
					this.historylist = historyText.split(",")
				}
				uni.setStorage({
					key: 'historytext',
					data: historyText
				})
				this.getHomeList()
				this.showSearchList = true
			},
			clickLeft() {
				this.showSearchList=false
				uni.navigateBack({
					delta: 1
				})
				
			},
			getHomeList() {
				getHomeList(this.params).then(res => {
					if (res.state == 1) {
						this.list.push.apply(this.list, res.data)
					}

				})
			},
			goInfo(id, link_url, title) {
				if (link_url) {
					uni.navigateTo({
						url: link_url
					})
				} else {
					uni.navigateTo({
						url: '/pages/article/article?scene=' + id
					})
				}
				var params = {
					event_code: '首页',
					event_id: id,
					title: title,
					value: '',
					path: 'pages/index/index',
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
					source: 4,
					source_page: '首页-资讯详情'
				}
				app.BurialPoint(params)
			},
			goimgInfo(id, link_url, title) {
				if (link_url) {
					uni.navigateTo({
						url: link_url
					})
				} else {
					uni.navigateTo({
						url: '/pages/articleimg/articleimg?scene=' + id
					})
				}
				var params = {
					event_code: '首页',
					event_id: id,
					title: title,
					value: '',
					path: 'pages/index/index',
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
					source: 4,
					source_page: '首页-图集详情'
				}
				app.BurialPoint(params)

			},
			goBbsInfo(id, title) {
				uni.navigateTo({
					url: '/pages/articleinfo/articleinfo?scene=' + id
				})
				var params = {
					event_code: '首页',
					event_id: id,
					title: title,
					value: '',
					path: 'pages/index/index',
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
					source: 4,
					source_page: '首页-帖子详情'
				}
				app.BurialPoint(params)
			},
			goTopic(id, title) {
				uni.navigateTo({
					url: '/pages/topicinfo/topicinfo?scene=' + id
				})
				var params = {
					event_code: '首页',
					event_id: id,
					title: title,
					value: '',
					path: 'pages/index/index',
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
					source: 4,
					source_page: '首页-话题详情'
				}
				app.BurialPoint(params)
			},
			praise(id, type, index, module) {
				if (uni.getStorageSync('access_token')) {
					var params = {
						id: id,
						type: type == 1 ? 2 : 1
					}
					if (module == 4) {
						bbsPraise(params).then(res => {
							if (res.state == 1) {
								this.list[index].is_praise = type == 1 ? 0 : 1
								if (type == 0) {
									this.list[index].praise_num++
								} else {
									this.list[index].praise_num--
								}
							}

						})
					} else {
						articlePraise(params).then(res => {
							if (res.state == 1) {
								this.list[index].is_praise = type == 1 ? 0 : 1
								if (type == 0) {
									this.list[index].praise++
								} else {
									this.list[index].praise--
								}
							}

						})
					}
					if (type == 1) {
						var source_page = '取消赞'
					} else {
						var source_page = '点赞'
					}
					var params = {
						event_code: '首页',
						path: 'pages/index/index',
						user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
						source: app.globalData.source,
						invitees_scene_id: '',
						source_page: source_page,
						event_id: id,
						title: this.list[index].title,
						value: '',
					}
					app.BurialPoint(params)
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}

			},
			previewImg(cover, img, image) {
				uni.previewImage({
					current: cover ? cover : img, // 当前显示图片的http链接
					urls: image // 需要预览的图片http链接列表
				})
			},
		},
		onPullDownRefresh() {
			this.list = []
			this.params.page = 1
			this.getHomeList()
			setTimeout(function() {
				uni.stopPullDownRefresh();
			}, 1000);
		},
		onReachBottom() {
			this.params.page = this.params.page + 1
			this.getHomeList()
		},
	}
</script>

<style lang="scss">
	.search_box {
		.uni-searchbar {
			width: 100%;
		}

		.search_history {
			padding: 20rpx;
		}

		.uni-searchbar__text-placeholder {
			font-size: 24rpx !important;
			color: #9A9A9A !important;
		}

		.uni-searchbar__box-search-input {
			font-size: 24rpx !important;
			// color: #9A9A9A !important;
		}

		.search_keylist {
			margin-top: 20rpx;
			display: inline-block;
		}

		.search_key_block {
			float: left;
			margin: 15rpx 8rpx;
			color: #3A3A3A;
			font-size: 26rpx;
			padding: 20rpx;
			min-width: 180rpx;
			text-align: center;
			background-color: #F0F0F0;
			border-radius: 5rpx;
		}

		.motor_list {
			padding: 15px 10px;
			border-bottom: 1px solid #EAEAEA;
		}

		.motor_list_content {
			display: flex;
			align-items: auto;
		}

		.motor_list_img {
			width: 115px;
			height: 100px;
			border-radius: 3px;
		}

		.motor_list_title {
			flex: 1;
			color: #3A3A3A;
			font-size: 15px;
			font-weight: bold;
			line-height: 25px;
		}

		.motor_list_info {
			color: #3A3A3A;
			font-size: 14px;
		}

		.motor_badge {
			color: #FF0000;
			font-size: 10px;
			border: 1px solid #FF0000;
			border-radius: 2px;
			padding: 0 5px;
			white-space: nowrap;
		}

		.motor_list_intor {
			color: #9A9A9A;
			font-size: 12px;
			display: flex;
			align-items: center;
			margin-top: 15px;
		}

		.motor_list_time {
			flex: 1;
		}

		.motor_list_badge {
			color: #FFF;
			font-size: 8px;
			border: 1px solid #F6AB00;
			background-color: #F6AB00;
			border-radius: 20px;
			padding: 3px 5px;
		}

		.motor_praise_comm {
			display: flex;
			align-items: center;
			margin-left: 28px;
		}

		.motor_comm_img {
			width: 30rpx;
			height: 27rpx;
			margin-right: 10px;
		}

		.motor_praise_img {
			width: 30rpx;
			height: 28rpx;
			margin-right: 10px;
		}

		.motor_list_imgroup {
			height: 420rpx;
			display: flex;
			margin-top: 30rpx;
		}

		.motor_list_imgroup_left {
			float: left;
			width: 67%;
		}

		.motor_list_imgroup_right {
			float: right;
			width: 33%;
			padding: 0 0 0 12rpx;
			line-height: 0;
		}

		.motor_list_left_img {
			width: 100%;
			height: 100%;
			border-radius: 3px;
		}

		.piclength {
			width: 60rpx;
			/* height: 30rpx; */
			float: right;
			margin-right: 20rpx;
			margin-top: -50rpx;
			position: relative;
			font-size: 20rpx;
			color: #fff;
			background-color: #000000;
			opacity: 0.5;
			text-align: center;
		}

		.motor_list_right_img {
			width: 100%;
			height: 204rpx;
			border-radius: 3px;
		}

		.mb-3 {
			margin-bottom: 6rpx;
		}

		.mt-3 {
			margin-top: 6rpx;
		}

		.motor_list_user {
			display: flex;
			align-items: center;

			.avatarbox {
				position: relative;
				width: 45px;
				height: 45px;
				margin-right: 15px;

				.motor_list_user_img {
					width: 45px;
					height: 45px;
					border-radius: 30px;
				}

				.avatarborder {
					width: 45px;
					height: 45px;
					position: absolute;
					right: 0;
				}
			}


			.motor_list_user_info {
				flex: 1;

				.motor_list_user_name {
					color: #3A3A3A;
					font-size: 15px;
					font-weight: bold;
				}

				.motor_list_user_time {
					color: #9A9A9A;
					font-size: 12px;
				}
			}

			.motor_list_user_follow {
				color: #F6AB00;
				font-size: 12px;
				border: 1px solid #F6AB00;
				border-radius: 20px;
				padding: 5px 15px;
			}
		}

		.motor_list_bigimg {
			width: 100%;
			height: 420rpx;
		}

		.motor_list_topic {
			position: relative;
			width: 100%;
			height: 210px;

			.motor_list_topicinfo {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				color: #000;
				background-color: #fff;
				opacity: 0.7;
				padding: 2rpx 10rpx;
				font-weight: bold;
			}
		}
	}
</style>
