<template>
	<view class="articleinfo_box" :style="'padding-bottom:'+bottomHeight+'px'">
		<view class="video_box" v-if="info.videourl">
			<video id="myVideo" class="video" :src="info.videourl" controls :poster="info.pic_url" object-fit='cover'
				@play="playVideo" @pause="pauseVideo"></video>
			<!-- <view v-if="isSpeed" class="multiple" @click="changeSpeed">倍速X{{speedNum}}</view> -->
		</view>
		<view class="articleinfo">
			<view class="article_title">{{info.title}}</view>
			<view class="article_time">
				<span class="mr-10" v-if="info.media">{{info.media.name}} </span>
				<block v-if="info.time_format">{{info.time_format}}</block>
			</view>
			<view class="article_content" v-if="content">
				<rich-text :nodes="content"></rich-text>
			</view>
			<view class="copyright">版权声明：文章仅代表作者个人观点，不代表汽车时间立场。未经作者许可，请勿转载。</view>
			
			<view class="bottom_box" :style="'padding-bottom:'+bottomBox+'px'">
				<view class="fake_input">发表评论...</view>
				<view class="bottom_info ml-20">
					<image class="bottom_img mr-5" src="../../static/images/comment.png"></image>
					{{info.reply_num>0?info.reply_num:''}}
				</view>
				<view class="bottom_info ml-20">
					<image class="bottom_img"
						:src="info.is_collect==1?'../../static/images/collect_active.png':'../../static/images/collect.png'">
					</image>
				</view>
				<!-- #ifdef MP-TOUTIAO|| MP-BAIDU||MP-ALIPAY||MP-QQ||MP-360 -->
				<button class="bottom_info ml-20" open-type="share">
					<image class="bottom_img" src="../../static/images/shared.png"></image>
				</button>
				<!-- #endif -->
				<!-- #ifdef MP-WEIXIN||APP-PLUS -->
				<view class="bottom_info ml-20" @click="showShare=true">
					<image class="bottom_img" src="../../static/images/shared.png"></image>
				</view>
				<!-- #endif -->
			</view>
		</view>
		<view class="recommend_box mt-20" v-if="recommendlist.length>0">
			<view class="article_info_title">为您推荐</view>
			<view v-for="item in recommendlist" :key="item" class="recommend_list" @click="goInfo(item.id)">
				<image class="recommend_img mr-15" mode="aspectFill" :src="item.pic_url"></image>
				<view class="recommend_title">{{item.title}}
					<span class="ml-10 motor_badge" v-if="item.label">{{item.label.name}}</span>
				</view>
			</view>
		</view>
		<view class="recommend_box mt-20" v-if="tripartite_info.length>0">
			<view class="article_info_title">当前文章第三方平台数据
				<span class="three_dba">（每24小时更新一次）</span>
			</view>
			<view class="three_dba_box">
				<view class="three_dba_item mb-15" v-for="(item,index) in tripartite_info" :key="index">
					<image class="three_dba_img" :src="item.logo"></image>
					<view class="three_dba_info ml-5">
						<view class="three_dba_name">{{item.title}}</view>
						<view class="three_dba_read mt-5" v-if="item.read_num!=0">{{item.read_num}}人阅读</view>
						<view class="three_dba_read mt-5" v-if="item.read_num==0&&item.comment_num!=0">
							{{item.comment_num}}人评论
						</view>
					</view>
				</view>
			</view>
		</view>
		<view class="mt-20 recommend_box" style="padding: 0;" v-if="voteinfo.id">
			<view class="article_info_title ml-15">互动投票</view>
			<view class="vote_box">
				<view class="vote_title">{{voteinfo.title}}</view>
				<view class="vote_num_time">参与人数:{{voteinfo.num}} | 截止日期:{{voteinfo.end_time}}</view>
				<view class="vote_btn_box" v-if="selected">
					<view class="vote_result">
						<view class="vote_result_left"
							:style="'width:'+voteinfo.tips1.percentage+'%;min-width:'+tips1width+'px;'"
							v-if="voteinfo.tips1.name">
							<view class="vote_result_title text-l ellipsis"><span class="vote_choose"
									v-if="voteinfo.tips1.id==voteinfo.is_user_tips">(已选)</span>{{voteinfo.tips1.name}}
							</view>
							<view class="vote_result_progress btn-red">{{voteinfo.tips1.percentage}}%</view>
						</view>
						<view class="vote_result_center"
							:style="'width:'+voteinfo.tips2.percentage+'%;min-width:'+tips2width+'px;'"
							v-if="voteinfo.tips2.name">
							<view
								:class="voteinfo.tips3.name?'text-c vote_result_title ellipsis':'text-r vote_result_title ellipsis'">
								<span class="vote_choose"
									v-if="voteinfo.tips2.id==voteinfo.is_user_tips">(已选)</span>{{voteinfo.tips2.name}}
							</view>
							<view class="vote_result_progress btn-blue">{{voteinfo.tips2.percentage}}%</view>
						</view>
						<view class="vote_result_right"
							:style="'width:'+voteinfo.tips3.percentage+'%;min-width:'+tips3width+'px;'"
							v-if="voteinfo.tips3.name">
							<view class="vote_result_title text-r ellipsis"><span class="vote_choose"
									v-if="voteinfo.tips3.id==voteinfo.is_user_tips">(已选)</span>{{voteinfo.tips3.name}}
							</view>
							<view class="vote_result_progress btn-yellow">{{voteinfo.tips3.percentage}}%</view>
						</view>
					</view>
				</view>
				<view class="vote_btn_box" v-else>
					<view class="vote_btn btn-red" :data-code="voteinfo.tips1.id" :data-name="voteinfo.tips1.name"
						@click="voteBtn">{{voteinfo.tips1.name}}</view>
					<image class="vote_versus" v-if="!voteinfo.tips3.name" src="/static/images/versus.png"></image>
					<view class="vote_btn btn-blue" :data-code="voteinfo.tips2.id" :data-name="voteinfo.tips2.name"
						@click="voteBtn">{{voteinfo.tips2.name}}</view>
					<view class="vote_btn btn-yellow" v-if="voteinfo.tips3.name" :data-name="voteinfo.tips3.name"
						:data-code="voteinfo.tips3.id" @click="voteBtn">
						{{voteinfo.tips3.name}}
					</view>
				</view>
			</view>
		</view>
		<view class="bot-10 pd-30" v-if="info.switch==1">
			<image class="joinpic" src="../../static/images/live/join.png" @click="goGroupWechat"></image>
		</view>
		<view class="commentlist_box">
			<view class="article_info_title">
				全部评论
				<!-- <span class="comment_type">按时间</span> -->
			</view>
			<view class="commentlist_cell" v-for="(item,index) in commentlist" :key="index">
				<view class="comment_member_box mb-10">
					<image class="comment_member_img"
						:src="item.user.headimg_url?item.user.headimg_url:'../../static/images/default-avatar.png'">
					</image>
					<view class="comment_member_name ml-15">{{item.user.user_name}}
						<span class="comment_member_userform" v-if="item.user.form">[{{item.user.form}}</span>
					</view>
					<view class="comment_praise">
						<image class="comment_praise_img mr-10"
							:src="item.is_praise==1?'../../static/images/zan-active.png':'../../static/images/zan.png'">
						</image>
						{{item.praise_num>0?item.praise_num:''}}
					</view>
				</view>
				<view class="comment_content mb-15 ml-45">
					{{item.content}}
				</view>
				<view class="auditbox mb-15 ml-45" v-if="item.is_audit==0">{{audit_text}}</view>
				<view class="comment_action ml-45">
					<view class="comment_time">{{item.create_time}} ·
						<span v-if="item.is_audit==1" class="comment_reply_num ml-5"> 回复
							<span v-if="item.reply_num>0">({{item.reply_num}})</span>
						</span>
						<span v-else class="comment_reply_num ml-5"> 回复 <span
								v-if="item.reply_num>0">({{item.reply_num}})</span>
						</span>
					</view>
					<view class="comment_report" v-if="item.user.id==user_id">删除</view>
					<!-- <view class="comment_report" v-else>举报</view> -->

				</view>
				<view class="comment_reply_box ml-45 mt-15" v-if="item.replys">
					<block v-for="(itemr,indexr) in item.replys" :key="indexr" v-if="indexr<3">
						<view class="comment_reply_cell mb-10">
							<span class="comment_reply_username mr-5">{{itemr.user.user_name}}</span>
							回复
							<span class="comment_reply_username ml-5 mr-5">@{{itemr.reuser.user_name}} :</span>
							{{itemr.content}}
						</view>
						<view class="auditbox mb-10" v-if="itemr.is_audit==0">{{audit_text}}</view>
					</block>
					<view class="comment_reply_username" v-if="item.replys.length>3">共{{item.replys.length}}条回复 >
					</view>
				</view>
			</view>
			<view class="no_comments">
				<image v-if="noCommentText=='加载中...'" class="loading_gift" src="../../static/images/gif.gif"></image>
				<view class="mt-5">{{noCommentText}}</view>
			</view>
		</view>


		<block v-if="showShare">
			<view class="share_box" :style="'padding-bottom:'+bottomBox+'px'">
				<view class="display_flex" style="justify-content: center;">
					<view style="width: 100px;height: 1px;background: #eaeaea;"></view>
					<view class="c-black f-10 ml-5 mr-5">分享</view>
					<view style="width: 100px;height: 1px;background: #eaeaea;"></view>
				</view>
				<!-- #ifdef MP -->
				<view class="display_flex mt-20">
					<button class="share_cell" open-type="share">
						<image class="share_img" src="../../static/images/wecheck.png"></image>
						<view>微信好友</view>
					</button>
					<view class="share_cell" @click="getPoster">
						<image class="share_img" src="../../static/images/friend.png"></image>
						<view>朋友圈</view>
					</view>
				</view>
				<!-- #endif -->
				<!-- #ifdef APP-PLUS -->
				<view class="display_flex mt-20">
					<view class="share_cell" @click="shareApp('WXSceneSession')">
						<image class="share_img" src="../../static/images/wecheck.png"></image>
						<view>微信好友</view>
					</view>
					<view class="share_cell" @click="shareApp('WXSenceTimeline')">
						<image class="share_img" src="../../static/images/friend.png"></image>
						<view>朋友圈</view>
					</view>
				</view>
				<!-- #endif -->
				<view class="mt-20 f-12"
					style="border-top: 1rpx solid #eaeaea;padding-top: 30rpx;padding-bottom: 10rpx;"
					@click="showShare=false">取消
				</view>
			</view>
			<view class="wask_box" @click="showShare=false"></view>
		</block>
		<block v-if="showShareUrl">
			<view class="share_url_box">
				<image class="share_url" :src="share_url" mode="widthFix"></image>
				<view class="shareBtn" @click="showShareUrl=false">我知道了</view>
			</view>
			<view class="wask_box" @click="showShareUrl=false"></view>
		</block>
	</view>
</template>

<script>
	import {
		getArticleInfo,
		getRecommends,
		getCommentlist,
		articlePraise,
		articlenoPraise,
		articleCollect,
		articleCommPraise,
		articleCommDel,
		articlePoster,
		voteChoose,
		voteInfo
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				id: '',
				params: {
					user_id: ''
				},
				paramsc: {
					page: 1,
					size: 10,
					user_id: '',
					order: 1,
					source: app.globalData.source
				},
				user_id: 0,
				info: '',
				content: '',
				bottomHeight: uni.getSystemInfoSync().safeAreaInsets.bottom + 60,
				bottomBox: uni.getSystemInfoSync().safeAreaInsets.bottom > 0 ? uni.getSystemInfoSync().safeAreaInsets
					.bottom : 8,
				recommendlist: [],
				tripartite_info: [],
				commentlist: [],
				total: 0,
				noCommentText: '加载中...',
				scrollTop: 0,
				showShare: false,
				showShareUrl: false,
				share_url: '',
				voteinfo: '',
				selected: false,
				audit_text: uni.getStorageSync('member') ? uni.getStorageSync('member').audit_text :
					'评论内容人工审核中，审核时间预估3-15分钟。',
				speedNum: 1,
				isSpeed: false,
				tips1width: 0,
				tips2width: 0,
				tips3width: 0,
			}
		},
		onReady() {
			this.videoContext = uni.createVideoContext('myVideo')
		},
		onLoad(options) {
			this.user_id = uni.getStorageSync('member') ? uni.getStorageSync('member').id : ''
			var scene = decodeURIComponent(options.scene);
			var list = scene.split('-');
			this.id = list[0]
			// this.getArticleInfo()
			this.getRecommends()
			this.getCommentlist()
		},
		onShow() {
			this.audit_text = uni.getStorageSync('member') ? uni.getStorageSync('member').audit_text :
				'评论内容人工审核中，审核时间预估3-15分钟。'
			this.user_id = uni.getStorageSync('member') ? uni.getStorageSync('member').id : ''
			uni.showLoading({
				title: '加载中'
			})
			this.getArticleInfo();
			if (uni.getStorageSync('onload')) {
				this.noCommentText = ""
				this.paramsc.page = 1
				this.getCommentlist()
				uni.removeStorage({
					key: 'onload'
				})
			}
			if (uni.getStorageSync('comment')) {
				uni.createSelectorQuery().select('.commentlist_box').boundingClientRect(res => {
					var top = res.top
					var that = this
					if (that.scrollTop > 0) {
						uni.pageScrollTo({
							scrollTop: that.scrollTop + top,
							duration: 300
						})
					} else {
						uni.pageScrollTo({
							scrollTop: top,
							duration: 300
						})
					}
				}).exec()
				this.noCommentText = ""
				this.paramsc.page = 1
				this.getCommentlist()
				uni.removeStorage({
					key: 'comment',
				})
			}
		},
		//滑动距离
		onPageScroll: function(e) {
			this.scrollTop = e.scrollTop
		},

		methods: {
			//详情
			getArticleInfo() {
				this.params.user_id = uni.getStorageSync('member') ? uni.getStorageSync('member').id : ''
				getArticleInfo(this.params, this.id).then(res => {
					uni.hideLoading()
					if (res.state == 1) {
						this.tripartite_info = res.data.tripartite_info
						var info = res.data
						var html = info.content
						var newContent = html.replace(/<img[^>]*>/gi, function(match, capture) {
							match = match.replace(/style="[^"]+"/gi, '').replace(/style='[^']+'/gi, '');
							match = match.replace(/width="[^"]+"/gi, '').replace(/width='[^']+'/gi, '');
							match = match.replace(/height="[^"]+"/gi, '').replace(/height='[^']+'/gi, '');
							return match;
						});
						newContent = newContent.replace(/style="[^"]+"/gi, function(match, capture) {
							match = match.replace(/width:[^;]+;/gi, 'max-width:100%;').replace(
								/width:[^;]+;/gi, 'max-width:100%;');
							return match;
						});
						newContent = newContent.replace(/<br[^>]*\/>/gi, '');
						newContent = newContent.replace(/\<img/gi,
							'<img style="max-width:100%;height:auto;display:block;margin:10px 0;"');
						this.content = newContent
						this.info = info
						this.voteinfo = info.vote_info
						if (info.vote_info.id) {
							this.selected = res.data.vote_info.is_user_vote
							var oDate1 = new Date();
							var oDate2 = new Date(res.data.vote_info.end_time);
							if (oDate1.getTime() > oDate2.getTime()) {
								this.timeOut = false
							} else {
								this.timeOut = true
							}
							if (res.data.vote_info.end_tip) {
								this.vote_end_tip = res.data.vote_info.end_tip
							}
							this.voteWidth()
						}
						
						var params = {
							event_code: '文章详情',
							path: 'pages/article/article',
							user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
							source: app.globalData.source,
							event_id: res.data.id,
							title: res.data.title,
							invitees_scene_id: '',
							source_page: '',
							value: '',
						}
						app.BurialPoint(params)

					}

				})
			},
			//相关推荐
			getRecommends() {
				this.params.user_id = uni.getStorageSync('member') ? uni.getStorageSync('member').id : ''
				getRecommends(this.params, this.id).then(res => {
					if (res.state == 1) {
						this.recommendlist = res.data
					}

				})
			},
			//评论列表
			getCommentlist() {
				this.paramsc.user_id = uni.getStorageSync('member') ? uni.getStorageSync('member').id : ''
				getCommentlist(this.paramsc, this.id).then(res => {
					if (res.state == 1) {

						this.current_page = res.data.current_page
						this.last_page = res.data.last_page
						this.total = res.data.total
						if (res.data.total == 0) {
							this.noCommentText = "暂无评论"
						}
						var list = res.data.data
						for (var i = 0; i < list.length; i++) {
							if (list[i].user) {
								var user_name = list[i].user.user_name
								var arr = user_name.split('[');
								list[i].user.user_name = arr[0]
								list[i].user.form = arr[1]
								var replys = list[i].replys
								if (replys) {
									for (var j = 0; j < replys.length; j++) {
										var user_name = replys[j].user.user_name
										var arr = user_name.split('[');
										replys[j].user.user_name = arr[0]
										replys[j].user.form = arr[1]
										var ruser_name = replys[j].reuser.user_name
										var rarr = ruser_name.split('[');
										replys[j].reuser.user_name = rarr[0]
										replys[j].reuser.form = rarr[1]
									}
								}
							}
						}
						if (this.paramsc.page > 1) {
							this.commentlist.push.apply(this.commentlist, list)
						} else {
							this.commentlist = list
						}

					}

				})
			},
			//跳转写评论页
			goComment(rid) {
				if (uni.getStorageSync('access_token')) {
					uni.navigateTo({
						url: '/pages/commentpost/commentpost?id=' + this.id + '&rid=' + rid + '&type=1'
					})
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
				var params = {
					event_code: '文章详情',
					path: 'pages/article/article',
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
					source: app.globalData.source,
					event_id: this.id,
					title: this.info.title,
					invitees_scene_id: '',
					source_page: '文章详情-去评论',
					value: '',
				}
				app.BurialPoint(params)
			},
			//资讯点赞
			praise() {
				if (uni.getStorageSync('access_token')) {
					if (this.info.is_praise_no == 1) {
						articlenoPraise({
							id: this.info.id,
							type: 2
						}).then(res => {
							if (res.state == 1) {
								this.info.is_praise_no = 0
							}
						})
					}

					var params = {
						id: this.info.id,
						type: this.info.is_praise == 1 ? 2 : 1
					}
					articlePraise(params).then(res => {
						if (res.state == 1) {

							if (this.info.is_praise == 0) {
								this.info.praise++
							} else {
								this.info.praise--
							}
							this.info.is_praise = this.info.is_praise == 1 ? 0 : 1
						}

					})
					if (this.info.is_praise == 1) {
						var source_page = '取消赞'
					} else {
						var source_page = '点赞'
					}
					var params = {
						event_code: '文章详情',
						path: 'pages/article/article',
						user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
						source: app.globalData.source,
						event_id: this.id,
						title: this.info.title,
						invitees_scene_id: '',
						source_page: '文章详情-' + source_page,
						value: '',
					}
					app.BurialPoint(params)
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			//一般般
			nopraise() {
				if (uni.getStorageSync('access_token')) {
					if (this.info.is_praise == 1) {
						articlePraise({
							id: this.info.id,
							type: 2
						}).then(res => {
							if (res.state == 1) {

								this.info.praise--
								this.info.is_praise = 0
							}
						})
					}
					var params = {
						id: this.info.id,
						type: this.info.is_praise_no == 1 ? 2 : 1
					}
					articlenoPraise(params).then(res => {
						if (res.state == 1) {
							this.info.is_praise_no = this.info.is_praise_no == 1 ? 0 : 1
						}
					})
					if (this.info.is_praise_no == 1) {
						var source_page = '一般般'
					} else {
						var source_page = '值得看'
					}
					var params = {
						event_code: '文章详情',
						path: 'pages/article/article',
						user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
						source: app.globalData.source,
						event_id: this.id,
						title: this.info.title,
						invitees_scene_id: '',
						source_page: '文章详情-' + source_page,
						value: '',
					}
					app.BurialPoint(params)
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			//收藏
			collect() {
				if (uni.getStorageSync('access_token')) {
					var params = {
						id: this.info.id,
						type: this.info.is_collect == 1 ? 2 : 1
					}
					articleCollect(params).then(res => {
						if (res.state == 1) {
							this.info.is_collect = this.info.is_collect == 1 ? 0 : 1
						}
					})
					if (this.info.is_collect == 1) {
						var source_page = '取消收藏'
					} else {
						var source_page = '收藏'
					}
					var params = {
						event_code: '文章详情',
						path: 'pages/article/article',
						user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
						source: app.globalData.source,
						event_id: this.id,
						title: this.info.title,
						invitees_scene_id: '',
						source_page: '文章详情-' + source_page,
						value: '',
					}
					app.BurialPoint(params)
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			//评论点赞
			commentPraise(index) {
				if (this.commentlist[index].is_audit == 1) {
					if (uni.getStorageSync('access_token')) {
						var params = {
							id: this.commentlist[index].id,
							type: this.commentlist[index].is_praise == 1 ? 2 : 1
						}
						articleCommPraise(params).then(res => {
							if (res.state == 1) {
								if (this.commentlist[index].is_praise == 0) {
									this.commentlist[index].praise_num++
									this.commentlist[index].is_praise = 1
								} else {
									this.commentlist[index].praise_num--
									this.commentlist[index].is_praise = 0
								}
							}
						})
						if (this.commentlist[index].is_praise == 1) {
							var source_page = '评论取消赞'
						} else {
							var source_page = '评论点赞'
						}
						var params = {
							event_code: '文章详情',
							path: 'pages/article/article',
							user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
							source: app.globalData.source,
							event_id: this.id,
							title: this.info.title,
							invitees_scene_id: '',
							source_page: '文章详情-' + source_page,
							value: '',
						}
						app.BurialPoint(params)
					} else {
						uni.navigateTo({
							url: '/pages/login/login'
						})
					}
				}

			},
			//删除评论
			delComment(index) {
				var that = this
				uni.showModal({
					content: '确定要删除这条评论吗？',
					confirmText: '删除',
					success: function(res) {
						if (res.confirm) {
							articleCommDel(that.commentlist[index].id).then(res => {
								if (res.state == 1) {
									uni.showToast({
										title: '已删除',
										icon: 'success',
									});
									// var commentlist =that.commentlist
									that.commentlist.splice(index, 1)
								}
							})
						} else if (res.cancel) {
							console.log('用户点击取消');
						}
					}
				});

				var params = {
					event_code: '文章详情',
					path: 'pages/article/article',
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
					source: app.globalData.source,
					event_id: that.id,
					title: that.info.title,
					invitees_scene_id: '',
					source_page: '文章详情-删除评论',
					value: '',
				}
				app.BurialPoint(params)
			},
			//滑动到评论位置
			goComments() {
				uni.createSelectorQuery().select('.commentlist_box').boundingClientRect(res => {
					var top = res.top
					if (this.scrollTop > 0) {
						uni.pageScrollTo({
							scrollTop: this.scrollTop + top,
							duration: 300
						})
					} else {
						uni.pageScrollTo({
							scrollTop: top,
							duration: 300
						})
					}
				}).exec()
			},
			//推荐资讯跳转
			goInfo(id) {
				uni.navigateTo({
					url: '/pages/article/article?scene=' + id
				})
				var params = {
					event_code: '文章详情',
					path: 'pages/article/article',
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
					source: app.globalData.source,
					event_id: this.id,
					title: this.info.title,
					invitees_scene_id: '',
					source_page: '文章详情-跳转推荐',
					value: '',
				}
				app.BurialPoint(params)
			},
			//获取海报
			getPoster() {
				if (uni.getStorageSync('access_token')) {
					var params = {
						source: app.globalData.source,
						id: this.id,
						user_id: uni.getStorageSync('member').id
					}
					articlePoster(params).then(res => {
						if (res.state == 1) {
							this.share_url = res.data.share_url
							this.showShareUrl = true
							this.showShare = false
							uni.downloadFile({
								url: res.data.share_url,
								success: function(res) {
									var tempFilePath = res.tempFilePath
									console.log(res.tempFilePath)
									uni.authorize({
										scope: 'scope.writePhotosAlbum',
										success() {
											uni.saveImageToPhotosAlbum({
												filePath: tempFilePath,
												success: function() {
													uni.showToast({
														title: '保存成功了，快去分享吧~',
														icon: 'none',
														duration: 1500
													});
													console.log('save success');
												},
												fail(e) {
													console.log('下载失败')
												}
											});
										},
										fail() {
											console.log('未授权')
										}
									})

								},

							})

						}
					})
					var params = {
						event_code: '文章详情',
						path: 'pages/article/article',
						user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
						source: app.globalData.source,
						event_id: this.id,
						title: this.info.title,
						invitees_scene_id: '',
						source_page: '文章详情-生成海报',
						value: '',
					}
					app.BurialPoint(params)
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			//投票
			voteBtn(e) {
				var code = e.currentTarget.dataset.code
				var name = e.currentTarget.dataset.name
				if (uni.getStorageSync('access_token')) {
					if (this.timeOut) {
						var params = {
							vote_id: this.voteinfo.id,
							tip_id: code,
							tip_name: name
						}
						voteChoose(params).then(res => {
							if (res.state == 1) {
								uni.showToast({
									title: '参与成功',
									icon: 'none',
									duration: 1500
								});

								this.vote_code = code,
									this.selected = true
								this.getVoteinfo()
							}
						})
						var params = {
							event_code: '文章详情',
							path: 'pages/article/article',
							user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
							source: app.globalData.source,
							event_id: this.voteinfo.id,
							title: this.voteinfo.title,
							invitees_scene_id: '',
							source_page: '文章详情-参与投票',
							value: '',
						}
						app.BurialPoint(params)
					} else {
						uni.showToast({
							title: this.vote_end_tip,
							icon: 'none',
							duration: 2000
						})
					}
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			getVoteinfo() {
				voteInfo(this.voteinfo.id).then(res => {
					if (res.state == 1) {
						this.voteinfo = res.data
						this.voteWidth()
					}
				})
			},
			voteWidth() {
				var that = this
				var vote_info = that.voteinfo
				var tips1width = (vote_info.tips1.name.length * 12) + 5
				var tips2width = (vote_info.tips2.name.length * 12) + 5
				var tips3width = 0
				if (vote_info.tips3.name) {
					tips3width = (vote_info.tips3.name.length * 12) + 5
				}
				if (tips1width > tips2width) {
					if (tips1width > tips3width) {
						var voteWidth = tips1width
					} else {
						var voteWidth = tips3width
					}
				} else if (tips2width > tips3width) {
					var voteWidth = tips2width
				} else {
					var voteWidth = tips3width
				}

				if (tips3width > 0) {
					var tipswidthsum = voteWidth * 3
					var votewidthsum = (app.globalData.windowWidth) - tipswidthsum - 30
					var width1 = (votewidthsum * vote_info.tips1.percentage / 100 + voteWidth).toFixed(2)
					var width2 = (votewidthsum * vote_info.tips2.percentage / 100 + voteWidth).toFixed(2)
					var width3 = (votewidthsum * vote_info.tips3.percentage / 100 + voteWidth).toFixed(2)
					that.tips1width = width1
					that.tips2width = width2
					that.tips3width = width3
				} else {
					var tipswidthsum = voteWidth * 2
					var votewidthsum = app.globalData.windowWidth - tipswidthsum - 30
					var width1 = (votewidthsum * vote_info.tips1.percentage / 100 + voteWidth).toFixed(2)
					var width2 = (votewidthsum * vote_info.tips2.percentage / 100 + voteWidth).toFixed(2)
					that.tips1width = width1
					that.tips2width = width2
				}
			},
			goGroupWechat() {
				var that = this
				console.log(that.info.media.id)
				uni.navigateToMiniProgram({
					appId: 'wx8f6737777e20061c',
					path: 'pages/index/index?media_id=' + that.info.media.id,
					envVersion: 'develop',
					success(res) {
						// 打开成功
					}
				})
			},
			//微信app分享
			shareApp(scene) {
				var that = this
				if (scene == 'WXSceneSession') {
					uni.share({
						provider: "weixin",
						scene: scene,
						type: 5,
						title: that.info.title,
						imageUrl: that.info.share_image,
						miniProgram: {
							id: 'gh_664d5a5771aa',
							path: '/pages/article/article?scene=' + that.id,
							type: 0,
							webUrl: "https://m.motortime.com/article/" + that.id + "/post"
						},
						success: function(res) {
							that.showShare = false
							console.log("success:" + JSON.stringify(res));
						},
						fail: function(err) {
							that.showShare = false
							console.log("fail:" + JSON.stringify(err));
						}
					});
				} else {
					uni.share({
						provider: "weixin",
						scene: scene,
						type: 0,
						href: "https://m.motortime.com/article/" + that.id + "/post",
						title: that.info.title,
						summary: that.info.description,
						imageUrl: that.info.share_image += '?x-oss-process=image/resize,w_120',
						success: function(res) {
							that.showShare = false
							console.log("success:" + JSON.stringify(res));
						},
						fail: function(err) {
							that.showShare = false
							console.log("fail:" + JSON.stringify(err));
						}
					});

				}
				app.getShareTask('/pages/article/article')
			},
			moreReply(pid) {
				uni.navigateTo({
					url: '/pages/commentinfo/commentinfo?id=' + this.id + '&pid=' + pid + '&source=1'
				})
			},
			changeSpeed() {
				if (this.speedNum == 1) {
					this.videoContext.playbackRate(1.5)
					this.speedNum = 1.5
				} else if (this.speedNum == 1.5) {
					this.videoContext.playbackRate(2)
					this.speedNum = 2
				} else if (this.speedNum == 2) {
					this.videoContext.playbackRate(1)
					this.speedNum = 1
				}
			},
			playVideo() {
				this.isSpeed = true
			},
			pauseVideo() {
				this.isSpeed = false
			},
			goUserInfo(id, from, username) {
				if (from) {
					uni.showModal({
						content: '来自 ' + username + '的评论',
						confirmText: "关闭",
						showCancel: false,
						success: function(res) {
							if (res.confirm) {

							} else {
								console.log('用户点击取消')
							}
						}
					});
				} else {
					uni.navigateTo({
						url: '/pages/other/other?scene=' + id
					})
				}
			}
		},
		//加载更多
		onReachBottom() {
			if (this.current_page < this.last_page) {
				this.paramsc.page = this.paramsc.page + 1
				this.getCommentlist()
			} else {
				if (this.total > 0) {
					this.noCommentText = "已加载全部"
				} else {
					this.noCommentText = "暂无评论"
				}

			}

		},
		//分享
		onShareAppMessage(res) {
			app.getShareTask('/pages/article/article')
			this.showShare = false
			return {
				title: this.info.title,
				path: '/pages/article/article?scene=' + this.id,
				imageUrl: this.info.share_image
			}


		},
	}
</script>

<style lang="scss">
	.articleinfo_box {
		overflow-x: hidden;

		.video_box {
			position: relative;

			.video {
				width: 100%;
				height: 240px;
			}
		}

		.articleinfo {
			padding: 10px;

		}

		.article_title {
			color: #3A3A3A;
			font-size: 17px;
			font-weight: bold;
		}

		.article_time {
			color: #9A9A9A;
			font-size: 12px;
			margin: 15px 0;
		}

		.copyright {
			color: #9A9A9A;
			font-size: 14px;
		}

		.praise_box {
			display: flex;
			align-items: center;
			justify-content: center;

			.praise_border {
				font-size: 11px;
				color: #3A3A3A;
				padding: 10px 20px;
				border: 0.5px solid #9A9A9A;
				border-radius: 30px;
				margin: 0 8px;
				display: flex;
				align-items: center;
			}

			.praise_borderright {
				font-size: 11px;
				color: #3A3A3A;
				padding: 10px 30px;
				border: 0.5px solid #9A9A9A;
				border-radius: 30px;
				margin: 0 8px;
				display: flex;
				align-items: center;
			}

			.praise_img {
				width: 15px;
				height: 14px;
			}
		}

		.recommend_box {
			border-top: 1px solid #EAEAEA;
			padding: 0 10px;

			.recommend_list {
				display: flex;
				margin: 5px 0;
				width: 100%;

				.recommend_img {
					max-width: 115px !important;
					height: 100px;
					border-radius: 5rpx;
					float: left;
				}

				.recommend_title {
					height: 100px;
					color: #3A3A3A;
					font-size: 15px;
					font-weight: bold;

					.motor_badge {
						color: #FF0000;
						font-size: 10px;
						border: 1px solid #FF0000;
						border-radius: 5rpx;
						padding: 0 5px;
						white-space: nowrap;
					}
				}
			}

			.three_dba_box {
				overflow: hidden;

				.three_dba_item {
					display: flex;
					width: 33.333%;
					float: left;

					.three_dba_img {
						width: 40px;
						height: 40px;
						border: 1px solid #f7f7f7;
						border-radius: 8rpx;
					}

					.three_dba_info {
						.three_dba_name {
							color: #3A3A3A;
							font-size: 12px;
							font-weight: bold;
						}

						.three_dba_read {
							color: #9A9A9A;
							font-size: 12px;
						}
					}
				}

			}
		}

		.commentlist_box {
			border-top: 5px solid #EAEAEA;
			padding: 0 10px;

			.comment_type {
				color: #9A9A9A;
				font-size: 13px;
				float: right;
				font-weight: 400;
			}

			.commentlist_cell {
				padding: 15px 0;
				border-bottom: 1px solid #EAEAEA;

				.comment_member_box {
					display: flex;
					align-items: center;

					.comment_member_img {
						width: 80rpx;
						height: 80rpx;
						border-radius: 30px;
					}

					.comment_member_name {
						flex: 1;
						color: #605c6b;
						font-size: 30rpx;
						font-weight: bold;

						.comment_member_userform {
							font-size: 12px;
							color: #6a6a6a;
						}
					}

					.comment_praise {
						color: #9A9A9A;
						font-size: 12px;
						display: flex;
						align-items: center;

						.comment_praise_img {
							width: 15px;
							height: 14px;
						}
					}
				}

				.comment_content {
					color: #3A3A3A;
					font-size: 26rpx;
				}

				.comment_action {
					display: flex;
					align-items: center;
					font-size: 12px;
					color: #6a6a6a;

					.comment_time {
						flex: 1;

						.comment_reply_num {
							color: #6a6a6a;
							font-size: 24rpx;
						}
					}

					.comment_report {
						float: right;
					}
				}

				.comment_reply_box {
					padding: 15px 10px;
					background-color: #F7F7F7;
					border-radius: 7px;

					.comment_reply_cell {
						color: #6A6A6A;
						font-size: 26rpx;

					}

					.comment_reply_username {
						color: #33A1FF;
						font-size: 26rpx;
					}
				}
			}
		}

		.article_info_title {
			color: #3A3A3A;
			font-size: 13px;
			font-weight: bold;
			padding: 15px 0;

			.three_dba {
				color: #9A9A9A;
				font-size: 13px;
			}
		}

		.joinpic {
			height: 90rpx;
			width: 100%;
		}

		.bot-10 {
			border-top: 20rpx solid #f8f8f8;
		}

		.pd-30 {
			padding: 30rpx;
		}

	}
</style>
