<template>
	<view class="collect_box">
		<view class="tabs_fixed">
			<view :class="current == 0?'tabs_item tab_item_border':'tabs_item'" @click="onClickItem(0)">资讯</view>
			<view :class="current == 1?'tabs_item tab_item_border':'tabs_item'" @click="onClickItem(1)">帖子</view>
		</view>
		<view class="content">
			<view v-show="current === 0">
				<view class="motor_list" v-for="(item,index) in list" :key="item.id">
					<block v-if="item.module.id==1||item.module.id==3">
						<view class="motor_list_content" @click="goInfo(1,item.id,item.link_url)">
							<image class="motor_list_img mr-15" :src="item.pic_url" mode="aspectFill"></image>
							<view class="motor_list_title ellipsis-4">{{item.title}}
								<span class="ml-10 motor_badge" v-if="item.label">{{item.label.name}}</span>
							</view>
						</view>
						<view class="motor_list_intor">
							<view class="motor_list_time" v-if="item.media">{{item.media.name}} {{item.time_format}}
							</view>
							<view class="motor_praise_comm">
								<image class="motor_comm_img" src="../../static/images/comment.png"></image>
								{{item.reply_num}}
							</view>
							<view class="motor_praise_comm"
								@click="praise(item.id,item.is_praise,index,item.module.id)">
								<image class="motor_praise_img"
									:src="item.is_praise==1?'../../static/images/zan-active.png':'../../static/images/zan.png'">
								</image>
								{{item.praise}}
							</view>
						</view>
					</block>
					<block v-if="item.module.id==2">
						<view class="motor_list_title ellipsis-3" @click="goimgInfo(item.id,item.link_url)">
							{{item.title}}
							<span class="ml-10 motor_badge" v-if="item.label">{{item.label.name}}</span>
						</view>
						<view class="motor_list_imgroup" @click="goimgInfo(item.id,item.link_url)">
							<view class="motor_list_imgroup_left">
								<image class="motor_list_left_img" :src="item.pics[0].img_url" mode="aspectFill">
								</image>
							</view>
							<view class="motor_list_imgroup_right">
								<image class="motor_list_right_img" :src="item.pics[1].img_url" mode="aspectFill">
								</image>
								<image class="motor_list_right_img" style="margin-top: 12rpx;"
									:src="item.pics[2].img_url" mode="aspectFill"></image>
							</view>
						</view>
						<view class="motor_list_intor">
							<view class="motor_list_time" v-if="item.media">{{item.media.name}} {{item.time_format}}
							</view>
							<view class="motor_praise_comm">
								<image class="motor_comm_img" src="../../static/images/comment.png"></image>
								{{item.reply_num}}
							</view>
							<view class="motor_praise_comm"
								@click="praise(item.id,item.is_praise,index,item.module.id)">
								<image class="motor_praise_img"
									:src="item.is_praise==1?'../../static/images/zan-active.png':'../../static/images/zan.png'">
								</image>
								{{item.praise}}
							</view>
						</view>
					</block>
				</view>
			</view>
			<view v-show="current === 1">
				<view class="post_cell" v-for="(item,index) in list" :key="item.id">
					<view class="display_flex" @click="goInfo(2,item.id)">
						<view class="collect_img_box">
							<image class="collect_img" :src="item.user.headimg_url"></image>
						</view>
						<view class="ml-10">
							<view class="f-14 f-w">{{item.user.user_name}}</view>
							<view class="c-gray f-12 mt-5">{{item.time_format}}</view>
						</view>
					</view>
					<view class="f-15 f-w mt-15" @click="goInfo(2,item.id)">{{item.title}}</view>
					<view class="f-14 ellipsis-2 mt-10" @click="goInfo(2,item.id)">
						<text class="c-blue f-w" v-for="item in tags" :key='item.name'>#{{item.name}}#</text>
						<text>{{item.content}}</text>
					</view>
					<view @click="goInfo(2,item.id)" class="pic-box mt-15" :data-img="item.image"
						v-if='item.image.length>0&&item.image.length<3'>
						<image class="picmode" mode="aspectFill" :src="item.image[0]"> </image>
					</view>
					<view @click="goInfo(2,item.id)" class="motor_list_imgroup mt-15" v-if='item.image.length==3'>
						<view class="motor_list_imgroup_left">
							<image class="motor_list_left_img" :src="item.image[0]" mode="aspectFill"></image>
						</view>
						<view class="motor_list_imgroup_right">
							<image class="motor_list_right_img mb-3" :src="item.image[1]" mode="aspectFill"></image>
							<image class="motor_list_right_img mt-3" :src="item.image[2]" mode="aspectFill"></image>
						</view>
					</view>
					<view @click="goInfo(2,item.id)" class="mt-15" v-if='item.image.length>3'>
						<uni-grid :column="3" :showBorder="false">
							<uni-grid-item v-for='(item,indexd) in item.image' :key="indexd">
								<view style="padding: 0 5rpx;">
									<image class="motor_list_right_img" :data-src="item" :src="item"
										mode="aspectFill" />
								</view>
							</uni-grid-item>
						</uni-grid>
					</view>
					<view class="display_flex mt-10">
						<view class="flex-1">
							<view class="source" v-if='item.channel.alias'>{{item.channel.alias}}</view>
						</view>
						<view class="display_flex text-r">
							<image class="oper-pic" src="../../static/images/comment.png">
							</image>
							<view class="f-12 ml-5" @click="praise(item.id,item.is_praise,index,4)">{{item.comment_num}}
							</view>
							<image @click="praise(item.id,item.is_praise,index,4)" v-if='item.is_praise==1'
								class="oper-pic ml-15" src="../../static/images/zan-active.png">
							</image>
							<image @click="praise(item.id,item.is_praise,index,4)" v-if='item.is_praise==0'
								class="oper-pic ml-15" src="../../static/images/zan.png">
							</image>
							<view @click="praise(item.id,item.is_praise,index,4)" class="f-12 ml-5">{{item.praise_num}}
							</view>
						</view>
					</view>
				</view>
			</view>
			<view class="loading" style="background-color: #FFFFFF;" v-if="showLoading"
				:style="'padding-bottom:'+pdbottom+'rpx;'">
				<image class="loading_gift" src="../../static/images/gif.gif"></image>
			</view>
			<view class="loading" style="background-color: #FFFFFF;" v-else :style="'padding-bottom:'+pdbottom+'rpx;'">
				<view class="f-12 c-gray text-c pd-30">{{loadingTitle}}</view>
			</view>
		</view>
	</view>
</template>

<script>
	import {
		getCollect,
		bbsPraise,
		articlePraise
	} from '../../api/motortime.js';
	const app = getApp()
	export default {
		data() {
			return {

				current: 0,
				items: ['资讯', '帖子'],
				list: [],
				params: {
					page: 1,
					size: 10
				},
				showLoading: true,
				loadingTitle: '已加载全部',
			};
		},
		onLoad() {
			this.getCollect()
			var params = {
				event_code: '我的收藏',
				path: 'pages/mycollect/mycollect',
				user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
				source: app.globalData.source,
				invitees_scene_id: '',
				source_page: '',
				event_id: '',
				title: '',
				value: '',
				loadingTitle: '已加载全部',
			}
			app.BurialPoint(params)
		},
		methods: {
			onClickItem(e) {
				this.showLoading = true
				this.loadingTitle = '已加载全部'
				this.current = e
				this.params.page = 1
				this.list = []
				this.getCollect()
			},
			getCollect() {
				if (this.current == 0) {
					var url = 'archive/collects'
				} else {
					var url = 'bbs/collects'
				}
				getCollect(url, this.params).then(res => {
					if (res.state == 1) {
						this.list = [...this.list, ...res.data.data]
						this.last_page = res.data.last_page
						this.current_page = res.data.current_page
						if (res.data.total == 0) {
							this.showLoading = false
							this.loadingTitle = '暂无数据'
						} else if (res.data.last_page == res.data.current_page) {
							this.showLoading = false
						}
					} else {
						uni.showToast({
							title: res.error[0],
							icon: 'none',
							mask: true,
							duration: 1500
						})
					}
				})
			},
			goimgInfo(id, link_url) {
				if (link_url) {
					uni.navigateTo({
						url: link_url
					})
				} else {
					uni.navigateTo({
						url: '/pages/articleimg/articleimg?scene=' + id
					})
				}
			},
			goInfo(type, id, link_url) {
				if (type == 1) {
					if (link_url) {
						uni.navigateTo({
							url: link_url
						})
					} else {
						uni.navigateTo({
							url: '/pages/article/article?scene=' + id
						})
					}
				} else {
					uni.navigateTo({
						url: '/pages/articleinfo/articleinfo?scene=' + id
					})
				}
			},
			praise(id, type, index, module) {
				var params = {
					id: id,
					type: type == 1 ? 2 : 1
				}
				if (module == 4) {
					bbsPraise(params).then(res => {
						if (res.state == 1) {
							this.list[index].is_praise = type == 1 ? 0 : 1
							if (type == 0) {
								this.list[index].praise_num++
							} else {
								this.list[index].praise_num--
							}
						}

					})
				} else {
					articlePraise(params).then(res => {
						if (res.state == 1) {
							this.list[index].is_praise = type == 1 ? 0 : 1
							if (type == 0) {
								this.list[index].praise++
							} else {
								this.list[index].praise--
							}
						}

					})
				}
			}
		},
		onReachBottom() {
			if (this.current_page < this.last_page) {
				this.showLoading = true
				this.params.page = this.params.page + 1
				this.getCollect()
			} else {
				this.showLoading = false
				if (this.list.length > 0) {
					this.loadingTitle = "已加载全部"
				} else {
					this.loadingTitle = "暂无动态"
				}

			}
		},
		onPullDownRefresh() {
			this.showLoading = true
			this.list = []
			this.params.page = 1
			this.getCollect()
			uni.stopPullDownRefresh()
		},
	}
</script>

<style lang="scss">
	.collect_box {
		.post_cell {
			padding: 30rpx;
			border-bottom: 2rpx solid rgba(0, 0, 0, 0.1);

			.pic-box {
				width: 100%;
				height: 420rpx;

				.picmode {
					width: 100%;
					height: 100%;
				}
			}

			.uni-grid-item {
				height: 210rpx !important;
			}

			.source {
				font-size: 28rpx;
				display: inline-block;
				padding: 5rpx 10rpx;
				min-width: 20rpx;
				border-radius: 18px;
				background-color: #f6ab00;
				color: #fff;
				line-height: 1.2;
				text-align: center;
				vertical-align: middle;
			}

			.oper-pic {
				width: 30rpx;
				height: 28rpx;
			}
		}

		.collect_img_box {
			width: 80rpx;
			height: 80rpx;
			border-radius: 60px;
		}

		.collect_img {
			width: 100%;
			height: 100%;
			border-radius: 60px;
		}

		.loading {
			padding: 40rpx;
			text-align: center;
		}
	}
</style>
