.zze-container {
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background: rgb(246, 246, 246);
  overflow: hidden;
}

.zze-wrap{width: 720rpx; padding: 0 15rpx;}

/* 公共样式 */
.zze-h1{font-size: 50rpx;}
.zze-h2{font-size: 40rpx;}
.zze-h3{font-size: 30rpx;}
.zze-h4{font-size: 26rpx;}
.zze-h5{font-size: 22rpx;}

.zze-width-100{width: 100% !important;}
.zze-width-50{width: 50%;}
.zze-width-33{width: 33.33%;}
.zze-width-25{width: 25%;}
.zze-width-20{width: 20%;}

/* 隐藏 */
.zze-hide{display: none;}
.zze-show{display: block;}

/* 布局 flex */
/* flex 布局 */
.zze-flex{display:flex;} 
.zze-flex-rows{display:flex; flex-direction:row;}
.zze-flex-columns{display:flex; flex-direction:column;}
.zze-flex-wrap{display:flex;  flex-direction:row; flex-wrap:wrap;}
.zze-flex-nowrap{display:flex; flex-direction:row; flex-wrap:nowrap;}
.zze-flex-space-between{display:flex; flex-direction:row; justify-content:space-between;}
.zze-flex-center{display:flex; flex-direction:row; justify-content:center;}
.zze-flex-end{display:flex; flex-direction:row; justify-content:flex-end;}
.zze-flex-vtop{align-items:flex-start;}
.zze-flex-vcenter{align-items:center;}
.zze-flex-vbottom{align-items:flex-end;}
.zze-flex-no-scale{flex-shrink:0;}
.zze-flex-1{flex:1;}
.zze-flex-v1{display:flex; flex-direction:column; flex:1;}

/* 间隔 */
.zze-margin-top{margin-top: 20rpx !important;}
.zze-padding-top{padding-top: 20rpx !important;}

/* 公共标题 */
.zze-title{padding: 0 20rpx; height: 80rpx;line-height: 80rpx; border-bottom: 1px solid #eee;display: flex; flex-direction:row; justify-content:space-between;background: #fff;
	.icon{display: block; float: left; margin: 20rpx 10rpx 0 0; width: 8rpx; height: 40rpx; background: #000; border-radius: 3rpx;}
	.title{font-size: 32rpx; font-weight: 700;color: #000;}
	.more{font-size: 24rpx;color: #666;}
}

/* banner 暂定高360rpx 可在结构中单独在设置*/
.banner{width: 100%; 
	.swiper{height: 360rpx;}
	.swiper-item{width: 100%;}
	image{width: 100%; height: 360rpx;}
}

/* 导航 四个一排 */
.zze-nav{position: relative; width: 100%; margin-top: 30rpx; display: flex; flex-wrap: wrap;}
.zze-nav-li{ width: 25%; text-align: center; padding: 10rpx; box-sizing: border-box;}
.zze-nav-li .zze-nav-img{ width: 50%; margin: 0 25%;}
.zze-nav-li text{width: 100%; height: 40rpx; line-height: 40rpx; text-align: center; font-size: 28rpx;}

/* 按钮修饰 */
.zze-button-del-style{border: none!important; position: inherit; padding: 0; margin: 0; font-size: 28rpx; display: inherit; background-color: #fff; line-height: none;}
.zze-button{font-size:30rpx; line-height:88rpx; padding:0; border-radius:6rpx;}
.zze-button::after{border-radius:4rpx !important; border:none;}

/* 编辑器-详情内容 统一 需在加载内容的区域加本样式 */
.zze-contents{font-size: $uni-font-size-base;}

/* 底部 */
.zze-footer-btns{position:fixed; z-index:2; left:0; bottom:0; background:#FFFFFF; width:750rpx; overflow:hidden; box-shadow:1px 1px 6px #888;
	.zze-footer-button{width:230rpx; border:none !important; font-size:30rpx; border-radius:0; height:100rpx; line-height:100rpx;color: #fff;}
	.zze-footer-button:after{width:0; height:0;}
	.zze-items{padding:6rpx 0; width:120rpx;
		.zze-share{color: #6B7375; font-size: 24rpx;line-height:28rpx;}
		.iconfont{height:50rpx; line-height:50rpx; font-size:40rpx; color:#6B7375;}
		.text{line-height:28rpx; font-size:24rpx; margin-top:2px; color:#6B7375;}
	}
}
/* 广告 */
.zze-ad-list{
	.item{
		image{width: 100%;}
	}
}
/* 加载更多 */
.zze-loadMore{position: relative; width: 90%;margin: 20rpx 5%; 
	.item{width: 100%;height: 70rpx;line-height: 70rpx; display: flex; justify-content: center;}
	.btn{width: 40%;height: 50rpx;line-height: 50rpx; text-align: center;background: $d-main;color: #fff;font-size: 26rpx;border-radius: 10rpx;}
	image{width: 32rpx;height: 32rpx; margin-top: 20rpx; margin-right: 10rpx;}
	text{font-size: 28rpx;color: #666;}
}

/* 右下角 按钮 常用于 客服，发布按钮等 */
.zze-fixed-btn {position: fixed;right: 20rpx;bottom: 80rpx;width: 100rpx;height: 100rpx;
	image {width: 100rpx;height: 100rpx;}
}
/* 为空显示 */
.zze-empty{ position: fixed;top: 150rpx;width: 200rpx;height: 200rpx;left: 50%;margin-left: -100rpx;
	image{ width: 200rpx;height: 200rpx;}
	text{width: 200rpx;height: 60rpx;line-height: 60rpx;font-size: 26rpx;color: #999;display: flex;justify-content: center;}
}
/* 版权信息 */
.zze-copyright{text-align: center; margin-top: 20rpx; padding-bottom: 30rpx;
	text{font-size: 26rpx;color: #999;}
}

