/* 表单 */
.form{position: relative; width: 100%; box-sizing: border-box;}
.form .input-control{position: relative; padding: 20rpx 30rpx 0 30rpx; width: 100%; overflow: hidden; background: #fff; box-sizing: border-box;}
.form .input-title{width: 100%; float: left; height: 60rpx; line-height: 60rpx;font-size: 32rpx; color: #333;}
.form .input-control .input-title .iconfont{height:60rpx;margin-right:5rpx;font-size: 40rpx;color:#CC3333;}
.form .input-box{float: left; width: 100%;}
.form .input{float: left; padding: 14rpx; width: 100%; height: 80rpx; line-height: 80rpx; border: 1px solid #e9e9e9; background: #fff; color: #333; font-size: 28rpx; box-sizing: border-box;}
.form .input:focus{border: 1px solid #333;}
.form .input-box .code-area{width: 100%; height: 80rpx;padding-top:20rpx;overflow: hidden;}
.form .input-box .code-area .input-code{float:left;width: 74%;height: 80rpx; line-height: 80rpx;padding:10rpx; border: 1px solid #e9e9e9; background: #fff; color: #333; font-size: 28rpx; box-sizing: border-box;}
.form .input-box .code-area .btn-getCode{float:right;width: 26%;height: 80rpx; line-height: 80rpx;text-align:center;color:#fff;background:var(--cmain);font-size: 28rpx;}

/* 文本框 */
.form .textarea{float: left; padding: 10rpx; width: 100%; height: 200rpx; line-height: 50rpx; border: 1px solid #e9e9e9; background: #fff; color: #333; font-size: 28rpx; box-sizing: border-box;}
.form .textarea-placeholder{line-height: 50px;font-size: 28rpx;}
.form .input-control .show_tags{width: 100%;float: left; margin-top: 10rpx;}
.form .input-control .show_tags .tags_item{background-color: $d-main;color: #fff;padding: 6rpx 12rpx;float: left;margin-right: 6rpx;font-size: 26rpx;}

/* 选择 */
.form .input-control .type-select{overflow:hidden;}
.form .input-control .type-select .item{float:left;width: 46%;height:90rpx;line-height:80rpx;margin-right:4%;color:#666;border:1px solid #ddd;}
.form .input-control .type-select .item.active{border-color:var(--orange);}
.form .input-control .type-select .item image{display:inline-block;width:134rpx;height:90rpx;vertical-align: top;}
.form .input-control .type-select .item:last-child{margin-right:0;}

/* 温馨提示 */
.form .input-control .tips{float:left;width: 100%;line-height: 50rpx; font-size: 30rpx; color:var(--cmain);}
.form .input-control switch{zoom:0.7;}
.form .input-control .tips text{margin-left:10rpx;line-height: 60rpx;font-size: 30rpx;vertical-align: middle;}

/* 单选 */
.form .radio-group{padding-top: 20rpx;}
.form .radio-label{font-size: 28rpx; display: block; float: left; height: 60rpx;}
.form .radio{ font-size: 28rpx;}

/* 多选框 */
.form .checkbox-group{ padding-top: 20rpx;}
.form .checkbox-label{display: block; float: left; height: 60rpx;  font-size: 28rpx;}
.form .checkbox{ float:left;font-size: 28rpx; }
/* .release .checked-label{ background: var(--cmain);} */

/* 二级多选 */
.form .input-box-sub{float: left; position: relative; width: 100%; border-bottom: 1px solid #eee; }
.form .input-title-sub{float: left; width: 100%; text-align: center; color: #999; margin-right: 20rpx; height: 60rpx; line-height: 60rpx; font-size: 30rpx;}
/* 链接文本 */
.form .input-control .link-det{float:left;line-height:40rpx;font-size: 26rpx;color:var(--cmain);}

/* 拉起选项 */
.form .picker-title{ float: left; margin-right: 30rpx; height: 60rpx; line-height: 60rpx; font-weight: bold; font-size: 32rpx; color: #333;}
.form .picker-box{float: right; height: 60rpx; line-height: 60rpx; font-size: 30rpx;}
.form .picker-jt{float: right;margin-top: 5rpx;}

/* 上传图片 */
.form .input-control .image-box{padding: 0;border: none;}
.form .input-control .input-box .btn-img-upload{float:left;margin-bottom:15rpx;width: 220rpx;height: 220rpx;overflow: hidden;}
.form .input-control .input-box .uploader-item{position:relative;float:left;margin-bottom:15rpx;margin-right:10rpx;width: 220rpx;height: 220rpx;overflow: hidden;}
.form .input-control .input-box icon{position: absolute;right:0;top:0;width: 42rpx;height:42rpx;line-height:42rpx;background: rgba(0,0,0,0.5);color:#fff;display: flex;justify-content: center;}
.form .input-control .input-box  image{float:left;width: 100%;height:220rpx;}
.form .input-control .input-box .btn-video-upload{float:left;height: 70rpx;line-height:70rpx;padding:0 30rpx; text-align:center;background: var(--cmain);color:#fff;font-size: 28rpx;}

/* 录音 */
.form .input-control .input-box.audio-box{padding:10rpx 20rpx;}
.form .input-control .input-box.audio-box .audio-btns{float:left;width:50%;}
.form .input-control .input-box.audio-box .audio-btns .item{width: 100%; padding: 10rpx 0; text-align:center;}
.form .input-control .input-box.audio-box .audio-btns .item image{float:none;width: 60rpx;}
.form .input-control .input-box.audio-box .audio-btns .item text{display: block; height: 30rpx; line-height: 30rpx; font-size:24rpx;}


/* 提交按钮 */
.form .input-submit{ background: $d-main; color: #fff; border: none;}
.form .btn-submit{width: 100%;height: 80rpx;line-height:80rpx; border-radius:3px;text-align:center;font-size: 28rpx;color:#fff;background: #CC3333;}