<template>
	<view class="error">
		<image class="error_img" src="../../static/images/error.png"></image>
		<view class="login_name mt-20">找不到页面了</view>
	</view>
</template>

<script>
	
	let app = getApp()
	export default {
		data() {
			return {
				
			}
		},
		onShow() {
			var params = {
				event_code: '加载失败',
				path: 'pages/error/error',
				user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
				source: app.globalData.source,
				invitees_scene_id: '',
				source_page: '',
				event_id: '',
				title: '',
				value: '',
			}
			app.BurialPoint(params)
		},
		methods: {


		}
	}
</script>

<style lang="scss">
	.error {
		text-align: center;

		.error_img {
			width: 90px;
			height: 75px;
			margin-top: 50%;
			-webkit-filter: grayscale(100%);
			  filter: grayscale(100%);
		}

		.login_name {
			color: #999999;
			font-size: 20px;
			font-weight: 500;
		}

	}
</style>
