<template>
	<view class="paysuccess_page">
		<view class="approve_img_box">
			<image class="approve_img" src="/static/images/approve.png"></image>
			<view class="mt-15 f-20 f-w c-black">支付成功</view>
		</view>

		<view class="btn_block" @click="jumpPage" style="position: fixed;bottom: 60rpx;left: 0;right: 0;">确定</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {

			}
		},
		onLoad(options) {
			wx.hideShareMenu()
			this.order_no = options.id
		},
		methods: {
			jumpPage() {
				// uni.setStorage({
				// 	data: true,
				// 	key: 'onload'
				// })
				uni.redirectTo({
					url: '/pages/shop/orderinfo/orderinfo?id=' + this.order_no
				})
			}
		}
	}
</script>

<style lang="scss">
	.paysuccess_page {
		overflow: hidden;

		.approve_img_box {
			margin-top: 35%;
			text-align: center;

			.approve_img {
				width: 160rpx;
				height: 160rpx;
			}
		}


	}
</style>
