<template>
	<view class="goodsorder_page" :style="'padding-bottom:'+bottomHeight+'px;'">
		<view v-if="addr.id" class="top_addr_box" @click="goAddrList">
			<image class="top_addr_img" src="/static/images/shop/location.png"></image>
			<view class="top_addr_text">
				<view class="top_addr_user">
					<span class="f-14">{{addr.name}}</span>
					<span class="f-12 ml-5">{{addr.mobile}}</span>
				</view>
				<view class="top_addr mt-5">{{addr.area.province_name}} {{addr.area.city_name}}
					{{addr.area.area_name}}
					{{addr.address}}
				</view>
			</view>
			<uni-icons type="right" color="#9A9A9A" size="18"></uni-icons>
		</view>
		<view v-else class="top_addr_box" @click="goEditAddr">
			<image class="top_addr_img" src="/static/images/shop/location.png"></image>
			<view class="top_addr_text f-12 f-w">添加收货地址</view>
			<uni-icons type="right" color="#9A9A9A" size="18"></uni-icons>
		</view>
		<block v-if="orderlist.length>0" v-for="(itemd,indexd) in orderlist" :key="itemd.id">
			<view class="goods_box">
				<view class="shop_box">
					<image class="shop_logo" :src="itemd.channel_img"></image>
					<view class="shop_name">{{itemd.channel_name}}</view>
					<uni-icons type="right" color="#9A9A9A" size="18"></uni-icons>
				</view>
				<view v-for="(item,index) in itemd.info" :key="item.id" v-if="item.is_selection==1">
					<view class="goodsinfo_box">
						<image class="goodsinfo_img" mode="aspectFill"
							:src="item.good.img_url?item.good.img_url:'/static/images/default_img.png'"></image>
						<view class="goodsinfo_content">
							<view class="goodsinfo_title ellipsis-2">{{item.good.name}}</view>
							<view class="goods_attr_box" v-if="item.attr.name">{{item.attr.name}}</view>
							<view class="display_flex goodsinfo_price_box">
								<view class="goodsinfo_price flex-1">￥{{item.attr.price}}</view>
								<view class="c-gray f-12">x {{item.number}}</view>
							</view>
						</view>
					</view>
					<view class="delivery_time mb-10" v-if="item.delivery_time">发货时间 : {{item.delivery_time}}</view>
					<view class="display_flex f-13 c-black" style="align-items: flex-start;">
						<view>订单备注</view>
						<view class="flex-1" style="margin-top: 3rpx;">
							 <!-- :show-confirm-bar="false" -->
							<textarea :value="item.remark" :disable-default-padding="true" :auto-height="true" class="ml-20 f-13" style="max-height: 130rpx;width: 92%;" :data-indexd="indexd" :data-index="index"
								@input="inputRemark" type="text" maxlength="200" placeholder="选填，请先和客服协商" />
						</view>
					</view>
				</view>
			</view>
		</block>
		<view class="goods_box" v-if="info">
			<view class="shop_box">
				<image class="shop_logo" :src="info.channel.img_url?info.channel.img_url:'/static/images/logo.png'">
				</image>
				<view class="shop_name">{{info.channel.name?info.channel.name:'汽车时间'}}</view>
				<uni-icons type="right" color="#9A9A9A" size="18"></uni-icons>
			</view>
			<view class="goodsinfo_box">
				<image class="goodsinfo_img" mode="aspectFill"
					:src="info.img_url?info.img_url:'/static/images/default_img.png'"></image>
				<view class="goodsinfo_content">
					<view class="goodsinfo_title ellipsis-2">
						<span class="presellbadge" v-if="info.activity_status==1">预售</span>
						<span class="secondbadge" v-if="info.activity_status==2">秒杀</span>
						<span class="groupbadge" v-if="info.activity_status==4">团购</span>
						{{info.name}}
					</view>
					<view class="goods_attr_box" v-if="info.goods_attr_name">{{info.goods_attr_name}}</view>
					<view class="mt-5 display_flex" v-if="info.delivery_label">
						<view v-for="itemd in info.delivery_label" :key="itemd" class="weui-badge mr-10">{{itemd.name}}
						</view>
					</view>
					<view class="display_flex goodsinfo_price_box">

						<view class="goodsinfo_price flex-1" v-if="activity_status==1">
							<block v-if="info.deposit=='0.00'">
								￥
								<span class="f-17">{{info.price}}</span>
							</block>
							<block v-else>
								定金￥
								<span class="f-17">{{info.deposit}}</span>
								<span class="f-12 c-gray ml-10">￥{{info.price}}</span>
							</block>
						</view>
						<view class="goodsinfo_price flex-1" v-else>￥<span class="f-17">{{info.price}}</span></view>
						<view class="c-gray f-12">x {{num}}</view>
					</view>
				</view>
			</view>
			<view class="delivery_time mb-10" v-if="info.delivery_time">发货时间 : {{info.delivery_time}}</view>
			<view class="display_flex f-13 c-black" style="align-items: flex-start;">
				<view>订单备注</view>
				<view class="flex-1" style="margin-top: 3rpx;">
					 <!-- :show-confirm-bar="false" -->
					<textarea :value="remark" :disable-default-padding="true" @input="inputOneRemark" :auto-height="true" class="ml-20 f-13" style="max-height: 130rpx;width: 92%;" type="text" maxlength="200"
						placeholder="选填，请先和客服协商" />
				</view>
			</view>
		</view>
		<view class="price_box">
			<view class="price_box_cell">
				<view class="flex-1">商品金额</view>
				<view>￥{{goodpriced}}</view>
			</view>
			<view class="price_box_cell" v-if="logistics_fee>0">
				<view class="flex-1">运费</view>
				<view>￥{{logistics_fee}}</view>
			</view>
			<block v-if="activity_status!=1">
				<view class="price_box_cell" @click="showIngeter()" v-if="is_integral==1">
					<view class="flex-1">积分
						<block v-if="integral>0"> (共{{integral}}积分)</block>
					</view>
					<view class="display_flex">
						<view>{{integral_exchange_money>0?'-￥'+integral_exchange_money:'去选择'}}</view>
						<uni-icons type="right" size="18"></uni-icons>
					</view>
				</view>
			</block>
		</view>
		<view class="bottom_box" :style="'padding-bottom:'+bottomBox+'px'">
			<view class="display_flex">
				<view class="f-12 c-gray">共{{num}}件，</view>
				<view class="f-12">合计</view>
				<view class="f-12 c-red">￥</view>
				<view class="f-16 f-w  c-red">{{goodprice}}</view>
			</view>
			<view class="flex-1 display_flex" style="justify-content: flex-end;">
				<view @click="submitOrder" class="byuBtn" style="margin-left:30rpx;">提交订单</view>
			</view>
		</view>
		<uni-popup ref="popup" type="bottom" background-color="#ffffff">
			<view class="uni_popup_box">
				<view class="display_flex">
					<view class="display_flex_title">选择积分</view>
					<image @click="closeDialog" src="/static/images/close.png" class="closemask"></image>
				</view>
				<radio-group @change="radioChange">
					<label class="uni-list-cell uni-list-cell-pd">
						<view class="display_flex">
							<view class="flex-1 f-14">不使用积分</view>
							<radio value="0" :checked="current==0" color="#E10000" style="transform:scale(0.7)" />
						</view>
					</label>
					<label class="uni-list-cell uni-list-cell-pd">
						<view class="display_flex">
							<view class="flex-1 f-14">最高可使用{{max_integer_num}}积分，抵扣￥{{integral_exchange_num}}元</view>
							<radio value="1" :checked="current==1" color="#E10000" style="transform:scale(0.7)" />
						</view>

					</label>
					<label class="uni-list-cell uni-list-cell-pd">
						<view class="display_flex">
							<view class="flex-1 f-14">自定义使用数量</view>
							<radio value="3" :checked="current==3" color="#E10000" style="transform:scale(0.7)" />
						</view>
					</label>
				</radio-group>
				<view class="display_flex" v-if="showIntegerInput">
					<input class="weui-input integer_input" type="number" @input="bindinputinte"
						:value="integral_num>0?integral_num:''" placeholder="积分数量" />
					<view class="c-red ml-20 f-12" v-if="showIntegerInput">共{{integral}}积分</view>
				</view>
				<view class="block_btn_red mt-15" @click="submitInteger">确定</view>
			</view>
		</uni-popup>
	</view>
</template>

<script>
	import {
		getDefaultAddress,
		getLogistics,
		goodsAddcarts,
		orderAdd,
		getCartsList
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				info: '',
				num: 0,
				max_integer_num: 0,
				integral_exchange_num: 0,
				goodpriced: '',
				goodprice: '',
				orderlist: [],
				addr: '',
				logistics_fee: '',
				bottomBox: 8,
				showIntegerInput: false,
				integral_num: 0,
				integral: 0,
				integral_exchange_money: 0,
				activity_status: 0,
				is_integral: 0,
				current: 0,
				isPay: false,
				bottomHeight: 70,
				remark: ''
			};
		},
		onShow() {
			wx.hideShareMenu()
			this.integral = uni.getStorageSync('member') ? uni.getStorageSync('member').integral : 0
			if (uni.getStorageSync('addr')) {
				this.addr = uni.getStorageSync('addr')
				this.getLogistics()
				uni.removeStorage({
					key: 'addr'
				})
			} else {
				this.getDefaultAddress()
			}
		},
		onLoad(options) {
			if (app.globalData.statusBarHeight < 30) {
				this.bottomBox = 8
				this.bottomHeight = 60
			} else {
				this.bottomBox = 30
				this.bottomHeight = 80
			}

			if (app.good) {
				console.log(app.good)
				this.num = options.num
				this.info = app.good
				var keys = 'cuid_' + app.good.id
				this.commission_user_id = uni.getStorageSync(keys) ? uni.getStorageSync(keys) : 0
				this.apitype = 1
				this.activity_status = app.good.activity_status
				this.is_integral = app.good.is_integral
				this.integral_proportion = app.good.integral_proportion
				if (app.good.integral_exchange_type == 1) {
					this.max_integer_num = parseFloat(app.good.integral_exchange_num * app.good.integral_proportion *
						options.num)
					this.integral_exchange_num = parseFloat(app.good.integral_exchange_num * options.num)
				} else if (app.good.integral_exchange_type == 2) {
					var proportion = parseFloat(app.good.integral_exchange_proportion / 100)
					this.max_integer_num = parseFloat(proportion * app.good.price * app.good.integral_proportion *
						options.num)
					this.integral_exchange_num = parseFloat(proportion * app.good.price * options.num)
				}
				if (app.good.activity_status == 1) {
					if (app.good.deposit == '0.00') {
						this.goodpriced = parseFloat(app.good.price * options.num).toFixed(2)
					} else {
						this.goodpriced = parseFloat(app.good.deposit * options.num).toFixed(2)
					}

				} else {
					this.goodpriced = parseFloat(app.good.price * options.num).toFixed(2)
				}
				app.good = ''
			} else if (app.orderlist) {
				console.log(app.orderlist)
				this.orderlist = app.orderlist
				var orderlist = app.orderlist
				this.goodpriced = options.goodprice
				// this.getCartsList()
				this.apitype = 2
				app.orderlist = ''
				var cartIdsd = []
				var cartIdslist = []
				for (var j = 0; j < orderlist.length; j++) {
					var info = orderlist[j].info
					for (var i = 0; i < info.length; i++) {
						if (info[i].is_selection == 1) {
							cartIdslist.push(info[i].id)
							cartIdsd = cartIdslist.join(',')
						}
						this.cartIdsd = cartIdsd
						var good = info[i]
						if (good.is_selection == 1) {
							if (good.integral_exchange_type > 0) {
								this.integral_proportion = good.integral_proportion
								this.is_integral = 1
								if (good.integral_exchange_type == 1) {
									var max_integer_num = parseFloat(parseFloat(good.integral_exchange_num * good
										.integral_proportion * good.number) + parseInt(this.max_integer_num))
									var integral_exchange_num = parseFloat(parseFloat(good.integral_exchange_num * good
										.number) + parseInt(this.integral_exchange_num))
									this.max_integer_num = parseFloat(good.integral_exchange_num * good
										.integral_proportion *
										good.number + parseInt(this.max_integer_num))
									this.integral_exchange_num = parseFloat(parseFloat(good.integral_exchange_num * good
										.number) + parseInt(this.integral_exchange_num))
								} else if (good.integral_exchange_type == 2) {
									var proportion = parseFloat(good.integral_exchange_proportion / 100)
									this.max_integer_num = parseFloat(parseFloat(proportion * good.attr.price * good
										.integral_proportion * good.number) + parseInt(this
										.max_integer_num))
									this.integral_exchange_num = parseFloat(parseFloat(proportion * good.attr.price *
										good.number) + parseInt(this.integral_exchange_num))
								}
							}
						}
					}
				}

			}
		},
		methods: {
			inputRemark(e) {
				var indexd = e.currentTarget.dataset.indexd
				var index = e.currentTarget.dataset.index
				this.orderlist[indexd].info[index].remark = e.detail.value
			},
			inputOneRemark(e) {
				this.remark = e.detail.value
			},
			getCartsList() {
				getCartsList({
					channel_id: 0
				}).then(res => {
					if (res.state == 1) {
						var list = res.data
						if (list.length > 0) {
							var listlength = 0
							for (var i = 0; i < list.length; i++) {
								var info = list[i].info
								for (var j = 0; j < info.length; j++) {
									if (info[j].attr.number == 0) {
										list[i].info[j].is_selection = 0
									} else {}
								}
								let flag4allselect = info.every(function(item) {
									return item.is_selection == 0;
								});
								if (flag4allselect) {
									list[i].ischecked = false
								} else {
									list[i].ischecked = true
								}

							}
							this.orderlist = list
						} else {
							this.nolist = true
						}
					}
				})
			},
			getDefaultAddress() {
				getDefaultAddress().then(res => {
					if (res.state == 1) {
						this.addr = res.data
						if (this.info.is_offline == 1) {
							this.goodprice = parseFloat(this.info.goodpriced).toFixed(2)
						} else {
							if (res.data.id) {
								this.getLogistics()
							} else {
								uni.showModal({
									content: '您还没有设置收货地址，请点击确定去设置',
									confirmText: '取消',
									cancelText: "确定",
									success: function(res) {
										if (res.confirm) {
											console.log('用户点击取消');
										} else if (res.cancel) {
											uni.navigateTo({
												url: '/pages/shop/editaddress/editaddress?type=2'
											})

										}
									}
								});
								this.goodprice = parseFloat(this.info.goodpriced).toFixed(2)
							}

						}
					} else {
						this.addr = ''
						uni.showModal({
							content: '您还没有设置收货地址，请点击确定去设置',
							confirmText: '取消',
							cancelText: "确定",
							success: function(res) {
								if (res.confirm) {
									console.log('用户点击取消');
								} else if (res.cancel) {
									uni.navigateTo({
										url: '/pages/shop/editaddress/editaddress?type=2'
									})

								}
							}
						});
						this.goodprice = parseFloat(this.goodpriced).toFixed(2)
					}
				})
			},
			getLogistics() {
				if (this.apitype == 1) {
					var apiurl = "shop/logistics-good"
					var params = {
						address_id: this.addr.id,
						goods_id: this.info.id,
						goods_attr_id: this.info.goods_attr_id,
						number: this.num
					}
				} else {
					var apiurl = "shop/logistics"
					var params = {
						address_id: this.addr.id,
						cartIds: this.cartIdsd
					}
				}
				getLogistics(apiurl, params).then(res => {
					if (res.state == 1) {
						if (this.info.activity_status == 1) {
							if (this.info.deposit == '0.00') {
								var logistics_fee = parseFloat(res.data.logistics_fee)
							} else {
								var logistics_fee = 0
							}

						} else {
							var logistics_fee = parseFloat(res.data.logistics_fee)
						}
						if (this.info.is_offline == 1) {
							if (this.check_radio) {
								var goodprice = parseFloat(this.goodpriced) + parseFloat(logistics_fee)
							} else {
								var goodprice = parseFloat(this.goodpriced)
								var logistics_fee = 0
							}
						} else {
							var goodprice = parseFloat(this.goodpriced) + parseFloat(logistics_fee)
						}
						this.logistics_fee = logistics_fee.toFixed(2)
						this.goodprice = goodprice.toFixed(2)
					}

				})
			},
			submitOrder() {
				if (!this.isPay) {
					this.isPay = true
					if (this.info) {
						var goods_attr_id
						if (this.info.goods_attr_id) {
							goods_attr_id = this.info.goods_attr_id
						} else {
							var attrs = this.info.attrs
							for (var i = 0; i < attrs.length; i++) {
								if (attrs[i].active) {
									goods_attr_id = attrs[i].id
								}
							}
						}

						var params = {
							goods_id: this.info.id,
							goods_attr_id: goods_attr_id,
							number: this.num,
							is_buy: 1,
							is_buy_cancel: this.info.is_offline,
							commission_user_id: this.commission_user_id
						}
						goodsAddcarts(params).then(res => {
							if (res.state == 1) {
								var remarklist = []
								var paramsd = {
									id: res.data.id,
									remark: this.remark,
								}
								remarklist.push(paramsd)
								this.orderAdd(res.data.id, remarklist)
							}
						})
					} else {
						var list = this.orderlist
						var remarklist = []
						for (var i = 0; i < list.length; i++) {
							var info = list[i].info
							for (var j = 0; j < info.length; j++) {
								var paramsd = {
									id: list[i].info[j].id,
									remark: list[i].info[j].remark,
								}
								remarklist.push(paramsd)
							}
						}
						this.orderAdd(this.cartIdsd, remarklist)
					}
				}
			},
			orderAdd(cartIds, remarklist) {
				var params = {
					remarklist: remarklist,
					cartIds: cartIds,
					offline_type: this.offline_type,
					integral_num: parseInt(this.integral_num),
					media_id: 1
				}
				if (this.addr) {
					params.address_id = this.addr.id
					orderAdd(params).then(res => {
						if (res.state == 1) {
							uni.redirectTo({
								url: '/pages/shop/goodspay/goodspay?order_no=' + res.data.order_no +
									'&goodprice=' + this
									.goodprice + '&pages=1',
							})
						} else {
							this.isPay = false
							uni.showToast({
								title: res.error[0],
								mask: true,
								icon: 'none',
								duration: 1500
							})

						}
					})
				} else {
					if (this.info) {
						if (this.info.is_offline == 0) {
							uni.showModal({
								content: '您还没有设置收货地址，请点击确定去设置',
								confirmText: '取消',
								cancelText: "确定",
								success: function(res) {
									if (res.confirm) {
										console.log('用户点击取消');
									} else if (res.cancel) {
										uni.navigateTo({
											url: '/pages/shop/editaddress/editaddress?type=2'
										})
									}
								}
							});
						} else {
							orderAdd(params).then(res => {
								if (res.state == 1) {
									uni.redirectTo({
										url: '/pages/shop/goodspay/goodspay?order_no=' + res.data
											.order_no +
											'&goodprice=' + this
											.goodprice + '&pages=1',
									})
								} else {
									this.isPay = false
									uni.showToast({
										title: res.error[0],
										mask: true,
										icon: 'none',
										duration: 1500
									})

								}
							})
						}
					} else {
						uni.showModal({
							content: '您还没有设置收货地址，请点击确定去设置',
							confirmText: '取消',
							cancelText: "确定",
							success: function(res) {
								if (res.confirm) {
									console.log('用户点击取消');
								} else if (res.cancel) {
									uni.navigateTo({
										url: '/pages/shop/editaddress/editaddress?type=2'
									})
								}
							}
						});
					}
				}

			},
			goAddrList() {
				uni.navigateTo({
					url: '/pages/shop/addresslist/addresslist'
				})
			},
			goEditAddr() {
				uni.navigateTo({
					url: '/pages/shop/editaddress/editaddress?type=0'
				})
			},
			showIngeter() {
				this.$refs.popup.open('bottom')
			},
			closeDialog() {
				this.$refs.popup.close()
			},
			radioChange(e) {
				this.current = e.detail.value
				if (e.detail.value == 3) {
					this.integral_num = ''
					this.showIntegerInput = true
				} else if (e.detail.value == 0) {
					this.showIntegerInput = false
					this.integral_num = 0
				} else {
					this.showIntegerInput = false
					this.integral_num = this.max_integer_num
				}

			},
			bindinputinte(e) {
				this.integral_num = e.detail.value
			},
			submitInteger() {
				if (this.integral_num > this.integral) {
					uni.showToast({
						title: '最高可使用' + this.integral + '积分',
						mask: true,
						icon: 'none',
						duration: 1500
					})
				} else if (this.integral_num > this.max_integer_num) {
					uni.showToast({
						title: '最高可使用' + this.max_integer_num + '积分',
						mask: true,
						icon: 'none',
						duration: 1500
					})
				} else {
					var integral_exchange_money = parseFloat(this.integral_num / this.integral_proportion)
					var goodprice = parseFloat(this.goodpriced) + parseFloat(this.logistics_fee) - parseFloat(
						integral_exchange_money)
					this.integral_exchange_money = integral_exchange_money
					this.goodprice = goodprice
					this.$refs.popup.close()
				}
			}


		}
	}
</script>

<style lang="scss">
	.goodsorder_page {
		.top_addr_box {
			min-height: 100rpx;
			display: flex;
			align-items: center;
			padding: 30rpx 20rpx;
			border-bottom: 20rpx solid #F0F0F0;
			border-top: 1rpx solid #EAEAEA;

			.top_addr_img {
				width: 40rpx;
				height: 42rpx;
			}

			.top_addr_text {
				flex: 1;
				margin-left: 20rpx;

				.top_addr_user {
					font-weight: bold;
				}

				.top_addr {
					color: #3A3A3A;
					font-size: 24rpx;

				}
			}
		}

		.goods_box {
			padding: 30rpx 20rpx;
			border-bottom: 20rpx solid #F0F0F0;

			.shop_box {
				display: flex;
				align-items: center;

				.shop_logo {
					width: 60rpx;
					height: 60rpx;
					border-radius: 60px;
				}

				.shop_name {
					flex: 1;
					color: #3A3A3A;
					font-size: 24rpx;
					margin-left: 20rpx;
				}
			}

			.goodsinfo_box {
				display: flex;
				align-items: center;
				padding: 30rpx 0;

				.goodsinfo_img {
					width: 210rpx;
					height: 210rpx;
					border-radius: 5rpx;
				}

				.goodsinfo_content {
					flex: 1;
					height: 210rpx;
					margin-left: 20rpx;
					position: relative;

					.goodsinfo_title {
						color: #3A3A3A;
						font-size: 30rpx;
						font-weight: bold;
						line-height: 18px;
					}

					.goods_attr_box {
						display: inline-block;
						color: #3A3A3A;
						font-size: 22rpx;
						margin-top: 10rpx;
						background-color: #e8e8e8;
						border-radius: 30px;
						padding: 0 20rpx;
						line-height: 1.6;
					}

					.weui-badge {
						font-size: 22rpx;
						border-radius: 30px;
						background-color: #fff;
						color: #E10000;
						border: 1px solid #E10000;
						padding: 2rpx 5rpx;
					}

					.goodsinfo_price_box {
						position: absolute;
						bottom: 0;
						left: 0;
						right: 10rpx;
						font-size: 24rpx;

						.goodsinfo_price {
							color: #E10000;
							font-weight: bold;
						}
					}
				}
			}

			.delivery_time {
				color: #F6AB00;
				font-size: 24rpx;
			}
		}

		.price_box {
			font-size: 26rpx;
			padding: 10rpx 20rpx;
			box-shadow: 0 10rpx 20rpx 0 #eee;

			.price_box_cell {
				padding: 20rpx 0;
				display: flex;
				align-items: center;
			}
		}

		.byuBtn {
			min-width: 180rpx;
			max-height: 60rpx;
			font-size: 26rpx;
			color: #FFFFFF;
			background-color: #E10000;
			text-align: center;
			border-radius: 30px;
			padding: 18rpx 0;
		}

		.uni-popup {
			z-index: 9998;
		}

		.uni_popup_box {
			padding: 30rpx;

			.display_flex_title {
				flex: 1;
				font-size: 30rpx;
				font-weight: 600;
			}

			.closemask {
				width: 25rpx;
				height: 25rpx;
			}

			.integer_input {
				font-size: 26rpx;
				width: 180rpx;
				border: 1rpx solid #ddd;
				padding: 10rpx;
			}
		}

	}
</style>