<template>
	<view class="salescash_pages">
		<view class="salescash_input_box">
			<input placeholder="请输入姓名" />
		</view>
		<view class="salescash_input_box">
			<input placeholder="请输入银行卡号" type="number" maxlength="19" />
		</view>
		<view class="salescash_input_box">
			<input placeholder="请输入银行卡预留手机号" type="tel" maxlength="11" />
		</view>
		<view class="cash_btn_box">
			<view class="cash_btn" @click="cash()">绑定银行卡</view>
		</view>
	</view>
</template>

<script>
	import {
		getList,
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {

			};
		},
		onShow() {

		},
		onLoad() {
			wx.hideShareMenu()
		},
		methods: {
			cash() {
				uni.navigateTo({
					url: '/pages/shop/salescashresult/salescashresult'
				})
			}
		},
		// onShareAppMessage(res) {
		// 	return {

		// 	}
		// },
		// onShareTimeline: function() {
		// 	return {

		// 	}
		// },
	}
</script>

<style lang="scss">
	.salescash_pages {
		padding: 80rpx;

		.salescash_input_box {
			font-size: 24rpx;
			padding: 20rpx;
			margin-bottom: 30rpx;
			line-height: 45rpx;
			border-radius: 10rpx;
			background-color: #EEEDEB;
		}

		.salescash_name {
			color: #8C8C8C;
			width: 150rpx;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		.cash_btn_box {
			position: fixed;
			bottom: 10%;
			left: 0;
			right: 0;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.cash_btn {
			color: #030303;
			font-size: 28rpx;
			padding: 16rpx 60rpx;
			border-radius: 10rpx;
			margin-top: 30rpx;
			background-color: #FFBB00;
		}
	}
</style>