<template>
	<view class="post">
		<uni-nav-bar left-icon="back" title="发表动态" :statusBar="true" :fixed="true" @clickLeft="goBack"></uni-nav-bar>
		<view class="post_title">
			<textarea :value="title" placeholder="请填写标题" maxlength='200' @input="bindTitle" :auto-height="true"
				style="max-height: 90rpx;" />
		</view>
		<view class="post_content">
			<textarea :value="content" maxlength='5000' placeholder="请填写内容" @input="bindContent"
				style="height: 190rpx;" />
		</view>
		<view class="picbox">
			<view class="post_weui_grids">
				<block v-for="(item,index) in files" :key="index">
					<view class="weui_grid">
						<image class="weui_grid_icon" :src="item" mode="aspectFill" />
						<image class="delpic" src="/static/images/del.png" @click="delpic(index)"></image>
					</view>
				</block>
				<view class="weui_grid" v-if="files.length<9">
					<view class="uploadImg_box">
						<uni-icons type="plusempty" size="30" @click="chooseImg"></uni-icons>
					</view>
				</view>
			</view>
		</view>
		<view class="tpoic_box">
			<view class="posttpoiclist_box" v-if="topicname.length>0">
				<view class="weui-badge mr-10" @click="delTopic" v-for="(item,index) in topicname" :key="item.id"
					v-if="index<2">#{{item.name}}#</view>
			</view>
			<view class="f-12" style="color: #8e8e8e;" @click="delTopic" v-if="topicname.length>2">更多话题></view>
			<view class="weui-badged" @click="chooseTopic(0)" v-if="topicname.length==0">选择关联话题</view>
		</view>
		<view class="topic_type_box">
			<view>
				<uni-grid :column="6" :showBorder="false" :highlight="false" borderColor="#ffffff">
					<uni-grid-item v-for="(item,index) in clist" :key="item.id">
						<view class="topic_type_img" :style="'background-image: url('+item.pic_url+');'" @click="chooseTopic(item.id)">
							<view class="topic_type_name">{{item.name}}</view>
						</view>
					</uni-grid-item>
				</uni-grid>
			</view>
		</view>
		<view style="padding:1rpx 0;margin-top: 30rpx;">
			<view class="btn_block" style="margin: 30rpx;font-size: 28rpx;" @click="posted">发布</view>
		</view>
		<!-- <view class="bottombox">
			<view class="tpoic_box">
				<span class="f-12 c-gray ml-30">关联话题</span>
				<span class="weui-badge ml-10" @click="delTopic" v-for="(item,index) in topicname" :key="item.id"
					v-if="index<1">#{{item.name}}#</span>
				<span class="weui-badge ml-10" @click="delTopic" v-if="topicname.length>1">...</span>
				<span class="weui-badged ml-10" v-if="topicname.length==0">#暂时没有选择话题#</span>
			</view>
			<view class="bottom_block" :style="'padding-bottom:'+ bottomheight+'px;'">
				<view class="bottom_left_box">
					<image class="post_pic" src="/static/images/post_pic.png" @click="chooseImg"></image>
					<image class="post_pic ml-45" src="/static/images/post_topic.png" @click="chooseTopic"
						v-if="showTopic"></image>
				</view>
				<view class="btn-save" @click="posted">发表</view>
			</view>
		</view> -->
	</view>
</template>

<script>
	import {
		postBbs,
		getDraftInfo,
		getBbsInfo,
		checkText,
		getTopicCate
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				topicname: [],
				showTopic: true,
				title: '',
				content: '',
				images: [],
				cover: '',
				topics: '',
				h_id: '',
				draft_id: '',
				card_id: '',
				count: 9,
				files: [],
				images_url: [],
				postHeight: 200,
				btnDisabled: false,
				windowHeight: '',
				params: {},
				isSubmit: false,
				clist: []
			};
		},
		onLoad(options) {
			this.getTopicCate()
			if (options.id) {
				this.card_id = options.id
				this.getBbsInfo()
			}

			if (options.draft_id) {
				this.draft_id = options.draft_id
				this.getDraftInfo()
			}
			if (options.hid) {
				this.hid = options.hid
			}
			var params = {
				event_code: '发帖',
				path: 'pages/post/post',
				user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
				source: app.globalData.source,
				event_id: '',
				title: '',
				invitees_scene_id: '',
				source_page: '',
				value: '',
			}
			app.BurialPoint(params)

		},
		onShow() {
			var that = this

			uni.getStorage({
				key: 'namelist',
				success: function(res) {
					var topicname = res.data.concat(that.topicname)
					var namelist = new Array();
					var topics = []
					for (var i = 0, len = topicname.length; i < len; i++) {
						for (let j = i + 1; j < len; j++) {
							if (topicname[i].id == topicname[j].id) {
								topicname.splice(j, 1);
								// splice 会改变数组长度，所以要将数组长度 len 和下标 j 减一
								len--;
								j--;
							}
						}
					}
					for (var i = 0; i < topicname.length; i++) {
						topics.push(topicname[i].id)
					}

					that.topics = topics
					that.topicname = topicname

					uni.removeStorage({
						key: 'namelist',
						success: function(res) {},
					})
				},
			})
		},
		methods: {
			getTopicCate() {
				getTopicCate({
					media_id: 1
				}).then(res => {
					if (res.state == 1) {
						this.clist = res.data

					}
				})
			},
			getDraftInfo() {
				getDraftInfo({
					draft_id: this.draft_id
				}).then(res => {
					if (res.state == 1) {
						this.title = res.data.title
						this.content = res.data.content
						this.images_url = res.data.image
						this.images = res.data.image
						this.topicname = res.data.topics
						var list = []
						var topics = res.data.topics
						for (var i = 0; i < topics.length; i++) {
							list.push(topics[i].id)
						}
						this.topics = list
					} else {
						uni.showToast({
							title: res.data.error[0],
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			getBbsInfo() {
				this.params.user_id = this.user_id
				getBbsInfo(this.params, this.id).then(res => {
					if (res.state == 1) {
						this.title = res.data.title
						this.content = res.data.content
						this.images_url = res.data.image
						this.images = res.data.image
						this.topicname = res.data.topics
						var list = []
						var topics = res.data.topics
						for (var i = 0; i < topics.length; i++) {
							list.push(topics[i].id)
						}
						this.topics = list
					}
				})
			},
			bindTitle(e) {
				this.title = e.detail.value
			},
			bindContent(e) {
				this.content = e.detail.value
			},

			chooseImg() {
				var that = this
				var countNum = 9 - that.files.length
				if (countNum > 0) {
					uni.chooseImage({
						count: countNum,
						sizeType: ['original', 'compressed'], //可以指定是原图还是压缩图，默认二者都有
						sourceType: ['album'], //从相册选择
						success: function(res) {
							uni.showLoading({
								title: '正在上传'
							})
							var tempFilePaths = res.tempFilePaths
							that.files.push.apply(that.files, res.tempFilePaths)
							that.images = []
							that.images_url = []
							var files = that.files
							that.uploadImage(files, 0)
						}
					});
				} else {
					uni.showToast({
						title: '最多上传9张图片',
						icon: 'none',
						mask: true,
						duration: 1500
					})
				}
			},
			uploadImage(files, i) {
				var i
				uni.uploadFile({
					url: app.globalData.uploadUrl,
					filePath: files[i],
					name: 'img',
					success: (res) => {
						var picdata = JSON.parse(res.data);
						this.images_url.push(picdata.data.img_url);
						this.images.push(picdata.data.img);

						i++
						if (i < files.length) {
							this.uploadImage(files, i)
						} else {
							uni.hideLoading()
						}
					}
				});
			},
			delpic(index) {
				var that = this
				uni.showModal({
					content: '确定要删除这张图片吗？',
					confirmText: '删除',
					cancelText: "取消",
					success: function(res) {
						if (res.confirm) {
							that.images_url.splice(index, 1);
							that.images.splice(index, 1);
							that.files.splice(index, 1);
						} else if (res.cancel) {
							console.log('用户点击取消');
						}
					}
				});
			},
			chooseTopic(id) {
				uni.navigateTo({
					url: '/pages/topic/topic?scene=' + id
				})
			},
			delTopic() {
				uni.setStorage({
					key: 'namelist',
					data: this.topicname,
				})
				uni.navigateTo({
					url: '/pages/topicdel/topicdel'
				})
				this.topicname = []
			},
			posted() {
				if (!this.isSubmit) {
					this.isSubmit = true
					this.btnDisabled = true
					if (this.title == '' && this.content == '') {
						uni.showToast({
							title: '请填写标题和内容',
							icon: 'none',
							duration: 1500
						})
						this.btnDisabled = false
						this.isSubmit = false
					} else {
						var content = this.title + this.content
						checkText({
							content: content
						}).then(res => {
							if (res.state == 1) {
								var params = {
									cid: 0,
									title: this.title,
									content: this.content,
									images: this.images,
									cover: this.cover,
									topics: this.topics,
									h_id: this.h_id,
									card_id: this.card_id,
									draft_id: this.draft_id
								}
								postBbs(params).then(res => {
									if (res.state == 1) {
										this.btnDisabled = false
										this.topicname = []
										uni.navigateBack({
											delta: 1
										})
										uni.setStorage({
											key: 'onload',
											data: true,
										})
									} else {
										this.btnDisabled = false
										this.isSubmit = false
										uni.showToast({
											title: res.data.error[0],
											icon: 'none',
											duration: 1500
										});
									}
								})
							} else {
								this.btnDisabled = false
								this.isSubmit = false
								uni.showToast({
									title: res.error[0],
									mask: true,
									icon: 'none',
									duration: 1500
								});
							}

						})
					}
				}
			},
			goBack() {
				var that = this
				if (that.title || that.content || that.images.length > 0) {
					uni.showModal({
						content: '是否保存为草稿？',
						confirmText: '保存',
						cancelText: "不保存",
						confirmColor: '#f6ab00',
						success: function(res) {
							if (res.confirm) {
								var params = {
									cid: 0,
									draft_id: that.draft_id,
									title: that.title,
									content: that.content,
									images: that.images,
									cover: that.cover,
									topics: that.topics,
									h_id: that.h_id,
									is_draft: 1
								}
								postBbs(params).then(res => {
									if (res.state == 1) {
										uni.navigateBack({
											delta: 1
										})
										if (that.draft_id) {
											uni.setStorage({
												key: 'onload',
												data: true,
											})
										}

										that.topicname = []
									} else {
										uni.showToast({
											title: res.data.error[0],
											icon: 'none',
											duration: 1500
										});
									}
								})
							} else if (res.cancel) {
								uni.navigateBack({
									delta: 1
								})
								that.topicname = []
							}
						}
					});
				} else {
					uni.navigateBack({
						delta: 1
					})
				}

			},

		},
		onUnload() {
			this.topicname = []
		}
	}
</script>

<style lang="scss">
	.post {
		.post_title {
			padding: 15px;
			font-size: 14px;
		}


		.uni-grid-item__box {
			border: 5rpx solid #fff;
		}


	}
</style>
