<template>
	<view class="login_box">
		<!-- #ifdef APP-PLUS ||H5 -->
		<image class="applogo" src="../../static/images/logo.png"></image>
		<view class="applogin_box">
			<view class="loginInput_box">
				<image class="applogin_mobile_img" src="../../static/images/mobile.png"></image>
				<input class="loginInput" :value="mobile" maxlength="11" type="number" placeholder="输入手机号"
					@input="inputPhone" />
				<view :class="ismobile?'code_btn':'code_btn code_btn_def'" @click="getCode">{{codeText}}</view>
			</view>
			<view class="loginInput_box">
				<image class="applogin_code_img" src="../../static/images/code.png"></image>
				<input class="loginInput" maxlength="6" type="number" :focus="codeFocus" placeholder="输入验证码"
					@input="inputCode" />
			</view>
			<view :class="isShowlogin?'applogin_brn':'applogin_brn applogin_brn_def'" @click="motorphoneLogin">登录</view>
			<view class="agreement">
				<radio value="r1" :checked="checked" style="transform:scale(0.6)" color='#FFBB00'
					@click="checkboxChange" />
				<view @click="checkboxChange">
					登录注册表示同意
				</view>
				<view class="agreement_text"><span @click="goRegister">用户协议、</span><span @click="goPrivacy">隐私条款</span>
				</view>
			</view>
			<view class="login_btn_box">
				<view class="f-12 c-gray mb-10">其他登录方式</view>
				<view class="login_btn_flex">
					<image v-if="showIosLogin" @click="appAppleLogin()" class="app_img"
						src="../../static/images/iphone.png"></image>
					<image @click="appWechatLogin()" class="app_img" src="../../static/images/wecheck.png"></image>
				</view>
			</view>
		</view>
		<!-- #endif -->
		<!-- #ifdef MP -->
		<image class="logo" src="../../static/images/logo.png"></image>
		<view class="login_name mt-20">汽车时间</view>
		<view class="login_btn_box">
			<view class="login_btn_flex">
				<button class="nologin_btn" type="default" @click="noLogin">暂不登录</button>
				<!-- #ifdef MP-WEIXIN -->
				<button class="login_btn" @click="WXLogin">授权登录</button>
				<!-- #endif -->
				<!-- #ifdef MP-TOUTIAO -->
				<button class="login_btn" @click="Login">授权登录</button>
				<!-- <button class="login_btn" open-type="getPhoneNumber" @getphonenumber="getPhoneNumber">授权手机号</button> -->
				<!-- #endif -->
				<!-- #ifdef MP-BAIDU -->
				<button class="login_btn" open-type="getUserInfo" @getuserinfo="Login" v-if="!phoneNum">授权登录</button>
				<button class="login_btn" open-type="getPhoneNumber" @getphonenumber="getPhoneNumber"
					v-else>授权手机号</button>
				<!-- #endif -->
				<!-- #ifdef MP-ALIPAY||MP-QQ||MP-360 -->
				<button class="login_btn" open-type="getUserInfo" @getuserinfo="Login">授权登录</button>
				<!-- #endif -->
			</view>
		</view>
		<!-- #endif -->
	</view>
</template>

<script>
	import {
		motorLogin,
		motorappLogin,
		getCode,
		motorphoneLogin,
		motorappAppleLogin,
		getEquipment,
		getMemberInfo
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				checked: false,
				showIosLogin: false,
				platform: app.globalData.platform,
				system: parseInt(app.globalData.system),
				codeText: '获取验证码',
				phoneNum: false,
				mobile: '',
				code: '',
				ismobile: false,
				isShowlogin: false,
				codeFocus: false,
				is_initial: 0,
				is_goan: 0,
				isSubmit: true
			}
		},
		onLoad(options) {
			this.is_goan = options.is_goan ? options.is_goan : 0
		},
		onShow() {
			var params = {
				event_code: '登录授权',
				path: 'pages/login/login',
				user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
				source: app.globalData.source,
				invitees_scene_id: '',
				source_page: '',
				event_id: '',
				title: '',
				value: '',
			}
			app.BurialPoint(params)
			var platform = app.globalData.platform
			var system = parseInt(app.globalData.system)
			if (platform == 'ios' && system >= 13) {
				this.showIosLogin = true
			} else {
				this.showIosLogin = false
			}
		},
		methods: {
			goRegister() {
				uni.navigateTo({
					url: '/pages/webpage/webpage?scene=https://www.motortime.com/agreement'

				})
			},
			goPrivacy() {
				uni.navigateTo({
					url: '/pages/webpage/webpage?scene=https://www.motortime.com/privacy'
				})
			},
			getPhoneNumber(e) {
				var that = this
				uni.getProvider({
					service: 'oauth',
					success: function(res) {
						console.log(res.provider)
						var provider = res.provider.toString()
						uni.login({
							provider: provider,
							success: function(loginRes) {
								var code = loginRes.code
								var params = {
									code: code,
									userInfo: uni.getStorageSync('member'),
									encryptedData: e.detail.encryptedData,
									iv: e.detail.iv,
									equipment_id: uni.getStorageSync('equipment_id')
								}
								motorLogin(params).then(res => {
									if (res.state == 1) {
										uni.setStorage({
											key: 'access_token',
											data: res.data.access_token,
											success: function() {
												that.getMemberInfo()
											}
										});
									} else {
										uni.removeStorage({
											key: 'member'
										})
									}
								})
							},
						})
					},
				})
			},
			WXLogin(e) {
				var that = this
				if (that.isSubmit) {
					that.isSubmit = false
					uni.login({
						provider: 'weixin',
						scopes: 'auth_user',
						success: function(loginRes) {
							var code = loginRes.code
							var params = {
								code: code,
								equipment_id: uni.getStorageSync(
									'equipment_id')
							}
							motorLogin(params).then(res => {
								if (res.state == 1) {
									that.is_initial = res.data.user.is_initial
									uni.setStorage({
										key: 'access_token',
										data: res.data
											.access_token,
										success: function() {
											setTimeout(function() {
												that.getMemberInfo()
												that.isSubmit = true
											}, 200)

										}
									});
								} else {
									that.isSubmit = true
									uni.showToast({
										title: res.error[0],
										mask: true,
										icon: 'none',
										duration: 1500
									})
								}

							})
						}
					});
				}
			},
			Login(e) {
				var that = this
				if (that.isSubmit) {
					that.isSubmit = false
					uni.getProvider({
						service: 'oauth',
						success: function(res) {
							console.log(res.provider)
							var provider = res.provider.toString()
							uni.login({
								provider: provider,
								success: function(loginRes) {
									console.log(loginRes);
									var code = loginRes.code
									if (provider == 'baidu') {
										var params = {
											code: code,
											userInfo: e.detail.userInfo
										}
										motorLogin(params).then(res => {
											if (res.state == 1) {
												if (res.data.user.mobile) {
													uni.setStorage({
														key: 'access_token',
														data: res.data
															.access_token,
														success: function() {
															that.getMemberInfo()
														}
													});
												} else {
													uni.setStorage({
														key: 'member',
														data: res.data
															.user,
														success: function() {
															that.phoneNum =
																true
														}
													});
												}
												that.isSubmit = true
											} else {
												that.isSubmit = true
												uni.showToast({
													title: res.error[0],
													mask: true,
													icon: 'none',
													duration: 1500
												})
											}
										})
									} else if (provider == 'toutiao') {
										uni.getUserInfo({
											success(res) {
												var params = {
													code: code,
													source: app.globalData.source,
													userInfo: res.userInfo,
													equipment_id: uni.getStorageSync(
														'equipment_id')
												}
												motorLogin(params).then(res => {
													if (res.state == 1) {
														uni.setStorage({
															key: 'access_token',
															data: res.data
																.access_token,
															success: function() {
																that.getMemberInfo()
																that.isSubmit =
																	true
															}
														});
													} else {
														that.isSubmit = true
														uni.showToast({
															title: res
																.error[0],
															mask: true,
															icon: 'none',
															duration: 1500
														})
													}
												})
											}
										})
									}

								}
							});
						}
					});
				}
			},
			//App微信登录
			appWechatLogin() {
				if (!this.checked) {
					uni.showToast({
						title: '请阅读并同意用户协议、隐私条款',
						icon: 'none'
					})
					return false
				}
				var that = this
				if (that.isSubmit) {
					that.isSubmit = false
					uni.login({
						provider: 'weixin',
						success: function(loginRes) {
							uni.showLoading({
								mask: true,
								title: '登录中'
							});
							var code = loginRes.code
							var authResult = loginRes.authResult
							var params = {
								openid: authResult.openid,
								unionid: authResult.unionid,
								access_token: authResult.access_token,
								source: app.globalData.source,
								equipment_id: uni.getStorageSync('equipment_id')
							}
							motorappLogin(params).then(res => {
								if (res.state == 1) {
									uni.setStorage({
										key: 'access_token',
										data: res.data
											.access_token,
										success: function() {
											that.getMemberInfo()
											that.isSubmit = true
										}
									});
								} else {
									that.isSubmit = true
									uni.showToast({
										title: res.data.error[0],
										icon: 'none'
									})
								}
							})
						},
						complete: function(loginRes) {
							console.log('complete===')
						},
						fail: function(loginRes) {
							console.log('fail===')
						},
					});
				}
			},
			//Appapple登录
			appAppleLogin() {
				if (!this.checked) {
					uni.showToast({
						title: '请阅读并同意用户协议、隐私条款',
						icon: 'none'
					})
					return false
				}
				var that = this
				if (that.isSubmit) {
					that.isSubmit = false
					var appleOauth = null;
					plus.oauth.getServices(function(services) {
						uni.showLoading({
							mask: true,
							title: '登录中'
						});
						for (var i in services) {
							var service = services[i];
							// 获取苹果授权登录对象，苹果授权登录id 为 'apple' iOS13以下系统，不会返回苹果登录对应的 service    
							if (service.id == 'apple') {
								appleOauth = service;
								break;
							}
						}
						appleOauth.login(function(oauth) {
							// 授权成功，苹果授权返回的信息在 oauth.target.appleInfo 中    
							var params = {
								identity_token: oauth.target.appleInfo.identityToken,
								appleInfo: oauth.target.appleInfo,
								source: app.globalData.source,
								equipment_id: uni.getStorageSync('equipment_id')
							}
							motorappAppleLogin(params).then(res => {
								if (res.state == 1) {


									uni.setStorage({
										key: 'access_token',
										data: res.data
											.access_token,
										success: function() {
											that.getMemberInfo('a')
											that.isSubmit = true
										}
									});
								} else {
									that.isSubmit = true
									uni.showToast({
										title: res.data.error[0],
										icon: 'none'
									})
								}
							})
						}, function(err) {
							// 授权失败 error  
						}, {
							// 默认只会请求用户名字信息，如需请求用户邮箱信息，需要设置 scope: 'email'    
							scope: 'email'
						})
					}, function(err) {
						// 获取 services 失败  
					})
				}
			},
			inputPhone(e) {
				this.mobile = e.detail.value
				if ((/^1[3456789]\d{9}$/.test(this.mobile))) {
					this.ismobile = true
					if (this.code.length == 6 && this.checked) {
						this.isShowlogin = true
					}
				} else {
					this.ismobile = false
					this.isShowlogin = false
				}
			},
			inputCode(e) {
				this.code = e.detail.value
				if ((/^1[3456789]\d{9}$/.test(this.mobile)) && this.code.length == 6 && this.checked) {
					this.isShowlogin = true
				} else {
					this.isShowlogin = false
				}
			},
			//获取验证码
			getCode() {
				if (this.ismobile) {
					this.codeFocus = true
					let second = 60;
					let params = {
						mobile: this.mobile
					}
					if (this.isSubmit) {
						this.isSubmit = false
						getCode(params).then(res => {
							if (res.state == 1) {
								this.isSubmit = true
								// this.code = res.data.data
							} else {
								this.isSubmit = true
								uni.showToast({
									title: res.error[0],
									mask: true,
									icon: 'none',
									duration: 1500
								})
							}
						})
						const timer = setInterval(() => {
							second--;
							if (second) {
								this.ismobile = false
								this.codeText = second + "s后重新获取"
							} else {
								clearInterval(timer);
								this.codeText = "获取验证码"
								this.ismobile = true
							}
						}, 1000);
					}

				}


			},
			motorphoneLogin() {
				if (!this.mobile) {
					uni.showToast({
						title: '请输入手机号',
						icon: 'none'
					})
					return false
				} else if (!(/^1[3456789]\d{9}$/.test(this.mobile))) {
					uni.showToast({
						title: '请输入正确的手机号',
						icon: 'none'
					})
					return false
				} else if (this.code.length < 6) {
					uni.showToast({
						title: '请输入验证码',
						icon: 'none'
					})
					return false
				} else if (!this.checked) {
					uni.showToast({
						title: '请阅读并同意用户协议、隐私条款',
						icon: 'none'
					})
					return false
				}
				var that = this
				if (that.isSubmit) {
					that.isSubmit = false
					var params = {
						mobile: that.mobile,
						code: that.code,
						source: app.globalData.source,
						equipment_id: uni.getStorageSync('equipment_id')
					}
					motorphoneLogin(params).then(res => {
						if (res.state == 1) {
							uni.setStorage({
								key: 'access_token',
								data: res.data
									.access_token,
								success: function() {
									that.getMemberInfo()
									that.isSubmit = true
								}
							});
						} else {
							that.isSubmit = true
							uni.showToast({
								title: res.error[0],
								icon: 'none',
							});
						}
					})
				}
			},
			noLogin() {
				uni.navigateBack({
					delta: 1
				})
			},
			getMemberInfo(type) {
				var that = this
				getMemberInfo({
					source: app.globalData.source,
					media_id: 1
				}).then(res => {
					if (res.state == 1) {
						uni.hideLoading()
						uni.setStorage({
							key: 'member',
							data: res.data
						});
						uni.setStorage({
							key: 'onload',
							data: true,
						});
						if (res.data.mobile) {
							uni.navigateBack({
								delta: 1
							})
						} else {
							if (type == 'a') {
								uni.redirectTo({
									url: '/pages/bindingmobile/bindingmobile'
								})
							} else {
								if (that.is_initial == 1 && that.is_goan == 1) {
									uni.redirectTo({
										url: '/pages/memberinit/memberinit'
									})
								} else {
									uni.navigateBack({
										delta: 1
									})
								}

							}
						}
					} else {
						uni.hideLoading()
					}
				})
			},
			checkboxChange(e) {
				if (!this.checked) {
					app.getEquipment()
				}
				this.checked = this.checked ? false : true
				if ((/^1[3456789]\d{9}$/.test(this.mobile)) && this.code.length == 6 && this.checked) {
					this.isShowlogin = true
				} else {
					this.isShowlogin = false
				}
			}

		}
	}
</script>

<style lang="scss">
	page {
		overflow: hidden;
	}

	.login_box {
		text-align: center;

		.applogo {
			width: 75px;
			height: 75px;
			margin-top: 20%;
			border-radius: 50px;
		}

		.applogin_box {
			padding: 80rpx 50rpx;

			.loginInput_box {
				display: flex;
				align-items: center;
				margin-bottom: 40rpx;
				padding: 20rpx;
				border-bottom: 1rpx solid #DDDDDD;

				.applogin_mobile_img {
					width: 28rpx;
					height: 45rpx;
					margin-right: 50rpx;
				}

				.applogin_code_img {
					width: 34rpx;
					height: 40rpx;
					margin-right: 50rpx;
				}

				.loginInput {
					flex: 1;
					font-size: 30rpx;
					text-align: left;
				}

				.code_btn {
					color: #FFFFFF;
					font-size: 24rpx;
					padding: 15rpx 20rpx;
					border-radius: 60rpx;
					background-color: #F6AB00;
					// #F6AB00
					// #F0F0F0

				}

				.code_btn_def {
					color: #9A9A9A;
					background-color: #F0F0F0;
				}

			}

			.applogin_brn {
				// margin: 0 25rpx;
				height: 80rpx;
				display: flex;
				align-items: center;
				justify-content: center;
				color: #FFFFFF;
				font-size: 36rpx;
				border-radius: 60rpx;
				background-color: #F6AB00;
			}

			.applogin_brn_def {
				color: #9A9A9A;
				background-color: #F0F0F0;
			}

			.login_btn_box {
				position: fixed;
				bottom: 80px;
				left: 0;
				right: 0;
				margin: 0 auto;

				.login_btn_flex {
					display: flex;
					justify-content: center;
					align-items: center;

					.app_img {
						width: 60rpx;
						height: 60rpx;
						margin: 0 50rpx;
					}
				}
			}

			.agreement {
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 24rpx;
				color: #9A9A9A;
				margin-top: 20rpx;

				.agreement_text {
					color: #3A3A3A;
				}
			}
		}

		.logo {
			width: 75px;
			height: 75px;
			margin-top: 50%;
			border-radius: 50px;
		}

		.login_name {
			color: #F6AB01;
			font-size: 20px;
			font-weight: 500;
		}

		.login_btn_box {
			position: fixed;
			bottom: 50px;
			left: 0;
			right: 0;
			margin: 0 auto;

			.login_btn_flex {
				display: flex;
				justify-content: center;
			}

			uni-button {
				line-height: 1 !important;
				color: #3A3A3A !important;
				font-size: 15px !important;
				padding-left: 40px !important;
				padding-right: 40px !important;
				padding: 15px 40px !important;

			}

			.nologin_btn {
				line-height: 1 !important;
				background-color: #fff;
				margin: 0 8px;
				padding: 15px 40px !important;
				color: #3A3A3A !important;
				font-size: 15px !important;
				border-radius: 5px !important;
				border: 1px solid rgba(0, 0, 0, .2);
			}

			.login_btn {
				line-height: 1 !important;
				color: #fff !important;
				font-size: 15px !important;
				background-color: #F6AB01;
				margin: 0 8px;
				padding: 15px 40px !important;
				border-radius: 5px !important;
				border: 0px solid rgba(0, 0, 0, .2) !important;

			}

			uni-button:after {
				border: 0px solid rgba(0, 0, 0, .2) !important;
			}

			swan-button:after {
				border: 0px solid rgba(0, 0, 0, .2) !important;
			}
		}
	}
</style>