<template>
	<view class="askinfo">
		<view class="question_box">
			<view class="question_title_box">
				<image class="question_icon" src="/static/images/question.png"></image>
				<view class="question_title">{{info.question}}</view>
			</view>
			<view class="answer_box">
				<text>{{info.content}}</text>
				<view class="question_img_box" v-for="item in info.image" :key="item">
					<image @click="showImg(item,index)" class="question_img" mode="aspectFill" :src="item"></image>
				</view>
				<view class="display_flex mt-15">
					<view class="flex-1 display_flex">
						<view class="c-gray f-12" v-if="info.answer_num>0">{{info.answer_num}}个回答</view>
						<view class="c-gray f-12 ml-10" v-if="info.collect_num>0">{{info.collect_num}}个收藏</view>
					</view>
					<view class="ques_reply_btn" @click="goAnswer()">
						<image class="ques_reply_btn_icon" src="/static/images/answer.png"></image>
						我要回答
					</view>
				</view>
			</view>
		</view>
		<view class="ques_list_box" :style="'padding-bottom:'+bottomHeight+'px'">
			<view class="ques_list_cell">
				<view class="display_flex">
					<view class="flex-1 display_flex" @click="goUserInfo(answer.user.id)">
						<view class="ques_user_avatar_box">
							<image class="ques_user_avatar" :src="answer.user.headimg_url"></image>
						</view>
						<view class="ml-15">
							<view class="f-w f-15">{{answer.user.user_name}}</view>
							<view class="c-gray f-12 mt-5">{{answer.answer_time}}</view>
						</view>
					</view>
					<view class="motor_list_user_follow" @click="followUser(answer.user.id,1)"
						v-if="answer.user.is_follow==0">
						<uni-icons type="plusempty" size="12" color="#F6AB00">
						</uni-icons>关注
					</view>
					<view class="motor_list_user_followd" @click="followUser(answer.user.id,2)" v-else>
						已关注
					</view>
				</view>
				<view class="answer_box">
					<view v-for="(item,index) in answer.content" :key="item" style="align-items: flex-start;">
						<view class="answer_img_box" style="width: 100%;" v-if="item.img">
							<image @click="showAnswerImg(item.img)" class="answer_img" style="width: 100%;"
								mode="aspectFill" :src="item.img"></image>
						</view>
						<view v-if="item.text" class="question_text_box mt-10">
							<image class="answers_icon" src="/static/images/answers.png" v-if="index==0"></image>
							{{item.text}}
						</view>
					</view>
				</view>
				<view class="display_flex mt-20">
					<view class="display_flex" style="width: 50%;justify-content: center;">
						<view class="answer_defult_btn" @click="praise(1)">
							<image class="comment_icon" src="/static/images/zan-active.png" v-if="answer.is_adopt==1">
							</image>
							<image class="comment_icon" src="/static/images/zan.png" v-else></image>
							<view class="ml-10">采纳答案</view>
						</view>
					</view>
					<view class="display_flex" style="width: 50%;justify-content: center;">
						<view class="answer_defult_btn" @click="praise(2)">
							<image class="comment_icon" src="/static/images/nozan-active.png"
								v-if="answer.is_praiseno==1">
							</image>
							<image class="comment_icon" src="/static/images/nozan.png" v-else></image>
							<view class="ml-10">没 帮 助</view>
						</view>
					</view>
				</view>
				<view class="display_flex mt-25 f-12 c-gray">
					<view class="flex-1">
						<span v-if="answer.reply_num>0">阅读量 {{answer.reply_num}}</span>
					</view>
					<view @click="reportQues">举报</view>
				</view>
			</view>
			<view class="commentlist_box">
				<view class="article_info_title">
					全部评论
					<view class="comment_type" @click="changeOrder()">{{params.order==1?'按时间':'按热度'}}</view>
				</view>
				<view class="commentlist_cell" v-for="(item,index) in commentlist" :key="item">
					<view class="comment_member_box mb-10">
						<image class="comment_member_img" @click="goUserInfo(item.user.id)"
							:src="item.user.headimg_url?item.user.headimg_url:'/static/images/default-avatar.png'">
						</image>
						<view class="comment_member_name ml-15" @click="goUserInfo(item.user.id)">
							{{item.user.user_name}}
							<span class="comment_member_userform" v-if="item.user.form">[{{item.user.form}}</span>
						</view>
						<view class="comment_praise" @click="commentPraise(index)">
							<image class="comment_praise_img mr-10"
								:src="item.is_praise==1?'/static/images/zan-active.png':'/static/images/zan.png'">
							</image>
							{{item.praise_num>0?item.praise_num:''}}
						</view>
					</view>
					<view class="comment_content mb-15 ml-45">
						{{item.content}}
					</view>
					<view class="auditbox mb-15 ml-45" v-if="item.is_audit==0">{{audit_text}}</view>
					<view class="comment_action ml-45">
						<view class="comment_time">{{item.create_time}} ·
							<span v-if="item.is_audit==1" class="comment_reply_num ml-5" @click="goComment(item.id)"> 回复
								<span v-if="item.reply_num>0">({{item.reply_num}})</span>
							</span>
							<span v-else class="comment_reply_num ml-5"> 回复 <span
									v-if="item.reply_num>0">({{item.reply_num}})</span>
							</span>
						</view>
						<view class="comment_report" @click="delComment(index)" v-if="item.user.id==user_id">删除
						</view>
						<!-- <view class="comment_report" v-else>举报</view> -->

					</view>
					<view class="comment_reply_box ml-45 mt-15" v-if="item.replys" @click="moreReply(item.id,index)">
						<block v-for="(itemr,indexr) in item.replys" :key="itemr" v-if="indexr<3">
							<view class="comment_reply_cell">
								<span class="comment_reply_username mr-5">{{itemr.user.user_name}}</span>
								回复
								<span class="comment_reply_username ml-5 mr-5">@{{itemr.reuser.user_name}} :</span>
								{{itemr.content}}
							</view>
							<view class="auditbox mb-10" v-if="itemr.is_audit==0">{{audit_text}}</view>
						</block>
						<view class="comment_reply_username mt-10" v-if="item.replys.length>3">
							共{{item.replys.length}}条回复
							>
						</view>
					</view>
				</view>
				<view class="no_comments">
					<image v-if="noCommentText=='加载中'" class="loading_gift" src="/static/images/gif.gif">
					</image>
					<view class="mt-5">{{noCommentText}}</view>
				</view>
			</view>
			<view class="bottom_box" :style="'padding-bottom:'+bottomBox+'px;'">
				<view class="fake_input" @click="goComment">发表评论...</view>
				<view class="bottom_info ml-20" @click="goComments">
					<image class="bottom_img mr-5" src="/static/images/comment.png"></image>
					{{info.reply_num>0?info.reply_num:''}}
				</view>
				<view class="bottom_info ml-20" @click="collect">
					<image class="bottom_img"
						:src="answer.is_collect==1?'/static/images/collect_active.png':'/static/images/collect.png'">
					</image>
				</view>
				<!-- #ifdef MP-TOUTIAO|| MP-BAIDU||MP-ALIPAY||MP-QQ||MP-360 -->
				<button class="bottom_info ml-20" open-type="share">
					<image class="bottom_img" src="/static/images/shared.png"></image>
				</button>
				<!-- #endif -->
				<!-- #ifdef MP-WEIXIN||APP-PLUS -->
				<view class="bottom_info ml-20" @click="showShare=true">
					<image class="bottom_img" src="/static/images/shared.png"></image>
				</view>
				<!-- #endif -->
			</view>
			<block v-if="showShare">
				<view class="share_box" :style="'padding-bottom:'+bottomBox+'px'">
					<!-- #ifdef MP -->
					<button class="share_cell" open-type="share">
						<image class="share_img" src="/static/images/wecheck.png"></image>
						<view>微信好友</view>
					</button>
					<view class="share_cell" @click="getPoster">
						<image class="share_img" src="/static/images/friend.png"></image>
						<view>朋友圈</view>
					</view>
					<!-- #endif -->
					<!-- #ifdef APP-PLUS -->
					<view class="share_cell" @click="shareApp('WXSceneSession')">
						<image class="share_img" src="/static/images/wecheck.png"></image>
						<view>微信好友</view>
					</view>
					<view class="share_cell" @click="shareApp('WXSenceTimeline')">
						<image class="share_img" src="/static/images/friend.png"></image>
						<view>朋友圈</view>
					</view>
					<!-- #endif -->
				</view>
				<view class="wask_box" @click="showShare=false"></view>
			</block>
			<block v-if="showShareUrl">
				<view class="share_url_box">
					<image class="share_url" :src="share_url" mode="widthFix"></image>
					<view class="shareBtn" @click="showShareUrl=false">我知道了</view>
				</view>
				<view class="wask_box" @click="showShareUrl=false"></view>
			</block>
		</view>
	</view>
</template>

<script>
	import {
		getAskInfo,
		followUser,
		quesAdopt,
		quesPraiseNo,
		getAskCommentList,
		askCommPraise,
		askCollect,
		askPoster,
		askCommDel
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				aid: '',
				info: '',
				user_id: '',
				answer: '',
				commentlist: [],
				showShare: false,
				showShareUrl: false,
				share_url: '',
				bottomBox: uni.getSystemInfoSync().safeAreaInsets.bottom > 0 ? uni.getSystemInfoSync().safeAreaInsets
					.bottom : 8,
				bottomHeight: uni.getSystemInfoSync().safeAreaInsets.bottom + 50,
				params: {
					id: '',
					page: 1,
					order: 1,
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : ''
				},
				noCommentText: '加载中'
			};
		},
		onShow() {
			if (uni.getStorageSync('onload')) {
				this.user_id = uni.getStorageSync('member') ? uni.getStorageSync('member').id : ''
				this.getAskInfo()
				this.commentlist = []
				this.params.page = 1
				this.getAskCommentList()
				uni.removeStorage({
					key: 'onload'
				})
			}
			if (uni.getStorageSync('comment')) {
				this.commentlist = []
				this.params.page = 1
				this.getAskCommentList()
				uni.removeStorage({
					key: 'comment'
				})
			}

		},
		onLoad(options) {
			this.aid = options.scene
			this.params.id = options.scene
			this.user_id = uni.getStorageSync('member') ? uni.getStorageSync('member').id : ''
			this.getAskInfo()
			this.getAskCommentList()
			var params = {
				event_code: '问答-答案详情',
				path: 'pages/question/askinfo/askinfo',
				user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
				source: app.globalData.source,
				invitees_scene_id: '',
				source_page: '',
				event_id: '',
				title: '',
				value: '',
			}
			app.BurialPoint(params)
		},
		methods: {
			getAskInfo() {
				getAskInfo({
					id: this.aid,
					user_id: this.user_id
				}).then(res => {
					if (res.state == 1) {
						this.info = res.data
						this.answer = res.data.answer
					}
				})
			},
			getAskCommentList() {
				getAskCommentList(this.params).then(res => {
					if (res.state == 1) {
						this.commentlist = [...this.commentlist, ...res.data.data]
						this.last_page = res.data.last_page
						this.current_page = res.data.current_page
						if (res.data.total == 0) {
							this.noCommentText = '暂无评论'
						} else {
							this.noCommentText = ''
						}
					}
				})
			},
			goAnswer() {
				if (uni.getStorageSync('access_token')) {
					if (uni.getStorageSync('member').stop_status == 1) {
						uni.showModal({
							content: uni.getStorageSync('member').stop_time,
							confirmText: "确定",
							confirmColor: "#F6AB00",
							showCancel: false,
							success: function(res) {
								console.log(res);
							}
						});
					} else {
						uni.navigateTo({
							url: '/pages/question/postanswer/postanswer?id=' + this.info.id + '&title=' + this.info
								.question + '&type=1'
						})
					}
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			followUser(id, type) {
				followUser({
					follow_user_id: id,
					type: type
				}).then(res => {
					if (res.state == 1) {
						this.answer.user.is_follow = type == 1 ? 1 : 0
					}
				})
			},
			praise(type) {
				// if (type == 1) {
				// 	var is_adopt = this.answer.is_adopt
				// 	var is_praiseno = this.answer.is_praiseno
				// 	var praise_type = this.answer.is_adopt == 1 ? 2 : 1
				// 	var praise_no_type = 2
				// } else {
				// 	var is_adopt = this.answer.is_adopt
				// 	var is_praiseno = this.answer.is_praiseno
				// 	var praise_no_type = this.answer.is_praiseno == 1 ? 2 : 1
				// 	var praise_type = 2
				// }
				// quesAdopt({
				// 	id: this.answer.id,
				// 	type: praise_type
				// }).then(res => {
				// 	if (res.state == 1) {
				// 		this.answer.is_adopt = praise_type == 1 ? 1 : 0
				// 		if (praise_type == 1) {
				// 			this.answer.is_praiseno = 0
				// 		}
				// 	}
				// })
				// quesPraiseNo({
				// 	id: this.answer.id,
				// 	type: praise_no_type
				// }).then(res => {
				// 	if (res.state == 1) {
				// 		this.answer.is_praiseno = praise_no_type == 1 ? 1 : 0
				// 		if (praise_no_type == 1) {
				// 			this.answer.is_adopt = 0
				// 		}

				// 	}
				// })

			},
			reportQues() {
				uni.showModal({
					content: '确定要举报吗？'
				})
			},

			changeOrder() {
				this.noCommentText = '加载中'
				this.params.order = this.params.order == 1 ? 2 : 1
				this.params.page = 1
				this.commentlist = []
				this.getAskCommentList()
			},
			commentPraise(index) {
				// if (this.commentlist[index].is_audit == 1) {
				// 	if (uni.getStorageSync('access_token')) {
				// 		var params = {
				// 			id: this.commentlist[index].id,
				// 			type: this.commentlist[index].is_praise == 1 ? 2 : 1
				// 		}
				// 		askCommPraise(params).then(res => {
				// 			if (res.state == 1) {
				// 				if (this.commentlist[index].is_praise == 0) {
				// 					this.commentlist[index].praise_num++
				// 					this.commentlist[index].is_praise = 1
				// 				} else {
				// 					this.commentlist[index].praise_num--
				// 					this.commentlist[index].is_praise = 0
				// 				}
				// 			}
				// 		})
				// 		if (this.commentlist[index].is_praise == 1) {
				// 			var source_page = '评论取消赞'
				// 		} else {
				// 			var source_page = '评论点赞'
				// 		}
				// 		var params = {
				// 			event_code: '答案详情',
				// 			path: 'pages/question/askinfo/askinfo',
				// 			user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
				// 			source: app.globalData.source,
				// 			event_id: this.id,
				// 			title: this.info.question,
				// 			invitees_scene_id: '',
				// 			source_page: '答案详情-' + source_page,
				// 			value: '',
				// 		}
				// 		app.BurialPoint(params)
				// 	} else {
				// 		uni.navigateTo({
				// 			url: '/pages/login/login'
				// 		})
				// 	}
				// }
			},
			collect() {
				if (uni.getStorageSync('access_token')) {
					var params = {
						id: this.answer.id,
						type: this.answer.is_collect == 1 ? 2 : 1
					}
					askCollect(params).then(res => {
						if (res.state == 1) {
							this.answer.is_collect = this.answer.is_collect == 1 ? 0 : 1
						}
					})
					if (this.answer.is_collect == 1) {
						var source_page = '取消收藏'
					} else {
						var source_page = '收藏'
					}
					var params = {
						event_code: '答案详情',
						path: 'pages/question/askinfo/askinfo',
						user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
						source: app.globalData.source,
						event_id: this.id,
						title: this.info.question,
						invitees_scene_id: '',
						source_page: '答案详情-' + source_page,
						value: '',
					}
					app.BurialPoint(params)
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			//获取海报
			getPoster() {
				if (uni.getStorageSync('access_token')) {
					var params = {
						id: this.answer.id,
						user_id: uni.getStorageSync('member').id
					}
					askPoster(params).then(res => {
						if (res.state == 1) {
							this.share_url = res.data.share_url
							this.showShareUrl = true
							this.showShare = false
							uni.downloadFile({
								url: res.data.share_url,
								success: function(res) {
									var tempFilePath = res.tempFilePath
									console.log(res.tempFilePath)
									uni.authorize({
										scope: 'scope.writePhotosAlbum',
										success() {
											uni.saveImageToPhotosAlbum({
												filePath: tempFilePath,
												success: function() {
													uni.showToast({
														title: '保存成功了，快去分享吧~',
														icon: 'none',
														duration: 1500
													});
													console.log('save success');
												},
												fail(e) {
													console.log('下载失败')
												}
											});
										},
										fail() {
											console.log('未授权')
										}
									})

								},

							})

						}
					})
					var params = {
						event_code: '答案详情',
						path: 'pages/question/askinfo/askinfo',
						user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
						source: app.globalData.source,
						event_id: this.id,
						title: this.info.question,
						invitees_scene_id: '',
						source_page: '答案详情-生成海报',
						value: '',
					}
					app.BurialPoint(params)
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			//微信app分享
			shareApp(scene) {
				var that = this
				if (scene == 'WXSceneSession') {
					if (that.info.image) {
						var imgurl = that.info.image[0]
					} else {
						var imgurl = that.answer.content[0].img ? that.answer.content[0].img : ''
					}
					uni.share({
						provider: "weixin",
						scene: scene,
						type: 5,
						title: that.info.question,
						imageUrl: imgurl,
						miniProgram: {
							id: 'gh_664d5a5771aa',
							path: '/pages/question/askinfo/askinfo?scene=' + that.aid,
							type: 0,
							webUrl: "https://m.motortime.com/ask/" + that.aid + "/answer"
						},
						success: function(res) {
							that.showShare = false
							console.log("success:" + JSON.stringify(res));
						},
						fail: function(err) {
							that.showShare = false
							console.log("fail:" + JSON.stringify(err));
						}
					});
				} else {
					uni.share({
						provider: "weixin",
						scene: scene,
						type: 0,
						href: "https://m.motortime.com/ask/" + that.aid + "/answer",
						title: that.info.question,
						summary: '',
						imageUrl: imgurl += '?x-oss-process=image/resize,w_120',
						success: function(res) {
							that.showShare = false
							console.log("success:" + JSON.stringify(res));
						},
						fail: function(err) {
							that.showShare = false
							console.log("fail:" + JSON.stringify(err));
						}
					});

				}
				app.getShareTask('/pages/question/askinfo/askinfo')
			},
			showImg(item, index) {
				uni.previewImage({
					urls: this.info.image,
					current: index,
				});
			},
			showAnswerImg(img) {
				uni.previewImage({
					urls: [img],
					current: 0,
				});
			},
			moreReply(id, index) {
				if (uni.getStorageSync('access_token')) {
					uni.navigateTo({
						url: '/pages/question/commentinfo/commentinfo?id=' + id + '&aid=' + this.aid
					})
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			goComment(rid) {
				if (uni.getStorageSync('access_token')) {
					uni.navigateTo({
						url: '/pages/question/postcomment/postcomment?id=' + this.aid + '&rid=' + rid + '&type=1'
					})
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			//删除评论
			delComment(index) {
				var that = this
				uni.showModal({
					content: '确定要删除这条评论吗？',
					confirmText: '删除',
					success: function(res) {
						if (res.confirm) {
							askCommDel(that.commentlist[index].id).then(res => {
								if (res.state == 1) {
									uni.showToast({
										title: '已删除',
										icon: 'success',
									});
									that.commentlist.splice(index, 1)
								}
							})
						} else if (res.cancel) {
							console.log('用户点击取消');
						}
					}
				});
			},
			goUserInfo(id) {
				uni.navigateTo({
					url: '/pages/other/other?scene=' + id
				})
			}
		},
		onReachBottom() {
			if (this.last_page > this.current_page) {
				this.params.page++
				this.getAskCommentList()
				this.noCommentText = '加载中'
			} else {
				this.noCommentText = '已加载全部'
			}
		},
		onPullDownRefresh() {
			this.params.order = 1
			this.params.page = 1
			this.commentlist = []
			this.getAskCommentList()
			uni.stopPullDownRefresh()
		},
		//分享
		onShareAppMessage(res) {
			app.getShareTask('/pages/question/askinfo/askinfo')
			this.showShare = false

			if (this.info.image) {
				var imgurl = this.info.image[0]
			} else {
				var imgurl = this.answer.content[0].img ? this.answer.content[0].img : ''
			}

			return {
				title: this.info.question,
				path: '/pages/question/askinfo/askinfo?scene=' + this.aid,
				imageUrl: imgurl
			}


		},
	}
</script>

<style lang="scss">
	.askinfo {
		.answer_defult_btn {
			width: 220rpx;
			border: 1rpx solid #9A9A9A;
			padding: 20rpx 0;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 22rpx;
			color: #3A3A3A;
			border-radius: 60px;
		}

		.article_info_title {
			color: #3A3A3A;
			font-size: 26rpx;
			font-weight: bold;
			padding: 30rpx 20rpx;

			.three_dba {
				color: #9A9A9A;
				font-size: 13px;
			}
		}

		.commentlist_box {
			border-top: 5px solid #EAEAEA;


			.comment_type {
				color: #9A9A9A;
				font-size: 24rpx;
				float: right;
				font-weight: 400;
			}

			.commentlist_cell {
				padding: 30rpx 20rpx;
				border-bottom: 1px solid #EAEAEA;

				.comment_member_box {
					display: flex;
					align-items: center;

					.comment_member_img {
						width: 30px;
						height: 30px;
						border-radius: 30px;
					}

					.comment_member_name {
						flex: 1;
						color: #3A3A3A;
						font-size: 15px;
						font-weight: bold;

						.comment_member_userform {
							font-size: 12px;
							color: #9A9A9A;
						}
					}

					.comment_praise {
						color: #9A9A9A;
						font-size: 12px;
						display: flex;
						align-items: center;

						.comment_praise_img {
							width: 15px;
							height: 14px;
						}
					}
				}

				.comment_content {
					color: #3A3A3A;
					font-size: 15px;
				}

				.comment_action {
					display: flex;
					align-items: center;
					font-size: 12px;
					color: #9A9A9A;

					.comment_time {
						flex: 1;

						.comment_reply_num {
							color: #3A3A3A;
							font-size: 12px;
						}
					}

					.comment_report {
						float: right;
					}
				}

				.comment_reply_box {
					padding: 15px 10px;
					background-color: #F7F7F7;
					border-radius: 7px;

					.comment_reply_cell {
						color: #6A6A6A;
						font-size: 13px;

					}

					.comment_reply_username {
						color: #33A1FF;
						font-size: 13px;
					}
				}
			}
		}
	}
</style>
