<template>
	<view class="myintegral">
		<!-- <view class='salf_navbar_box'>
			<view :style="'height:'+statusBarHeight+'px;'"></view>
			<view class="salf_navbar">
				<image class='goback' src="../../static/images/back.png"></image>
				<view class='handtitle'>我的积分</view>
			</view>
		</view> -->
		<view class="integralbg-pic">
			<view class="integral-box">
				<view class="redinfo f-14 f-w" @click="maskBarbottom=true" v-if="info">获取途径</view>
				<view class="mt-30">
					<view class="integral-font f-13 f-w">当前积分</view>
					<view class="integral-font f-30 f-w">{{integral}}</view>
					<view class="f-12" v-if="remark">积分使用说明：</view>
					<text class="f-12" v-if="remark">{{remark}}</text>
				</view>
			</view>
		</view>
		<view class="tools-list">
			<view class="tools-items">
				<view class="f-13 f-w text-c">积分明细</view>
				<view class="f-12 c-gray text-c">(积分数据记录每3个月清空一次)</view>
				<view class="pd-20">
					<view class="integral_cell" v-for="(item,index) in list" :key="index">
						<view class="flex-1">
							<view class="f-14 ellipsis-2">{{item.title}}</view>
							<view class="f-12 c-gray mt-5">{{item.time}}</view>
						</view>
						<view class="f-w f-15 c-black ml-10 c-red" v-if="item.type==1">+{{item.integral}}</view>
						<view class="f-w f-15 c-black ml-10" v-if="item.type==2">-{{item.integral}}</view>
					</view>
				</view>
			</view>
		</view>
		<view class="shade" v-if="maskBarbottom" @click='close'></view>
		<view class='maskBarbottom' v-if="maskBarbottom">
			<view class='maskhand'>
				<view class='integarltitle'>
					<text class="f-w flex-1">获取途径</text>
					<view @click='close' class="f-r c-gray">X</view>
				</view>
			</view>
			<view class='f-12 pd-30'>
				<text>{{info}}</text>
			</view>
		</view>
	</view>
</template>

<script>
	import {
		getMyIngetral
	} from '../../api/motortime.js';
	export default {
		data() {
			return {
				maskBarbottom: false,
				regionH: 20,
				list: [],
				integral: 0,
				remark: '',
				info: '',
				params: {
					page: 1,
					media_id: 1
				}
			};
		},
		onLoad() {
			this.getMyIngetral()
		},
		methods: {

			getMyIngetral() {
				getMyIngetral(this.params).then(res => {
					if (res.state == 1) {
						this.integral = res.data.integral
						this.info = res.data.info
						this.remark = res.data.remark
						this.list = [...this.list, ...res.data.record]
					} else {

					}
				})
			},
			close() {
				this.maskBarbottom = false
			}
		},
		onReachBottom() {
			if (this.list.length == 10 && this.params.page == 1) {
				this.params.page = this.params.page + 1
				this.getMyIngetral()
			}
		},
		onPullDownRefresh() {
			this.params = {
				page: 1,
				media_id: 1
			}
			this.list = []
			this.getMyIngetral()
			uni.stopPullDownRefresh()
		}
	}
</script>

<style lang="scss">
	.myintegral {
		.salf_navbar_box {
			width: 100%;
			font-size: 30rpx;
			position: fixed;
			top: 0rpx;
			z-index: 999;
			background: none;

			.salf_navbar {
				height: 90rpx;
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;

				.goback {
					position: absolute;
					width: 40rpx;
					height: 40rpx;
					left: 30rpx;
					margin-top: 12rpx;
				}
			}
		}

		.handtitle {
			font-weight: bold;
			font-size: 36rpx;
		}

		.tools-list {
			margin-top: 300rpx;
			padding-left: 30rpx;
			padding-right: 30rpx;
			position: relative;
		}

		.tools-items {
			background: #fff;
			border-radius: 10rpx;
			padding: 20px 5px;
			box-shadow: 1.5rpx 0 3.75rpx 0 #dedad9, 0.75rpx 5.25rpx 9.75rpx 0 #dad4d3;
		}

		.integral-box {
			padding: 40rpx;
		}

		.redinfo {
			height: 60rpx;
			width: 130rpx;
			text-align: right;
			float: right;
			margin-right: 15px;
		}

		.integral-font {
			color: #694900;
		}

		.maskBarbottom {
			width: 100%;
			height: 22%;
			z-index: 2;
			overflow: hidden;
			position: fixed;
			bottom: 0;
			font-size: 32rpx;
			border-top-left-radius: 12px;
			border-top-right-radius: 12px;
			background: #fff;
		}

		.shade {
			width: 100%;
			height: 100%;
			position: fixed;
			top: 0;
			left: 0;
			z-index: 1;
			background-color: rgba(0, 0, 0, 0.8);
			opacity: 0.5;
			overflow: hidden;
		}

		.maskhand {
			padding: 30rpx;
			text-align: center;
			border-bottom: 1rpx solid #eaeaea;
		}

		.integarltitle {
			font-size: 32rpx;
			display: flex;
			align-items: center;
		}

		.integralbg-pic {
			height: 360rpx;
			background-size: 100% 360rpx;
			background-repeat: no-repeat;
			background-position: center;
			background-image: url('https://pic.motortime.com/static/integral-bg.png');
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
		}

		.integral_cell {
			display: flex;
			align-items: center;
			padding: 30rpx 0;
			border-bottom: 2rpx solid #EAEAEA;

		}
	}
</style>
