<template>
	<view class="invitein_box">
		<view class="invite_bg text-c" :style="'background-image:url('+bk_pic+')'">
			<div :style="'color:'+fontColor">
				<view class="f-16 f-w" style="padding-top: 50px;align-items: center;">
					「{{info.author}}」<image class="sficon" :src="info.fans_button_pic"></image> 影响力认证
					{{is_audit_name}}
				</view>
				<view class="f-16 mt-15" style="align-items: center;display: inline-flex;" v-if="info.is_audit==0">
					审核时间 1～3 个工作日
				</view>
				<div class="f-16" style="margin-top: 14px;padding: 0 45px;min-height: 25px;" @click="inviteAgain"
					v-if="info.is_audit==2">
					重新申请<img class="nextimg" src="/static/images/approve/nextimg.png">
					</div>
				<div class="f-12" style="margin-top: 25px;padding: 2px 45px;">认证成功后，您将：</div>
				<div class="f-12" style="padding: 4px 45px;align-items: center;display: flex;justify-content: center;">
					获得「凌志范儿」<img class="sficon" :src="info.fans_button_pic"> 影响力认证标识</div>
				<div class="f-12" style="padding: 4px 45px;">发布动态会获得更多曝光展示 </div>
				<div class="f-12" style="padding: 4px 45px;">受邀参与各种活动</div>
				<div class="f-12" style="padding: 4px 45px;">可以参与征文投稿、提问回答</div>
				<div class="f-12" style="padding: 4px 45px;">获得更多权益与专属勋章</div>
			</div>
			<div style="margin-top: 25px;text-align: center" v-if="info.enroll_share_pic">
				<img class="qrcode" show-menu-by-longpress="true" :src="info.enroll_share_pic" v-if="source==4">
				<img class="qrcode" :src="info.enroll_share_pic" @longpress="downloadpImg" v-else>
			</div>
			<div class="f-12" style="color: #999999;margin-bottom: 5px;">长按添加/保存{{info.author}}官方微信</div>
			<div class="f-12" style="color: #999999;margin-bottom: 5px;" @click="copyNumber" v-if="info.contact">（微信号
				{{info.contact}} ）
			</div>
		</view>
	</view>
</template>

<script>
	import {
		getActiveInfo,
		submitActive,
		getNotoceTem
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				info: '',
				is_audit_name: '审核中',
				is_audit: 0,
				fontColor: '#FFFFFF',
				source: 4,
				bk_pic:''
			}
		},
		onLoad(options) {
			this.source = app.globalData.source
			this.hid = decodeURIComponent(options.scene);
		},
		onShow() {
			if (uni.getStorageSync('access_token')) {
				this.getActiveInfo()
			} else {
				uni.navigateTo({
					url: '/pages/login/login'
				})
			}
		},
		methods: {
			getActiveInfo() {
				var params = {
					user_id: uni.getStorageSync('member').id,
				}
				getActiveInfo(params, this.hid).then(res => {
					if (res.state == 1) {
						this.info = res.data
						if (res.data.author == '凌志范儿') {
							this.fontColor = '#4A4A4A'
						} else {
							this.fontColor = '#FFFFFF'
						}
						if (res.data.is_audit == 0) { //审核中
							this.is_audit_name = '审核中'

							this.bk_pic = res.data.enroll_success_pic
						} else if (res.data.is_audit == 1) { //审核通过
							this.is_audit_name = '审核通过'
							if (res.data.audit_success_pic) {
								this.bk_pic = res.data.audit_success_pic
							} else {
								this.bk_pic = res.data.enroll_success_pic
							}
						} else if (res.data.is_audit == 2) { //审核不通过
							this.is_audit_name = '审核未通过'
							if (res.data.audit_fail_pic) {
								this.bk_pic = res.data.audit_fail_pic
							} else {
								this.bk_pic = res.data.enroll_success_pic
							}
						}
						var params = {
							event_code: '影响力认证入口',
							path: 'pages/approve/invitein/invitein',
							user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
							source: app.globalData.source,
							event_id: res.data.id,
							title: res.data.title,
							invitees_scene_id: '',
							source_page: '',
							value: '',
						}
						app.BurialPoint(params)
					}

				})
			},
			copyNumber() {
				var that = this
				uni.setClipboardData({
					data: that.info.contact,
					success: function() {
						uni.showToast({
							title: '已复制',
							icon: 'none',
							duration: 1500
						});
					}
				});
			},
			downloadpImg() {
				var that = this
				uni.downloadFile({
					url: that.info.enroll_share_pic, //仅为示例，并非真实的资源
					success: (res) => {
						if (res.statusCode === 200) {
							uni.saveImageToPhotosAlbum({
								filePath: res.tempFilePath,
								success: function() {
									uni.showToast({
										title: '保存成功',
										icon: 'none',
										duration: 1500
									});
									console.log('下载成功');
								}
							});

						}
					}
				});

			},
			inviteAgain(){
				uni.redirectTo({
					url:'/pages/approve/invite/invite?scene='+this.hid
				})
			}

		}
	}
</script>

<style lang="scss">
	.invitein_box {
		.invite_bg {
			height: 100vh;
			width: 100%;
			background-size: 100% 100vh;

			.sficon {
				width: 18px;
				height: 18px;
				margin-right: 3px;
			}
		}

		.fixed_box {
			width: 100%;
			position: fixed;
			bottom: 135rpx;
			display: flex;
			justify-content: center;

		}

		.fix_btn_gray {
			background-color: #CFCFCF;
		}

		.fix_btn {
			text-align: center;
			color: #fff;
			border-radius: 8rpx;
			font-size: 28rpx;
			padding: 10px 0;
			width: 300rpx;
		}

		.nextimg {
			width: 13px;
			height: 12px;
		}

		.qrcode {
			width: 160px;
			height: 160px;
		}
	}
</style>
