<template>
	<view class="salestext_pages">
		<view class="commission_text">
			<text>{{info.commission_text}}</text>
		</view>
	</view>
</template>

<script>
	import {
		getSalesclerkInfo,
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				info: ''
			};
		},
		onShow() {
			wx.hideShareMenu()
		},
		onLoad() {
			this.getSalesclerkInfo()
		},
		methods: {
			getSalesclerkInfo() {
				getSalesclerkInfo({
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
				}).then(res => {
					if (res.state == 1) {
						this.info = res.data
					} else {
						this.isSubmit = true
						uni.showToast({
							title: res.error[0],
							icon: 'none'
						})
					}
				})
			},
		},
		// onShareAppMessage(res) {
		// 	return {

		// 	}
		// },
		// onShareTimeline: function() {
		// 	return {

		// 	}
		// },
	}
</script>

<style lang="scss">
	.salestext_pages {
		padding: 30rpx;

		.commission_text {
			font-size: 28rpx;
		}
	}
</style>