<template>
	<view class="goodsorder">
		<view class="address_box">
			<view class="display_flex" @click="goAddress">
				<image class="location_img" src="../../../static/images/shop/location.png"></image>
				<view class="flex-1" v-if="addr">
					<view class="f-16 f-w">{{addr.name}}<span class="f-12 ml-5">{{addr.mobile}}</span></view>
					<view class="f-12 mt-5">{{addr.area.province_name}} {{addr.area.city_name}} {{addr.area.area_name}}
						{{addr.address}}
					</view>
				</view>
				<view class="flex-1 f-w f-14" v-else>添加收货地址</view>
				<uni-icons type="arrowright" color="#9a9a9a" size="14"></uni-icons>
			</view>
		</view>
		<view class="orderinfo_box">
			<view class="storeInfo">
				<image class="store_logo" src="../../../static/images/logo.png"></image>
				<view class="f-14 f-w flex-1">汽车时间商城</view>
				<uni-icons type="arrowright" color="#9a9a9a" size="14"></uni-icons>
			</view>
			<view class="goodslist">
				<view class="shop_cell" @click="goodsInfo(goodinfo.id)">
					<view class="shop_cell_imgbox">
						<image class="shop_cell_img" mode="aspectFill" :src="goodinfo.img_url" />
					</view>
					<view style="position: relative;width: 100%;">
						<view class="ellipsis-4 f-12">{{goodinfo.name}}</view>
						<view class="f-12 c-gray source">
							<view class="price flex-1">
								<span class="f-17 mr-5">{{goodinfo.price}}</span> 积分
							</view>
							<view class="c-gray f-r">X {{goodsnum}}</view>
						</view>
					</view>
				</view>
				<view class="display_flex">
					<view class="f-13">订单备注:</view>
					<view class="flex-1 f-12 ml-5">
						<input type="text" placeholder="选填，请先和商家协商一致" />
					</view>
				</view>
			</view>
		</view>
		<view class="orderinfo_box">
			<view class="display_flex">
				<view class="f-13">商品金额:</view>
				<view class="flex-1 f-12 text-r c-red">
					{{goodpriced}} 积分
				</view>
			</view>
			<view class="display_flex mt-15">
				<view class="f-13">运费:</view>
				<view class="flex-1 f-12 text-r c-red">
					包邮
				</view>
			</view>
		</view>
		<view class="my-tabbar">
			<view class="display_flex" style="padding: 10rpx 0;">
				<view class="f-12">
					<span class="c-gray">共{{goodsnum}}件,</span>
					<span>合计</span>
					<span class="price f-17 mr-5 ml-5">{{goodpriced}}</span>
					<span class="c-red">积分</span>
				</view>
				<view class="text-r flex-1">
					<view class="presell-btnd f-12 f-w" @click="submitOrder">立即兑换</view>
				</view>

			</view>
		</view>
	</view>
</template>

<script>
	import {
		getDefaultAddress,
		addCarts,
		orderAdd,
		goodsPayment,
		integralOrderadd
	} from '../../../api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				addr: '',
				goodinfo: '',
				offline_type: 0,
				goodpriced: 0,
				goodsnum: 1,
				apitype: 1
			};
		},
		onShow() {
			var that = this
			if (uni.getStorageSync('addr')) {
				uni.getStorage({
					key: 'addr',
					success: function(res) {
						that.addr = res.data
						uni.removeStorage({
							key: 'addr',
							success: function(res) {},
						})
					},
				})
			} else {
				that.getDefAddress()
			}
		},
		onLoad(options) {
			if (app.good) {
				console.log(app.good)
				var goodinfo = app.good
				this.goodinfo = app.good
				this.attr_id = options.attr_id
				this.offline_type = app.good.is_offline
				this.goodsnum = options.num
				this.apitype = 1
				this.activity_status = app.good.activity_status
				this.user_info = uni.getStorageSync('member')
				this.goodpriced = parseFloat(app.good.price * options.num)
				app.good = ''
			}
		},
		methods: {
			//获取默认收货地址
			getDefAddress() {

				getDefaultAddress().then(res => {
					if (res.state == 1) {
						this.addr = res.data
						if (res.data) {} else {
							uni.showModal({
								title: '请先设置收货地址',
								content: '您还没有设置收货地址，请点击确定设置',
								showCancel: true,
								confirmText: '确定',
								success: function(res) {
									if (res.confirm) {
										uni.navigateTo({
											url: '/pages/shop/editaddress/editaddress'
										})
									} else if (res.cancel) {
										uni.navigateBack({
											delta: 1
										})
									}
								}
							});
						}
					} else {
						uni.showModal({
							title: '请先设置收货地址',
							content: '您还没有设置收货地址，请点击确定设置',
							showCancel: true,
							confirmText: '确定',

							success: function(res) {
								if (res.confirm) {
									uni.navigateTo({
										url: '/pages/shop/editaddress/editaddress'
									})
								} else if (res.cancel) {
									uni.navigateBack({
										delta: 1
									})
								}
							}
						});
					}
				})
			},
			submitOrder() {
				var that = this
				uni.showModal({
					content: '确定要兑换吗？',
					confirmText: "确定",
					cancelText: "取消",
					success: function(res) {
						if (res.confirm) {
							var params = {
								goods_id: that.goodinfo.id,
								attr_id: that.attr_id,
								number: that.goodsnum,
								address_id: that.addr.id,
								media_id:1
							}
							integralOrderadd(params).then(res => {
								if (res.state == 1) {
									uni.showToast({
										title: '兑换成功',
										icon: 'success'
									})
									setTimeout(function() {
										uni.redirectTo({
											url: '/pages/shop/orderinfo/orderinfo?id=' +
												res.data.order_no
										})
									}, 800)
								} else {
									uni.showToast({
										title: res.error[0],
										icon: 'none',
										mask: true,
										duration: 1500
									})
								}
							})
						} else {
							console.log('用户点击取消')
						}
					}
				});

			},
			goAddress() {
				uni.navigateTo({
					url: '/pages/address/myaddress'
				})
			}
		}
	}
</script>

<style lang="scss">
	page {
		background-color: #F0F0F0;
	}

	.goodsorder {
		.address_box {
			background-color: #FFFFFF;
			padding: 30rpx 20rpx;

			.location_img {
				width: 46rpx;
				height: 46rpx;
				margin-right: 20rpx;
			}
		}

		.orderinfo_box {
			padding: 30rpx 20rpx;
			background-color: #FFFFFF;
			margin-top: 20rpx;

			.storeInfo {
				display: flex;
				align-items: center;

				.store_logo {
					width: 60rpx;
					height: 60rpx;
					border-radius: 60rpx;
					margin-right: 20rpx;
				}
			}

			.goodslist {
				.shop_cell {
					padding: 30rpx 0;
					display: flex;

					.shop_cell_imgbox {
						width: 180rpx;
						height: 180rpx;
						margin-right: 20rpx;

						.shop_cell_img {
							width: 180rpx;
							height: 180rpx;
							margin-right: 20rpx;
						}
					}

					.source {
						position: absolute;
						bottom: 0;
						left: 0;
						right: 0;
						display: flex;
						align-items: center;
					}
				}
			}
		}

		.my-tabbar {
			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;
			padding: 0 20rpx;
			background-color: #fff;
			z-index: 1000;
			border-top: 2rpx solid #f8f8f8;
			padding-bottom: calc(env(safe-area-inset-bottom));

			.presell-btnd {
				color: #FFFFFF;
				background-color: #E10000;
				text-align: center;
				line-height: 3;
				width: 200rpx;
				font-weight: bold;
				border-radius: 30px;
				float: right;
			}
		}
	}
</style>
