<template>
	<view class="invitein_box">
		<view class="invite_bg text-c" :style="'background-image:url('+info.enroll_background_pic+')'">
			<view :style="'color:' +fontColor">
				<view class="f-16" style="padding-top: 80px;align-items: center;">
					「{{info.author}}」诚挚地邀请您参加
				</view>
				<view class="f-16" style="align-items: center;display: inline-flex;">
					<image class="sficon" :src="info.fans_button_pic"></image> 影响力认证
				</view>
			</view>
			<view class="fixed_box">
				<view class="fix_btn" :style="'background-color:' +btnColor" @click="nextStep">认证入口</view>
			</view>
		</view>
	</view>
</template>

<script>
	import {
		getActiveInfo
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				info: '',
				btnColor: '',
				fontColor: '#FFFFFF',
			};
		},
		onLoad(options) {
			this.hid = decodeURIComponent(options.scene);
		},
		onShow() {
			if (uni.getStorageSync('access_token')) {
				this.getActiveInfo()
			} else {
				uni.navigateTo({
					url: '/pages/login/login'
				})
			}
		},
		methods: {
			getActiveInfo() {
				var params = {
					user_id: uni.getStorageSync('member').id,
				}
				getActiveInfo(params, this.hid).then(res => {
					if (res.state == 1) {
						this.info = res.data
						if (res.data.author == '凌志范儿') {
							this.fontColor = '#4A4A4A'
							this.btnColor = '#605C6B'
						} else if (res.data.author == '富士范儿') {
							this.fontColor = '#FFFFFF'
							this.btnColor = '#1E2A75'
						} else if (res.data.author == 'VTEC范儿') {
							this.fontColor = '#FFFFFF'
							this.btnColor = '#AA0000'
						} else {
							this.fontColor = '#FFFFFF'
							this.btnColor = '#F6AB01'
						}
						if (res.data.is_enroll == 1) {
							uni.redirectTo({
								url: '/pages/approve/inviteaudit/inviteaudit?scene=' + this.hid,
							})
						}
						var params = {
							event_code: '影响力认证入口',
							path: 'pages/approve/invitein/invitein',
							user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
							source: app.globalData.source,
							event_id: res.data.id,
							title: res.data.title,
							invitees_scene_id: '',
							source_page: '',
							value: '',
						}
						app.BurialPoint(params)
					}

				})
			},
			nextStep() {
				if (uni.getStorageSync('access_token')) {
					uni.navigateTo({
						url: '/pages/approve/invite/invite?scene=' + this.hid
					});
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			}
		},
		//分享
		onShareAppMessage(res) {
			if (res.from === 'button') { // 来自页面内分享按钮
				console.log('title' + this.info.title)
				this.showShare = false

			}
			return {
				title: this.info.title,
				path: '/pages/approve/invitein/invitein?scene=' + this.hid,
				imageUrl: this.info.enroll_share_pic
			}

		}
	}
</script>

<style lang="scss">
	.invitein_box {
		.invite_bg {
			height: 100vh;
			width: 100%;
			background-size: 100% 100vh;

			.sficon {
				width: 18px;
				height: 18px;
				margin-right: 3px;
			}
		}

		.fixed_box {
			width: 100%;
			position: fixed;
			bottom: 135rpx;
			display: flex;
			justify-content: center;

		}

		.fix_btn_gray {
			background-color: #CFCFCF;
		}

		.fix_btn {
			text-align: center;
			color: #fff;
			border-radius: 8rpx;
			font-size: 28rpx;
			padding: 10px 0;
			width: 300rpx;
		}
	}
</style>
