<template>
	<view class="activemap_box">
		<uni-nav-bar :fixed="true" :statusBar="true">
			<view class="nav-logo_box" slot="left" @click="goMember">
				<image class="navbar_logo" src="/static/images/subaru.png"></image>
			</view>
			<view class="nav_title_box" style="width: 100%;text-align: center;">
				{{info.title}}
			</view>
		</uni-nav-bar>
		<map style="width: 100%; height: 100vh;" :latitude="latitude" :longitude="longitude" :scale='scale'
			:polygons="polygon" :markers="markers" :enable-zoom="!enableMap" :enable-scroll="!enableMap"
			@markertap="markerTap">
			<!-- #ifdef MP-BAIDU -->
			<cover-image @click="goTopic" v-if="info.map_pic" class="map_top_img" :src="info.map_pic"></cover-image>
			<cover-view class="cover-view">
				<cover-view>
					<cover-image class="map_img" src="/static/images/active/gomap.png" @click="goMapActive">
					</cover-image>
				</cover-view>
				<cover-view>
					<cover-image class="map_img" src="/static/images/active/showticket.png" @click="showTicket">
					</cover-image>
				</cover-view>
			</cover-view>
			<cover-view class="cover-viewpost">
				<cover-view style="margin-top: -6rpx;" v-if="info.stage==1&&info.u_status>0">
					<cover-image class="map_post_tips" :src="info.ticket_icon" @click="goTipsPost"></cover-image>
				</cover-view>
				<cover-view v-if="info.stage==1&&info.u_status==0">
					<cover-image class="map_img" src="/static/images/active/maptopic.png" @click="goPostd">
					</cover-image>
				</cover-view>
			</cover-view>
			<cover-view v-if="showTips">
				<cover-view class="weui-mask" @click="closeDialogd"></cover-view>
				<cover-view class="showtips_box">
					<cover-view class="showtips_img" @click="goUrl"></cover-view>
				</cover-view>
			</cover-view>
			<cover-view class="brand_box">
				<cover-view class="brand_img_box" style="margin-top: -15rpx;" :data-index="2" @click="showTipsd"
					v-if="leftList[2]">
					<cover-image class="brand_img" src="/static/images/active/mapleftend.png"></cover-image>
					<cover-view class="brand_text">
						<cover-view class="f-14 ellipsis-2" style="min-height:75rpx;">{{leftList[2].popname}}
						</cover-view>
						<cover-view class="f-20">{{leftList[2].start_time.substr(11,5)}}<span
								class="f-10 ml-10">开始</span>
						</cover-view>
					</cover-view>
				</cover-view>
				<cover-view class="brand_img_box" style="margin-top: -15rpx;" :data-index="1" @click="showTipsd"
					v-if="leftList[1]">
					<cover-image class="brand_img" src="/static/images/active/mapleft.png"></cover-image>
					<cover-view class="brand_text">
						<cover-view class="f-14 ellipsis-2" style="min-height:75rpx;">{{leftList[1].popname}}
						</cover-view>
						<cover-view class="f-20">{{leftList[1].start_time.substr(11,5)}}<span
								class="f-10 ml-10">开始</span>
						</cover-view>
					</cover-view>
				</cover-view>
				<cover-view class="brand_img_box" style="margin-top: -15rpx;" :data-index="0" @click="showTipsd"
					v-if="leftList[0]">
					<cover-image class="brand_img" src="/static/images/active/mapleft.png"></cover-image>
					<cover-view class="brand_text">
						<cover-view class="f-14 ellipsis-2" style="min-height:75rpx;">{{leftList[0].popname}}
						</cover-view>
						<cover-view class="f-20">{{leftList[0].start_time.substr(11,5)}}<span
								class="f-10 ml-10">开始</span>
						</cover-view>
					</cover-view>
				</cover-view>
			</cover-view>
			<!-- #endif -->
		</map>

		<!-- #ifndef MP-BAIDU -->
		<image @click="goTopic" v-if="info.map_pic" class="map_top_img" :style="'position: fixed;top:'+topHeight +'px;'"
			:src="info.map_pic"></image>
		<view class="cover-view">
			<view>
				<image class="map_img" src="/static/images/active/gomap.png" @click="goMapActive">
				</image>
			</view>
			<view>
				<image class="map_img" src="/static/images/active/showticket.png" @click="showTicket">
				</image>
			</view>
		</view>
		<view class="cover-viewpost" v-if="info.stage==1">
			<view style="margin-top: -6rpx;" v-if="info.u_status>0">
				<image class="map_post_tips" :src="info.ticket_icon" @click="goTipsPost"></image>
			</view>
			<view v-if="info.u_status==0">
				<image class="map_img" src="/static/images/active/maptopic.png" @click="goPostd">
				</image>
			</view>
		</view>
		<view :class="showTips ? 'weui-demo-dialog weui-demo-dialog_show' : 'weui-demo-dialog'">
			<view class="weui-mask" @click="closeDialogd"></view>
			<view class="showtips_box">
				<view class="showtips_img" @click="goUrl">
					<block v-if="img_arr.length>1">
						<swiper style="height:100%;" class="swiper" indicator-dots="true" duration="1000"
							indicator-color="#FFFFFF" indicator-active-color="#1E2A75" circular='true'>
							<swiper-item v-for="item in img_arr" :key='item'>
								<image mode="aspectFill" class="showtips_image" :src="item"></image>
							</swiper-item>
						</swiper>
					</block>

					<image mode="aspectFill" v-else class="showtips_image" :src="img_arr[0]"></image>
				</view>
				<view class="showtips_title">
					<view class="f-13 pt-20" v-if="tipsinfo.popname" @click="goUrl">{{tipsinfo.popname}}</view>
					<view class="f-13 pt-20" v-if="tipsinfo.content" @click="goUrl">{{tipsinfo.content}}</view>
					<view style="display:flex;align-items: center;padding: 25rpx;">
						<image class="checkline" src="/static/images/active/checkline.png"
							@click="openMap(tipsinfo.localname,tipsinfo.latitude,tipsinfo.longitude)"></image>
						<block v-if="info.stage==1&&info.clock_status!=2">
							<image v-if="showPhotos" class="checktopic" src="/static/images/active/takephotos.png"
								@click="uploadImg">
							</image>
						</block>
					</view>
				</view>
			</view>
		</view>
		<view class="brand_box">
			<view class="brand_img_box" :data-index="2" @click="showTipsd" v-if="leftList[2]">
				<image class="brand_img" src="/static/images/active/mapleftend.png"></image>
				<view class="brand_text">
					<view class="f-14 ellipsis-2" style="min-height:75rpx;">{{leftList[2].popname}}</view>
					<view class="f-20">{{leftList[2].start_time.substr(11,5)}}<span class="f-10 ml-10">开始</span>
					</view>
				</view>
			</view>
			<view class="brand_img_box" :data-index="1" @click="showTipsd" v-if="leftList[1]">
				<image class="brand_img" src="/static/images/active/mapleft.png"></image>
				<view class="brand_text">
					<view class="f-14 ellipsis-2" style="min-height:75rpx;">{{leftList[1].popname}}</view>
					<view class="f-20">{{leftList[1].start_time.substr(11,5)}}<span class="f-10 ml-10">开始</span>
					</view>
				</view>
			</view>
			<view class="brand_img_box" :data-index="0" @click="showTipsd" v-if="leftList[0]">
				<image class="brand_img" src="/static/images/active/mapleft.png"></image>
				<view class="brand_text">
					<view class="f-14 ellipsis-2" style="min-height:75rpx;">{{leftList[0].popname}}</view>
					<view class="f-20">{{leftList[0].start_time.substr(11,5)}}<span class="f-10 ml-10">开始</span>
					</view>
				</view>
			</view>
		</view>
		<!-- #endif -->

		<view :class=" showMessage ? 'weui-demo-dialog weui-demo-dialog_show' : 'weui-demo-dialog'">
			<view class="weui-mask" @click="closeDialogd"></view>
			<view class="showModal_box">
				<view class="showModal_img_box">
					<image class="showModal" src="/static/images/active/showModal.png"></image>
					<view class="showModal_title">
						<view>【富士范儿】小程序</view>
						<view :class="tipsTime?'':'mt-20'">{{tipsMassage}}</view>
						<view class="" v-if="tipsTime">{{tipsTime}}</view>
					</view>
					<view class="showModal_ok" @click="SubscribeMessage">
						确认
					</view>
				</view>
			</view>
		</view>

		<view :class="popup_status==1 ? 'weui-demo-dialog weui-demo-dialog_show' : 'weui-demo-dialog'">
			<view class="weui-mask" @click="closeDialogd"></view>
			<view class="showModal_box" style="top:35%">
				<view class="showModal_img_box">
					<view class="close_popup" @click="closePopup"></view>
					<image class="showModalpopup" mode="aspectFit" :src="info.popup_pic" @click="goPost"></image>
				</view>
			</view>
		</view>

		<view :class="uploadImgpop ? 'weui-demo-dialog weui-demo-dialog_show' : 'weui-demo-dialog'">
			<view class="weui-mask" @click="closepop"></view>
			<view class="showModal_box">
				<view class="showModal_img_box">
					<image class="showModal" src="/static/images/active/showModal.png"></image>
					<view class="showModal_title">
						<view style="padding:20rpx 30rpx">{{poptext}}</view>
					</view>
					<view class="showModal_ok" @click="closepop">
						确认
					</view>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	import {
		getActiveInfo,
		getPoplist,
		getClocktest,
		getRecruit,
		getNotoceTem
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				info: '',
				scale: 15,
				latitude: '',
				longitude: '',
				ticket_icon: '',
				polygon: [{
					points: [],
					fillColor: '#00000040',
					strokeColor: '#FF0000',
					strokeWidth: 4
				}],
				markers: [],
				leftList: [],
				enableMap: false,
				img_arr: [],
				tipsinfo: "",
				showTips: false,
				showPhotos: false,
				topHeight: 64,
				popup_status: 0,
				uploadImgpop: false,
				userlongitude: '',
				userlatitude: '',
				img_arr: [],
				poptext: '',
				showMessage: false,
				tipsMassage: '需要向您推送活动消息通知',
				tipsTime: '',
			};
		},
		onLoad(options) {
			var that = this
			that.hid = options.scene
			that.getActiveInfo()
			uni.getSystemInfo({
				success: function(res) {
					that.system = res.platform == 'ios' ? 2 : 1
					that.getPoplist()
				}
			});
		},
		onShow() {
			var that = this
			if (uni.getStorageSync('member').username) {

			} else {
				uni.navigateTo({
					url: '/pages/login/login'
				})
			}
			uni.getSystemInfo({
				success: function(res) {
					that.topHeight = 44 + res.statusBarHeight
					that.system = res.platform == 'ios' ? 2 : 1
				}
			});
			uni.getLocation({
				type: 'wgs84',
				success: function(res) {
					that.userlatitude = res.latitude
					that.userlongitude = res.longitude

				}
			});
		},
		methods: {
			getActiveInfo() {
				var params = {
					user_id: uni.getStorageSync('member').id ? uni.getStorageSync('member').id : '',
					longitude: this.userlongitude,
					latitude: this.userlatitude
				}
				getActiveInfo(params, this.hid).then(res => {
					if (res.state == 1) {
						this.info = res.data
						this.latitude = res.data.latitude
						this.longitude = res.data.longitude
						this.ticket_icon = res.data.ticket_icon
						var points = res.data.range_coordinate
						var polygon = this.polygon
						polygon[0].points = points
						var auth_status = res.data.auth_status
						var auth_time = res.data.auth_time
						var storage_auth_time = uni.getStorageSync('storage_auth_time')
						if (auth_status == 1) {
							if (!storage_auth_time) {
								var newTime = Date.parse(new Date());
								uni.setStorage({
									data: newTime,
									key: 'storage_auth_time',
								})

								// this.showMessage = true
								this.enableMap = true

							} else {
								var newTime = Date.parse(new Date());
								var date3 = newTime - storage_auth_time
								var auth_time_min = auth_time * 60 * 1000
								console.log('date3======' + date3)
								console.log('时间差======' + auth_time_min)
								if (date3 > auth_time_min) {
									// this.showMessage = true
									this.enableMap = true
									uni.setStorage({
										data: newTime,
										key: 'storage_auth_time',
									})
								} else {
									this.showMessage = false
									this.enableMap = false
								}
							}

						}
						var params = {
							event_code: '活动地图',
							path: 'pages/signin/signin/signin',
							user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
							source: app.globalData.source,
							event_id: res.data.id,
							title: res.data.title,
							invitees_scene_id: '',
							source_page: '',
							value: '',
						}
						app.BurialPoint(params)
					}

				})
			},
			getPoplist() {
				var params = {
					system: this.system,
					user_id: uni.getStorageSync('member').id ? uni.getStorageSync('member').id : '',
				}
				getPoplist(params, this.hid).then(res => {
					if (res.state == 1) {
						var list = res.data.list
						var leftList = []
						var listmark = []
						var strikelist = []
						for (var i = 0; i < list.length; i++) {
							if (list[i].clock_status == 1 || list[i].clock_status == 2) {
								list[i].iconPath = list[i].icon_end
								list[i].width = '48'
								list[i].height = '57'
							}
							if (list[i].time_status == 0 && list[i].click_type == 1) {
								leftList.push(list[i])

							}
							if (list[i].time_status == 0 && list[i].type == 2 && list[i].click_type == 1) {
								strikelist.push(list[i])
							}
						}
						this.markers = list
						this.leftList = leftList
						this.strikelist = strikelist
					}

				})
			},
			//点击标记点
			markerTap(e) {
				// this.showTips = true	
				if (!this.enableMap) {
					if (!this.showTips) {
						var id = e.detail.markerId
						var markers = this.markers
						for (var i = 0; i < markers.length; i++) {
							if (markers[i].id == id) {
								if (markers[i].type == 3) {
									this.showPost = true
									this.showPhotos = false
								} else if (markers[i].type == 4) {
									this.showPhotos = true
									this.showPost = false
								} else {
									this.showPhotos = false
									this.showPost = false
								}
								this.tipsinfo = markers[i]
								this.img_arr = markers[i].img_arr
								this.showTips = true
								this.enableMap = true
							}
						}
					}
				}
			},
			//点击左下角
			showTipsd(e) {
				var index = e.currentTarget.dataset.index
				this.tipsinfo = this.leftList[index]
				this.img_arr = this.leftList[index].img_arr
				if (this.leftList[index].type == 3) {
					this.showPhotos = false
					this.showPost = true
				} else if (this.leftList[index].type == 4) {
					this.showPhotos = true
					this.showPost = false
				} else {
					this.showPhotos = false
					this.showPost = false
				}
				this.showTips = true
				this.enableMap = true
			},

			closeDialogd() {
				this.showModal = false
				this.showTips = false
				this.enableMap = false
			},
			showTicket() {
				if (uni.getStorageSync('access_token')) {
					uni.navigateTo({
						url: '/pages/signin/qrcode/qrcode?scene=' + this.hid
					})
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			//打开地图
			openMap(name, lat, log) {
				if (app.globalData.provider == 'toutiao') {
					tt.openLocation({
						latitude: lat * 1,
						longitude: log * 1,
						scale: 18,
						success() {
							console.log("打开地图成功");
						},
						fail(res) {
							console.log("打开地图失败:", res.errMsg);
						},
					});
				} else {
					uni.openLocation({
						name: name,
						latitude: lat,
						longitude: log,
						success: function(res) {
							console.log('位置名称：' + res.name);
							console.log('详细地址：' + res.address);
							console.log('纬度：' + res.latitude);
							console.log('经度：' + res.longitude);
						}
					});
				}
			},
			goTipsPost() {
				this.showTips = false
				this.enableMap = false
				this.popup_status = 0

				if (uni.getStorageSync('access_token')) {
					if (this.info.popup_status == 1) {
						uni.setStorage({
							data: true,
							key: 'isMap',
						})
						uni.setStorage({
							data: true,
							key: 'gotopic',
						})
						var params = {
							id: this.info.topic_id,
							name: this.info.topic_name,
						}
						uni.setStorage({
							key: 'namelist',
							data: [params],
						})
						uni.navigateTo({
							url: '/pages/post/post?hid=' + this.hid,
						})
					} else {
						uni.setStorage({
							data: true,
							key: 'isMap',
						})
						// uni.setStorage({
						//   data: true,
						//   key: 'hidemessage',
						// })
						uni.navigateTo({
							url: '/pages/topicinfo/topicinfo?scene=' + this.info.topic_id + '&hid=' + this
								.hid,
						})
					}
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			goPostd() {
				if (uni.getStorageSync('access_token')) {
					uni.setStorage({
						data: true,
						key: 'isMap',
					})
					console.log('/pages/topicinfo/topicinfo?scene=' + this.info.topic_id + '&hid=' + this
						.hid)
					uni.navigateTo({
						url: '/pages/topicinfo/topicinfo?scene=' + this.info.topic_id + '&hid=' + this.hid,
					})
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			goPost() {

				if (uni.getStorageSync('access_token')) {
					this.popup_status = 0
					this.showTips = false
					uni.setStorage({
						data: true,
						key: 'isMap',
					})
					uni.setStorage({
						data: true,
						key: 'gotopic',
					})
					var params = {
						id: this.info.topic_id,
						name: this.info.topic_name,
					}
					uni.setStorage({
						key: 'namelist',
						data: [params],
					})
					uni.navigateTo({
						url: '/pages/post/post?hid=' + this.hid,
					})
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			goMapActive() {
				var that = this
				uni.getLocation({
					type: 'wgs84',
					success: function(res) {
						that.latitude = res.latitude
						that.longitude = res.longitude
					}
				});

			},
			closePopup() {
				this.popup_status = 0
			},
			closepop() {
				this.uploadImgpop = false
				this.enableMap = false
			},
			//拍照打卡
			uploadImgTest() {
				var that = this
				uni.getLocation({
					type: 'wgs84',
					success: function(res) {
						var params = {
							clock_id: that.tipsinfo.id,
							latitude: res.latitude,
							longitude: res.longitude,
							system: that.system,
						}
						getClocktest(params).then(res => {
							if (res.state == 1) {
								if (res.data.status == 0) {
									that.uploadImgpop = true
									that.showTips = false
									that.poptext = res.data.text
								} else {
									that.uploadImg()
								}
							}

						})

					},
					fail: function() {
						var params = {
							clock_id: that.tipsinfo.id,
							latitude: that.userlatitude,
							longitude: that.userlongitude,
							system: that.system,
						}
						getClocktest(params).then(res => {
							console.log(res)
							if (res.state == 1) {

								if (res.data.status == 0) {
									that.uploadImgpop = true
									that.showTips = false
									that.poptext = res.data.text

								} else {
									that.uploadImg()
								}
							}

						})
					}
				});
			},
			uploadImg() {
				console.log('uploadImg')
				var that = this
				uni.chooseImage({
					count: 1,
					sizeType: ['original', 'compressed'], //可以指定是原图还是压缩图，默认二者都有
					sourceType: ['album'], //从相册选择
					success: function(res) {
						var tempFilePaths = res.tempFilePaths
						uni.uploadFile({
							url: app.globalData.uploadUrl,
							filePath: tempFilePaths[0],
							name: 'img',
							success: (uploadFileRes) => {
								var picdata = JSON.parse(uploadFileRes.data);
								var img_arr = that.img_arr
								var tipsinfo = that.tipsinfo
								img_arr.splice(0, 1, picdata.data.img_url)


								that.img_arr = img_arr
								that.img = picdata.data.img
								that.img_url = picdata.data.img_url

								that.voteSubmit()

							}
						});
					}
				});
			},
			voteSubmit() {

				var params = {
					h_id: this.hid,
					clock_id: this.tipsinfo.id,
					user_id: uni.getStorageSync('member').id ? uni.getStorageSync('member').id : 0,
					img: this.img,
				}
				getRecruit(params).then(res => {
					if (res.state == 1) {

					}

				})
			},
			//消息通知
			SubscribeMessage() {
				uni.getProvider({
					service: 'oauth',
					success: function(res) {
						var provider = res.provider.toString()
						console.log('provider==' + provider)
						if (provider == 'weixin') {
							uni.requestSubscribeMessage({
								tmplIds: ['hB9I9snhHIV108pkup1ZRSxsd9FkaDycquX7OZIfYPM'],
								success(res) {
									console.log('授权了')

									var params = {
										template_type: 3
									}
									getNotoceTem(params).then(res => {
										if (res.state == 1) {
											that.showMessage = false
											that.enableMap = false
											uni.setStorage({
												data: true,
												key: 'mapmessage',
											})

										} else {
											uni.showToast({
												title: res.data.error[0],
												icon: 'none',
												duration: 1500
											});
										}
									})
								}
							})
						} else if (provider == 'toutiao') {

							tt.requestSubscribeMessage({
								tmplIds: [
									'MSG1202423fc9a7b21363d5010fd77e9fe46d7777a14572'
								], // 需要填入开放平台申请的模版id，支持最多3个同类型模版
								success(res) {
									//订阅成功
									var params = {
										template_type: 3
									}

									getNotoceTem(params).then(res => {
										if (res.state == 1) {
											that.showMessage = false
											that.enableMap = false
											uni.setStorage({
												data: true,
												key: 'mapmessage',
											})
											console.log("订阅成功", res);
										} else {
											uni.showToast({
												title: res.data.error[0],
												icon: 'none',
												duration: 1500
											});
										}
									})

								},
								fail(error) {
									//订阅失败
									console.log("订阅失败, 错误详情: ", error);
									that.showMessage = false
								},
								complete(res) {
									//订阅完成
									console.log("tt.requestSubscribeMessage API调用完成: ", res);
									that.showMessage = false
								},
							});
						} else if (provider == 'baidu') {
							console.log("swan.subscribeService");
							swan.subscribeService({
								templateId: 'BD0141',
								subscribeId: '92e8eb3cae0a4b99a2420b0fae4c04e3',
								type: 'query',
								success(res) {
									console.log("订阅成功", res);
								},
								fail(err) {
									console.log("订阅失败, 错误详情: ", err);
								}
							})
						}
					}
				})
			},
		},
		//分享
		onShareAppMessage(res) {
			if (res.from === 'button') { // 来自页面内分享按钮
				console.log('title' + this.info.title)
				this.showShare = false

			}
			return {
				title: this.info.title,
				path: '/pages/signin/signin/signin?scene=' + this.hid,
				imageUrl: this.info.enroll_share_pic
			}

		}
	}
</script>

<style lang="scss">
	.activemap_box {
		.map_top_img {

			width: 100%;
			height: 140rpx;
		}

		.cover-view {
			position: fixed;
			bottom: 240rpx;
			right: 50rpx;
			z-index: 999;
			text-align: right;


		}

		.map_img {
			width: 110rpx;
			height: 110rpx;
		}

		.cover-view-post {
			position: fixed;
			bottom: 100rpx;
			right: 50rpx;
			z-index: 999;
		}

		.cover-view-topic {
			position: fixed;
			bottom: 120rpx;
			right: 50rpx;
			z-index: 999;
		}

		.brand_box {
			position: fixed;
			bottom: 30rpx;
			left: 10rpx;
			z-index: 800;

			.brand_img_box {
				position: relative;
				margin-top: -45rpx;

				.brand_img {
					width: 250rpx;
					height: 210rpx;
				}

				.brand_text {
					color: #ffffff;
					position: absolute;
					top: 40rpx;
					left: 30rpx;
					right: 30rpx;
					z-index: 801;
				}
			}
		}

		.nav-logo_box {
			display: flex;
			align-items: center;

			.navbar_logo {
				width: 60rpx;
				height: 60rpx;
				margin-left: 15rpx;
			}
		}

		.nav_title_box {
			display: flex;
			justify-content: center;

			.perfect {
				width: 56rpx;
				height: 50rpx;
				margin-left: -24rpx;
			}
		}

		.showtips_box {
			position: fixed;
			top: 25%;
			left: 40rpx;
			right: 40rpx;
			background-color: transparent;
			border-top-left-radius: 16rpx;
			z-index: 1002;
		}

		.showtips_img {
			height: 480rpx;
			padding: 20rpx;
			background-color: #E7EAF9;
			border-top-left-radius: 16rpx;
			border-top-right-radius: 16rpx;
		}

		.showtips_image {
			width: 100%;
			height: 100%;
			border-radius: 10rpx;
		}

		.showtips_title {
			width: 100%;
			/* height: 210rpx; */
			color: #fff;
			background-color: #1E2A75;
			border-bottom-left-radius: 16rpx;
			border-bottom-right-radius: 16rpx;
		}

		.checkline {
			width: 200rpx;
			height: 50rpx;
		}

		.checktopic {
			width: 200rpx;
			height: 50rpx;
			margin-left: 30rpx;
		}

		.pt-20 {
			padding: 20rpx 25rpx 0 25rpx;
		}

		.cover-viewpost {
			position: fixed;
			bottom: 100rpx;
			right: 50rpx;
			z-index: 999;
			text-align: right;

			.map_post_tips {
				width: 270rpx;
				height: 140rpx;
			}
		}

		.showModal_ok {
			font-size: 28rpx;
			width: 490rpx;
			position: absolute;
			bottom: 45rpx;
			color: #fff;
		}

		.showModalpopup {
			width: 550rpx;
			height: 580rpx;
			/* width: 100%; */
		}

		.showModal_mok {
			font-size: 28rpx;
			width: 490rpx;
			position: absolute;
			bottom: 50rpx;
			color: #fff;
		}

		.dialogphonebtn {
			width: 50% !important;
			color: #fff;
			line-height: 0;
			background-color: transparent;
			font-size: 28rpx;
			font-weight: 400;
		}

		.close_popup {
			position: absolute;
			width: 140rpx;
			height: 140rpx;
			right: -50rpx;
			top: 90rpx;
		}
	}
</style>
