<template>
	<view class="articleinfo_box" :style="'padding-bottom:'+bottomHeight+'px'">
		<view class="articleinfo">
			<view class="article_title">{{info.title}}</view>
			<view class="motor_list_imgroup" v-if="info.pics.length>0">
				<view class="motor_list_imgroup_left">
					<image class="motor_list_left_img" :src="info.pics[0].img_url" mode="aspectFill"></image>
				</view>
				<view class="motor_list_imgroup_right">
					<image class="motor_list_right_img" :src="info.pics[1].img_url" mode="aspectFill"></image>
					<image class="motor_list_right_img" style="margin-top: 12rpx;" :src="info.pics[2].img_url"
						mode="aspectFill"></image>
				</view>
			</view>
			<view class="article_time">
				<span class="mr-10" v-if="info.media">{{info.media.name}} </span>{{info.time_format}}
			</view>

			<view class="copyright">版权声明：文章仅代表作者个人观点，不代表汽车时间立场。未经作者许可，请勿转载。</view>
			<view class="praise_box mt-30">
				<view class="praise_border" @click="praise">
					<image class="praise_img mr-10"
						:src="info.is_praise==1?'../../static/images/zan-active.png':'../../static/images/zan.png'">
					</image>
					值得看 <span class="ml-5" v-if="info.praise">{{info.praise}}</span>
				</view>
				<view class="praise_borderright" @click="nopraise">
					<image class="praise_img mr-10"
						:src="info.is_praise_no==1?'../../static/images/nozan-active.png':'../../static/images/nozan.png'">
					</image>
					一般般
				</view>
			</view>
		</view>
		<view class="commentlist_box">
			<view class="article_info_title">
				全部评论
				<!-- <span class="comment_type">按时间</span> -->
			</view>
			<view class="commentlist_cell" v-for="(item,index) in commentlist" :key="item.id">
				<view class="comment_member_box mb-10">
					<image class="comment_member_img"
						:src="item.user.headimg_url?item.user.headimg_url:'../../static/images/default-avatar.png'">
					</image>
					<view class="comment_member_name ml-15">{{item.user.user_name}}
						<span class="comment_member_userform" v-if="item.user.form">[{{item.user.form}}</span>
					</view>
					<view class="comment_praise" @click="commentPraise(index)">
						<image class="comment_praise_img mr-10"
							:src="item.is_praise==1?'../../static/images/zan-active.png':'../../static/images/zan.png'">
						</image>
						{{item.praise_num}}
					</view>
				</view>
				<view class="comment_content mb-15 ml-45" @click="moreReply(item.id)">
					{{item.content}}
				</view>
				<view class="comment_action ml-45">
					<view class="comment_time">{{item.create_time}} ·
						<span v-if="item.is_audit==1" class="comment_reply_num ml-5" @click="goComment(item.id)"> 回复
							<span v-if="item.reply_num>0">({{item.reply_num}})</span>
						</span>
						<span v-else class="comment_reply_num ml-5"> 回复 <span
								v-if="item.reply_num>0">({{item.reply_num}})</span>
						</span>
					</view>
					<view class="comment_report" @click="delComment(index)" v-if="item.user.id==user_id">删除</view>
					<!-- <view class="comment_report" v-else>举报</view> -->

				</view>
				<view class="comment_reply_box ml-45 mt-15" v-if="item.replys" @click="moreReply(item.id)">
					<block v-for="itemr in item.replys" :key="itemr">
						<view class="comment_reply_cell mb-15">
							<span class="comment_reply_username mr-5">{{itemr.user.user_name}}</span>
							回复
							<span class="comment_reply_username ml-5 mr-5">@{{itemr.reuser.user_name}} :</span>
							{{itemr.content}}
						</view>
					</block>
					<view class="comment_reply_username">共{{item.replys.length}}条回复 > </view>
				</view>
			</view>
			<view class="no_comments">
				<image v-if="noCommentText=='加载中...'" class="loading_gift" src="../../static/images/gif.gif">
				</image>
				<view class="mt-5">{{noCommentText}}</view>
			</view>
		</view>
		<view class="bottom_box" :style="'padding-bottom:'+bottomBox+'px'">
			<view class="fake_input" @click="goComment">发表评论...</view>
			<view class="bottom_info ml-20" @click="goComments">
				<image class="bottom_img mr-5" src="../../static/images/comment.png"></image>
				{{info.reply_num>0?info.reply_num:''}}
			</view>
			<view class="bottom_info ml-20" @click="collect">
				<image class="bottom_img"
					:src="info.is_collect==1?'../../static/images/collect_active.png':'../../static/images/collect.png'">
				</image>
			</view>
			<!-- #ifdef MP-TOUTIAO|| MP-BAIDU||MP-ALIPAY||MP-QQ||MP-360 -->
			<button class="bottom_info ml-20" open-type="share">
				<image class="bottom_img" src="../../static/images/shared.png"></image>
			</button>
			<!-- #endif -->
			<!-- #ifdef MP-WEIXIN||APP-PLUS -->
			<view class="bottom_info ml-20" @click="showShare=true">
				<image class="bottom_img" src="../../static/images/shared.png"></image>
			</view>
			<!-- #endif -->
		</view>
		<block v-if="showShare">
			<view class="share_box" :style="'padding-bottom:'+bottomBox+'px'">
				<!-- #ifdef MP -->
				<button class="share_cell" open-type="share">
					<image class="share_img" src="../../static/images/wecheck.png"></image>
					<view>微信好友</view>
				</button>
				<view class="share_cell" @click="getPoster">
					<image class="share_img" src="../../static/images/friend.png"></image>
					<view>朋友圈</view>
				</view>
				<!-- #endif -->
				<!-- #ifdef APP-PLUS -->
				<view class="share_cell" @click="shareApp('WXSceneSession')">
					<image class="share_img" src="../../static/images/wecheck.png"></image>
					<view>微信好友</view>
				</view>
				<view class="share_cell" @click="shareApp('WXSenceTimeline')">
					<image class="share_img" src="../../static/images/friend.png"></image>
					<view>朋友圈</view>
				</view>
				<!-- #endif -->
			</view>
			<view class="wask_box" @click="showShare=false"></view>
		</block>
		<block v-if="showShareUrl">
			<view class="share_url_box">
				<image class="share_url" :src="share_url" mode="widthFix"></image>
				<view class="shareBtn" @click="showShareUrl=false">我知道了</view>
			</view>
			<view class="wask_box" @click="showShareUrl=false"></view>
		</block>
	</view>
</template>

<script>
	import {
		getArticleInfo,
		getRecommends,
		getCommentlist,
		articlePraise,
		articlenoPraise,
		articleCollect,
		articleCommPraise,
		articleCommDel,
		articlePoster,
		voteChoose,
		voteInfo
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				id: '',
				params: {
					user_id: ''
				},
				paramsc: {
					page: 1,
					size: 10,
					user_id: '',
					order: 1,
					source: app.globalData.source
				},
				user_id: 0,
				info: '',
				content: '',
				bottomHeight: uni.getSystemInfoSync().safeAreaInsets.bottom + 60,
				bottomBox: uni.getSystemInfoSync().safeAreaInsets.bottom > 0 ? uni.getSystemInfoSync().safeAreaInsets
					.bottom : 8,
				recommendlist: [],
				tripartite_info: [],
				commentlist: [],
				total: 0,
				noCommentText: '加载中...',
				scrollTop: 0,
				showShare: false,
				showShareUrl: false,
				share_url: '',
				voteinfo: '',
				selected: false
			};
		},
		onShow() {
			this.user_id = uni.getStorageSync('member') ? uni.getStorageSync('member').id : ''
			this.paramsc.page = 1

			this.getCommentlist()

			if (uni.getStorageSync('comment')) {
				uni.createSelectorQuery().select('.commentlist_box').boundingClientRect(res => {
					var top = res.top
					var that = this
					if (that.scrollTop > 0) {
						uni.pageScrollTo({
							scrollTop: that.scrollTop + top,
							duration: 300
						})
					} else {
						uni.pageScrollTo({
							scrollTop: top,
							duration: 300
						})
					}
				}).exec()
				uni.removeStorage({
					key: 'comment',
				})
			}
		},
		onLoad(options) {
			this.user_id = uni.getStorageSync('member') ? uni.getStorageSync('member').id : ''
			var scene = decodeURIComponent(options.scene);
			var list = scene.split('-');
			this.id = list[0]
			this.getArticleInfo();
			this.getCommentlist()
		},
		//滑动距离
		onPageScroll: function(e) {
			this.scrollTop = e.scrollTop
		},

		methods: {
			//详情
			getArticleInfo() {
				this.params.user_id = uni.getStorageSync('member') ? uni.getStorageSync('member').id : ''
				getArticleInfo(this.params, this.id).then(res => {
					if (res.state == 1) {
						this.tripartite_info = res.data.tripartite_info
						var info = res.data
						var imgReg = /<img.*?(?:>|\/>)/gi;
						var srcReg = /src=[\'\"]?([^\'\"]*)[\'\"]?/i;
						var urlList = []
						var content = info.content
						if (content) {
							var arr = info.content.match(imgReg);
							if (arr) {
								for (var i = 0; i < arr.length; i++) {
									var src = arr[i].match(srcReg);
									//获取图片
									content = info.content.replace(/\<img/gi,
										'<img class="contentimg" style="max-width:100%;height:auto;" ')
									urlList.push(src[1])
								}
							}
						}
						this.content = content
						this.info = info
						this.voteinfo = info.vote_info
						if (info.vote_info.id) {
							this.selected = res.data.vote_info.is_user_vote
							var oDate1 = new Date();
							var oDate2 = new Date(res.data.vote_info.end_time);
							if (oDate1.getTime() > oDate2.getTime()) {
								this.timeOut = false
							} else {
								this.timeOut = true
							}
							if (res.data.vote_info.end_tip) {
								this.vote_end_tip = res.data.vote_info.end_tip
							}
						}
						var params = {
							event_code: '文章详情',
							path: 'pages/article/article',
							user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
							source: app.globalData.source,
							event_id: res.data.id,
							title: res.data.title,
							invitees_scene_id: '',
							source_page: '',
							value: '',
						}
						app.BurialPoint(params)

					}

				})
			},
			//评论列表
			getCommentlist() {
				this.paramsc.user_id = uni.getStorageSync('member') ? uni.getStorageSync('member').id : ''
				getCommentlist(this.paramsc, this.id).then(res => {
					if (res.state == 1) {

						this.current_page = res.data.current_page
						this.last_page = res.data.last_page
						this.total = res.data.total
						if (res.data.total == 0) {
							this.noCommentText = "暂无评论"
						}
						var list = res.data.data
						for (var i = 0; i < list.length; i++) {
							if (list[i].user) {
								var user_name = list[i].user.user_name
								var arr = user_name.split('[');
								list[i].user.user_name = arr[0]
								list[i].user.form = arr[1]
								var replys = list[i].replys
								if (replys) {
									for (var j = 0; j < replys.length; j++) {
										var user_name = replys[j].user.user_name
										var arr = user_name.split('[');
										replys[j].user.user_name = arr[0]
										replys[j].user.form = arr[1]
										var ruser_name = replys[j].reuser.user_name
										var rarr = ruser_name.split('[');
										replys[j].reuser.user_name = rarr[0]
										replys[j].reuser.form = rarr[1]
									}
								}
							}
						}
						if (this.paramsc.page > 1) {
							this.commentlist.push.apply(this.commentlist, list)
						} else {
							this.commentlist = list
						}

					}

				})
			},
			//跳转写评论页
			goComment(rid) {
				if (uni.getStorageSync('access_token')) {
					uni.navigateTo({
						url: '/pages/commentpost/commentpost?id=' + this.id + '&rid=' + rid + '&type=1'
					})
				} else {
					uni.navigateTo({
						url: '/pages/login/login?is_goan=1'
					})
				}
				var params = {
					event_code: '文章详情',
					path: 'pages/article/article',
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
					source: app.globalData.source,
					event_id: this.id,
					title: this.info.title,
					invitees_scene_id: '',
					source_page: '文章详情-去评论',
					value: '',
				}
				app.BurialPoint(params)
			},
			//资讯点赞
			praise() {
				if (uni.getStorageSync('access_token')) {
					if (this.info.is_praise_no == 1) {
						articlenoPraise({
							id: this.info.id,
							type: 2
						}).then(res => {
							if (res.state == 1) {
								this.info.is_praise_no = 0
							}
						})
					}

					var params = {
						id: this.info.id,
						type: this.info.is_praise == 1 ? 2 : 1
					}
					articlePraise(params).then(res => {
						if (res.state == 1) {

							if (this.info.is_praise == 0) {
								this.info.praise++
							} else {
								this.info.praise--
							}
							this.info.is_praise = this.info.is_praise == 1 ? 0 : 1
						}

					})
					if (this.info.is_praise == 1) {
						var source_page = '取消赞'
					} else {
						var source_page = '点赞'
					}
					var params = {
						event_code: '文章详情',
						path: 'pages/article/article',
						user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
						source: app.globalData.source,
						event_id: this.id,
						title: this.info.title,
						invitees_scene_id: '',
						source_page: '文章详情-' + source_page,
						value: '',
					}
					app.BurialPoint(params)
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			//一般般
			nopraise() {
				if (uni.getStorageSync('access_token')) {
					if (this.info.is_praise == 1) {
						articlePraise({
							id: this.info.id,
							type: 2
						}).then(res => {
							if (res.state == 1) {

								this.info.praise--
								this.info.is_praise = 0
							}
						})
					}
					var params = {
						id: this.info.id,
						type: this.info.is_praise_no == 1 ? 2 : 1
					}
					articlenoPraise(params).then(res => {
						if (res.state == 1) {
							this.info.is_praise_no = this.info.is_praise_no == 1 ? 0 : 1
						}
					})
					if (this.info.is_praise_no == 1) {
						var source_page = '一般般'
					} else {
						var source_page = '值得看'
					}
					var params = {
						event_code: '文章详情',
						path: 'pages/article/article',
						user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
						source: app.globalData.source,
						event_id: this.id,
						title: this.info.title,
						invitees_scene_id: '',
						source_page: '文章详情-' + source_page,
						value: '',
					}
					app.BurialPoint(params)
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			//收藏
			collect() {
				if (uni.getStorageSync('access_token')) {
					var params = {
						id: this.info.id,
						type: this.info.is_collect == 1 ? 2 : 1
					}
					articleCollect(params).then(res => {
						if (res.state == 1) {
							this.info.is_collect = this.info.is_collect == 1 ? 0 : 1
						}
					})
					if (this.info.is_praise_no == 1) {
						var source_page = '取消收藏'
					} else {
						var source_page = '收藏'
					}
					var params = {
						event_code: '文章详情',
						path: 'pages/article/article',
						user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
						source: app.globalData.source,
						event_id: this.id,
						title: this.info.title,
						invitees_scene_id: '',
						source_page: '文章详情-' + source_page,
						value: '',
					}
					app.BurialPoint(params)
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			//评论点赞
			commentPraise(index) {
				if (this.commentlist[index].is_audit == 1) {
					if (uni.getStorageSync('access_token')) {
						var params = {
							id: this.commentlist[index].id,
							type: this.commentlist[index].is_praise == 1 ? 2 : 1
						}
						articleCommPraise(params).then(res => {
							if (res.state == 1) {
								if (this.commentlist[index].is_praise == 0) {
									this.commentlist[index].praise_num++
									this.commentlist[index].is_praise = 1
								} else {
									this.commentlist[index].praise_num--
									this.commentlist[index].is_praise = 0
								}
							}
						})
						if (this.commentlist[index].is_praise == 1) {
							var source_page = '评论取消赞'
						} else {
							var source_page = '评论点赞'
						}
						var params = {
							event_code: '文章详情',
							path: 'pages/article/article',
							user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
							source: app.globalData.source,
							event_id: this.id,
							title: this.info.title,
							invitees_scene_id: '',
							source_page: '文章详情-' + source_page,
							value: '',
						}
						app.BurialPoint(params)
					} else {
						uni.navigateTo({
							url: '/pages/login/login'
						})
					}
				}

			},
			//删除评论
			delComment(index) {
				var that = this
				uni.showModal({
					content: '确定要删除这条评论吗？',
					confirmText: '删除',
					success: function(res) {
						if (res.confirm) {
							articleCommDel(that.commentlist[index].id).then(res => {
								if (res.state == 1) {
									uni.showToast({
										title: '已删除',
										icon: 'success',
									});
									// var commentlist =that.commentlist
									that.commentlist.splice(index, 1)
								}
							})
						} else if (res.cancel) {
							console.log('用户点击取消');
						}
					}
				});

				var params = {
					event_code: '文章详情',
					path: 'pages/article/article',
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
					source: app.globalData.source,
					event_id: that.id,
					title: that.info.title,
					invitees_scene_id: '',
					source_page: '文章详情-删除评论',
					value: '',
				}
				app.BurialPoint(params)
			},
			//滑动到评论位置
			goComments() {
				uni.createSelectorQuery().select('.commentlist_box').boundingClientRect(res => {
					var top = res.top
					if (this.scrollTop > 0) {
						uni.pageScrollTo({
							scrollTop: this.scrollTop + top,
							duration: 300
						})
					} else {
						uni.pageScrollTo({
							scrollTop: top,
							duration: 300
						})
					}
				}).exec()
			},
			//获取海报
			getPoster() {
				if (uni.getStorageSync('access_token')) {
					var params = {
						source: app.globalData.source,
						id: this.id,
						user_id: uni.getStorageSync('member').id
					}
					articlePoster(params).then(res => {
						if (res.state == 1) {
							this.share_url = res.data.share_url
							this.showShareUrl = true
							this.showShare = false
							uni.downloadFile({
								url: res.data.share_url,
								success: function(res) {
									var tempFilePath = res.tempFilePath
									console.log(res.tempFilePath)
									uni.authorize({
										scope: 'scope.writePhotosAlbum',
										success() {
											uni.saveImageToPhotosAlbum({
												filePath: tempFilePath,
												success: function() {
													uni.showToast({
														title: '保存成功了，快去分享吧~',
														icon: 'none',
														duration: 1500
													});
													console.log('save success');
												},
												fail(e) {
													console.log('下载失败')
												}
											});
										},
										fail() {
											console.log('未授权')
										}
									})

								},

							})

						}
					})
					var params = {
						event_code: '文章详情',
						path: 'pages/article/article',
						user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
						source: app.globalData.source,
						event_id: this.id,
						title: this.info.title,
						invitees_scene_id: '',
						source_page: '文章详情-生成海报',
						value: '',
					}
					app.BurialPoint(params)
				} else {
					uni.navigateTo({
						url: '/pages/login/login?is_goan=1'
					})
				}
			},
			//微信app分享
			shareApp(scene) {
				var that = this
				if(scene=='WXSceneSession'){
					uni.share({
						provider: "weixin",
						scene: scene,
						type: 5,
						title: that.info.title,
						imageUrl: that.info.share_image,
						miniProgram:{
							id:'gh_664d5a5771aa',
							path:'/pages/article/article?scene='+that.id,
							type:0,
							webUrl:"https://m.motortime.com/article/" + that.id + "/post"
						},
						success: function(res) {
							that.showShare = false
							console.log("success:" + JSON.stringify(res));
						},
						fail: function(err) {
							that.showShare = false
							console.log("fail:" + JSON.stringify(err));
						}
					});
				}else{
					uni.share({
						provider: "weixin",
						scene: scene,
						type: 0,
						href: "https://m.motortime.com/article/" + that.id + "/post",
						title: that.info.title,
						summary: that.info.description,
						imageUrl: that.info.share_image += '?x-oss-process=image/resize,w_120',
						success: function(res) {
							that.showShare = false
							console.log("success:" + JSON.stringify(res));
						},
						fail: function(err) {
							console.log("fail:" + JSON.stringify(err));
						}
					});
				}
				
				app.getShareTask('/pages/article/article')
			},
			moreReply(pid) {
				uni.navigateTo({
					url: '/pages/commentinfo/commentinfo?id=' + this.id + '&pid=' + pid + '&source=1'
				})
			}
		},
		//加载更多
		onReachBottom() {
			if (this.current_page < this.last_page) {
				this.paramsc.page = this.paramsc.page + 1
				this.getCommentlist()
			} else {
				if (this.total > 0) {
					this.noCommentText = "已加载全部"
				} else {
					this.noCommentText = "暂无评论"
				}

			}

		},
		//分享
		onShareAppMessage(res) {
			app.getShareTask('/pages/article/article')
			this.showShare = false
			return {
				title: this.info.title,
				path: '/pages/article/article?scene=' + this.id,
				imageUrl: this.info.share_image
			}


		},
	}
</script>

<style lang="scss">
	.articleinfo {
		padding: 10px;

	}

	.article_title {
		color: #3A3A3A;
		font-size: 17px;
		font-weight: bold;
	}

	.article_time {
		color: #9A9A9A;
		font-size: 12px;
		margin: 15px 0;
	}

	.copyright {
		color: #9A9A9A;
		font-size: 14px;
	}

	.praise_box {
		display: flex;
		align-items: center;
		justify-content: center;

		.praise_border {
			font-size: 11px;
			color: #3A3A3A;
			padding: 10px 20px;
			border: 0.5px solid #9A9A9A;
			border-radius: 30px;
			margin: 0 8px;
			display: flex;
			align-items: center;
		}

		.praise_borderright {
			font-size: 11px;
			color: #3A3A3A;
			padding: 10px 30px;
			border: 0.5px solid #9A9A9A;
			border-radius: 30px;
			margin: 0 8px;
			display: flex;
			align-items: center;
		}

		.praise_img {
			width: 15px;
			height: 14px;
		}
	}

	.commentlist_box {
		border-top: 5px solid #EAEAEA;
		padding: 0 10px;

		.comment_type {
			color: #9A9A9A;
			font-size: 13px;
			float: right;
			font-weight: 400;
		}

		.commentlist_cell {
			padding: 15px 0;
			border-bottom: 1px solid #EAEAEA;

			.comment_member_box {
				display: flex;
				align-items: center;

				.comment_member_img {
					width: 30px;
					height: 30px;
					border-radius: 30px;
				}

				.comment_member_name {
					flex: 1;
					color: #3A3A3A;
					font-size: 15px;
					font-weight: bold;

					.comment_member_userform {
						font-size: 12px;
						color: #9A9A9A;
					}
				}

				.comment_praise {
					color: #9A9A9A;
					font-size: 12px;
					display: flex;
					align-items: center;

					.comment_praise_img {
						width: 15px;
						height: 14px;
					}
				}
			}

			.comment_content {
				color: #3A3A3A;
				font-size: 15px;
			}

			.comment_action {
				display: flex;
				align-items: center;
				font-size: 12px;
				color: #9A9A9A;

				.comment_time {
					flex: 1;

					.comment_reply_num {
						color: #3A3A3A;
						font-size: 12px;
					}
				}

				.comment_report {
					float: right;
				}
			}

			.comment_reply_box {
				padding: 15px 10px;
				background-color: #F7F7F7;
				border-radius: 7px;

				.comment_reply_cell {
					color: #6A6A6A;
					font-size: 13px;

				}

				.comment_reply_username {
					color: #33A1FF;
					font-size: 13px;
				}
			}
		}
	}

	.article_info_title {
		color: #3A3A3A;
		font-size: 13px;
		font-weight: bold;
		padding: 15px 0;

		.three_dba {
			color: #9A9A9A;
			font-size: 13px;
		}
	}

	.motor_list_imgroup {
		height: 420rpx;
		display: flex;
		margin-top: 30rpx;
	}

	.motor_list_imgroup_left {
		float: left;
		width: 67%;
	}

	.motor_list_imgroup_right {
		float: right;
		width: 33%;
		padding: 0 0 0 12rpx;
		line-height: 0;
	}

	.motor_list_left_img {
		width: 100%;
		height: 100%;
		border-radius: 3px;
	}

	.motor_list_right_img {
		width: 100%;
		height: 204rpx;
		border-radius: 3px;
	}
</style>
