<template>
	<view class="questype_page">
		<view class="questype_box">
			<view class="questype_left">
				<view class="questype_left_title">问题类型</view>
				<view :class="item.id==channel_id?'questype_left_title questype_left_title_on':'questype_left_title'"
					v-for="(item,index) in clist" :key="item.id" @click="checkCate(item.id,item.name)">
					<span v-if="item.id==channel_id" class="borderleft"></span>
					{{item.name}}
				</view>
			</view>
			<view class="questype_right">
				<view class="nav-scroll">
					<scroll-view class="scroll-view_H" scroll-x="true" :scroll-left="navScrollLeft"
						scroll-with-animation="true">
						<text v-for='(item,index) in ctlist' :key="item.id" @click="handleTap(item.id,item.alias,index)"
							:class="column_id==item.id ? 'nav-name f-w weui-bar_on' : 'nav-name f-w'">{{item.alias}}</text>
					</scroll-view>
				</view>
				<view class="ques_lable_box">
					<view v-for="(item,index) in lablist" :key="item.id" @click="checkLable(item.id,item.name,index)"
						:class="item.check?'ques_lable ques_lable_on':'ques_lable'">{{item.name}}</view>
				</view>
				<view class="btn_block" @click="submitType">确认问题类型</view>
			</view>
		</view>
	</view>
</template>

<script>
	import {
		getQuesChannelList,
		getQuesChannelTow,
		getQuesLableList
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				clist: [],
				ctlist: [],
				lablist: [],
				channel_id: 0,
				column_id: 0,
				navScrollLeft: '',
			};
		},
		onShow() {
			var that = this
			if (uni.getStorageSync('quesnamelist')) {
				uni.getStorage({
					key: 'quesnamelist',
					success: function(res) {
						that.lablist = res.data
					},
				})
				uni.getStorage({
					key: 'channelInfo',
					success: function(res) {
						var list = res.data
						that.channel_id = list[0].id
						that.channel_name = list[0].name
					},
				})
				uni.getStorage({
					key: 'columnInfo',
					success: function(res) {
						var list = res.data
						that.column_id = list[0].id
						that.column_name = list[0].name
					},
				})
			} else if (uni.getStorageSync('columnInfo')) {
				uni.getStorage({
					key: 'channelInfo',
					success: function(res) {
						var list = res.data
						that.channel_id = list[0].id
						that.channel_name = list[0].name
					},
				})
				uni.getStorage({
					key: 'columnInfo',
					success: function(res) {
						that.questypename = res.data
						var list = res.data
						that.column_id = list[0].id
						that.column_name = list[0].name
					},
				})
			} else {
				uni.getStorage({
					key: 'channelInfo',
					success: function(res) {
						that.questypename = res.data
						var list = res.data
						that.channel_id = list[0].id
					},
				})
			}
		},
		onLoad() {
			this.getQuesChannelList()
		},
		methods: {
			getQuesChannelList() {
				getQuesChannelList().then(res => {
					if (res.state == 1) {
						this.clist = res.data.list
						if (this.channel_id) {
							this.getQuesChannelTow(this.channel_id)
						} else {
							this.channel_id = this.clist[0].id
							this.channel_name = this.clist[0].name
							this.getQuesChannelTow(this.clist[0].id)
						}

					}
				})
			},
			getQuesChannelTow(id) {
				getQuesChannelTow(id).then(res => {
					if (res.state == 1) {
						this.ctlist = res.data.columns
						if (this.ctlist.length > 0) {
							if (!this.column_id) {
								this.column_id = this.ctlist[0].id
								this.column_name = this.ctlist[0].alias
								this.getQuesLableList()
							}

						}
					}
				})
			},
			getQuesLableList() {
				getQuesLableList({
					channel_id: this.channel_id,
					column_id: this.column_id,
					is_editor: 1
				}).then(res => {
					if (res.state == 1) {
						var list = res.data
						for (var i = 0; i < list.length; i++) {
							list[i].check = false
						}
						this.lablist = list
					}
				})
			},
			checkCate(id, name) {
				this.ctlist = []
				this.lablist = []
				this.channel_id = id
				this.channel_name = name
				this.column_id = ''
				this.getQuesChannelTow(id)
			},
			handleTap(id, name, index) {
				var singleNavWidth = app.globalData.windowWidth / 5;
				var navScrollLeft = (index - 2) * singleNavWidth;
				//tab选项居中   
				this.navScrollLeft = index * singleNavWidth
				this.column_id = id
				this.column_name = name
				this.lablist = []
				this.getQuesLableList()
			},
			checkLable(id, name, index) {
				this.lablist[index].check = this.lablist[index].check ? false : true

			},
			submitType() {
				var that = this
				var lablist = that.lablist
				let item = lablist.find(item => {
					return item.check == true;
				});
				var channelInfo = {
					id: that.channel_id,
					name: that.channel_name
				}
				uni.setStorage({
					key: 'channelInfo',
					data: [channelInfo],
				})
				if (item) {
					var columnInfo = {
						id: that.column_id,
						name: that.column_name
					}
					uni.setStorage({
						key: 'columnInfo',
						data: [columnInfo],
					})
					uni.setStorage({
						key: 'quesnamelist',
						data: that.lablist,
					})
					uni.navigateBack({
						delta: 1
					})
				} else {
					uni.removeStorage({
						key: 'quesnamelist'
					})
					if (that.column_id) {
						var columnInfo = {
							id: that.column_id,
							name: that.column_name
						}
						uni.setStorage({
							key: 'columnInfo',
							data: [columnInfo],
						})
						uni.navigateBack({
							delta: 1
						})
					} else {
						uni.removeStorage({
							key: 'columnInfo'
						})
						uni.navigateBack({
							delta: 1
						})
					}
				}
			},
		}
	}
</script>

<style lang="scss">
	.questype_page {
		overflow-y: hidden;

		.questype_box {
			display: flex;

			.questype_left {
				width: 230rpx;
				color: #9A9A9A;
				font-size: 24rpx;
				background-color: #F8F8F8;
				height: 100vh;
				overflow-y: auto;

				.questype_left_title {
					padding: 35rpx 30rpx;
				}

				.questype_left_title_on {
					background-color: #ffffff;
				}

				.borderleft {
					margin-right: 10px;
					border-left: 3px solid #F6AB00;
					margin-left: -30rpx;
				}
			}

			.questype_right {
				flex: 1;
				height: 100vh;
				overflow-y: hidden;
				position: relative;

				.nav-scroll {
					border-top: 1rpx solid #eaeaea;
					position: -webkit-sticky !important;
					position: sticky;
					top: 0px;
					background-color: #fff;
					z-index: 99;
					border-bottom: 1rpx solid #eaeaea;

					.scroll-view_H {
						white-space: nowrap;
						width: 100%;
						height: 85rpx;
						box-sizing: border-box;
						// border-bottom: 1rpx solid #eaeaea;
					}

					.nav-name {
						display: inline-block;
						font-size: 28rpx;
						padding: 22rpx 40rpx;
					}

					.weui-bar_on {
						background-color: #fff;
						color: #ffba00;
						border-bottom: 10rpx solid #ffba00;
					}
				}

				.ques_lable_box {
					height: calc(100vh - 90px);
					margin-top: 20rpx;
					margin-left: 20rpx;
					display: inline-block;
					overflow-y: auto;
				}

				.ques_lable {
					float: left;
					margin: 15rpx 8rpx;
					color: #9A9A9A;
					background-color: #F8F8F8;
					font-size: 24rpx;
					font-weight: bold;
					padding: 9rpx 30rpx;
					min-width: 140rpx;
					text-align: center;

					border-radius: 5rpx;
				}

				.ques_lable_on {
					color: #33A1FF;
					background-color: #F3F9FF;
				}

				.btn_block {
					position: fixed;
					bottom: 0;
					left: 230rpx;
					right: 0;
				}
			}
		}

	}
</style>
