<template>
	<view>
		<view class="activein_imgbox" v-if="showPage">
			<image class="activein_boximg" mode="aspectFill" :src="activeinfo.enroll_background_pic"></image>
		</view>
		<view class="activein_bottom" v-if="showPage">
			<view style="display:flex;padding:30rpx 18rpx;align-items: center;">
				<view class="weui-cell__hd weui-check__hd_in-checkbox" @click="checkboxChange">
					<icon class="weui-icon-checkbox_circle" type="circle" size="18" v-if="!checked"></icon>
					<icon class="weui-icon-checkbox_success" type="success" color='#1F2A74' size="18" v-if="checked">
					</icon>
				</view>
				<view class="weui-cell__bd f-12 mt-10" style="flex: 1;">
					<view>
						<text class="c-gray" @click="checkboxChange">我已阅读并同意</text>
						<text class="c-conten" @click="goPrivacy">《用户隐私》</text>
						<text class="c-conten" @click="goWebview">《注册协议》</text>
						<text class="c-conten" @click="goPortrait">《肖像使用协议》</text>
					</view>
					<view>
						<text class="c-conten" @click="goSafe">《安全协议》</text>
					</view>
				</view>
			</view>
			<view class="btn-bott">
				<button class="savebtn f-14" open-type="getPhoneNumber" @getphonenumber="getPhoneNumber"
					:plain="disabled" :disabled="disabled">确认授权</button>
			</view>
		</view>
	</view>
</template>

<script>
	import {
		getActiveInfo,
		Verification,
		activeApply,
		getActivePhone
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				disabled: true,
				checked: false,
				showPage: false,
				activeinfo: ''
			};
		},
		onShow() {
			if (uni.getStorageSync('Appoptions')) {
				var scene = uni.getStorageSync('Appoptions').query.scene
				var list = scene.split('-');
				this.hid = list[0]
				this.keyCode = list[1]
				Verification({
					key: list[1]
				}).then(res => {
					if (res.state == 1) {
						if (res.data.status == 1) {
							if (!uni.getStorageSync('member')) {
								uni.navigateTo({
									url: '/pages/login/login',
								})
							} else {
								this.getActiveinfo()
							}
						} else {
							uni.showToast({
								title: res.data.info,
								icon: 'none',
								success: function() {
									setTimeout(function() {
										uni.switchTab({
											url: '/pages/index/index',
										})
									}, 1000)

								}
							})
						}
					}

				})
			}
		},
		onLoad(options) {
			var scene = decodeURIComponent(options.scene);
			var list = scene.split('-');
			this.hid = list[0]
			this.keyCode = list[1]
		},
		methods: {
			getActiveinfo() {
				var params = {
					user_id: uni.getStorageSync('member').id,
				}
				getActiveInfo(params, this.hid).then(res => {
					if (res.state == 1) {
						this.activeinfo = res.data
						if (res.data.is_enroll == 1) {
							uni.reLaunch({
								url: '/pages/jxactive/activeqr/activeqr?scene=' + this.hid,
							})
						} else {
							this.showPage = true
						}
					}
				})
			},
			checkboxChange() {
				if (this.checked == true) {
					this.checked = false
					this.disabled = true
				} else {
					this.checked = true
					this.disabled = false
				}
			},
			goPrivacy() {
				wx.navigateTo({
					url: '/pages/webview/webview?scene=https://m.motortime.com/subaru-falv',
				})
				this.checked = true
				this.disabled = false
			},
			goWebview() {
				uni.navigateTo({
					url: '/pages/webview/webview?scene=https://m.motortime.com/agreement',
				})
				this.checked = true
				this.disabled = false
			},
			goPortrait() {
				uni.navigateTo({
					url: '/pages/webview/webview?scene=https://m.motortime.com/subaru/portrait',
				})
				this.checked = true
				this.disabled = false
			},
			goSafe() {
				uni.navigateTo({
					url: '/pages/webview/webview?scene=https://m.motortime.com/subaru/safety',
				})
				this.checked = true
				this.disabled = false
			},
			getPhoneNumber(res) {
				var that=this
				var code= res.detail.code
				var params = {
					code: code,
					user_id: uni.getStorageSync('member').id
				}
				getActivePhone(params).then(res => {
					if (res.state == 1) {
						if (that.keyCode == 'x') {
							that.activeApply(res.data.phone)
						} else {
							uni.navigateTo({
								url: '/pages/jxactive/activecar/activecar?phone=' + res
									.data.phone +
									'&scene=' + that.hid,
							})
						}
					}
				})

			},
			activeApply: function(mobile) {
				var params = {
					hid: this.hid,
					mobile: mobile,
					key: this.keyCode,
				}
				activeApply(params).then(res => {
					console.log(res)
					if (res.state == 1) {
						uni.reLaunch({
							url: '/pages/jxactive/activeqr/activeqr?scene=' + this.hid,
						})
					} else {
						uni.showToast({
							title: res.data.error[0],
							mask: true,
							icon: 'none',
							duration: 1500
						})
					}
				})
				
			},
		}
	}
</script>

<style lang="scss">
	.activein_imgbox {
		position: fixed;
		bottom: 20%;
		top: 0;
		left: 0;
		right: 0;
	}

	.activein_boximg {
		width: 100%;
		height: 100%;
	}

	.activein_bottom {
		position: fixed;
		top: 80%;
		left: 0;
		right: 0;
	}

	.weui-check__hd_in-checkbox {
		padding-right: 15rpx !important;
	}

	.savebtn {
		background: #1F2A74;
		color: #fff;
		border-radius: 16rpx;
		padding: 10px 24px;
	}

	.c-conten {
		color: #1F2A74;
	}
</style>
