<template>
	<view class="shop_box" style="padding-bottom: 10rpx;">
		<!-- #ifndef MP -->
		<!-- <uni-nav-bar :fixed="true" :statusBar="true">
			<block slot="left">
				<view class="display_flex">
					<image class="home_logo" :src="userinfo?userinfo.avatar:'/static/images/logo.png'"></image>
				</view>
			</block>
			<view class="input-view" style="flex: 1;" @click="goSearchPage">
				<uni-icons class="input-uni-icon" type="search" size="18" color="#999" />
				<input class="nav-bar-input" type="text" placeholder="输入搜索关键词" :disabled="true" />
			</view>
			<block slot="right">
				<view class="display_flex">
					<image class="top_cars_img" src="/static/images/shop/cars.png"></image>
				</view>
			</block>
		</uni-nav-bar> -->
		<!-- #endif -->
		<!-- #ifdef MP -->
		<!-- <uni-nav-bar :fixed="true" :statusBar="true">
			<block slot="left">
				<view class="display_flex">
					<image class="home_logo" :src="userinfo?userinfo.avatar:'/static/images/logo.png'"></image>
				</view>
			</block>
			<view class="input-view" style="width: 60%;" @click="goSearchPage">
				<uni-icons class="input-uni-icon" type="search" size="18" color="#999" />
				<input class="nav-bar-input" type="text" placeholder="输入搜索关键词" :disabled="true" />
			</view>
		</uni-nav-bar> -->
		<!-- #endif -->
		<block v-if="advList.length>0">
			<view class="home_swiper" v-if="advList.length>1">
				<swiper class="swiper" indicator-dots="true" autoplay="true" circular="true" interval="5000"
					duration="1000" indicator-color="#aaa" indicator-active-color="rgba(255, 255, 255, 0.9)">
					<block v-for="item in advList" :key="item.id">
						<swiper-item style="height: 450rpx;">
							<image class="swiper_img"
								@click="gotopImginfo(item.id,item.link_url,item.title)" mode="aspectFill"
								:src="item.m_pic_url?item.m_pic_url:item.pic_url"></image>
						</swiper-item>
					</block>
				</swiper>
			</view>
			<view class="home_swiper" v-else>
				<image class="swiper_img"
					@click="gotopImginfo(advList[0].id,advList[0].link_url,advList[0].title)"
					mode="aspectFill" :src="advList[0].m_pic_url?advList[0].m_pic_url:advList[0].pic_url"></image>
			</view>
		</block>
		<view class="grid_box">
			<uni-grid :column="3" :showBorder="false" :square="false" :highlight="false">
				<uni-grid-item class="text-c mb-25">
					<view @click="goOrderList">
						<image class="shop_grid_img" src="../../static/images/shop/order.png"></image>
					</view>
					<view @click="goOrderList" class="f-13">我的订单</view>
				</uni-grid-item>
				<uni-grid-item class="text-c mb-25">
					<view @click="goCarsList">
						<image class="shop_grid_img" src="../../static/images/shop/cars.png"></image>
					</view>
					<view @click="goCarsList" class="f-13">购物车</view>
				</uni-grid-item>
				<!-- <uni-grid-item class="text-c mb-25">
					<view @click="goGoodsclasslist">
						<image class="shop_grid_img" src="../../static/images/shop/more.png"></image>
					</view>
					<view @click="goGoodsclasslist" class="f-13">分类</view>
				</uni-grid-item> -->
				<uni-grid-item class="text-c mb-25">
					<view @click="goGoodslist">
						<image class="shop_grid_img" src="../../static/images/shop/more.png"></image>
					</view>
					<view @click="goGoodslist" class="f-13">更多</view>
				</uni-grid-item>
				<uni-grid-item class="text-c">
					<view @click="goIngetral">
						<image class="shop_grid_img" src="../../static/images/shop/integral-a.png"></image>
					</view>
					<view @click="goIngetral" class="f-13">积分</view>
				</uni-grid-item>
				<uni-grid-item class="text-c">
					<view>
						<image class="shop_grid_img" src="../../static/images/shop/presell.png"></image>
					</view>
					<view class="f-13 c-gray">预售</view>
				</uni-grid-item>
				<uni-grid-item class="text-c">
					<view>
						<image class="shop_grid_img" src="../../static/images/shop/second.png"></image>
					</view>
					<view class="f-13 c-gray">秒杀</view>
				</uni-grid-item>
			</uni-grid>
		</view>
		<view v-for="(itemd,indexd) in list" :key="indexd">
			<view class="shophomecol">
				<image :class="itemd.cateinfo.name=='汽车周边'?'hotcarpic':'hotpic'" :src="itemd.cateinfo.img_url"></image>
				<view class="f-17 f-w">{{itemd.cateinfo.name}}</view>
				<view class="f-12 f-w mt-5">{{itemd.cateinfo.alias}}</view>
			</view>
			<view class="goodslist">
				<view v-for="(item,index) in itemd.list" :key="item.id">
					<view class="shop_block" @click="goodsInfo(item.id,item.tt_shop_id,item.name)"
						v-if="index==0&&item.activity_status==0">
						<view class="goodspic-box">
							<image class="picmode" mode="aspectFit" :src="item.img_url"></image>
						</view>
						<view class="ellipsis-4 f-15 f-w pd-30 c-black">{{item.name}}</view>
						<view class="display_flex pd-30">
							<view class="price f-r flex-1">￥
								<span class="f-17">{{item.price}}</span>
							</view>
							<view class="weui-cell__ft" v-if="appName!='Toutiao'">
								<view class="goodsbuy">立即购买</view>
							</view>
						</view>
					</view>
					<view class="shop_cell" @click="goodsInfo(item.id,item.tt_shop_id,item.name)"
						v-if="index>0&&item.activity_status==0">
						<view class="shop_cell_imgbox">
							<image class="shop_cell_img" mode="aspectFill" :src="item.img_url" />
						</view>
						<view style="position: relative;width: 100%;">
							<view class="ellipsis-4 f-15 f-w c-black">{{item.name}}</view>
							<view class="f-12 c-gray source">
								<view class="buynum flex-1">销量 {{item.buy_num}}</view>
								<view class="price f-r">￥
									<span class="f-17">{{item.price}}</span>
								</view>
							</view>
						</view>
					</view>
					<view class="shop_block" @click="goodsInfo(item.id,item.tt_shop_id,item.name)"
						v-if="item.activity_status==1">
						<view class="goodspic-box">
							<image class="picmode" mode="aspectFit" :src="item.img_url"></image>
						</view>
						<view class="ellipsis-4 f-15 f-w pd-30 c-black"><span
								class="presellbadge">预售</span>{{item.name}}
						</view>
						<view class="c-gray f-12 ml-15">支付尾款时间：{{item.activity_end_time.substr(0,10)}}</view>
						<view class="display_flex pd-30">
							<view class="price f-r flex-1">￥
								<span class="f-17">{{item.price}}</span>
							</view>
							<view class="weui-cell__ft" v-if="appName!='Toutiao'">
								<view class="presell" v-if="item.deposit=='0.00'">立即购买</view>
								<block v-else>
									<view class="presell" v-if="item.activity_time_status==1">即将开始</view>
									<view class="presell" v-if="item.activity_time_status==2">立即付定金</view>
									<view class="presell_defult" v-if="item.activity_time_status==3">预售结束</view>
								</block>
							</view>
						</view>
					</view>
					<view class="shop_block" @click="goodsInfo(item.id,item.tt_shop_id,item.name)"
						v-if="item.activity_status==2">
						<view class="goodspic-box">
							<image class="picmode" mode="aspectFit" :src="item.img_url"></image>
						</view>
						<view class="ellipsis-4 f-15 f-w pd-30 c-black"><span class="secondbadge">秒杀</span>{{item.name}}
						</view>
						<view class="c-gray f-12 ml-15">秒杀时间：{{item.activity_start_time.substr(0,10)}}</view>
						<view class="display_flex pd-30">
							<view class="price f-r flex-1">￥
								<span class="f-17">{{item.price}}<span class="f-12 c-gray ml-20"
										style="text-decoration:line-through;font-weight: 400;">{{item.old_price_name?item.old_price_name:'原价'}}￥{{item.old_price}}</span></span>
							</view>
							<view class="weui-cell__ft" v-if="appName!='Toutiao'">
								<view class="secondbuy" v-if="item.activity_time_status==1">即将开始</view>
								<view class="secondbuy" v-if="item.activity_time_status==2">立即购买</view>
								<view class="presell_defult" v-if="item.activity_time_status==3">秒杀结束</view>
							</view>
						</view>
					</view>
					<view class="shop_block" @click="goodsInfo(item.id,item.tt_shop_id,item.name)"
						v-if="item.activity_status==4">
						<view class="goodspic-box">
							<image class="picmode" mode="aspectFit" :src="item.img_url"></image>
						</view>
						<view class="ellipsis-4 f-15 f-w pd-30 c-black"><span class="groupbadge">团购</span>{{item.name}}
						</view>
						<view class="group_progress_box">
							<view class="progressbox">
								<view v-if="item.group_arr.group_number>0" class="myprogress"
									:style="'width:'+item.group_arr.group_number/item.group_arr.group_all_number*100+'%;'">
								</view>
								<view class="group_number" v-if="item.group_arr.group_number>0">
									已参与{{item.group_arr.group_number}}人</view>
							</view>
							<view class="display_flex mt-10" style="position: relative;height: 70rpx;">
								<block v-for="(itemd,index) in item.group_arr.pay_info" :key="index">
									<view v-if="index==0" class="nummoney_text" style="left: 0;">
										<view class="f-12">{{itemd.number}}人购</view>
										<view class="f-10">{{itemd.price}}元</view>
									</view>
									<view v-else-if="item.group_arr.pay_info.length-1==index" class="nummoney_text"
										style="right: 0;">
										<view class="f-12">{{itemd.number}}人团</view>
										<view class="f-10">{{itemd.price}}元</view>
									</view>
									<view v-else class="nummoney_text"
										:style="'margin-left:-40rpx;left:'+itemd.number/item.group_arr.group_all_number*100+'%'">
										<view class="f-12">{{itemd.number}}人团</view>
										<view class="f-10">{{itemd.price}}元</view>
									</view>
								</block>
							</view>
						</view>
						<block v-if="user_id!=0">
							<view class="c-gray f-12 ml-15" v-if="item.group_arr.status==0||item.group_arr.status==1">
								团购时间：{{item.group_arr.start_time.substr(0,10)}}~{{item.group_arr.end_time.substr(0,10)}}
							</view>
							<view class="c-gray f-12 ml-15" v-else>付款截止时间：{{item.group_arr.pay_end_time.substr(0,10)}}
							</view>
						</block>
						<view class="display_flex pd-30">
							<view class="price f-r flex-1">
								<view class="f-17 price" v-if="item.group_arr.status==2||item.group_arr.group_sign==1">
									<span class="f-12">￥</span>{{item.price}}.00
								</view>
								<view class="f-17 price" v-else><span
										class="f-12">￥</span>{{item.group_arr.pay_info[item.group_arr.pay_info.length-1].price}}.00~<span
										class="f-12">￥</span>{{item.group_arr.pay_info[0].price}}.00
								</view>
							</view>
							<view class="weui-cell__ft" v-if="appName!='Toutiao'">
								<view class="goodsbuy" v-if="item.group_arr.status==0">即将开始</view>
								<block v-if="item.group_arr.status==1">
									<view class="goodsbuy" v-if="item.group_arr.group_sign==0">立即参与</view>
									<view class="notimeendBtn" v-else>
										<view>{{item.group_arr.end_time.substr(5,14)}}开始</view>
										<view class="f-w ml-5">付款</view>
									</view>
								</block>
								<view class="secondbuy" v-if="item.group_arr.status==2">立即购买</view>
								<view class="presell_defult" v-if="item.group_arr.status==3">团购结束</view>
							</view>
						</view>
					</view>
				</view>
				<view class="text-c c-gray f-13 mb-100" v-if="itemd.list.length==0">
					<view class="mt-60 mb-30">即将上线，敬请期待</view>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	import {
		getAdvs,
		getShopList,
		getShareImg,
		getShopCategories
	} from '../../api/motortime.js'
	let app = getApp()
	export default {
		data() {
			return {
				advList: [],
				clist: [],
				list: [],
				bottomHeight: app.globalData.bottomHeight,
				listb: '',
				listbNull: false,
				listc: '',
				listcNull: false,
				listo: '',
				listoNull: false,
				appName: '',
				user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : 0
			};
		},
		onLoad() {
			uni.showLoading({
				title: '加载中'
			});
			this.getAdvs()
			this.getShopCategories()
			this.getShareImg()
			var params = {
				event_code: '商城',
				path: 'pages/shop/shop',
				user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
				source: app.globalData.source,
				invitees_scene_id: '',
				source_page: '',
				event_id: '',
				title: '',
				value: '',
			}
			app.BurialPoint(params)
		},
		onShow() {
			this.user_id = uni.getStorageSync('member') ? uni.getStorageSync('member').id : 0
			this.appName = app.globalData.systeminfo.appName

			uni.removeStorage({
				key: 'onload'
			})

			// // #ifndef MP-TOUTIAO
			// uni.hideTabBar()
			// // #endif
		},
		methods: {
			getAdvs() {
				getAdvs({
					media_id: 1,
					type: 2
				}).then(res => {
					if (res.state == 1) {
						this.advList = res.data
					}
				})
			},
			getShopCategories() {
				getShopCategories().then(res => {
					if (res.state == 1) {
						this.clist = res.data
						this.getShopList(0)
					}
				})
			},
			getShopList(i) {
				var info = this.clist[i]
				var params = {
					is_index: 1,
					cate_id: this.clist[i].id,
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : 0
				}
				// #ifdef MP-TOUTIAO
				params.is_tt = 1
				// #endif
				getShopList(params).then(res => {
					uni.hideLoading()
					if (res.state == 1) {
						var list = this.list
						var listb = res.data.data
						for (var j = 0; j < listb.length; j++) {
							var activity_end_time = listb[j].activity_end_time
							if (activity_end_time) {
								listb[j].acend_time = activity_end_time.substring(0, 16)
							}
						}
						var params = {
							cateinfo: info,
							list: listb
						}
						this.list.push(params)
						var num = i + 1
						if (num < this.clist.length) {
							this.getShopList(num)
						}
						// this.listb = res.data.data
						// this.listbNull = res.data.data.length == 0 ? true : false
					}
				})
			},
			getShareImg() {
				var params = {
					path: '商城首页'
				}
				getShareImg(params).then(res => {
					if (res.state == 1) {
						this.shareinfo = res.data
					}

				})
			},


			goodsInfo(id, tt_shop_id, title) {
				// 汽车时间商品逻辑
				// #ifdef MP-TOUTIAO
				if (this.appName != 'Toutiao') {
					tt.openEcGood({
						promotionId: tt_shop_id,
						success(res) {
							console.log("openEcGood调用成功", res);
						},
						fail(res) {
							console.log("openEcGood调用失败", res);
						},
					});
				}
				// #endif
				// #ifndef MP-TOUTIAO
				uni.navigateTo({
					url: '/pages/goodsinfo/goodsinfo?scene=' + id
				})
				// #endif
				var params = {
					event_code: '商城',
					path: 'pages/shop/shop',
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
					source: app.globalData.source,
					invitees_scene_id: '',
					source_page: '商城-商品详情',
					event_id: id,
					title: title,
					value: '',
				}
				app.BurialPoint(params)

				// 跳转汽车时间商城逻辑
				// // #ifdef MP-WEIXIN
				// uni.navigateToMiniProgram({
				// 	appId: 'wxb006b83309f7e574',
				// 	path: 'pages/detail/detail?scene=' + id,
				// 	envVersion: 'trial',
				// 	success(res) {
				// 		// 打开成功
				// 	}
				// })
				// // #endif

				// // #ifdef APP-PLUS
				// uni.showModal({
				// 	content: '即将打开"汽车时间商城"小程序',
				// 	confirmText: '允许',
				// 	success: function(res) {
				// 		if (res.confirm) {
				// 			plus.share.getServices(function(s) {
				// 				var sweixin = ''
				// 				for (var i = 0; i < s.length; i++) {
				// 					var t = s[i];
				// 					console.log(t);
				// 					if (t.id == 'weixin') {
				// 						sweixin = t
				// 					}
				// 				}
				// 				if (sweixin) {
				// 					sweixin.launchMiniProgram({
				// 						id: 'gh_8592b9c006ad',
				// 						type: 0,
				// 						path: 'pages/detail/detail?scene=' + id,
				// 					})
				// 				}
				// 			}, function(e) {
				// 				console.log("获取分享服务列表失败：" + e.message);
				// 			});
				// 		} else if (res.cancel) {
				// 			console.log('用户点击取消');
				// 		}
				// 	}
				// });
				// // #endif
			},

			goCrtsList() {
				tt.openEcCart({
					shopId: "2515325977630525",
					success(res) {
						console.log("调用成功", res);
					},
					fail(res) {
						console.log("调用失败", res);
					},
				});
			},
			goOrderList() {
				//打开汽车时间商城订单
				// uni.navigateToMiniProgram({
				// 	appId: 'wxb006b83309f7e574',
				// 	path: 'pages/goodsorderlist/goodsorderlist?type=nopay',
				// 	envVersion: 'trial',
				// 	success(res) {
				// 		// 打开成功
				// 	}
				// })
				// #ifdef MP-TOUTIAO
				if (uni.getStorageSync('access_token')) {
					tt.openDouyinOrderList({
						success(res) {
							console.log("调用成功", res);
						},
						fail(res) {
							console.log("调用失败", res);
						},
					});
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
				// #endif
				// #ifndef MP-TOUTIAO
				if (uni.getStorageSync('access_token')) {
					uni.navigateTo({
						url: '/pages/shop/orderlist/orderlist'
					})
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
				// #endif


			},
			goGoodslist() {
				uni.navigateTo({
					url: '/pages/shop/goodslist/goodslist'
				})
			},
			goGoodsclasslist() {
				uni.navigateTo({
					url: '/pages/shop/classification/classification'
				})
			},
			goIngetral() {
				uni.navigateTo({
					url: '/pages/integral/integral'
				})
			},
			goCarsList() {
				if (uni.getStorageSync('access_token')) {
					uni.navigateTo({
						url: '/pages/shop/goodscarts/goodscarts'
					})
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			gotopImginfo(id, link_url, title) {
				var isweb = link_url.indexOf("https://m.motortime.com/")
				if (isweb == 0) {
					var access_token = uni.getStorageSync('access_token');
					if (access_token) {
						uni.navigateTo({
							url: '/pages/webview/webview?scene=' + link_url,
						})
					} else {
						uni.navigateTo({
							url: '/pages/login/login?url=' + link_url,
						})
					}
				} else {
					uni.navigateTo({
						url: link_url
					})
				}
				var params = {
					event_code: '商城',
					event_id: id,
					title: title,
					value: '',
					path: 'pages/shop/shop',
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
					source_page: '商城'
				}
				app.BurialPoint(params)

			},
		},
		onPullDownRefresh() {
			this.getShopCategories()

			uni.stopPullDownRefresh()
		},
		//分享
		onShareAppMessage(res) {
			app.getShareTask('/pages/shop/shop')
			return {
				title: this.shareinfo.titie,
				path: '/pages/shop/shop',
				imageUrl: this.shareinfo.img
			}

		},
	}
</script>

<style lang="scss">
	.shop_box {
		.home_swiper {
			width: 100%;
			height: 450rpx;
			border-bottom: 20rpx solid #f8f8f8;

			swiper-item {
				height: 450rpx;
			}

			swiper {
				width: 100%;
				height: 450rpx !important;
			}

			.swiper {
				width: 100%;
				height: 450rpx;
			}
		}

		.uni-swiper-dot {
			width: 5px !important;
			height: 5px !important;
		}

		.swiper_img {
			width: 100%;
			height: 450rpx;
			// display: initial;
		}

		.grid_box {
			padding: 30rpx 20rpx;

			.shop_grid_img {
				width: 40rpx;
				height: 40rpx;
			}

			.shop_grid_img_box {
				width: 40rpx;
				height: 40rpx;
				position: relative;
			}

			.shopcarnum {
				width: 18rpx;
				height: 18rpx;
				border-radius: 60rpx;
				font-size: 14rpx;
				color: #FFFFFF;
				position: absolute;
				top: -10rpx;
				right: -10rpx;
				background-color: #D92121;
				display: flex;
				align-items: center;
				justify-content: center;

			}
		}

		.shophomecol {
			color: #3a3a3a;
			text-align: center;
			padding: 60rpx 0 30rpx 0;
			border-top: 20rpx solid #f8f8f8;
		}

		.hotpic {
			width: 44rpx;
			height: 40rpx;
		}

		.hotcarpic {
			width: 50rpx;
			height: 35rpx;
		}

		.shop_block {
			border-bottom: 2rpx solid #EAEAEA;

			.goodspic-box {
				height: 480rpx;
				object-fit: cover;
				padding: 30rpx;
				border-radius: 5rpx;
			}

			.picmode {
				width: 100%;
				height: 100%;
			}

			.goodsbuy {
				background-color: #FF9A23;
				border-radius: 90rpx;
				color: #fff;
				width: 100px !important;
				padding: 18rpx 0;
				text-align: center;
				font-weight: 300;
				font-size: 24rpx;
				border: 0px solid rgba(0, 0, 0, .2) !important;
			}
		}


		.shop_cell {
			padding: 30rpx;
			display: flex;

			.shop_cell_imgbox {
				width: 260rpx;
				height: 260rpx;
				margin-right: 30rpx;

				.shop_cell_img {
					width: 260rpx;
					height: 260rpx;
					margin-right: 30rpx;
				}
			}

			.source {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				display: flex;
				align-items: center;
			}
		}

		.secondbuy {
			background-color: #E10000;
			border-radius: 90rpx;
			color: #fff;
			width: 100px !important;
			padding: 18rpx 0;
			text-align: center;
			font-weight: 300;
			font-size: 24rpx;
			border: 0px solid rgba(0, 0, 0, .2) !important;
		}

		.group_progress_box {
			padding: 0 30rpx 30rpx 30rpx;
		}

		.progressbox {
			width: 100%;
			height: 20rpx;
			position: relative;
			background-color: #fff;
			border: 2rpx solid #E10000;
		}

		.myprogress {
			height: 20rpx;
			background-color: #E10000;
		}

		.nummoney_text {
			color: #9A9A9A;
			text-align: center;
			position: absolute;
			top: 0;
		}

		.group_number {
			height: 20rpx;
			color: #333333;
			font-size: 20rpx;
			display: flex;
			align-items: center;
			margin-left: 10rpx;
			position: absolute;
			top: 0;
		}

		.presell {
			background-color: #13AA7E;
			border-radius: 90rpx;
			color: #fff;
			width: 100px !important;
			padding: 18rpx 0;
			text-align: center;
			font-weight: 300;
			font-size: 24rpx;
			border: 0px solid rgba(0, 0, 0, .2) !important;
		}

		.presell_defult {
			background-color: #eaeaea;
			border-radius: 90rpx;
			color: #000;
			width: 100px !important;
			padding: 18rpx 0;
			text-align: center;
			font-weight: 300;
			font-size: 24rpx;
			border: 0px solid rgba(0, 0, 0, .2) !important;
		}

		.notimeendBtn {
			max-height: 60rpx;
			font-size: 26rpx;
			color: #000000;
			background-color: #eaeaea;
			border-radius: 30px;
			padding: 18rpx 25rpx;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.top_cars_img {
			width: 40rpx;
			height: 40rpx;
		}

	}
</style>