<template>
	<view class="">
		<view class="mycarbox" v-for="item in carsList" :key="item.id">
			<view class="carlist_cell" @click="selectModels(item.id,item.title)">
				<view class="carlist_img">
					<image :src="item.pic" mode="aspectFit"
						style="margin-right: 10rpx;vertical-align: middle;width:360rpx; height: 160rpx;"></image>
				</view>
				<view class="carlist_name f-14">{{item.title}}</view>
				<view class="car_point" v-if="car_id==item.id">
					●
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	import {
		selectCar,
		activeApply
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				car_id: '',
				carsList: []
			};
		},
		onShow() {

		},
		onLoad(options) {
			if (uni.getStorageSync('Appoptions')) {
				var scene = uni.getStorageSync('Appoptions').query.scene
				var list = scene.split('-');
				this.qrkey = list[1]
			}
			this.hid = options.scene
			this.mobile = options.phone
			this.selectCar()
		},
		methods: {
			selectCar() {
				selectCar({
					brand_id: 2,
					region: 1
				}).then(res => {
					if (res.state == 1) {
						this.carsList = res.data
					}
				})
			},
			selectModels(id, title) {
				this.car_id = id
				var params = {
					hid: this.hid,
					mobile: this.mobile,
					brand_id: 2,
					car_series_id: id,
					key: this.qrkey,
				}
				activeApply(params).then(res => {
					console.log(res)
					if (res.state == 1) {
						uni.reLaunch({
							url: '/pages/jxactive/activeqr/activeqr?scene=' + this.hid,
						})
					} else {
						uni.showToast({
							title: res.data.error[0],
							mask: true,
							icon: 'none',
							duration: 1500
						})
					}
				})
			}
		}
	}
</script>

<style lang="scss">
	page {
		background-color: #F1F1F1;
	}

	.mycarbox {
		margin: 20rpx 30rpx;
		background-color: #fff;
		border-radius: 25rpx;
	}

	.carlist_cell {
		display: flex;
		align-items: center;
		padding: 30rpx;
		position: relative;
	}

	.carlist_img {}

	.carlist_name {}

	.car_point {
		color: #1F2A75;
		position: absolute;
		top: 0;
		right: 20rpx;
	}
</style>
