<template>
	<view class="goodspay_page">
		<view class="c-red f-14 text-c" style="margin-top: 20%;">
			￥<span class="f-20 f-w">{{goodprice}}</span>
		</view>
		<view class="display_flex mt-15" style="justify-content: center;">
			<view class="f-14 mr-10">支付剩余时间</view>
			<view class="timepor">{{hours}}</view>：
			<view class="timepor">{{minutes}}</view>：
			<view class="timepor">{{seconds}}</view>
		</view>
		<view style="margin-top: 20%;padding: 30rpx;">
			<view class="f-15 f-w">选择支付方式</view>
			<view class="display_flex mt-10" style="padding: 10rpx;" @click="changePayType(0)">
				<view class="flex-1 display_flex">
					<image style="width:25px; height: 22px;" src="/static/images/shop/wecheatpay.png"></image>
					<view class="f-14 ml-10">微信支付</view>
				</view>
				<uni-icons :type="ischecked==1?'checkbox-filled':'circle'" color="#f6ab00" size="18"></uni-icons>
			</view>
			<!-- #ifdef APP-PLUS -->
			<!-- <view class="display_flex mt-10" style="padding: 10rpx;" @click="changePayType(2)">
				<view class="flex-1 display_flex">
					<image style="width:25px; height: 25px;" src="/static/images/shop/alipay.png"></image>
					<view class="f-14 ml-10">支付宝</view>
				</view>
				<uni-icons :type="ischecked==2?'checkbox-filled':'circle'" color="#f6ab00" size="18"></uni-icons>
			</view> -->
			<!-- #endif -->
		</view>
		<view class="btn_block" style="position: fixed;bottom: 60rpx;left: 0;right: 0;" @click="payOrder()">支付
			￥{{goodprice}}
		</view>
	</view>
</template>

<script>
	import {
		getOrderinfo,
		goodsPayment
	} from '@/api/motortime.js';
	let app = getApp()
	let setTime
	export default {
		data() {
			return {
				order_no: '',
				ischecked: 1,
				timer: '',
				timeout: false,
				goodprice: "0.00",
				hours: '00',
				minutes: '00',
				seconds: '00',
				isPay: false,
				provider: 'wxpay',
				paytype: 0

			};
		},
		onLoad(options) {
			wx.hideShareMenu()
			this.pages = options.pages
			this.order_no = options.order_no
			if (options.pages == 1) {
				this.pages = 1
				this.goodprice = options.goodprice
				this.hours = '23'
				this.minutes = '59'
				this.seconds = '59'
				this.countdown();
			} else {
				this.pages = 2
				this.getOrderinfo(options.order_no)
			}
		},
		methods: {
			getOrderinfo(id) {
				getOrderinfo(id).then(res => {
					if (res.state == 1) {
						var orderInfo = res.data
						if (orderInfo.activity_status == 1) {
							var activity_end_time = orderInfo.activity_end_time
							var newTime = new Date();
							var newDate = new Date(activity_end_time * 1000);
							var orderYear = newDate.getFullYear()
							var orderMonth = newDate.getMonth() + 1
							var orderDay = newDate.getDate()
							var orderHour = newDate.getHours()
							var orderMin = newDate.getMinutes()
							if (orderMonth < '10') orderMonth = "0" + orderMonth;
							if (orderDay < '10') orderDay = "0" + orderDay;
							if (orderHour < '10') orderHour = "0" + orderHour;
							if (orderMin < '10') orderMin = "0" + orderMin;
							this.timepoord(newTime, activity_end_time)
						} else {
							var order_timer = orderInfo.created_at;
							var newTime = new Date();
							var arr = order_timer.replace("-", "/").replace("-", "/")
							this.timepoor(arr, newTime)
						}
						if (orderInfo.activity_status == 1) {
							if (orderInfo.deposit == '0.00') {
								var goodprice = parseFloat(orderInfo.product_amount_total) + parseFloat(orderInfo
									.logistics_fee) - parseFloat(orderInfo.integral_money)
							} else {
								if (orderInfo.deposit_status == 1) {
									var goodprice = parseFloat(orderInfo.balance)
								} else {
									var goodprice = parseFloat(orderInfo.deposit) - parseFloat(orderInfo
										.integral_money)
								}
							}
						} else if (orderInfo.activity_status == 4) {
							if (orderInfo.deposit == '0.00') {
								var goodprice = parseFloat(orderInfo.balance)
							} else {
								if (orderInfo.deposit_status == 1) {
									var goodprice = parseFloat(orderInfo.balance)
								} else {
									var goodprice = parseFloat(orderInfo.deposit) - parseFloat(orderInfo
										.integral_money)


								}
							}
						} else {
							var goodprice = parseFloat(orderInfo.balance)
						}
						var that = this
						app.numToFixed(goodprice, function(bk) {
							that.goodprice = bk
						})
					}
				})
			},
			timepoor: function(date1, date2) {
				var _this = this;
				var date3 = new Date(date2).getTime() - new Date(date1).getTime(); //时间差的毫秒数        
				//计算出相差天数  
				var days = Math.floor(date3 / (24 * 3600 * 1000));
				//计算出小时数  
				var leave1 = date3 % (24 * 3600 * 1000); //计算天数后剩余的毫秒数  
				var hours = Math.floor(leave1 / (3600 * 1000));
				//计算相差分钟数  
				var leave2 = leave1 % (3600 * 1000); //计算小时数后剩余的毫秒数  
				var minutes = Math.floor(leave2 / (60 * 1000));
				//计算相差秒数  
				var leave3 = leave2 % (60 * 1000); //计算分钟数后剩余的毫秒数  
				var seconds = Math.round(leave3 / 1000);

				if (hours < 24) {
					hours = 23 - hours
					if (minutes < 59) {
						minutes = 59 - minutes;
						seconds = 59 - seconds;
						if (hours < '10') hours = "0" + hours;
						if (minutes < '10') minutes = "0" + minutes;
						if (seconds < '10') seconds = "0" + seconds;
						_this.timer = hours + ":" + minutes + ":" + seconds
						_this.hours = hours
						_this.minutes = minutes
						_this.seconds = seconds
						_this.countdown();
					} else {
						_this.orderState = false
						_this.timer = "00:00:00"
					}
				} else {
					_this.orderState = false
					_this.timer = "00:00:00"

				}
			},
			countdowns: function(time) {
				var that = this
				setTime = setTimeout(function() {
					var newTime = new Date();
					that.timepoor(newTime, time)
				}, 1000);
			},
			timepoord: function(date1, date2) {
				var that = this;
				var date = date2 * 1000
				var date3 = date - new Date(date1).getTime(); //时间差的毫秒数        
				//计算出相差天数  
				if (date3 > 0) {
					var days = Math.floor(date3 / (24 * 3600 * 1000));
					//计算出小时数  
					var leave1 = date3 % (24 * 3600 * 1000); //计算天数后剩余的毫秒数  
					var hours = Math.floor(leave1 / (3600 * 1000) + 24 * days);
					//计算相差分钟数  
					var leave2 = leave1 % (3600 * 1000); //计算小时数后剩余的毫秒数  
					var minutes = Math.floor(leave2 / (60 * 1000));
					//计算相差秒数  
					var leave3 = leave2 % (60 * 1000); //计算分钟数后剩余的毫秒数  
					var seconds = Math.round(leave3 / 1000);
					that.countdownd(date2);
					if (days < '10') days = "0" + days;
					if (hours < '10') hours = "0" + hours;
					if (minutes < '10') minutes = "0" + minutes;
					if (seconds < '10') seconds = "0" + seconds;
					if (days > 0) {
						var timer = days + "天" + hours + "小时" + minutes + "分钟"
					} else {
						var timer = hours + "小时" + minutes + "分钟"
					}
					that.timer = timer
					that.days = days
					that.hours = hours
					that.minutes = minutes
					that.seconds = seconds
				} else {

					that.orderState = false
					that.timer = "00:00:00"
					that.days = '00'
					that.hours = '00'
					that.minutes = '00'
					that.seconds = '00'
				}
			},
			countdownd: function(time) {
				var that = this
				setTime = setTimeout(function() {
					var newTime = new Date();
					that.timepoord(newTime, time)
				}, 1000);
			},
			countdown: function() {
				var that = this;
				var hours = that.hours
				var minutes = that.minutes
				var seconds = that.seconds
				var timerd = setInterval(function() {

					if (seconds == '00') {
						if (minutes == "00") {
							seconds = '0'

							if (hours == '00') {
								hours = '0'
								clearInterval(timerd)
								that.orderState = false
							} else {
								hours--
								if (hours < "10") {
									if (hours < '10') hours = "0" + hours;
								}
							}
						} else {
							seconds = '59';
							minutes--;
							if (minutes < "10") {
								if (minutes < '10') minutes = "0" + minutes;
							}
						}
					} else {
						seconds--;
					}
					if (seconds < '10') seconds = "0" + seconds;
					that.hours = hours
					that.minutes = minutes
					that.seconds = seconds
				}, 1000);
			},
			changePayType(type) {
				this.ischecked = type
				this.provider = type == 0 ? 'wxpay' : 'alipay'
				this.paytype = type
			},
			payOrder() {
				var that = this

				if (!that.isPay) {
					that.isPay = true
					// #ifdef MP-WEIXIN
					goodsPayment({
						order_no: that.order_no
					}).then(res => {
						if (res.state == 1) {
							uni.requestPayment({
								timeStamp: res.data.timestamp,
								nonceStr: res.data.nonceStr,
								package: res.data.package,
								signType: res.data.signType,
								paySign: res.data.paySign,
								success(res) {
									uni.showToast({
										title: '支付成功',
										icon: 'success',
										duration: 1500,
										mask: true,
										success: function() {
											that.pages = 0
											setTimeout(() => {
												uni.redirectTo({
													url: '/pages/shop/paysuccess/paysuccess?id=' +
														that.order_no,
												})
											}, 1000);
										}
									})
								},
								fail(res) {
									that.isPay = false
									that.timeout = false
									console.log('取消支付或支付失败');
								}
							})
						} else {
							that.isPay = false
						}
					})
					// #endif
					// #ifdef APP-PLUS
					goodsPayment({
						order_no: that.order_no,
						type: that.paytype,
					}).then(res => {
						if (res.state == 1) {
							var orderInfo = {
								"appid": res.data.appid,
								"partnerid": res.data.partnerid,
								"prepayid": res.data.prepayid,
								"timestamp": res.data.timestamp,
								"noncestr": res.data.noncestr,
								"package": res.data.package,
								"sign": res.data.sign,
							}
							uni.requestPayment({
								provider: that.provider,
								orderInfo: orderInfo,
								success(res) {
									uni.showToast({
										title: '支付成功',
										icon: 'success',
										duration: 1500,
										mask: true,
										success: function() {
											that.pages = 0
											setTimeout(() => {
												uni.redirectTo({
													url: '/pages/shop/paysuccess/paysuccess?id=' +
														that.order_no,
												})
											}, 1000);
										}
									})
								},
								fail(res) {
									that.isPay = false
									that.timeout = false
									console.log('取消支付或支付失败');
								}
							})
						} else {
							that.isPay = false
						}
					})
					// #endif
				}

			},
		},
		onUnload() {
			// if (this.pages == 1) {
			// 	uni.redirectTo({
			// 		url: '/pages/shop/orderlist/orderlist?type=nopay&index=0'
			// 	})
			// }
			clearTimeout(setTime);
		}
	}
</script>

<style lang="scss">
	.goodspay_page {
		.timepor {
			width: 60rpx;
			height: 60rpx;
			display: flex;
			color: #3a3a3a;
			border-radius: 5rpx;
			align-items: center;
			justify-content: center;
			background-color: #f8f8f8;
		}
	}
</style>