<template>
	<view class="salesshare_pages">
		<!-- #ifndef MP -->
		<view class="top_goods_info">
			<view style="color: #030303;font-weight: Regular;">{{info.goods_name}}</view>
			<view style="color: #4B4B4B;">
				<span>优惠价：</span>
				<span class="c-red f-w">{{info.price}}元</span>
			</view>
			<view style="color: #4B4B4B;">
				<span>抢购链接：</span>
				<span>{{info.price}}</span>
			</view>
			<view style="color: #4B4B4B;">
				<span>更多好物推荐：</span>
				<span>{{info.price}}</span>
			</view>
		</view>
		<view class="salesshare_btn_box">
			<view class="salesshare_btn">复制链接</view>
			<view class="salesshare_btn">复制全部</view>
		</view>
		<!-- #endif -->
		<view class="goods_info">
			<!-- <image mode="widthFix" class="poster_img"
				src="https://pic.motortime.com/Uploadfile/ProgramPicture/75/01/7501cda1990716b60d2f13eacbb21945.jpg">
			</image> -->
			<image mode="widthFix" class="poster_img" :src="info.poster"></image>
			<!-- <view class="display_flex" style="justify-content: center;">
				<view class="goods_info_img_box">
					<image mode="aspectFit" class="goods_info_img"
						src="https://pic.motortime.com/Uploadfile/ProgramPicture/75/01/7501cda1990716b60d2f13eacbb21945.jpg">
					</image>
				</view>
			</view>
			<view class="goods_info_name_box">
				<view class="f-12 flex-1 ellipsis-3" style="#030303">【汽车时间商城】T恤 富士范儿 STI元素九宫格（黑）富士范儿 STI元素九宫格（黑）富士范儿
					STI元素九宫格（黑）</view>
				<view class="goods_info_qrcode_box">
					<image class="goods_info_qrcode" src="../../../static/images/logo.png"></image>
				</view>
			</view> -->
		</view>
		<view class="salesshare_btn_box">
			<view class="salesshare_btn" @click="savePoster()">保存海报</view>
		</view>
	</view>
</template>

<script>
	import {
		getSalesGoodsInfo,
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				id: '',
				info: ''
			};
		},
		onShow() {
			wx.hideShareMenu()
		},
		onLoad(options) {
			this.id = options.id
			uni.showLoading({})
			this.getSalesGoodsInfo()
		},
		methods: {
			getSalesGoodsInfo() {
				getSalesGoodsInfo({
					id: this.id
				}).then(res => {
					if (res.state == 1) {
						this.info = res.data.info
						uni.hideLoading()
					}else{
						uni.hideLoading()
						uni.showToast({
							title: res.error[0],
							mask: true,
							icon: 'none',
							duration: 1500
						})
					}
				})
			},
			savePoster() {
				uni.downloadFile({
					url: this.info.poster,
					success: function(res) {
						var tempFilePath = res.tempFilePath
						console.log(res.tempFilePath)
						uni.authorize({
							scope: 'scope.writePhotosAlbum',
							success() {
								uni.saveImageToPhotosAlbum({
									filePath: tempFilePath,
									success: function() {
										uni.showToast({
											title: '保存成功',
											icon: 'none',
											duration: 1500
										});
										console.log('save success');
									},
									fail(e) {
										console.log('下载失败')
									}
								});
							},
							fail() {
								console.log('未授权')
							}
						})

					},
				})
			}
		},
		// onShareAppMessage(res) {
		// 	return {

		// 	}
		// },
		// onShareTimeline: function() {
		// 	return {

		// 	}
		// },
	}
</script>

<style lang="scss">
	page {
		background-color: #F4F4F4;
	}

	.salesshare_pages {
		padding: 40rpx 30rpx;

		.top_goods_info {
			font-size: 24rpx;
			line-height: 46rpx;
			padding: 20rpx 60rpx;
			border-radius: 5rpx;
			background-color: #ffffff;
		}

		.salesshare_btn_box {
			margin-top: 40rpx;
			display: flex;
			align-items: center;
			justify-content: space-around;
		}

		.salesshare_btn {
			color: #030303;
			font-size: 28rpx;
			padding: 20rpx 60rpx;
			border-radius: 8rpx;
			background-color: #FFBB00;
		}

		.goods_info {
			margin: 0 100rpx;
			margin-top: 70rpx;
			padding: 20rpx 35rpx;
			border-radius: 5rpx;
			background-color: #ffffff;

			.poster_img {
				width: 100%;
			}
		}

		.goods_info_img_box {
			width: 420rpx;
			height: 420rpx;
			padding: 20rpx 35rpx;

			.goods_info_img {
				width: 100%;
				height: 100%;
			}
		}


		.goods_info_name_box {
			display: flex;
			align-items: center;
			padding: 20rpx 35rpx;
			border-top: 2rpx solid #F4F4F4;

			.goods_info_qrcode_box {
				width: 96rpx;
				height: 96rpx;
				margin-left: 30rpx;

				.goods_info_qrcode {
					width: 96rpx;
					height: 96rpx;
				}
			}

		}
	}
</style>