<template>
	<view class="praise_page">
		<view class="followlist_box">
			<view class="followlist_cell" v-for="(item,index) in list" :key="item.id">
				<view class="flex-1 display_flex">
					<view class="followlist_img_box">
						<image class="followlist_img" :src="item.headimg_url"></image>
					</view>
					<view class="f-15 f-w ml-15" style="color: #605c6b;">{{item.user_name}}</view>
				</view>
				<block v-if="item.id!=params.login_user_id">
					<view class="motor_list_user_follow" @click="followUser(item.id,1,index)" v-if="item.is_follow==0">
						<uni-icons type="plusempty" size="12" color="#F6AB00"></uni-icons>关注
					</view>
					<view class="motor_list_user_followd" @click="followUser(item.id,0,index)" v-if="item.is_follow==1">
						已关注
					</view>
					<view class="motor_list_user_followd" @click="followUser(item.id,0,index)" v-if="item.is_follow==2">
						互相关注
					</view>
				</block>
			</view>
		</view>
		<view class="text-c" style="background-color: #FFFFFF;" v-if="showLoading"
			:style="'padding-bottom:'+bottomBox+'rpx;'">
			<image class="loading_gift" src="/static/images/gif.gif"></image>
		</view>
		<view class="text-c" style="background-color: #FFFFFF;" v-else :style="'padding-bottom:'+bottomBox+'rpx;'">
			<view class="f-12 c-gray text-c pd-30">{{loadingTitle}}</view>
		</view>
	</view>
</template>

<script>
	import {
		getPraiseUserList,
		followUser
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				bottomBox: uni.getSystemInfoSync().safeAreaInsets.bottom > 0 ? uni.getSystemInfoSync().safeAreaInsets
					.bottom : 8,
				list: [],
				showLoading: true,
				loadingTitle: '已加载全部',
				params: {
					notice_id: '',
					media_id: 1,
					page: 1,
					size: 20
				}
			};
		},
		onShow() {

		},
		onLoad(options) {
			this.params.notice_id = options.id
			uni.setNavigationBarTitle({
				title: options.title,
			})
			this.getPraiseUserList()
		},
		methods: {
			getPraiseUserList() {
				getPraiseUserList(this.params).then(res => {
					if (res.state == 1) {
						this.list = [...this.list, ...res.data.data]
						this.last_page = res.data.last_page
						this.current_page = res.data.current_page
						if (res.data.total == 0) {
							this.showLoading = false
							this.loadingTitle = '暂无关注'
						} else {
							if (res.data.last_page == res.data.current_page) {
								this.showLoading = false
								this.loadingTitle = '已加载全部'
							}
						}
					} else {
						uni.showToast({
							title: res.error[0],
							icon: 'none',
							mask: true,
							duration: 1500
						})
					}
				})
			},
			followUser(id, type, index) {
				followUser({
					follow_user_id: id,
					type: type
				}).then(res => {
					if (res.state == 1) {
						this.list[index].is_follow = type == 1 ? 1 : 0
					}
				})
			}
		},
		onReachBottom() {
			if (this.last_page > this.current_page) {
				this.params.page++
				this.getPraiseUserList()
			} else {
				this.showLoading = false
				this.loadingTitle = '已加载全部'
			}
		},
		onPullDownRefresh() {
			this.params.page = 1
			this.list = []
			this.getPraiseUserList()
			uni.stopPullDownRefresh()
		}
	}
</script>

<style lang="scss">
	.praise_page {
		.followlist_box {
			padding: 30rpx;
		}

		.followlist_img_box {
			width: 80rpx;
			height: 80rpx;
			position: relative;

			.followlist_img {
				width: 100%;
				height: 100%;
				border-radius: 60px;
			}
		}

		.followlist_cell {
			display: flex;
			align-items: center;
			padding: 20rpx 0;
		}
	}
</style>
