.mt-5 {
	margin-top: 10rpx;
}

.mt-10 {
	margin-top: 20rpx;
}

.mt-15 {
	margin-top: 30rpx;
}

.mt-20 {
	margin-top: 40rpx;
}

.mt-25 {
	margin-top: 50rpx;
}

.mt-30 {
	margin-top: 60rpx;
}

.mt-40 {
	margin-top: 40rpx;
}

.mr-5 {
	margin-right: 10rpx;
}

.mr-10 {
	margin-right: 20rpx;
}

.mr-15 {
	margin-right: 30rpx;
}

.mr-20 {
	margin-right: 40rpx;
}

.mr-25 {
	margin-right: 50rpx;
}

.mb-5 {
	margin-bottom: 10rpx;
}

.mb-10 {
	margin-bottom: 20rpx;
}

.mb-15 {
	margin-bottom: 30rpx;
}

.mb-20 {
	margin-bottom: 40rpx;
}

.mb-25 {
	margin-bottom: 50rpx;
}

.mb-100 {
	margin-bottom: 100rpx;
}

.mb-200 {
	margin-bottom: 200rpx;
}

.ml-5 {
	margin-left: 10rpx;
}

.ml-10 {
	margin-left: 20rpx;
}

.ml-15 {
	margin-left: 30rpx;
}

.ml-20 {
	margin-left: 40rpx;
}

.ml-25 {
	margin-left: 50rpx;
}

.ml-45 {
	margin-left: 90rpx;
}

.pd-20 {
	padding: 20rpx;
}

.pd-30 {
	padding: 30rpx;
}

.f-9 {
	font-size: 18rpx;
}

.f-10 {
	font-size: 20rpx;
}

.f-12 {
	font-size: 24rpx;
}

.f-13 {
	font-size: 26rpx;
}

.f-14 {
	font-size: 28rpx;
}

.f-15 {
	font-size: 30rpx;
}

.f-16 {
	font-size: 32rpx;
}

.f-17 {
	font-size: 34rpx;
}

.f-18 {
	font-size: 36rpx;
}

.f-20 {
	font-size: 40rpx;
}

.f-30 {
	font-size: 60rpx;
}

.f-40 {
	font-size: 80rpx;
}

.f-w {
	font-weight: bold;
}

.c-gray {
	color: #9a9a9a;
}

.c-white {
	color: #FFFFFF;
}

.c-red {
	color: #E10000;
}

.c-gold {
	color: #f6ab00;
}

.c-blue {
	color: #33a1ff;
}

.c-black {
	color: #3A3A3A;
}

.price {
	color: #E10000;
	font-weight: bold;
}

.text-c {
	text-align: center;
}

.text-l {
	text-align: left;
}

.text-r {
	text-align: right;
}

.f-l {
	float: left;
}

.f-r {
	float: right;
}

.flex-1 {
	flex: 1;
}

.ellipsis {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ellipsis-2 {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ellipsis-3 {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ellipsis-4 {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ellipsis-5 {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 5;
	overflow: hidden;
	text-overflow: ellipsis;
}

uni-rich-text {
	font-size: 14px !important;
	color: #3A3A3A !important;
}

uni-rich-text img {
	width: 100% !important;
}

//弹窗
.weui-demo-dialog {
	visibility: hidden;
	opacity: 0;
	transition: all;
}

.weui-demo-dialog_show {
	visibility: visible;
	opacity: 1;
}

.weui-mask,
.weui-mask_transparent {
	position: fixed;
	z-index: 1000;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .6);
}

.weui-dialog__wrp {
	position: fixed;
	z-index: 5000;
	top: 16px;
	bottom: 16px;
	left: 16px;
	right: 16px;
	text-align: center;
	font-size: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.weui-dialog {
	background-color: #fff;
	text-align: center;
	border-radius: 12px;
	overflow: hidden;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	max-height: 90%;
}

.weui-dialog__bd:first-child,
.weui-dialog__ft {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
}

.weui-dialog__ft {
	position: relative;
	font-size: 17px;
	line-height: 54px;
	min-height: 54px;
}

.weui-dialog__bd:first-child,
.weui-dialog__ft {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
}

.weui-dialog__btn {
	display: block;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	color: #576b95;
	font-weight: 700;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	position: relative;
}

.weui-dialog__bd {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	padding: 0 24px;
	margin-bottom: 32px;
	min-height: 40px;
	font-size: 17px;
	line-height: 1.4;
	overflow-wrap: break-word;
	-webkit-hyphens: auto;
	hyphens: auto;
	color: rgba(0, 0, 0, .5);
}

.weui-dialog__bd:first-child {
	padding: 32px 24px 0;
	font-weight: 700;
	color: rgba(0, 0, 0, .9);
	-webkit-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.showModal_box {
	width: 490rpx;
	height: 280rpx;
	position: fixed;
	top: 40%;
	left: 0;
	right: 0;
	z-index: 1002;
	margin: 0 auto;
	text-align: center;
}

.showModal_img_box {
	position: relative;
	text-align: center;
}

.showModal {
	width: 490rpx;
	height: 280rpx;
}

.showModal_title {
	font-size: 28rpx;
	width: 490rpx;
	position: absolute;
	top: 50rpx;
	color: #fff;
}

.showModal_ok {
	font-size: 28rpx;
	width: 490rpx;
	position: absolute;
	bottom: 45rpx;
	color: #fff;
}

.showModal_btn {
	background-color: transparent !important;
	font-size: 28rpx;
	width: 490rpx;
	position: absolute;
	bottom: 24rpx;
	color: #fff;
	border: 0rpx solid #333 !important;
}

.dialogphonebtn {
	width: 50% !important;
	color: #fff;
	line-height: 0;
	background-color: transparent;
	font-size: 28rpx;
	font-weight: 400;
}

//三图显示
.motor_list {
	padding: 15px 10px;
	border-bottom: 1px solid #EAEAEA;
}

.motor_list_content {
	display: flex;
	align-items: auto;
}

.motor_list_img {
	width: 115px;
	height: 100px;
	border-radius: 3px;
}

.motor_list_title {
	flex: 1;
	color: #3A3A3A;
	font-size: 15px;
	font-weight: bold;
	line-height: 25px;
}

.motor_list_info {
	color: #3A3A3A;
	font-size: 14px;
}

.motor_badge {
	color: #FF0000;
	font-size: 10px;
	border: 1px solid #FF0000;
	border-radius: 2px;
	padding: 0 5px;
	white-space: nowrap;
}

.motor_list_intor {
	color: #9A9A9A;
	font-size: 12px;
	display: flex;
	align-items: center;
	margin-top: 15px;
}

.motor_list_time {
	flex: 1;
}

.motor_list_badge {
	color: #FFF;
	font-size: 8px;
	border: 1px solid #F6AB00;
	background-color: #F6AB00;
	border-radius: 20px;
	padding: 3px 5px;
}

.motor_praise_comm {
	display: flex;
	align-items: center;
	margin-left: 28px;
}

.motor_comm_img {
	width: 30rpx;
	height: 27rpx;
	margin-right: 10px;
}

.motor_praise_img {
	width: 30rpx;
	height: 28rpx;
	margin-right: 10px;
}

.motor_list_imgroup {
	height: 420rpx;
	display: flex;
	margin-top: 30rpx;
}

.motor_list_imgroup_left {
	float: left;
	width: 67%;
}

.motor_list_imgroup_right {
	float: right;
	width: 33%;
	padding: 0 0 0 12rpx;
	line-height: 0;
}

.motor_list_left_img {
	width: 100%;
	height: 420rpx;
	border-radius: 6rpx;
}

.motor_list_right_img {
	width: 100%;
	height: 204rpx;
	border-radius: 6rpx;
}

.img_gray {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
}

.mask_box {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .6);
	z-index: 1000;
}

/* 编辑器内容 */
.post_content {
	font-size: 28rpx;
	padding: 30rpx;
	border-top: 10rpx solid #f8f8f8;
	border-bottom: 10rpx solid #f8f8f8;
}

textarea {
	width: 100%;
}

/* 编辑器上传图片 */
.picbox {
	padding: 20rpx 0;
	border-bottom: 10rpx solid #f8f8f8;
	/* position: fixed;
	width: 100%;
	background-color: #fff;
	z-index: 3; */
}

.uploadImg_box {
	width: 120rpx;
	height: 120rpx;
	border-radius: 2rpx;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ededed;
}

.post_weui_grids {
	width: 72%;
	overflow: hidden;
	padding: 0 20rpx;
}

.weui_grid {
	position: relative;
	float: left;
	box-sizing: border-box;
	border-right: none;
	border-bottom: none;
	margin: 10rpx;
	width: 120rpx;
}

.weui_grid_icon {
	width: 120rpx;
	height: 120rpx;
	margin: 0 auto;
	display: block;
}

.delpic {
	width: 24rpx;
	height: 24rpx;
	position: absolute;
	right: -20rpx;
	top: -20rpx;
	padding: 30rpx;
}

/* 编辑器底部 */
.bottombox {
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	background-color: #fff;
}

.tpoic_box {
	margin: 20rpx 30rpx;
	display: flex;
	align-items: center;
}

.posttpoiclist_box {
	flex: 1;
	display: flex;
	align-items: center;
}

.topic_type_box {
	padding: 0 25rpx;
	/* border-top: 10rpx solid #f8f8f8; */
}

.topic_type_img {
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.topic_type_name {
	color: #fff;
	font-size: 24rpx;
}

.weui-badge {
	display: inline-block;
	padding: 5rpx 20rpx;
	min-width: 8px;
	border-radius: 2px;
	background-color: #f3f9ff;
	color: #728fc4;
	line-height: 1.2;
	text-align: center;
	font-size: 24rpx;
	vertical-align: middle;
}

.weui-badged {
	display: inline-block;
	padding: 5rpx 20rpx;
	min-width: 8px;
	border-radius: 2px;
	background-color: #f8f8f8;
	color: #9a9a9a;
	line-height: 1.2;
	text-align: center;
	font-size: 24rpx;
	vertical-align: middle;
}

.bottom_block {
	display: flex;
	align-items: center;
	box-shadow: 0px -5px 10px -5px rgba(0, 0, 0, 0.1);
	padding: 20rpx 30rpx;
}

.bottom_left_box {
	flex: 1;
}

.post_pic {
	width: 40rpx;
	height: 40rpx;
}

.btn-save {
	color: #fff;
	background-color: #FFBA00;
	border-radius: 5rpx;
	font-size: 24rpx;
	padding: 14rpx 50rpx;
}

.block_btn_red {
	width: 100%;
	color: #fff;
	font-size: 28rpx;
	background-color: #E10000;
	line-height: 3;
	text-align: center;
	border-radius: 30px;
}

/* 投票 */
.vote_box {
	text-align: center;
	padding: 30rpx;
}

.vote_title {
	font-size: 28rpx;
	font-weight: bold;
	margin: 15rpx;
}

.vote_num_time {
	color: #999999;
	font-size: 24rpx;
	margin: 15rpx;
}

.vote_btn_box {
	margin-bottom: 10rpx;
	min-height: 100rpx;
	display: flex;
	justify-content: center;
	align-items: center;
}

.vote_btn {
	color: #fff;
	font-size: 24rpx;
	padding: 8rpx 0;
	margin: 0 20rpx;
	min-width: 160rpx;
}

.btn-red {
	background-color: #CD8091;
}

.btn-blue {
	background-color: #518392;
}

.btn-yellow {
	background-color: #E5AD7B;
}

.vote_versus {
	/* color: #E02020; */
	width: 50rpx;
	height: 36rpx;
	margin: 0 20rpx;
}

.vote_result_box {
	margin-bottom: 10rpx;
	min-height: 100rpx;
}

.vote_result {
	display: flex;
	align-items: flex-end;
}

.vote_result_progress {
	color: #fff;
	font-size: 24rpx;
	padding: 8rpx 10rpx;
}

.vote_result_title {
	font-size: 24rpx;
	margin: 5rpx 0;
}

.vote_choose {
	color: #999999;
	font-weight: 400;
}

.border-four {
	border-radius: 8rpx;
}

/* 顶部tabs */
.tabs_fixed {
	border-bottom: 1rpx solid #EAEAEA;
	display: flex;
	justify-content: space-around;
	position: -webkit-sticky !important;
	position: sticky;
	top: 0px;
	z-index: 1;
	background-color: #ffffff;
}

.tabs_item {
	position: relative;
	font-size: 30rpx;
	font-weight: bold;
	color: rgba(176, 176, 176, 1);
	padding: 20rpx 0;
}

.tab_item_border {
	border-bottom: 8rpx solid #F6AB00;
}

.title_dot {
	position: absolute;
	top: 30rpx;
	right: -7rpx;
	width: 15rpx;
	height: 15rpx;
	border-radius: 50%;
	background-color: #E10000;
}

/* 审核结果文案 */
.auditbox {
	font-size: 24rpx;
	background-color: #efefef;
	padding: 10rpx;
	margin-top: 10rpx;
}

.presellbadge {
	font-weight: 500;
	font-size: 24rpx;
	color: #fff;
	padding: 4rpx 10rpx;
	border-radius: 10rpx;
	margin-right: 10rpx;
	background-color: #13AA7E;
}

.secondbadge {
	font-weight: 500;
	font-size: 24rpx;
	color: #fff;
	padding: 4rpx 10rpx;
	border-radius: 10rpx;
	margin-right: 10rpx;
	background-color: #E10000;
}

.groupbadge {
	font-weight: 500;
	font-size: 24rpx;
	color: #fff;
	padding: 4rpx 10rpx;
	border-radius: 10rpx;
	margin-right: 10rpx;
	background-color: #FF9A23;
}

.SearchWidth_app {
	width: 100%;
}

/* 详情活动卡片 */
.wechat_card_box {
	margin: 20rpx 48px;
	background-color: #f7f7f7;
	padding: 25rpx;
	border-radius: 16rpx;
}

.wechat_box {
	display: flex;
	align-items: center;

}

.wechat_logo {
	width: 40rpx;
	height: 40rpx;
	border-radius: 60px;
	margin-right: 12rpx;
}

.wechat_name {
	font-size: 28rpx;
	color: rgba(0, 0, 0, .5);
}

.wechat_card_title {
	font-size: 30rpx;
	color: #222;
	line-height: 1.6;
	max-height: 100rpx;
	margin: 8px 0 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	font-weight: 400;
}

.wechat_card_img {
	width: 100%;
	height: 408rpx;
}

/* 自定义modal弹窗 */
.fj_modal_box {
	position: fixed;
	top: 40%;
	left: 10%;
	right: 10%;
	z-index: 1001;
	padding-top: 50rpx;
	border-radius: 20rpx;
	background-color: #ffffff;
	overflow: hidden;
	color: #7a7a7a;
}

.fj_modal_title {
	text-align: center;
	font-size: 30rpx;
	margin-bottom: 15rpx;
	padding: 0 20rpx;
}

.fj_modal_text {
	text-align: center;
	font-size: 30rpx;
	margin-bottom: 15rpx;
	padding: 0 20rpx;
}

.fj_modal_btn_flex {
	display: flex;
	align-items: center;
	justify-content: center;
	border-top: 2rpx solid #eaeaea;
	margin-top: 40rpx;
}

.fj_modal_center_btn {
	font-weight: bold;
	font-size: 30rpx;
	padding: 30rpx 0 30rpx 0;
	text-align: center;
	color: #576B95;
}

.fj_modal_left_btn {
	width: 50%;
	font-weight: bold;
	padding: 30rpx 0 30rpx 0;
	border-right: 2rpx solid #eaeaea;
	text-align: center;
	color: #3a3a3a;
}

.fj_modal_btn_box {
	color: #1F2A75 !important;
	width: 100% !important;
	padding: 0 !important;
	background-color: #fff !important;
}

.fj_modal_right_btn {
	width: 50%;
	font-weight: bold;
	padding: 30rpx 0 30rpx 0;
	text-align: center;
	color: #576B95;
}