.question_box {
	padding: 20rpx;
}

.ques_list_box {
	border-top: 20rpx solid #f0f0f0;
}

.ques_list_cell {
	color: #3A3A3A;
	padding: 30rpx 20rpx;
	border-bottom: 2rpx solid #eaeaea;
}

.ques_user_avatar_box {}

.ques_user_avatar {
	width: 90rpx;
	height: 90rpx;
	border-radius: 100rpx;
}

.motor_list_user_follow {
	padding: 5px 15px;
	color: #F6AB00;
	font-size: 24rpx;
	border: 1px solid #F6AB00;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.motor_list_user_followd {
	padding: 5px 15px;
	color: #9a9a9a;
	font-size: 24rpx;
	border: 1px solid #9a9a9a;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.question_title_box {
	display: flex;
	align-items: flex-start;
}

.question_title {
	font-size: 32rpx;
	font-weight: bold;
}

.question_icon {
	width: 44rpx;
	height: 44rpx;
	margin-right: 20rpx;
	flex-shrink: 0;
}

.question_text_box {
	text-indent: 2em;
	position: relative;
}

.answers_icon {
	width: 44rpx;
	height: 44rpx;
	position: absolute;
	left: 0;
}

.answer_box {
	font-size: 28rpx;
	line-height: 1.5;
	padding-top: 30rpx;
}

.question_img_box {
	width: 100%;
	height: 350rpx;
	border-radius: 5rpx;
	position: relative;
	padding-top: 30rpx;
}

.question_img {
	width: 100%;
	height: 350rpx;
	border-radius: 5rpx;
}

.question_badge {
	position: absolute;
	top: 30rpx;
	left: 0;
	width: 70rpx;
	height: 70rpx;
	border-top-left-radius: 5rpx;
}

.answer_img_box {
	width: 230rpx;
	height: 200rpx;
	margin-right: 20rpx;
}

.answer_img {
	width: 230rpx;
	height: 200rpx;
	margin-right: 20rpx;
}

.ques_reply_btn {
	color: #fff;
	font-size: 24rpx;
	padding: 10rpx 20rpx;
	border-radius: 60px;
	background-color: #33A1FF;


}

.ques_reply_btn_icon {
	width: 24rpx;
	height: 24rpx;
	margin-right: 10rpx;
}

.question_labels {
	color: #fff;
	min-width: 100rpx;
	text-align: center;
	font-size: 18rpx;
	padding: 4rpx 10rpx;
	border-radius: 60rpx;
	background-color: #FFBA00;
}

.comment_icon {
	width: 30rpx;
	height: 28rpx;
}
