
/* 会员头部 */
.userinfo {
  padding: 0 30rpx;color: #fff;background: $d-main;position: relative;overflow: hidden;box-shadow: 0 1rpx 20rpx rgba(149, 147, 147, 0.21);
}
.user-elem { width: 70rpx;height: 70rpx;position: absolute;}
.user-elem:first-child {right: -30rpx; top: 10%;}
.user-elem:nth-child(n+2) {left: -30rpx;bottom: 40%;transform: scale(0.8);}
.Member_head {padding: 50rpx 0;overflow: hidden; }
.userinfo-avatar {float: left; margin-left:10rpx; width: 110rpx; height: 110rpx;border-radius: 50%;box-shadow: 0 0 0 6rpx rgba(255, 255, 255, 0.5);}
.userinfo_box {font-size: 36rpx; }
.userinfo_name {float: left; margin-left: 30rpx; width: 380rpx; height: 50rpx; line-height: 50rpx; color: #fff; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; font-size: 36rpx; font-weight: bold;}

.tongbu-btn {display: inline-block;color: #fff;}
.tongbu-btn button{display:inline;background:transparent;color:#fff;border:0;line-height: 1.5;}
.tongbu-btn button::after{border:0;}
.tongbu-btn .button-hover{color:#fff;background:transparent;}
.tongbu-btn .iconfont {font-size: 40rpx;}

.userinfo_level{float: left; padding: 0 20rpx; margin-left: 30rpx; margin-top: 10rpx; height: 50rpx; line-height: 50rpx; background: rgba(255, 255, 255,0.3); border-radius: 30rpx; text-align: center; color: #fff; font-size: 28rpx;}

/* 开通会员 */
.vip-box {padding: 20rpx 30rpx 30rpx 30rpx;color: var(--userFontC,--mColorDark);border-radius: 12rpx 12rpx 0 0;background-image: linear-gradient(120deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.6));position: relative;box-shadow: 0 -5rpx 45rpx 0 rgba(0, 0, 0, 0.06), 1rpx 1rpx 0 rgba(255, 255, 255, 0.2) inset;}
.open-member {display: flex;align-items: center; width: 100%;}
.open-member-txt, .vip-balance {font-weight: bold; flex: 1; overflow: hidden;}
.open-member-txt .iconfont {font-size: 36rpx;margin-right: 10rpx;}
.open-member-btn {background: transparent;color: inherit;font-size: 12px;border: 1px solid;line-height: 26px;padding: 0 20rpx;border-radius: 6rpx;}
.open-member-btn::after {border: none;}
.vip-box-text{font-size: 28rpx; height: 48rpx; line-height: 48rpx;}

/* 我的工具 */
.myToolBox,.myCard{position: relative; width: 92%; margin: 2% 4% 0 4%; padding: 20rpx 0;}
.myToolBoxTit,.myCardTit{font-weight: bold;line-height: 88rpx;}
.myToolCont{padding: 20rpx 30rpx; background: #fff;border-radius: 20rpx;}
.toolItem{display: inline-flex;width: 304rpx;align-items: center;padding: 36rpx 0;font-size: 28rpx;line-height: 1;}
.toolItem:not(:nth-child(2n)){margin-right: 22rpx;}
.toolItemIco{width: 68rpx;height: 68rpx;margin-right: 20rpx;}
.toolItemTips{font-size: 24rpx;color: #999;margin-top: 16rpx;}

/* 会员中心 功能菜单 */
.user-fun-btns{width: 92%; margin: 2% 4%; padding: 20rpx; box-sizing: border-box; background: #fff; border-radius: 10rpx;
	.title{margin-bottom: 15rpx; width: 100%;height: 60rpx;line-height: 60rpx;font-size: 32rpx;color: #000;border-bottom: 1px solid #f7f7f7;}
	.user-fun-item{display: flex; flex-direction: row; flex-wrap: wrap;
		.item{width: 25%; padding: 12rpx 0; text-align: center;
			image{width: 40%;height: 72rpx;margin: 0 30%;}
			text{width: 100%;height: 60rpx; text-align: center;font-size: 28rpx;color: #666;}
		}
	}
}

/* 会员 单行列表菜单 */
.user-nav-list{width: 92%; margin: 2% 4%; padding: 20rpx; box-sizing: border-box; background: #fff; border-radius: 10rpx;
	.item{display: flex;align-items: center;justify-content: space-between; height: 100rpx;line-height: 100rpx;border-bottom:1px solid #eee;
		.item-left{display: flex;align-items: center;
			.iconfont{display: inline-block; width: 60rpx;height:60rpx;line-height:60rpx;margin-right:20rpx;color:#fff;font-size: 34rpx;text-align: center;border-radius: 50%;
				&.color01{background: #75d3d3;}
				&.color02{background: #ff8297;}
				&.color03{background: #ffb66e;}
				&.color04{background: #5379f4;}
				&.color05{background: #972fca;}
				&.color06{background: #4d9be8;}
				&.color07{background: #007d00;}
				&.color08{background: #40c1c1;}
				&.color09{background: #81c100;}
			}
			.nav-tit{font-size: 30rpx;color:#171a28;}	
		}
		// 箭头
		.arrow{color:#ddd;}
		&:last-child{border-bottom: 0;}
	}
}

/* 会员中心 订单页 */
.user-order{ width: 92%; margin: 2% 4%; padding: 20rpx; box-sizing: border-box; background: #fff; border-radius: 10rpx;}
.user-order .user-order-head{ width: 100%; height: 80rpx; line-height: 80rpx; border-bottom: 1px solid #eee;}
.user-order .user-order-head .tit{ float: left; color: #333;font-size: 34rpx;}
.user-order .user-order-head .more{float: right; color: #999; font-size: 26rpx;}
.user-order .user-order-body{width: 100%; height: 140rpx;}
.user-order .order-item-btn{ float: left; margin-top: 20rpx; width: 25%; text-align: center;}
.user-order .order-item-btn .iconfont{float: left; width: 100%; height: 60rpx; font-size: 60rpx;  color: #666;}
.user-order .order-item-btn .text{float: left; width: 100%; height: 60rpx; line-height: 60rpx; font-size: 28rpx; color: #666;}