<template>
	<view class="postanswer_box">
		<uni-nav-bar left-icon="back" title="回答" :statusBar="true" :fixed="true" @clickLeft="goBack"></uni-nav-bar>
		<view class="question_title">{{title}}</view>
		<view class="post_content">
			<textarea :value="content" maxlength='5000' placeholder="请填写答案内容" @input="bindContent"
				:style="'height:'+postHeight+'px'" />
		</view>
		<view class="picbox" :style="'bottom:' +picbottomheight+'px;'" v-if="params.content[0].img">
			<view class="post_weui_grids">
				<view class="weui_grid">
					<image class="weui_grid_icon" :src="images_url" mode="aspectFill" />
					<image class="delpic" src="/static/images/del.png" @click="delpic()"></image>
				</view>
			</view>
		</view>
		<view class="bottombox" :style="'padding-bottom:'+ bottomheight+'px;'">
			<view class="bottom_block">
				<view class="bottom_left_box">
					<image class="post_pic" src="/static/images/post_pic.png" @click="chooseImg"></image>
				</view>
				<view class="btn-save" @click="posted">发表</view>
			</view>
		</view>
	</view>
</template>

<script>
	import {
		getTopicList,
		askAnswer,
		getAskDraftInfo
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				title: '',
				bottomheight: 0,
				picbottomheight: 60,
				images_url: '',
				params: {
					qid: 0,
					is_draft: 0,
					draft_id: '',
					content: [{
						text: '',
						img: ''
					}]
				},
				postHeight: 400,
				windowHeight: '',
				isSubmit: false
			};
		},
		onShow() {
			this.bottomheight = app.globalData.bottomheight
			this.picbottomheight = app.globalData.bottomheight + 60
		},
		onLoad(options) {
			this.params.qid = options.id
			this.title = options.title
			if (options.draft_id) {
				this.params.draft_id = options.draft_id
				this.params.is_draft = 1
				this.getAskDraftInfo()
			}
			this.textareaHeight()

		},
		methods: {
			getAskDraftInfo() {
				getAskDraftInfo().then(res => {
					if (res.state == 1) {

					}
				})
			},
			bindContent(e) {
				this.params.content[0].text = e.detail.value
			},
			chooseImg() {
				var that = this
				uni.chooseImage({
					count: 1,
					sizeType: ['original', 'compressed'], //可以指定是原图还是压缩图，默认二者都有
					sourceType: ['album'], //从相册选择
					success: function(res) {
						var tempFilePaths = res.tempFilePaths
						uni.showLoading({
							title: '正在上传'
						})
						uni.uploadFile({
							url: app.globalData.uploadUrl,
							filePath: res.tempFilePaths[0],
							name: 'img',
							success: (res) => {
								uni.hideLoading()
								console.log(JSON.parse(res.data));
								var picdata = JSON.parse(res.data);
								that.params.content[0].img = picdata.data.img
								that.images_url = picdata.data.img_url
								that.textareaHeight()
							}
						});
					}
				});
			},
			delpic() {
				this.images_url = ''
				this.params.content[0].img = ''
			},
			posted() {
				if (!this.isSubmit) {
					this.isSubmit = true

					if (this.params.content[0].text || this.params.content[0].img) {
						askAnswer(this.params).then(res => {
							if (res.state == 1) {
								uni.setStorage({
									key: 'onload',
									data: true,
								});
								if (type == 1) {
									uni.redirectTo({
										url: '/pages/question/quesinfo/quesinfo?scene=' + this.params.qid
									})

								} else {
									uni.navigateBack({
										delta: 1
									})
								}

							} else {
								this.isSubmit = false
								uni.showToast({
									title: res.data.error[0],
									icon: 'none',
									duration: 1500
								});
							}
						})
					} else {
						this.isSubmit = false
						uni.showToast({
							title: '请填写答案内容',
							icon: 'none',
							duration: 1500
						});
					}
				}
			},
			goBack() {
				// var that = this
				// if (that.params.content[0].text || that.params.content[0].img) {
				// 	uni.showModal({
				// 		content: '是否保存为草稿？',
				// 		confirmText: '保存',
				// 		cancelText: "不保存",
				// 		confirmColor: '#f6ab00',
				// 		success: function(res) {
				// 			if (res.confirm) {
				// 				that.params.is_draft = 1
				// 				askAnswer(that.params).then(res => {
				// 					if (res.state == 1) {
				// 						uni.navigateBack({
				// 							delta: 1
				// 						})
				// 					} else {
				// 						uni.showToast({
				// 							title: res.data.error[0],
				// 							icon: 'none',
				// 							duration: 1500
				// 						});
				// 					}
				// 				})
				// 			} else if (res.cancel) {
				// 				uni.navigateBack({
				// 					delta: 1
				// 				})
				// 			}
				// 		}
				// 	});
				// } else {
				// 	uni.navigateBack({
				// 		delta: 1
				// 	})
				// }
				uni.navigateBack({
					delta: 1
				})
			},
			textareaHeight() {
				var windowHeight = app.globalData.windowHeight
				var query = uni.createSelectorQuery().in(this)
				var postitle, bottombox
				query.select('.question_title').boundingClientRect(data => {
					postitle = data.height
				}).exec();
				query.select('.bottombox').boundingClientRect(data => {
					bottombox = data.height
				}).exec();
				var that = this
				setTimeout(function() {
					that.postHeight = windowHeight - postitle - bottombox - 100
				}, 1500)
			}
		}
	}
</script>

<style lang="scss">
	.postanswer_box {
		.question_title {
			padding: 30rpx;
			font-size: 28rpx;
		}

	}
</style>
