<template>
	<web-view :src="weburl"></web-view>
</template>

<script>
	export default {
		data() {
			return {
				weburl: '',
				weburlold: ''
			};
		},
		onShow() {
			if (uni.getStorageSync('onload')) {
				this.weburl = this.weburlold + "?token=" + uni.getStorageSync('access_token') + "&source=4&userid=" + uni
					.getStorageSync('member').id
				uni.removeStorage({
					key: 'onload'
				})
			}
		},
		onLoad(options) {
			var weburl = decodeURIComponent(options.scene)
			this.weburlold = weburl
			if (uni.getStorageSync('access_token')) {
				this.weburl = weburl + "?token=" + uni.getStorageSync('access_token') + "&source=4&userid=" + uni
					.getStorageSync('member').id
			} else {
				uni.navigateTo({
					url: '/pages/login/login?type=approve'
				})
			}
		},
		methods: {

		}
	}
</script>

<style lang="scss">

</style>
