<template>
	<view class="myquestion">
		<view class="tabs_fixed">
			<view :class="current == 0?'tabs_item tab_item_border':'tabs_item'" @click="onClickItem(0)">提问</view>
			<view :class="current == 1?'tabs_item tab_item_border':'tabs_item'" @click="onClickItem(1)">回答</view>
			<!-- <view :class="current == 2?'tabs_item tab_item_border':'tabs_item'" @click="onClickItem(2)">草稿</view> -->
		</view>
		<view class="content">
			<view class="" v-if="current == 0">
				<view class="ques_list_cell" v-for="(item,index) in qlist" :key="item.id">
					<view class="question_title_box" @click="goqInfo(item.id,index)">
						<image v-if="!item.answer" class="question_icon" src="/static/images/question.png"></image>
						<text class="question_title">{{item.question}}</text>
					</view>
					<view class="answer_box" @click="goqInfo(item.id,index)">
						<text>{{item.content}}</text>
						<view class="question_img_box" v-if="item.image.length>0">
							<image class="question_img" mode="aspectFill" :src="item.image[0]"></image>
							<image class="question_badge" src="/static/images/badge.png"></image>
						</view>
					</view>
					<view class="display_flex mt-15">
						<view @click="goqInfo(item.id,index)" class="flex-1 display_flex">
							<view class="c-gray f-12" v-if="item.answer_num>0">{{item.answer_num}}个回答</view>
							<view class="c-gray f-12 ml-10" v-if="item.collect_num>0">{{item.collect_num}}个收藏</view>
						</view>
						<view @click="delQuestion(item.id,index)" class="f-12 c-gray">删除</view>
					</view>
				</view>
				<view class="loading">
					<view class="f-12 c-gray text-c pd-30" v-if="noquestion">暂无内容</view>
				</view>
			</view>
			<view class="" v-if="current == 1">
				<view class="ques_list_cell" v-for="(item,index) in alist" :key="item.id">
					<view class="question_title_box" @click="goaInfo(item.id,index,item.answer.id)">
						<text class="question_title">{{item.question}}</text>
					</view>
					<view class="answer_box">
						<view class="display_flex" style="align-items: flex-start;position: relative;">
							<view class="answer_img_box" v-if="item.answer.content.img"
								@click="goaInfo(item.id,index,item.answer.id)">
								<image class="answer_img" mode="aspectFill" :src="item.answer.content.img"></image>
							</view>
							<image v-if="item.answer.content.img" class="answers_icon" style="left: 250rpx;"
								src="/static/images/answers.png"></image>
							<image v-else class="answers_icon" style="left: 0;" src="/static/images/answers.png">
							</image>
							<view v-if="item.answer.content.text" class="question_text_box ellipsis-5"
								@click="goaInfo(item.id,index,item.answer.id)">
								{{item.answer.content.text}}
							</view>
						</view>
						<view class="display_flex mt-15">
							<view class="f-12 c-gray flex-1" @click="goaInfo(item.id,index,item.answer.id)">
								{{item.answer.answer_time}}</view>
							<view @click="delAnswer(item.answer.id,index)" class="f-12 c-gray">删除</view>
						</view>
					</view>
				</view>
				<view class="loading">
					<view class="f-12 c-gray text-c pd-30" v-if="noanswer">暂无内容</view>
				</view>
			</view>
			<view class="" v-if="current == 2">
				<view class="ques_list_cell" v-for="(item,index) in dlist" :key="item.id" v-if="item.type.id==1">

					<view class="question_title_box" @click="goDrafts(item.id,item.type.id)">
						<image v-if="item.type.id==1" class="question_icon" src="/static/images/question.png"></image>
						<text class="question_title">{{item.question}}</text>
					</view>
					<!-- <view class="answer_box" v-if="item.type.id==3">
						<view class="display_flex" style="align-items: flex-start;position: relative;">
							<view class="answer_img_box" v-if="item.fcontent[0].img">
								<image class="answer_img" mode="aspectFill" :src="item.fcontent[0].img"></image>
							</view>
							<image v-if="item.fcontent[0].img" class="answers_icon" style="left: 250rpx;"
								src="/static/images/answers.png"></image>
							<image v-else class="answers_icon" style="left: 0;" src="/static/images/answers.png">
							</image>
							<view v-if="item.fcontent[0].text" class="question_text_box ellipsis-5">
								{{item.fcontent[0].text}}
							</view>
						</view>
						<view class="display_flex mt-15">
							<view class="question_labels" v-if="item.labels.length>0">{{item.labels[0].name}}</view>
							<view class="flex-1"></view>
							<view class="display_flex">
								<view class="display_flex" style="margin-right: 30rpx;">
									<image class="comment_icon" src="/static/images/comment.png"></image>
									<span class="ml-5 c-gray">{{item.answer.reply_num}}</span>
								</view>
								<view class="display_flex">
									<image class="comment_icon" v-if="item.answer.is_praise==1"
										src="/static/images/zan-active.png"></image>
									<image class="comment_icon" v-else src="/static/images/zan.png"></image>
									<span class="ml-5 c-gray"
										v-if="item.answer.praise_num>0">{{item.answer.praise_num}}</span>
								</view>
							</view>
						</view>
					</view> -->
					<view class="answer_box" v-if="item.type.id==1">
						<text @click="goDrafts(item.id,item.type.id)">{{item.content}}</text>
						<view @click="goDrafts(item.id,item.type.id)" class="question_img_box"
							v-if="item.image.length>0">
							<image class="question_img" mode="aspectFill" :src="item.image[0]"></image>
							<image class="question_badge" src="/static/images/badge.png"></image>
						</view>
						<view class="display_flex mt-15">
							<view @click="goDrafts(item.id,item.type.id)" class="flex-1 f-12 c-gray">
								{{item.created_at}}
							</view>
							<view @click="delQADrafts(item.id,index)" class="f-12 c-gray">删除</view>
						</view>
					</view>
				</view>
				<view class="loading">
					<view class="f-12 c-gray text-c pd-30" v-if="nodrafts">暂无内容</view>
				</view>
			</view>
		</view>
	</view>
</template>
<script>
	import {
		getMyquestionList,
		getMyanswerList,
		getMydraftsList,
		delAnswer,
		delQuestion,
		delQADrafts,
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				current: 0,
				qlist: [],
				paramsq: {
					channel_id: 0,
					page: 1
				},
				noquestion: false,
				alist: [],
				paramsa: {
					user_id: uni.getStorageSync('member').id,
					channel_id: 0,
					page: 1
				},
				noanswer: false,
				dlist: [],
				paramsd: {
					channel_id: 0,
					page: 1
				},
				nodrafts: false,
			};
		},
		onShow() {
			if (!uni.getStorageSync('member')) {
				uni.navigateTo({
					url: '/pages/login/login'
				})
			}
		},
		onLoad() {
			this.getMyquestionList()
		},
		methods: {
			getMyquestionList() {
				getMyquestionList(this.paramsq).then(res => {
					if (res.state == 1) {
						this.qlist = [...this.qlist, ...res.data.data]
						this.qlast_page = res.data.last_page
						this.qcurrent_page = res.data.current_page
						if (this.qlist.length == 0) {
							this.noquestion = true
						} else {
							this.noquestion = false
						}
					}
				})
			},
			getMyanswerList() {
				getMyanswerList(this.paramsa).then(res => {
					if (res.state == 1) {
						this.alist = [...this.alist, ...res.data.data]
						this.alast_page = res.data.last_page
						this.acurrent_page = res.data.current_page
						if (this.alist.length == 0) {
							this.noanswer = true
						} else {
							this.noanswer = false
						}
					}
				})
			},
			getMydraftsList() {
				getMydraftsList(this.paramsd).then(res => {
					if (res.state == 1) {
						this.dlist = [...this.dlist, ...res.data.data]
						this.dlast_page = res.data.last_page
						this.dcurrent_page = res.data.current_page
						if (this.dlist.length == 0) {
							this.nodrafts = true
						} else {
							this.nodrafts = false
						}
					}
				})
			},
			onClickItem(index) {
				this.current = index
				if (index == 0) {
					if (this.qlist.length == 0) {
						this.noquestion = false
						this.paramsq.page = 1
						this.getMyquestionList()
					}
				} else if (index == 1) {
					if (this.alist.length == 0) {
						this.noanswer = false
						this.paramsa.page = 1
						this.getMyanswerList()
					}
				} else if (index == 2) {
					if (this.dlist.length == 0) {
						this.nodrafts = false
						this.paramsd.page = 1
						this.getMydraftsList()
					}
				}
			},
			delQuestion(id, index) {
				var that = this
				uni.showModal({
					content: '确定要删除吗？',
					confirmText: '删除',
					cancelText: "取消",
					success: function(res) {
						if (res.confirm) {
							delQuestion(id).then(res => {
								if (res.state == 1) {
									that.qlist.splice(index, 1)
								}
							})
						} else if (res.cancel) {
							console.log('用户点击取消');
						}
					}
				});
			},
			delAnswer(id, index) {
				var that = this
				uni.showModal({
					content: '确定要删除吗？',
					confirmText: '删除',
					cancelText: "取消",
					success: function(res) {
						if (res.confirm) {
							delAnswer(id).then(res => {
								if (res.state == 1) {
									that.alist.splice(index, 1)
								}
							})
						} else if (res.cancel) {
							console.log('用户点击取消');
						}
					}
				});
			},
			delQADrafts(id, index) {
				var that = this
				uni.showModal({
					content: '确定要删除吗？',
					confirmText: '删除',
					cancelText: "取消",
					success: function(res) {
						if (res.confirm) {
							delQADrafts(id).then(res => {
								if (res.state == 1) {
									that.dlist.splice(index, 1)
								}
							})
						} else if (res.cancel) {
							console.log('用户点击取消');
						}
					}
				});
			},
			goqInfo(id) {
				uni.navigateTo({
					url: '/pages/question/quesinfo/quesinfo?scene=' + id
				})
			},
			goaInfo(id, index, aid) {
				uni.navigateTo({
					url: '/pages/question/askinfo/askinfo?scene=' + aid
				})
			},
			goDrafts(id, type) {
				if (type == 1) {
					uni.navigateTo({
						url: '/pages/question/post/post?draft_id=' + id
					})
				} else if (type == 3) {
					uni.navigateTo({
						url: '/pages/question/postanswer/postanswer?draft_id=' + id
					})
				}

			}

		},
		onPullDownRefresh() {
			if (this.current == 0) {
				this.qlist = []
				this.paramsq.page = 1
				this.getMyquestionList()
				this.noquestion = false
			} else if (this.current == 1) {
				this.alist = []
				this.paramsa.page = 1
				this.getMyanswerList()
				this.noanswer = false
			} else if (this.current == 2) {
				this.dlist = []
				this.paramsd.page = 1
				this.getMydraftsList()
				this.nodrafts = false
			}
			uni.stopPullDownRefresh()
		},
		onReachBottom() {
			if (this.current == 0) {
				if (this.qlast_page > this.qcurrent_page) {
					this.paramsq.page++
					this.getMyquestionList()
				}
			} else if (this.current == 1) {
				if (this.alast_page > this.acurrent_page) {
					this.paramsa.page++
					this.getMyanswerList()
				}
			} else if (this.current == 2) {
				if (this.dlast_page > this.dcurrent_page) {
					this.paramsd.page++
					this.getMydraftsList()
				}
			}
		}
	}
</script>

<style lang="scss">
	.myquestion {}
</style>
