<template>
	<view class="memberinit_page">
		<view class="avatar_box">
			<button class="weui-cell weui-memberinfo avatar_btn" open-type="chooseAvatar"
				@chooseavatar="bindchooseavatar">
				<image class="avatar" :src="avatar?avatar:'/static/images/default-avatar.png'" mode="aspectFill">
				</image>
			</button>
		</view>
		<view class="nickname_box">
			<view class="">昵称</view>
			<input type="nickname" class="weui-input" placeholder="请输入昵称" @input="changeName" @blur="changeName"
				:value="username" />
		</view>
		<view v-if="choosea&&choosen" class="save_btn" @click="submitBtn">确认修改</view>
		<view v-else class="save_btn_def">确认修改</view>
	</view>
</template>

<script>
	import {
		getMemberInfo,
		saveMemberInfo,
		checkText
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				avatar: '',
				username: '',
				choosea: false,
				choosen: false
			};
		},
		onShow() {

		},
		onLoad() {
			this.getMemberInfo()
			var params = {
				event_code: '修改头像',
				path: 'pages/memberinit/memberinit',
				user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
				source: app.globalData.source,
				invitees_scene_id: '',
				source_page: '',
				event_id: '',
				title: '',
				value: '',
			}
			app.BurialPoint(params)
		},
		methods: {
			getMemberInfo() {
				if (uni.getStorageSync('access_token')) {
					getMemberInfo({
						source: getApp().globalData.source,
						media_id: 1
					}).then(res => {
						if (res.state == 1) {
							uni.setStorage({
								key: 'member',
								data: res.data,
							});
							this.info = res.data
							this.avatar = res.data.avatar
							this.username = res.data.username

						} else {

						}
					})
				} else {
					uni.navigateTo({
						url: '/pages/login/login?is_goan=1'
					})
				}
			},
			bindchooseavatar(e) {
				var that = this
				console.log(e)
				uni.uploadFile({
					url: app.globalData.uploadUrl,
					filePath: e.detail.avatarUrl,
					name: 'img',
					formData: {
						'type': 2
					},
					success: (uploadFileRes) => {
						that.choosen = true
						console.log(JSON.parse(uploadFileRes.data));
						var picdata = JSON.parse(uploadFileRes.data);
						that.avatar = picdata.data.img_url
						that.avatarname = picdata.data.img
						that.saveMemberInfo()
					}
				});
			},
			changeName(e) {
				this.username = e.detail.value
				this.choosea = true
				this.saveMemberInfo()
			},
			saveMemberInfo() {
				var content = this.username
				checkText({
					content: content
				}).then(res => {
					if (res.state == 1) {
						saveMemberInfo({
							media_id: 1,
							username: this.username,
							avatar: this.avatarname,
						}).then(res => {
							if (res.state == 1) {
								this.getMemberInfo()
							} else {

							}
						})
					} else {
						this.is_post = true
						uni.showToast({
							title: res.error[0],
							mask: true,
							icon: 'none',
							duration: 1500
						});
					}

				})
			},
			submitBtn() {
				uni.showToast({
					title: '保存成功',
					icon: 'success',
					mask: true,
					duration: 1500,
					success() {
						uni.navigateBack({
							delta: 1,
						})
					}
				})
			}
		},
	}
</script>

<style lang="scss">
	.memberinit_page {


		.avatar_box {
			width: 100%;
			text-align: center;
			margin-top: 5%;

			button::after {
				border: none;
			}
		}

		.avatar {
			width: 80px;
			height: 80px;
			border-radius: 60px;
		}

		.avatar_btn {
			display: flex;
			justify-content: center;
			width: 100% !important;
			background-color: #fff !important;
			text-align: center;
			font-size: 28rpx;
			font-weight: normal;
		}

		.nickname_box {
			display: flex;
			align-items: center;
			border: 2rpx solid #eaeaea;
			padding: 25rpx 30rpx;
			font-size: 28rpx;
			margin-top: 50rpx;
		}

		.weui-input {
			flex: 1;
			margin-left: 50rpx;
		}

		.save_btn {
			text-align: center;
			padding: 20rpx 0;
			margin: 0 10%;
			background: #F6AB00;
			color: #fff;
			border-radius: 30px;
			font-size: 28rpx;
			margin-top: 30%;
		}

		.save_btn_def {
			text-align: center;
			padding: 20rpx 0;
			margin: 0 10%;
			background: #eaeaea;
			color: #3a3a3a;
			border-radius: 30px;
			font-size: 28rpx;
			margin-top: 30%;
		}
	}
</style>
