<template>
	<view class="carsband">
		<view class='list-city'>
			<scroll-view class="scroll_view" :scroll-y="true" style="height:100vh;" :scroll-into-view="scrollTopId"
				@scroll="bindscroll" scroll-anchoring="true" bindscroll="bindscroll">
				<view class='item' v-for="(itemd,index) in brandList" :key="index">
					<view class='py' :id="index">{{index}}</view>
					<view class="carbands_box" v-for="item in itemd" :key="item.id"
						@click='selectCar(item.id,item.title,item.logo)'>
						<view class="carbands_logo">
							<image :src="item.logo"
								style="margin-right: 16px;vertical-align: middle;width:80rpx; height: 80rpx;"
								mode="aspectFit"></image>
						</view>
						<view class="carbands_title" style="color:#666666">{{item.title}}</view>
					</view>
				</view>
			</scroll-view>
			<!-- 首字母 -->
			<view class='city-py'>
				<view @touchstart="tStart" @touchend="tEnd" @touchmove="tMove">
					<view class="py_box" v-for="(item,index) in _py" :key="index">
						<view class="py_pop" v-if="!hidden&&item==showPy">{{showPy}}</view>
						<view :class="item==showPy?'right_word active class'+item:'right_word class'+item"
							@touchstart="getPy" @touchend="setPy" :id="item">
							{{item}}
						</view>
					</view>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	import {
		getBrands
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				_py: [],
				brandList: [],
				scrollTopId: 'A',
				showPy: 'A',
				hidden: true,
				is_have_card: 1,
				Atop: 0,
				delta:1
			};
		},
		onLoad(options) {
			this.delta=parseInt(options.delta)+1
			this.is_have_card = options.is_have_card
			this.getBrands()
		},
		onShow() {
			var params = {
				event_code: '车主认证_我的车辆',
				event_id: '',
				title: '',
				value: '',
				path: 'pages/motormaster/motormaster',
				user_id: uni.getStorageSync('member').id,
			}
			app.BurialPoint(params)
		},
		methods: {
			getBrands() {
				var that = this
				getBrands().then(res => {
					if (res.state == 1) {
						var list = res.data
						var _py = []
						for (var i in list) { //用javascript的for/in循环遍历对象的属性 
							var word = i
							_py.push(i)
						}
						that.brandList = list
						that._py = _py
						// var cell_height

						setTimeout(function() {
							var query = uni.createSelectorQuery();

							query.select('.class' + _py[0]).boundingClientRect(rect => {
								var Atop = rect.top
								that.Atop = Atop
							}).exec();
							// query.select('.carbands_box').boundingClientRect(rect => {
							// 	cell_height = rect.height

							// }).exec();
							that.getEverHeight()
						}, 200)
					}

				})
			},
			//获取每一个标签与顶部的距离
			getEverHeight: function() {
				var that = this
				var _py = that._py
				var heightArr = []
				for (var i = 0; i < _py.length; i++) {
					var boxtype = _py[i]
					const query = uni.createSelectorQuery()
					query.select('#' + boxtype).boundingClientRect()
					query.selectViewport().scrollOffset()
					query.exec(function(res) {
						res[0].top // #the-id节点的上边界坐标
						res[1].scrollTop // 显示区域的竖直滚动位置
						heightArr.push(res[0].top)
						// console.log(heightArr)
						that.heightArr = heightArr

					})
				}
			},
			//页面滚动判断
			bindscroll: function(e) {
				var that = this
				var deltaY = e.detail.deltaY
				var scrollTop = e.detail.scrollTop
				var _py = that._py
				var heightArr = that.heightArr
				for (var i = 0; i < heightArr.length; i++) {
					if (heightArr[i + 1] > 0) {
						if (scrollTop > heightArr[i] && scrollTop < heightArr[i + 1]) {
							that.showPy = _py[i]
						}
					} else {
						if (scrollTop > heightArr[i]) {
							that.showPy = _py[i]
						}
					}
				}
			},
			//获取文字信息
			getPy: function(e) {
				this.hidden = false
				this.showPy = e.target.id
			},

			setPy: function(e) {
				this.hidden = true
				this.scrollTopId = this.showPy
			},

			//滑动选择品牌
			tMove: function(e) {
				var that = this
				var y = e.touches[0].clientY,
					offsettop = e.currentTarget.offsetTop;
				// console.log('y' + y)
				//判断选择区域,只有在选择区才会生效
				var list = that._py
				var Atop = that.Atop
				var atopoff = y - Atop
				var i = parseInt(atopoff / 20)
				that.showPy = list[i]
				that.scrollTopId = list[i]

				// if (y > offsettop) {
				//   var num = parseInt((y - offsettop) / 20);
				//   that.setData({
				//     showPy: this._py[num]
				//   })

				// };
			},

			// 触发全部开始选择
			tStart: function() {
				this.hidden = false

			},

			//触发结束选择
			tEnd: function() {
				this.hidden = true
				this.scrollTopId = this.showPy
			},

			//选择品牌
			selectCar(id, name, logo) {
				
				uni.navigateTo({
					url: '/pages/carlist/carlist?brand_id=' + id + '&brand_name=' + name + '&is_have_card=' + this.is_have_card +'&delta='+this.delta
				})
			}
		}
	}
</script>

<style lang="scss">
	.carsband {
		.carbands_box {
			display: flex;
			align-items: center;
			padding: 12px 15px;
			margin-right: 30px;
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);

			.carbands_title {
				font-size: 14px;
			}
		}

		.weui-navigation-bar {
			position: relative;
		}

		.weui-navigation-bar__inner {
			position: absolute;
			background: #fff;
		}

		.mymotorcar-box {
			padding: 30rpx;
			height: 380rpx;
			margin-bottom: 20px;
		}

		.mymotor-box {
			padding: 30rpx;
			height: 240rpx;
		}

		.border {
			padding: 30rpx;
			height: 240rpx;
			margin-bottom: 30px;
			box-shadow: 1.5rpx 0 3.75rpx 0 #dedad9, 0.75rpx 5.25rpx 9.75rpx 0 #dad4d3;
		}

		.border-car {
			padding: 30rpx;
			height: 380rpx;
			text-align: center;
			box-shadow: 1.5rpx 0 3.75rpx 0 #dedad9, 0.75rpx 5.25rpx 9.75rpx 0 #dad4d3;
		}

		.addbtn {
			background: #f6ab00;
			color: #fff;
			width: 350rpx;
			height: 70rpx;
			border-radius: 30px;
			text-align: center;
			margin: 20px auto;
		}

		.add-pic {
			width: 30rpx;
			height: 30rpx;
			margin-top: 18rpx;
			vertical-align: top;
		}

		.btn-title {
			display: inline-block;
			margin-left: 10rpx;
		}

		.car-pic {
			width: 100%;
			height: 108px;
		}

		.card-border {
			border: 1rpx solid #2f87db;
			border-radius: 5rpx;
		}

		.province {
			background: #2f87db;
			color: #fff;
			padding: 5rpx 8rpx;
			border: 1rpx solid #2f87db;
			border-top-left-radius: 5rpx;
			border-bottom-left-radius: 5rpx;
		}

		.cardnum {
			padding: 5rpx 8rpx;
			border: 1rpx solid #2f87db;
			border-top-right-radius: 5rpx;
			border-bottom-right-radius: 5rpx;
		}

		.shaded {
			width: 100%;
			height: 100%;
			position: fixed;
			top: 0;
			left: 0;
			z-index: 1;
			background-color: rgba(0, 0, 0, 0.8);
			opacity: 0.5;
			overflow: hidden;
		}

		.choose {
			height: 100%;
			z-index: 2;
			overflow: hidden;
			position: fixed;
			top: 0;
			right: 0;
			left: 15%;
			font-size: 32rpx;
			background: #fff;
		}


		.weui-cell:before {
			right: 80rpx;
		}

		.weui-cells:after {
			border-bottom: 0rpx solid rgba(0, 0, 0, 0.1);
		}

		.car-class {
			width: 100%;
			padding: 10px 16px;
			background: #f6f6f6;
		}

		.car-classd {
			width: 100%;
			background: #f6f6f6;
			padding: 6px 16px;
		}

		.pic-class {
			margin-right: 12px;
			vertical-align: middle;
			width: 27px;
			height: 20px;
		}

		.pic-tab {
			margin-right: 16px;
			vertical-align: middle;
			width: 60px;
			height: 47px;
		}

		.weui-cells:before {
			border-top: 0rpx solid rgba(0, 0, 0, 0.1);
		}

		.weui-badge {
			background-color: #969799;
		}

		.showpyd {
			margin-right: 40rpx;
		}

		.py_box {
			position: relative;
			display: flex;
			align-items: center;
		}

		.py_pop {
			position: absolute;
			right: 100rpx;
			font-size: 24px;
		}

		.list-city {
			position: relative;
		}

		.py {
			box-sizing: border-box;
			background: #eee;
			font-size: 23rpx;
			color: #aaa;
			padding: 10rpx 25rpx;
		}

		.fullname {
			box-sizing: border-box;
			font-size: 30rpx;
			color: #555;
			padding: 25rpx;
			border-bottom: 1rpx solid #eee;
		}

		.city-py {
			position: fixed;
			top: 0;
			right: 0;
			margin: auto;
			display: flex;
			bottom: 0;
			align-items: center;
		}

		.active {
			display: flex;
			justify-content: center;
			align-items: center;
			background: #f6ab00;
		}

		.right_word {
			font-size: 25rpx;
			width: 30rpx;
			height: 30rpx;
			line-height: 12px;
			text-align: center;
			border-radius: 30px;
			margin-bottom: 10rpx;
			margin-right: 30rpx;
			color: #333333;
		}

		.showPy {
			width: 150rpx;
			height: 150rpx;
			background: #fff;
			border-radius: 15rpx;
			line-height: 150rpx;
			text-align: center;
			font-size: 80rpx;
			margin: auto;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			z-index: 3;
			color: #333;
			box-shadow: 0 0 150rpx rgba(0, 0, 0, 0.35);
		}

		.hot-city {
			border: 1rpx solid #eee;
			display: inline-block;
			margin: 25rpx 0 0 25rpx;
			padding: 10rpx 25rpx;
			font-size: 25rpx;
		}
	}
</style>
