<template>
	<view class="member_box">

		<view class="member_top">
			<image class="member_headimg mt-30" mode="aspectFill"
				:src="info?info.avatar:'../../static/images/default-avatar.png'">
			</image>
			<view class="member_name ml-15 mt-30" v-if="info">{{info.username}}</view>
			<view class="member_name ml-15 mt-30" @click="goLogin" v-else>点击登录</view>
			<!-- <block v-else> -->
			<!-- #ifndef MP-BAIDU -->
			<!-- <button class="login_btn" open-type="getUserInfo" @getuserinfo="Login">点击登录</button> -->
			<!-- #endif -->
			<!-- #ifdef MP-BAIDU -->
			<!-- <button class="login_btn" open-type="getUserInfo" @getuserinfo="Login">点击登录</button> -->
			<!-- #endif -->
			<!-- </block> -->
		</view>
		<view class="member_group_box">
			<!-- #ifndef MP-TOUTIAO -->
			<view class="member_grouptop_title">我的订单</view>
			<view class="member_grid_box">
				<view class="member_grid_item" @click="openUrl('/pages/shop/orderlist/orderlist?index=0&type=nopay')">
					<image style="width: 46rpx;height: 46rpx;" src="../../static/images/member/orderPay.png"></image>
					<view class="member_grid_title c-gray">待付款</view>
				</view>
				<view class="member_grid_item" @click="openUrl('/pages/shop/orderlist/orderlist?index=1&type=shipped')">
					<image style="width: 46rpx;height: 42rpx;" src="../../static/images/member/orderHar.png"></image>
					<view class="member_grid_title c-gray">待收货</view>
				</view>
				<view class="member_grid_item"
					@click="openUrl('/pages/shop/orderlist/orderlist?index=2&type=finished')">
					<image  style="width: 46rpx;height: 44rpx;" src="../../static/images/member/getGood.png"></image>
					<view class="member_grid_title c-gray">已完成</view>
				</view>
				<view class="member_grid_item"
					@click="openUrl('/pages/shop/orderlist/orderlist?index=3&type=canceled')">
					<image style="width: 44rpx;height: 46rpx;" src="../../static/images/member/orderClose.png"></image>
					<view class="member_grid_title c-gray">已取消</view>
				</view>
			</view>
			<!-- #endif -->
			<view class="member_grouptop_title">个人中心</view>
			<view class="member_grid_box">
				<!-- #ifdef MP-TOUTIAO -->
				<!-- <view class="member_grid_item" @click="goOrderList()">
					<image class="member_grid_img" src="../../static/images/member/myorder.png"></image>
					<view class="member_grid_title">我的订单</view>
				</view> -->
				<!-- #endif -->
				<view class="member_grid_item" @click="openUrl('/pages/mycollect/mycollect','我的收藏')">
					<image class="member_grid_img" src="../../static/images/member/collect.png"></image>
					<view class="member_grid_title">我的收藏</view>
				</view>
				<!-- <view class="member_grid_item" @click="openUrl('/pages/myquestion/myquestion','我的问答')">
					<image class="member_grid_img" src="../../static/images/member/question.png"></image>
					<view class="member_grid_title">我的问答</view>
				</view> -->
				<view class="member_grid_item" @click="openUrl('/pages/myintegral/myintegral','我的积分')">
					<image class="member_grid_img" src="../../static/images/member/myintegral.png"></image>
					<view class="member_grid_title">我的积分</view>
				</view>
				<!-- <view class="member_grid_item" @click="openUrl('/pages/mypost/mypost','我的帖子')">
					<image class="member_grid_img" src="../../static/images/member/post.png"></image>
					<view class="member_grid_title">我的帖子</view>
				</view> -->
				<view class="member_grid_item" @click="openUrl('/pages/motormaster/motormaster','车主认证')">
					<image class="member_grid_img" src="../../static/images/member/motormaster.png"></image>
					<view class="member_grid_title">车主认证</view>
				</view>
				<view class="member_grid_item" @click="openUrlMsg('/pages/mymessage/mymessage?is_pop=1','消息')">
					<image class="member_grid_img" src="../../static/images/member/message.png"></image>
					<view class="member_grid_title">消息</view>
				</view>
				<view class="member_grid_item" @click="openUrl('/pages/memberinfo/memberinfo','用户信息')">
					<image class="member_grid_img" src="../../static/images/member/memberInfo.png"></image>
					<view class="member_grid_title">用户信息</view>
				</view>
				<!-- <view class="member_grid_item" @click="openUrl('/pages/myactive/myactive','我的活动')">
					<image class="member_grid_img" src="../../static/images/member/active.png"></image>
					<view class="member_grid_title">我的活动</view>
				</view> -->
				<view class="member_grid_item" @click="openUrl('/pages/accountsafe/accountsafe','账号安全')">
					<image class="member_grid_img" src="../../static/images/member/safety.png"></image>
					<view class="member_grid_title">账号安全</view>
				</view>
				<view v-if="info.commission_status==1" class="member_grid_item"
					@click="openUrl('/pages/shop/mysales/mysales','我的分销')">
					<image class="member_grid_img" src="../../static/images/member/mysale.png"></image>
					<view class="member_grid_title">我的分销</view>
				</view>
				<!-- #ifdef APP -->
				<view class="member_grid_item" @click="checkUpdate()">
					<image class="member_grid_img" src="../../static/images/member/update.png"></image>
					<view class="grid_point" v-if="updateStatus==1"></view>
					<view class="member_grid_title">检查更新</view>
				</view>
				<!-- #endif -->
			</view>
		</view>
		<view class="btn_block" @click="exit()" v-if="info">退出</view>
		<view v-if="showPop" class="mask_box" @click="closePop"></view>
		<view v-if="showPop" class="myPop">
			<image class="close_pop" src="../../static/images/close.png" @click="closePop"></image>
			<view class="f-w f-18 mb-15 text-c">发现新版本</view>
			<view class="update_text">
				<text>{{updateText}}</text>
			</view>
			<view class="btn_block" style="margin: 30rpx 30rpx 0 30rpx;" @click="bindUpdate">立即更新</view>
		</view>
	</view>
</template>

<script>
	import {
		noticeTemplate,
		getMemberInfo,
		getVersionInfo
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				info: '',
				bottomHeight: app.globalData.bottomHeight,
				updateStatus: 0,
				updateUrl: '',
				updateText: '',
				showPop: false
			}
		},
		onLoad() {

			if (!uni.getStorageSync('access_token')) {
				uni.navigateTo({
					url: '/pages/login/login?is_goan=1'
				})
			}
		},
		onShow() {

			if (uni.getStorageSync('access_token')) {
				this.info = uni.getStorageSync('member')
				this.getMemberInfo()
			} else {
				this.info = ''
			}
			var params = {
				event_code: '我的',
				path: 'pages/member/member',
				user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
				source: app.globalData.source,
				invitees_scene_id: '',
				source_page: '',
				event_id: '',
				title: '',
				value: '',
			}
			app.BurialPoint(params)
			this.bottomHeight = app.globalData.bottomHeight
			// #ifdef APP-PLUS   
			this.checkUpdateApp();
			// #endif
		},
		methods: {
			checkUpdateApp() {
				getVersionInfo({}).then(res => {
					if (res.state == 1) {
						this.updateStatus = res.data.status
						this.updateUrl = res.data.url
						this.updateText = res.data.content

					}
				})
			},
			checkUpdate() {
				if (this.updateStatus == 1) {
					this.showPop = true
					uni.hideTabBar()
				} else {
					uni.showToast({
						title: '已经是最新版本了',
						mask: true,
						icon: 'none',
						duration: 1500
					})
				}
			},
			closePop() {
				this.showPop = false
				uni.showTabBar()
			},
			bindUpdate() {
				var that = this

				if (uni.getSystemInfoSync().osName == "android") {
					uni.showLoading({
						title: "正在更新",
						mask: true
					})
					uni.downloadFile({
						url: that.updateUrl,
						success: (download) => {
							if (download.statusCode == 200) {
								console.log(download)
								plus.runtime.install(download.tempFilePath, {
									force: false
								}, () => {
									uni.hideLoading();
									plus.runtime.restart(); //更新成功启动
								}, (err) => { //若没下载成功还是去下载
									uni.hideLoading();
									uni.showToast({
										title: "更新失败，将跳转下载页面",
										icon: "none",
										duration: 2000
									})
								})
								setTimeout(function() {
									plus.runtime.openURL(that.updateUrl);
								}, 2000)
							}
						}
					})
				} else if (uni.getSystemInfoSync().osName == "ios") {
					uni.showLoading({
						title: "跳转中",
						mask: true
					})
					plus.runtime.openURL("itms-apps://itunes.apple.com/app/id1084608468");
					setTimeout(function() {
						uni.hideLoading();
					}, 3000)
				}

			},

			getMemberInfo() {
				getMemberInfo({
					media_id: 1
				}).then(res => {
					if (res.state == 1) {
						this.info = res.data
						uni.setStorage({
							key: 'member',
							data: res.data
						});
					} else {}
				})
			},
			goLogin() {
				uni.navigateTo({
					url: '/pages/login/login?is_goan=1'
				});
				var params = {
					event_code: '我的',
					path: 'pages/member/member',
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
					source: app.globalData.source,
					invitees_scene_id: '',
					source_page: '点击登录',
					event_id: '',
					title: '',
					value: '',
				}
				app.BurialPoint(params)
			},

			openUrl(url, title) {
				if (uni.getStorageSync('access_token')) {
					uni.navigateTo({
						url: url
					})
				} else {
					uni.navigateTo({
						url: '/pages/login/login?is_goan=1'
					})
				}
				var params = {
					event_code: '我的',
					path: 'pages/member/member',
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
					source: app.globalData.source,
					invitees_scene_id: '',
					source_page: title,
					event_id: '',
					title: '',
					value: '',
				}
				app.BurialPoint(params)
			},
			openUrlMsg(url, title) {
				if (uni.getStorageSync('access_token')) {
					// #ifdef  MP-WEIXIN
					uni.requestSubscribeMessage({
						tmplIds: ['UXoNEgstqcHaHFtsesbbyv6WUHPjheI3nH9pMiUGS6E',
							'EJH23t_jW88wn4eIhRqEc7UPO1GpALMXVFq-SxTlsaI',
							'4UY_JJwhR9hRN_2wKYKdgqcxNixYBlXXSZUgg5BQvkE'
						],
						success: function(res) {
							noticeTemplate({
								template_type: 1
							}).then(res => {
								if (res.state == 1) {
									uni.navigateTo({
										url: url
									})
								} else {

								}
							})
						},
						file: function(e) {
							console.log(e)
						}
					})
					// #endif
					// #ifndef  MP-WEIXIN
					uni.navigateTo({
						url: url
					})
					// #endif

				} else {
					uni.navigateTo({
						url: '/pages/login/login?is_goan=1'
					})
				}
				var params = {
					event_code: '我的',
					path: 'pages/member/member',
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
					source: app.globalData.source,
					invitees_scene_id: '',
					source_page: title,
					event_id: '',
					title: '',
					value: '',
				}
				app.BurialPoint(params)
			},
			goOrderList() {
				tt.openDouyinOrderList({
					success(res) {
						console.log("调用成功", res);
					},
					fail(res) {
						console.log("调用失败", res);
					},
				});
				var params = {
					event_code: '我的',
					path: 'pages/member/member',
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
					source: app.globalData.source,
					invitees_scene_id: '',
					source_page: '我的订单',
					event_id: '',
					title: '',
					value: '',
				}
				app.BurialPoint(params)
			},
			exit() {
				uni.removeStorage({
					key: 'member'
				})
				uni.removeStorage({
					key: 'access_token'
				})
				this.info = uni.getStorageSync('member')
				var params = {
					event_code: '我的',
					path: 'pages/member/member',
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
					source: app.globalData.source,
					invitees_scene_id: '',
					source_page: '退出',
					event_id: '',
					title: '',
					value: '',
				}
				app.BurialPoint(params)
			}
		},
	}
</script>

<style lang="scss">
	.member_box {
		padding-bottom: 30rpx;

		.member_top {
			display: flex;
			align-items: center;
			height: 420rpx;
			background-size: 100% 420rpx;
			background-repeat: no-repeat;
			background-position: center;
			background-image: url(https://pic.motortime.com/static/member-bg.png);
			padding: 0 30rpx;

			.member_headimg {
				width: 110rpx;
				height: 110rpx;
				border-radius: 60rpx;
			}

			.member_name {
				color: #fff;
				font-size: 36rpx;
				font-weight: bold;
			}

			button {
				background-color: transparent;
				color: #fff;
				font-size: 18px;
				font-weight: bold;
				margin-left: 0;
			}

			button:after {
				border: none !important;
			}
		}

		.member_group_box {
			margin-top: 30rpx;
			padding: 30rpx;

			.member_grouptop_title {
				color: #3A3A3A;
				font-size: 30rpx;
				font-weight: bold;
			}

			.member_grid_box {
				text-align: center;
				overflow: hidden;

				.member_grid_item {
					width: 25%;
					float: left;
					text-align: center;
					padding: 40rpx 0;
					position: relative;

					.member_grid_img {
						width: 46rpx;
						height: 46rpx;
					}

					.member_grid_title {
						// color: #171717;
						font-size: 12px;
						margin-top: 10px;
					}

					.member_grid_img_box {
						width: 100%;
						height: 46rpx;
						position: relative;
						display: flex;
						justify-content: center;
					}

					.grid_point {
						width: 10rpx;
						height: 10rpx;
						position: absolute;
						top: 40rpx;
						right: 60rpx;
						background-color: red;
						border-radius: 100%;
					}
				}
			}
		}

		.myPop {
			position: fixed;
			top: 35%;
			left: 15%;
			right: 15%;
			color: #030303;
			z-index: 1001;
			border-radius: 8rpx;
			padding: 30rpx;
			font-size: 26rpx;
			background-color: #ffffff;
		}

		.update_text {
			font-size: 28rpx;
			padding: 0 30rpx;
		}

		.close_pop {
			width: 26rpx;
			height: 26rpx;
			position: absolute;
			top: 0;
			right: 0;
			padding: 30rpx;
		}

	}
</style>