<template>
	<view class="salescashrecord_pages">
		<!-- <view class="salescashrecord_cell">
			<view class="salescashrecord_cell_info">
				<view class="display_flex">
					<view class="flex-1">
						<span style="color: #4B4B4B;">支付单号：</span>
						<span>200302221315XXX</span>
					</view>
					<view style="color: #8C8C8C;">审核中</view>
				</view>
				<view>
					<span style="color: #4B4B4B;">收款账户：</span>
					<span>6222XXXXXXXXXXXX8888</span>
				</view>
				<view>
					<span style="color: #4B4B4B;">收款金额：</span>
					<span>1000.00元</span>
				</view>
				<view>
					<span style="color: #4B4B4B;">申请时间：</span>
					<span>2023-02-13 16:21:32</span>
				</view>
				<view>
					<span style="color: #4B4B4B;">支付时间：</span>
					<span>2023-02-13 16:21:32</span>
				</view>
			</view>
			<view class="cancelcash_btn_box">
				<view class="cancelcash_btn">取消提现</view>
			</view>
		</view>
		<view class="salescashrecord_cell">
			<view class="salescashrecord_cell_info">
				<view class="display_flex">
					<view class="flex-1">
						<span style="color: #4B4B4B;">支付单号：</span>
						<span>200302221315XXX</span>
					</view>
					<view style="color: #8C8C8C;">已完成</view>
				</view>
				<view>
					<span style="color: #4B4B4B;">收款账户：</span>
					<span>6222XXXXXXXXXXXX8888</span>
				</view>
				<view>
					<span style="color: #4B4B4B;">收款金额：</span>
					<span>1000.00元</span>
				</view>
				<view>
					<span style="color: #4B4B4B;">申请时间：</span>
					<span>2023-02-13 16:21:32</span>
				</view>
				<view>
					<span style="color: #4B4B4B;">支付时间：</span>
					<span>2023-02-13 16:21:32</span>
				</view>
			</view>
			<view class="cancelcash_btn_box">
			</view>
		</view>
		<view class="salescashrecord_cell">
			<view class="salescashrecord_cell_info">
				<view class="display_flex">
					<view class="flex-1">
						<span style="color: #4B4B4B;">支付单号：</span>
						<span>200302221315XXX</span>
					</view>
					<view style="color: #8C8C8C;">支付中</view>
				</view>
				<view>
					<span style="color: #4B4B4B;">收款账户：</span>
					<span>6222XXXXXXXXXXXX8888</span>
				</view>
				<view>
					<span style="color: #4B4B4B;">收款金额：</span>
					<span>1000.00元</span>
				</view>
				<view>
					<span style="color: #4B4B4B;">申请时间：</span>
					<span>2023-02-13 16:21:32</span>
				</view>
				<view>
					<span style="color: #4B4B4B;">支付时间：</span>
					<span>2023-02-13 16:21:32</span>
				</view>
			</view>
			<view class="cancelcash_btn_box">
			</view>
		</view> -->
		<view class="text-c pd-30 c-gray f-14" v-if="endLoad">{{endLoad_text}}</view>
	</view>
</template>

<script>
	import {
		getList,
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				endLoad: true,
				endLoad_text: '暂无记录'
			};
		},
		onShow() {
			wx.hideShareMenu()
		},
		onLoad() {

		},
		methods: {
			getImgList() {
				getImgList(this.params).then(res => {
					if (res.state == 1) {
						this.list = [...this.list, ...res.data.data]
						this.current_page = res.data.current_page
						this.last_page = res.data.last_page
						if (res.data.total == 0) {
							this.endLoad = true
							this.endLoad_text = '暂无记录'
						} else {
							if (res.data.total < this.params.size) {
								this.endLoad = true
								this.endLoad_text = '已加载全部'
							} else {
								this.endLoad = false
							}
						}
						uni.hideLoading()
					} else {
						uni.hideLoading()
						uni.showToast({
							title: res.error[0],
							mask: true,
							icon: 'none',
							duration: 1500
						})
					}
				})
			},
		},
		onReachBottom() {
			if (this.current_page < this.last_page) {
				uni.showLoading({})
				this.params.page++
				this.getImgList()
			} else {
				this.endLoad = true
				this.endLoad_text = '已加载全部'
			}
		},
		// onShareAppMessage(res) {
		// 	return {

		// 	}
		// },
		// onShareTimeline: function() {
		// 	return {

		// 	}
		// },
	}
</script>

<style lang="scss">
	page {
		background-color: #F4F4F4;
	}

	.salescashrecord_pages {
		.salescashrecord_cell {
			color: #030303;
			font-size: 24rpx;
			margin-top: 20rpx;
			background-color: #FFFFFF;

			.salescashrecord_cell_info {
				padding: 20rpx;
				line-height: 40rpx;
				border-bottom: 2rpx solid #F4F4F4;
			}

			.cancelcash_btn_box {
				height: 96rpx;
				font-size: 24rpx;
				padding: 0 20rpx;
				display: flex;
				align-items: center;
				justify-content: flex-end;
			}

			.cancelcash_btn {
				color: #D92121;
				padding: 11rpx 21rpx;
				border-radius: 5rpx;
				border: 2rpx solid #D92121;
			}
		}
	}
</style>