<template>
	<view class="topicadd">
		<view class="topic_type_box">
			<view>
				<uni-grid :column="6" :showBorder="false" :highlight="false" borderColor="#ffffff">
					<uni-grid-item v-for="(item,index) in clist" :key="item.id">
						<view class="topic_type_img" :style="'background-image: url('+item.pic_url+');'"
							@click="category_id=item.id">
							<view class="text-c">
								<view class="topic_type_name">{{item.name}}</view>
								<view class="check_on" v-if="item.id==category_id">
									<uni-icons color="#ffffff" type="checkmarkempty" size="10"></uni-icons>
								</view>
							</view>
						</view>
					</uni-grid-item>
				</uni-grid>
			</view>
		</view>
		<view class="addtopic_title">
			<input class="uni-input" :value="name" @input="inputTopic" placeholder="请输入话题内容" />
		</view>
		<view class="bottom_btn_box" :style="'bottom: '+bottomheight+'rpx;'">
			<view class="btn_block" style="margin: 30rpx;font-size: 28rpx;" @click="addTopic()">创建话题</view>
		</view>
	</view>
</template>

<script>
	import {
		getTopicCate,
		addTopic,
		checkText
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				clist: [],
				category_id: '',
				name: '',
				bottomheight:0
			};
		},
		onShow() {

		},
		onLoad(option) {
			this.bottomheight=app.globalData.bottomheight
			this.category_id = option.category_id
			this.getTopicCate()

		},
		methods: {
			getTopicCate() {
				getTopicCate({
					media_id: 1
				}).then(res => {
					if (res.state == 1) {
						this.clist = res.data

					}
				})
			},
			inputTopic(e) {
				this.name = e.detail.value
			},
			addTopic() {
				checkText({
					content: this.name
				}).then(res => {
					if (res.state == 1) {
						addTopic({
							media_id: 1,
							category_id: this.category_id,
							name: this.name
						}).then(res => {
							if (res.state == 1) {
								console.log(res.data.id)
								var params = {
									id: res.data.id,
									name: this.name
								}
								uni.setStorage({
									key: 'namelist',
									data: [params],
								})
								uni.navigateBack({
									delta: 2
								})

							}
						})
					} else {
						uni.showToast({
							title: res.error[0],
							mask: true,
							icon: 'none',
							duration: 1500
						});
					}
				})

			}

		}
	}
</script>

<style lang="scss">
	.topicadd {
		.topic_type_box {
			margin-top: 30rpx;
		}

		.uni-grid-item__box {
			border: 5rpx solid #fff;
		}

		.check_on {
			background-color: #7bb267;
			color: #fff;
			text-align: center;
			font-size: 20rpx;
			vertical-align: middle;
			border-radius: 20px;
			margin-top: 5rpx;
		}

		.addtopic_title {

			font-size: 26rpx;
			padding: 20rpx 0;
			margin: 30rpx 50rpx;
			border-bottom: 2rpx solid #eaeaea;
		}

		.bottom_btn_box {
			position: fixed;
			left: 0;
			right: 0;
		}
	}
</style>
