<template>
	<view class="activeform_box">
		<view class="location_box">
			<image class="active_local_img" src="/static/images/active/active_local.png"></image>
			<view>{{info.address}}</view>
			<view class="top_active_name">{{info.name}}</view>
		</view>
		<view class="form_box">
			<view class="input_cell">
				<view class="input_name">
					<view class="request_star">
						{{form[0].is_required==1?'*':''}}
					</view>
					{{form[0].title}}
				</view>
				<view class="input_form">
					<input class="input_right" disabled :value="username" @click="goLogin"></input>
				</view>
			</view>
			<view class="input_cell">
				<view class="input_name">
					<view class="request_star">
						{{form[1].is_required==1?'*':''}}
					</view>
					{{form[1].title}}
				</view>
				<view class="input_form">
					<input class="input_right" :value="media_name" placeholder="请填写真实姓名"></input>
				</view>
			</view>
			<view class="input_cell">
				<view class="input_name">
					<view class="request_star">
						{{form[2].is_required==1?'*':''}}
					</view>
					{{form[2].title}}
				</view>
				<view class="input_form">
					<radio-group class="radio-group" @change="radioChangeSex">
						<label class="radio">
							<radio value="1" :checked="sex==1" />
							男
						</label>
						<label class="radio">
							<radio value="2" :checked="sex==2" />
							女
						</label>
					</radio-group>
				</view>
			</view>
			<!-- #ifndef MP-TOUTIAO -->
			<view class="input_cell">
				<view class="input_name">
					<view class="request_star">
						{{form[3].is_required==1?'*':''}}
					</view>
					{{form[3].title}}
				</view>
				<view class="input_form" @click="goLogin">
					<input class="input_right" disabled :value="mobile"></input>
				</view>
				<view class="input_right_btn" @click="showBottomPop">更改</view>
			</view>
			<!-- #endif -->
			<!-- #ifdef MP-TOUTIAO -->
			<view class="input_cell">
				<view class="input_name">
					<view class="request_star">
						{{form[3].is_required==1?'*':''}}
					</view>
					{{form[3].title}}
				</view>
				<view class="input_form">
					<input class="input_right" :value="mobile" placeholder="请输入手机号" type="number" maxlength="11"
						@input="bindMobile"></input>
				</view>
			</view>
			<!-- #endif -->
			<view class="input_cell">
				<view class="input_name">
					<view class="request_star">
						{{form[4].is_required==1?'*':''}}
					</view>
					{{form[4].title}}
				</view>
				<view class="input_form">
					<input class="input_right" @input="bindCarnum" maxlength="7" placeholder="示例：粤AXXXXX"></input>
				</view>
			</view>
			<view class="input_cell">
				<view class="input_name">
					<view class="request_star">
						{{form[5].is_required==1?'*':''}}
					</view>
					{{form[5].title}}
				</view>
				<view class="input_form">
					<!-- #ifdef MP -->
					<picker @change="bindRegionChange" :value="region" mode='region'>
						<view class="f-12 ml-15" v-if="region">{{region[0]}}，{{region[1]}}，{{region[2]}}</view>
						<view class="f-12 ml-15" style="color: #9a9a9a;" v-else>请选择家乡</view>
					</picker>
					<!-- #endif -->
					<!-- #ifdef APP-PLUS -->
					<view @click="showPopdd()">
						<view class="f-12 ml-15" v-if="region">{{region[0]}}，{{region[1]}}，{{region[2]}}</view>
						<view class="f-12 ml-15" style="color: #9a9a9a;" v-else>请选择家乡</view>
					</view>
					<!-- #endif -->
				</view>
			</view>
			<view class="input_cell_img">
				<view class="input_textarea_img">
					<view class="request_star">
						{{form[6].is_required==1?'*':''}}
					</view>
					{{form[6].title}}
				</view>
				<view class="input_form one_form">
					<image class="one_img_pic" :src="imgcover_url" mode='aspectFill' v-if="imgcover_url"
						@click="chooseImgcover"></image>
					<view class="one_img text-c" @click="chooseImgcover" v-else>
						<image class="one_camera" src="/static/images/active/camera.png"></image>
					</view>
					<view class="f-10 c-gray">上传一张爱车照片
					</view>
				</view>
			</view>
			<!-- <view class="input_cell">
				<view class="input_name">是否带儿童</view>
				<view class="input_form">
					<radio-group class="radio-group" @change="radioChangech">
						<label class="radio">
							<radio value="1" :checked="chchecked" />
							是
						</label>
						<label class="radio">
							<radio value="0" :checked="!chchecked" />
							否
						</label>
					</radio-group>
				</view>
			</view>
			<view class="input_cell">
				<view class="input_name">是否带宠物</view>
				<view class="input_form">
					<radio-group class="radio-group" @change="radioChange">
						<label class="radio">
							<radio value="1" :checked="anchecked" />
							是
						</label>
						<label class="radio">
							<radio value="0" :checked="!anchecked" />
							否
						</label>
					</radio-group>
				</view>
			</view> -->
		</view>
		<view class="fixed_box">
			<view class="fix_btn" @click="submit">提交报名信息</view>
		</view>
		<view :class="showMessage ? 'weui-demo-dialog weui-demo-dialog_show' : 'weui-demo-dialog'">
			<view class="weui-mask" @click="closeDialogd"></view>
			<view class="showModal_box">
				<view class="showModal_img_box">
					<image class="showModal" src="/static/images/active/showModal.png"></image>
					<view class="showModal_title">
						<view>【汽车时间】小程序</view>
						<view>需要向您推送活动消息通知</view>
					</view>
					<!-- #ifndef MP-BAIDU -->
					<view class="showModal_ok" @click="showMessagetip">
						确认
					</view>
					<!-- #endif -->
					<!-- #ifdef MP-BAIDU -->
					<form report-submit="true" report-type="subscribe" template-id="BD0141" subscribe-id="100"
						@submit="formSubmit">
						<button class="showModal_btn" formType="submit">确认</button>
					</form>
					<!-- #endif -->
				</view>
			</view>
		</view>
		<view v-if="showPhonecode" class="weui-mask"></view>
		<view class="bottom_pop_box" v-if="showPhonecode">
			<image class="bottom_pop_close" src="/static/images/close.png" @click="closeiosDialog"></image>
			<view class="bottom_pop_logo_box">
				<image class="bottom_pop_logo" src="/static/images/subaru.png"></image>
				<view>富士范儿</view>
			</view>
			<view class="bottom_pop_cell">
				<view class="mr-20">手机号</view>
				<input class="weui-input" placeholder="请输入手机号" type="number" maxlength="11" @input="changeMobile"
					:value="popmobile" cursor-spacing="20" />
			</view>
			<view class="bottom_pop_cell mt-20">
				<view class="mr-20">验证码</view>
				<input style="flex: 1;" class="weui-input" type="number" maxlength="6" :value="smscode"
					placeholder="请输入验证码" cursor-spacing="20" @input="changeSmsCode" />
				<view v-if="codeing" class="safe_btn_def">
					获取验证码
					<span>({{second}}s)</span>
				</view>
				<view v-else class="safe_btn" @click="getSmsCode">获取验证码</view>
			</view>
			<view class="bottom_pop_btn" @click="submitMobile">确定</view>
		</view>
	</view>
</template>

<script>
	import {
		getActiveInfo,
		submitActive,
		getNotoceTem,
		getCode
	} from '@/api/motortime.js';
	let app = getApp()
	let timer = ''
	export default {
		data() {
			return {
				info: '',
				form_on: true,
				username: '',
				mobile: '',
				mobiles: '',
				isSubmit: true,
				chchecked: true,
				anchecked: true,
				is_child: 1,
				is_pet: 1,
				car_number: '',
				imgcover_url: '',
				picture: '',
				showMessage: true,
				subscribe_id: '',
				region: '',
				form: '',
				showPhonecode: false,
				popmobile: '',
				smscode: '',
				smscoded: '',
				second: 60,
				codeing: false
			};
		},
		onLoad(options) {
			var scene = decodeURIComponent(options.scene);
			var list = scene.split('-');
			this.hid = list[0]
			this.again = options.again
		},
		onShow() {
			this.subscribe_id = Math.floor(Math.random() * (1000 - 1)) + 1
			this.getActiveInfo()
			if (uni.getStorageSync('member').username) {
				this.username = uni.getStorageSync('member').username
				if (uni.getStorageSync('active' + this.hid + 'Mobile')) {
					this.mobile = uni.getStorageSync('active' + this.hid + 'Mobile')
					this.mobiles = uni.getStorageSync('active' + this.hid + 'Mobile').substring(0, 3) + '****' + uni
						.getStorageSync('active' + this.hid + 'Mobile').substring(7)
				} else {
					if (uni.getStorageSync('member').mobile) {
						this.mobile = uni.getStorageSync('member').mobile
						this.mobiles = uni.getStorageSync('member').mobile.substring(0, 3) + '****' + uni.getStorageSync(
							'member').mobile.substring(7)
					}
				}


			} else {
				uni.navigateTo({
					url: '/pages/login/login'
				})
			}
		},
		methods: {

			getActiveInfo() {
				var params = {
					user_id: uni.getStorageSync('member').id,
				}
				getActiveInfo(params, this.hid).then(res => {
					if (res.state == 1) {
						this.info = res.data
						this.form = res.data.form
						if (res.data.is_enroll == 1) {
							if (!this.again) {
								uni.redirectTo({
									url: '/pages/signin/mapactiveaudit/mapactiveaudit?hid=' + this.hid,
								})
							}
						}
						var params = {
							event_code: '活动报名',
							path: 'pages/signin/mapactiveform/mapactiveform',
							user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
							source: app.globalData.source,
							event_id: res.data.id,
							title: res.data.title,
							invitees_scene_id: '',
							source_page: '',
							value: '',
						}
						app.BurialPoint(params)
					}

				})
			},

			goLogin() {
				if (uni.getStorageSync('access_token')) {
					if (uni.getStorageSync('member').mobile) {} else {
						this.getMobile = true
					}
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			submit() {
				if (app.globalData.provider == 'toutiao') {
					if (!this.mobile) {
						uni.showToast({
							title: '请输入手机号',
							icon: 'none',
							duration: 1500
						});
					} else {
						if (!(/^1[3456789]\d{9}$/.test(this.mobile))) {
							uni.showToast({
								title: '请输入正确的手机号',
								icon: 'none',
								duration: 1500
							});
						} else {
							if (this.isSubmit) {
								this.submitInput()
							}
						}

					}
				} else {
					if (this.isSubmit) {
						this.submitInput()
					}
				}


			},
			submitInput() {
				this.isSubmit = false
				var params = {
					hid: this.hid,
					name: this.username,
					mobile: this.mobile,
					is_child: this.is_child,
					is_pet: this.is_pet,
					car_number: this.car_number,
					picture: this.picture
				}

				submitActive(params).then(res => {
					if (res.state == 1) {
						uni.showToast({
							title: '提交成功',
							mask: true,
							icon: 'success',
							duration: 1500,
							success: function() {
								setTimeout(function() {
									uni.reLaunch({
										url: '/pages/signin/mapactiveaudit/mapactiveaudit?hid=' +
											params.hid
									})
									this.isSubmit = true
								}, 1000)
							}
						})
					} else {
						this.isSubmit = true
						uni.showToast({
							title: res.data.error[0],
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			radioChangech(e) {
				this.is_child = e.detail.value
			},
			radioChange(e) {
				this.is_pet = e.detail.value
			},
			bindCarnum(e) {
				this.car_number = e.detail.value
			},
			bindMobile(e) {
				this.mobile = e.detail.value
			},
			bindRegionChange(e) {
				this.region = e.detail.value
				this.regioncode = e.detail.code
				this.chooseForm = true
			},
			chooseImgcover() {
				var that = this
				uni.chooseImage({
					count: 1,
					sizeType: ['original', 'compressed'], //可以指定是原图还是压缩图，默认二者都有
					sourceType: ['album'], //从相册选择
					success: function(res) {
						var tempFilePaths = res.tempFilePaths
						uni.uploadFile({
							url: app.globalData.uploadUrl,
							filePath: tempFilePaths[0],
							name: 'img',
							success: (uploadFileRes) => {
								// #ifndef MP-BAIDU
								var picdata = JSON.parse(uploadFileRes.data);
								// #endif
								// #ifdef MP-BAIDU
								var picdata = uploadFileRes.data;
								// #endif
								that.imgcover_url = picdata.data.img_url
								that.picture = picdata.data.img

							}
						});
					}
				});
			},
			closeDialogd() {
				this.showMessage = false
			},
			showMessagetip() {
				var that = this
				uni.getProvider({
					service: 'oauth',
					success: function(res) {
						var provider = res.provider.toString()
						console.log('provider==' + provider)
						if (provider == 'weixin') {
							uni.requestSubscribeMessage({
								tmplIds: ['hB9I9snhHIV108pkup1ZRSxsd9FkaDycquX7OZIfYPM'],
								success(res) {
									console.log('授权了')

									var params = {
										template_type: 2
									}
									getNotoceTem(params).then(res => {
										if (res.state == 1) {
											that.showMessage = false
										} else {
											uni.showToast({
												title: res.data.error[0],
												icon: 'none',
												duration: 1500
											});
										}
									})
								}
							})
						} else if (provider == 'toutiao') {

							tt.requestSubscribeMessage({
								tmplIds: [
									'MSG12024230f1e8550935e1259a09efcc24d81649613903'
									// 'MSG1202423fc9a7b21363d5010fd77e9fe46d7777a14572'
								], // 需要填入开放平台申请的模版id，支持最多3个同类型模版
								success(res) {
									//订阅成功
									var params = {
										template_type: 2
									}
									getNotoceTem(params).then(res => {
										if (res.state == 1) {
											that.showMessage = false
											console.log("订阅成功", res);
										} else {
											uni.showToast({
												title: res.data.error[0],
												icon: 'none',
												duration: 1500
											});
										}
									})

								},
								fail(error) {
									//订阅失败
									console.log("订阅失败, 错误详情: ", error);
									that.showMessage = false
								},
								complete(res) {
									//订阅完成
									console.log("tt.requestSubscribeMessage API调用完成: ", res);
									that.showMessage = false
								},
							});
						}
					}
				})
			},
			formSubmit(e) {
				console.log(e)
				var params = {
					template_type: 2,
					subscribe_id: 100
				}
				getNotoceTem(params).then(res => {
					if (res.state == 1) {
						this.showMessage = false
						console.log("订阅成功", res);
					} else {
						uni.showToast({
							title: res.data.error[0],
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			changeMobile(e) {
				this.popmobile = e.detail.value
			},
			changeSmsCode(e) {
				this.smscode = e.detail.value
			},
			showBottomPop() {
				this.showPhonecode = true
			},
			closeiosDialog() {
				this.showPhonecode = false
			},
			getSmsCode() {
				var that = this
				if (!that.popmobile) {
					uni.showToast({
						title: '请输入手机号',
						icon: 'none'
					})
					return false;
				} else if (!(/^1[3456789]\d{9}$/.test(that.popmobile))) {
					uni.showToast({
						title: '请填写正确的手机号',
						icon: 'none'
					})
					return false;
				} else {
					that.codeing = true
					let second = 60;
					timer = setInterval(() => {
						second--;
						if (second) {
							that.second = second
						} else {
							clearInterval(timer);
							that.second = 60
							that.codeing = false
						}
					}, 1000);
					getCode({
						source: 5,
						mobile: that.popmobile,
						type: 2
					}).then(res => {
						if (res.state == 1) {
							that.smscoded = res.data.code

						} else {
							clearInterval(timer);
							that.second = 60
							that.codeing = false
							uni.showToast({
								title: res.data.error[0],
								icon: 'none',
								duration: 1500
							});
						}
					})

				}
			},
			submitMobile() {
				if (!this.popmobile) {
					uni.showToast({
						title: '请输入手机号',
						icon: 'none'
					})
					return false;
				} else if (!(/^1[3456789]\d{9}$/.test(this.popmobile))) {
					uni.showToast({
						title: '请填写正确的手机号',
						icon: 'none'
					})
					return false;
				} else if (!this.smscode) {
					uni.showToast({
						title: '请输入验证码',
						icon: 'none'
					})
					return false;
				} else if (this.smscode != this.smscoded) {
					uni.showToast({
						title: '请填写正确的验证码',
						icon: 'none'
					})
					return false;
				}
				uni.showToast({
					title: '手机号更改成功',
					icon: 'success'
				})
				uni.setStorage({
					key: 'active' + this.hid + 'Mobile',
					data: this.popmobile,
				})
				this.mobile = this.popmobile
				this.showPhonecode = false
				this.popmobile = ''
				this.smscode = ''
				this.smscoded = ''


				var params = {
					event_code: '活动招募手机号',
					event_id: '',
					title: '',
					value: this.mobile,
					path: '/pages/active/mapactiveform/mapactiveform',
					user_id: uni.getStorageSync('member').id ? uni.getStorageSync('member').id : 0,
					source: 5,
					source_page: '活动招募手机号'
				}
				app.BurialPoint(params)
			}

		},

		//分享
		onShareAppMessage(res) {
			if (res.from === 'button') { // 来自页面内分享按钮
				console.log('title' + this.info.title)
				this.showShare = false

			}
			return {
				title: this.info.title,
				path: '/pages/signin/mapactiveform/mapactiveform?scene=' + this.hid,
				imageUrl: this.info.enroll_share_pic
			}

		},
		goLogin() {
			uni.navigateTo({
				url: '/pages/login/login'
			})
		}

	}
</script>

<style lang="scss">
	.activeform_box {
		.location_box {
			padding: 25rpx 30rpx;
			display: flex;
			align-items: center;
			border-bottom: 20rpx solid #F1F1F1;
			border-top: 2rpx solid #F1F1F1;

			.active_local_img {
				width: 50rpx;
				height: 48rpx;
				margin-right: 30rpx;
			}

			.top_active_name {
				color: #333333;
				font-size: 32rpx;
				margin-left: 80rpx;
			}
		}

		.form_box {
			border: 4rpx solid #1E2A75;
			background-color: #E7EAF9;
			border-radius: 16rpx;
			padding: 0 30rpx;
			margin: 20rpx;

			.input_cell {
				border: 4rpx solid #1E2A75;
				border-radius: 8rpx;
				display: flex;
				align-items: center;
				margin: 38rpx 0;
			}

			.input_name {
				color: #fff;
				font-size: 24rpx;
				background-color: #1E2A75;
				padding: 10rpx 0;
				width: 150rpx;
				text-align: center;
				display: flex;
				align-items: center;
				justify-content: flex-start;
			}

			.request_star {
				color: red;
				font-size: 24rpx;
				width: 24rpx;
			}

			.input_form {
				flex: 1;
			}

			.input_right {
				font-size: 24rpx;
				padding: 0 30rpx;
				color: #333333;
			}


			.input_cell_img {
				border: 4rpx solid #1E2A75;
				border-radius: 8rpx;
				display: flex;
				margin: 38rpx 0;
			}


			.input_textarea_img {
				height: 200rpx;
				max-height: 410rpx;
				color: #fff;
				font-size: 24rpx;
				background-color: #1E2A75;
				width: 150rpx;
				padding: 15rpx 0;
				text-align: center;
				display: flex;
				justify-content: flex-start;
			}

			.one_camera {
				width: 50rpx;
				height: 45rpx;
				margin-top: 35%;
			}

			.one_form {
				display: flex;
				align-items: center;
				margin-left: 40rpx;
			}

			.one_img {
				width: 160rpx;
				height: 160rpx;
				color: #666666;
				background-color: #EEEEEE;
				margin-right: 20rpx;
			}

			.one_img_pic {
				width: 160rpx;
				height: 160rpx;
				margin-right: 20rpx;
			}

			radio {
				transform: scale(0.6);
			}

			.radio {
				margin-right: 50rpx;
			}

			.radio-group {
				font-size: 24rpx;
				padding: 0 30rpx;
			}

			.input_right_btn {
				color: #fff;
				font-size: 24rpx;
				background-color: #1E2A75;
				padding: 10rpx 20rpx;
				text-align: center;
			}
		}

		.fixed_box {
			width: 100%;
			position: relative;
			bottom: 0;
			padding-bottom: 50rpx;
			margin-top: 50rpx;
			display: flex;
			justify-content: center;

			.fix_btn {
				text-align: center;
				background-color: #1E2A75;
				color: #fff;
				border-radius: 50rpx;
				font-size: 28rpx;
				padding: 25rpx 0;
				width: 300rpx;
			}

			.fix_btn_gray {
				background-color: #CFCFCF;
			}
		}

		.showModal_box {
			swan-button:after {
				border: 0rpx solid #333 !important;
			}
		}

		.bottom_pop_box {
			position: fixed;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: #fff;
			z-index: 1000;
			padding: 40rpx 30rpx 60rpx 30rpx;
			border-top-left-radius: 20rpx;
			border-top-right-radius: 20rpx;
		}

		.bottom_pop_cell {
			display: flex;
			align-items: center;
			font-size: 28rpx;
			padding: 20rpx 0;
			border-bottom: 2rpx solid #eaeaea;
		}

		.bottom_pop_logo_box {
			display: flex;
			align-items: center;
			font-size: 28rpx;
			padding: 20rpx 0;
			margin-bottom: 20rpx;
		}

		.weui-input {
			flex: 1;
		}

		.bottom_pop_btn {
			text-align: center;
			background-color: #1E2A75;
			color: #fff;
			border-radius: 30px;
			font-size: 28rpx;
			padding: 20rpx 0;
			width: 100%;
			margin-top: 60rpx;
		}

		.safe_btn_def {
			color: #999999;
			background-color: #D8D8D8;
			font-size: 24rpx;
			padding: 5rpx 24rpx;
			border-radius: 30rpx;
		}

		.safe_btn {
			color: #fff;
			background-color: #1E2A75;
			font-size: 24rpx;
			padding: 5rpx 24rpx;
			border-radius: 30rpx;
		}

		.bottom_pop_logo {
			width: 50rpx;
			height: 50rpx;
			border-radius: 100px;
			margin-right: 30rpx;
		}

		.bottom_pop_close {
			width: 20rpx;
			height: 20rpx;
			padding: 30rpx;
			position: absolute;
			right: 0;
			top: 0;
		}

	}
</style>
