<template>
	<view class="post">
		<uni-nav-bar left-icon="back" title="发表问题" :statusBar="true" :fixed="true" @clickLeft="goBack"></uni-nav-bar>
		<view class="post_title">
			<textarea :value="title" placeholder="请填写问题标题" @input="bindTitle" style="height: 80px;" />
		</view>
		<view class="post_content">
			<textarea :value="content" maxlength='5000' placeholder="请填写问题内容" @input="bindContent"
				:style="'height:'+postHeight+'px'" />
		</view>
		<view class="picbox" :style="'bottom:' +picbottomheight+'rpx;'">
			<view class="post_weui_grids">
				<block v-for="(item,index) in images_url" :key="index">
					<view class="weui_grid">
						<image class="weui_grid_icon" :src="item" mode="aspectFill" />
						<image class="delpic" src="/static/images/del.png" @click="delpic(index)"></image>
					</view>
				</block>
			</view>
		</view>
		<view class="bottombox">
			<!-- <view class="tpoic_box">
				<span class="f-12 c-gray ml-30">问题类型</span>
				<span v-for="(item,index) in questypename" :key="item.id" v-if="index<1" class="weui-badge ml-10"
					@click="chooseType">#{{item.name}}#</span>
				<span class="weui-badge ml-10" @click="chooseType" v-if="questypename.length>1">...</span>
				<span class="weui-badged ml-10" v-if="questypename.length==0">#未选择问题类型#</span>
			</view> -->
			<view class="bottom_block" :style="'padding-bottom:'+ bottomheight+'px;'">
				<view class="bottom_left_box">
					<image class="post_pic" src="/static/images/post_pic.png" @click="chooseImg"></image>
					<!-- <image class="post_pic" src="/images/post_video.png"></image> -->
					<!-- <image class="post_pic ml-45" src="/static/images/ques_type.png" @click="chooseType"></image> -->
				</view>
				<view class="btn-save" @click="posted">发布</view>
			</view>
		</view>
	</view>
</template>

<script>
	import {
		postQues,
		getAskDraftInfo,
		getQuesInfo
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				questypename: [],
				bottomheight: '',
				title: '',
				content: '',
				images: [],
				labels: '',
				channel_id: '',
				column_id: '',
				draft_id: '',
				qid: '',
				picbottomheight: 180,
				count: 9,
				files: [],
				images_url: [],
				postHeight: 200,
				btnDisabled: false,
				windowHeight: '',
				params: {

				}
			};
		},
		onLoad(options) {
			if (options.id) {
				this.qid = options.id
				this.getQuesInfo()
			}

			if (options.draft_id) {
				this.draft_id = options.draft_id
				this.getAskDraftInfo()
			}
			if (options.hid) {
				this.hid = options.hid
			}
			var params = {
				event_code: '发帖',
				path: 'pages/post/post',
				user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
				source: app.globalData.source,
				event_id: '',
				title: '',
				invitees_scene_id: '',
				source_page: '',
				value: '',
			}
			app.BurialPoint(params)
			var that = this
			uni.getSystemInfo({
				success: function(res) {
					that.windowHeight = res.windowHeight
					if (res.statusBarHeight > 30) {
						that.bottomheight = 30
						that.picbottomheight = 250

					}
					that.textareaHeight()
				}
			});

		},
		onShow() {
			var that = this
			if (uni.getStorageSync('quesnamelist')) {
				uni.getStorage({
					key: 'quesnamelist',
					success: function(res) {
						that.questypename = []
						var questypename = res.data
						var labels = []
						for (var i = 0; i < questypename.length; i++) {
							if (questypename[i].check) {
								labels.push(questypename[i].id)
								that.questypename.push(questypename[i])
							}
						}
						that.labels = labels
					},
				})
				uni.getStorage({
					key: 'channelInfo',
					success: function(res) {
						var list = res.data
						that.channel_id = list[0].id
					},
				})
				uni.getStorage({
					key: 'columnInfo',
					success: function(res) {
						var list = res.data
						that.column_id = list[0].id
					},
				})
			} else if (uni.getStorageSync('columnInfo')) {
				uni.getStorage({
					key: 'channelInfo',
					success: function(res) {
						var list = res.data
						that.channel_id = list[0].id
					},
				})
				uni.getStorage({
					key: 'columnInfo',
					success: function(res) {
						that.questypename = res.data
						var list = res.data
						that.column_id = list[0].id
					},
				})

			} else {
				uni.getStorage({
					key: 'channelInfo',
					success: function(res) {
						that.questypename = res.data
						var list = res.data
						that.channel_id = list[0].id
					},
				})
			}



		},
		methods: {
			getAskDraftInfo() {
				getAskDraftInfo({
					draft_id: this.draft_id
				}).then(res => {
					if (res.state == 1) {
						this.title = res.data.question
						this.content = res.data.content
						this.images_url = res.data.image
						this.images = res.data.image
						this.channel_id = res.data.channel_id
						this.column_id = res.data.column_id
						this.questypename = res.data.labels
						var list = []
						var labels = res.data.labels
						for (var i = 0; i < labels.length; i++) {
							list.push(labels[i].id)
						}
						this.labels = list
					} else {
						uni.showToast({
							title: res.data.error[0],
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			getQuesInfo() {
				this.params.user_id = this.user_id
				getQuesInfo(this.params, this.id).then(res => {
					if (res.state == 1) {
						this.title = res.data.title
						this.content = res.data.content
						this.images_url = res.data.image
						this.images = res.data.image
						this.channel_id = res.data.channel_id
						this.column_id = res.data.column_id
						this.questypename = res.data.labels
						var list = []
						var labels = res.data.labels
						for (var i = 0; i < labels.length; i++) {
							list.push(labels[i].id)
						}
						this.labels = list
					}
				})
			},
			bindTitle(e) {
				this.title = e.detail.value
			},
			bindContent(e) {
				this.content = e.detail.value
			},

			chooseImg() {
				var that = this
				if (that.count > 0) {
					uni.chooseImage({
						count: that.count,
						sizeType: ['original', 'compressed'], //可以指定是原图还是压缩图，默认二者都有
						sourceType: ['album'], //从相册选择
						success: function(res) {
							var tempFilePaths = res.tempFilePaths
							that.files.push.apply(that.files, res.tempFilePaths)
							that.images = []
							that.images_url = []
							var files = that.files
							that.uploadImage(files, 0)
						}
					});
				} else {
					uni.showToast({
						title: '最多上传9张图片',
						icon: 'none',
						mask: true,
						duration: 1500
					})
				}
			},
			uploadImage(files, i) {
				var i
				uni.uploadFile({
					// url: '',
					url: app.globalData.uploadUrl,
					filePath: files[i],
					name: 'img',
					success: (res) => {
						var images_url = this.images_url
						var images = this.images
						var picdata = JSON.parse(res.data);
						images_url.push(picdata.data.img_url);
						images.push(picdata.data.img);
						var count = images_url.length;

						this.count = 9 - count
						this.images = images
						this.images_url = images_url
						i++
						if (i < files.length) {
							this.uploadImage(files, i)
						} else {
							uni.hideToast();
						}
						var that = this
						setTimeout(function() {
							that.textareaHeight()
						}, 100)

					}
				});
			},
			chooseType() {
				uni.navigateTo({
					url: '/pages/question/questype/questype'
				})
			},
			posted() {
				this.btnDisabled = true
				if (this.title == '' && this.content == '') {
					uni.showToast({
						title: '请填写问题标题和内容',
						icon: 'none',
						duration: 1500
					})
					this.btnDisabled = false

				} else {
					var params = {
						cid: 0,
						title: this.title,
						content: this.content,
						images: this.images,
						labels: this.labels,
						qid: this.qid,
						draft_id: this.draft_id,
						channel_id: this.channel_id,
						column_id: this.column_id,
					}
					console.log(params)
					postQues(params).then(res => {
						if (res.state == 1) {
							this.btnDisabled = false
							this.labels = []
							this.questypename = []
							this.channel_id = ''
							this.column_id = ''
							uni.removeStorage({
								key: 'quesnamelist',
								success: function(res) {},
							})
							uni.removeStorage({
								key: 'channelInfo'
							})
							uni.removeStorage({
								key: 'columnInfo'
							})
							uni.navigateBack({
								delta: 1
							})
							uni.setStorage({
								key: 'onload',
								data: true,
							})

						} else {
							uni.showToast({
								title: res.data.error[0],
								icon: 'none',
								duration: 1500
							});
						}
					})
				}

			},
			textareaHeight() {
				var that = this
				var windowHeight = that.windowHeight
				var query = uni.createSelectorQuery().in(this)
				var postitle, picbox, bottombox
				query.select('.post_title').boundingClientRect(data => {
					postitle = data.height
				}).exec();
				query.select('.picbox').boundingClientRect(data => {
					picbox = data.height
				}).exec();
				query.select('.bottombox').boundingClientRect(data => {
					bottombox = data.height
				}).exec();

				setTimeout(function() {
					var postHeight = windowHeight - postitle - picbox - bottombox
					that.postHeight = windowHeight - postitle - picbox - bottombox - 100
				}, 800)
			},
			delpic(index) {
				var that = this
				uni.showModal({
					content: '确定要删除这张图片吗？',
					confirmText: '删除',
					cancelText: "取消",
					success: function(res) {
						if (res.confirm) {
							that.images_url.splice(index, 1);
							that.images.splice(index, 1);
							that.files.splice(index, 1);
							that.count = images_url.length;

							that.textareaHeight()
						} else if (res.cancel) {
							console.log('用户点击取消');
						}
					}
				});
			},
			goBack() {
				// var that = this
				// if (that.title || that.content) {
				// 	uni.showModal({
				// 		content: '是否保存为草稿？',
				// 		confirmText: '保存',
				// 		cancelText: "不保存",
				// 		confirmColor: '#f6ab00',
				// 		success: function(res) {
				// 			if (res.confirm) {
				// 				var params = {
				// 					channel_id: that.channel_id,
				// 					column_id: that.column_id,
				// 					draft_id: that.draft_id,
				// 					title: that.title,
				// 					content: that.content,
				// 					images: that.images,
				// 					labels: that.labels,
				// 					is_draft: 1
				// 				}
				// 				postQues(params).then(res => {
				// 					if (res.state == 1) {
				// 						that.labels = []
				// 						that.questypename = []
				// 						that.channel_id = ''
				// 						that.column_id = ''
				// 						uni.removeStorage({
				// 							key: 'quesnamelist',
				// 							success: function(res) {},
				// 						})
				// 						uni.removeStorage({
				// 							key: 'channelInfo'
				// 						})
				// 						uni.removeStorage({
				// 							key: 'columnInfo'
				// 						})
				// 						uni.navigateBack({
				// 							delta: 1
				// 						})
				// 						if (that.draft_id) {
				// 							uni.setStorage({
				// 								key: 'onload',
				// 								data: true,
				// 							})
				// 						}

				// 						that.questypename = []
				// 					} else {
				// 						uni.showToast({
				// 							title: res.data.error[0],
				// 							icon: 'none',
				// 							duration: 1500
				// 						});
				// 					}
				// 				})
				// 			} else if (res.cancel) {
				// 				uni.navigateBack({
				// 					delta: 1
				// 				})
				// 				that.questypename = []
				// 			}
				// 		}
				// 	});
				// } else {
				// 	uni.navigateBack({
				// 		delta: 1
				// 	})
				// }
				uni.navigateBack({
					delta: 1
				})
			},

		},
		onUnload() {
			this.questypename = []
		}
	}
</script>

<style lang="scss">
	.post {
		.post_title {
			padding: 15px;
			font-size: 14px;
		}

	}
</style>
