<template>
	<view class="addr_page">
		<view class="addr_form_cell">
			<view class="addr_form_name">收货人</view>
			<input class="ml-20 flex-1 f-13" type="text" maxlength="16" @input="inputName" :value="form.name"
				placeholder="请填写收货人姓名" />
		</view>
		<view class="addr_form_cell">
			<view class="addr_form_name">手机号</view>
			<input class="ml-20 flex-1 f-13" type="number" @input="inputMobile" :value="form.mobile" maxlength="11"
				placeholder="请填写收货人手机号" />
		</view>
		<view class="addr_form_cell">
			<view class="addr_form_name">所在地区</view>
			<!-- #ifdef MP -->
			<picker class="flex-1" @change="bindRegionChange" :value="region" mode='region'>
				<view class="ml-20" v-if="region">{{region[0]}}，{{region[1]}}，{{region[2]}}</view>
				<view class="ml-20" v-else>请选择省市区</view>
			</picker>
			<!-- #endif -->
			<!-- #ifndef MP -->
			<view @click="showPopdd()" class="flex-1">
				<view class="ml-20" v-if="region">{{region[0]}}，{{region[1]}}，{{region[2]}}</view>
				<view class="ml-20" v-else>请选择省市区</view>
			</view>
			<!-- #endif -->
		</view>
		<view class="addr_form_cell" style="align-items: flex-start;">
			<view class="addr_form_name">详细地址</view>
			<textarea class="ml-20 f-13" type="text" maxlength="150" @input="inputAddress" style="height: 160rpx;"
				:value="form.address" placeholder="如道路、门牌号、小区、楼栋号、单元室等" />
		</view>
		<view class="addr_form_cell">
			<view class="flex-1">
				<view class="f-w">设为默认地址</view>
				<view class="c-gray">提醒：每次下单时会使用该地址</view>
			</view>
			<radio value="r1" :checked="status" style="transform:scale(0.6)" color='#FFBB00'
				@click="checkboxChange(status)" />
		</view>
		<view class="btn_block mt-10" @click="submintForm">保存</view>
		<block v-if="showPop">
			<view class="mask_box" @click="closePop"></view>
			<view class="cityBottom">
				<view class="text-c f-16">选择地区</view>
				<view class="choose_active">
					<span>{{provinceName}}</span>
					<span class="ml-10">{{cityName}}</span>
					<span class="ml-10">{{areaName}}</span>
				</view>
				<view class="city_box">
					<view @click="changeP(item.id,item.val,index)" v-if="showP" class="city_list"
						v-for="(item,index) in plist" :key="item.id">
						<view>{{item.val}}</view>
					</view>
					<view @click="changeC(item.id,item.val,index)" v-if="showC" class="city_list"
						v-for="(item,index) in clist" :key="item.id">
						<view>{{item.val}}</view>
					</view>
					<view @click="changeA(item.id,item.val,index)" v-if="showA" class="city_list"
						v-for="(item,index) in alist" :key="item.id">
						<view>{{item.val}}</view>
					</view>
				</view>
			</view>
		</block>
	</view>
</template>

<script>
	import {
		saveAddress,
		editAddress,
		getAreaList
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				showPop: false,
				addrType: 1,
				form: {
					name: '',
					mobile: '',
					address: ''
				},
				region: ['* 省', '* 市', '* 区'],
				regioncode: [],
				showP: true,
				showC: false,
				showA: false,
				plist: [],
				clist: [],
				alist: [],
				provinceName: '',
				cityName: '',
				areaName: '',
				status: false
			};
		},
		onShow() {
			wx.hideShareMenu()
		},
		onLoad(options) {
			this.getAreaList()
			
			if (options.type == 1) {
				this.addrType = 1
				this.form = app.editAddressInfo
				this.region = [this.form.area.province_name, this.form.area.city_name, this.form.area.area_name]
				this.regioncode = [this.form.area.province_id, this.form.area.city_id, this.form.area.area_id]
				uni.setNavigationBarTitle({
					title: '编辑收货地址',
				})
				
			} else {
				this.addrType = options.type
				if (uni.getStorageSync('locationInfo')) {
					var locationInfo=uni.getStorageSync('locationInfo')
					this.region = [locationInfo.province_name, locationInfo.city_name, locationInfo.area_name]
					this.regioncode = [locationInfo.province_code, locationInfo.city_code, locationInfo.area_code]
				}
				uni.setNavigationBarTitle({
					title: '新建收货地址',
				})

			}
		},
		methods: {
			getAreaList() {
				getAreaList().then(res => {
					if (res.state == 1) {
						this.plist = res.data
					} else {}
				})
			},

			showPopdd() {
				this.showPop = true
				this.showP = true
				this.showC = false
				this.showA = false
				this.provinceName = ''
				this.cityName = ''
				this.areaName = ''
			},
			closePop() {
				if (this.info.province) {
					this.regioncode = [this.info.province.id, this.info.city.id, this.info.district.id]
					this.region = [this.info.province.name, this.info.city.name, this.info.district.name]
					this.showPop = false
				} else {
					this.regioncode = []
					this.region = ['* 省', '* 市', '* 区']
					this.showPop = false
				}
				this.showP = true
				this.showC = false
				this.showA = false
				this.provinceName = ''
				this.cityName = ''
				this.areaName = ''
			},
			changeP(id, name, index) {
				this.regioncode[0] = id
				this.regioncode[1] = 0
				this.regioncode[2] = 0
				this.region[0] = name
				this.region[1] = ''
				this.region[2] = ''
				this.provinceName = name
				this.cityName = ''
				this.areaName = ''
				this.clist = this.plist[index].data
				this.showP = false
				this.showC = true
				this.showA = false
			},
			changeC(id, name, index) {
				this.regioncode[1] = id
				this.regioncode[2] = 0
				this.region[1] = name
				this.region[2] = ''
				this.cityName = name
				this.areaName = ''
				this.alist = this.clist[index].data
				this.showP = false
				this.showC = false
				this.showA = true
			},
			changeA(id, name, index) {
				this.regioncode[2] = id
				this.region[2] = name
				this.areaName = name
				this.showPop = false
				this.showP = true
				this.showC = false
				this.showA = false
				this.chooseForm = true
			},
			bindRegionChange(e) {
				this.region = e.detail.value
				this.regioncode = e.detail.code
				this.chooseForm = true
			},
			inputName(e) {
				this.form.name = e.detail.value
			},
			inputMobile(e) {
				this.form.mobile = e.detail.value
			},
			inputAddress(e) {
				this.form.address = e.detail.value
			},
			submintForm() {
				if (this.form.name == '') {
					uni.showToast({
						title: '请填写收货人姓名',
						icon: 'none'
					})
					return false
				} else if (this.form.mobile == '') {

					uni.showToast({
						title: '请填写收货人手机号',
						icon: 'none'
					})
					return false
				} else if (!(/^1[3456789]\d{9}$/.test(this.form.mobile))) {
					wx.showToast({
						title: '请填写正确的手机号',
						icon: 'none'
					})
					return false
				} else if (this.regioncode.length < 3) {
					uni.showToast({
						title: '请选择所在地区',
						icon: 'none'
					})
					return false
				} else if (this.form.address == '') {
					uni.showToast({
						title: '请填写收货人详细地址',
						icon: 'none'
					})
					return false
				}
				this.form.province_id = this.regioncode[0]
				this.form.city_id = this.regioncode[1]
				this.form.area_id = this.regioncode[2]
				this.form.province_name = this.region[0]
				this.form.city_name = this.region[1]
				this.form.area_name = this.region[2]
				this.form.status = this.status ? 1 : 0
				if (this.addrType == 1) {
					editAddress(this.form).then(res => {
						if (res.state == 1) {
							uni.setStorage({
								key: 'onload',
								data: true,
							})
							uni.navigateBack({
								delta: 1
							})
						} else {
					
						}
					})
				} else {
					saveAddress(this.form).then(res => {
						if (res.state == 1) {
							uni.setStorage({
								key: 'onload',
								data: true,
							})
							uni.navigateBack({
								delta: 1
							})
						} else {
					
						}
					})
					
				}
			},
			checkboxChange(e) {
				this.status = e ? false : true
			}
		}
	}
</script>

<style lang="scss">
	.addr_page {
		border-top: 2rpx solid #EAEAEA;

		.addr_form_cell {

			color: #3A3A3A;
			font-size: 26rpx;
			display: flex;
			align-items: center;
			padding: 40rpx 20rpx;
			border-bottom: 2rpx solid #EAEAEA;

			.addr_form_name {
				min-width: 110rpx;
				font-weight: bold;
			}

		}

		.cityBottom {
			z-index: 1001;
			height: 40%;
			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: #FFFFFF;
			border-top-right-radius: 16rpx;
			border-top-left-radius: 16rpx;
			padding: 30rpx;

			.choose_active {
				display: flex;
				align-items: center;
				font-size: 28rpx;
				margin: 20rpx 0;
				font-weight: 600;
			}

			.city_box {
				overflow-y: auto;
				height: 80%;
			}

			.city_list {
				font-size: 26rpx;
				border-bottom: 2rpx solid #f1f1f1;
				padding: 20rpx 0;
			}
		}
	}
</style>
