<template>
	<view class="myactive">
		<view class="active_box" v-for="(item,index) in list" :key="item.id">
			<view class="active_title_box" @click="goInfo(item.id,item.topic_id,item.status,item.status_text,index)">
				<view v-if="item.status==0||item.status==2" class="active_title_tips tips_g">
					{{item.status_text}}
				</view>
				<block v-if="item.status==1">
					<view v-if="item.status_text=='审核中'||item.status_text=='审核未通过'" class="active_title_tips tips_r">
						{{item.status_text}}
					</view>
					<view v-if="item.status_text=='审核通过'" class="active_title_tips tips_g">
						{{item.status_text}}
					</view>
				</block>
				<view v-if="item.status==3" class="active_title_tips tips_y">
					{{item.status_text}}
				</view>
				<view class="active_title">{{item.title}}</view>
			</view>
			<view class="active_info">
				<view>时间：{{item.start.substr(0,10)}}——{{item.end.substr(0,10)}}</view>
				<view v-if="item.author" class="mt-20" @click="clickCopy(item.contact)">联系人：{{item.author}}
				</view>
				<view v-if="item.location_name" class="mt-20 gomapview"
					@click="gotoActive(item.location_name,item.location_coordinate)">
					活动位置：{{item.location_name}}
					<image class="gomapimg" src="../../static/images/checkline.png"></image>
				</view>
			</view>
			<view @click="goInfo(item.id,item.topic_id,item.status,item.status_text,index)">
				<image class="active_imgbox" :src="item.list_pic" mode="aspectFill"></image>
			</view>
			<view class="active_audit">
				<view class="audit_box">
					<view class="audit_cell " v-for="(itemd,indexd) in item.button" :key="itemd"
						:style="'width:'+ 100/itemd.numbs+'%;'">
						<image class="active_state_img" v-if="itemd.color=='#EC8075'"
							:src="itemd.is_on?'../../static/images/active/active_on.png':'../../static/images/active/active_no.png'">
						</image>
						<image class="active_state_img" v-if="itemd.color=='#91C498'"
							:src="itemd.is_on?'../../static/images/active/active_now.png':'../../static/images/active/active_no.png'">
						</image>
						<image class="active_state_img" v-if="itemd.color=='#9A9A9A'"
							:src="itemd.is_on?'../../static/images/active/active_en.png':'../../static/images/active/active_no.png'">
						</image>
						<view class="point_line_name">
							<view class="active_state_name" :style="itemd.is_on?'color:'+itemd.color:''">
								<view>
									{{itemd.title}}
								</view>
								<view>
									{{itemd.time.substr(5,5)}}
								</view>
							</view>
						</view>
						<view v-if="indexd<itemd.numbs-1" class="audit_line"></view>
					</view>
				</view>
			</view>
		</view>
		<view class="loading" style="background-color: #FFFFFF;" v-if="showLoading"
			:style="'padding-bottom:'+pdbottom+'rpx;'">
			<image class="loading_gift" src="../../static/images/gif.gif"></image>
		</view>
		<view class="loading" style="background-color: #FFFFFF;" v-else :style="'padding-bottom:'+pdbottom+'rpx;'">
			<view class="f-12 c-gray text-c pd-30">{{loadingTitle}}</view>
		</view>
	</view>
</template>

<script>
	import {
		getMyActive
	} from '../../api/motortime.js';
	const app = getApp()
	export default {
		data() {
			return {
				bottomBox: uni.getSystemInfoSync().safeAreaInsets.bottom > 0 ? uni.getSystemInfoSync().safeAreaInsets
					.bottom : 8,
				list: [],
				params: {
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : 0,
					type: 1,
					page: 1,
				},
				showLoading: true,
				loadingTitle: '已加载全部',
			};
		},
		onLoad() {
			this.getMyActive()
		},
		methods: {
			getMyActive() {

				getMyActive(this.params).then(res => {
					if (res.state == 1) {

						var list = [...this.list, ...res.data.data]
						if (res.data.total == 0) {
							this.showLoading = false
							this.loadingTitle = '暂无活动'
						} else if (res.data.last_page == res.data.current_page) {
							this.showLoading = false
						}
						for (var i = 0; i < list.length; i++) {
							var button = list[i].button
							for (var j = 0; j < button.length; j++) {
								button[j].numbs = button.length
							}
						}
						this.list = list
						this.last_page = res.data.last_page
						this.current_page = res.data.current_page
					} else {
						uni.showToast({
							title: res.error[0],
							icon: 'none',
							mask: true,
							duration: 1500
						})
					}
				})
			},
			//活动跳转:status=0发起时-跳转招募页；status=1审核中-跳转招募结果页；status=2活动中-跳转地图页;status=3结束时-跳转话题详情
			goInfo: function(id, tid, status, status_text, index) {
				var buttonlist = this.list[index].button
				for (var i = 0; i < buttonlist.length; i++) {
					if (buttonlist[i].is_on) {
						if (buttonlist[i].url) {
							wx.navigateTo({
								url: buttonlist[i].url
							})
						}
					}
				}
			},
			gotoActive(name, location_coordinate) {

			},
			clickCopy(contact) {
				if (contact) {
					uni.setClipboardData({
						data: contact,
						success(res) {
							uni.showToast({
								title: '复制成功',
								icon: 'success',
								duration: 1500
							})
						}
					})
				}
			}
		},
		onReachBottom() {
			if (this.current_page < this.last_page) {
				this.showLoading = true
				this.params.page = this.params.page + 1
				this.getMyActive()
			} else {
				this.showLoading = false
				if (this.list.length > 0) {
					this.loadingTitle = "已加载全部"
				} else {
					this.loadingTitle = "暂无动态"
				}

			}
		},
		onPullDownRefresh() {
			this.showLoading = true
			this.list = []
			this.params.page = 1
			this.getMyActive()
			uni.stopPullDownRefresh()
		},
		onShareAppMessage() {
			app.getShareTask('/pages/myactive/myactive')
			return {
				title: this.list[0].title,
				imageUrl: this.list[0].enroll_share_pic
			}
		}
	}
</script>

<style lang="scss">
	.myactive {
		.active_box {
			border-bottom: 2rpx solid #EAEAEA;
			padding: 30rpx 0;
		}

		.active_title_box {
			display: flex;
			align-items: center;
			padding: 0 30rpx;
		}

		.active_title_tips {
			padding: 5rpx 20rpx;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 22rpx;

			color: #fff;
			border-radius: 6rpx;
		}

		.tips_g {
			background-color: #91C498;
		}

		.tips_r {
			background-color: #EC8075;
		}

		.tips_y {
			background-color: #EAEAEA;
			color: #9A9A9A;
		}

		.active_title {
			font-size: 30rpx;
			font-weight: bold;
			margin-left: 20rpx;
		}

		.active_info {
			color: #9A9A9A;
			font-size: 24rpx;
			padding: 30rpx;
		}

		.active_imgbox {
			width: 100%;
			height: 460rpx;
		}

		.active_audit {
			padding: 0 10rpx;
			padding-top: 20rpx;
		}

		.active_state_img {
			width: 30rpx;
			height: 30rpx;
		}

		.point_line {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.line {
			width: 140rpx;
			height: 2rpx;
			border-top: 2rpx solid #9A9A9A;
			margin: 0 15rpx;
		}

		.point_line_name {
			display: flex;
			align-items: center;
			justify-content: center;
			color: #9A9A9A;
			font-size: 24rpx;
			margin-top: 30rpx;
		}

		.active_state_name {
			min-width: 90rpx;
			text-align: center;
		}

		.active_state_name_on_g {
			color: #91C498;
			font-weight: bold;
		}

		.active_state_name_on_r {
			color: #EC8075;
			font-weight: bold;
		}

		.active_state_name_on_y {
			color: #9A9A9A;
			font-weight: bold;
		}


		.name_line {
			width: 80rpx;
			height: 2rpx;
			margin: 0 15rpx;
		}

		.line_asd {
			margin-top: 20rpx;
			width: 100%;
			height: 2px;
			background: linear-gradient(244deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
		}

		.gotoactive {
			/* float: right; */
			color: #fff;
			margin-left: 30rpx;
			background-color: #1F2A74;
			border-radius: 10rpx;
			padding: 0 20rpx;
		}

		.gomapview {
			display: flex;
			align-items: center;
		}

		.gomapimg {
			width: 160rpx;
			height: 40rpx;
			margin-left: 30rpx;
		}

		.audit_box {
			display: flex;
		}

		.audit_cell {

			text-align: center;
			position: relative;
		}

		.audit_line {
			top: 20rpx;
			position: absolute;
			z-index: 0;
			left: 75%;
			width: 50%;
			height: 2rpx;
			border-top: 2rpx solid #9A9A9A;
		}

		.loading {
			padding: 40rpx;
			text-align: center;
		}
	}
</style>
