<template>
	<view class="goodscarts_page" :style="'padding-bottom:'+bottomHeight+'px;'">
		<uni-swipe-action ref="swipeAction">
			<view class="shop_box" v-for="(itemd, indexd) in list" :key="itemd.channel_id">
				<view class="goods_cell">
					<view class="goods_cell_top">
						<uni-icons v-if="itemd.ischecked" type="checkbox-filled" color="#f6ab00" size="18"
							@click="chooseShop(itemd.id,indexd,0)"></uni-icons>
						<block v-else>
							<uni-icons v-if="itemd.none" type="circle" color="#eaeaea" size="18"></uni-icons>
							<uni-icons v-else type="circle" color="#f6ab00" size="18"
								@click="chooseShop(itemd.id,indexd,1)"></uni-icons>
						</block>
						<!-- <uni-icons v-else type="circle" color="#f6ab00" size="18"
							@click="chooseShop(itemd.id,indexd,1)"></uni-icons> -->
						<image class="shop_logo ml-10" @click="goChanneList(itemd.channel_id)" :src="itemd.channel_img">
						</image>
						<view class="flex-1 ml-10 f-13" @click="goChanneList(itemd.channel_id)">{{itemd.channel_name}}
						</view>
						<uni-icons type="right" color="#9A9A9A" size="18" @click="goChanneList(itemd.channel_id)">
						</uni-icons>
					</view>
					<uni-swipe-action-item v-for="(item,index) in itemd.info" :key="item.id" :right-options="options"
						@change="swipeChange($event, indexd,index)" @click="swipeClick($event,indexd,index,item.id)">
						<view class="goods_cell_goods">
							<uni-icons v-if="item.is_selection&&item.attr.number>0" type="checkbox-filled"
								color="#f6ab00" size="18" @click="chooseGood(item.id,indexd,index,0)"></uni-icons>
							<block v-else>
								<uni-icons v-if="item.number==0" type="circle" color="#eaeaea" size="18"></uni-icons>
								<uni-icons v-else type="circle" color="#f6ab00" size="18"
									@click="chooseGood(item.id,indexd,index,1)"></uni-icons>
							</block>

							<view class="goods_img_title">
								<image class="goods_img" mode="aspectFill" :src="item.good.img_url"
									@click="goodsInfo(item.good.id)"></image>
								<view class="flex-1 goods_info">
									<view class="goods_name ellipsis-2" @click="goodsInfo(item.good.id)">
										{{item.good.name}}
									</view>
									<view class="goods_attr_box" v-if="item.attr.name">{{item.attr.name}}</view>
									<view class="goods_num_price">
										<view class="c-red f-w f-16 flex-1" @click="goodsInfo(item.good.id)">
											￥{{item.attr.price}}</view>
										<view class="goods_num">
											<view class="numbox">
												<view class="binbtn mr-10"
													:style="item.number==0?'background-color: #f0f0f0;':''"
													@click="minusNum(item.id,indexd,index)"> -
												</view>
												<view class="num">{{item.number}}</view>
												<view class="binbtnr ml-10" @click="addNum(item.id,indexd,index)"> +
												</view>
											</view>
										</view>
									</view>
								</view>
							</view>
						</view>
					</uni-swipe-action-item>
				</view>
			</view>
		</uni-swipe-action>
		<view class="text-c c-gray f-12 mt-30" v-if="nolist">您还没有添加商品~</view>
		<view class="bottom_box" :style="'padding-bottom:'+bottomBox+'px'">
			<view class="display_flex" @click="checkAllGoods">
				<uni-icons v-if="allChecked" type="checkbox-filled" color="#f6ab00" size="18"></uni-icons>
				<uni-icons v-else type="circle" color="#f6ab00" size="18"></uni-icons>
				<view class="ml-5 f-13 c-gray">全部</view>
			</view>
			<view class="flex-1 display_flex" style="justify-content: flex-end;">
				<view class="f-13">合计：<span class="c-red">￥<span class="f-17 f-w">{{totalPrice}}</span></span></view>
				<view class="byuBtn" @click="goodsBuy" style="margin-left:30rpx;">结算({{goodsnum}})</view>
			</view>
		</view>
	</view>
</template>

<script>
	import {
		getCartsList,
		goodsAddcarts,
		setCartSele,
		delCart
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				goodsnum: 0,
				bottomBox: 8,
				allChecked: false,
				options: [{
					text: '删除',
					style: {
						backgroundColor: '#E10000'
					}
				}],
				list: [],
				totalPrice: '00.00',
				nolist: false,
				bottomHeight: 70,
			};
		},
		onShow() {
			wx.hideShareMenu()
		},
		onLoad() {
			if (app.globalData.statusBarHeight < 30) {
				this.bottomBox = 8
				this.bottomHeight = 60
			} else {
				this.bottomBox = 30
				this.bottomHeight = 80
			}
			if (!uni.getStorageSync('access_token')) {
				uni.navigateTo({
					url: '/pages/login/login'
				})
			}
			this.getCartsList()
		},
		methods: {
			getCartsList() {
				getCartsList({
					channel_id: 0
				}).then(res => {
					if (res.state == 1) {
						var list = res.data
						if (list.length > 0) {
							for (var i = 0; i < list.length; i++) {
								var info = list[i].info
								let flag4allselect = info.every(function(item) {
									if (item.attr.number == 0) {
										return false
									} else {
										return item.is_selection
									}
								});
								for (var j = 0; j < info.length; j++) {
									if (info[j].attr.number == 0) {
										list[i].info[j].is_selection = 0
									} else {}
								}
								if (flag4allselect) {
									list[i].ischecked = true
								} else {
									list[i].ischecked = false
								}
								this.list = list

								this.calculateTotal()
								this.isSelectAll()
							}
						} else {
							this.nolist = true
						}
					}
				})
			},
			swipeChange(e, indexd, index) {},
			swipeClick(e, indexd, index, id) {
				uni.showModal({
					title: '提示',
					content: '确定要删除吗?',
					success: res => {
						if (res.confirm) {
							delCart(id).then(res => {
								if (res.state == 1) {
									uni.showToast({
										title: '已删除',
										icon: 'success'
									})
									this.list[indexd].info.splice(index, 1);
									if (this.list[indexd].info.length == 0) {
										this.list.splice(indexd, 1)
										if (this.list.length == 0) {
											this.nolist = true
										}
									}

									this.isSelectAll()
								}
							})

						} else if (res.cancel) {
							console.log('用户点击取消');
						}
					}
				});
			},
			minusNum(id, indexd, index) {
				if (this.list[indexd].info[index].number > 0) {
					var goods_attr_id = this.list[indexd].info[index].attr.id
					this.list[indexd].info[index].number--
					var params = {
						goods_id: this.list[indexd].info[index].good.id,
						goods_attr_id: goods_attr_id,
						number: -1,
						is_buy_cancel: 0,
						is_buy: 0
					}
					goodsAddcarts(params).then(res => {
						if (res.state == 1) {

						}
					})
					this.calculateTotal()
					if (this.list[indexd].info[index].number == 0) {
						this.list[indexd].ischecked = false
						this.list[indexd].info[index].is_selection = false
						this.chooseGood(id, indexd, index, 0)
					}
				}
			},
			addNum(id, indexd, index) {
				if (this.list[indexd].info[index].number < this.list[indexd].info[index].attr.number) {
					var goods_attr_id = this.list[indexd].info[index].attr.id
					this.list[indexd].info[index].number++
					var params = {
						goods_id: this.list[indexd].info[index].good.id,
						goods_attr_id: goods_attr_id,
						number: 1,
						is_buy_cancel: 0,
						is_buy: 0
					}
					goodsAddcarts(params).then(res => {
						if (res.state == 1) {

						}
					})
					this.calculateTotal()
				} else {
					uni.showToast({
						title: '库存不足~',
						icon: 'none',
						mask: true,
						duration: 1500
					})
				}
			},
			calculateTotal() {
				let total = 0;
				let goodsnum = 0;
				let list = this.list;
				for (var i = 0; i < list.length; i++) {
					var goodslist = list[i].info
					for (var j = 0; j < goodslist.length; j++) {
						if (goodslist[j].is_selection) {
							total += parseFloat(goodslist[j].attr.price) * parseInt(goodslist[j].number)
							goodsnum++
						}
					}
				}
				this.goodsnum = goodsnum
				this.totalPrice = total.toFixed(2)
			},
			chooseShop(id, indexd, type) {
				var cartIds
				var cartIdslist = []
				if (type == 1) {
					this.list[indexd].ischecked = true
				} else {
					this.list[indexd].ischecked = false
				}
				var info = this.list[indexd].info
				for (var j = 0; j < info.length; j++) {
					if (info[j].number > 0) {
						info[j].is_selection = this.list[indexd].ischecked;
						cartIdslist.push(info[j].id)
						cartIds = cartIdslist.join(',')
					}

				}
				this.list[indexd].info = info
				var params = {
					cartIds: cartIds,
					type: type
				}
				setCartSele(params).then(res => {
					if (res.state == 1) {

					}
				})
				this.isSelectAll()
			},
			chooseGood(id, indexd, index, type) {
				if (type == 1) {
					if (this.list[indexd].info[index].number > 0) {
						this.list[indexd].info[index].is_selection = true
					}

				} else {
					this.list[indexd].info[index].is_selection = false
				}
				var info = this.list[indexd].info
				let flag4allselect = info.every(function(item) {
					return item.is_selection;
				});
				if (flag4allselect) {
					this.list[indexd].ischecked = true
				} else {
					this.list[indexd].ischecked = false
				}
				var params = {
					cartIds: id,
					type: type
				}
				setCartSele(params).then(res => {
					if (res.state == 1) {

					}
				})
				this.isSelectAll()
			},
			//判断是否全选
			isSelectAll() {
				let list = this.list;
				if (list.length > 0) {
					let flag4allselect = list.every(function(item) {
						return item.ischecked;
					});
					if (flag4allselect) {
						this.allChecked = true
					} else {
						this.allChecked = false
					}
					let flag4noselect = list.every(function(item) {
						return !item.ischecked;
					});
				} else {
					this.allChecked = false
				}
				this.calculateTotal();
			},
			checkAllGoods() {
				this.allChecked = this.allChecked ? false : true
				var list = this.list;
				list.forEach(function(element) {
					element.ischecked = this.allChecked;
					var info = element.info
					for (var j = 0; j < info.length; j++) {
						if (info[j].number > 0) {
							info[j].is_selection = this.allChecked;
						}

					}
				}, this);
				this.list = list
				this.calculateTotal();
			},
			//结算
			goodsBuy() {
				if (uni.getStorageSync('access_token')) {
					var list = this.list
					var orderlist = []
					for (var i = 0; i < list.length; i++) {
						if (list[i].ischecked) {
							orderlist.push(list[i])
						} else {
							var info = list[i].info
							for (var j = 0; j < info.length; j++) {
								if (info[j].is_selection == 1) {
									orderlist.push(list[i])
								}
							}

						}
					}
					if (orderlist.length > 0) {
						app.orderlist = orderlist
						uni.navigateTo({
							url: '/pages/shop/goodsorder/goodsorder?goodprice=' + this.totalPrice,
						})
					} else {
						uni.showToast({
							title: '请选择商品',
							mask: true,
							icon: 'none',
							duration: 1500
						})
					}
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			goodsInfo(id, tt_shop_id) {
				uni.navigateTo({
					url: '/pages/goodsinfo/goodsinfo?scene=' + id
				})
			},
			goChanneList(id) {
				uni.navigateTo({
					url: '/pages/bandindex/bandindex?scene=' + id
				})
			}
		}
	}
</script>

<style lang="scss">
	page {
		background-color: #F0F0F0;
	}

	.goodscarts_page {
		.shop_box {
			border-radius: 5rpx;
			margin: 20rpx 20rpx 0;
			background-color: #FFFFFF;

			.goods_cell {
				.goods_cell_top {
					display: flex;
					align-items: center;
					padding: 20rpx;

					.shop_logo {
						width: 60rpx;
						height: 60rpx;
						border-radius: 60px;
					}
				}

				.goods_cell_goods {
					display: flex;
					align-items: center;
					padding: 20rpx;

					.goods_img_title {
						flex: 1;
						display: flex;
						align-items: flex-start;
						margin-left: 20rpx;

						.goods_img {
							width: 200rpx;
							height: 200rpx;
						}

						.goods_info {
							height: 200rpx;
							position: relative;
							margin-left: 20rpx;

							.goods_name {
								color: #3A3A3A;
								font-size: 30rpx;
								font-weight: bold;
								line-height: 20px;
							}

							.goods_attr_box {
								display: inline-block;
								color: #3A3A3A;
								font-size: 22rpx;
								margin-top: 10rpx;
								background-color: #e8e8e8;
								border-radius: 30px;
								padding: 0 20rpx;
								line-height: 1.6;
							}

							.goods_num_price {
								font-size: 24rpx;
								position: absolute;
								bottom: 0;
								left: 0;
								right: 0;
								display: flex;
								align-items: center;
							}

							.goods_num {
								.numbox {
									display: flex;
									border: 1px solid #eaeaea;
								}

								.binbtn {
									width: 20px;
									height: 20px;
									text-align: center;
									border-right: 1px solid #eaeaea;
									line-height: 1.8;
								}

								.binbtnr {
									width: 20px;
									height: 20px;
									text-align: center;
									border-left: 1px solid #eaeaea;
									line-height: 1.8;
								}

								.num {
									margin-top: 2px;
								}
							}
						}
					}
				}

			}
		}

		.byuBtn {
			min-width: 180rpx;
			max-height: 60rpx;
			font-size: 26rpx;
			color: #FFFFFF;
			background-color: #E10000;
			text-align: center;
			border-radius: 30px;
			padding: 18rpx 0;
		}


	}
</style>