<template>
	<view>
		<view class="invite_box">
			<view class="invite_bg" :style="'background-image:url('+info.background_pic+')'">
				<view class="invite_title" :style="'color:' +fontColor">受邀人信息</view>
				<view class="invite_form" :style="'color:' +fontColor">
					<view style="width: 80px;">履历展示</view>
					<textarea auto-height="true" :focus="true" maxlength='-1' class="textaread" v-if="showText"
						@blur="blurInput" @input="bindInput" :value="other"></textarea>
					<view class="textarea_box" v-else @click="clickInput">
						<view>请输入精彩履历，如：</view>
						<view class="mt-10" v-for="(item,index) in list" :key="index">{{item}}</view>
						<img class="hand_gif" src="/static/images/approve/hand_gif.gif">
					</view>
				</view>
				<view class="invite_show">
					<view class="invite_show_head">
						<image class="userhead" :src="avatar?avatar:'/static/images/default-avatar.png'"></image>
						<image class="headsficon" :src="info.gif_button_pic"></image>
					</view>
					<view class="invite_show_name" v-if="username">{{username}}</view>
					<view class="invite_list">
						<image class="invite_icon" :src="info.fans_button_pic"></image>
						<view class="ml-10">
							<view v-for="(item,index) in list" :key="index">{{item}}</view>
						</view>
					</view>
					<!-- <view class="invite_list mt-5" v-if="otherinfo.cars.title">
						<image class="invite_icon" :src="info.car_button_pic"></image>
						<view class="ml-10">
							{{otherinfo.cars.title}}车主
						</view>
					</view> -->
				</view>
				<view class="fixed_box" @click="submitForm">
					<view class="fix_btn" :style="'background-color:' +btnColor">提交认证</view>
					<!-- <view class="submitForm">跳过<img class="nextimg" src="/static/images/approve/nextimg.png"></view> -->
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	import {
		getActiveInfo,
		getUserOtherInfo,
		submitActive
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				showText: false,
				info: '',
				other: '',
				avatar: '',
				username: '',
				list: [],
				otherinfo: '',
				btnColor: '',
				other: '',
				isSubmit: true,
				fontColor: '#FFFFFF',
			};
		},
		onLoad(options) {
			this.hid = decodeURIComponent(options.scene);
		},
		onShow() {
			if (uni.getStorageSync('access_token')) {

				this.avatar = uni.getStorageSync('member').avatar
				this.username = uni.getStorageSync('member').username
				var params = {
					user_id: uni.getStorageSync('member').id,
				}
				getUserOtherInfo(params).then(res => {
					if (res.state == 1) {
						this.otherinfo = res.data
					}
				})
				this.getActiveInfo()
			} else {
				uni.navigateTo({
					url: '/pages/login/login'
				})
			}

		},
		methods: {
			getActiveInfo() {
				var params = {
					user_id: uni.getStorageSync('member').id,
				}
				getActiveInfo(params, this.hid).then(res => {
					if (res.state == 1) {
						this.info = res.data
						if (res.data.author == '凌志范儿') {
							this.fontColor = '#4A4A4A'
							this.btnColor = '#605C6B'
						} else if (res.data.author == '富士范儿') {
							this.fontColor = '#FFFFFF'
							this.btnColor = '#1E2A75'
						} else if (res.data.author == 'VTEC范儿') {
							this.fontColor = '#FFFFFF'
							this.btnColor = '#AA0000'
						} else {
							this.fontColor = '#FFFFFF'
							this.btnColor = '#F6AB01'
						}
						if (res.data.resume_default_text) {
							this.list = res.data.resume_default_text.split('\n');
						}

						// if (res.data.is_enroll == 1) {
						// 	uni.redirectTo({
						// 		url: '/pages/approve/inviteaudit/inviteaudit?scene=' + this.hid,
						// 	})
						// }
						var params = {
							event_code: '影响力认证',
							path: 'pages/approve/invite/invite',
							user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
							source: app.globalData.source,
							event_id: res.data.id,
							title: res.data.title,
							invitees_scene_id: '',
							source_page: '',
							value: '',
						}
						app.BurialPoint(params)
					}

				})
			},
			clickInput() {
				this.showText = true
			},
			//输入履历
			bindInput(event) {
				var value = event.detail.value
				this.other = event.detail.value

				if (value.length == 0) {
					this.showText = false
					this.list = this.info.resume_default_text.split('\n');
				} else {
					this.showText = true
					this.list = value.split('\n');
				}
			},
			//失去焦点
			blurInput(event) {
				var value = event.detail.value
				this.other = event.detail.value
				if (value.length == 0) {
					this.showText = false
				} else {
					this.showText = true
				}
			},
			submitForm() {
				var that = this
				if (uni.getStorageSync('access_token')) {
					if (that.other) {
						if (that.isSubmit) {
							that.isSubmit = false
							var params = {
								name: uni.getStorageSync('member').username,
								hid: that.hid,
								other: that.other,
							}
							console.log('submitActive')
							submitActive(params).then(res => {
								if (res.state == 1) {
									uni.showToast({
										title: '提交成功',
										mask: true,
										icon: 'success',
										duration: 1500,
										success: function() {
											setTimeout(function() {
												uni.redirectTo({
													url: '/pages/approve/inviteaudit/inviteaudit?scene=' +
														that.hid
												});
												that.isSubmit = true
											}, 1000)
										}
									})
								} else {
									that.isSubmit = true
									uni.showToast({
										title: res.data.error[0],
										icon: 'none',
										duration: 1500
									});
								}
							})
						}
					} else {
						uni.showToast({
							title: '请填写履历',
							icon: 'none',
							duration: 1500
						});
					}


				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			}
		},
		//分享
		onShareAppMessage(res) {
			if (res.from === 'button') { // 来自页面内分享按钮
				console.log('title' + this.info.title)
				this.showShare = false

			}
			return {
				title: this.info.title,
				path: '/pages/approve/invite/invite?scene=' + this.hid,
				imageUrl: this.info.enroll_share_pic
			}

		}
	}
</script>

<style lang="scss">
	.invite_box {
		.invite_bg {
			height: 100vh;
			width: 100%;
			background-size: 100% 100vh;
		}

		.invite_title {
			font-size: 14px;
			padding: 10px 36px;
			padding-top: 20px;
		}

		.invite_form {
			font-size: 14px;
			padding: 10px 36px;
			display: flex;
			align-items: flex-start;
			border-bottom: 1px solid #eaeaea;

			.textaread {
				margin-left: 20px;
				min-height: 90px;
			}

			.textarea_box {
				font-size: 13px;
				position: relative;
				height: 90px;
				margin-left: 20px;

				.hand_gif {
					position: absolute;
					width: 64px;
					height: 64px;
					top: 20px;
					left: 20px;
				}
			}
		}

		.invite_show {
			margin: 15px;
			padding: 20px;
			min-height: 150px;
			border-radius: 6px;
			background-color: #FFFFFF;
			box-shadow: 0.053333rem 0.053333rem 0.133333rem rgba(0, 0, 0, 0.05);

			.invite_show_head {
				position: relative;
				width: 60px;
				height: 60px;
			}

			.userhead {
				width: 60px;
				height: 60px;
				border-radius: 1.5px;
			}

			.headsficon {
				width: 60px;
				height: 60px;
				position: absolute;
				// bottom: 7px;
				right: 0px;
			}

			.invite_show_name {
				font-size: 14px;
				font-weight: bold;
				color: #605C6B;
				margin-bottom: 10px;
				margin-top: 10px;
			}

			.invite_list {
				display: flex;
				color: #979797;
				font-size: 12px;

				.invite_icon {
					width: 15px;
					height: 15px;
				}
			}
		}

		.fixed_box {
			width: 100%;
			position: fixed;
			bottom: 135rpx;
			display: flex;
			justify-content: center;

		}

		.fix_btn_gray {
			background-color: #CFCFCF;
		}

		.fix_btn {
			text-align: center;
			color: #fff;
			border-radius: 8rpx;
			font-size: 28rpx;
			padding: 10px 0;
			width: 300rpx;
		}

		.nextStep {
			color: #999999;
			font-size: 14px;
			text-align: center;
			width: 100%;
			position: fixed;
			bottom: 75rpx;
			display: flex;
			align-items: center;
			justify-content: center;

			.nextimg {
				width: 13px;
				height: 12px;
			}
		}
	}
</style>
