<template>
	<view class="message_box">
		<view class="tabs_fixed">
			<view :class="current == 0 ? 'tabs_item tab_item_border' : 'tabs_item'" @click="onClickItem(0)">
				评论消息
				<view class="title_dot" v-if="cnoread"></view>
			</view>
			<view :class="current == 3 ? 'tabs_item tab_item_border' : 'tabs_item'" @click="onClickItem(3)">点赞消息
				<view class="title_dot" v-if="pnoread"></view>
			</view>
			<view :class="current == 2 ? 'tabs_item tab_item_border' : 'tabs_item'" @click="onClickItem(2)">
				系统消息
				<view class="title_dot" v-if="snoread"></view>
			</view>
		</view>
		<view class="content">
			<view v-show="current === 0">
				<view class="message_cell" v-for="(item,index) in list" :key="item.id"
					@click="goCommentPage(item.id,index,item.is_read,item.comment.z_id,item.comment.card_id,item.comment.answer_id,item.type,item.comment.p_reply_id)">
					<view class="flex-1">
						<view class="f-12">
							<span class="mr-5 f-13 c-blue">{{item.comment.user.user_name}}</span>
							评论我
						</view>
						<view class="ellipsis-2 f-13 mt-10 mb-10">{{item.comment.content}}</view>
						<view class="c-gray f-12">{{item.created_at}}</view>
					</view>
					<view class="badge_dot" v-if="item.is_read==0"></view>
				</view>

			</view>
			<view v-show="current === 2">
				<view class="message_cell" v-for="(item,index) in list" :key="item.id"
					@click="goAdminPage(item.id,item.jump_id,item.is_read,item.type,index)">
					<view class="flex-1">
						<view class="ellipsis-2 f-13">{{item.title}}</view>
						<view class="c-gray f-12">{{item.created_at}}</view>
					</view>
					<view class="badge_dot" v-if="item.is_read==0"></view>
				</view>
			</view>
			<view v-show="current === 3">
				<view class="message_cell" v-for="(item,index) in list" :key="item.id">
					<view class="flex-1">
						<view class="f-12" @click="goAdminPage(item.id,item.jump_id,item.is_read,item.type,index)"><text
								class="mr-5 f-13 c-blue">{{item.user_name}} </text>{{item.user_num}}
							{{item.praise_text}}：
						</view>
						<view class="message_content"
							@click="goPraiseInfo(item.id,item.is_read,item.p_id,item.content_id,item.type,index)">
							<view class="ellipsis-2">{{item.content}}</view>
							<image class="message_img" mode="aspectFill" v-if="item.image.length>0" :src="item.image[0]"></image>
						</view>
						<view class="user_list_box" @click="openUserlist(item.praise_num,item.id,item.is_read,index)">
							<image v-for="(itemd,indexd) in item.users" :key="indexd" class="user_avatar" mode="aspectFill"
								:src="itemd.headimg?itemd.headimg:'/static/images/default-avatar.png'">
							</image>
							<view class="c-gray">{{item.praise_num}}人赞过 > </view>
						</view>
						<view class="c-gray f-12">{{item.created_at}}</view>
					</view>
					<view class="badge_dot" v-if="item.is_read==0"></view>
				</view>
			</view>
			<view class="f-14 c-gray text-c" style="margin-top: 10%;" v-if="noData">暂无消息</view>
		</view>
	</view>
</template>

<script>
	import {
		getCommentMessageList,
		getAdminMessageList,
		readMessage,
		getNoticenums,
		getPariseMessageList,
		noticeTemplate
	} from '../../api/motortime.js';
	const app = getApp()
	export default {
		data() {
			// 1 => '问题',
			// 2 => '问答评论',
			// 3 => '文章评论',
			// 4 => '帖子评论',
			// 5 => '回答',
			// 6 => '帖子点赞',
			// 7 => '帖子评论点赞',
			// 8 => '文章评论点赞',
			return {
				current: 0,
				list: [],
				last_page: 1,
				params: {
					page: 1,
					size: 10
				},
				nocomment: false,
				noadmin: false,
				plist: [],
				noparise: false,
				cnoread: false,
				pnoread: false,
				snoread: false,
				noData:false
			};
		},
		onShow() {
			if (!uni.getStorageSync('access_token')) {
				uni.navigateTo({
					url: '/pages/login/login'
				})
			}
		},
		onLoad(options) {
			if (options.index == 1) {
				this.current = 1
			} else if (options.index == 2) {
				this.current = 2
			} else if (options.index == 3) {
				this.current = 3
			} else {
				this.current = 0
			}
			this.list = []
			this.params.page = 1
			this.getNoticenums()
			this.getMessageList()
			var params = {
				event_code: '我的消息',
				path: 'pages/mymessage/mymessage',
				user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
				source: app.globalData.source,
				invitees_scene_id: '',
				source_page: '',
				event_id: '',
				title: '',
				value: '',
			}
			app.BurialPoint(params)
			if (!options.is_pop) {
				// #ifdef  MP-WEIXIN
				wx.showModal({
					title: '【汽车时间】小程序',
					content: '需要向您推送消息通知',
					confirmText: '知道了',
					showCancel: false,
					success: function(res) {
						uni.requestSubscribeMessage({
							tmplIds: ['UXoNEgstqcHaHFtsesbbyv6WUHPjheI3nH9pMiUGS6E',
								'EJH23t_jW88wn4eIhRqEc7UPO1GpALMXVFq-SxTlsaI',
								'4UY_JJwhR9hRN_2wKYKdgqcxNixYBlXXSZUgg5BQvkE'
							],
							success: function(res) {
								noticeTemplate({
									template_type: 1
								}).then(res => {
									if (res.state == 1) {
										uni.navigateTo({
											url: url
										})
									} else {

									}
								})
							},
							file: function(e) {
								console.log(e)
							}
						})
					}
				})

				// #endif
			}
		},
		methods: {
			getNoticenums() {
				getNoticenums({
					media_id: 1
				}).then(res => {
					if (res.state == 1) {

						if (res.data.comment_nums > 0) {
							this.cnoread = true
						}
						if (res.data.system_nums > 0) {
							this.snoread = true
						}
						if (res.data.parise_nums > 0) {
							this.pnoread = true
						}
					} else {
						uni.showToast({
							title: res.error[0],
							icon: 'none',
							mask: true,
							duration: 1500
						})
					}
				})
			},
			getMessageList() {
				if (this.current == 0) {
					getCommentMessageList(this.params).then(res => {
						if (res.state == 1) {
							this.list = [...this.list, ...res.data.data]
							this.last_page = res.data.last_page
							this.current_page = res.data.current_page
							if (this.list.length == 0) {
								this.noData = true
							}
						} else {
							uni.showToast({
								title: res.error[0],
								icon: 'none',
								mask: true,
								duration: 1500
							})
						}
					})
				} else if (this.current == 2) {
					getAdminMessageList(this.params).then(res => {
						if (res.state == 1) {
							this.list = [...this.list, ...res.data.data]
							this.last_page = res.data.last_page
							this.current_page = res.data.current_page
							if (this.list.length == 0) {
								this.noData = true
							}
						} else {
							uni.showToast({
								title: res.error[0],
								icon: 'none',
								mask: true,
								duration: 1500
							})
						}
					})
				} else if (this.current == 3) {
					getPariseMessageList(this.params).then(res => {
						if (res.state == 1) {
							this.list = [...this.list, ...res.data.data]
							this.last_page = res.data.last_page
							this.current_page = res.data.current_page
							if (this.list.length == 0) {
								this.noData = true
							}
						} else {
							uni.showToast({
								title: res.error[0],
								icon: 'none',
								mask: true,
								duration: 1500
							})
						}
					})
				}

			},
			onClickItem(e) {
				this.current = e
				this.list = []
				this.params.page = 1
				this.getMessageList()
			},
			//评论消息
			goCommentPage(id, index, isread, aid, cid, ansid, type, pid) {
				if (isread == 1) {
					switch (type) {
						case 2:
							uni.navigateTo({
								url: '/pages/commentinfo/commentinfo?id=' + ansid + '&pid=' + pid + '&source=2'
							})
							break;
						case 3:
							uni.navigateTo({
								url: '/pages/commentinfo/commentinfo?id=' + aid + '&pid=' + pid + '&source=1'
							})
							break;
						default:
							uni.navigateTo({
								url: '/pages/articleinfo/articleinfo?scene=' + cid
							})
							break;
					}
				} else {
					switch (type) {
						case 2:
							uni.navigateTo({
								url: '/pages/commentinfo/commentinfo?id=' + ansid + '&pid=' + pid + '&source=2'
							})
							break;
						case 3:
							uni.navigateTo({
								url: '/pages/commentinfo/commentinfo?id=' + aid + '&pid=' + pid + '&source=1'
							})
							break;
						default:
							uni.navigateTo({
								url: '/pages/articleinfo/articleinfo?scene=' + cid
							})
							break;
					}
					this.readMessage(id, index)
				}
			},
			//系统消息
			goAdminPage(id, url, isread, type, index) {
				if (isread == 1) {
					if (type == 2) {
						uni.navigateTo({
							url: '/pages/webview/webview?scene=' + url,
						})
					} else {
						uni.navigateTo({
							url: url,
						})
					}
				} else {
					if (type == 2) {
						uni.navigateTo({
							url: '/pages/webview/webview?scene=' + url,
						})
					} else {
						uni.navigateTo({
							url: url,
						})
					}
					this.readMessage(id, index)
				}
			},
			//消息已读
			readMessage(id, index) {
				var url = this.current == 2 ? 'notice/' + id + '/system-read' : 'notice/' + id + '/read'

				readMessage(url).then(res => {
					if (res.state == 1) {
						this.list[index].is_read = 1
					} else {
						uni.showToast({
							title: res.error[0],
							icon: 'none',
							mask: true,
							duration: 1500
						})
					}
				})
			},
			goPraiseInfo(id, is_read, p_id, content_id, type, index) {
				if (type == 6 || type == 7) {
					wx.navigateTo({
						url: '/pages/articleinfo/articleinfo?scene=' + p_id + '&coment=' + content_id,
					})
				} else {
					wx.navigateTo({
						url: '/pages/commentinfo/commentinfo?id=' + p_id + '&pid=' + content_id + '&source=1',
					})
				}
				if (is_read == 0) {
					this.readMessage(id, index)
				}
			},
			openUserlist(num, id,is_read,index) {
				uni.navigateTo({
					url: '/pages/praiselog/praiselog?title=' + num + '人赞过&id=' + id
				})
				if (is_read == 0) {
					this.readMessage(id, index)
				}
			}
		},
		onPullDownRefresh() {
			this.params.page = 1
			this.list = []
			this.getMessageList()
			uni.stopPullDownRefresh()
		},
		onReachBottom() {
			if (this.last_page > this.current_page) {
				this.params.page = this.params.page + 1
				this.getMessageList()
			}
		}
	}
</script>

<style lang="scss">
	.message_box {
		.content {}

		.message_cell {
			padding: 30rpx;
			border-bottom: 2rpx solid rgba(0, 0, 0, 0.1);
			font-size: 28rpx;
			display: flex;
			align-items: center;
		}

		.badge_dot {
			width: 8rpx;
			height: 8rpx;
			background-color: red;
			border-radius: 60px;
			margin-left: 10rpx;
		}

		.message_content {
			color: #3A3A3A;
			font-size: 26rpx;
			margin: 20rpx 0;
		}

		.message_img {
			width: 210rpx;
			height: 140rpx;
			margin-top: 10rpx;
			border-radius: 5rpx;
		}

		.user_list_box {
			display: flex;
			align-items: center;
			margin-bottom: 20rpx;
		}

		.user_avatar {
			width: 50rpx;
			height: 50rpx;
			border-radius: 60px;
			margin-right: 20rpx;
		}
	}
</style>
