<template>
	<view class="commentinfo_box">
		<view class="commentinfo pd-30">
			<view class="collect_img_box">
				<image @click="goUserInfo(info.user.id,info.user.form,info.user.user_name)" class="collect_img"
					:src="info.user.headimg_url"></image>
			</view>
			<view class="flex-1 ml-10">
				<view class="display_flex" style="height: 80rpx;color: #605c6b;">
					<view @click="goUserInfo(info.user.id,info.user.form,info.user.user_name)"
						class="f-14 f-w ml-5 flex-1">{{info.user.user_name}}
						<span class="comment_member_userform" v-if="info.user.form">[{{info.user.form}}</span>
					</view>
					<view class="display_flex">
						<image @click="praise(info.id,info.is_praise)" v-if='info.is_praise==1' class="oper-pic ml-15"
							src="../../static/images/zan-active.png">
						</image>
						<image @click="praise(info.id,info.is_praise)" v-if='info.is_praise==0' class="oper-pic ml-15"
							src="../../static/images/zan.png">
						</image>
						<view @click="praise(info.id,info.is_praise)" class="f-12 ml-5">
							{{info.praise_num>0?info.praise_num:''}}
						</view>
					</view>
				</view>
				<view class="f-13 mt-10">{{info.content}}</view>
				<view class="article_info">
					<image class="article_info_img" mode="aspectFill" :src="ainfo.pic_url"></image>
					<view class="article_info_title ellipsis-4 ml-10">{{ainfo.title}}</view>
				</view>
				<view class="display_flex f-12 mt-10">
					<view class="flex-1">
						<span class="c-gray">{{info.create_time}}·</span>
						回复<block v-if="info.reply_num>0">({{info.reply_num}})</block>
					</view>
					<view class="f-12 c-gray">举报</view>
				</view>
			</view>
		</view>
		<view style="padding-bottom: 140rpx;">
			<view class="commentinfo_list" v-for="(item,index) in list" :key="item.id">
				<view class="collect_img_box">
					<image @click="goUserInfo(item.user.id,item.user.form,item.user.user_name)" class="collect_img"
						:src="item.user.headimg_url"></image>
				</view>
				<view class="flex-1 ml-10">
					<view class="display_flex" style="height: 80rpx;color: #605c6b;">
						<view @click="goUserInfo(item.user.id,item.user.form,item.user.user_name)"
							class="f-14 f-w ml-5 flex-1">{{item.user.user_name}}
							<span class="comment_member_userform" v-if="itemr.user.form">[{{itemr.user.form}}</span>
						</view>
						<view class="display_flex">
							<image @click="praise(item.id,item.is_praise,index,1)" v-if='item.is_praise==1'
								class="oper-pic ml-15" src="../../static/images/zan-active.png">
							</image>
							<image @click="praise(item.id,item.is_praise,index,1)" v-if='item.is_praise==0'
								class="oper-pic ml-15" src="../../static/images/zan.png">
							</image>
							<view @click="praise(item.id,item.is_praise,index,1)" class="f-12 ml-5">
								{{item.praise_num>0?item.praise_num:''}}
							</view>
						</view>
					</view>
					<view class="f-13 mt-10" style="color: #6a6a6a;">
						回复<span class="c-blue ml-5 mr-5">{{item.reuser.user_name}}</span>{{item.content}}
					</view>
					<view class="auditbox" v-if="item.is_audit==0">{{audit_text}}</view>
					<view class="display_flex f-12 mt-10">
						<view class="flex-1">
							<span class="c-gray">{{item.create_time}}·</span>
							<span @click="goCommentlist(item.id)">回复<block v-if="item.reply_num>0">({{item.reply_num}})
								</block></span>
						</view>
						<view class="f-12 c-gray">举报</view>
					</view>
				</view>
			</view>
		</view>
		<view class="bottom_box" :style="'padding-bottom:'+bottomBox+'px'">
			<view class="fake_input" @click="goComment(0)">发表评论...</view>
			<view class="bottom_info ml-20" @click="goComments">
				<image class="bottom_img mr-5" src="../../static/images/comment.png"></image>
				{{info.reply_num>0?info.reply_num:''}}
			</view>
			<view class="bottom_info ml-20" @click="collect">
				<image class="bottom_img"
					:src="ainfo.is_collect==1?'../../static/images/collect_active.png':'../../static/images/collect.png'">
				</image>
			</view>
			<!-- #ifdef MP-TOUTIAO|| MP-BAIDU||MP-ALIPAY||MP-QQ||MP-360 -->
			<button class="bottom_info ml-20" open-type="share">
				<image class="bottom_img" src="../../static/images/shared.png"></image>
			</button>
			<!-- #endif -->
			<!-- #ifdef MP-WEIXIN||APP-PLUS-->
			<view class="bottom_info ml-20" @click="showShare=true">
				<image class="bottom_img" src="../../static/images/shared.png"></image>
			</view>
			<!-- #endif -->
		</view>


		<block v-if="showShare">
			<view class="share_box" :style="'padding-bottom:'+bottomBox+'px'">
				<view class="display_flex" style="justify-content: center;">
					<view style="width: 100px;height: 1px;background: #eaeaea;"></view>
					<view class="c-black f-10 ml-5 mr-5">分享</view>
					<view style="width: 100px;height: 1px;background: #eaeaea;"></view>
				</view>
				<!-- #ifdef MP -->
				<view class="display_flex mt-20">
					<button class="share_cell" open-type="share">
						<image class="share_img" src="../../static/images/wecheck.png"></image>
						<view>微信好友</view>
					</button>
					<view class="share_cell" @click="getPoster">
						<image class="share_img" src="../../static/images/friend.png"></image>
						<view>朋友圈</view>
					</view>
				</view>
				<!-- #endif -->
				<!-- #ifdef APP-PLUS -->
				<view class="display_flex mt-20">
					<view class="share_cell" @click="shareApp('WXSceneSession')">
						<image class="share_img" src="../../static/images/wecheck.png"></image>
						<view>微信好友</view>
					</view>
					<view class="share_cell" @click="shareApp('WXSenceTimeline')">
						<image class="share_img" src="../../static/images/friend.png"></image>
						<view>朋友圈</view>
					</view>
				</view>
				<!-- #endif -->
				<view class="mt-20 f-12"
					style="border-top: 1rpx solid #eaeaea;padding-top: 30rpx;padding-bottom: 10rpx;"
					@click="showShare=false">取消
				</view>
			</view>
			<view class="wask_box" @click="showShare=false"></view>
		</block>

		<block v-if="showShareUrl">
			<view class="share_url_box">
				<image class="share_url" :src="share_url" mode="widthFix"></image>
				<view class="shareBtn" @click="showShareUrl=false">我知道了</view>
			</view>
			<view class="wask_box" @click="showShareUrl=false"></view>
		</block>
	</view>
</template>

<script>
	import {
		getCommentInfo,
		getReplylist,
		getArticleInfo,
		articleCommPraise,
		articlePoster,
		articleCollect
	} from '../../api/motortime.js';
	const app = getApp()
	export default {
		data() {
			return {
				info: '',
				ainfo: '',
				params: {
					user_id: uni.getStorageSync('member').id,
					source: 4,
				},
				paramsd: {
					page: 1,
					user_id: uni.getStorageSync('member').id,
					source: 4,
				},
				list: [],
				last_page: 1,
				showShare: false,
				bottomBox: uni.getSystemInfoSync().safeAreaInsets.bottom > 0 ? uni.getSystemInfoSync().safeAreaInsets
					.bottom : 8,
				share_url: '',
				showShareUrl: false,
				audit_text: ''
			};
		},
		onLoad(options) {
			this.titleid = options.id
			this.id = options.pid
			var source = options.source
			this.getCommentInfo()
			this.getReplylist()
			if (source == 1) {
				this.getArticleInfo();
			}
		},
		onShow() {
			this.audit_text = uni.getStorageSync('member') ? uni.getStorageSync('member').audit_text :
				'评论内容人工审核中，审核时间预估3-15分钟。'
			if (uni.getStorageSync('comment')) {
				this.getCommentInfo()
				this.getReplylist()
				uni.setStorage({
					key: 'onload',
					data: true,
				});
			}
		},
		methods: {

			getArticleInfo() {
				var params = {
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : ''
				}
				getArticleInfo(this.params, this.titleid).then(res => {
					if (res.state == 1) {
						this.ainfo = res.data
					}

				})
			},
			goInfo() {
				uni.navigateTo({
					url: '/pages/article/article?scene=' + this.ainfo.id
				})
			},
			getCommentInfo() {
				getCommentInfo(this.id, this.params).then(res => {
					if (res.state == 1) {
						var info = res.data
						var user_name = info.user.user_name
						var arr = user_name.split('[');
						info.user.user_name = arr[0]
						info.user.form = arr[1]
						this.info = info
					}
				})
			},
			getReplylist() {
				getReplylist(this.id, this.paramsd).then(res => {
					if (res.state == 1) {
						var newlist = res.data.data
						for (var i = 0; i < newlist.length; i++) {
							var user_name = newlist[i].user.user_name
							var arr = user_name.split('[');
							newlist[i].user.user_name = arr[0]
							newlist[i].user.form = arr[1]
							var replys = newlist[i].replys
							if (replys) {
								for (var j = 0; j < replys.length; j++) {
									var user_name = replys[j].user.user_name
									var arr = user_name.split('[');
									replys[j].user.user_name = arr[0]
									replys[j].user.form = arr[1]
									var ruser_name = replys[j].reuser.user_name
									var rarr = ruser_name.split('[');
									replys[j].reuser.user_name = rarr[0]
									replys[j].reuser.form = rarr[1]
								}
							}
						}
						this.list = [...this.list, ...newlist]
						this.last_page = res.data.last_page
						this.current_page = res.data.last_page
					}
				})
			},
			//收藏
			collect() {
				if (uni.getStorageSync('access_token')) {
					var params = {
						id: this.ainfo.id,
						type: this.ainfo.is_collect == 1 ? 2 : 1
					}
					articleCollect(params).then(res => {
						if (res.state == 1) {
							this.ainfo.is_collect = this.ainfo.is_collect == 1 ? 0 : 1
						}
					})
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			//评论点赞
			praise(id, is_praise, index, typed) {
				if (uni.getStorageSync('access_token')) {
					var params = {
						id: id,
						type: is_praise == 1 ? 2 : 1
					}
					articleCommPraise(params).then(res => {
						if (res.state == 1) {
							if (typed == 1) {
								if (this.list[index].is_praise == 0) {
									this.list[index].praise_num++
									this.list[index].is_praise = 1
								} else {
									this.list[index].praise_num--
									this.list[index].is_praise = 0
								}
							} else {
								if (this.info.is_praise == 0) {
									this.info.praise_num++
									this.info.is_praise = 1
								} else {
									this.info.praise_num--
									this.info.is_praise = 0
								}

							}

						}
					})
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			//获取海报
			getPoster() {
				if (uni.getStorageSync('access_token')) {
					var params = {
						source: app.globalData.source,
						id: this.titleid,
						user_id: uni.getStorageSync('member').id
					}
					articlePoster(params).then(res => {
						if (res.state == 1) {
							this.share_url = res.data.share_url
							this.showShareUrl = true
							this.showShare = false
							uni.downloadFile({
								url: res.data.share_url,
								success: function(res) {
									var tempFilePath = res.tempFilePath
									console.log(res.tempFilePath)
									uni.authorize({
										scope: 'scope.writePhotosAlbum',
										success() {
											uni.saveImageToPhotosAlbum({
												filePath: tempFilePath,
												success: function() {
													uni.showToast({
														title: '保存成功了，快去分享吧~',
														icon: 'none',
														duration: 1500
													});
													console.log('save success');
												},
												fail(e) {
													console.log('下载失败')
												}
											});
										},
										fail() {
											console.log('未授权')
										}
									})

								},

							})

						}
					})
					var params = {
						event_code: '文章详情',
						path: 'pages/article/article',
						user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
						source: app.globalData.source,
						event_id: this.id,
						title: this.info.title,
						invitees_scene_id: '',
						source_page: '文章详情-生成海报',
						value: '',
					}
					app.BurialPoint(params)
				} else {
					uni.navigateTo({
						url: '/pages/login/login?is_goan=1'
					})
				}
			},
			//微信app分享
			shareApp(scene) {
				var that = this
				if (scene == 'WXSceneSession') {
					uni.share({
						provider: "weixin",
						scene: scene,
						type: 5,
						title: that.ainfo.title,
						imageUrl: that.ainfo.share_image,
						miniProgram: {
							id: 'gh_664d5a5771aa',
							path: '/pages/article/article?scene=' + that.titleid,
							type: 0,
							webUrl: "https://m.motortime.com/article/" + that.titleid + "/post"
						},
						success: function(res) {
							that.showShare = false
							console.log("success:" + JSON.stringify(res));
						},
						fail: function(err) {
							that.showShare = false
							console.log("fail:" + JSON.stringify(err));
						}
					});
				} else {
					uni.share({
						provider: "weixin",
						scene: scene,
						type: 0,
						href: "https://m.motortime.com/article/" + that.titleid + "/post",
						title: that.ainfo.title,
						summary: that.ainfo.description,
						imageUrl: that.ainfo.share_image += '?x-oss-process=image/resize,w_120',
						success: function(res) {
							that.showShare = false
							console.log("success:" + JSON.stringify(res));
						},
						fail: function(err) {
							console.log("fail:" + JSON.stringify(err));
						}
					});

				}

				app.getShareTask('/pages/article/article')
			},
			//跳转写评论页
			goComment() {
				if (uni.getStorageSync('access_token')) {
					uni.navigateTo({
						url: '/pages/commentpost/commentpost?id=' + this.titleid + '&rid=' + this.id + '&type=2'
					})
				} else {
					uni.navigateTo({
						url: '/pages/login/login?is_goan=1'
					})
				}
			},
			goCommentlist(rid) {
				if (uni.getStorageSync('access_token')) {
					uni.navigateTo({
						url: '/pages/commentpost/commentpost?id=' + this.titleid + '&rid=' + rid + '&pid=' +
							this.id + '&type=2'
					})
				} else {
					uni.navigateTo({
						url: '/pages/login/login?is_goan=1'
					})
				}
			},
			goUserInfo(id, from, username) {
				if (from) {
					uni.showModal({
						content: '来自 ' + username + '的评论',
						confirmText: "关闭",
						showCancel: false,
						success: function(res) {
							if (res.confirm) {

							} else {
								console.log('用户点击取消')
							}
						}
					});
				} else {
					uni.navigateTo({
						url: '/pages/other/other?scene=' + id
					})
				}
			}
		},
		onReachBottom() {
			if (this.last_page > this.current_page) {
				this.paramsd.page = this.paramsd.page++
				this.getReplylist()
			}
		},
		onPullDownRefresh() {
			this.list = []
			this.paramsd.page = 1
			this.getReplylist()
			uni.stopPullDownRefresh()
		},
		//分享
		onShareAppMessage(res) {
			app.getShareTask('/pages/article/article')
			this.showShare = false
			return {
				title: this.ainfo.title,
				path: '/pages/article/article?scene=' + this.titleid,
				imageUrl: this.ainfo.share_image
			}


		},
	}
</script>

<style lang="scss">
	page {
		background-color: #f7f7f7;
	}

	.commentinfo_box {
		.commentinfo {
			display: flex;
			align-items: flex-start;
			background-color: #FFFFFF;
		}

		.commentinfo_list {
			display: flex;
			align-items: flex-start;
			padding: 30rpx;
			border-bottom: 2rpx solid #eaeaea;

		}

		.collect_img_box {
			width: 80rpx;
			height: 80rpx;
			border-radius: 60px;
		}

		.collect_img {
			width: 100%;
			height: 100%;
			border-radius: 60px;
		}

		.oper-pic {
			width: 30rpx;
			height: 28rpx;
		}

		.article_info {
			margin-top: 30rpx;
			background-color: #E3E3E3;
			border-radius: 6rpx;
			padding: 20rpx;
			display: flex;

			.article_info_img {
				width: 210rpx;
				height: 140rpx;
				border-radius: 10rpx;
			}

			.article_info_title {
				flex: 1;
				font-size: 26rpx;
				height: 140rpx;
			}
		}
	}
</style>
