<template>
	<view class="activein_box">
		<view class="activein_bgpic" :style="'background-image:url('+info.background_pic+')'">
			<view class="fixed_box">
				<view class="fix_btn" @click="nextStep">立即报名</view>
				<!-- <button class="fix_btn" style="width:300rpx;" open-type="getPhoneNumber"
					bindgetphonenumber="getPhoneNumber" v-else>立即报名</button> -->
			</view>
		</view>
	</view>
</template>

<script>
	import {
		getActiveInfo,
		submitActive,
		getNotoceTem
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				info: ''
			};
		},
		onLoad(options) {
			this.hid = decodeURIComponent(options.scene);
			this.getActiveInfo(options.scene)
		},
		onShow() {

			this.getActiveInfo()
			if (uni.getStorageSync('member').username) {
				this.username = uni.getStorageSync('member').username
				this.mobile = uni.getStorageSync('member').mobile
				if (uni.getStorageSync('member').mobile) {
					this.mobiles = uni.getStorageSync('member').mobile.substring(0, 3) + '****' + uni.getStorageSync(
						'member').mobile.substring(7)
				}

			} else {
				uni.navigateTo({
					url: '/pages/login/login'
				})
			}
		},
		methods: {
			getActiveInfo() {
				var params = {
					user_id: uni.getStorageSync('member').id,
				}
				getActiveInfo(params, this.hid).then(res => {
					if (res.state == 1) {
						this.info = res.data
						if (res.data.is_enroll == 1) {
							uni.redirectTo({
								url: '/pages/signin/mapactiveaudit/mapactiveaudit?hid=' + this.hid,
							})
						}
						var params = {
							event_code: '活动报名入口',
							path: 'pages/signin/mapactivein/mapactivein',
							user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
							source: app.globalData.source,
							event_id:res.data.id ,
							title: res.data.title,
							invitees_scene_id: '',
							source_page: '',
							value: '',
						}
						app.BurialPoint(params)
					}

				})
			},
			nextStep() {
				if (uni.getStorageSync('member').username) {
					uni.redirectTo({
						url: '/pages/signin/mapactiveform/mapactiveform?scene=' + this.hid
					});
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			}
		},
		//分享
		onShareAppMessage(res) {
			if (res.from === 'button') { // 来自页面内分享按钮
				console.log('title' + this.info.title)
				this.showShare = false

			}
			return {
				title: this.info.title,
				path: '/pages/signin/mapactivein/mapactivein?scene=' + this.hid,
				imageUrl: this.info.enroll_share_pic
			}

		}

	}
</script>

<style lang="scss">
	.activein_box {
		.activein_bgpic {
			height: 100vh;
			width: 100%;
			background-size: 100% 100vh;
		}

		.fixed_box {
			width: 100%;
			position: fixed;
			bottom: 135rpx;
			display: flex;
			justify-content: center;

		}

		.fix_btn_gray {
			background-color: #CFCFCF;
		}

		.fix_btn {
			text-align: center;
			background-color: #1E2A75;
			color: #fff;
			border-radius: 8rpx;
			font-size: 28rpx;
			padding: 10px 0;
			width: 300rpx;
		}
	}
</style>
