<template>
	<view class="questioninfo">
		<view class="question_box">
			<view class="question_title_box">
				<image class="question_icon" src="/static/images/question.png"></image>
				<view class="question_title">{{info.question}}</view>
			</view>
			<view class="answer_box">
				<text>{{info.content}}</text>
				<view class="question_img_box" v-for="(item,index) in info.image" :key="item">
					<image class="question_img" @click="showImg(item,index)" mode="aspectFill" :src="item"></image>
				</view>
				<view class="display_flex mt-15">
					<view class="flex-1 display_flex">
						<view class="c-gray f-12" v-if="info.answer_num>0">{{info.answer_num}}个回答</view>
						<view class="c-gray f-12 ml-10" v-if="info.collect_num>0">{{info.collect_num}}个收藏</view>
					</view>
					<view class="ques_reply_btn" v-if="info.is_audit==1" @click="goAnswer()">
						<image class="ques_reply_btn_icon" src="../../../static/images/answer.png"></image>
						我要回答
					</view>
				</view>
			</view>
		</view>
		<view class="ques_list_box">
			<view class="ques_list_cell" v-for="(item,index) in list" :key="item.id">
				<view class="display_flex">
					<view class="flex-1 display_flex" @click="goUserInfo(item.user.id)">
						<view class="ques_user_avatar_box">
							<image class="ques_user_avatar" :src="item.user.headimg_url"></image>
						</view>
						<view class="ml-15">
							<view class="f-w f-15">{{item.user.user_name}}</view>
							<view class="c-gray f-12 mt-5">{{item.answer_time}}</view>
						</view>
					</view>
					<view class="motor_list_user_follow" @click="followUser(item.user.id,1,index)"
						v-if="item.user.is_follow==0">
						<uni-icons type="plusempty" size="12" color="#F6AB00">
						</uni-icons>关注
					</view>
					<view class="motor_list_user_followd" @click="followUser(item.user.id,2,index)" v-else>
						已关注
					</view>
				</view>
				<view class="answer_box">
					<view class="display_flex" style="align-items: flex-start;">
						<view class="answer_img_box" v-if="item.content.img" @click="goInfo(item.id,index)">
							<image class="answer_img" mode="aspectFill" :src="item.content.img"></image>
						</view>
						<view v-if="item.content.text" class="question_text_box ellipsis-5"
							@click="goInfo(item.id,index)">
							<image class="answers_icon" src="/static/images/answers.png"></image>
							{{item.content.text}}
						</view>
					</view>
					<view class="display_flex mt-15">
						<view class="question_labels" v-if="item.labels.length>0">{{item.labels[0].name}}</view>
						<view class="flex-1" @click="goInfo(item.id,index)"></view>
						<view class="display_flex">
							<view class="display_flex" style="margin-right: 30rpx;" @click="goInfo(item.id,index)">
								<image class="comment_icon" src="/static/images/comment.png"></image>
								<span class="ml-5 c-gray">{{item.reply_num}}</span>
							</view>
							<view class="display_flex" @click="quesPraise(item.id,item.is_praise,index)">
								<image class="comment_icon" v-if="item.is_praise==1"
									src="/static/images/zan-active.png"></image>
								<image class="comment_icon" v-else src="/static/images/zan.png"></image>
								<span class="ml-5 c-gray">{{item.praise_num}}</span>
							</view>
						</view>
					</view>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	import {
		getQuesInfo,
		quesPraise,
		followUser
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				qid: 0,
				info: '',
				list: [],
				user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : ''
			};
		},
		onShow() {
			if (uni.getStorageSync('onload')) {
				this.user_id = uni.getStorageSync('member') ? uni.getStorageSync('member').id : ''
				this.getQuesInfo()
				uni.removeStorage({
					key: 'onload'
				})
			}
		},
		onLoad(options) {
			this.qid = options.scene
			this.getQuesInfo()
			var params = {
				event_code: '问答-问题详情',
				path: 'pages/question/quesinfo/quesinfo',
				user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
				source: app.globalData.source,
				invitees_scene_id: '',
				source_page: '',
				event_id: '',
				title: '',
				value: '',
			}
			app.BurialPoint(params)
		},
		methods: {
			getQuesInfo() {
				getQuesInfo(this.qid, {
					user_id: this.user_id
				}).then(res => {
					if (res.state == 1) {
						this.info = res.data
						this.list = res.data.answers
					}
				})
			},
			quesPraise(id, praise, index) {
				var params = {
					id: id,
					type: praise == 1 ? 2 : 1
				}
				quesPraise(params).then(res => {
					if (res.state == 1) {
						this.list[index].is_praise = praise == 1 ? 0 : 1
						this.list[index].praise_num = praise == 1 ? this.list[index].praise_num - 1 :
							this.list[index].praise_num + 1
					}
				})
			},
			goInfo(id, index) {
				uni.navigateTo({
					url: '/pages/question/askinfo/askinfo?scene=' + id
				})
			},
			showImg(item, index) {
				uni.previewImage({
					urls: this.info.image,
					current: index,
				});
			},
			goAnswer() {
				if (uni.getStorageSync('access_token')) {
					if (uni.getStorageSync('member').stop_status == 1) {
						uni.showModal({
							content: uni.getStorageSync('member').stop_time,
							confirmText: "确定",
							confirmColor: "#F6AB00",
							showCancel: false,
							success: function(res) {
								console.log(res);
							}
						});
					} else {
						uni.navigateTo({
							url: '/pages/question/postanswer/postanswer?id=' + this.info.id + '&title=' + this.info
								.question
						})
					}
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			followUser(id, type, index) {
				followUser({
					follow_user_id: id,
					type: type
				}).then(res => {
					if (res.state == 1) {
						this.list[index].user.is_follow = type == 1 ? 1 : 0
					}
				})
			},
			goUserInfo(id) {
				uni.navigateTo({
					url: '/pages/other/other?scene=' + id
				})
			}
		}
	}
</script>

<style lang="scss">
	.questioninfo {}
</style>
