<template>
	<view class="salesclerkresult_page">
		<image v-if="info.icon" class="result_img" :src="info.icon"></image>
		<view class="result_text">
			<text :decode="true" style="color: #000;">{{info.desc}}</text>
		</view>
		<view class="salesclerk_submit_box" v-if="info.button">
			<view class="salesclerk_submit" @click="goPage">{{info.button}}</view>
		</view>
	</view>
</template>

<script>
	import {
		getSalesclerkInfo,
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				info: ''
			};
		},
		onShow() {
			wx.hideShareMenu()
			if (uni.getStorageSync('access_token')) {
				this.getSalesclerkInfo()
			} else {
				uni.navigateTo({
					url: '/pages/login/login'
				})
			}
		},
		onLoad() {

		},
		methods: {
			getSalesclerkInfo() {
				getSalesclerkInfo({
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
				}).then(res => {
					if (res.state == 1) {
						this.info = res.data.result_info
						uni.setNavigationBarTitle({
							title: res.data.result_info.title ? res.data.result_info.title : '授权认证'
						})
					} else {
						this.isSubmit = true
						uni.showToast({
							title: res.error[0],
							icon: 'none'
						})
					}
				})
			},
			goPage() {
				if (this.info.path == '/pages/index/index' || this.info.path == '/pages/shop/shop' || this.info.path ==
					'/pages/my/my') {
					uni.switchTab({
						url: this.info.path
					})
				} else {
					uni.reLaunch({
						url: this.info.path
					})
				}

			}
		},
		// onShareAppMessage(res) {
		// 	return {

		// 	}
		// },
		// onShareTimeline: function() {
		// 	return {

		// 	}
		// },
	}
</script>

<style lang="scss">
	.salesclerkresult_page {
		padding: 40rpx;
		text-align: center;

		.result_img {
			width: 140rpx;
			height: 140rpx;
			margin-top: 15%;

		}

		.result_text {
			margin: 60rpx 0;
			font-size: 30rpx;
			// text-align: left;
			line-height: 50rpx;
		}

		.salesclerk_submit_box {
			display: flex;
			align-items: center;
			justify-content: center;
			position: fixed;
			left: 0;
			right: 0;
			bottom: 25%;

			.salesclerk_submit {
				width: 260rpx;
				margin-left: 10rpx;
				padding: 20rpx;
				text-align: center;
				background-color: #FFBA00;
				border-radius: 10rpx;
			}
		}
	}
</style>