<template>
	<view>
		<view class="tabbar_box" :style="'background-color:#fff;padding-bottom:'+botheight+ 'rpx;'">
			<block v-for="(item,index) in list" :key="index">
				<view class="tabbar_nav" hover-class="none" @click="shareThere(item.pagePath,index)">
					<image v-if="index==tabbarnum" class="tabbar_icon" :src="item.selectedIconPath"></image>
					<image v-else class="tabbar_icon" :src="item.iconPath"></image>
					<view :class="index==tabbarnum?'f-12 select_title':'f-12 c-gray'">{{item.title}}</view>
				</view>
			</block>
		</view>
	</view>
</template>

<script>
	const app = getApp()
	export default {
		data() {
			return {
				backgroundColor: "#ffffff",
				color: "#9A9A9A",
				selectedColor: "#231815",
				list: [{
						pagePath: "/pages/index/index",
						iconPath: "../../static/images/icon/index.png",
						selectedIconPath: "../../static/images/icon/index_select.png",
						title: '首页'
					},
					{
						pagePath: "/pages/shop/shop",
						iconPath: "../../static/images/icon/shop.png",
						selectedIconPath: "../../static/images/icon/shop_select.png",
						title: '商城'
					},
					{
						pagePath: "/pages/my/my",
						iconPath: "../../static/images/icon/my.png",
						selectedIconPath: "../../static/images/icon/my_select.png",
						title: '我的'
					}
				]
			}
		},
		props: {
			tabbarnum: {
				type: Number,
				value: 0
			},
			botheight: {
				type: String,
				value: null
			}

		},
		onShow() {
			var that = this
			var access_token = uni.getStorageSync('access_token');
			if (access_token) {
				// var Authorization = 'Bearer' + ' ' + uni.getStorageSync('access_token');
				// uni.request({
				// 	url: app.globalData.apiUrl + 'notice/nums',
				// 	header: {
				// 		'content-type': 'application/json', // 默认值
				// 		'Authorization': Authorization
				// 	},
				// 	data: {
				// 		media_id: 6,
				// 		is_own: 1
				// 	},
				// 	method: 'GET',
				// 	success(res) {
				// 		var ask_nums = parseInt(res.data.data.ask_nums)
				// 		var comment_nums = parseInt(res.data.data.comment_nums)
				// 		var system_nums = parseInt(res.data.data.system_nums)
				// 		var noticeNum = ask_nums + comment_nums + system_nums
				// 		that.setData({
				// 			noticeNum: noticeNum
				// 		})
				// 		console.info('noticeNum===' + noticeNum)
				// 	}
				// })
			} else {
				if (pageurl == '/pages/my/my') {
					pageurl = ''
					uni.navigateTo({
						url: '/pages/login/login',
					})
				}
			}
		},
		methods: {
			shareThere(url, index) {
				uni.switchTab({
					url: url
				})
			},
		}
	}
</script>

<style>
	.tabbar_box {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		position: fixed;
		bottom: 0;
		left: 0;
		z-index: 999;
		width: 100%;
		height: 100rpx;
		padding-bottom: constant(safe-area-inset-bottom);
		padding-bottom: env(safe-area-inset-bottom);
		box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px 1px;
	}

	.tabbar_box.iphoneX-height {
		padding-bottom: 66rpx;
	}

	.middle-wrapper {
		position: absolute;
		right: 310rpx;
		bottom: 0;
		background-color: #fff;
		width: 120rpx;
		height: 120rpx;
		border-radius: 50%;
		border-top: 2rpx solid #f2f2f3;
	}

	.middle-wrapper.iphoneX-height {
		bottom: 66rpx;
	}

	.tabbar_nav {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-size: 12px;
		height: 100%;
		position: relative;
	}

	text {
		color: #3a3a3a;
	}

	.tabbar_icon {
		width: 50rpx;
		height: 50rpx;
	}

	.special-wrapper {
		position: absolute;
		top: -40rpx;
		width: 120rpx;
		height: 120rpx;
		border-radius: 50%;
		border-top: 2rpx solid #f2f2f3;
		background-color: #5abd8b;
		text-align: center;
		box-sizing: border-box;
		padding: 6rpx;
	}

	.special-wrapper .tabbar_icon {
		width: 70%;
		height: 80%;
		padding-top: 28%;
	}

	.special-text-wrapper {
		width: 56rpx;
		height: 56rpx;
	}

	.point {
		width: 38rpx;
		height: 38rpx;
		font-size: 24rpx;
		border-radius: 50px;
		position: absolute;
		top: 5rpx;
		right: 33%;
		background-color: #BA0000;
		color: #fff;
		text-align: center;
	}
</style>
