<template>
	<view class="carsin">
		<view class="carlist" v-for="(item,index) in list" :key="item.id">
			<view class="carinfo">
				<image class="pointpic" @click="chooseDefault(item.id)"
					:src="item.is_default==1?'/static/images/member/point_active.png':'/static/images/member/point.png'">
				</image>
				<image v-if="item.car==null" :src="item.car_pic_url?item.car_pic_url:item.brand.logo" mode="aspectFit"
					style="vertical-align: middle;width:360rpx; height: 160rpx;border-radius:20rpx;"></image>
				<block v-else>
					<image v-if="item.car.pic" :src="item.car.pic" mode="aspectFit"
						style="vertical-align: middle;width:360rpx; height: 160rpx;border-radius:20rpx;"></image>
					<image v-else :src="item.car_pic_url?item.car_pic_url:item.brand.logo" mode="aspectFit"
						style="vertical-align: middle;width:360rpx; height: 160rpx;border-radius:20rpx;"></image>
				</block>

				<view class="text-c" style="flex: 1;">
					<view :class="item.is_audit==2||item.is_audit==0?'c-gray f-14':'f-14'">
						<block v-if="item.car==null">{{item.car_name}}</block>
						<block v-else>
							{{item.car.title?item.car.title:item.car_name}}
						</block>
					</view>
					<view v-if="item.is_audit==0" class="f-12 c-gray">认证审核中</view>
					<view v-if="item.is_audit==2" class="f-12 c-gray">审核未通过</view>
				</view>
			</view>
			<image class="ellipsispic" src="/static/images/member/ellipsis.png"
				@click="showBottom(item.id,item.is_audit,index)"></image>
		</view>
		<view style="padding:50rpx 0">
			<button class="addbtn f-13" @click="addcar">
				<image class="add-pic" src="/static/images/addmotor.png"></image>
				<view class="btn-title">添加认证车辆</view>
			</button>
		</view>
		<view class="addmodels text-c" @click="addcarOther">
			我曾经有好几辆这个车， 如何申请认证？
		</view>
		<view :class="istrued ? 'weui-demo-dialog weui-demo-dialog_show' : 'weui-demo-dialog'">
			<view class="weui-mask" @click="istrued=false"></view>
			<view class="weui-dialog__wrp" @click="istrued=false">
				<view class="weui-dialog" style="width:100%;" catchtap="stopEvent">
					<view class="weui-dialog__bd text-c">
						<!-- <image class="travelimg" src="/images/travel.png"></image> -->
						<view class="bg" style="background-image: url('https://pic.motortime.com/static/travel.png');">
							<view class="mt-20 f-14" style="font-weight: 500;padding: 15%;">请准备好您的行驶证</view>
						</view>
					</view>
					<view class="weui-dialog__ft">
						<view class="weui-dialog__btn" @click="konws">我知道了</view>
					</view>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	import {
		getCarlist,
		delCars,
		defultCars
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				maskBaright: false,
				maskBar: false,
				istrued: false,
				list: [],
				is_have_card: 1,
			};
		},
		onLoad(options) {

		},
		onShow() {
			this.getCarlist()
			if (uni.getStorageSync('access_token')) {
				var params = {
					event_code: '车主认证_我的车辆',
					event_id: '',
					title: '',
					value: '',
					path: 'pages/motormaster/motormaster',
					user_id: uni.getStorageSync('member').id,
				}
				app.BurialPoint(params)
			} else {
				uni.navigateTo({
					url: '/pages/login/login'
				})
				var params = {
					event_code: '车主认证_我的车辆',
					event_id: '',
					title: '',
					value: '',
					path: 'pages/motormaster/motormaster',
					user_id: userinfo.id
				}
				app.BurialPoint(params)
			}
		},
		methods: {
			getCarlist() {

				getCarlist().then(res => {
					if (res.state == 1) {
						this.list = res.data
					} else {

					}
				})
			},
			showBottom(id, audit, index) {
				var that = this
				if (audit == 2) {
					var title = "重新认证"
				} else {
					var title = "查看车辆"
				}
				uni.showActionSheet({
					itemList: [title, '删除车辆'],
					success: function(res) {

						if (res.tapIndex == 0) {
							uni.navigateTo({
								url: '/pages/carsinfo/carsinfo?id=' + id
							})
						} else {
							uni.showModal({
								content: '确定要删除这辆车吗？',
								confirmText: '删除',
								success: function(res) {
									if (res.confirm) {
										delCars(id).then(res => {
											if (res.state == 1) {
												uni.showToast({
													title: '已删除',
													icon: 'success',
												});

												that.list.splice(index, 1)
											}
										})
									} else if (res.cancel) {
										console.log('用户点击取消');
									}
								}
							});
						}
					},
					fail: function(res) {
						console.log(res.errMsg);
					}
				});
			},
			addcar() {
				this.istrued = true
			},
			konws() {
				this.istrued = false
				uni.navigateTo({
					url: '/pages/carbands/carbands?is_have_card=' + this.is_have_card + '&delta=0'
				})
			},
			//设为默认车辆
			chooseDefault(id) {
				defultCars(id).then(res => {
					if (res.state == 1) {
						var list = this.list
						for (var i = 0; i < list.length; i++) {
							if (list[i].id == id) {
								this.list[i].is_default = 1
							} else {
								this.list[i].is_default = 0
							}
						}
					} else {

					}
				})
			},
			addcarOther() {
				var that = this
				uni.showModal({
					title: '',
					content: '是否有行驶证',
					confirmText: '有行驶证',
					cancelText: '无行驶证',
					success: function(res) {
						if (res.confirm) {
							that.is_have_card = 1
							that.istrued = true
							// uni.navigateTo({
							// 	url: '/pages/carbands/carbands?is_have_card=1'
							// })
						} else if (res.cancel) {
							that.is_have_card = 0
							uni.navigateTo({
								url: '/pages/carbands/carbands?is_have_card=0'
							})
						}
					}
				})
			}

		}
	}
</script>

<style lang="scss">
	.carsin {
		min-height: 100vh;
		background-color: #F1F1F1;

		.carlist {
			display: flex;
			align-items: flex-start;
			background-color: #FFFFFF;
			padding: 15px;
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);

			.carinfo {
				display: flex;
				align-items: center;
				flex: 1;

				.pointpic {
					width: 8px;
					height: 8px;
				}
			}


			.ellipsispic {
				width: 34rpx;
				height: 7rpx;
				padding: 15px;
				margin-top: -10px;
				margin-right: -10px;
			}

		}

		.addbtn {
			font-size: 26rpx;
			background: #FFBB00;
			color: #010203;
			height: 90rpx;
			border-radius: 1px;
			text-align: center;
			margin: 40rpx 100rpx;
			display: flex;
			align-items: center;
			justify-content: center;

			.add-pic {
				width: 30rpx;
				height: 30rpx;
				vertical-align: middle;
			}

			.btn-title {
				font-size: 26rpx;
				display: inline-block;
				margin-left: 10rpx;
			}
		}

		.addmodels {
			background-color: #f1f1f1;
			padding-bottom: 80rpx;
			font-size: 28rpx;
			color: #605c6b;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.bg {
			width: 100%;
			height: 300rpx;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			border-radius: 15px;
		}

		.weui-dialog__btn {
			width: 100%;
			font-weight: 400;
			color: #010203;
			background-color: #FFBB00;
		}
	}
</style>
