<template>
	<view class="bbsinfo_box">
		<view class="motor_list_user mb-15" v-if="info.user">
			<image class="motor_list_user_img mr-15" @click="goUserInfo(info.user.id)" v-if="info.user"
				:src="info.user.headimg_url?info.user.headimg_url:'/static/images/default-avatar.png'"
				mode="aspectFill"></image>
			<view class="motor_list_user_info" @click="goUserInfo(info.user.id)">
				<view class="motor_list_user_name" v-if="info.user">{{info.user.user_name}}
					<!-- <span class="ml-10 motor_badge">楼主</span> -->
				</view>
				<view class="motor_list_user_time mt-5">
					<span class="mr-15">{{info.time_format}}</span>
					浏览 {{info.show_num}}
				</view>
			</view>
			<view class="motor_list_user_follow" @click="followUser(info.user.id,1)" v-if="info.user.is_follow==0">
				<uni-icons type="plusempty" size="12" color="#F6AB00"></uni-icons>关注
			</view>
			<view class="motor_list_user_followd" @click="followUser(info.user.id,2)" v-else>
				已关注
			</view>
		</view>
		<view style="position: relative;">
			<view class="list_sign">
				<image class="img_sign" v-if="info.is_essence==1" src="/static/images/elite_sign.png"></image>
				<image class="img_sign" v-if="info.is_essence==2" src="/static/images/active_sign.png"></image>
				<image class="img_sign" v-if="info.is_essence==3" src="/static/images/hot_sign.png"></image>
				<image class="img_sign" v-if="info.is_essence==4" src="/static/images/question_sign.png"></image>
			</view>
			<view class="bbs_title">{{info.title}}</view>
			<view class="bbs_content" v-if="info.content">{{info.content}}</view>
			<view class="bbs_img_box">
				<block v-for="(item,index) in info.image" :key="index">
					<image class="bbs_img" mode="widthFix" :src="item" @click="previewImg(index)"></image>
				</block>
			</view>
		</view>
		<view class="wechat_card_box" style="margin-top: 50rpx;" v-if="info.info_shop"
			@click="goShopinfo(info.info_shop.id,info.info_shop.title,info.info_shop.activity_status)">
			<view class="wechat_box">
				<image class="wechat_logo" :src="info.info_shop.media_picture"></image>
				<view class="wechat_name">{{info.info_shop.media_title}}</view>
			</view>
			<view class="wechat_card_title">{{info.info_shop.title}}</view>
			<view class="wechat_card_img">
				<image class="wechat_card_img" mode="aspectFill" :src="info.info_shop.cover_img"></image>
			</view>
		</view>
		<!-- #ifdef MP-WEIXIN -->
		<view class="wechat_card_box" style="margin-top: 50rpx;" v-if="info.video_number.video_number_status==1"
			@click="goVideoMap(info.video_number.video_number_id)">
			<view class="wechat_box">
				<image class="wechat_logo" src="/static/images/logo.png"></image>
				<view class="wechat_name">汽车时间</view>
			</view>
			<view class="wechat_card_title">{{info.video_number.video_number_title}}</view>
			<view class="wechat_card_img">
				<image class="wechat_card_img" mode="aspectFill" :src="info.video_number.video_number_img"></image>
			</view>
		</view>
		<!-- #endif -->
		<view class="bbs_action">
			<view class="bbs_tag"></view>
			<!-- <view class="bbs_report">删除</view> -->
		</view>
		<view class="bbs_praise_box">
			<view class="bbs_praise" @click="praise">
				<image class="motor_praise_img mr-10"
					:src="info.is_praise==1?'/static/images/zan-active.png':'/static/images/zan.png'"></image>
				点赞 <span class="ml-5" v-if="info.praise_num">{{info.praise_num}}</span>
			</view>
		</view>
		<view class="auditbox" style="margin: 30rpx;" v-if="info.is_audit!=1&&info.audit_text">{{info.audit_text}}
		</view>
		<view v-if="voteinfo.id">
			<view class="bbs_comment_top">互动投票</view>
			<view class="vote_box">
				<view class="vote_title">{{voteinfo.title}}</view>
				<view class="vote_num_time">参与人数:{{voteinfo.num}} | 截止日期:{{voteinfo.end_time}}</view>
				<view class="vote_btn_box" v-if="selected">
					<view class="vote_result">
						<view class="vote_result_left"
							:style="'width:'+voteinfo.tips1.percentage+'%;min-width:'+tips1width+'px;'"
							v-if="voteinfo.tips1.name">
							<view class="vote_result_title text-l ellipsis"><span class="vote_choose"
									v-if="voteinfo.tips1.id==voteinfo.is_user_tips">(已选)</span>{{voteinfo.tips1.name}}
							</view>
							<view class="vote_result_progress btn-red">{{voteinfo.tips1.percentage}}%</view>
						</view>
						<view class="vote_result_center"
							:style="'width:'+voteinfo.tips2.percentage+'%;min-width:'+tips2width+'px;'"
							v-if="voteinfo.tips2.name">
							<view
								:class="voteinfo.tips3.name?'text-c vote_result_title ellipsis':'text-r vote_result_title ellipsis'">
								<span class="vote_choose"
									v-if="voteinfo.tips2.id==voteinfo.is_user_tips">(已选)</span>{{voteinfo.tips2.name}}
							</view>
							<view class="vote_result_progress btn-blue">{{voteinfo.tips2.percentage}}%</view>
						</view>
						<view class="vote_result_right"
							:style="'width:'+voteinfo.tips3.percentage+'%;min-width:'+tips3width+'px;'"
							v-if="voteinfo.tips3.name">
							<view class="vote_result_title text-r ellipsis"><span class="vote_choose"
									v-if="voteinfo.tips3.id==voteinfo.is_user_tips">(已选)</span>{{voteinfo.tips3.name}}
							</view>
							<view class="vote_result_progress btn-yellow">{{voteinfo.tips3.percentage}}%</view>
						</view>
					</view>
				</view>
				<view class="vote_btn_box" v-else>
					<view class="vote_btn btn-red" :data-code="voteinfo.tips1.id" :data-name="voteinfo.tips1.name"
						@click="voteBtn">{{voteinfo.tips1.name}}</view>
					<image class="vote_versus" v-if="!voteinfo.tips3.name" src="/static/images/versus.png"></image>
					<view class="vote_btn btn-blue" :data-code="voteinfo.tips2.id" :data-name="voteinfo.tips2.name"
						@click="voteBtn">{{voteinfo.tips2.name}}</view>
					<view class="vote_btn btn-yellow" v-if="voteinfo.tips3.name" :data-name="voteinfo.tips3.name"
						:data-code="voteinfo.tips3.id" @click="voteBtn">
						{{voteinfo.tips3.name}}
					</view>
				</view>
			</view>
		</view>
		<view class="bbs_comment_top">全部评论</view>
		<view class="bbs_comment_box" :style="'padding-bottom:'+ bottomHeight+'px;'">
			<view class="commentlist_cell" v-for="(item,index) in commentlist" :key="item.id">
				<view class="comment_member_box mb-10">
					<image @click="goUserInfo(item.user.id)" class="comment_member_img"
						:src="item.user.headimg_url?item.user.headimg_url:'/static/images/default-avatar.png'">
					</image>
					<view @click="goUserInfo(item.user.id)" class="comment_member_name ml-15">{{item.user.user_name}}
					</view>
					<view class="comment_praise" @click="bbsCommentPraise(index)">
						<image class="comment_praise_img mr-10"
							:src="item.is_praise==1?'/static/images/zan-active.png':'/static/images/zan.png'">
						</image>

						{{item.praise_num>0?item.praise_num:''}}
					</view>

				</view>
				<view class="comment_content mb-15 ml-45">
					<block v-if="item.reuser">
						回复
						<span class="comment_reply_username ml-5 mr-5">@{{item.reuser.user_name}} :</span>
					</block>
					{{item.content}}
				</view>
				<view class="auditbox mb-15 ml-45" v-if="item.is_audit==0">{{audit_text}}</view>

				<view class="comment_action ml-45">
					<view class="comment_time">{{item.create_time}} ·
						<span class="comment_reply_num ml-5" :data-rid="item.id" @click="goComment"> 回复 <span
								v-if="item.reply_num>0">({{item.reply_num}})</span></span>
					</view>
					<view class="comment_report" @click="delComment(index)" v-if="item.user.id==user_id">删除</view>
					<!-- <view class="comment_report">举报</view> -->
				</view>
			</view>
			<view class="no_comments">
				<image v-if="noCommentText=='加载中...'" class="loading_gift" src="/static/images/gif.gif"></image>
				<view class="mt-5">{{noCommentText}}</view>
			</view>
		</view>
		<view class="bottom_box" :style="'padding-bottom:'+bottomBox+'px'">
			<view class="fake_input" @click="goComment">发表评论...</view>
			<view class="bottom_info ml-20">
				<image class="bottom_img mr-5" src="/static/images/comment.png"></image>
				{{info.comment_num>0?info.comment_num:''}}
			</view>
			<view class="bottom_info ml-20" @click="collect">
				<image class="bottom_img"
					:src="info.is_collect==1?'/static/images/collect_active.png':'/static/images/collect.png'">
				</image>
			</view>
			<!-- #ifdef MP-TOUTIAO|| MP-BAIDU||MP-ALIPAY||MP-QQ||MP-360 -->
			<button class="bottom_info ml-20" open-type="share">
				<image class="bottom_img" src="/static/images/shared.png"></image>
			</button>
			<!-- #endif -->
			<!-- #ifdef MP-WEIXIN||APP-PLUS -->
			<view class="bottom_info ml-20" @click="showShare=true">
				<image class="bottom_img" src="/static/images/shared.png"></image>
			</view>
			<!-- #endif -->
		</view>
		<block v-if="showShare">
			<view class="share_box" :style="'padding-bottom:'+bottomBox+'px'">
				<view class="display_flex" style="justify-content: center;">
					<view style="width: 100px;height: 1px;background: #eaeaea;"></view>
					<view class="c-black f-10 ml-5 mr-5">分享</view>
					<view style="width: 100px;height: 1px;background: #eaeaea;"></view>
				</view>
				<!-- #ifdef MP -->
				<view class="display_flex mt-20">
					<button class="share_cell" open-type="share">
						<image class="share_img" src="/static/images/wecheck.png"></image>
					</button>
					<view class="share_cell" @click="getPoster">
						<image class="share_img" src="/static/images/friend.png"></image>
					</view>
				</view>
				<!-- #endif -->
				<!-- #ifdef APP-PLUS -->
				<view class="display_flex mt-20">
					<view class="share_cell" @click="shareApp('WXSceneSession')">
						<image class="share_img" src="/static/images/wecheck.png"></image>
					</view>
					<view class="share_cell" @click="shareApp('WXSenceTimeline')">
						<image class="share_img" src="/static/images/friend.png"></image>
					</view>
				</view>
				<!-- #endif -->
				<view class="mt-20 f-12"
					style="border-top: 1rpx solid #eaeaea;padding-top: 30rpx;padding-bottom: 10rpx;"
					@click="showShare=false">取消
				</view>
			</view>
			<view class="wask_box" @click="showShare=false"></view>
		</block>

		<block v-if="showShareUrl">
			<view class="share_url_box">
				<image class="share_url" :src="share_url" mode="widthFix"></image>
				<view class="shareBtn" @click="showShareUrl=false">我知道了</view>
			</view>
			<view class="wask_box" @click="showShareUrl=false"></view>
		</block>
	</view>
</template>

<script>
	import {
		getBbsInfo,
		getBbsCommentlist,
		bbsCommDel,
		bbsPraise,
		bbsCollect,
		bbsCommentPraise,
		voteChoose,
		voteInfo,
		bbsPoster,
		followUser
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				info: '',
				commentlist: [],
				params: {
					user_id: '',
					source: app.globalData.source
				},
				paramsc: {
					page: 1,
					size: 10,
					user_id: '',
					source: app.globalData.source
				},
				noCommentText: '加载中...',
				voteinfo: [],
				selected: false,
				showShare: false,
				showShareUrl: false,
				share_url: '',
				bottomBox: uni.getSystemInfoSync().safeAreaInsets.bottom > 0 ? uni.getSystemInfoSync().safeAreaInsets
					.bottom : 8,
				audit_text: '',
				bottomHeight: uni.getSystemInfoSync().safeAreaInsets.bottom + 60,
				user_id: '',
				tips1width: 0,
				tips2width: 0,
				tips3width: 0,
			}
		},
		onLoad(options) {
			this.user_id = uni.getStorageSync('member') ? uni.getStorageSync('member').id : ''
			var scene = decodeURIComponent(options.scene);
			var list = scene.split('-');
			this.id = list[0]
			this.getBbsInfo()
			this.getBbsCommentlist()
		},
		onShow() {
			this.audit_text = uni.getStorageSync('member') ? uni.getStorageSync('member').audit_text :
				'评论内容人工审核中，审核时间预估3-15分钟。'


			if (uni.getStorageSync('comment')) {
				uni.createSelectorQuery().select('.bbs_comment_top').boundingClientRect(res => {
					var top = res.top
					var that = this
					if (that.scrollTop > 0) {
						uni.pageScrollTo({
							scrollTop: that.scrollTop + top,
							duration: 300
						})
					} else {
						uni.pageScrollTo({
							scrollTop: top,
							duration: 300
						})
					}
				}).exec()
				this.getBbsInfo()
				this.getBbsCommentlist()
				uni.removeStorage({
					key: 'comment',
				})
			}
			if (uni.getStorageSync('onload')) {
				this.commentlist = []
				this.paramsc.page = 1
				this.user_id = uni.getStorageSync('member') ? uni.getStorageSync('member').id : ''
				this.getBbsInfo()
				this.getBbsCommentlist()
				uni.removeStorage({
					key: 'onload'
				})
			}
			if (uni.getStorageSync('changeFollow')) {
				this.getBbsInfo()
				uni.removeStorage({
					key: 'changeFollow'
				})
			}


		},
		//滑动距离
		onPageScroll: function(e) {
			this.scrollTop = e.scrollTop
		},
		methods: {
			getBbsInfo() {
				this.params.user_id = this.user_id
				getBbsInfo(this.params, this.id).then(res => {
					if (res.state == 1) {
						this.info = res.data
						if (res.data.vote_info.id) {
							this.voteinfo = res.data.vote_info
							this.voteWidth()
							this.selected = res.data.vote_info.is_user_vote
							var oDate1 = new Date();
							var oDate2 = new Date(res.data.vote_info.end_time);
							if (oDate1.getTime() > oDate2.getTime()) {
								this.timeOut = false
							} else {
								this.timeOut = true
							}
							if (res.data.vote_info.end_tip) {
								this.vote_end_tip = res.data.vote_info.end_tip
							}
						}
						var params = {
							event_code: '帖子详情',
							path: 'pages/articleinfo/articleinfo',
							user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
							source: app.globalData.source,
							event_id: res.data.id,
							title: res.data.title,
							invitees_scene_id: '',
							source_page: '',
							value: '',
						}
						app.BurialPoint(params)
					}

				})
			},
			previewImg(index) {
				uni.previewImage({
					current: this.info.image[index], // 当前显示图片的http链接
					urls: this.info.image // 需要预览的图片http链接列表
				})
			},
			getBbsCommentlist() {
				this.paramsc.user_id = this.user_id
				getBbsCommentlist(this.paramsc, this.id).then(res => {
					if (res.state == 1) {
						this.current_page = res.data.current_page
						this.last_page = res.data.last_page
						this.total = res.data.total
						if (res.data.total == 0) {
							this.noCommentText = "暂无评论"
						}
						if (this.paramsc.page > 1) {
							this.commentlist.push.apply(this.commentlist, res.data.data)
						} else {
							this.commentlist = res.data.data
						}
					}

				})
			},
			//评论
			goComment(e) {
				if (uni.getStorageSync('access_token')) {

					var rid = e.currentTarget.dataset.rid ? e.currentTarget.dataset.rid : 0
					uni.navigateTo({
						url: '/pages/commentpost/commentpost?id=' + this.id + '&rid=' + rid + '&type=0'
					})
				} else {
					uni.navigateTo({
						url: '/pages/login/login?is_goan=1'
					})
				}

			},
			//点赞
			praise() {
				if (uni.getStorageSync('access_token')) {

					var params = {
						id: this.info.id,
						type: this.info.is_praise == 1 ? 2 : 1
					}
					bbsPraise(params).then(res => {
						if (res.state == 1) {

							if (this.info.is_praise == 0) {
								this.info.praise_num++
							} else {
								this.info.praise_num--
							}
							this.info.is_praise = this.info.is_praise == 1 ? 0 : 1
						}

					})
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			//收藏
			collect() {
				if (uni.getStorageSync('access_token')) {

					var params = {
						id: this.info.id,
						type: this.info.is_collect == 1 ? 2 : 1
					}
					bbsCollect(params).then(res => {
						if (res.state == 1) {
							this.info.is_collect = this.info.is_collect == 1 ? 0 : 1
						}

					})
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			//帖子评论点赞
			bbsCommentPraise(index) {
				if (uni.getStorageSync('access_token')) {
					if (this.commentlist[index].is_audit == 1) {
						var params = {
							id: this.commentlist[index].id,
							type: this.commentlist[index].is_praise == 1 ? 2 : 1
						}
						bbsCommentPraise(params).then(res => {
							if (res.state == 1) {
								this.commentlist[index].is_praise = this.commentlist[index].is_praise == 1 ? 0 : 1
							}

						})
					}
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			//投票
			voteBtn(e) {
				var code = e.currentTarget.dataset.code
				var name = e.currentTarget.dataset.name
				if (uni.getStorageSync('access_token')) {
					if (this.timeOut) {
						var params = {
							vote_id: this.voteinfo.id,
							tip_id: code,
							tip_name: name
						}
						voteChoose(params).then(res => {
							if (res.state == 1) {
								uni.showToast({
									title: '参与成功',
									icon: 'none',
									duration: 1500
								});

								this.vote_code = code,
									this.selected = true
								this.getVoteinfo()
							}
						})
					} else {
						uni.showToast({
							title: this.vote_end_tip,
							icon: 'none',
							duration: 2000
						})
					}
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			getVoteinfo() {
				voteInfo(this.voteinfo.id).then(res => {
					if (res.state == 1) {
						this.voteinfo = res.data.data
					}
				})
			},
			voteWidth() {
				var that = this
				var vote_info = that.voteinfo
				var tips1width = (vote_info.tips1.name.length * 12) + 5
				var tips2width = (vote_info.tips2.name.length * 12) + 5
				var tips3width = 0
				if (vote_info.tips3.name) {
					tips3width = (vote_info.tips3.name.length * 12) + 5
				}
				if (tips1width > tips2width) {
					if (tips1width > tips3width) {
						var voteWidth = tips1width
					} else {
						var voteWidth = tips3width
					}
				} else if (tips2width > tips3width) {
					var voteWidth = tips2width
				} else {
					var voteWidth = tips3width
				}

				if (tips3width > 0) {
					var tipswidthsum = voteWidth * 3
					var votewidthsum = (app.globalData.windowWidth) - tipswidthsum - 30
					var width1 = (votewidthsum * vote_info.tips1.percentage / 100 + voteWidth).toFixed(2)
					var width2 = (votewidthsum * vote_info.tips2.percentage / 100 + voteWidth).toFixed(2)
					var width3 = (votewidthsum * vote_info.tips3.percentage / 100 + voteWidth).toFixed(2)
					that.tips1width = width1
					that.tips2width = width2
					that.tips3width = width3
				} else {
					var tipswidthsum = voteWidth * 2
					var votewidthsum = app.globalData.windowWidth - tipswidthsum - 30
					var width1 = (votewidthsum * vote_info.tips1.percentage / 100 + voteWidth).toFixed(2)
					var width2 = (votewidthsum * vote_info.tips2.percentage / 100 + voteWidth).toFixed(2)
					that.tips1width = width1
					that.tips2width = width2
				}
			},
			//获取海报
			getPoster() {
				if (uni.getStorageSync('access_token')) {
					var params = {
						source: app.globalData.source,
						cid: this.id,
						user_id: uni.getStorageSync('member').id
					}
					bbsPoster(params).then(res => {
						if (res.state == 1) {
							this.share_url = res.data.share_url
							this.showShareUrl = true
							this.showShare = false
							uni.downloadFile({
								url: res.data.share_url,
								success: function(res) {
									var tempFilePath = res.tempFilePath
									console.log(res.tempFilePath)
									uni.authorize({
										scope: 'scope.writePhotosAlbum',
										success() {
											uni.saveImageToPhotosAlbum({
												filePath: tempFilePath,
												success: function() {
													uni.showToast({
														title: '保存成功了，快去分享吧~',
														icon: 'none',
														duration: 1500
													});
													console.log('save success');
												},
												fail(e) {
													console.log('下载失败')
												}
											});
										},
										fail() {
											console.log('未授权')
										}
									})

								},

							})

						}
					})
					var params = {
						event_code: '帖子详情',
						path: 'pages/articleinfo/articleinfo',
						user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
						source: app.globalData.source,
						event_id: this.id,
						title: this.info.title,
						invitees_scene_id: '',
						source_page: '帖子详情-生成海报',
						value: '',
					}
					app.BurialPoint(params)
				} else {
					uni.navigateTo({
						url: '/pages/login/login?is_goan=1'
					})
				}
			},
			//微信app分享
			shareApp(scene) {
				var that = this

				if (scene == 'WXSceneSession') {
					uni.share({
						provider: "weixin",
						scene: scene,
						type: 5,
						title: that.info.title,
						imageUrl: that.info.share_image,
						miniProgram: {
							id: 'gh_664d5a5771aa',
							path: '/pages/articleinfo/articleinfo?scene=' + that.id,
							type: 0,
							webUrl: "https://m.motortime.com/bbs/" + that.id
						},
						success: function(res) {
							that.showShare = false
							console.log("success:" + JSON.stringify(res));
						},
						fail: function(err) {
							that.showShare = false
							console.log("fail:" + JSON.stringify(err));
						}
					});
				} else {
					uni.share({
						provider: "weixin",
						scene: scene,
						type: 0,
						href: "https://m.motortime.com/bbs/" + that.id,
						title: that.info.title,
						summary: that.info.description,
						imageUrl: that.info.share_image += '?x-oss-process=image/resize,w_120',
						success: function(res) {
							that.showShare = false
							console.log("success:" + JSON.stringify(res));
						},
						fail: function(err) {
							console.log("fail:" + JSON.stringify(err));
						}
					});
				}
				app.getShareTask('/pages/articleinfo/articleinfo')
			},
			//删除评论
			delComment(index) {
				var that = this
				uni.showModal({
					content: '确定要删除这条评论吗？',
					confirmText: '删除',
					success: function(res) {
						if (res.confirm) {
							bbsCommDel(that.commentlist[index].id).then(res => {
								if (res.state == 1) {
									uni.showToast({
										title: '已删除',
										icon: 'success',
									});
									that.commentlist.splice(index, 1)
								}
							})
						} else if (res.cancel) {
							console.log('用户点击取消');
						}
					}
				});

				var params = {
					event_code: '文章详情',
					path: 'pages/article/article',
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
					source: app.globalData.source,
					event_id: that.id,
					title: that.info.title,
					invitees_scene_id: '',
					source_page: '文章详情-删除评论',
					value: '',
				}
				app.BurialPoint(params)
			},
			followUser(id, type) {
				if (uni.getStorageSync('access_token')) {
					followUser({
						follow_user_id: id,
						type: type
					}).then(res => {
						if (res.state == 1) {
							this.info.user.is_follow = type == 1 ? 1 : 0
						}
					})
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			goUserInfo(id) {
				uni.navigateTo({
					url: '/pages/other/other?scene=' + id
				})
			},
			goShopinfo(id, title, status) {
				if (status == 3) {
					uni.navigateTo({
						url: '/pages/integral/integralinfo/integralinfo?scene=' + id
					})
				} else {
					uni.navigateTo({
						url: '/pages/goodsinfo/goodsinfo?scene=' + id
					})
				}
			},
			goVideoMap(id) {
				// #ifdef MP-WEIXIN
				wx.getChannelsLiveInfo({
					finderUserName: id,
					success: res => {
						if (res.errMsg === "getChannelsLiveInfo:ok") {
							console.log(res)
							if (res.status == 2) {
								wx.openChannelsLive({
									finderUserName: id,
									feedId: res.feedId,
									nonceId: res.nonceId,
									success: res => {
										// console.log(res)
									}
								})
							} else {
								wx.openChannelsUserProfile({
									finderUserName: id
								})
							}
						}
					},
					fail: res => {
						//获取预告信息
						wx.getChannelsLiveNoticeInfo({
							finderUserName: id,
							success: res => {
								if (res.errMsg === "getChannelsLiveNoticeInfo:ok") {
									wx.reserveChannelsLive({
										noticeId: res.noticeId,
										success: res => {
											console.log(res)
										}
									})
								}
							},
							fail: res => {
								console.log(res)
								wx.openChannelsUserProfile({
									finderUserName: id
								})
							}
						})
					}
				})
				// #endif
			}
		},

		onReachBottom() {
			if (this.current_page < this.last_page) {
				this.paramsc.page = this.paramsc.page + 1
				this.getBbsCommentlist()
			} else {
				if (this.total > 0) {
					this.noCommentText = "已加载全部"
				} else {
					this.noCommentText = "暂无评论"
				}

			}
		},
		//分享
		onShareAppMessage(res) {
			if (res.from === 'button') { // 来自页面内分享按钮
				console.log('title' + this.info.title)
				this.showShare = false

			}
			return {
				title: this.info.title,
				path: '/pages/articleinfo/articleinfo?scene=' + this.id,
				imageUrl: this.info.share_image
			}
			app.getShareTask('/pages/articleinfo/articleinfo')
		}
	}
</script>

<style lang="scss">
	.bbsinfo_box {
		padding: 15px 0;

		.motor_list_user {
			display: flex;
			align-items: center;
			padding: 0 10px;

			.motor_list_user_img {
				width: 45px;
				height: 45px;
				border-radius: 30px;
			}

			.motor_list_user_info {
				flex: 1;

				.motor_list_user_name {
					color: #3A3A3A;
					font-size: 15px;
					font-weight: bold;

					.motor_badge {
						color: #FF0000;
						font-size: 10px;
						border: 1px solid #FF0000;
						border-radius: 2px;
						padding: 0 5px;
						white-space: nowrap;
					}
				}

				.motor_list_user_time {
					color: #9A9A9A;
					font-size: 12px;
				}
			}
		}

		.bbs_title {
			color: #3A3A3A;
			font-size: 16px;
			font-weight: bold;
			padding: 10px;
		}

		.bbs_content {
			color: #3A3A3A;
			font-size: 14px;
			padding: 10px;
		}

		.bbs_img_box {
			padding: 10px;

			.bbs_img {
				width: 100%;
				border-radius: 2.5px;
			}
		}

		.bbs_action {
			padding: 10px;
			display: flex;
			align-items: center;
			color: #9A9A9A;
			font-size: 12px;

			.bbs_tag {
				flex: 1;
			}

			.bbs_report {
				float: right;
			}
		}

		.bbs_praise_box {
			display: flex;
			justify-content: center;
			margin-bottom: 40rpx;

			.bbs_praise {
				width: 110px;
				height: 35px;
				color: #3A3A3A;
				font-size: 12px;
				border: 1px solid #9A9A9A;
				border-radius: 30px;
				display: flex;
				align-items: center;
				justify-content: center;

				.motor_praise_img {
					width: 15px;
					height: 14px;
				}
			}
		}

		.bbs_comment_top {
			color: #3A3A3A;
			font-size: 13px;
			font-weight: bold;
			padding: 15px 10px;
			border-top: 5px solid #EAEAEA;
			border-bottom: 1px solid #EAEAEA;
		}

		.bbs_comment_box {
			.commentlist_cell {
				padding: 15px 10px;
				border-bottom: 1px solid #EAEAEA;

				.comment_member_box {
					display: flex;
					align-items: center;

					.comment_member_img {
						width: 80rpx;
						height: 80rpx;
						border-radius: 30px;
					}

					.comment_member_name {
						flex: 1;
						color: #605c6b;
						font-size: 15px;
						font-weight: bold;

						.comment_member_userform {
							font-size: 12px;
							color: #9A9A9A;
						}
					}

					.comment_praise {
						color: #9A9A9A;
						font-size: 12px;
						display: flex;
						align-items: center;

						.comment_praise_img {
							width: 15px;
							height: 14px;
						}
					}
				}

				.comment_content {
					color: #6a6a6a;
					font-size: 26rpx;

					.comment_reply_username {
						color: #33A1FF;
						font-size: 13px;
					}
				}

				.comment_action {
					display: flex;
					align-items: center;
					font-size: 12px;
					color: #9A9A9A;

					.comment_time {
						flex: 1;

						.comment_reply_num {
							color: #3A3A3A;
							font-size: 12px;
						}
					}

					.comment_report {
						float: right;
					}
				}

				.comment_reply_box {
					padding: 15px 10px;
					background-color: #F7F7F7;
					border-radius: 7px;

					.comment_reply_cell {
						color: #6A6A6A;
						font-size: 13px;

					}

					.comment_reply_username {
						color: #33A1FF;
						font-size: 13px;
					}
				}
			}
		}

		.recommend_box {
			border-top: 1px solid #EAEAEA;
			padding: 0 10px;

			.article_info_title {
				color: #3A3A3A;
				font-size: 13px;
				font-weight: bold;
				padding: 15px 0;

			}
		}

		.list_sign {
			position: absolute;
			top: -35rpx;
			right: 0;
		}

		.img_sign {
			width: 155rpx;
			height: 200rpx;
		}
	}
</style>