<template>
	<view class="goodsinfo">
		<view :style="'padding-bottom:'+bottomHeight+'px;'">
			<view class="infobox">
				<block v-if="goodsimg_url.length==1">
					<video v-if="info.videourl" controls class="slide-video" :src="goodsimg_url[0]"></video>
					<image v-else class="swiper" :src="goodsimg_url[0]" mode="aspectFill"></image>
				</block>
				<view v-if="goodsimg_url.length>1" class="swiper-box">
					<swiper class="swiper" :autoplay="autoSwiper" :interval="interval" :duration="duration"
						:current="current" @change="changeCurrent" :circular='true'>
						<block v-for="(item,index) in goodsimg_url" :key='index'>
							<swiper-item>
								<video @play="playVideo" :enable-progress-gesture="false" v-if="info.videourl&&index==0" controls class="slide-video"
									:src="item" id="myVideo"></video>
								<image v-else :data-img="item" @click="previewImage" :src="item" mode="aspectFill"
									class="slide-image" />
							</swiper-item>
						</block>
					</swiper>
					<view class="picnum f-w f-15 c-white">
						<span class="">{{picnum}} </span>
						<span class="">/ {{goodsimg_url.length}}</span>
					</view>
				</view>
				<block v-if="info.activity_status==0">
					<view class="mt-20 ml-15">
						<span class="f-12 price">￥</span>
						<span class="f-17 price">{{info.price}}</span>
					</view>
					<view class="ml-15" v-if="info.old_price">
						<span class="f-12 c-gray" style="text-decoration:line-through;"
							v-if="info.price!=info.old_price">原价
							￥{{info.old_price}}</span>
					</view>
				</block>
				<view class="presell c-white" v-if="info.activity_status==1">
					<view class="" style="display: flex;align-items: baseline;">
						<span class="f-12 f-l">￥</span>
						<span style="display: flex;align-items: center;">
							<span class="f-20 f-w">{{info.price}}</span><span class="presell_badge">预售价</span>
						</span>
					</view>
					<view class="f-14 mt-10" v-if="info.old_price">
						定金 ￥{{info.deposit}}
					</view>
					<view class="mt-10">
						<view class="f-15">支付尾款时间:{{info.ac_end_time}}</view>
						<!-- <view class="f-15 mt-20" v-if="info.delivery_time">{{info.delivery_time}}</view> -->
					</view>
				</view>
				<view class="seckill_box c-white" v-if="info.activity_status==2">
					<view style="flex: 1;">
						<view class="" style="display: flex;align-items: baseline;">
							<span class="f-12 f-l">￥</span>
							<span style="display: flex;align-items: center;">
								<span class="f-20 f-w">{{info.price}}</span><span class="presell_badge">秒杀价</span>
							</span>
						</view>
						<view class="f-12 c-white" style="text-decoration:line-through;" v-if="info.old_price">
							{{info.old_price_name?info.old_price_name:'原价'}}￥{{info.old_price}}
						</view>
					</view>
					<view class="right_time">
						<view class="f-12" v-if="info.activity_time_status==1">距秒杀开始</view>
						<view class="f-12" v-if="info.activity_time_status==2">距秒杀结束</view>
						<view style="display: flex;align-items: center;margin-top: 15rpx;"
							v-if="info.activity_time_status==1||info.activity_time_status==2">
							<span class="time_box">{{hours}}</span>:<span class="time_box">{{minutes}}</span>:<span
								class="time_box">{{seconds}}</span>
						</view>
						<view class="f-16" v-if="info.activity_time_status==3">已结束</view>
					</view>
				</view>
				<view class="group c-white" v-if="info.activity_status==4">
					<view class="" style="display: flex;align-items: baseline;">
						<span class="f-12 f-l">￥</span>
						<span style="display: flex;align-items: center;">

							<span class="f-20 f-w"
								v-if="info.group_arr.status==2||info.group_arr.group_sign==1">{{info.price}}</span>
							<span class="f-20 f-w"
								v-else>{{info.group_arr.pay_info[info.group_arr.pay_info.length-1].price}}~{{info.group_arr.pay_info[0].price}}</span>
							<span class="presell_badge">团购价</span>
						</span>
					</view>
					<view class="mt-20" v-if="user_id!=0">
						<view class="f-15" v-if="info.group_arr.status==1">
							截止时间:{{info.group_arr.start_time.substr(0,10)}}~{{info.group_arr.end_time.substr(0,10)}}
						</view>
						<view class="f-15" v-else>
							截止时间:{{info.group_arr.start_time.substr(0,10)}}~{{info.group_arr.pay_end_time.substr(0,10)}}
						</view>
					</view>
					<view class="group_progress_box">
						<view class="progressbox">
							<view v-if="info.group_arr.group_number>0" class="myprogress"
								:style="'width:'+info.group_arr.group_number/info.group_arr.group_all_number*100+'%;'">
							</view>
							<view class="group_number" v-if="info.group_arr.group_number>0">
								已参与{{info.group_arr.group_number}}人</view>
						</view>
						<view class="display_flex mt-10" style="position: relative;height: 60rpx;">
							<block v-for="(item,index) in info.group_arr.pay_info" :key="item">
								<view v-if="index==0" class="nummoney_text" style="left: 0;">
									<view class="f-12">{{item.number}}人购</view>
									<view class="f-10">{{item.price}}元</view>
								</view>
								<view v-else-if="info.group_arr.pay_info.length-1==index" class="nummoney_text"
									style="right: 0;">
									<view class="f-12">{{item.number}}人团</view>
									<view class="f-10">{{item.price}}元</view>
								</view>
								<view v-else class="nummoney_text"
									:style="'left:'+item.number/info.group_arr.group_all_number*100+ '%;margin-left:-40rpx;'">
									<view class="f-12">{{item.number}}人团</view>
									<view class="f-10">{{item.price}}元</view>
								</view>
							</block>
						</view>
					</view>
				</view>
				<view class="bordertlr">
					<view class="goodsname ellipsis-2">{{info.name}}</view>
					<view class="f-12 c-gray ml-15 mb-20">销量：{{info.buy_num}}</view>
				</view>
			</view>
			<!-- 规格 -->
			<!-- v-if="info.activity_status!=4" -->
			<block v-if="info.activity_status==4">
				<view class="infobox pd-30" v-if="info.group_arr.group_sign_order==0">
					<block v-if="attrlist.length>0">
						<view class="sels" v-for="(itemd,indexd) in attrlist" :key="itemd.id">
							<view class="f-14 mb-10">{{itemd.alias}}</view>
							<view class="f-12">
								<block v-for="(item,index) in itemd.attribute_arr" :key="item.id">
									<span
										:class="item.number==0?'nochoose mr-10 mb-10':item.is_choose==1?'ruleactive mr-10 mb-10':'goodsrule mr-10 mb-10'"
										:id="item.id" @click="chooseNewAttr(item.id,index,indexd,item.number)">
										{{item.name}}
									</span>
								</block>
							</view>
						</view>
					</block>
					<block v-else>
						<view class="sels" v-if='attrs.length>0'>
							<view class="f-14 mb-10">规格</view>
							<view class="f-12">
								<block v-for="item in attrs" :key="item.id">
									<span
										:class="item.number==0?'nochoose mb-10 mr-10':item.active?'ruleactive mb-10 mr-10':'goodsrule mb-10 mr-10'"
										:id="item.id"
										@click="chooseAttr(item.id,item.name,item.number,item.price,item.old_price)">
										{{item.name}}
									</span>
								</block>
							</view>
						</view>
					</block>
					<view class="display_flex">
						<span class="c-gray f-12">库存{{number}}件</span>
					</view>
				</view>
				<!-- 参加了定金团购后，只显示已选规格 -->
				<view class="infobox pd-30" v-if="info.group_arr.group_sign_order==1">
					<view class="sels">
						<view class="f-14 mb-10">规格</view>
						<view class="f-12">
							<span class="ruleactive mb-10 mr-10">
								{{info.group_arr.group_attr_name}}
							</span>
						</view>
					</view>
				</view>
			</block>
			<block v-else>
				<view class="infobox pd-30">
					<block v-if="attrlist.length>0">
						<view class="sels" v-for="(itemd,indexd) in attrlist" :key="itemd.id">
							<view class="f-14 mb-10">{{itemd.alias}}</view>
							<view class="f-12">
								<block v-for="(item,index) in itemd.attribute_arr" :key="item.id">
									<span
										:class="item.number==0?'nochoose mr-10 mb-10':item.is_choose==1?'ruleactive mr-10 mb-10':'goodsrule mr-10 mb-10'"
										:id="item.id" @click="chooseNewAttr(item.id,index,indexd,item.number)">
										{{item.name}}
									</span>
								</block>
							</view>
						</view>
					</block>
					<block v-else>
						<view class="sels" v-if='attrs.length>0'>
							<view class="f-14 mb-10">规格</view>
							<view class="f-12">
								<block v-for="item in attrs" :key="item.id">
									<span
										:class="item.number==0?'nochoose mb-10 mr-10':item.active?'ruleactive mb-10 mr-10':'goodsrule mb-10 mr-10'"
										:id="item.id"
										@click="chooseAttr(item.id,item.name,item.number,item.price,item.old_price)">
										{{item.name}}
									</span>
								</block>
							</view>
						</view>
					</block>
					<view class="display_flex" v-if="info.activity_status==0||info.activity_status==1">
						<view class="f-14">数量</view>
						<view class="f-12 ml-15 flex-1" style="display:flex;">
							<view class="weui-cell__bd numbox">
								<view class="binbtn mr-10" @click="minusNum">-</view>
								<view class="num">{{num}}</view>
								<view class="binbtnr ml-10" @click="addNum">+</view>
							</view>
							<span class="c-gray f-r ml-15 mt-5">库存{{number}}件</span>
						</view>
					</view>
				</view>
			</block>
			<view class="goods_content">
				商品详情
			</view>
			<view class="pd-30">
				<rich-text :nodes="content" class='content'></rich-text>
			</view>
		</view>
		<view class="bottom_box" :style="'padding-bottom:'+bottomBox+'px'">
			<view class="bottom_box_left">
				<view class="bottom_box_left_cell" @click="goHome">
					<image class="bottom_box_left_icon" src="/static/images/shop/home.png" />
					<view class="bottom_box_left_text">商城</view>
				</view>
				<button class="bottom_box_left_cell" open-type="contact" @contact="handleContact">
					<image class="bottom_box_left_icon" src="/static/images/shop/phone.png" />
					<view class="bottom_box_left_text">客服</view>
				</button>
				<view class="bottom_box_left_cell" @click="goCarts">
					<image class="bottom_box_left_icon" src="/static/images/shop/cars.png" />
					<text class="weui-badge shopcarnum" v-if="carnum>0">{{carnum}}</text>
					<view class="bottom_box_left_text">购物车</view>
				</view>
			</view>
			<view class="bottom_box_right">
				<!--activity_status==0：普通商品 -->
				<block v-if="info.activity_status==0">
					<view class="addCarBtn" @click="goodsAddcarts">加入购物车</view>
					<view class="byuBtn" @click="goodsBuy">立即购买</view>
				</block>
				<!-- activity_status==1 预售 -->
				<block v-if="info.activity_status==1">
					<view class="buyDeposit f-13" style="justify-content: center;padding: 18rpx 26rpx;"
						v-if="info.deposit=='0.00'" @click="goodsBuy">
						{{info.button}}
					</view>
					<block v-else>
						<view class="buyDeposit" v-if="info.activity_time_status==1">
							<view class="text-c">
								<view class="f-12">{{info.start_time}}开始</view>
							</view>
							<view class="f-12 text-c">
								<view>即将开始</view>
								<view>￥{{info.deposit}}</view>
							</view>
						</view>
						<view class="buyDeposit" v-if="info.activity_time_status==2" @click="goodsBuy">
							<view class="text-c">
								<view class="f-10">{{info.end_time}}结束</view>
								<view class="f-9">付尾款后{{info.delivery_time?info.delivery_time:'7天内'}}发货</view>
							</view>
							<view class="f-12 text-c">
								<view>立即付定金</view>
								<view>￥{{info.deposit}}</view>
							</view>
						</view>
					</block>
				</block>
				<!-- activity_status==2 秒杀 -->
				<block v-if="info.activity_status==2">
					<block v-if="info.activity_time_status==1">
						<view class="nostartBtn">
							<view>{{info.start_time}}开始</view>
							<view class="f-w">即将开始</view>
						</view>
					</block>
					<block v-if="info.activity_time_status==2">
						<view class="addCarBtn" @click="goodsAddcarts">加入购物车</view>
						<view class="byuBtn" @click="goodsBuy">立即购买</view>
					</block>
					<block v-if="info.activity_time_status==3">
						<view class="nostartBtn">
							<view>{{info.end_time}}结束</view>
							<view class="f-w">秒杀结束</view>
						</view>
					</block>
				</block>

				<!-- activity_status==4 团购 -->
				<block v-if="info.activity_status==4">
					<block v-if="info.group_arr">
						<block v-if="info.group_arr.status==0">
							<view class="groupBtn">
								<view class="text-c f-12" style="width: 200rpx;line-height: 1.2;">
									{{info.group_arr.start_time}}开始
								</view>
								<view class="f-w" style="width: 120rpx;">即将开始</view>
							</view>
						</block>
						<!-- group_arr.status：团购状态  0：团购未开始；1：团购中；2：团购报名结束；3：团购结束 -->
						<!-- group_sign:是否参与团购  0.未参与；1.已参与团购 -->
						<!-- group_sign_order：是否有团购订单:  0未生成订单；1有订单 -->
						<block v-if="info.group_arr.status==1">
							<block v-if="info.group_arr.group_sign==0">
								<view class="groupBtn" @click="joinGroup()" v-if="info.group_arr.group_sign_order==0">
									<view class="text-c f-12" style="width: 200rpx;line-height: 1.2;">
										{{info.group_arr.end_time}}截止
									</view>
									<view class="f-w" style="width: 120rpx;">立即参与</view>
								</view>
								<block v-if="info.group_arr.group_sign_order==1">
									<view class="addCarBtn" @click="cancelOrder">取消报名</view>
									<view class="byuBtn" @click="goPayDj">支付定金</view>
								</block>
							</block>
							<block v-else>
								<view v-if="info.group_arr.deposit>0" class="nostartBtn">
									<view class="text-c f-12" style="width: 200rpx;line-height: 1.2;">
										{{info.group_arr.end_time}}开始
									</view>
									<view class="f-w" style="width: 120rpx;">支付尾款</view>
								</view>
								<view v-else class="groupBtn" @click="exitGroup()" style="justify-content: center;">
									<view class="f-w ml-5" style="width: 120rpx;">取消报名</view>
								</view>
							</block>
						</block>
						<block v-if="info.group_arr.status==2">
							<block v-if="info.group_arr.group_sign==1">
								<view v-if="info.group_arr.deposit>0" class="groupBtn_red" @click="goodsBuy()">
									<view class="text-c f-12" style="width: 200rpx;line-height: 1.2;">
										{{info.group_arr.pay_end_time}}截止
									</view>
									<view class="f-w" style="width: 120rpx;">支付尾款</view>
								</view>
								<view v-else class="groupBtn_red" @click="goodsBuy()">
									<view class="text-c f-12" style="width: 200rpx;line-height: 1.2;">
										{{info.group_arr.pay_end_time}}截止
									</view>
									<view class="f-w" style="width: 120rpx;">立即购买</view>
								</view>
							</block>
							<view v-else class="nostartBtn">
								<view class="text-c f-12" style="width: 200rpx;line-height: 1.2;">
									{{info.group_arr.end_time}}结束
								</view>
								<view class="f-w" style="width: 120rpx;">团购结束</view>
							</view>
						</block>
						<block v-if="info.group_arr.status==3">
							<view class="nostartBtn">
								<view class="text-c f-12" style="width: 200rpx;line-height: 1.2;">
									{{info.group_arr.pay_end_time}}结束
								</view>
								<view class="f-w" style="width: 120rpx;">团购结束</view>
							</view>
						</block>
					</block>
				</block>
				<!-- activity_status==5 展示 -->
			</view>
		</view>
		<view v-if="showPop" class="mask_box" style="z-index: 9998;" @click="closePop"></view>
		<view v-if="showPop" class="pagePop">
			<image class="close_pop" src="../../static/images/close.png" @click="closePop"></image>
			<view class="f-w f-18 mb-15 text-c">确认团购信息</view>
			<view class="update_text">
				<view>团购名称：{{info.group_arr.title}}</view>
				<view class="mt-5" v-if="goods_attr_name">商品规格：{{goods_attr_name}}</view>
				<view class="mt-5">团购定金：<span class="c-red">￥{{info.group_arr.deposit}}</span></view>
				<view class="mt-5">参团人数：{{info.group_arr.group_number}}</view>
				<view class="mt-5">团购结束时间：{{info.group_arr.end_time}}</view>
				<view class="mt-5">尾款付款时间：{{info.group_arr.pay_end_time}}</view>
				<view class="mt-5 display_flex" @click="goAddrList">
					<view class="flex-1">
						收货地址：{{addr.name}},{{addr.mobile}},{{addr.area.province_name}}
						{{addr.area.city_name}}
						{{addr.area.area_name}}
						{{addr.address}}
					</view>
					<uni-icons type="right" size="14"></uni-icons>
				</view>
			</view>
			<view class="btn_block" style="margin: 30rpx 30rpx 0 30rpx;font-size: 26rpx;" @click="getGroupOrder">立即付定金
			</view>
		</view>
	</view>
</template>

<script>
	import {
		getGoodsInfo,
		goodsAddcarts,
		groupSign,
		getGoodsAttr,
		getGroupOrder,
		cancelOrder,
		getDefaultAddress
	} from '../../api/motortime.js';
	var sliderWidth = 96;
	let app = getApp()
	let setTime, groupTime
	export default {
		data() {
			return {
				// activity_status:1 预售 2 秒杀 3 积分兑换 4 团购 5展示
				// activity_time_status   1 未开始  2 进行中 3 已结束
				//group_arr.status团购状态  0 未开始  1 团购进行中 2团购付款 3 已结束
				interval: 3000,
				duration: 1000,
				autoSwiper: true,
				current: 0,
				tabs: ["商品详情"],
				activeIndex: 0,
				sliderOffset: 0,
				sliderLeft: 0,
				info: '',
				num: 1,
				commlist: [],
				content: '',
				shou_content: '',
				attr_content: '',
				goods_attr_id: '',
				number: 0,
				goodsimg_url: [],
				picnum: 1,
				carnum: 0,
				user_id: '',
				attrs: [],
				attrlist: [],
				bottomBox: uni.getSystemInfoSync().safeAreaInsets.bottom ? uni.getSystemInfoSync().safeAreaInsets.bottom :
					8,
				bottomHeight: uni.getSystemInfoSync().safeAreaInsets.bottom + 60,
				hours: '00',
				minutes: '00',
				seconds: '00',
				attribute_text_ids: [],
				showPop: false,
				goods_attr_name: '',
				addr: ''
			};
		},
		onShow() {
			var that = this
			that.user_id = uni.getStorageSync('member') ? uni.getStorageSync('member').id : 0
			groupTime = setInterval(function() {
				that.getGoodsInfo()
			}, 1000 * 60 * 10)
			if (uni.getStorageSync('onload')) {
				that.getGoodsInfo()
			}
			if (uni.getStorageSync('addr')) {
				this.addr = uni.getStorageSync('addr')
				uni.removeStorage({
					key: 'addr'
				})
			}
		},
		onLoad(options) {
			uni.showLoading({
				title: '加载中'
			})
			var that = this
			var scene = decodeURIComponent(options.scene);
			var list = scene.split('-');
			that.id = list[0]
			that.commission_user_id = list[1]

			if (that.commission_user_id) {
				uni.setStorage({
					data: that.commission_user_id,
					key: 'cuid_' + that.id
				})
			}

			that.getGoodsInfo()
			uni.getSystemInfo({
				success: function(res) {
					that.sliderLeft = (res.windowWidth / that.tabs.length - sliderWidth) / 2
					that.sliderOffset = res.windowWidth / that.tabs.length * that.activeIndex
				}
			});
		},
		methods: {
			playVideo(e) {
				console.log(e)
				this.autoSwiper = false
			},
			changeCurrent(e) {
				this.picnum = e.detail.current + 1
				this.videoContext = uni.createVideoContext('myVideo'); //创建视频实例指向video
				this.videoContext.pause();
			},
			getGoodsInfo() {
				var that = this
				var params = {
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : 0
				}
				getGoodsInfo(that.id, params).then(res => {
					uni.hideLoading()
					if (res.state == 1) {
						var info = res.data
						var activity_end_time = info.activity_end_time
						if (activity_end_time) {
							info.ac_end_time = activity_end_time.substring(0, 10)
							info.ac_start_time = info.activity_start_time.substring(0, 10)
							info.end_time = activity_end_time.substring(5, 16)
							info.start_time = info.activity_start_time.substring(5, 16)
						}
						// if (info.activity_status == 4) {
						// 	info.group_arr.start_time = info.group_arr.start_time.substring(0, 10)
						// 	info.group_arr.end_time = info.group_arr.end_time.substring(0, 10)
						// 	info.group_arr.pay_end_time = info.group_arr.pay_end_time.substring(0, 10)
						// }
						that.info = info
						that.getGoodsAttr()
						that.attrs = res.data.attrs
						that.number = res.data.number
						var top_img_url_all = res.data.top_img_url_all
						if (top_img_url_all.length > 0) {
							that.goodsimg_url = res.data.top_img_url_all
						} else {
							that.goodsimg_url = res.data.img_url_all
						}
						var content = res.data.info_content
						var imgReg = /<img.*?(?:>|\/>)/gi;
						var srcReg = /src=[\'\"]?([^\'\"]*)[\'\"]?/i;
						var arr = content.match(imgReg);
						if (arr) {
							for (var i = 0; i < arr.length; i++) {
								that.content = content.replace(/\<img/gi, '<img class="contentimg" ')
							}
						}
						var attrs = res.data.attrs
						if (attrs.length == 1) {
							attrs[0].active = true
							that.goods_attr_id = attrs[0].id
						}
						if (info.activity_status == 2) {
							if (info.activity_time_status == 1) {
								var activity_start_time = info.activity_start_time;
								var newTime = new Date();
								var etime = activity_start_time.replace("-", "/").replace("-", "/")
								that.timepoor(newTime, etime)
							} else if (info.activity_time_status == 2) {
								var activity_end_time = info.activity_end_time;
								var newTime = new Date();
								var etime = activity_end_time.replace("-", "/").replace("-", "/")
								that.timepoor(newTime, etime)
							}

						} else if (info.activity_status == 4) {
							// 根据团购不同状态的结束时间与当前时间比较，两分钟之内每隔5秒请求一次详情
							if (info.group_arr.status == 0) {
								var end_time = info.group_arr.start_time;
							} else if (info.group_arr.status == 1) {
								var end_time = info.group_arr.end_time;
							} else if (info.group_arr.status == 2) {
								var end_time = info.group_arr.pay_end_time;
							}
							var newTime = new Date();
							var etime = end_time.replace("-", "/").replace("-", "/")
							var date1s = new Date(newTime).getTime();
							var date2s = new Date(etime).getTime()
							var date3 = date2s - date1s
							if (date3 < 120000) {
								clearInterval(groupTime)
								groupTime = setInterval(function() {
									that.getGoodsInfo()
								}, 1000 * 5)
							}

						}

					}

				})
			},
			getGoodsAttr() {
				getGoodsAttr({
					goods_id: this.id,
					attribute_text_ids: this.attribute_text_ids
				}).then(res => {
					if (res.state == 1) {
						this.attrlist = res.data.list
						if (res.data.list.length > 0) {
							this.info.price = res.data.attr.price
							this.info.old_price = res.data.attr.old_price
							this.number = res.data.attr.number
							this.goodsimg_url = res.data.attr.img_url
							this.goods_attr_id = res.data.attr.id
							this.goods_attr_name = res.data.attr.name
							if (this.attribute_text_ids.length == 0) {
								var list = res.data.list
								for (var i = 0; i < list.length; i++) {
									var attribute_arr = list[i].attribute_arr
									for (var j = 0; j < attribute_arr.length; j++) {
										if (attribute_arr[j].is_choose == 1) {
											this.attribute_text_ids.push(attribute_arr[j].id)
										}
									}
								}
							}
						}
					} else {
						this.attrlist = []
					}
				})
			},
			chooseNewAttr(id, index, indexd, number) {
				if (number > 0) {
					this.attribute_text_ids[indexd] = id
					this.getGoodsAttr()
				} else {
					uni.showToast({
						title: '库存不足',
						icon: 'none',
						mask: true,
						duration: 800
					})
				}

				console.log(this.attribute_text_ids)
			},
			//选择规格item.id,item.number,item.price,item.old_price
			chooseAttr(code, name, number, price, old_price) {
				var info = this.info
				info.price = price
				info.old_price = old_price
				var goodsimg_url = []
				if (number > 0) {
					var attrs = this.attrs
					for (var i = 0; i < attrs.length; i++) {
						if (attrs[i].id == code) {
							if (attrs[i].active) {
								attrs[i].active = false
								number = info.number
								code = ''
								var top_img_url_all = this.info.top_img_url_all
								if (top_img_url_all.length > 0) {
									goodsimg_url = this.info.top_img_url_all
								} else {
									goodsimg_url = this.info.img_url_all
								}
							} else {
								if (attrs[i].img_url) {
									if (attrs[i].img_url[0]) {
										goodsimg_url = attrs[i].img_url
									} else {
										goodsimg_url = this.info.top_img_url_all
									}
								}
								attrs[i].active = true
							}
						} else {
							attrs[i].active = false
						}
					}
					this.goods_attr_id = code
					this.goods_attr_name = name
					this.attrs = attrs
					this.info = info
					this.number = number
					this.current = 0
					this.goodsimg_url = goodsimg_url
				} else {
					uni.showToast({
						title: '库存不足',
						icon: 'none',
						mask: true,
						duration: 1500
					})
				}
			},

			//数量减
			minusNum() {
				var num = this.num
				if (num > 1) {
					num--
					this.num = num
				}
			},
			//数量加
			addNum() {
				if (this.num < this.number) {
					this.num = this.num + 1
				}
			},
			goodsAddcarts() {
				if (uni.getStorageSync('access_token')) {
					var that = this
					if (this.attrlist.length > 0) {
						var goods_attr_id = that.goods_attr_id
					} else {
						var goods_attr_id = that.info.attrs[0].id
					}
					var params = {
						goods_id: that.id,
						goods_attr_id: goods_attr_id,
						number: that.num,
						is_buy_cancel: 0,
						is_buy: 0,
						commission_user_id: that.commission_user_id
					}
					goodsAddcarts(params).then(res => {
						if (res.state == 1) {
							uni.showToast({
								title: '添加成功，在购物车等您~',
								icon: 'none',
								mask: true,
								duration: 1500
							})
						} else {
							uni.showToast({
								title: res.error[0],
								icon: 'none',
								mask: true,
								duration: 1500
							})
						}
					})
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			goodsBuy() {
				if (uni.getStorageSync('access_token')) {
					app.good = this.info;
					app.good.img_url = this.goodsimg_url
					app.good.goods_attr_id = this.goods_attr_id
					app.good.goods_attr_name = this.goods_attr_name
					if (this.goods_attr_id) {
						if (this.info.number == 0) {
							wx.showToast({
								title: '库存不足',
								icon: 'none',
								mask: true,
								duration: 1500
							})
						} else {
							if (this.info.activity_status == 4) {
								uni.setStorage({
									key: 'onload',
									data: true,
								});
							}
							if (this.info.order_no) {
								if (this.info.activity_status == 1 || this.info.activity_status == 4) {
									uni.navigateTo({
										url: '/pages/shop/orderinfo/orderinfo?id=' + this.info.order_no
									})
								}
							} else {
								uni.navigateTo({
									url: '/pages/shop/goodsorder/goodsorder?num=' + this.num
								})
							}
						}
					} else {
						uni.showToast({
							title: '请选择商品类型或规格~',
							icon: 'none',
							mask: true,
							duration: 1500
						})
					}
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			joinGroup() {
				if (uni.getStorageSync('access_token') && uni.getStorageSync('member')) {
					if (this.info.group_arr.deposit > 0) {
						this.getDefaultAddress()
					} else {
						var params = {
							status: 1, //status  1 报名  0取消 
							goods_id: this.id,
							group_id: this.info.group_arr.id,
							user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : ''
						}
						groupSign(params).then(res => {
							if (res.state == 1) {
								uni.showToast({
									title: '已参与',
									icon: 'success',
									mask: true,
									duration: 1500
								})
								var that = this
								setTimeout(function() {
									uni.setStorage({
										key: 'onload',
										data: true,
									});
									that.getGoodsInfo()
								}, 800)

							} else {
								uni.showToast({
									title: res.error[0],
									icon: 'none',
									mask: true,
									duration: 1500
								})
							}
						})
					}

				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			getDefaultAddress() {
				getDefaultAddress().then(res => {
					if (res.state == 1) {
						this.addr = res.data
						if (res.data.id) {
							this.deposit_info = this.info.group_arr.deposit_info
							this.showPop = true
						} else {
							uni.showModal({
								content: '您还没有设置收货地址，请点击确定去设置',
								confirmText: '取消',
								cancelText: "确定",
								success: function(res) {
									if (res.confirm) {
										console.log('用户点击取消');
									} else if (res.cancel) {
										uni.navigateTo({
											url: '/pages/shop/editaddress/editaddress?type=2'
										})

									}
								}
							});
						}
					} else {
						this.addr = ''
						uni.showModal({
							content: '您还没有设置收货地址，请点击确定去设置',
							confirmText: '取消',
							cancelText: "确定",
							success: function(res) {
								if (res.confirm) {
									console.log('用户点击取消');
								} else if (res.cancel) {
									uni.navigateTo({
										url: '/pages/shop/editaddress/editaddress?type=2'
									})

								}
							}
						});
					}
				})
			},
			exitGroup() {
				uni.showModal({
					title: '提示',
					content: '取消报名将失去团购资格，确定要取消报名吗?',
					success: res => {
						if (res.confirm) {
							var params = {
								status: 0,
								goods_id: this.id,
								group_id: this.info.group_arr.id,
								user_id: uni.getStorageSync('member') ? uni.getStorageSync(
									'member').id : ''
							}
							groupSign(params).then(res => {
								if (res.state == 1) {
									uni.showToast({
										title: '已取消',
										icon: 'none',
										mask: true,
										duration: 1500
									})
									var that = this
									setTimeout(function() {
										uni.setStorage({
											key: 'onload',
											data: true,
										});
										that.getGoodsInfo()
									}, 800)

								}
							})

						} else if (res.cancel) {
							console.log('用户点击取消');
						}
					}
				});
			},
			timepoor: function(date1, date2) {
				var _this = this;
				var date2s = new Date(date2).getTime()
				var date1s = new Date(date1).getTime();
				var date3 = new Date(date2).getTime() - new Date(date1).getTime(); //时间差的毫秒数        
				//计算出相差天数  
				if (date3 > 0) {
					var days = Math.floor(date3 / (24 * 3600 * 1000));
					//计算出小时数  
					var leave1 = date3 % (24 * 3600 * 1000); //计算天数后剩余的毫秒数  
					var hours = Math.floor(leave1 / (3600 * 1000)) + (days * 24);
					//计算相差分钟数  
					var leave2 = leave1 % (3600 * 1000); //计算小时数后剩余的毫秒数  
					var minutes = Math.floor(leave2 / (60 * 1000));
					//计算相差秒数  
					var leave3 = leave2 % (60 * 1000); //计算分钟数后剩余的毫秒数  
					var seconds = Math.round(leave3 / 1000);
					// console.log(hours + "时" + minutes + "分" + seconds + "秒");
					if (hours < '10') hours = "0" + hours;
					if (minutes < '10') minutes = "0" + minutes;
					if (seconds < '10') seconds = "0" + seconds;
					_this.hours = hours
					_this.minutes = minutes
					_this.seconds = seconds
					_this.countdown(date2);
				} else {
					var info = _this.info
					info.activity_time_status = 3
					_this.hours = '00'
					_this.minutes = '00'
					_this.seconds = '00'
					_this.info = info
				}
			},
			countdown: function(time) {
				var that = this
				setTime = setTimeout(function() {
					var newTime = new Date();
					that.timepoor(newTime, time)
				}, 1000);
			},
			handleContact(e) {
				console.log(e)
				var params = {
					event_code: '商品详情',
					path: 'pages/goodsinfo/goodsinfo',
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
					source_page: '商品详情-客服',
					event_id: this.info.id,
					title: this.info.name,
					value: '',
				}
				app.BurialPoint(params)
			},
			goHome() {
				uni.switchTab({
					url: '/pages/shop/shop'
				})
			},
			goCarts() {
				if (uni.getStorageSync('access_token')) {
					uni.navigateTo({
						url: '/pages/shop/goodscarts/goodscarts'
					})
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			previewImage(index) {
				uni.previewImage({
					current: index,
					urls: this.goodsimg_url // 需要预览的图片http链接列表
				})
			},
			closePop() {
				this.showPop = false
			},
			getGroupOrder() {
				if (this.goods_attr_id) {
					var params = {
						goods_id: this.id,
						goods_attr_id: this.goods_attr_id,
						offline_type: 0,
						integral_num: 0,
						media_id: 1,
						address_id: this.addr.id,
						channel_id: 0
					}
					uni.showLoading({
						title: '跳转中'
					})
					getGroupOrder(params).then(res => {
						if (res.state == 1) {
							uni.hideLoading()
							uni.setStorage({
								key: 'onload',
								data: true,
							});
							uni.navigateTo({
								url: '/pages/shop/goodspay/goodspay?order_no=' + res.data.order_no +
									'&goodprice=' + this
									.info.group_arr.deposit + '&pages=1',
							})
							this.showPop = false
						} else {
							uni.showToast({
								title: res.error[0],
								icon: 'none',
								mask: true,
								duration: 1500
							})
						}
					})
				} else {
					uni.showToast({
						title: '请选择商品类型或规格~',
						icon: 'none',
						mask: true,
						duration: 1500
					})
				}


			},
			//取消有定金的团购订单
			cancelOrder() {
				var that = this
				uni.showModal({
					content: '确定要取消该团购订单吗？',
					confirmText: "确定",
					cancelText: "暂不",
					success: function(res) {
						if (res.confirm) {
							cancelOrder(that.info.group_arr.group_sign_order_no).then(res => {
								if (res.state == 1) {
									that.getGoodsInfo()
								}
							})
						} else {}
					}
				})
			},
			//支付定金
			goPayDj() {
				uni.setStorage({
					key: 'onload',
					data: true,
				});
				uni.navigateTo({
					url: '/pages/shop/goodspay/goodspay?order_no=' + this
						.info.group_arr.group_sign_order_no +
						'&goodprice=' + this
						.info.group_arr.deposit + '&pages=1',
				})
			},
			goAddrList() {
				uni.navigateTo({
					url: '/pages/shop/addresslist/addresslist'
				})
			},
		},
		onUnload() {
			clearInterval(groupTime);
		},
		onHide() {
			clearInterval(groupTime);
		},
		onShareAppMessage() {
			app.getShareTask('/pages/goodsinfo/goodsinfo')
			return {
				title: this.info.name,
				imageUrl: this.goodsimg_url[0],
				path: '/pages/goodsinfo/goodsinfo?scene=' + this.data.id + '-' + this.data.user_id
			}
		},
		onShareTimeline() {
			app.getShareTask('/pages/goodsinfo/goodsinfo')
			return {
				title: this.info.name,
				imageUrl: this.goodsimg_url[0],
				path: '/pages/goodsinfo/goodsinfo?scene=' + this.data.id + '-' + this.data.user_id
			}
		}
	}
</script>

<style lang="scss">
	.goodsinfo {
		.swiper {
			width: 100%;
			height: 600rpx;
		}

		.slide-image {
			width: 100%;
			height: auto;
			display: initial;
		}

		.slide-video {
			width: 100%;
			height: 600rpx;
		}

		.picnum {
			color: #FFFFFF;
			position: relative;
			margin-top: -29px;
			float: right;
			background-color: rgba(0, 0, 0, 0.5);
			border-top-left-radius: 15px;
			border-bottom-left-radius: 15px;
			padding: 0 10rpx;
		}

		.infobox {
			border-bottom: 20rpx solid #f8f8f8;
		}

		.goodsname {
			padding: 30rpx;
			color: #3a3a3a;
			font-size: 30rpx;
			font-weight: bold;
		}

		.price {
			color: #E10000;
			font-weight: bold;
		}

		.sels {
			margin-bottom: 5rpx;
		}

		.ruleactive {
			color: #fff;
			background-color: #F6AB00;
			min-width: 80rpx;
			padding: 15rpx;
			display: inline-block;
			border-radius: 4rpx;
			text-align: center;
		}

		.goodsrule {
			min-width: 80rpx;
			color: #3A3A3A;
			background-color: #EAEAEA;
			padding: 15rpx;
			display: inline-block;
			border-radius: 4rpx;
			text-align: center;
		}

		.nochoose {
			min-width: 80rpx;
			color: #3A3A3A;
			background-color: #EAEAEA;
			padding: 15rpx;
			display: inline-block;
			opacity: 0.5;
			border-radius: 4rpx;
			text-align: center;
		}

		.numbox {
			display: flex;
			border: 1px solid #eaeaea;
		}

		.binbtn {
			width: 20px;
			height: 20px;
			text-align: center;
			border-right: 1px solid #eaeaea;
			line-height: 1.8;
		}

		.binbtnr {
			width: 20px;
			height: 20px;
			text-align: center;
			border-left: 1px solid #eaeaea;
			line-height: 1.8;
		}

		.num {
			margin-top: 2px;
		}

		.content {
			font-size: 30rpx;
			line-height: 2;

			img {
				width: 100% !important;
			}

			.contentimg {
				width: 100% !important;
			}
		}

		.borderleft {
			margin-right: 10px;
			border-left: 3px solid #3a3a3a;
		}

		button::after {
			border: 0px solid rgba(0, 0, 0, .2);
		}

		.presell {
			padding: 30rpx 30rpx 50rpx 30rpx;
			background-color: #13AA7E;
		}

		.bordertlr {
			margin-top: -20rpx;
			background-color: #fff;
			border-top-left-radius: 20rpx;
			border-top-right-radius: 20rpx;
		}

		.presell-btn {
			background-color: #13AA7E;
			text-align: center;
			/* line-height: 2; */
			padding: 10rpx;
			border-radius: 30px;
			display: flex;
		}

		.presell-btnd {
			color: #FFFFFF;
			background-color: #13AA7E;
			text-align: center;
			line-height: 3;
			width: 200rpx;
			font-weight: bold;
			border-radius: 30px;
			float: right;
		}

		.shopcarnum {
			position: absolute;
			top: 0;
			right: 12rpx;
			background-color: #D92121;
			font-size: 18rpx;
		}

		.delivery_time {
			align-items: center;
			justify-content: center;
			display: flex;
		}

		.presell_badge {
			margin-left: 20rpx;
			background-color: transparent;
			border: 1rpx solid #fff;
			border-radius: 5rpx;
			font-size: 20rpx;
			padding: 3rpx 8rpx;
		}

		.goods_content {
			padding: 30rpx;
			font-size: 26rpx;
			color: #F7AC01;
			font-weight: bold;
			text-align: center;
			border-bottom: 2rpx solid #EAEAEA;
		}

		.bottom_box_left {
			width: 45%;
			display: flex;
			align-items: center;

			.bottom_box_left_cell {
				width: 33.333%;
				text-align: center;
				padding-left: 0;
				padding-right: 0;
				line-height: 16px !important;

				.bottom_box_left_icon {
					width: 40rpx;
					height: 40rpx;
				}

				.bottom_box_left_text {
					font-size: 24rpx;
					color: #3A3A3A;
				}
			}
		}

		.bottom_box_right {
			flex: 1;
			margin-left: 15rpx;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		.addCarBtn {
			min-width: 180rpx;
			max-height: 60rpx;
			font-size: 26rpx;
			color: #FFFFFF;
			background-color: #F6AB00;
			text-align: center;
			border-radius: 30px;
			padding: 18rpx 0;
		}

		.byuBtn {
			min-width: 180rpx;
			max-height: 60rpx;
			font-size: 26rpx;
			color: #FFFFFF;
			background-color: #E10000;
			text-align: center;
			border-radius: 30px;
			padding: 18rpx 0;
		}

		.nostartBtn {
			width: 100%;
			max-height: 60rpx;
			font-size: 26rpx;
			color: #000000;
			background-color: #eaeaea;
			border-radius: 30px;
			padding: 18rpx 25rpx;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		.notimeendBtn {
			width: 100%;
			max-height: 60rpx;
			font-size: 26rpx;
			color: #000000;
			background-color: #eaeaea;
			border-radius: 30px;
			padding: 18rpx 25rpx;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.groupBtn {
			width: 100%;
			max-height: 60rpx;
			font-size: 26rpx;
			color: #fff;
			background-color: #FF9A23;
			border-radius: 30px;
			padding: 18rpx 25rpx;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		.groupBtn_red {
			width: 100%;
			max-height: 60rpx;
			font-size: 26rpx;
			color: #fff;
			background-color: #E10000;
			border-radius: 30px;
			padding: 18rpx 25rpx;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		.buyDeposit {
			width: 100%;
			color: #fff;
			background-color: #13AA7E;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 10rpx 26rpx;
			max-height: 60rpx;
			border-radius: 30px;
		}

		.seckill_box {
			padding: 30rpx 30rpx 50rpx 30rpx;
			background-color: #E10000;
			display: flex;
			align-items: center;
		}

		.right_time {
			text-align: center;
			padding-left: 25rpx;
			border-left: 1rpx solid rgba(255, 255, 255, 0.3);
		}

		.time_box {
			width: 50rpx;
			height: 50rpx;
			display: flex;
			margin: 0 8rpx;
			align-items: center;
			justify-content: center;
			border-radius: 5rpx;
			background-color: rgba(0, 0, 0, 0.3);
		}

		.group {
			padding: 30rpx 30rpx 50rpx 30rpx;
			background-color: #FF9A23;
		}

		.group_progress_box {
			padding: 30rpx;
			background-color: #fff;
			margin-top: 30rpx;
		}

		.progressbox {
			width: 100%;
			height: 20rpx;
			background-color: #fff;
			border: 2rpx solid #E10000;
			position: relative;
		}

		.myprogress {
			height: 20rpx;
			background-color: #E10000;
		}

		.nummoney_text {
			color: #9A9A9A;
			text-align: center;
			position: absolute;
			top: 0;
		}

		.group_number {
			height: 20rpx;
			color: #333333;
			font-size: 20rpx;
			display: flex;
			align-items: center;
			margin-left: 10rpx;
			position: absolute;
			top: 0;
		}

		.pagePop {
			position: fixed;
			top: 30%;
			left: 10%;
			right: 10%;
			color: #030303;
			z-index: 9999;
			border-radius: 8rpx;
			padding: 30rpx;
			font-size: 26rpx;
			background-color: #ffffff;
		}

		.update_text {
			font-size: 28rpx;
			padding: 0 30rpx;
		}

		.close_pop {
			width: 26rpx;
			height: 26rpx;
			position: absolute;
			top: 0;
			right: 0;
			padding: 30rpx;
		}
	}
</style>