<template>
	<view class="salesclerk_page" v-if="showPage">
		<view class="salesclerk_text">
			<text v-if="topTitle" :decode="true" style="color: #000;">{{topTitle}}</text>
		</view>
		<view class="salesclerk_cell">
			<input class="salesclerk_input" type="nickname" @input="changeName" @blur="changeName" :value="name"
				placeholder="请输入昵称" />
		</view>
		<view class="salesclerk_cell">
			<input class="salesclerk_input" type="number" @input="changeMobile" :value="mobile" maxlength="11" placeholder="请输入手机号" />
		</view>
		<view class="salesclerk_cell">
			<input class="salesclerk_input" type="number" @input="changeCode" :value="code" maxlength="6" placeholder="请输入验证码" />
			<view class="salesclerk_btn_on" v-if="isGetcode">{{codeText}}</view>
			<view class="salesclerk_btn" @click="getCode" v-else>获取验证码</view>
		</view>

		<view class="salesclerk_submit_box">
			<view class="salesclerk_submit" @click="submitForm">{{buttonText}}</view>
		</view>
	</view>
</template>

<script>
	import {
		getCode,
		joinSalesclerk,
		getSalesclerkInfo
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				codeText: '60s',
				isGetcode: false,
				id: '',
				name: '',
				mobile: '',
				code: '',
				isSubmit: true,
				topTitle: '',
				buttonText: '',
				showPage: false,
				again: 0
			};
		},
		onShow() {
			wx.hideShareMenu()
			if (uni.getStorageSync('access_token')) {
				this.getSalesclerkInfo()
			} else {
				uni.navigateTo({
					url: '/pages/login/login'
				})
			}

		},
		onLoad() {

		},
		methods: {
			getSalesclerkInfo() {
				getSalesclerkInfo({
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
				}).then(res => {
					if (res.state == 1) {
						this.info = res.data.auth_info
						uni.setNavigationBarTitle({
							title: res.data.auth_info.title ? res.data.auth_info.title : '手机号验证'
						})
						this.topTitle = res.data.auth_info.desc
						this.buttonText = res.data.auth_info.button
						this.id = res.data.auth_info.id
						this.name = res.data.auth_info.name
						this.mobile = res.data.auth_info.mobile
						// this.showPage = true
						if (this.again == 1) {
							this.showPage = true
						} else {
							if (res.data.is_enroll == 1) {
								this.showPage = false
								uni.redirectTo({
									url: '/pages/shop/salesclerkresult/salesclerkresult'
								})
							} else {
								this.showPage = true
							}
						}

					} else {
						this.isSubmit = true
						uni.showToast({
							title: res.error[0],
							icon: 'none'
						})
					}
				})
			},
			changeName(e) {
				this.name = e.detail.value
			},
			changeMobile(e) {
				this.mobile = e.detail.value
				console.log(e.detail.value)
			},
			changeCode(e) {
				this.code = e.detail.value
			},
			getCode() {
				if (!this.mobile) {
					uni.showToast({
						title: '请输入手机号!',
						icon: 'none'
					})
				} else {
					if (!(/^1[3456789]\d{9}$/.test(this.mobile))) {
						uni.showToast({
							title: '请输入正确的手机号!',
							icon: 'none'
						})
					} else {
						getCode({
							mobile: this.mobile,
							type: 3
						}).then(res => {
							if (res.state == 1) {
								this.codepage = res.data
							} else {
								uni.showToast({
									title: res.error[0],
									icon: 'none'
								})
							}
						})
						this.isGetcode = true
						let second = 60;
						const timer = setInterval(() => {
							second--;
							if (second) {
								this.second = second
								this.codeText = second + 's'
							} else {
								clearInterval(timer);
								this.second = 60
								this.isGetcode = false
							}
						}, 1000);
					}
				}

			},
			submitForm() {
				if (this.isSubmit) {
					this.isSubmit = false
					if (!this.mobile) {
						uni.showToast({
							title: '请输入手机号!',
							icon: 'none'
						})
						this.isSubmit = true
						return false
					} else {
						if (!(/^1[3456789]\d{9}$/.test(this.mobile))) {
							uni.showToast({
								title: '请输入正确的手机号!',
								icon: 'none'
							})
							this.isSubmit = true
							return false
						}
					}
					if (!this.code) {
						uni.showToast({
							title: '请输入验证码!',
							icon: 'none'
						})
						this.isSubmit = true
						return false
					} else {
						if (this.code.length != 6) {
							uni.showToast({
								title: '验证码错误!',
								icon: 'none'
							})
							this.isSubmit = true
							return false
						}
					}
					joinSalesclerk({
						id: this.id,
						name: this.name,
						mobile: this.mobile,
						code: this.code
					}).then(res => {
						if (res.state == 1) {
							uni.navigateTo({
								url: '/pages/shop/salesclerkresult/salesclerkresult'
							})
						} else {
							this.isSubmit = true
							uni.showToast({
								title: res.error[0],
								icon: 'none'
							})
						}
					})
				}
			}
		},
		// onShareAppMessage(res) {
		// 	return {

		// 	}
		// },
		// onShareTimeline: function() {
		// 	return {

		// 	}
		// },
	}
</script>

<style lang="scss">
	.salesclerk_page {
		padding: 30rpx;

		.salesclerk_text {
			margin: 60rpx 0;
			font-size: 30rpx;
		}

		.salesclerk_cell {
			font-size: 28rpx;
			width: 100%;
			display: flex;
			align-items: center;
			margin-bottom: 40rpx;
		}

		.salesclerk_input {
			flex: 1;
			height: 76rpx;
			display: flex;
			align-items: center;
			padding: 0 20rpx;
			border-radius: 10rpx;
			background-color: #f1f1f1;
		}

		.salesclerk_btn {
			width: 180rpx;
			height: 76rpx;
			margin-left: 10rpx;
			padding: 0 20rpx;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #FFBA00;
			border-radius: 10rpx;
		}

		.salesclerk_btn_on {
			width: 180rpx;
			height: 76rpx;
			margin-left: 10rpx;
			padding: 0 20rpx;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #f1f1f1;
			border-radius: 10rpx;
		}

		.salesclerk_submit_box {
			display: flex;
			align-items: center;
			justify-content: center;
			position: fixed;
			left: 0;
			right: 0;
			bottom: 25%;

			.salesclerk_submit {
				width: 260rpx;
				margin-left: 10rpx;
				padding: 20rpx;
				text-align: center;
				background-color: #FFBA00;
				border-radius: 10rpx;
			}
		}
	}
</style>