<template>
	<view>
		<view class="topImg_box">
			<image class="topImg" :src="info.background_pic"></image>
		</view>
		<block v-if="activeinfo.is_audit==1">
			<view class="qrcode_box" v-if="activeinfo.u_status!=0">
				<view class="qrcode_title" style="font-weight:bold;">{{info.ticket_text}}</view>
				<view class="qrcode_img_box" v-if="info.gifts_status==2">
					<view class="qrcode_img_boxd">
						<image class="qrcode_img" :src="info.ticket_pic"></image>
						<view class="qrcode_mask">
							已兑换
						</view>
					</view>
				</view>
				<image class="qrcode_img" style="margin-top: 40rpx;" :src="info.ticket_pic" wx:else></image>
				<view class="f-w f-14" style="letter-spacing:28rpx">{{info.h_token}}</view>
			</view>
		</block>
		<!-- <view class="text-c mt-30" v-if="activeinfo.setting_id">
			<view class="service_btn" @click="goServiceinfo">
				{{activeinfo.setting_button?activeinfo.setting_button:'联系客服'}}
			</view>
		</view> -->
		<view class="qrcode_content_box">
			<view class="qrcode_content_title">活动说明</view>
			<image class="qrcode_content_img" src="/static/images/active/qrcode_title.png"></image>
		</view>
		<view class="qrcode_content">
			<text>{{info.index_text}}</text>
		</view>
	</view>
</template>

<script>
	import {
		getActiveInfo,
		getPoplist
	} from '@/api/motortime.js';
	let app = getApp()
	var getlist
	export default {
		data() {
			return {
				info: '',
				activeinfo: ''
			};
		},
		onShow() {
			getlist = setInterval(() => {
				this.getPoplist()
			}, 1000 * 3);
		},
		onLoad(options) {
			uni.showLoading({
				title: '加载中',
			})
			this.hid = decodeURIComponent(options.scene)

			if (options.scene) {
				this.getPoplist()
				this.getActiveinfo()
			}
		},
		methods: {
			getPoplist() {
				var params = {
					type: 2,
					user_id: uni.getStorageSync('member').id ? uni.getStorageSync('member').id : '',
				}
				getPoplist(params, this.hid).then(res => {
					if (res.state == 1) {
						this.info = res.data.user_info
						if (res.data.user_info.gifts_status != 1) {
							clearInterval(getlist)
						}
					}

				})
			},
			getActiveinfo() {
				var params = {
					user_id: uni.getStorageSync('member').id,
				}
				getActiveInfo(params, this.hid).then(res => {
					if (res.state == 1) {
						this.activeinfo = res.data
						wx.hideLoading();

						var params = {
							event_code: '我的凭证',
							path: 'pages/jxactive/activeqr/activeqr',
							user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
							source: app.globalData.source,
							event_id: res.data.id,
							title: res.data.title,
							invitees_scene_id: '',
							source_page: '',
							value: '',
						}
						app.BurialPoint(params)
					}

				})
			},

		},
		onHide: function() {
			clearInterval(getlist)
		},


		onUnload: function() {
			clearInterval(getlist)
		},

	}
</script>

<style lang="scss">
	// @import '/pages/signin/qrcode/qrcode.wxss';
	.topImg_box {
		width: 100%;
	}

	.topImg {
		width: 100%;
		height: 400rpx;
	}

	.qrcode_img {
		width: 560rpx;
		height: 140rpx;
		margin-top: 0;
	}

	.qrcode_box {
		position: relative;
		text-align: center;
		background-color: #fff;
		border-radius: 30rpx;
		margin: 0 30rpx;
		margin-top: -60rpx;
		padding: 40rpx 0;
		box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
	}

	.qrcode_title {
		font-size: 24rpx;
		text-align: center;
	}

	.qrcode_img {
		width: 560rpx;
		height: 140rpx;
		margin-top: 40rpx;
	}

	.qrcode_content_box {
		margin-top: 60rpx;
		text-align: center;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.qrcode_content_title {
		font-size: 32rpx;
		font-weight: bold;
		margin: 0 auto;
		position: absolute;
	}

	.qrcode_content_img {
		height: 1rpx;
	}

	.qrcode_content {
		font-size: 24rpx;
		padding: 30rpx;
		margin-top: 30rpx;
	}

	.qrcode_mask {
		width: 100%;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(241, 241, 241, 0.9);
		/* background-color: rgba(0, 0, 0, 0.8); */
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 50rpx;
		font-weight: bold;
		color: #333333;
		letter-spacing: 2px
	}

	.service_btn {
		margin: 0 25%;
		color: #FFFFFF;
		font-size: 26rpx;
		padding: 16rpx 0;
		text-align: center;
		border-radius: 10rpx;
		background-color: #1F2A74;
	}
</style>
