<template>
	<view class="bbs_page">
		<!-- #ifndef MP -->
		<!-- <uni-nav-bar :fixed="true" :statusBar="true" rightIcon="bars">
			<block slot="left">
				<view class="display_flex">
					<image class="home_logo" :src="userinfo?userinfo.avatar:'/static/images/logo.png'"></image>
				</view>
			</block>
			<view class="input-view" style="flex: 1;" @click="goSearchPage">
				<uni-icons class="input-uni-icon" type="search" size="18" color="#999" />
				<input class="nav-bar-input" type="text" placeholder="输入搜索关键词" :disabled="true" />
			</view>
		</uni-nav-bar> -->
		<!-- #endif -->
		<!-- #ifdef MP -->
		<!-- <uni-nav-bar :fixed="true" :statusBar="true">
			<block slot="left">
				<view class="display_flex">
					<image class="home_logo" :src="userinfo?userinfo.avatar:'/static/images/logo.png'"></image>
				</view>
			</block>
			<view class="input-view" style="width: 60%;" @click="goSearchPage">
				<uni-icons class="input-uni-icon" type="search" size="18" color="#999" />
				<input class="nav-bar-input" type="text" placeholder="输入搜索关键词" :disabled="true" />
			</view>
		</uni-nav-bar> -->
		<!-- #endif -->
		<view class="bbs_top_menu" style="top: 0;">
			<view class="top_title" @click="topChange(1)">
				<span :class="topnum==1?'title_on':''">推荐</span>
			</view>
			<view class="top_title" @click="topChange(0)">
				<span :class="topnum==0?'title_on':''">用户</span>
			</view>
			<view class="top_title" @click="topChange(2)">
				<span :class="topnum==2?'title_on':''">话题</span>
			</view>
		</view>
		<block v-if="topnum==1">
			<view class="waterfall">
				<view class="home_swiper" v-if="advlist.length>0">
					<swiper class="swiper" indicator-dots="true" autoplay="true" circular="true" interval="5000"
						duration="1000" indicator-color="#aaa" indicator-active-color="rgba(255, 255, 255, 0.9)">
						<block v-for="item in advlist" :key="item.id">
							<swiper-item style="height: 450rpx;">
								<image class="swiper_img" @click="gotopImginfo(item.id,item.url,item.name)"
									mode="aspectFill" :src="item.pic_url?item.pic_url:''"></image>
							</swiper-item>
						</block>
					</swiper>
				</view>
				<view class="scrolltopic text-c">
					<scroll-view :scroll-x="true">
						<block v-for="item in  hometopicList" :key='item'>
							<view class="topicxbox" @click="goTopicinfo(item.id,item.name)"
								:style="'background-image:url('+item.pic_url+')'">
								<view class="topicinfo">
									<view class="f-12 ellipsis-2 topicbkname">#{{item.name}}#</view>
								</view>
							</view>
						</block>
					</scroll-view>
				</view>
				<block v-for="(item,index) in list" :key="item.id">
					<block v-if="item.topic_info.id">
						<view @click="goTopicinfo(item.topic_info.id,item.topic_info.name)">
							<view class="topicimg"
								:style="'background-image:url('+item.topic_info.pic_url+');border-bottom: 2rpx solid #eaeaea;'">
								<view class="topicinfo">
									<view class="f-16 ellipsis-2 topicbkname">#{{item.topic_info.name}}#</view>
								</view>
							</view>
						</view>
					</block>
					<block v-else>
						<view class="homelist_cell">
							<view class="userinfo_box">
								<view class="userimg_box">
									<image class="user_avatr"
										:src="item.user.headimg_url?item.user.headimg_url:'../../static/images/default.png'">
									</image>
									<!-- <image v-if="item.user.auth.is_audit==1" class="user_approve"
										src="../../static/images/border.gif"></image> -->
								</view>
								<view class="username_box">
									<view class="f-w">
										<text>{{item.user.user_name}}</text>
									</view>
									<!-- <view class="display_flex c-intro f-12 mt-5" v-if="item.user.cars.id">
									<image class="motor_car" src="../../static/images/member_car.png"></image>
									{{item.user.cars.title}} 车主
								</view> -->
								</view>
								<view v-if="item.user.id!=user_id" class="userfllow_box"
									@click="followUser(item.user.id,item.user.is_follow,index)">
									<view v-if="item.user.is_follow==1" class="motor_list_user_followd">已 关 注</view>
									<view v-else class="motor_list_user_follow">+ 关 注</view>
								</view>
							</view>
							<view class="bbscell_info mt-15"
								@click="goBbsinfo(item.id,item.post_id,item.title,item.url,index)">
								<view class="list_sign">
									<image class="img_signd" v-if="item.is_essence==1"
										src="../../static/images/elite_sign.png"></image>
									<image class="img_signd" v-if="item.is_essence==2"
										src="../../static/images/active_sign.png">
									</image>
									<image class="img_signd" v-if="item.is_essence==3"
										src="../../static/images/hot_sign.png"></image>
									<image class="img_signd" v-if="item.is_essence==4"
										src="../../static/images/question_sign.png">
									</image>
								</view>
								<view class="mt-20 f-15 f-w" v-if="item.title">
									<text>{{item.title}}</text>
								</view>
								<view class="mt-10 f-14 ellipsis-4" v-if="item.content"><text>{{item.content}}</text>
								</view>

							</view>
							<view class="bbs_topic_title">
								<block v-for="itemd in item.topics" :key="itemd.id">
									<span @click="goTopicinfo(itemd.id,itemd.name)"
										style="margin-right: 10rpx;">#{{itemd.name}}#</span>
								</block>
							</view>
							<view class="bbscell_imgbox mt-10"
								@click="goBbsinfo(item.id,item.post_id,item.title,item.url,index)"
								v-if="item.cover||item.image.length>0">
								<image class="bbscell_img" :src="item.cover?item.cover:item.image[0]" mode="aspectFill">
								</image>
							</view>
							<view class="bbscell_action display_flex mt-10">
								<view class="flex-1 display_flex">
									<view class="display_flex"
										@click="praise(item.id,item.post_id,item.is_praise,index)">
										<image class="collectpic"
											:src="item.is_praise==0?'../../static/images/zan.png':'../../static/images/zan-active.png'">
										</image>
										<view class="c-gray f-12 ml-10">{{item.praise_num}}</view>
									</view>
									<view class="display_flex ml-25">
										<image class="collectpic" src="../../static/images/comment.png"></image>
										<view class="c-gray f-12 ml-10">{{item.comment_num}}</view>
									</view>
								</view>
								<image @click="shareShow(item.id,item.post_id,item.title,index,item.cover,item.image)"
									class="collectpic" src="../../static/images/shared.png"></image>
							</view>
							<view class="bbscell_comment mt-5">
								<view @click="goBbsinfo(item.id,item.post_id,item.title,item.url,index)"
									class="display_flex mt-15" v-for="(itemc,index) in item.comments" :key="itemc.id"
									v-if='index<3'>
									<view class="bbscell_comment_imgbox">
										<image class="bbscell_comment_img"
											:src="itemc.user.headimg_url?itemc.user.headimg_url:'../../static/images/default-avatar.png'">
										</image>
									</view>
									<view class="flex-1 f-12 ellipsis-3 ml-10">
										<text class="f-w">{{itemc.user.user_name}}:</text><text>{{itemc.content}}</text>
									</view>
								</view>
								<view class="bbscell_inputbox mt-20">
									<view class="display_flex">
										<view class="bbscell_comment_imgbox">
											<image class="bbscell_comment_img"
												:src="headimg_url?headimg_url:'../../static/images/default-avatar.png'">
											</image>
										</view>
										<view class="flex-1 f-12 ml-10 display_flex mr-10">
											<image class="writecomm" src="../../static/images/addquestion.png"></image>
											<input :adjust-position='false'
												@confirm="postComment(item.id,item.post_id,item.title,index)"
												maxlength="300" :value="contentshow" :data-code="item.id"
												:data-pid="item.post_id" :data-index="index" :data-title="item.title"
												@input="textInput"
												@blur="blurInput(item.id,item.post_id,item.title,index)"
												@focus="focusInput(item.id,item.post_id,item.title,index)"
												class="bbscell_input ml-10" type="text" confirm-type="done"
												placeholder="添加评论..." />
										</view>
										<view v-if="postbtn==index" class="atten"
											@click="postComment(item.id,item.post_id,item.title,index)">发表</view>
									</view>
								</view>
							</view>
						</view>
					</block>
				</block>
			</view>
			<view class="text-c" v-if="showLoading">
				<image class="loading_gift" src="/static/images/gif.gif"></image>
			</view>
			<view class="text-c" v-else>
				<view class="f-12 c-gray text-c pd-30">已加载全部</view>
			</view>
		</block>
		<block v-if="topnum==0">
			<view class="notice_bg" v-if="update_num>0&&show_update_num">
				<view class="notice_name">为您推荐{{update_num}}条最新动态</view>
			</view>
			<view class="waterfall" :style="update_num>0&&show_update_num?'padding-top: 20rpx;':''">
				<view class="listbox">
					<view class="leftbox">
						<view class="mb-10" v-for="(item,index) in ulist" :key="item.id" v-if="index%2==0">
							<view v-if="item.topic_info.id" class="">
								<view @click="goTopicinfo(item.topic_info.id,item.topic_info.name)" class="">
									<view v-if="item.cover" class="topicimg"
										:style="'background-image:url('+item.cover+');'">
										<image class="articletype" src="/static/images/article_ht.png"></image>
										<view class="topicinfod">
											<view class="f-16 ellipsis-2 topicbkname">#{{item.topic_info.name}}#</view>
										</view>
									</view>
									<view v-else class="topicimg" :style="'background-image:url('+item.image[0]+');'">
										<image class="articletype" src="/static/images/article_ht.png"></image>
										<view class="topicinfod">
											<view class="f-16 ellipsis-2 topicbkname">#{{item.topic_info.name}}#</view>
										</view>
									</view>
								</view>
							</view>
							<view class="" v-else-if="item.shop_info.id">
								<view @click="goShopinfo(item.shop_info.id,item.post_id,item.title,item.url)">
									<view class="pic-box">
										<image class="pic" mode="widthFix" :src="item.shop_info.img_url">
										</image>
									</view>
									<view class="f-14 topictitle bkc-fff ellipsis-3 c-black" style="line-height: 1.6;">
										<text>{{item.shop_info.name}}</text>
									</view>
									<view class="topic_list_member">
										<view style="display: flex;flex: 1;align-items: center;">
											<view class="price f-12">￥
												<span class="f-17">{{item.shop_info.price}}</span>
											</view>
										</view>
										<view style="float: right;">
											<view style="display:flex;vertical-align: middle;"
												v-if="item.shop_info.buy_num>0">
												<view class="f-12 c-gray ml-10">{{item.shop_info.buy_num}}人购买</view>
											</view>
										</view>
									</view>
								</view>
							</view>
							<block v-else>
								<view @click="goBbsinfo(item.id,item.post_id,item.title,item.url,index)">
									<view class="pic-box">
										<image class="pic" :src="item.cover?item.cover:item.image[0]" mode="widthFix">
										</image>
										<image v-if="item.ranking_img" class="topic_rank" :src="item.ranking_img">
										</image>
										<block v-if="item.is_essence==0">
											<!-- <view class="bbs_wask btr-16" v-if="item.module.id==3"></view> -->
											<view class="picicon" v-if="item.module.id==2">{{item.img_num}}P</view>
											<view class="picicon" v-if="item.module.id==3&&item.video_time">
												{{item.video_time}}
											</view>
											<image v-if="item.module.id==3" class="video_icon"
												src="/static/images/video.png">
											</image>
											<image v-if="item.module.id==1" class="articletype"
												src="/static/images/article_tw.png">
											</image>
											<image v-if="item.module.id==2" class="articletype"
												src="/static/images/article_tj.png">
											</image>
											<image v-if="item.module.id==3" class="articletype"
												src="/static/images/article_sp.png">
											</image>
											<image v-if="item.module.id==0" class="articletype"
												src="/static/images/article_dt.png"></image>
										</block>
										<image class="img_sign" v-if="item.is_essence==1"
											src="/static/images/elite_sign_home.png">
										</image>
										<image class="img_sign" v-if="item.is_essence==2"
											src="/static/images/active_sign_home.png"></image>
										<image class="img_sign" v-if="item.is_essence==3"
											src="/static/images/hot_sign_home.png">
										</image>
										<image class="img_sign" v-if="item.is_essence==4"
											src="/static/images/question_sign_home.png"></image>
									</view>
									<view class="f-14 topictitle bkc-fff ellipsis-3 c-black" style="line-height: 1.6;">
										<text>{{item.title}}</text>
									</view>
								</view>
								<view class="topic_list_member">
									<view style="display: flex;flex: 1;align-items: center;">
										<view class="memberpic">
											<image class="member-pic"
												:src="item.user.headimg_url?item.user.headimg_url:'/static/images/default.png'"
												mode="aspectFill"></image>
											<!-- <image class="avatarborder" src="/static/images/border.gif"
												v-if="item.user.auth.is_audit==1"></image> -->
										</view>
										<span class="f-12 c-gray ellipsis ml-10">{{item.user.user_name}}</span>
									</view>
									<view style="float: right;">
										<image class="collectpic"
											:src="item.is_praise==0?'/static/images/zan.png':'/static/images/zan-active.png'"
											@click="praise(item.id,item.post_id,item.is_praise,index)">
										</image>
										<span class="f-12 c-gray">{{item.praise_num>0?item.praise_num:''}}</span>
									</view>
								</view>
							</block>
						</view>
					</view>
					<view class="rightbox">
						<view class="mb-10" v-for="(item,index) in ulist" :key="item.id" v-if="index%2!=0">
							<view v-if="item.topic_info.id" class="">
								<view @click="goTopicinfo(item.topic_info.id,item.topic_info.name)" class="">
									<view v-if="item.cover" class="topicimg"
										:style="'background-image:url('+item.cover+');'">
										<image class="articletype" src="/static/images/article_ht.png"></image>
										<view class="topicinfod">
											<view class="f-16 ellipsis-2 topicbkname">#{{item.topic_info.name}}#</view>
										</view>
									</view>
									<view v-else class="topicimg" :style="'background-image:url('+item.image[0]+');'">
										<image class="articletype" src="/static/images/article_ht.png"></image>
										<view class="topicinfod">
											<view class="f-16 ellipsis-2 topicbkname">#{{item.topic_info.name}}#</view>
										</view>
									</view>
								</view>
							</view>
							<view class="" v-else-if="item.shop_info.id">
								<view @click="goShopinfo(item.shop_info.id,item.post_id,item.title,item.url)">
									<view class="pic-box">
										<image class="pic" mode="widthFix" :src="item.shop_info.img_url">
										</image>
									</view>
									<view class="f-14 topictitle bkc-fff ellipsis-3 c-black" style="line-height: 1.6;">
										<text>{{item.shop_info.name}}</text>
									</view>
									<view class="topic_list_member">
										<view style="display: flex;flex: 1;align-items: center;">
											<view class="price f-12">￥
												<span class="f-17">{{item.shop_info.price}}</span>
											</view>
										</view>
										<view style="float: right;">
											<view style="display:flex;vertical-align: middle;"
												v-if="item.shop_info.buy_num>0">
												<view class="f-12 c-gray ml-10">{{item.shop_info.buy_num}}人购买</view>
											</view>
										</view>
									</view>
								</view>
							</view>
							<block v-else>
								<view @click="goBbsinfo(item.id,item.post_id,item.title,item.url,index)">
									<view class="pic-box">
										<image class="pic" :src="item.cover?item.cover:item.image[0]" mode="widthFix">
										</image>
										<image v-if="item.ranking_img" class="topic_rank" :src="item.ranking_img">
										</image>
										<block v-if="item.is_essence==0">
											<!-- <view class="bbs_wask btr-16" v-if="item.module.id==3"></view> -->
											<view class="picicon" v-if="item.module.id==2">{{item.img_num}}P</view>
											<view class="picicon" v-if="item.module.id==3&&item.video_time">
												{{item.video_time}}
											</view>
											<image v-if="item.module.id==3" class="video_icon"
												src="/static/images/video.png">
											</image>
											<image v-if="item.module.id==1" class="articletype"
												src="/static/images/article_tw.png">
											</image>
											<image v-if="item.module.id==2" class="articletype"
												src="/static/images/article_tj.png">
											</image>
											<image v-if="item.module.id==3" class="articletype"
												src="/static/images/article_sp.png">
											</image>
											<image v-if="item.module.id==0" class="articletype"
												src="/static/images/article_dt.png"></image>
										</block>
										<image class="img_sign" v-if="item.is_essence==1"
											src="/static/images/elite_sign_home.png">
										</image>
										<image class="img_sign" v-if="item.is_essence==2"
											src="/static/images/active_sign_home.png"></image>
										<image class="img_sign" v-if="item.is_essence==3"
											src="/static/images/hot_sign_home.png">
										</image>
										<image class="img_sign" v-if="item.is_essence==4"
											src="/static/images/question_sign_home.png"></image>
									</view>
									<view class="f-14 topictitle bkc-fff ellipsis-3 c-black" style="line-height: 1.6;">
										<text>{{item.title}}</text>
									</view>
								</view>
								<view class="topic_list_member">
									<view style="display: flex;flex: 1;align-items: center;">
										<view class="memberpic">
											<image class="member-pic"
												:src="item.user.headimg_url?item.user.headimg_url:'/static/images/default.png'"
												mode="aspectFill"></image>
											<!-- <image class="avatarborder" src="/static/images/border.gif"
												v-if="item.user.auth.is_audit==1"></image> -->
										</view>
										<span class="f-12 c-gray ellipsis ml-10">{{item.user.user_name}}</span>
									</view>
									<view style="float: right;">
										<image class="collectpic"
											:src="item.is_praise==0?'/static/images/zan.png':'/static/images/zan-active.png'"
											@click="praise(item.id,item.post_id,item.is_praise,index)">
										</image>
										<span class="f-12 c-gray">{{item.praise_num>0?item.praise_num:''}}</span>
									</view>
								</view>
							</block>
						</view>
					</view>
				</view>
			</view>
			<view class="text-c" v-if="showLoadingu">
				<image class="loading_gift" src="/static/images/gif.gif"></image>
			</view>
			<view class="text-c" v-else>
				<view class="f-12 c-gray text-c pd-30">已加载全部</view>
			</view>
		</block>
		<block v-if="topnum==2">
			<view class="waterfall">
				<block v-for="item in tlist" :key="item.id">
					<view @click="goTopicinfo(item.id,item.name)">
						<view class="topicimg ml-10 mr-10 mb-10" :style="'background-image:url('+item.pic_url+')'">
							<view class="topicinfo">
								<view class="f-16 ellipsis-2 topicbkname">#{{item.name}}#</view>
							</view>
						</view>
					</view>
				</block>
			</view>
			<view class="text-c" v-if="showLoadingt">
				<image class="loading_gift" src="/static/images/gif.gif"></image>
			</view>
			<view class="text-c" v-else>
				<view class="f-12 c-gray text-c pd-30">已加载全部</view>
			</view>
		</block>
		<view class="suspend" v-if="topnum==0" @click="posted">
			<image class="post_tips" src="/static/images/post_tips.png" v-if="show_tips"></image>
			<image class="post_tips_litte" src="/static/images/post_tips_litte.png" v-else></image>
		</view>
		<block v-if="showShare">
			<view class="share_box" :style="'padding-bottom:'+bottomBox+'px'">
				<view class="display_flex" style="justify-content: center;">
					<view style="width: 100px;height: 1px;background: #eaeaea;"></view>
					<view class="c-black f-10 ml-5 mr-5">分享</view>
					<view style="width: 100px;height: 1px;background: #eaeaea;"></view>
				</view>
				<!-- #ifdef MP -->
				<view class="display_flex mt-20">
					<button class="share_cell" open-type="share">
						<image class="share_img" src="/static/images/wecheck.png"></image>
					</button>
					<view class="share_cell" @click="getPoster">
						<image class="share_img" src="/static/images/friend.png"></image>
					</view>
				</view>
				<!-- #endif -->
				<!-- #ifdef APP-PLUS -->
				<view class="display_flex mt-20">
					<view class="share_cell" @click="shareApp('WXSceneSession')">
						<image class="share_img" src="/static/images/wecheck.png"></image>
					</view>
					<view class="share_cell" @click="shareApp('WXSenceTimeline')">
						<image class="share_img" src="/static/images/friend.png"></image>
					</view>
				</view>
				<!-- #endif -->
				<view class="mt-20 f-12"
					style="border-top: 1rpx solid #eaeaea;padding-top: 30rpx;padding-bottom: 10rpx;" @click="hideShare">
					取消
				</view>
			</view>
			<view class="wask_box" @click="hideShare"></view>
		</block>

		<block v-if="showShareUrl">
			<view class="share_url_box">
				<image class="share_url" :src="share_url" mode="widthFix"></image>
				<view class="shareBtn" @click="showShareUrl=false">我知道了</view>
			</view>
			<view class="wask_box" @click="showShareUrl=false"></view>
		</block>
	</view>
</template>

<script>
	import {
		getBbsList,
		getShareImg,
		getTopicList,
		articlePraise,
		bbsPraise,
		noticeTemplate,
		followUser,
		bbsPoster,
		articlePoster,
		getAdvs
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				topnum: 1,
				params: {
					page: 1
				},
				list: [],
				params: {
					cid: 0,
					page: 1,
					size: 12,
					user_id: 0,
					is_lexus_app: 1,
					is_image: 1,
				},
				ulist: [],
				paramu: {
					cid: 0,
					page: 1,
					size: 12,
					user_id: 0,
					is_image: 1,
					sort: 2,
					is_only_user: 1,
				},
				tlist: [],
				paramt: {
					is_home: 1,
					page: 1,
					size: 6,
				},
				showLoading: true,
				showLoadingu: true,
				showLoadingt: true,
				show_tips: true,
				update_num: 0,
				show_update_num: true,
				showShare: false,
				showShareUrl: false,
				share_url: '',
				postbtn: 'a',
				content: '',
				contentshow: '',
				headimg_url: '',
				advlist: [],
				hometopicList: []

			};
		},
		onShow() {
			if (uni.getStorageSync('onload')) {
				this.user_id = uni.getStorageSync('member') ? uni.getStorageSync('member').id : ''
				if (this.topnum == 1) {
					this.showLoading = true
					this.params.page = 1
					this.getBbsList()
					this.getHomeTopicList()
				} else if (this.topnum == 0) {
					this.showLoadingu = true
					this.paramu.page = 1
					this.getuList()
				} else if (this.topnum == 2) {
					this.showLoadingt = true
					this.paramt.page = 1
					this.getTopicList()
				}
				uni.removeStorage({
					key: 'onload'
				})
				this.headimg_url = uni.getStorageSync('member') ? uni.getStorageSync('member').avatar : ''
			}
		},
		onLoad() {
			this.getBbsList()
			this.getHomeTopicList()
			this.getAdvs()
			var params = {
				event_code: '社区',
				path: 'pages/bbs/bbs',
				user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
				source: app.globalData.source,
				invitees_scene_id: '',
				source_page: '',
				event_id: '',
				title: '',
				value: '',
			}
			app.BurialPoint(params)
			this.headimg_url = uni.getStorageSync('member') ? uni.getStorageSync('member').avatar : ''
		},
		methods: {
			getHomeTopicList() {
				getTopicList({
					is_top: 1,
					is_home: 1,
					page: 1,
					size: 9999
				}).then(res => {
					if (res.state == 1) {
						this.hometopicList = res.data.data
					}
				})
			},
			getAdvs() {
				getAdvs({
					media_id: 1,
					type: 4
				}).then(res => {
					if (res.state == 1) {
						this.advlist = res.data
					}
				})
			},
			getShareImg() {
				if (this.topnum == 1) {
					var path = '社区推荐'
				} else if (this.topnum == 2) {
					var path = '社区话题'
				} else if (this.topnum == 0) {
					var path = '社区用户'
				}
				getShareImg({
					path: path
				}).then(res => {
					if (res.state == 1) {
						this.shareInfo = res.data
					}
				})
			},
			getBbsList() {
				if (this.params.page == 1) {
					this.list = []
				}
				this.params.user_id = uni.getStorageSync('member') ? uni.getStorageSync('member').id : 0
				getBbsList(this.params).then(res => {
					uni.hideLoading()
					if (res.state == 1) {
						var list = [...this.list, ...res.data.data]
						for (var i = 0; i < list.length; i++) {
							list[i].picnums = 1
						}
						this.list = list
						this.last_page = res.data.last_page
						this.current_page = res.data.current_page
						if (list.length == 0) {
							this.showLoading = false
						}
					}
				})
			},
			getuList() {
				if (this.paramu.page == 1) {
					this.ulist = []
				}
				this.paramu.user_id = uni.getStorageSync('member') ? uni.getStorageSync('member').id : 0
				getBbsList(this.paramu).then(res => {
					uni.hideLoading()
					if (res.state == 1) {
						this.update_num = res.data.update_num
						var ulist = [...this.ulist, ...res.data.data]
						for (var i = 0; i < ulist.length; i++) {
							ulist[i].picnums = 1
						}
						this.ulist = ulist
						this.ulast_page = res.data.last_page
						this.ucurrent_page = res.data.current_page
						if (res.data.update_num > 0) {
							var that = this
							setTimeout(function() {
								that.show_update_num = false
							}, 4000)
						}
						if (ulist.length == 0) {
							this.showLoadingu = false
						}
					}

				})
			},
			getTopicList() {
				getTopicList(this.paramt).then(res => {
					uni.hideLoading()
					if (res.state == 1) {
						var list = res.data.data
						let arr = []
						for (var i = 0; i < list.length; i++) {
							let year = list[i].create_year
							let mon = list[i].create_en_month
							let ym = year + '-' + mon
							list[i].ym = ym
						}
						for (var i = 0; i < list.length; i++) {
							if (i > 0) {
								if (list[i].ym == list[i - 1].ym) {
									list[i].show = false
								} else {
									list[i].show = true
								}
							} else {
								list[i].show = true
							}
						}
						if (this.paramt.page == 1) {
							this.tlist = []
						}
						this.tlist = [...this.tlist, ...list]
						this.tlast_page = res.data.last_page
						this.tcurrent_page = res.data.current_page
						if (this.tlist.length < 5) {
							this.showLoadingt = false
						}
					}

				})
			},
			goSearchPage() {
				// #ifdef MP
				uni.navigateTo({
					url: '/pages/wechatsearch/wechatsearch'
				})
				// #endif
				// #ifndef MP
				uni.navigateTo({
					url: '/pages/appsearch/appsearch'
				})
				// #endif
			},
			topChange(type) {
				var that = this
				that.topnum = type
				if (that.topnum == 0) {
					if (that.ulist.length == 0) {
						uni.showLoading({
							title: '加载中',
						})
						that.getuList()
					}
					var params = {
						event_code: '社区-用户',
						path: 'pages/bbs/bbs',
						user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
						source: app.globalData.source,
						invitees_scene_id: '',
						source_page: '',
						event_id: '',
						title: '',
						value: '',
					}
					app.BurialPoint(params)
					setTimeout(function() {
						uni.pageScrollTo({
							scrollTop: parseInt(that.scrollTop0),
							duration: 0
						})
					}, 1)

				} else if (that.topnum == 1) {
					if (that.list.length == 0) {
						uni.showLoading({
							title: '加载中',
						})
						that.getBbsList()

					}
					var params = {
						event_code: '社区-关注',
						path: 'pages/bbs/bbs',
						user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
						source: app.globalData.source,
						invitees_scene_id: '',
						source_page: '',
						event_id: '',
						title: '',
						value: '',
					}
					app.BurialPoint(params)
					setTimeout(function() {
						uni.pageScrollTo({
							scrollTop: parseInt(that.scrollTop1),
							duration: 0
						})
					}, 1)
				} else if (that.topnum == 2) {
					if (that.tlist.length == 0) {
						uni.showLoading({
							title: '加载中',
						})
						that.getTopicList()
					}
					var params = {
						event_code: '社区-话题',
						path: 'pages/bbs/bbs',
						user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
						source: app.globalData.source,
						invitees_scene_id: '',
						source_page: '',
						event_id: '',
						title: '',
						value: '',
					}
					app.BurialPoint(params)
					setTimeout(function() {
						uni.pageScrollTo({
							scrollTop: parseInt(that.scrollTop2),
							duration: 0
						})
					}, 1)
				}
				that.getShareImg()
			},
			praise(id, pid, is_praise, index) {
				if (uni.getStorageSync('access_token')) {
					var type = is_praise == 0 ? 1 : 0
					if (pid) {
						articlePraise({
							id: pid,
							type: type
						}).then(res => {
							if (res.state == 1) {
								this.showPraise(type, index)
							}
						})
					} else {
						bbsPraise({
							id: id,
							type: type
						}).then(res => {
							if (res.state == 1) {
								this.showPraise(type, index)
							}
						})
					}
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			showPraise(type, index) {
				if (this.topnum == 1) {
					this.list[index].is_praise = type
					if (type == 1) {
						this.list[index].praise_num = this.list[index].praise_num + 1
					} else {
						this.list[index].praise_num = this.list[index].praise_num - 1
					}
				} else {
					this.ulist[index].is_praise = type
					if (type == 1) {
						this.ulist[index].praise_num = this.ulist[index].praise_num + 1
					} else {
						this.ulist[index].praise_num = this.ulist[index].praise_num - 1
					}
				}
			},
			goShopinfo(id, pid, title, url) {
				if (this.topnum == 0) {
					var source_page = '社区-用户-商品'
				} else if (this.topnum == 1) {
					var source_page = '社区-关注-商品'
				}
				var params = {
					event_code: '社区',
					event_id: id,
					title: title,
					value: '',
					path: 'pages/bbs/bbs',
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : 0,
					source_page: source_page
				}
				app.BurialPoint(params)
				uni.navigateTo({
					url: '/pages/goodsinfo/goodsinfo?scene=' + id
				})
				// #ifdef MP
				// uni.navigateToMiniProgram({
				// 	appId: 'wxb006b83309f7e574',
				// 	path: 'pages/detail/detail?scene=' + id,
				// 	envVersion: 'release',
				// 	success(res) {
				// 		// 打开成功
				// 	}
				// })
				// #endif
				// #ifdef APP-PLUS
				// uni.showModal({
				// 	content: '即将打开"汽车时间商城"小程序',
				// 	confirmText: '允许',
				// 	success: function(res) {
				// 		if (res.confirm) {
				// 			plus.share.getServices(function(s) {
				// 				var sweixin = ''
				// 				for (var i = 0; i < s.length; i++) {
				// 					var t = s[i];
				// 					console.log(t);
				// 					if (t.id == 'weixin') {
				// 						sweixin = t
				// 					}
				// 				}
				// 				if (sweixin) {
				// 					sweixin.launchMiniProgram({
				// 						id: 'gh_8592b9c006ad',
				// 						type: 0,
				// 						path: 'pages/detail/detail?scene=' + id,
				// 					})
				// 				}
				// 			}, function(e) {
				// 				console.log("获取分享服务列表失败：" + e.message);
				// 			});
				// 		} else if (res.cancel) {
				// 			console.log('用户点击取消');
				// 		}
				// 	}
				// });

				// #endif
			},
			goBbsinfo(id, pid, title, url, index) {
				if (url) {
					uni.navigateTo({
						url: '/pages/webview/webview?scene=' + url
					})
				} else {
					if(this.list[index].shop_info.id){
						var name = '商品详情'
						uni.navigateTo({
							url: '/pages/goodsinfo/goodsinfo?scene=' + this.list[index].shop_info.id
						})
					}else{
						if (pid) {
							var name = '资讯详情'
							uni.navigateTo({
								url: '/pages/article/article?scene=' + pid
							})
						} else {
							var name = '帖子详情'
							uni.navigateTo({
								url: '/pages/articleinfo/articleinfo?scene=' + id
							})
						}
					}
					
				}

				if (this.topnum == 0) {
					var source_page = '社区-用户-' + name
				} else if (this.topnum == 1) {
					var source_page = '社区-关注-' + name
				}
				var params = {
					event_code: '社区',
					event_id: id,
					title: title,
					value: '',
					path: 'pages/bbs/bbs',
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : 0,
					source_page: source_page
				}
				app.BurialPoint(params)
			},
			goTopicinfo(id, title) {
				uni.navigateTo({
					url: '/pages/topicinfo/topicinfo?scene=' + id,
				})
				if (this.topnum == 0) {
					var source_page = '社区-用户-话题'
				} else if (this.topnum == 1) {
					var source_page = '社区-关注置顶-话题'
				} else if (this.topnum == 2) {
					var source_page = '社区-话题-话题'
				}
				var params = {
					event_code: '社区',
					event_id: id,
					title: title,
					value: '',
					path: 'pages/bbs/bbs',
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : 0,
					source_page: source_page
				}
				app.BurialPoint(params)
			},
			posted() {
				if (uni.getStorageSync('access_token')) {
					if (uni.getStorageSync('member').stop_status == 0) {
						// #ifdef  MP-WEIXIN
						uni.requestSubscribeMessage({
							tmplIds: ['UXoNEgstqcHaHFtsesbbyv6WUHPjheI3nH9pMiUGS6E',
								'EJH23t_jW88wn4eIhRqEc7UPO1GpALMXVFq-SxTlsaI',
								'4UY_JJwhR9hRN_2wKYKdgqcxNixYBlXXSZUgg5BQvkE'
							],
							success: function(res) {
								noticeTemplate({
									template_type: 1
								}).then(res => {
									if (res.state == 1) {
										uni.navigateTo({
											url: '/pages/post/post'
										})
									} else {

									}
								})
							},
							file: function(e) {
								console.log(e)
							}
						})
						// #endif
						// #ifndef  MP-WEIXIN
						uni.navigateTo({
							url: '/pages/post/post'
						})
						// #endif
					} else {
						uni.showToast({
							title: uni.getStorageSync('member').stop_time,
							icon: 'none',
							mask: true,
							duration: 1500
						})
					}
				} else {
					uni.navigateTo({
						url: '/pages/login/login?is_goan=1'
					})
				}
			},
			onPageScroll(e) {
				this.show_tips = false
			},
			followUser(id, type, index, num) {
				if (uni.getStorageSync('access_token')) {
					followUser({
						media_id: 1,
						follow_user_id: id,
						type: type == 1 ? 2 : 1
					}).then(res => {
						if (res.state == 1) {
							if (num) {
								this.listy[index].is_user_follow = type == 1 ? 0 : 1
							} else {
								if (this.topnum == 1) {
									this.list[index].user.is_follow = type == 1 ? 0 : 1
								} else {
									this.ulist[index].user.is_follow = type == 1 ? 0 : 1
								}
							}
							if (this.topnum == 1) {
								for (var i = 0; i < this.list.length; i++) {
									if (this.list[i].user.id == id) {
										if (type == 1) {
											this.list[i].user.is_follow = 0
										} else {
											this.list[i].user.is_follow = 1
										}
									}
								}
							} else {
								for (var i = 0; i < this.ulist.length; i++) {
									if (this.ulist[i].user.id == id) {
										if (type == 1) {
											this.ulist[i].user.is_follow = 0
										} else {
											this.ulist[i].user.is_follow = 1
										}
									}
								}
							}
						}
					})
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			shareShow(id, pid, title, index, cover, image) {
				uni.hideTabBar()
				this.showShare = true
				this.shareTitle = title

				if (cover || image.length > 0) {
					this.shareImg = cover ? cover : image[0]
				}
				if (pid) {
					this.pid = pid
					this.shareId = pid
					this.shareType = 1
					this.sharePath = '/pages/article/article?scene=' + pid
					this.shareUrl = "https://m.motortime.com/article/" + pid + "/post"
				} else {
					this.bid = id
					this.shareId = id
					this.shareType = 2
					this.sharePath = '/pages/articleinfo/articleinfo?scene=' + id
					this.shareUrl = "https://m.motortime.com/bbs/" + id
				}
			},
			//获取海报
			getPoster(id) {
				if (uni.getStorageSync('access_token')) {
					if (this.shareType == 1) {
						this.getArticlePoster()
					} else {
						this.getBbsPoster()
					}

					var params = {
						event_code: '首页',
						path: 'pages/index/index',
						user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
						event_id: this.id,
						title: '',
						invitees_scene_id: '',
						source_page: '生成海报',
						value: '',
					}
					app.BurialPoint(params)
				} else {
					uni.navigateTo({
						url: '/pages/login/login?is_goan=1'
					})
				}
			},
			getArticlePoster() {
				var params = {
					id: this.shareId,
					user_id: uni.getStorageSync('member').id
				}

				articlePoster(params).then(res => {
					if (res.state == 1) {
						this.share_url = res.data.share_url
						this.showShareUrl = true
						this.showShare = false
						uni.showTabBar()
						uni.downloadFile({
							url: res.data.share_url,
							success: function(res) {
								var tempFilePath = res.tempFilePath
								console.log(res.tempFilePath)
								uni.authorize({
									scope: 'scope.writePhotosAlbum',
									success() {
										uni.saveImageToPhotosAlbum({
											filePath: tempFilePath,
											success: function() {
												uni.showToast({
													title: '保存成功了，快去分享吧~',
													icon: 'none',
													duration: 1500
												});
												console.log('save success');
											},
											fail(e) {
												console.log('下载失败')
											}
										});
									},
									fail() {
										console.log('未授权')
									}
								})

							},

						})

					}
				})
			},
			getBbsPoster() {
				var params = {
					cid: this.shareId,
					user_id: uni.getStorageSync('member').id
				}
				bbsPoster(params).then(res => {
					if (res.state == 1) {
						this.share_url = res.data.share_url
						this.showShareUrl = true
						this.showShare = false
						uni.showTabBar()
						uni.downloadFile({
							url: res.data.share_url,
							success: function(res) {
								var tempFilePath = res.tempFilePath
								console.log(res.tempFilePath)
								uni.authorize({
									scope: 'scope.writePhotosAlbum',
									success() {
										uni.saveImageToPhotosAlbum({
											filePath: tempFilePath,
											success: function() {
												uni.showToast({
													title: '保存成功了，快去分享吧~',
													icon: 'none',
													duration: 1500
												});
												console.log('save success');
											},
											fail(e) {
												console.log('下载失败')
											}
										});
									},
									fail() {
										console.log('未授权')
									}
								})

							},

						})

					}
				})
			},
			hideShare() {
				uni.showTabBar()
				this.showShare = false
			},
			//微信app分享
			shareApp(scene) {
				var that = this

				if (scene == 'WXSceneSession') {
					uni.share({
						provider: "weixin",
						scene: scene,
						type: 5,
						title: that.shareTitle,
						imageUrl: that.shareImg,
						miniProgram: {
							id: 'gh_d2c493f1bc41',
							path: that.sharePath,
							type: 0,
							webUrl: that.shareUrl
						},
						success: function(res) {
							that.showShare = false
							uni.showTabBar()
							console.log("success:" + JSON.stringify(res));
						},
						fail: function(err) {
							that.showShare = false
							uni.showTabBar()
							console.log("fail:" + JSON.stringify(err));
						}
					});
				} else {
					uni.share({
						provider: "weixin",
						scene: scene,
						type: 0,
						href: that.shareUrl,
						title: that.shareTitle,
						summary: that.shareTitle,
						imageUrl: that.shareImg += '?x-oss-process=image/resize,w_120',
						success: function(res) {
							that.showShare = false
							console.log("success:" + JSON.stringify(res));
						},
						fail: function(err) {
							console.log("fail:" + JSON.stringify(err));
						}
					});
				}

				app.getShareTask('/pages/article/article')
			},
			focusInput(id, pid, title, index) {
				if (uni.getStorageSync('access_token')) {
					if (uni.getStorageSync('member').stop_status == 1) {
						uni.showModal({
							content: uni.getStorageSync('member').stop_time,
							confirmText: "确定",
							confirmColor: "#333333",
							showCancel: false,
							success: function(res) {
								console.log(res);
							}
						});
					} else {
						if (index == this.postbtn) {
							this.contentshow = this.content
							this.postbtn = index
						} else {
							this.contentshow = ''
							this.postbtn = index
						}
					}

				} else {
					uni.navigateTo({
						url: '/pages/login/login?is_goan=1'
					})
				}

			},
			blurInput(id, pid, title, index) {
				// this.postbtn='a'
				this.content = this.contentshow
				this.contentshow = ''

			},
			textInput(e) {
				this.contentshow = e.detail.value
				this.content = e.detail.value
			},
			postComment(id, pid, title, index) {
				checkText({
					content: this.content
				}).then(res => {
					if (res.state == 1) {
						if (pid) {
							articleCommentpost({
								archive_id: pid,
								content: this.content
							}).then(res => {
								if (res.state == 1) {
									this.showComment(index)
								}
							})
						} else {
							bbsCommentpost({
								card_id: id,
								content: this.content
							}).then(res => {
								if (res.state == 1) {
									this.showComment(index)
								}
							})
						}
					} else {
						uni.showToast({
							title: res.error[0],
							mask: true,
							icon: 'none',
							duration: 1500
						});
					}

				})
			},
			showComment(index) {
				if (this.topnum == 1) {
					var paramsd = {
						content: this.content,
						user: {
							user_name: uni.getStorageSync('member').username,
							headimg_url: uni.getStorageSync('member').avatar
						}
					}
					this.list[index].comments.unshift(paramsd)
					this.content = ''
					this.contentshow = ''
				} else {
					var paramsd = {
						content: this.content,
						user: {
							user_name: uni.getStorageSync('member').username,
							headimg_url: uni.getStorageSync('member').avatar
						}
					}
					this.ulist[index].comments.unshift(paramsd)
					this.content = ''
					this.contentshow = ''
				}
			},
			gotopImginfo(id, link_url, title) {

				var isweb = link_url.indexOf("https://m.motortime.com/")
				if (isweb == 0) {
					var access_token = uni.getStorageSync('access_token');
					if (access_token) {
						uni.navigateTo({
							url: '/pages/webview/webview?scene=' + link_url,
						})
					} else {
						uni.navigateTo({
							url: '/pages/login/login?url=' + link_url,
						})
					}
				} else {
					uni.navigateTo({
						url: link_url
					})
				}
				var params = {
					event_code: '社区',
					event_id: id,
					title: title,
					value: '',
					path: 'pages/bbs/bbs',
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
					source: 4,
					source_page: '社区-推荐'
				}
				app.BurialPoint(params)

			},
		},
		onReachBottom() {
			if (this.topnum == 1) {
				if (this.current_page < this.last_page) {
					this.showLoading = true
					this.params.page = this.params.page + 1
					this.getBbsList()
				} else {
					this.showLoading = false
				}
			} else if (this.topnum == 0) {
				if (this.ucurrent_page < this.ulast_page) {
					this.showLoadingu = true
					this.paramu.page = this.paramu.page + 1
					this.getuList()
				} else {
					this.showLoadingu = false
				}
			} else if (this.topnum == 2) {
				if (this.tcurrent_page < this.tlast_page) {
					this.showLoadingt = true
					this.paramt.page = this.paramt.page + 1
					this.getTopicList()
				} else {
					this.showLoadingt = false
				}
			}
		},
		onPullDownRefresh() {
			if (this.topnum == 1) {
				this.showLoading = true
				this.params.page = 1
				// this.list = []
				this.getBbsList()
			} else if (this.topnum == 0) {
				this.showLoadingu = true
				this.paramu.page = 1
				// this.ulist = []
				this.getuList()
			} else if (this.topnum == 2) {
				this.showLoadingt = true
				this.paramt.page = 1
				// this.tlist = []
				this.getTopicList()

			}
			uni.stopPullDownRefresh()
		},
		onShareAppMessage() {
			uni.showTabBar()
			this.showShare = false
			app.getShareTask('/pages/bbs/bbs')
			if (this.pid || this.bid) {
				this.pid = ''
				this.bid = ''
				return {
					title: this.shareTitle ? this.shareTitle : '',
					imageUrl: this.shareImg ? this.shareImg : '',
					path: this.sharePath
				}
			} else {
				return {
					title: this.shareInfo ? this.shareInfo.titie : '',
					imageUrl: this.shareInfo ? this.shareInfo.img : ''
				}
			}
		},
		onShareTimeline: function() {
			app.getShareTask('/pages/bbs/bbs')
			return {
				title: this.shareInfo ? this.shareInfo.titie : '',
				imageUrl: this.shareInfo ? this.shareInfo.img : ''
			}
		},
	}
</script>

<style lang="scss">
	.bbs_page {
		background-color: #f1f1f1;

		.bbs_top_menu {
			font-size: 28rpx;
			position: fixed;
			left: 0;
			right: 0;
			color: #FFFFFF;
			background-color: #F6AB00;
			z-index: 99;
			justify-content: center;
			display: flex;
			align-items: center;
			height: 80rpx;

			.top_title {
				width: 22%;
				text-align: center;
				color: #FFFFFF;
			}

			.title_on {
				background-color: #fff;
				color: #3A3A3A;
				padding: 10rpx 30rpx;
				border-radius: 12rpx;
			}
		}

		.home_swiper {
			width: 100%;
			height: 450rpx;
			margin-bottom: 20rpx;

			swiper-item {
				height: 450rpx;
			}

			swiper {
				width: 100%;
				height: 450rpx !important;
			}

			.swiper {
				width: 100%;
				height: 450rpx;
			}
		}

		.uni-swiper-dot {
			width: 5px !important;
			height: 5px !important;
		}

		.swiper_img {
			width: 100%;
			height: 450rpx;
			// display: initial;
		}

		.suspend {
			position: fixed;
			right: 0;
			bottom: 300rpx;

			.post_tips {
				width: 300rpx;
				height: 100rpx;
			}

			.post_tips_litte {
				width: 110rpx;
				height: 100rpx;
			}
		}

		.waterfall {
			padding-top: 100rpx;
			background-color: #f1f1f1;

			.listbox {
				display: flex;
				justify-content: space-between;
				background-color: #f1f1f1;
				padding: 0 20rpx;
			}

			.leftbox {
				width: calc(50% - 10rpx);
				float: left;
				border-bottom: 20rpx solid #f1f1f1;
			}

			.rightbox {
				width: calc(50% - 10rpx);
				float: left;
				border-bottom: 20rpx solid #f1f1f1;
			}

			.pic-box {
				object-fit: cover;
				position: relative;
				background-color: #FFFFFF;
				border-top-left-radius: 5rpx;
				border-top-right-radius: 5rpx;
			}

			.pic {
				width: 100%;
				max-height: 500rpx;
				border-top-left-radius: 5rpx;
				border-top-right-radius: 5rpx;
			}

			.img_sign {
				width: 80rpx;
				height: 50rpx;
				left: 0;
				top: 0;
				position: absolute;
			}

			.topictitle {
				padding: 10rpx 20rpx;
			}

			.bkc-fff {
				background-color: #fff;
			}

			.topic_list_member {
				border-bottom-left-radius: 5rpx;
				border-bottom-right-radius: 5rpx;
				padding: 10rpx 20rpx 20rpx 20rpx;
				background-color: #FFFFFF;
				display: flex;
				align-items: center;

				.memberpic {
					position: relative;
					width: 50rpx;
					height: 50rpx;
					border-radius: 3rpx;
				}

				.member-pic {
					width: 50rpx;
					height: 50rpx;
					border-radius: 100rpx;
				}

				.avatarborder {
					width: 50rpx;
					height: 50rpx;
					position: absolute;
					right: 0;
				}

				.collectpic {
					width: 30rpx;
					height: 30rpx;
					padding: 10rpx;
					vertical-align: middle;
					background: transparent;
				}
			}

			.bbs_wask {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background-color: rgba(0, 0, 0, 0.5);
			}

			.btr-16 {
				border-top-left-radius: 5rpx;
				border-top-right-radius: 5rpx;
			}

			.video_icon {
				width: 36rpx;
				height: 40rpx;
				position: absolute;
				top: 42%;
				left: 45%;
			}

			.articletype {
				width: 64rpx;
				height: 34rpx;
				float: right;
				right: 10rpx;
				top: 10rpx;
				position: absolute;
			}

			.picicon {
				width: 60rpx;
				height: 30rpx;
				float: right;
				border-radius: 8rpx;
				right: 10rpx;
				bottom: 10rpx;
				position: absolute;
				font-size: 18rpx;
				color: #fff;
				background-color: rgba(30, 42, 116, 0.5);
				text-align: center;
				display: flex;
				justify-content: center;
			}

			.topicimg {
				height: 460rpx;
				color: #fff;
				position: relative;
				background-size: cover;
				background-repeat: no-repeat;
				border-radius: 5rpx;
				/* background-position: center; */
				object-fit: cover;
			}

			.topicinfod {
				text-align: center;
				display: flex;
				justify-content: center;
				padding: 50% 10rpx;
			}

			.topicinfo {
				text-align: center;
				display: flex;
				justify-content: center;
				padding: 26% 10rpx;
			}

			.topicbkname {
				color: #000;
				background-color: #fff;
				opacity: 0.7;
				padding: 2rpx 10rpx;
				font-weight: bold;
			}

			.price {
				color: #d34f4f;
				font-weight: bold;
			}

			.scrolltopic {
				white-space: nowrap;
				border-bottom: 2rpx solid #eaeaea;
				background-color: #f1f1f1;

				.topicxbox {
					width: 300rpx;
					height: 200rpx;
					background: #fff;
					margin-bottom: 18rpx;
					margin-right: 20rpx;
					display: inline-block;
					background-size: cover;
				}


			}
		}

		.notice_bg {
			width: 100%;
			background-color: #f1f1f1;
			display: flex;
			justify-content: center;
			align-items: center;
			padding-top: 100rpx;
		}

		.notice_name {
			color: #fff;
			font-size: 24rpx;
			background-color: #F6AB00;
			align-items: center;
			display: flex;
			padding: 10rpx 20rpx;
		}

		.homelist_cell {
			width: 100%;
			padding: 30rpx 0;
			border-bottom: 2rpx solid #eaeaea;
			background-color: #FFFFFF;

			.userinfo_box {
				display: flex;
				align-items: center;
				padding: 0 30rpx;

				.userimg_box {
					position: relative;
					width: 80rpx;
					height: 80rpx;
					border-radius: 60px;

					.user_avatr {
						width: 100%;
						height: 100%;
						border-radius: 60px;
					}

					.user_approve {
						width: 80rpx;
						height: 80rpx;
						position: absolute;
						right: 0;
					}
				}

				.username_box {
					flex: 1;
					margin-left: 20rpx;
					color: #605c6b;

					.motor_car {
						width: 26rpx;
						height: 26rpx;
						margin-right: 10rpx;
					}
				}

				.userfllow_box {
					.top_btn {
						width: 120rpx;
						height: 50rpx;
						background-color: #fff;
						color: #9a9a9a;
						text-align: center;
						font-size: 24rpx;
						line-height: 2;
						border: 2rpx solid #9a9a9a;
					}
				}
			}




			.bbscell_info {
				position: relative;
				padding: 0 30rpx;

				.list_sign {
					position: absolute;
					top: -40rpx;
					right: 0;
					z-index: 1;

					.img_signd {
						width: 155rpx;
						height: 200rpx;
					}
				}


			}

			.bbs_topic_title {
				padding: 10rpx 30rpx;
				color: #33A1FF;
				font-size: 28rpx;
			}

			.bbscell_imgbox {
				width: 100%;
				height: 460rpx;

				.bbscell_img {
					width: 100%;
					height: 100%;
				}

				.piclength {
					width: 70rpx;
					/* height: 30rpx; */
					float: right;
					margin-right: 30rpx;
					margin-top: -60rpx;
					position: relative;
					font-size: 20rpx;
					color: #fff;
					background-color: #000000;
					opacity: 0.5;
					text-align: center;
					padding: 6rpx 0;
				}
			}

			.topcell_imgbox {
				width: 100%;
				height: 460rpx;
				color: #fff;
				position: relative;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
				object-fit: cover;

				.topicinfo {
					position: absolute;
					bottom: 40rpx;
					padding-left: 30rpx;
				}
			}

			.bbscell_action {
				padding: 0 30rpx;
			}

			.bbscell_comment {
				padding: 0 30rpx;

				.bbscell_comment_imgbox {
					width: 50rpx;
					height: 50rpx;
					position: relative;
					border-radius: 60px;

					.bbscell_comment_img {
						width: 100%;
						height: 100%;
						border-radius: 60px;
					}
				}

				.writecomm {
					width: 20rpx;
					height: 20rpx;
				}

				.bbscell_input {
					width: 100%;
					font-size: 24rpx !important;
				}
			}

			.collectpic {
				width: 30rpx;
				height: 30rpx;
				padding: 10rpx;
				vertical-align: middle;
				background: transparent;
			}

			.atten {
				width: 120rpx;
				height: 50rpx;
				background-color: #F6AB00;
				color: #fff;
				text-align: center;
				font-size: 24rpx;
				line-height: 2;
			}
		}

	}
</style>
