<template>
	<view class="live_box">
		<view class="toppicbox" v-if="playVideo">
			<video class="video" autoplay="true" :src="video_url" controls loop="true"></video>
		</view>
		<view class="toppicbox" v-else-if="liveVideo">
			<video class="video" autoplay="true" controls loop="true" :src="info.live_url"></video>
		</view>
		<block v-else>
			<block v-if="livestate==0">
				<view class="toppicbox" :style="'background-image:url('+info.start_pic+')'">
					<view class="pdt-50 f-14">{{info.live_start_text}}</view>
					<view class="mt-40 f-16 counttime_box">
						倒计时<view class="time_box">{{days}}</view>天<view class="time_box">{{hours}}</view>时<view
							class="time_box">{{minutes}}</view>分<view class="time_box">{{seconds}}</view>秒
					</view>
					<view class="mt-40">
						<image v-if="info.trailer_url" class="checkbtn" src="/static/images/live/check.png"
							@click="playVideod()"></image>
					</view>
				</view>
			</block>
			<block v-if="livestate==1">
				<view class="toppicbox" :style="'background-image:url('+info.live_start_pic+')'">
					<view class="pdt-50 f-14">{{info.live_start_text}}</view>
					<view class="mt-40">
						<image class="showlivebtn" src="/static/images/live/showlive.png" @click="playShow"></image>
					</view>
				</view>
			</block>
			<block v-if="livestate==2">
				<view class="toppicbox" :style="'background-image:url('+info.live_end_pic+')'">
					<image v-if="info.playback_url" class="playback" src="/static/images/live/player.png"
						@click="playBackVideo"></image>
					<view class="peopstime"><span
							v-if="info.watch_num>0">{{info.watch_num}}人次观看｜</span>{{info.live_start_text}}</view>
				</view>
			</block>
		</block>
		<view :class="comment_box?'comment_box box':'box'" :style="'padding-bottom: '+bottomheightd+'px;'">
			<view class="pd-30">
				<view>
					<span class="f-16 f-w arttitle">{{info.title}}</span>
				</view>
				<view class="f-12 c-gray mt-20 live_desc">{{info.desc}}</view>
				<image class="joinpic" src="/static/images/live/join.png" @click="showDiglog" v-if="info.code_pic">
				</image>
			</view>
			<view class="pd-30 checkbox bot-10">
				<view :class="tabs_index==1?'tabs_live tabs_activelive':'tabs_live'" @click="chooseTab(1)">互动空间
				</view>
				<view :class="tabs_index==2?'tabs_live tabs_activelive':'tabs_live'" style="position: inherit;"
					@click="chooseTab(2)">{{info.live_button_text}}</view>
			</view>
			<view class="pd-30 bk-eee" v-if="tabs_index==1">
				<view class="f-12 c-gray">尊敬的用户您好：我们倡导文明用语，绿色的交流环境。请不要发布任何涉及广告及色情 、恐怖、反动或反国家法律法规的消息。违禁者将被禁言。</view>
				<block v-for="item in list" :key="item.id">
					<view class="f-12 mt-15">
						<span class="c-comname">{{item.user.user_name}}：</span>
						<span v-if="item.content.length<13">{{item.content}}</span>
						<span class="c-greens" v-if="item.content.length==13">{{item.content}}</span>
						<span class="c-blue" v-if="item.content.length==14">{{item.content}}</span>
						<span class="c-reds" v-if="item.content.length==15">{{item.content}}</span>
						<span v-if="item.content.length==16">{{item.content}}</span>
						<span class="c-greens" v-if="item.content.length==17">{{item.content}}</span>
						<span class="c-blue" v-if="item.content.length==18">{{item.content}}</span>
						<span class="c-reds" v-if="item.content.length==19">{{item.content}}</span>
						<span v-if="item.content.length==20">{{item.content}}</span>
						<span class="c-reds" v-if="item.content.length>20">{{item.content}}</span>
					</view>
				</block>
			</view>
			<view class="pd-30 bk-eee livecontent" v-else>
				<view class="f-14 content" v-if="info.content">
					<rich-text :nodes="contents" class='content'></rich-text>
				</view>
				<view class="f-14 content mt-20" v-else>
					<view style="text-indent: 2em;">{{info.description}}</view>
					<image class="weui-media-box__thumb mt-20" mode="widthFix" :src="pic_url">
					</image>
				</view>
			</view>
		</view>
		<view class="bottombox" :style="'bottom:'+bottombox+'rpx;padding-bottom:'+bottomheight+'px;'"
			v-if="tabs_index==1">
			<input class="weui-input" placeholder="请输入评论" @focus="inputFocus" @input="inputwrite" :focus="inputfocus"
				:value="content" cursor-spacing="0" style="width:68%" />
			<button class="weui-btn btn-save ml-10" size="mini" @click="posted" :disabled="btnDisabled">发表</button>
		</view>
	</view>
</template>

<script>
	import {
		getLiveInfo,
		getLiveStatus,
		getLiveComments,
		liveCommentpost
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				user_id: 0,
				info: '',
				list: [],
				inputw: 50,
				postbtn: false,
				bottombox: 0,
				istrue: false,
				istrued: false,
				rid: '',
				inputfocus: false,
				spacing: 0,
				scrollTop: 0,
				tabs_index: 1,
				livestate: 2,
				playVideo: false,
				liveVideo: false,
				comment_box: false,
				liveMonth: 0,
				days: 0,
				hours: 0,
				minutes: 0,
				seconds: 0,
				bottomheightd: uni.getSystemInfoSync().safeAreaInsets.bottom + 55,
				bottomheight: uni.getSystemInfoSync().safeAreaInsets.bottom,
				content: ''

			}
		},
		onLoad(options) {
			var that = this
			that.id = decodeURIComponent(options.scene);

			uni.setNavigationBarTitle({
				title: '详情'
			});
			that.getLiveInfo()
			that.getLiveStatus()
			that.getLiveComments()
		},
		onShow() {
			if (uni.getStorageSync('onload')) {
				this.getLiveComments()
			}
			this.user_id = uni.getStorageSync('member') ? uni.getStorageSync('member').id : 0
		},

		methods: {
			getLiveInfo() {
				getLiveInfo(this.id).then(res => {
					if (res.state == 1) {
						this.info = res.data
						var live_start_time = res.data.live_start_time
						console.log(live_start_time)
						var newTime = new Date();
						var newDate = new Date(live_start_time * 1000);
						this.liveYear = newDate.getFullYear()
						this.liveMonth = newDate.getMonth() + 1
						this.liveDay = newDate.getDate()
						this.liveHour = newDate.getHours()
						this.liveMin = newDate.getMinutes()
						if (this.liveMonth < '10') this.liveMonth = "0" + this.liveMonth;
						if (this.liveDay < '10') this.liveDay = "0" + this.liveDay;
						if (this.liveHour < '10') this.liveHour = "0" + this.liveHour;
						if (this.liveMin < '10') this.liveMin = "0" + this.liveMin;

						uni.setNavigationBarTitle({
							title: res.data.title
						})
						this.timepoor(newTime, live_start_time)
					}

				})
			},
			getLiveStatus() {
				var that = this
				getLiveStatus(this.id).then(res => {
					if (res.state == 1) {
						if (that.livestate != res.data.live_status) {
							that.livestatus = res.data
							that.livestate = res.data.live_status
						}
						setTimeout(function() {
							that.getLiveStatus()
						}, 2000);
					}
				})
			},
			getLiveComments() {
				var that = this
				var params = {
					user_id: that.user_id,
				}
				console.log(params)
				getLiveComments(params, that.id).then(res => {
					if (res.state == 1) {
						that.list = res.data.data
						var list = res.data.data
						if (list.length > 0) {
							if (that.comment_box && that.tabs_index == 1) {
								uni.createSelectorQuery().select('.comment_box').boundingClientRect(res => {
									var bottom = res.height - 422
									console.log('bottom===' + bottom)
									that.ScrollToHeight = bottom

									uni.pageScrollTo({
										scrollTop: bottom,
										duration: 300
									})
								}).exec()
							}
						}

						setTimeout(function() {
							that.getLiveComments()
						}, 3000);
					}

				})
			},
			//计时
			timepoor: function(date1, date2) {
				var that = this;
				var date = date2 * 1000
				var date3 = date - new Date(date1).getTime(); //时间差的毫秒数        
				//计算出相差天数  
				if (date3 > 0) {
					var days = Math.floor(date3 / (24 * 3600 * 1000));
					//计算出小时数  
					var leave1 = date3 % (24 * 3600 * 1000); //计算天数后剩余的毫秒数  
					var hours = Math.floor(leave1 / (3600 * 1000));
					//计算相差分钟数  
					var leave2 = leave1 % (3600 * 1000); //计算小时数后剩余的毫秒数  
					var minutes = Math.floor(leave2 / (60 * 1000));
					//计算相差秒数  
					var leave3 = leave2 % (60 * 1000); //计算分钟数后剩余的毫秒数  
					var seconds = Math.round(leave3 / 1000);
					that.countdown(date2);
					if (days < '10') days = "0" + days;
					if (hours < '10') hours = "0" + hours;
					if (minutes < '10') minutes = "0" + minutes;
					if (seconds < '10') seconds = "0" + seconds;
					that.days = days
					that.hours = hours
					that.minutes = minutes
					that.seconds = seconds

				} else {
					if (that.livestate == 0) {
						that.livestate = 1
					}
					that.days = '00'
					that.hours = '00'
					that.minutes = '00'
					that.seconds = '00'
				}
			},
			countdown: function(time) {
				var that = this
				setTimeout(function() {
					var newTime = new Date();
					that.timepoor(newTime, time)
				}, 1000);
			},
			playVideod: function() {
				this.playVideo = true
				this.video_url = this.info.trailer_url

			},
			videoEnd: function() {
				if (this.livestate == 0) {
					var that = this
					setTimeout(function() {
						that.playVideo = false
					}, 5000);
				}
			},
			playBackVideo: function() {
				this.playVideo = true
				this.video_url = this.info.playback_url

			},
			playShow: function() {
				// #ifdef APP-PLUS
				this.liveVideo = true
				// #endif
				// #ifdef MP
				var access_token = uni.getStorageSync('access_token');
				if (access_token) {
					uni.navigateTo({
						url: '/pages/webview/webview?scene=https://m.motortime.com/live/' + this.id,
					})
				} else {
					uni.navigateTo({
						url: '/pages/login/login?scene=https://m.motortime.com/live/' + this.id,
					})
				}
				// #endif
			},
			showDiglog: function() {
				uni.previewImage({
					current: this.info.code_pic, // 当前显示图片的http链接
					urls: [this.info.code_pic] // 需要预览的图片http链接列表
				})
			},
			chooseTab: function(tabs_index) {
				this.tabs_index = tabs_index

				if (tabs_index == 2) {
					if (this.comment_box) {
						this.comment_box = false
						this.bottomheightd = 0
					}

					uni.createSelectorQuery().select('.livecontent').boundingClientRect(res => {

						uni.pageScrollTo({
							scrollTop: 138,
							duration: 300
						})
					}).exec()
				} else {
					this.comment_box = true
					this.bottomheightd = app.globalData.bottomheight + 100
					this.getLiveComments()
				}
			},
			//判断页面滑动
			onPageScroll: function(e) {
				var scrollTop = e.scrollTop
				if (scrollTop > 120) {
					this.comment_box = true
				}
				var scrollTopd = scrollTop + 50
				if (scrollTopd < this.ScrollToHeight) {
					this.comment_box = false

				} else {
					this.comment_box = true

				}
			},
			//评论输入
			inputwrite: function(e) {
				this.content = e.detail.value
			},
			//输入框聚焦
			inputFocus: function(e) {
				if (uni.getStorageSync('access_token')) {
					this.inputfocus = true
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			//发表评论
			posted: function() {
				var that = this;
				that.btnDisabled = true

				if (that.content) {
					var params = {
						live_id: that.id,
						content: that.content
					}
					liveCommentpost(params).then(res => {
						if (res.state == 1) {
							that.getLiveComments();
							that.content = ''
						}
					})

				} else {
					that.btnDisabled = false
					uni.showToast({
						title: '请输入评论内容~',
						icon: 'none',
						mask: true,
						duration: 1500
					})
				}
			},
		},
		onShareAppMessage(res) {
			return {
				title: this.info.title,
				desc: this.info.content,
				imageUrl: this.info.share_pic ? this.info.share_pic : this.info.start_pic,
				path: '/pages/live/live?scene=' + this.id
			}
		}
	}
</script>

<style lang="scss">
	.live_box {
		.pd-30 {
			padding: 30rpx;
		}

		.bot-10 {
			border-top: 10rpx solid #f8f8f8;
		}

		.box {
			padding-top: 422rpx;
		}

		.video {
			width: 100%;
			height: 422rpx;
		}

		.toppicbox {
			width: 100%;
			color: #fff;
			position: fixed;
			background-size: 100% 422rpx;
			background-repeat: no-repeat;
			background-position: center;
			object-fit: cover;
			/* opacity: 0.5; */
			text-align: center;
			height: 422rpx;
			background-color: #fff;
		}

		.checkbtn {
			width: 160rpx;
			height: 55rpx;
		}

		.showlivebtn {
			width: 280rpx;
			height: 80rpx;
		}

		.playback {
			width: 128rpx;
			height: 128rpx;
			margin-top: 18%;
		}

		.pdt-50 {
			padding-top: 100rpx;
		}

		.counttime_box {
			display: flex;
			align-items: center;
			justify-content: center;

			.time_box {
				width: 60rpx;
				height: 60rpx;
				background-color: #fff;
				margin: 10rpx;
				border-radius: 5px;
				color: #3A3A3A;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}


		.joinpic {
			height: 90rpx;
			width: 100%;
			margin-top: 20rpx;
		}

		.checkbox {
			position: sticky;
			top: 422rpx;
			display: flex;
			font-size: 28rpx;
			background-color: #fff;
		}

		.tabs_live {
			margin-right: 40rpx;
			color: #797979;
		}

		.tabs_activelive {
			margin-right: 40rpx;
			color: #3A3A3A;
			font-weight: bold;
			border-bottom: 2px solid #3a3a3a;
			padding-bottom: 4px;
		}

		.bk-eee {
			background-color: #EEEEEE
		}

		.c-comname {
			color: #1F2A75;
		}

		.c-reds {
			color: #C40F0F;
		}

		.c-greens {
			color: #056205;
		}

		.weui-article__img {
			height: 360px;
		}

		.weui-dialog__wrp {
			left: 25px;
			right: 25px;
		}

		.peopstime {
			color: #797979;
			font-size: 28rpx;
			text-align: left;
			background-color: #D8D8D8;
			padding: 5rpx 30rpx;
			position: absolute;
			bottom: 0;
			width: 100%;
		}

		.bottombox {
			width: 100%;
			position: fixed;
			background-color: #fff;
			padding: 20rpx 30rpx;
			display: flex;
			z-index: 1000;
		}

		.weui-input {
			height: 70rpx;
			background-color: #EEEEEE;
			font-size: 12px;
			padding: 0 10px;
		}

		.btn-save {
			color: #fff;
			background-color: #f6ab00;
			font-weight: normal;
			border-radius: 8rpx;
			font-size: 26rpx !important;
			padding: 5rpx 40rpx !important;
		}

		.live_desc {
			text-indent: 2em;
		}
	}
</style>
