<template>
	<view class="logistics_pages">
		<view class="f-w f-15">{{info.desc}}</view>
		<view class="f-12">{{info.remarks}}</view>
		<view class="address_box">
			<view class="display_flex" style="align-items: flex-start;">
				<view class="address_title">
					{{info.address.seat_title}}
				</view>
				<view class="f-14">:</view>
				<view class="f-14 ml-5 flex-1">{{info.address.seat_value}}</view>
			</view>
			<view class="display_flex mt-5" style="align-items: flex-start;">
				<view class="address_title">
					{{info.address.man_title}}
				</view>
				<view class="f-14">:</view>
				<view class="f-14 ml-5 flex-1">{{info.address.man_value}}</view>
			</view>
			<view class="display_flex mt-5" style="align-items: flex-start;">
				<view class="address_title">
					{{info.address.tel_title}}
				</view>
				<view class="f-14">:</view>
				<view class="f-14 ml-5 flex-1">{{info.address.tel_value}}</view>
			</view>
		</view>
		<view class="display_flex mt-10" style="justify-content: flex-end;">
			<view class="copy_address" @click="copyAddress">一键复制收件信息</view>
		</view>
		<view class="f-13 text-c" style="margin: 60rpx;">
			<text>{{info.reminder}}</text>
		</view>
		<view class="input_cell">
			<input class="logistics_input" value="" @input="changeNo" placeholder="请填写物流单号">
		</view>
		<view class="input_cell">
			<view class="logistics_input">
				<picker mode='selector' @change="bindPickerChange" :value="c_index" :range="info.company"
					range-key="name">
					<view class="inputText">{{info.company[c_index].name}}</view>
				</picker>
			</view>
		</view>
		<view class="input_cell f-12">
			退回方式：原支付返回
		</view>
		<view class="input_cell f-12">
			退款金额：<span class="c-red mr-5 f-w">{{total}}</span>元
		</view>

		<view class="logistics_submit_btn" @click="submitLogistics" :style="'bottom:'+bottomPad+'px;'">确认提交</view>
	</view>
</template>

<script>
	import {
		refundOrder,
		getRefundinfo
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				info: '',
				order_no: '',
				total: '',
				c_index: 0,
				refund_express_no: '',
				bottomPad: uni.getSystemInfoSync().safeAreaInsets.bottom > 0 ? uni.getSystemInfoSync()
					.safeAreaInsets
					.bottom + 15 : 15,
			};
		},
		onShow() {
			if (!uni.getStorageSync('access_token')) {
				uni.navigateTo({
					url: '/pages/login/login'
				})
			}
		},
		onLoad(options) {
			this.order_no = options.order_no
			this.total = options.total
			if (uni.getStorageSync('access_token')) {
				this.getRefundinfo()
			}
		},
		methods: {
			getRefundinfo() {
				getRefundinfo().then(res => {
					if (res.state == 1) {
						this.info = res.data
						uni.setNavigationBarTitle({
							title: res.data.title
						})
					}
				})
			},
			copyAddress() {
				uni.setClipboardData({
					data: this.info.address_info,
					success: function() {
						uni.showToast({
							title: '复制成功',
							icon: "none",
						});
					}
				});
			},
			changeNo(e) {
				this.refund_express_no = e.detail.value
			},
			bindPickerChange(e) {
				this.c_index = e.detail.value
			},
			submitLogistics() {
				var that = this
				uni.showModal({
					content: '确定申请退款吗？',
					confirmText: "确定",
					cancelText: "取消",
					success: function(res) {
						if (res.confirm) {
							refundOrder(that.order_no, {
								type: that.type,
								refund_company_id: that.info.company[that.c_index].id,
								refund_express_no: that.refund_express_no
							}).then(res => {
								if (res.state == 1) {
									wx.setStorage({
										key: 'onload',
										data: true,
									})
									wx.navigateBack({
										delta: 1
									})
								}
							})
						} else {}
					}
				})
			},
		},
		onShareAppMessage(res) {
			return {

			}
		},
		onShareTimeline: function() {
			return {

			}
		},
	}
</script>

<style lang="scss">
	.logistics_pages {
		padding: 30rpx;

		.address_box {
			border: 2rpx solid #eaeaea;
			border-radius: 8rpx;
			padding: 20rpx;
			margin-top: 30rpx;

			.address_title {
				width: 140rpx;
				height: 40rpx;
				font-size: 28rpx;
				float: left;
				text-align: justify;
				overflow: hidden;
			}

			.address_title:after {
				content: '';
				width: 140rpx;
				height: 0;
				display: inline-block;
			}
		}

		.copy_address {
			color: #ffffff;
			font-size: 20rpx;
			padding: 10rpx 20rpx;
			border-radius: 8rpx;
			background-color: #E10000;
		}

		.input_cell {
			padding: 15rpx;
			border-radius: 8rpx;
			margin-bottom: 30rpx;
			border: 2rpx solid #eaeaea;
		}

		.logistics_input {
			font-size: 24rpx;
		}

		.logistics_submit_btn {
			min-width: 180rpx;
			max-height: 60rpx;
			color: #ffffff;
			position: fixed;
			right: 30rpx;
			font-size: 26rpx;
			letter-spacing: 2rpx;
			border-radius: 30px;
			padding: 18rpx 0;
			text-align: center;
			background-color: #E10000;
		}
	}
</style>