<template>
	<view class="articleimg">
		<view class="img_masker"></view>
		<view class="img_box">
			<swiper class="swiper" :autoplay="false" :circular="true" duration="1000" :indicator-dots="false"
				@change="changeImg">
				<block v-for="(item,index) in all_pics" :key="item.id">
					<swiper-item style="height: 450rpx;">
						<image class="swiper_img" mode="aspectFill" @click="previewImg(index)" :src="item.img_url">
						</image>
					</swiper-item>
				</block>
			</swiper>
			<view class="img_num">{{current}}/{{all_pics.length}}</view>
		</view>
		<view class="bottom_box" :style="'padding-bottom:'+bottomBox+'px'">
			<view class="fake_input" @click="goComment">发表评论...</view>
			<view class="bottom_info ml-20" @click="goImgComment">
				<image class="bottom_img mr-5" src="../../static/images/comment.png"></image>
				{{info.reply_num>0?info.reply_num:''}}
			</view>
			<view class="bottom_info ml-20" @click="collect">
				<image class="bottom_img"
					:src="info.is_collect==1?'../../static/images/collect_active.png':'../../static/images/collect.png'">
				</image>
			</view>
			<!-- #ifdef MP-TOUTIAO|| MP-BAIDU||MP-ALIPAY||MP-QQ||MP-360 -->
			<button class="bottom_info ml-20" open-type="share">
				<image class="bottom_img" src="../../static/images/shared.png"></image>
			</button>
			<!-- #endif -->
			<!-- #ifdef MP-WEIXIN||APP-PLUS -->
			<view class="bottom_info ml-20" @click="showShare=true">
				<image class="bottom_img" src="../../static/images/shared.png"></image>
			</view>
			<!-- #endif -->
		</view>
		<block v-if="showShare">
			<view class="share_box" :style="'padding-bottom:'+bottomBox+'px'">
				<view class="display_flex" style="justify-content: center;">
					<view style="width: 100px;height: 1px;background: #eaeaea;"></view>
					<view class="c-black f-10 ml-5 mr-5">分享</view>
					<view style="width: 100px;height: 1px;background: #eaeaea;"></view>
				</view>
				<!-- #ifdef MP -->
				<view class="display_flex mt-20">
					<button class="share_cell" open-type="share">
						<image class="share_img" src="../../static/images/wecheck.png"></image>
						<view>微信好友</view>
					</button>
					<view class="share_cell" @click="getPoster">
						<image class="share_img" src="../../static/images/friend.png"></image>
						<view>朋友圈</view>
					</view>
				</view>
				<!-- #endif -->
				<!-- #ifdef APP-PLUS -->
				<view class="display_flex mt-20">
					<view class="share_cell" @click="shareApp('WXSceneSession')">
						<image class="share_img" src="../../static/images/wecheck.png"></image>
						<view>微信好友</view>
					</view>
					<view class="share_cell" @click="shareApp('WXSenceTimeline')">
						<image class="share_img" src="../../static/images/friend.png"></image>
						<view>朋友圈</view>
					</view>
				</view>
				<!-- #endif -->
			</view>
			<view class="wask_box" @click="showShare=false"></view>
		</block>
		<block v-if="showShareUrl">
			<view class="share_url_box">
				<image class="share_url" :src="share_url" mode="widthFix"></image>
				<view class="shareBtn" @click="showShareUrl=false">我知道了</view>
			</view>
			<view class="wask_box" @click="showShareUrl=false"></view>
		</block>
	</view>
</template>

<script>
	import {
		getArticleInfo,
		articleCollect,
		articlePoster
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				id: '',
				params: {
					user_id: ''
				},
				info: '',
				all_pics: '',
				bottomHeight: uni.getSystemInfoSync().safeAreaInsets.bottom + 60,
				bottomBox: uni.getSystemInfoSync().safeAreaInsets.bottom > 0 ? uni.getSystemInfoSync().safeAreaInsets
					.bottom : 8,
				current: 1,
				showShare: false,
				showShareUrl: false,
				share_url: '',
				imagelist: [],
			};
		},
		onLoad(options) {
			this.user_id = uni.getStorageSync('member') ? uni.getStorageSync('member').id : ''
			var scene = decodeURIComponent(options.scene);
			var list = scene.split('-');
			this.id = list[0]
			this.getArticleInfo()
		},
		onShow() {
			this.user_id = uni.getStorageSync('member') ? uni.getStorageSync('member').id : ''
		},
		methods: {

			goImgComment() {
				if (uni.getStorageSync('access_token')) {
					uni.navigateTo({
						url: '/pages/imageComment/imageComment?scene=' + this.id,
					})
				} else {
					uni.navigateTo({
						url: '/pages/login/login',
					})
				}
			},
			getArticleInfo() {
				getArticleInfo(this.params, this.id).then(res => {
					if (res.state == 1) {
						this.all_pics = res.data.all_pics
						var image = []
						for (var i = 0; i < this.all_pics.length; i++) {
							image.push(this.all_pics[i].img_url)
						}
						this.imagelist = image
						this.info = res.data
						var params = {
							event_code: '图集详情',
							path: 'pages/articleimg/articleimg',
							user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
							source: app.globalData.source,
							event_id: res.data.id,
							title: res.data.title,
							invitees_scene_id: '',
							source_page: '',
							value: '',
						}
						app.BurialPoint(params)
					}

				})
			},
			previewImg(index) {
				uni.previewImage({
					current: this.imagelist[index], // 当前显示图片的http链接
					urls: this.imagelist // 需要预览的图片http链接列表
				})
			},
			changeImg(e) {
				this.current = e.detail.current + 1

			},
			//跳转写评论页
			goComment(e) {
				if (uni.getStorageSync('access_token')) {
					uni.navigateTo({
						url: '/pages/commentpost/commentpost?id=' + this.id + '&type=2'
					})
					var params = {
						event_code: '图集详情',
						path: 'pages/articleimg/articleimg',
						user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
						source: app.globalData.source,
						event_id: this.info.id,
						title: this.info.title,
						invitees_scene_id: '',
						source_page: '去评论',
						value: '',
					}
					app.BurialPoint(params)
				} else {
					uni.navigateTo({
						url: '/pages/login/login?is_goan=1'
					})
				}

			},
			//收藏
			collect() {
				if (uni.getStorageSync('access_token')) {
					var params = {
						id: this.info.id,
						type: this.info.is_collect == 1 ? 2 : 1
					}
					articleCollect(params).then(res => {
						if (res.state == 1) {
							this.info.is_collect = this.info.is_collect == 1 ? 0 : 1
						}
					})

				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			//获取海报
			getPoster() {
				if (uni.getStorageSync('access_token')) {
					var params = {
						source: app.globalData.source,
						id: this.id,
						user_id: uni.getStorageSync('member').id
					}
					articlePoster(params).then(res => {
						if (res.state == 1) {
							this.share_url = res.data.share_url
							this.showShareUrl = true
							this.showShare = false
							uni.downloadFile({
								url: res.data.share_url,
								success: function(res) {
									var tempFilePath = res.tempFilePath
									console.log(res.tempFilePath)
									uni.authorize({
										scope: 'scope.writePhotosAlbum',
										success() {
											uni.saveImageToPhotosAlbum({
												filePath: tempFilePath,
												success: function() {
													uni.showToast({
														title: '保存成功了，快去分享吧~',
														icon: 'none',
														duration: 1500
													});
													console.log('save success');
												},
												fail(e) {
													console.log('下载失败')
												}
											});
										},
										fail() {
											console.log('未授权')
										}
									})

								},

							})

						}
					})
				} else {
					uni.navigateTo({
						url: '/pages/login/login?is_goan=1'
					})
				}
			},
			//微信app分享
			shareApp(scene) {
				var that = this

				if (scene == 'WXSceneSession') {
					uni.share({
						provider: "weixin",
						scene: scene,
						type: 5,
						title: that.info.title,
						imageUrl: that.info.share_image,
						miniProgram: {
							id: 'gh_664d5a5771aa',
							path: '/pages/article/article?scene=' + that.id,
							type: 0,
							webUrl: "https://m.motortime.com/article/" + that.id + "/post"
						},
						success: function(res) {
							that.showShare = false
							console.log("success:" + JSON.stringify(res));
						},
						fail: function(err) {
							that.showShare = false
							console.log("fail:" + JSON.stringify(err));
						}
					});
				} else {
					uni.share({
						provider: "weixin",
						scene: scene,
						type: 0,
						href: "https://m.motortime.com/article/" + that.id + "/post",
						title: that.info.title,
						summary: that.info.description,
						imageUrl: that.info.share_image,
						success: function(res) {
							that.showShare = false
							console.log("success:" + JSON.stringify(res));
						},
						fail: function(err) {
							that.showShare = false
							console.log("fail:" + JSON.stringify(err));
						}
					});

				}
				app.getShareTask('/pages/articleimg/articleimg')
			}
		},
		//分享
		onShareAppMessage(res) {
			this.showShare = false
			return {
				title: this.info.title,
				path: '/pages/article/article?scene=' + this.id,
				imageUrl: this.info.share_image
			}
			app.getShareTask('/pages/articleimg/articleimg')
		},
	}
</script>

<style lang="scss">
	.articleimg {
		overflow-y: hidden;

		.img_masker {
			position: fixed;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			background-color: #000;
		}

		.img_box {
			width: 100%;
			top: 28%;
			position: fixed;

			swiper-item {
				height: 450rpx;
			}

			swiper {
				width: 100%;
				height: 450rpx !important;
			}

			.swiper {
				width: 100%;
				height: 450rpx;
			}

			.swiper_img {
				width: 100%;
				height: 450rpx;
			}

			.img_num {
				padding: 10px;
				color: #F0F0F0;
				font-size: 15px;
			}

		}
	}
</style>
