<template>
	<view class="caraudit">
		<view class="text-c" style="margin-bottom:50rpx;">
			<image src="/static/images/member/approceing.png" class="approve-pic"></image>
			<view class="f-16 mt-40 f-w">您的认证已提交</view>
			<view class="f-16 mt-5 f-w">预计2～3个工作日完成审核</view>
		</view>
		<button class="weui-btn f-16" @click="goMotormaster">我知道了</button>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				delta: 1
			};
		},
		onLoad(options) {
			
			this.delta = parseInt(options.delta) + 1
			console.log('delta==='+parseInt(options.delta))
		},
		methods: {
			goMotormaster() {
				
				uni.navigateBack({
					delta: this.delta
				})
			}
		}
	}
</script>

<style lang="scss">
	.caraudit {
		.approve-pic {
			width: 82rpx;
			height: 110rpx;
			margin-top: 50%;
		}

		.weui-cells {
			margin: 0 30rpx;
		}

		.weui-btn {
			height: 90rpx;
			background-color: #FFBB00;
			color: #010203;
			font-weight: 400;
			border-radius: 5rpx;
			margin: 0 80rpx;
			font-size: 26rpx;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		button[size='mini'] {
			font-size: 28rpx !important;
		}

		button::after {
			border: 0px solid rgba(0, 0, 0, .2);
		}
	}
</style>
