<template>
	<view class="carinfo">
		<view class="car_model_box">
			<view class="car_model">认证车型</view>
			<view class="c-gray">{{model_name}}</view>
		</view>
		<view class="card_box">
			<block v-if="travel">
				<view
					:class="travel=='https://pic.motortime.com/static/travel.png'?'driver_box pic_border':'driver_box'"
					:style="'background-image: url('+travel+')'" @click="chooseImage('travel')" v-if="is_have_card==1">
					<view v-if="showEdit">
						<view class="infobox" v-if="travel=='https://pic.motortime.com/static/travel.png'">
							<image class="camera" src="/static/images/camera.png"></image>
							<view class="f-w f-13">请添加行驶证照片</view>
						</view>
					</view>
				</view>
			</block>
			<block v-if="driving">
				<view
					:class="driving=='https://pic.motortime.com/static/mycars.png'?'driver_box pic_border':'driver_box'"
					:style="'background-image: url('+driving+')'" @click="chooseImage('driving')">
					<view v-if="showEdit">
						<view class="infobox" v-if="driving=='https://pic.motortime.com/static/mycars.png'">
							<image class="camera" src="/static/images/camera.png"></image>
							<view class="f-w f-13">请上传一张您爱车的照片（选填）</view>
						</view>
					</view>
				</view>
			</block>
		</view>
		<view style="display:flex;padding:30rpx;align-items: center;" v-if="showEdit">
			<!-- <view class="" @click="checkboxChange">
				<icon class="weui-icon-checkbox_circle" type="circle" size="14" v-if="!checked"></icon>
				<icon class="weui-icon-checkbox_success" type="success" color='#FFBB00' size="14" v-if="checked">
				</icon>
			</view>
			<view class="f-12 ml-15">
				<text class="c-gray" @click="checkboxChange">我已阅读并同意</text>
				<text class="c-conten" @click="goWebview">《汽车时间车主认证个人信息保护声明》</text>
			</view> -->
			<label class="radio" @change="checkboxChange">
				<radio value="r1" :checked="checked" style="transform:scale(0.6)" color='#FFBB00'
					@click="checkboxChange" />
				<text class="c-gray f-12" @click="checkboxChange">我已阅读并同意</text>
				<text class="c-conten f-12" @click="goWebview">《汽车时间车主认证个人信息保护声明》</text>
			</label>
		</view>
		<view class="btn-bott" v-if="showEdit">
			<button class="savebtn f-14" @click="savecars" :disabled="!checked">提交认证信息</button>
		</view>
	</view>
</template>

<script>
	import {
		getCarinfo,
		submitCars
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				info: '',
				model_name: '',
				travel: 'https://pic.motortime.com/static/travel.png',
				driving: 'https://pic.motortime.com/static/mycars.png',
				showEdit: true,
				is_have_card: 1,
				car_card: '',
				car_pic: '',
				checked: false,
				brand_id: '',
				car_id: '',
				car_model_id: '',
				delta: 4
			};
		},
		onLoad(options) {
			this.delta = parseInt(options.delta) + 1
			this.is_have_card = options.is_have_card
			this.brand_id = options.brand_id
			this.car_id = options.car_id
			this.car_model_id = options.model_id
			if (options.brand_name) {
				var brand_name = options.brand_name
				var car_name = options.car_name
				this.brand_name = options.brand_name
				this.car_name = options.car_name
				var havebrand = car_name.indexOf(brand_name)
				if (havebrand == 0) {
					this.model_name = options.car_name

				} else {
					this.model_name = options.brand_name + options.car_name
				}
			}

			if (options.id) {
				this.getCarinfo(options.id)
			}

		},
		onShow() {
			var params = {
				event_code: '车主认证_我的车辆',
				event_id: '',
				title: '',
				value: '',
				path: 'pages/motormaster/motormaster',
				user_id: uni.getStorageSync('member').id,
			}
			app.BurialPoint(params)
		},
		methods: {
			getCarinfo(id) {
				getCarinfo(id).then(res => {
					if (res.state == 1) {
						var info = res.data
						this.info = res.data
						this.travel = res.data.car_card_url
						this.driving = res.data.car_pic_url
						this.car_card = res.data.car_card
						this.car_pic = res.data.car_pic
						if (info.car_model) {
							var car_modeltitle = info.car_model.title
							var car_model_id = info.car_model.id
						} else {
							var car_modeltitle = info.car_model_name
							var car_model_id = ''
						}
						if (info.car_generation) {
							var car_generationid = info.car_generation.id
						} else {
							var car_generationtitle = ''
							var car_generation_id = ''
						}
						if (info.car) {
							var car_id = info.car.id
							var car_name = info.car.title
						} else {
							var car_id = ''
							var car_name = info.car_name
						}
						var brand_name = info.brand.title
						var havebrand = car_name.indexOf(brand_name)
						if (havebrand == 0) {
							this.model_name = car_name
						} else {
							this.model_name = brand_name + car_name
						}
						if (info.is_audit == 2) {
							this.showEdit = true
						} else {
							this.showEdit = false
						}
					}
				})
			},
			chooseImage(type) {
				var that = this
				if (that.showEdit) {
					uni.chooseImage({
						count: 1,
						sizeType: ['original', 'compressed'], //可以指定是原图还是压缩图，默认二者都有
						sourceType: ['album'], //从相册选择
						success: function(res) {
							var tempFilePaths = res.tempFilePaths
							uni.uploadFile({
								url: app.globalData.uploadUrl,
								filePath: tempFilePaths[0],
								name: 'img',
								success: (uploadFileRes) => {
									console.log(JSON.parse(uploadFileRes.data));
									var picdata = JSON.parse(uploadFileRes.data);
									if (type == 'travel') {
										that.travel = picdata.data.img_url
										that.car_card = picdata.data.img
									} else {
										that.driving = picdata.data.img_url
										that.car_pic = picdata.data.img

									}
								}
							});
						}
					});
				}
			},
			checkboxChange() {
				this.checked = this.checked ? false : true
			},
			goWebview() {
				this.checked = true
				uni.navigateTo({
					url: '/pages/webview/webview?scene=https://m.motortime.com/carstate',
				})
			},
			savecars() {
				var that = this
				that.checked = false
				var params = {
					brand_id: that.brand_id,
					car_id: parseInt(that.car_id),
					car_model_id: parseInt(that.car_model_id),
					car_card: that.car_card,
					car_pic: that.car_pic,
					car_name: that.car_name,
					car_generation_name: that.car_generation_name,
					car_model_name: that.car_model_name,
					is_have_card: that.is_have_card,
				}
				console.log(params)

				submitCars(params).then(res => {
					if (res.state == 1) {
						uni.showToast({
							title: '提交成功',
							mask: true,
							icon: 'success',
							duration: 1500,
							success: function() {
								setTimeout(function() {
									uni.navigateTo({
										url: '/pages/caraudit/caraudit?delta=' + that
											.delta
									});
									that.checked = true
								}, 1000)
							}
						})
					} else {
						that.checked = true
						uni.showToast({
							title: res.data.error[0],
							icon: 'none',
							duration: 1500
						});
					}
				})
			}
		}
	}
</script>

<style lang="scss">
	.carinfo {
		.car_model_box {
			display: flex;
			align-items: center;
			font-size: 14px;
			padding: 15px;
			border-top: 1px solid #eaeaea;
			border-bottom: 1px solid #eaeaea;

			.car_model {
				flex: 1;
				font-weight: bold;
			}
		}

		.card_box {
			padding: 0 15px;

			.driver_box {
				width: 100%;
				height: 420rpx;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;

				margin-top: 30px;
			}

			.pic_border {
				border: 2px dashed #979797;
			}

			.infobox {
				text-align: center;
				padding: 20%;
			}

			.camera {
				width: 40px;
				height: 40px;
			}


		}

		.btn-bott {
			padding: 15px;
		}

		.savebtn {
			background: #FFBB00;
			color: #010203;
			height: 45px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 2px;
		}
	}
</style>
