<template>
	<view class="salesorder_pages">
		<view class="salesorder_cell" v-for="(item,index) in list" :key="item.id">
			<view class="salesorder_cell_top" @click="showOrderInfo(index)">
				<view class="ellipsis flex-1">{{item.goods_name}}</view>
				<view class="salesorder_goods_status f-14 c-red" v-if="item.status==1">结算中</view>
				<view class="salesorder_goods_status f-14 c-gray" v-if="item.status==2">已完成</view>
				<view class="salesorder_goods_status f-14 c-gray" v-if="item.status==3">无效</view>
			</view>
			<view class="salesorder_goods_info">
				<view class="salesorder_img_box" @click="showOrderInfo(index)">
					<image mode="aspectFill" class="salesorder_img" :src="item.cover_img"></image>
				</view>
				<view class="salesorder_goods">
					<view class="display_flex">
						<view class="flex-1">
							<span class="mysaleslist_goods_title">订 单 号：</span>
							<span class="mysaleslist_goods_name">{{item.order_no}}</span>
						</view>
						<view class="copy_btn" @click="copyOrderNo(item.order_no)">复制订单号</view>
					</view>
					<view @click="showOrderInfo(index)">
						<span class="mysaleslist_goods_title">完成时间：</span>
						<span class="mysaleslist_goods_name">{{item.d_time}}</span>
					</view>
					<view @click="showOrderInfo(index)">
						<span class="mysaleslist_goods_title">预估结算时间：</span>
						<span class="mysaleslist_goods_name">{{item.settle_time}}</span>
					</view>
					<view @click="showOrderInfo(index)" class="display_flex" style="justify-content: space-between;">
						<view>
							<span class="mysaleslist_goods_title">数量：</span>
							<span>{{item.number}}</span>
						</view>
						<view>
							<span class="mysaleslist_goods_title">订单金额：</span>
							<span class="c-red">{{item.price}}</span>
						</view>
						<view>
							<span class="mysaleslist_goods_title">预估佣金：</span>
							<span class="c-red">{{item.commission}}</span>
						</view>
					</view>
				</view>
			</view>
		</view>
		<view class="text-c pd-30 c-gray f-14" v-if="endLoad">{{endLoad_text}}</view>
		<view v-if="showPop" class="mask_box" @click="closePop"></view>
		<view v-if="showPop" class="saleOrderPop">
			<view class="f-w f-14 mb-15 text-c">订单详情</view>
			<view class="mb-10 display_flex">
				<view class="text-r display_flex" style="width: 110rpx;justify-content: space-between;">
					<view>订</view>
					<view>单</view>
					<view>号:</view>
				</view>
				<view class="flex-1 ml-10">{{info.order_no}}</view>
			</view>
			<view class="mb-10 display_flex">
				<view class="text-r display_flex" style="width: 110rpx;justify-content: space-between;">
					<view>订</view>
					<view>单</view>
					<view>金</view>
					<view>额:</view>
				</view>
				<view class="flex-1 ml-10 c-red">￥{{info.price}}</view>
			</view>
			<view class="mb-10 display_flex">
				<view class="text-r display_flex" style="width: 110rpx;justify-content: space-between;">
					<view>佣</view>
					<view>金:</view>
				</view>
				<view class="flex-1 ml-10 c-red">￥{{info.commission}} <span class="c-black ml-10">({{info.commission_level}})</span></view>
				
			</view>
			<view class="mb-10 display_flex">
				<view class="text-r display_flex" style="width: 110rpx;justify-content: space-between;">
					<view>姓</view>
					<view>名:</view>
				</view>
				<view class="flex-1 ml-10">{{info.user_name}}</view>
			</view>
			<view class="mb-10 display_flex">
				<view class="text-r display_flex" style="width: 110rpx;justify-content: space-between;">
					<view>电</view>
					<view>话:</view>
				</view>
				<view class="flex-1 ml-10">{{info.mobile}}</view>
			</view>
			<view class=" display_flex">
				<view class="text-r display_flex" style="width: 110rpx;justify-content: space-between;">
					<view>地</view>
					<view>址:</view>
				</view>
				<view class="flex-1 ml-10">{{info.city_name}}</view>
			</view>
		</view>
	</view>
</template>

<script>
	import {
		getSaleOrderList,
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				list: [],
				params: {
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : 0,
					page: 1,
					size: 20,
				},
				endLoad: true,
				endLoad_text: '',
				info: '',
				showPop: false,
			};
		},
		onShow() {
			wx.hideShareMenu()
		},
		onLoad() {
			var params = {
				event_code: '带货商品订单列表',
				path: 'pages/shop/salesorder/salesorder',
				user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
				invitees_scene_id: '',
				source_page: '',
				event_id: '',
				title: '',
				value: '',
			}
			app.BurialPoint(params)
			uni.showLoading()
			this.getSaleOrderList()
		},
		methods: {
			getSaleOrderList() {
				getSaleOrderList(this.params).then(res => {
					if (res.state == 1) {
						this.list = [...this.list, ...res.data.data]
						this.current_page = res.data.current_page
						this.last_page = res.data.last_page
						if (res.data.total == 0) {
							this.endLoad = true
							this.endLoad_text = '暂无订单'
						} else {
							if (res.data.total < this.params.size) {
								this.endLoad = true
								this.endLoad_text = '已加载全部'
							} else {
								this.endLoad = false
							}
						}
						uni.hideLoading()
					} else {
						uni.hideLoading()
						uni.showToast({
							title: res.error[0],
							mask: true,
							icon: 'none',
							duration: 1500
						})
					}
				})
			},
			copyOrderNo(num) {
				if (num) {
					uni.setClipboardData({
						data: num,
						success(res) {
							uni.showToast({
								title: '复制成功',
								icon: 'success',
								duration: 1500
							})
						}
					})
				}
			},
			showOrderInfo(index) {
				this.info = this.list[index]

				this.showPop = true
			},
			closePop() {
				this.info = ''
				this.showPop = false
			}
		},
		onReachBottom() {
			if (this.last_page > this.current_page) {
				this.params.page++
				this.getSaleOrderList()
			} else {
				this.endLoad = true
				this.endLoad_text = '已加载全部'
			}
		},
		onPullDownRefresh() {
			this.endLoad = true
			this.endLoad_text = ''
			this.params.page = 1
			this.list = []
			uni.showLoading()
			this.getSaleOrderList()
		},
		// onShareAppMessage(res) {
		// 	return {

		// 	}
		// },
		// onShareTimeline: function() {
		// 	return {

		// 	}
		// },
	}
</script>

<style lang="scss">
	page {
		background-color: #F4F4F4;
	}

	.salesorder_pages {
		.salesorder_cell {
			background-color: #ffffff;
			margin-top: 20rpx;

			.salesorder_cell_top {
				color: #030303;
				font-size: 24rpx;
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 12rpx 20rpx;
				border-bottom: 2rpx solid #E8E8E8;
			}

			.salesorder_goods_info {
				color: #030303;
				font-size: 24rpx;
				display: flex;
				align-items: center;
				padding: 20rpx 20rpx 30rpx 20rpx;

				.salesorder_img_box {
					width: 140rpx;
					height: 160rpx;

					.salesorder_img {
						width: 140rpx;
						height: 160rpx;
					}
				}

				.salesorder_goods {
					flex: 1;
					margin-left: 20rpx;
					line-height: 40rpx;
				}

				.mysaleslist_goods_title {
					color: #4B4B4B;
				}

				.copy_btn {
					color: #6E6E6E;
					text-align: center;
					padding: 6rpx 10rpx;
					border-radius: 8rpx;
					background-color: #E8E8E8;
				}
			}
		}

		.saleOrderPop {
			position: fixed;
			top: 30%;
			left: 10%;
			right: 10%;
			color: #030303;
			z-index: 1001;
			border-radius: 8rpx;
			padding: 30rpx;
			font-size: 26rpx;
			background-color: #ffffff;
		}
	}
</style>