<template>
	<view class="activeaudit_box">
		<image mode='widthFix' class="image_bg"
			:src="info.enroll_success_pic?info.enroll_success_pic:info.background_pic" v-if="info.is_audit==0"></image>
		<image mode='widthFix' class="image_bg" :src="info.audit_success_pic?info.audit_success_pic:info.background_pic"
			v-if="info.is_audit==1"></image>
		<image mode='widthFix' class="image_bg" :src="info.audit_fail_pic?info.audit_fail_pic:info.background_pic"
			v-if="info.is_audit==2"></image>
		<view class="page_box">
			<view class="audit_title">{{info.name}}</view>
			<view class="active_audit">
				<view class="point_line">
					<image class="active_state_img"
						:src="info.status==0&&info.is_enroll==0?'/static/images/active_now.png':'/static/images/active_no.png'">
					</image>
					<view class="line"></view>
					<image v-if="info.is_audit==1" class="active_state_img"
						:src="info.status==0&&info.is_enroll==1?'/static/images/active_now.png':'/static/images/active_no.png'">
					</image>
					<image v-else class="active_state_img"
						:src="info.status==0&&info.is_enroll==1?'/static/images/active_on.png':'/static/images/active_no.png'">
					</image>
					<view class="line"></view>
					<image class="active_state_img"
						:src="info.status==1?'/static/images/active_now.png':'/static/images/active_no.png'">
					</image>
					<view class="line"></view>
					<image class="active_state_img"
						:src="info.status==2?'/static/images/active_en.png':'/static/images/active_no.png'">
					</image>
				</view>
				<view class="point_line_name">
					<view
						:class="info.status==0&&is_enroll==0?'active_state_name active_state_name_on_g':'active_state_name'">
						<view>
							填写信息
						</view>
					</view>
					<view class="name_line"></view>
					<view class="active_state_name">
						<view :class="info.status==0&&info.is_enroll==1?'active_state_name_on_r':''"
							v-if="info.is_audit==0">
							审核中
						</view>
						<view :class="info.status==0&&info.is_enroll==1?'active_state_name_on_g':''"
							v-if="info.is_audit==1">
							审核通过
						</view>
						<view :class="info.status==0&&info.is_enroll==1?'active_state_name_on_r':''"
							v-if="info.is_audit==2">
							审核未通过
						</view>
					</view>
					<view class="name_line"></view>
					<view :class="info.status==1?'active_state_name active_state_name_on_g':'active_state_name'">
						<view>
							参与活动
						</view>
					</view>
					<view class="name_line"></view>
					<view :class="info.status==2?'active_state_name active_state_name_on_y':'active_state_name'">
						<view>
							活动结束
						</view>
					</view>
				</view>
			</view>
			<view class="text-c mt-38" v-if="info.is_audit==0">您和爱车的基本信息已提交审核</view>
			<view class="text-c mt-38" v-if="info.is_audit==1">您和爱车的基本信息审核通过</view>
			<view class="mt-38" style="padding:0 60rpx;" v-if="info.is_audit==0||info.is_audit==1">
				{{info.refuse_reason}}
			</view>
			<view class="text-c mt-38" v-if="info.is_audit==2">您和爱车的基本信息未审核通过</view>
			<view class="text-c mt-38" style="padding:0 60rpx;" v-if="info.is_audit==2">未通过原因：{{info.refuse_reason}}
			</view>
			<view class="fixed_box" v-if="info.is_audit==0||info.is_audit==1">
				<view class="fix_btn" @click="goActive" v-if="info.status==1">去活动</view>
				<button open-type="share" class="fix_btn_on">分享给朋友</button>
			</view>
			<!-- <view class="fixed_box" v-if="info.is_audit==1">
				<view class="fix_btn" @click="goActive">去活动</view>
				<button open-type="share" class="fix_btn_on">分享给朋友</button>
			</view> -->
			<view class="fixed_box" v-if="info.is_audit==2">
				<view class="fix_btn form_on" @click="againForm">重新审核</view>
				<button open-type="share" class="fix_btn_on">分享给朋友</button>
			</view>
		</view>
	</view>
</template>

<script>
	import {
		getActiveInfo
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				info: ''
			};
		},
		onLoad(options) {
			this.hid = options.hid
			this.again = options.again

		},
		onShow() {

			if (uni.getStorageSync('member').username) {
				this.getActiveInfo()
			} else {
				uni.navigateTo({
					url: '/pages/login/login'
				})
			}
		},
		methods: {
			getActiveInfo() {
				var params = {
					user_id: uni.getStorageSync('member').id,
				}
				getActiveInfo(params, this.hid).then(res => {
					if (res.state == 1) {
						this.info = res.data
						var params = {
							event_code: '活动审核',
							path: 'pages/signin/mapactiveaudit/mapactiveaudit',
							user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
							source: app.globalData.source,
							event_id: res.data.id,
							title: res.data.title,
							invitees_scene_id: '',
							source_page: '',
							value: '',
						}
						app.BurialPoint(params)
					}

				})
			},
			goActive() {
				var range_coordinate = this.info.range_coordinate
				if (range_coordinate.length > 1) {
					uni.redirectTo({
						url: '/pages/signin/signin/signin?scene=' + this.hid,
					})
				} else {
					uni.redirectTo({
						url: '/pages/jxactive/activeqr/activeqr?scene=' + this.hid,
					})
				}

			},
			againForm() {
				uni.reLaunch({
					url: '/pages/signin/mapactiveform/mapactiveform?scene=' + this.hid + '&again=1'
				})
			}
		}
	}
</script>

<style lang="scss">
	.activeaudit_box {

		background-color: #f1f1f1;
		position: relative;

		.image_bg {
			width: 100%;
			position: absolute;
			top: 0;
		}

		.page_box {
			position: absolute;
			width: 100%;
		}

		.audit_title {
			color: #000;
			font-size: 36rpx;
			font-weight: bold;
			text-align: center;
			padding-top: 80rpx;
			margin-bottom: 20rpx;
		}

		.mt-38 {
			margin-top: 30rpx;
			color: #000;
			font-size: 26rpx;
		}

		.topic_title {
			margin-top: 30rpx;
			color: #1F2A74;
			font-size: 28rpx;
			font-weight: bold;
			padding: 10rpx 0;
			/* background-color: #fff; */
			width: 80%;
			margin: 30rpx auto;
		}

		.title_line {
			text-decoration: underline
		}

		.qrcode_box {
			width: 450rpx;
			height: 640rpx;
			margin: 80rpx auto;
			border-radius: 16rpx;
			border: 4rpx solid #1F2A74;
			overflow: hidden;
		}

		.qrcode_top {
			color: #FFFFFF;
			font-size: 32rpx;
			text-align: center;
			padding: 35rpx 0;
			background-color: #1F2A74;
		}

		.qrcode_bottom {
			height: 100%;
			color: #666666;
			background-color: #E7EAF9;
			padding: 40rpx 0 30rpx 0;
			text-align: center;
		}

		.qrcode_img {
			width: 320rpx;
			height: 320rpx;
		}

		.fix_btn_on {
			text-align: center;
			background-color: #1E2A75;
			color: #fff;
			border-radius: 50rpx;
			font-size: 28rpx;
			padding: 25rpx 0;
			width: 300rpx !important;
			padding-left: 0px;
			padding-right: 0px;
			margin-left: 30rpx !important;
			margin-right: 0 !important;
			font-weight: 400 !important;
			font-size: 28rpx !important;
		}

		button {
			line-height: 1.4 !important;
		}

		button:after {
			border: none !important;

		}

		/* 步进器 */
		.active_audit {
			padding: 0 10rpx;
			padding-top: 20rpx;
		}

		.active_state_img {
			width: 30rpx;
			height: 30rpx;
		}

		.point_line {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.line {
			width: 140rpx;
			height: 2rpx;
			border-top: 2rpx solid #9A9A9A;
			margin: 0 15rpx;
		}

		.point_line_name {
			display: flex;
			align-items: center;
			justify-content: center;
			color: #9A9A9A;
			font-size: 24rpx;
			margin-top: 20rpx;
		}

		.active_state_name {
			min-width: 90rpx;
			text-align: center;
		}

		.active_state_name_on_g {
			color: #91C498;
			font-weight: bold;
		}

		.active_state_name_on_r {
			color: #EC8075;
			font-weight: bold;
		}

		.active_state_name_on_y {
			color: #9A9A9A;
			font-weight: bold;
		}


		.name_line {
			width: 75rpx;
			height: 2rpx;
			margin: 0 15rpx;
		}
	}
</style>
