<template>
	<view class="topic_page">
		<!-- <view class="nav-scroll">
			<scroll-view class="scroll-view_H" scroll-x="true" :scroll-left="navScrollLeft"
				scroll-with-animation="true">
				<text v-for='(item,index) in blist' :key="item.id" @click="handleTap(item.id,index)"
					:class="bid==item.id ? 'nav-name f-w weui-bar_on' : 'nav-name f-w'">{{item.title}}</text>
			</scroll-view>
		</view> -->
		<view class="topic_box">
			<view class="topic_left">
				<view :class="item.id==params.category_id?'topic_left_title topic_left_title_on':'topic_left_title'"
					v-for="(item,index) in clist" :key="item.id" @click="checkCate(item.id)">
					<span v-if="item.id==params.category_id" class="borderleft"></span>
					{{item.name}}
				</view>
			</view>
			<view class="topic_right">
				<view class="ml-15 mt-20 topic-cell" v-for="(item,index) in list" :key="item.id"
					@click="chooseTopic(item.id,item.name)">
					<view class="display_flex">
						<image class="topic_img" mode="aspectFill" :src="item.pic_url"></image>
						<view class="f-14 c-black ml-20">#{{item.name}}#</view>
					</view>
				</view>
				<view class="btn_block" @click="openTopicadd" :style="'bottom: '+bottomheight+'rpx;'">创建话题</view>
				<view class="mt-25 c-gray f-12 text-c" v-if="showNoTopic">暂无话题</view>
			</view>
		</view>
	</view>
</template>

<script>
	import {
		getTopicCate,
		getTopicList,
		getTopicBrands
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				blist: [],
				clist: [],
				list: [],
				params: {
					category_id: 0,
					media_id: 1,
					page: 1,
					size: 999,
				},
				bid: 1,
				navScrollLeft: '',
				showNoTopic: false,
				bottomheight: 0
			};
		},
		onShow() {

		},
		onLoad(options) {
			this.bottomheight = app.globalData.bottomheight?app.globalData.bottomheight:0
			this.params.category_id = options.scene
			if (options.scene) {
				this.getTopicCate()
				this.getTopicList()
			} else {
				this.getTopicCate()
			}

		},
		methods: {
			getTopicBrands() {
				getTopicBrands().then(res => {
					if (res.state == 1) {
						this.blist = res.data
						this.bid = this.blist[0].id
						this.getTopicCate()
					}
				})
			},
			getTopicCate() {
				getTopicCate({
					media_id: 1
				}).then(res => {
					if (res.state == 1) {
						this.clist = res.data
						if (this.clist.length > 0) {
							if (this.params.category_id == 0) {
								this.params.category_id = this.clist[0].id
							}
							this.getTopicList()
						}

					}
				})
			},
			getTopicList() {
				getTopicList(this.params).then(res => {
					uni.hideLoading()
					if (res.state == 1) {
						this.list = res.data.data
						if (res.data.total == 0) {
							this.showNoTopic = true
						} else {
							this.showNoTopic = false
						}
					}

				})
			},
			handleTap(id, index) {
				var singleNavWidth = app.globalData.windowWidth / 5;
				var navScrollLeft = (index - 2) * singleNavWidth;
				//tab选项居中   
				this.navScrollLeft = index * singleNavWidth
				this.bid = id
				this.clist = []
				this.list = []
				this.getTopicCate()
			},
			checkCate(id) {
				this.params.category_id = id
				this.getTopicList()
			},
			chooseTopic(id, name) {
				var params = {
					id: id,
					name: name
				}
				uni.setStorage({
					key: 'namelist',
					data: [params],
				})
				uni.navigateBack({
					delta: 1
				})
			},
			openTopicadd() {
				uni.navigateTo({
					url: "/pages/topicadd/topicadd?category_id=" + this.params.category_id
				})
			}
		}
	}
</script>

<style lang="scss">
	.topic_page {
		overflow-y: hidden;
		border-top: 1rpx solid #eaeaea;

		.nav-scroll {
			// border-top: 1rpx solid #eaeaea;
			position: -webkit-sticky !important;
			position: sticky;
			top: 0px;
			background-color: #fff;
			z-index: 99;
			border-bottom: 1rpx solid #eaeaea;

			.scroll-view_H {
				white-space: nowrap;
				width: 100%;
				height: 85rpx;
				box-sizing: border-box;
				// border-bottom: 1rpx solid #eaeaea;
			}

			.nav-name {
				display: inline-block;
				font-size: 28rpx;
				padding: 22rpx 40rpx;
			}

			.weui-bar_on {
				background-color: #fff;
				color: #ffba00;
				border-bottom: 10rpx solid #ffba00;
			}
		}

		.topic_box {
			display: flex;

			.topic_left {
				width: 30%;
				color: #9A9A9A;
				font-size: 24rpx;
				background-color: #F8F8F8;
				height: 100vh;
				overflow-y: auto;

				.topic_left_title {
					padding: 35rpx 30rpx;
				}

				.topic_left_title_on {
					background-color: #ffffff;
				}

				.borderleft {
					margin-right: 10px;
					border-left: 3px solid #F6AB00;
					margin-left: -30rpx;
				}
			}

			.topic_right {
				flex: 1;
				height: 100vh;
				overflow-y: auto;
				position: relative;

				.topic_img {
					width: 120rpx;
					height: 80rpx;
					border-radius: 3rpx;
				}

				.topic-cell:last-child {
					margin-bottom: 40rpx;
				}

				.btn_block {
					font-size: 28rpx;
					position: absolute;
					left: 0;
					right: 0;
				}
			}
		}
	}
</style>
