<template>
	<view>
		
	</view>
</template>

<script>
	import {
		getTopicList,
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				
			};
		},
		onShow() {
			
		},
		onLoad() {
			
		},
		methods:{
			
		}
	}
</script>

<style lang="scss">

</style>
