<template>
	<view class="goodsinfo">
		<view style="padding-bottom: 120rpx;">
			<view class="infobox">
				<view class="swiper-box">
					<swiper class="swiper" autoplay="true" :interval="interval" :duration="duration" :current="current"
						bindchange="changeCurrent" :circular='true'>
						<block v-for="(item,index) in goodsimg_url" :key='index'>
							<swiper-item>
								<image :data-img="item" @click="previewImage" :src="item" mode="aspectFill"
									class="slide-image" />
							</swiper-item>
						</block>
					</swiper>
					<view class="picnum f-w f-15 c-white">
						<span class="">{{picnum}} </span>
						<span class="">/ {{goodsimg_url.length}}</span>
					</view>

				</view>
				<view class="mt-20 ml-15">
					<span class="f-17 price">{{info.price}}</span>
					<span class="f-12 price ml-5">积分</span>
				</view>
				<view class="ml-15" v-if="info.old_price">
					<span class="f-12 c-gray" style="text-decoration:line-through;" v-if="info.price!=info.old_price">原价
						￥{{info.old_price}}</span>
				</view>
				<view class="bordertlr">
					<view class="goodsname ellipsis-2">{{info.name}}</view>
					<view class="f-12 c-gray ml-15 mb-20">销量：{{info.buy_num}}</view>
				</view>
			</view>
			<view class="infobox pd-30">

				<view class="sels" v-if="attrs.length>1">
					<view class="f-w">商品</view>
					<view class="f-12 ml-15 flex-1">
						<block v-for="item in attrs" :key="item.id">
							<span
								:class="item.number==0?'nochoose mb-20 mr-10':item.active?'ruleactive mb-20 mr-10':'goodsrule mb-20 mr-10'"
								:id="item.id" @click="chooseAttr(item.id,item.number,item.price,item.old_price)">
								{{item.name}}
							</span>
						</block>
					</view>
				</view>
				<view class="display_flex">
					<view class="f-w w-15">数量</view>
					<view class="f-12 ml-15 flex-1" style="display:flex;">
						<view class="weui-cell__bd numbox">
							<view class="binbtn mr-10" @click="minusNum">-</view>
							<view class="num">{{num}}</view>
							<view class="binbtnr ml-10" v-if="info.is_limit==0" @click="addNum">+</view>
							<view class="binbtnr ml-10" style="background-color: #F1F1F1;" v-else>+</view>
						</view>
						<span class="c-gray f-r ml-15 mt-5">库存{{number}}件</span>
					</view>
				</view>
			</view>
			<view class="goods_content">
				商品详情
			</view>
			<view class="pd-30">
				<rich-text :nodes="content" class='content'></rich-text>
			</view>
		</view>
		<view class="bottom_box" :style="'padding-bottom:'+bottomBox+'px'">
			<view class="bottom_box_left">
				<view class="bottom_box_left_cell" @click="goHome">
					<image class="bottom_box_left_icon" src="/static/images/shop/home.png" />
					<view class="bottom_box_left_text">商城</view>
				</view>
				<button class="bottom_box_left_cell" open-type="contact" @contact="handleContact">
					<image class="bottom_box_left_icon" src="/static/images/shop/phone.png" />
					<view class="bottom_box_left_text">客服</view>
				</button>
			</view>
			<view class="bottom_box_right">
				<view class="tabb-long-btn f-12" @click="goodsBuy">立即兑换</view>
			</view>
		</view>
		<!-- <view class="my-tabbar" :style="'padding-bottom:'+bottomBox+'px'">
			<view class="tabb-long-btn f-12" style="width: auto;margin: 0 20%;" @click="goodsBuy">立即兑换</view>
		</view> -->
	</view>
</template>

<script>
	import {
		getGoodsInfo,
	} from '../../../api/motortime.js';
	var sliderWidth = 96;
	let app = getApp()
	export default {
		data() {
			return {
				interval: 3000,
				duration: 1000,
				current: 0,
				tabs: ["商品详情"],
				activeIndex: 0,
				sliderOffset: 0,
				sliderLeft: 0,
				info: '',
				num: 1,
				commlist: [],
				content: '',
				shou_content: '',
				attr_content: '',
				goods_attr_id: '',
				number: 0,
				goodsimg_url: [],
				picnum: 1,
				carnum: 0,
				user_id: 0,
				attrs: [],
				bottomBox: uni.getSystemInfoSync().safeAreaInsets.bottom > 0 ? uni.getSystemInfoSync().safeAreaInsets
					.bottom : 8,
			};
		},
		onLoad(options) {
			var that = this
			that.id = options.scene
			uni.getLocation({
				type: 'gcj02',
				isHighAccuracy: true,
				success: function(res) {
					that.latitude = res.latitude
					that.longitude = res.longitude

					that.getGoodsInfo()
				}
			})

			uni.getSystemInfo({
				success: function(res) {
					that.sliderLeft = (res.windowWidth / that.tabs.length - sliderWidth) / 2
					that.sliderOffset = res.windowWidth / that.tabs.length * that.activeIndex
				}
			});
			
		},
		methods: {
			getGoodsInfo() {
				var that = this
				var params = {
					latitude: that.latitude,
					longitude: that.longitude,
					user_id: uni.getStorageSync('member').id
				}
				getGoodsInfo(that.id, params).then(res => {
					if (res.state == 1) {
						that.info = res.data
						// that.attrs = res.data.attrs
						that.number = res.data.number
						var top_img_url_all = res.data.top_img_url_all
						if (top_img_url_all.length > 0) {
							that.goodsimg_url = res.data.top_img_url_all
						} else {
							that.goodsimg_url = res.data.img_url_all
						}
						var content = res.data.info_content
						var imgReg = /<img.*?(?:>|\/>)/gi;
						var srcReg = /src=[\'\"]?([^\'\"]*)[\'\"]?/i;
						var arr = content.match(imgReg);
						if (arr) {
							for (var i = 0; i < arr.length; i++) {
								that.content = content.replace(/\<img/gi, '<img class="contentimg" ')
							}
						}
						that.attrs = res.data.attrs
						if (that.attrs.length == 1) {
							that.attrs[0].active = true
							that.goods_attr_id = that.attrs[0].id
						}
					}

				})
			},
			//选择规格item.id,item.number,item.price,item.old_price
			chooseAttr(code, number, price, old_price) {
				var info = this.info
				info.price = price
				info.old_price = old_price
				var goodsimg_url = []
				if (number > 0) {
					var attrs = this.attrs
					for (var i = 0; i < attrs.length; i++) {
						if (attrs[i].id == code) {
							if (attrs[i].active) {
								attrs[i].active = false
								number = info.number
								code = ''
								var top_img_url_all = this.info.top_img_url_all
								if (top_img_url_all.length > 0) {
									goodsimg_url = this.info.top_img_url_all
								} else {
									goodsimg_url = this.info.img_url_all
								}
							} else {
								if (attrs[i].img_url) {
									if (attrs[i].img_url[0]) {
										goodsimg_url = attrs[i].img_url
									}
								}
								attrs[i].active = true
							}
						} else {
							attrs[i].active = false
						}
					}
					this.goods_attr_id = code
					this.attrs = attrs
					this.info = info
					this.number = number
					this.current = 0
					this.goodsimg_url = goodsimg_url
				} else {
					uni.showToast({
						title: '库存不足',
						icon: 'none',
						mask: true,
						duration: 500
					})
				}
			},
			//数量减
			minusNum() {
				var num = this.num
				if (num > 1) {
					num--
					this.num = num
				}
			},
			//数量加
			addNum() {
				if (this.num < this.number) {
					this.num = this.num + 1
				}
			},
			goodsBuy() {
				if (uni.getStorageSync('access_token')) {
					if (this.info.is_prohibit == 0) {
						uni.showToast({
							title: this.info.is_prohibit_text,
							icon: 'none',
							mask: true,
							duration: 1500
						})
					} else {
						app.good = this.info;
						if (this.goods_attr_id) {
							var integralNums = this.info.price * this.num
							if (integralNums < uni.getStorageSync('member').integral) {
								uni.navigateTo({
									url: '/pages/integral/integralorder/integralorder?num=' + this.num + '&attr_id=' + this
										.goods_attr_id
								})
							} else {
								uni.showToast({
									title: '积分不足',
									icon: 'none',
									mask: true,
									duration: 1500
								})
							}
						} else {
							uni.showToast({
								title: '请选择商品类型或规格~',
								icon: 'none',
								mask: true,
								duration: 1500
							})
						}
					}

				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			handleContact(e) {
				console.log(e)
				var params = {
					event_code: '积分商品详情',
					path: 'pages/integral/integralinfo/integralinfo',
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
					source_page: '商品详情-客服',
					event_id: this.info.id,
					title: this.info.name,
					value: '',
				}
				app.BurialPoint(params)
			},
		}
	}
</script>

<style lang="scss">
	.goodsinfo {
		.swiper {
			width: 100%;
			height: 600rpx;
		}

		.slide-image {
			width: 100%;
			height: auto;
			display: initial;
		}

		.picnum {
			color: #FFFFFF;
			position: relative;
			margin-top: -29px;
			float: right;
			background-color: rgba(0, 0, 0, 0.5);
			border-top-left-radius: 15px;
			border-bottom-left-radius: 15px;
			padding: 0 10rpx;
		}

		.infobox {
			border-bottom: 20rpx solid #f8f8f8;
		}

		.goodsname {
			padding: 30rpx;
			color: #3a3a3a;
			font-size: 30rpx;
			font-weight: bold;
		}

		.price {
			color: #E10000;
			font-weight: bold;
		}

		.sels {
			display: flex;
		}

		.w-60 {
			width: 15%;
		}

		.w-85 {
			width: 85%;
		}

		.weui-badged {
			font-size: 24rpx;
			border-radius: 2px;
			background-color: #fff;
			color: #3a3a3a;
			border: 1px solid #3a3a3a;
		}

		.ruleactive {
			color: #fff;
			background-color: #F6AB00;
			padding: 20rpx 40rpx;
			display: inline-block;
		}

		.goodsrule {
			color: #3A3A3A;
			background-color: #EAEAEA;
			padding: 20rpx 40rpx;
			display: inline-block;
		}

		.nochoose {
			color: #3A3A3A;
			background-color: #EAEAEA;
			padding: 20rpx 40rpx;
			display: inline-block;
			opacity: 0.5;
		}

		.numbox {
			display: flex;
			border: 1px solid #eaeaea;
		}

		.binbtn {
			width: 20px;
			height: 20px;
			text-align: center;
			border-right: 1px solid #eaeaea;
			line-height: 1.8;
		}

		.binbtnr {
			width: 20px;
			height: 20px;
			text-align: center;
			border-left: 1px solid #eaeaea;
			line-height: 1.8;
		}

		.num {
			margin-top: 2px;
		}

		.btn-box {
			text-align: center;
			padding: 15px;
			display: flex;
			margin: 0 auto;
		}

		.weui-navbar__item.weui-bar__item_on {
			background-color: #fff;
			border-bottom: 5rpx solid #F7AC01;
			color: #F7AC01;
			font-weight: bold;
		}

		.weui-navbar__item:after {
			border-right: 0rpx solid rgba(0, 0, 0, 0.1);
		}

		.content {
			font-size: 30rpx;
			line-height: 2;
		}

		.borderleft {
			margin-right: 10px;
			border-left: 3px solid #3a3a3a;
		}

		.my-tabbar {
			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;
			padding: 20rpx;
			background-color: #fff;
			z-index: 1000;
			border-top: 2rpx solid #f8f8f8;
		}

		.tabb-btn {
			color: #FFFFFF;
			background-color: #E10000;
			text-align: center;
			line-height: 3;
			width: 200rpx;
			font-weight: bold;
			border-radius: 30px;
		}

		.tabb-long-btn {
			color: #FFFFFF;
			background-color: #E10000;
			text-align: center;
			line-height: 3;
			width: 100%;
			font-weight: bold;
			border-radius: 30px;
		}

		.cartabb-btn {
			color: #FFFFFF;
			background-color: #F6AB00;
			text-align: center;
			line-height: 3;
			width: 200rpx;
			font-weight: bold;
			border-radius: 30px;
		}

		.buy-btn {
			color: #fff;
			background-color: #605c6b;
		}

		.weui-grids {
			border-top: 0rpx solid rgba(0, 0, 0, 0.1);
			border-left: 0rpx solid rgba(0, 0, 0, 0.1);
		}

		.weui-grid {
			padding: 0;
			border-right: 0rpx solid rgba(0, 0, 0, 0.1);
			border-bottom: 0rpx solid rgba(0, 0, 0, 0.1);
		}

		.weui-grid__icon {
			width: 40rpx;
			height: 40rpx;
			margin: 5px auto;
		}

		.weui-cells:before {
			border-top: 0rpx solid rgba(0, 0, 0, 0.1);
		}

		.contentimg {
			max-width: 100%;
		}

		button::after {
			border: 0px solid rgba(0, 0, 0, .2);
		}

		.presell {
			padding: 30rpx 30rpx 50rpx 30rpx;
			background-color: #13AA7E;
		}

		.bordertlr {
			margin-top: -20rpx;
			background-color: #fff;
			border-top-left-radius: 20rpx;
			border-top-right-radius: 20rpx;
		}

		.presell-btn {
			background-color: #13AA7E;
			text-align: center;
			/* line-height: 2; */
			padding: 10rpx;
			border-radius: 30px;
			display: flex;
		}

		.presell-btnd {
			color: #FFFFFF;
			background-color: #13AA7E;
			text-align: center;
			line-height: 3;
			width: 200rpx;
			font-weight: bold;
			border-radius: 30px;
			float: right;
		}

		.shopcarnum {
			position: absolute;
			top: 0;
			right: 12rpx;
			background-color: #D92121;
			font-size: 18rpx;
		}

		.delivery_time {
			align-items: center;
			justify-content: center;
			display: flex;
		}

		.presell_badge {
			margin-left: 30rpx;
			background-color: #13AA7E;
			border: 1rpx solid #fff;
			border-radius: 5rpx;
			font-size: 20rpx;
			padding: 3rpx 8rpx;
		}

		.goods_content {
			padding: 30rpx;
			font-size: 26rpx;
			color: #F7AC01;
			font-weight: bold;
			text-align: center;
			border-bottom: 5rpx solid #F7AC01;
			;
		}
		.bottom_box_left {
			width: 45%;
			display: flex;
			align-items: center;
		
			.bottom_box_left_cell {
				width: 33.333%;
				text-align: center;
				padding-left: 0;
				padding-right: 0;
				line-height: 16px !important;
		
				.bottom_box_left_icon {
					width: 40rpx;
					height: 40rpx;
				}
		
				.bottom_box_left_text {
					font-size: 24rpx;
					color: #3A3A3A;
				}
			}
		}
		
		.bottom_box_right {
			flex: 1;
			margin-left: 15rpx;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
</style>
