<template>
	<view class="followlist_page">
		<view class="tabs_fixed">
			<view :class="current == 0?'tabs_item tab_item_border':'tabs_item'" @click="onClickItem(0)">关注</view>
			<view :class="current == 1?'tabs_item tab_item_border':'tabs_item'" @click="onClickItem(1)">粉丝</view>
		</view>
		<view class="followlist_box">
			<view class="followlist_cell" v-for="(item,index) in list" :key="item.id">
				<view class="flex-1 display_flex">
					<view class="followlist_img_box">
						<image class="followlist_img" :src="item.headimg_url"></image>
					</view>
					<view class="f-15 f-w ml-15" style="color: #605c6b;">{{item.user_name}}</view>
				</view>
				<block v-if="item.id!=params.login_user_id">
					<view class="motor_list_user_follow" @click="followUser(item.id,1,index)"
						v-if="item.is_user_follow==0">
						<uni-icons type="plusempty" size="12" color="#F6AB00"></uni-icons>关注
					</view>
					<view class="motor_list_user_followd" @click="followUser(item.id,2,index)" v-else>
						已关注
					</view>
				</block>
			</view>
		</view>
		<view class="text-c" style="background-color: #FFFFFF;" v-if="showLoading"
			:style="'padding-bottom:'+bottomBox+'px;'">
			<image class="loading_gift" src="/static/images/gif.gif"></image>
		</view>
		<view class="text-c" style="background-color: #FFFFFF;" v-else :style="'padding-bottom:'+bottomBox+'px;'">
			<view class="f-12 c-gray text-c pd-30">{{loadingTitle}}</view>
		</view>
	</view>
</template>

<script>
	import {
		getFollowList,
		getFansList,
		followUser
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				bottomBox:uni.getSystemInfoSync().safeAreaInsets.bottom > 0 ? uni.getSystemInfoSync().safeAreaInsets
					.bottom : 8,
				current: 0,
				list: [],
				params: {
					login_user_id: '',
					user_id: '',
					page: 1,
					size: 20,
					media_id: 0
				},
				showLoading: true,
				loadingTitle: '已加载全部',
			};
		},
		onShow() {
			if (uni.getStorageSync('onload')) {
				this.params.login_user_id = uni.getStorageSync('member') ? uni.getStorageSync('member').id : ''
				this.showLoading = true
				this.list = []
				this.params.page = 1
				if (this.current == 0) {
					this.getFollowList()
				} else {
					this.getFansList()
				}
				uni.removeStorage({
					key: 'onload'
				})
			}
		},
		onLoad(options) {
			this.params.login_user_id = uni.getStorageSync('member') ? uni.getStorageSync('member').id : ''
			this.params.user_id = options.id
			this.current = options.type
			this.list = []
			if (options.type == 0) {
				this.getFollowList()
				uni.setNavigationBarTitle({
					title: '关注',
				})
			} else {
				this.getFansList()
				uni.setNavigationBarTitle({
					title: '关注',
				})
			}
		},
		methods: {
			getFollowList() {
				getFollowList(this.params).then(res => {
					if (res.state == 1) {
						this.list = [...this.list, ...res.data.data]
						this.last_page = res.data.last_page
						this.current_page = res.data.current_page
						if (res.data.total == 0) {
							this.showLoading = false
							this.loadingTitle = '暂无关注'
						} else {
							if (res.data.last_page == res.data.current_page) {
								this.showLoading = false
								this.loadingTitle = '已加载全部'
							}
						}
					}
				})
			},
			getFansList() {
				getFansList(this.params).then(res => {
					if (res.state == 1) {
						this.list = [...this.list, ...res.data.data]
						this.last_page = res.data.last_page
						this.current_page = res.data.current_page
						if (res.data.total == 0) {
							this.showLoading = false
							this.loadingTitle = '暂无粉丝'
						} else {
							if (res.data.last_page == res.data.current_page) {
								this.showLoading = false
								this.loadingTitle = '已加载全部'
							}
						}
					}
				})
			},
			onClickItem(e) {
				this.showLoading = true
				this.loadingTitle = '已加载全部'
				this.current = e
				this.params.page = 1
				this.list = []
				if (e == 0) {
					this.getFollowList()
				} else {
					this.getFansList()
				}
			},
			followUser(id, type, index) {
				if (uni.getStorageSync('access_token')) {
					followUser({
						follow_user_id: id,
						type: type
					}).then(res => {
						if (res.state == 1) {
							this.list[index].is_user_follow = type == 1 ? 1 : 0
						}
					})
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			}
		},
		onReachBottom() {
			if (this.last_page > this.current_page) {
				this.params.page++
				if (this.current == 0) {
					this.getFollowList()
				} else {
					this.getFansList()
				}
			} else {
				this.showLoading = false
				this.loadingTitle = '已加载全部'
			}
		},
		onPullDownRefresh() {
			this.params.page = 1
			this.list = []
			if (this.current == 0) {
				this.getFollowList()
			} else {
				this.getFansList()
			}
			uni.stopPullDownRefresh()
		}
	}
</script>

<style lang="scss">
	.followlist_page {
		.tabs_fixed {
			position: -webkit-sticky !important;
			position: sticky;
			top: 0px;
			z-index: 1;
			background-color: #FFFFFF;
			border-bottom: 2rpx solid #eaeaea;
		}

		.followlist_box {
			padding: 30rpx;
		}

		.followlist_img_box {
			width: 80rpx;
			height: 80rpx;
			position: relative;

			.followlist_img {
				width: 100%;
				height: 100%;
				border-radius: 60px;
			}
		}

		.followlist_cell {
			display: flex;
			align-items: center;
			padding: 20rpx 0;
		}
	}
</style>
