<template>
	<view class="commentinfo_box">
		<view class="commentinfo pd-30">
			<view class="collect_img_box">
				<image class="collect_img" :src="info.user.headimg_url"></image>
			</view>
			<view class="flex-1 ml-10">
				<view class="display_flex" style="height: 80rpx;">
					<view class="f-14 f-w ml-5 flex-1">{{info.user.user_name}}</view>
					<view class="display_flex">
						<image @click="praise(info.id,info.is_praise)" v-if='info.is_praise==1' class="oper-pic ml-15"
							src="/static/images/zan-active.png">
						</image>
						<image @click="praise(info.id,info.is_praise)" v-if='info.is_praise==0' class="oper-pic ml-15"
							src="/static/images/zan.png">
						</image>
						<view @click="praise(info.id,info.is_praise)" class="f-12 ml-5">
							{{info.praise_num>0?info.praise_num:''}}
						</view>
					</view>
				</view>
				<view class="f-14 mt-10">{{info.content}}</view>
				<!-- <view class="article_info">
					<image class="article_info_img" mode="aspectFill" :src="ainfo.pic_url"></image>
					<view class="article_info_title ellipsis-4 ml-10">{{ainfo.title}}</view>
				</view> -->
				<view class="display_flex f-12 mt-10">
					<view class="flex-1">
						<span class="c-gray">{{info.create_time}}·</span>
						回复<block v-if="info.reply_num>0">({{info.reply_num}})</block>
					</view>
					<view class="f-12 c-gray">举报</view>
				</view>
			</view>
		</view>
		<view style="padding-bottom: 140rpx;">
			<view class="commentinfo_list" v-for="(item,index) in list" :key="index">
				<view class="collect_img_box">
					<image class="collect_img" :src="item.user.headimg_url"></image>
				</view>
				<view class="flex-1 ml-10">
					<view class="display_flex" style="height: 80rpx;">
						<view class="f-14 f-w ml-5 flex-1">{{item.user.user_name}}</view>
						<view class="display_flex">
							<image @click="praise(item.id,item.is_praise,index,1)" v-if='item.is_praise==1'
								class="oper-pic ml-15" src="/static/images/zan-active.png">
							</image>
							<image @click="praise(item.id,item.is_praise,index,1)" v-if='item.is_praise==0'
								class="oper-pic ml-15" src="/static/images/zan.png">
							</image>
							<view @click="praise(item.id,item.is_praise,index,1)" class="f-12 ml-5">
								{{item.praise_num>0?item.praise_num:''}}
							</view>
						</view>
					</view>
					<view class="f-14 mt-10">
						回复<span class="c-blue ml-5 mr-5">{{item.reuser.user_name}}</span>{{item.content}}
					</view>
					<view class="auditbox" v-if="item.is_audit==0">{{audit_text}}</view>
					<view class="display_flex f-12 mt-10">
						<view class="flex-1">
							<span class="c-gray">{{item.create_time}}·</span>
							<span @click="goCommentlist(item.id)">回复<block v-if="item.reply_num>0">({{item.reply_num}})
								</block></span>
						</view>
						<view class="f-12 c-gray">举报</view>
					</view>
				</view>
			</view>
		</view>
		<view class="bottom_box" :style="'padding-bottom:'+bottomBox+'px'">
			<view class="fake_input" @click="goComment(0)">发表评论...</view>
			<view class="bottom_info ml-20" @click="goComments">
				<image class="bottom_img mr-5" src="/static/images/comment.png"></image>
				{{info.reply_num>0?info.reply_num:''}}
			</view>
			<view class="bottom_info ml-20" @click="collect">
				<image class="bottom_img"
					:src="ainfo.is_collect==1?'/static/images/collect_active.png':'/static/images/collect.png'">
				</image>
			</view>
			<!-- #ifdef MP-TOUTIAO|| MP-BAIDU||MP-ALIPAY||MP-QQ||MP-360 -->
			<button class="bottom_info ml-20" open-type="share">
				<image class="bottom_img" src="/static/images/shared.png"></image>
			</button>
			<!-- #endif -->
			<!-- #ifdef MP-WEIXIN||APP-PLUS-->
			<view class="bottom_info ml-20" @click="showShare=true">
				<image class="bottom_img" src="/static/images/shared.png"></image>
			</view>
			<!-- #endif -->
		</view>


		<block v-if="showShare">
			<view class="share_box" :style="'padding-bottom:'+bottomBox+'px'">
				<!-- #ifdef MP -->
				<button class="share_cell" open-type="share">
					<image class="share_img" src="/static/images/wecheck.png"></image>
					<view>微信好友</view>
				</button>
				<view class="share_cell" @click="getPoster">
					<image class="share_img" src="/static/images/friend.png"></image>
					<view>朋友圈</view>
				</view>
				<!-- #endif -->
				<!-- #ifdef APP-PLUS -->
				<view class="share_cell" @click="shareApp('WXSceneSession')">
					<image class="share_img" src="/static/images/wecheck.png"></image>
					<view>微信好友</view>
				</view>
				<view class="share_cell" @click="shareApp('WXSenceTimeline')">
					<image class="share_img" src="/static/images/friend.png"></image>
					<view>朋友圈</view>
				</view>
				<!-- #endif -->
			</view>
			<view class="wask_box" @click="showShare=false"></view>
		</block>

		<block v-if="showShareUrl">
			<view class="share_url_box">
				<image class="share_url" :src="share_url" mode="widthFix"></image>
				<view class="shareBtn" @click="showShareUrl=false">我知道了</view>
			</view>
			<view class="wask_box" @click="showShareUrl=false"></view>
		</block>
	</view>
</template>

<script>
	import {
		getAskInfo,
		getAskCommentInfo,
		getAskReplylist,
		askCommPraise,
		askCollect,
		askPoster,
	} from '@/api/motortime.js';
	const app = getApp()
	export default {
		data() {
			return {
				info: '',
				ainfo: '',
				params: {
					user_id: uni.getStorageSync('member').id,
					source: 4,
				},
				paramsd: {
					page: 1,
					user_id: uni.getStorageSync('member').id,
					source: 4,
				},
				list: [],
				last_page: 1,
				showShare: false,
				bottomBox: uni.getSystemInfoSync().safeAreaInsets.bottom > 0 ? uni.getSystemInfoSync().safeAreaInsets
					.bottom : 8,
				share_url: '',
				showShareUrl: false,
				audit_text: ''
			};
		},
		onLoad(options) {
			this.id = options.id
			this.aid = options.aid
			var source = options.source
			this.getAskCommentInfo()
			this.getAskReplylist()
			if (source == 1) {
				this.getAskInfo();
			}
		},
		onShow() {
			this.audit_text = uni.getStorageSync('member') ? uni.getStorageSync('member').audit_text :
				'评论内容人工审核中，审核时间预估3-15分钟。'
			if (uni.getStorageSync('comment')) {
				this.list = []
				this.paramsd.page = 1
				this.getAskCommentInfo()
				this.getAskReplylist()
				uni.removeStorage({
					key: 'comment'
				})
			}
		},
		methods: {

			getAskInfo() {
				getAskInfo({
					id: this.aid,
					user_id: this.user_id
				}).then(res => {
					if (res.state == 1) {
						this.ainfo = res.data
						this.answer = res.data.answer
					}
				})
			},
			goInfo() {
				uni.navigateTo({
					url: '/pages/question/askinfo/askinfo?scene=' + this.ainfo.id
				})
			},
			getAskCommentInfo() {
				getAskCommentInfo(this.id, this.params).then(res => {
					if (res.state == 1) {
						this.info = res.data
					}
				})
			},
			getAskReplylist() {
				getAskReplylist(this.id, this.paramsd).then(res => {
					if (res.state == 1) {
						this.list = [...this.list, ...res.data.data]
						this.last_page = res.data.last_page
					}
				})
			},
			//收藏
			collect() {
				if (uni.getStorageSync('access_token')) {
					var params = {
						id: this.ainfo.id,
						type: this.ainfo.is_collect == 1 ? 2 : 1
					}
					askCollect(params).then(res => {
						if (res.state == 1) {
							this.ainfo.is_collect = this.ainfo.is_collect == 1 ? 0 : 1
						}
					})
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			//评论点赞
			praise(id, is_praise, index, typed) {
				if (uni.getStorageSync('access_token')) {
					var params = {
						id: id,
						type: is_praise == 1 ? 2 : 1
					}
					askCommPraise(params).then(res => {
						if (res.state == 1) {
							if (typed == 1) {
								if (this.list[index].is_praise == 0) {
									this.list[index].praise_num++
									this.list[index].is_praise = 1
								} else {
									this.list[index].praise_num--
									this.list[index].is_praise = 0
								}
							} else {
								if (this.info.is_praise == 0) {
									this.info.praise_num++
									this.info.is_praise = 1
								} else {
									this.info.praise_num--
									this.info.is_praise = 0
								}

							}

						}
					})
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			//获取海报
			getPoster() {
				if (uni.getStorageSync('access_token')) {
					var params = {
						source: app.globalData.source,
						id: this.aid,
						user_id: uni.getStorageSync('member').id
					}
					askPoster(params).then(res => {
						if (res.state == 1) {
							this.share_url = res.data.share_url
							this.showShareUrl = true
							this.showShare = false
							uni.downloadFile({
								url: res.data.share_url,
								success: function(res) {
									var tempFilePath = res.tempFilePath
									console.log(res.tempFilePath)
									uni.authorize({
										scope: 'scope.writePhotosAlbum',
										success() {
											uni.saveImageToPhotosAlbum({
												filePath: tempFilePath,
												success: function() {
													uni.showToast({
														title: '保存成功了，快去分享吧~',
														icon: 'none',
														duration: 1500
													});
													console.log('save success');
												},
												fail(e) {
													console.log('下载失败')
												}
											});
										},
										fail() {
											console.log('未授权')
										}
									})

								},

							})

						}
					})
					var params = {
						event_code: '答案详情',
						path: 'pages/question/askinfo/askinfo',
						user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
						source: app.globalData.source,
						event_id: this.aid,
						title: this.ainfo.question,
						invitees_scene_id: '',
						source_page: '答案详情-生成海报',
						value: '',
					}
					app.BurialPoint(params)
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			//微信app分享
			shareApp(scene) {
				var that = this
				if (scene == 'WXSceneSession') {
					if (that.ainfo.image) {
						var imgurl = that.ainfo.image[0]
					} else {
						var imgurl = that.answer.content[0].img ? that.answer.content[0].img : ''
					}
					uni.share({
						provider: "weixin",
						scene: scene,
						type: 5,
						title: that.ainfo.question,
						imageUrl: imgurl,
						miniProgram: {
							id: 'gh_664d5a5771aa',
							path: '/pages/question/askinfo/askinfo?scene=' + that.aid,
							type: 0,
							webUrl: "https://m.motortime.com/ask/" + that.aid + "/answer"
						},
						success: function(res) {
							that.showShare = false
							console.log("success:" + JSON.stringify(res));
						},
						fail: function(err) {
							that.showShare = false
							console.log("fail:" + JSON.stringify(err));
						}
					});
				} else {
					uni.share({
						provider: "weixin",
						scene: scene,
						type: 0,
						href: "https://m.motortime.com/ask/" + that.aid + "/answer",
						title: that.ainfo.question,
						summary: '',
						imageUrl: imgurl += '?x-oss-process=image/resize,w_120',
						success: function(res) {
							that.showShare = false
							console.log("success:" + JSON.stringify(res));
						},
						fail: function(err) {
							console.log("fail:" + JSON.stringify(err));
						}
					});

				}

				app.getShareTask('/pages/question/askinfo/askinfo')
			},
			//跳转写评论页
			goComment() {
				if (uni.getStorageSync('access_token')) {
					uni.navigateTo({
						url: '/pages/question/postcomment/postcomment?id=' + this.aid + '&rid=' + this.id +
							'&type=2'
					})
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			goCommentlist(rid) {
				if (uni.getStorageSync('access_token')) {
					uni.navigateTo({
						url: '/pages/question/postcomment/postcomment?id=' + this.aid + '&rid=' + rid + '&pid=' +
							this.id + '&type=2'
					})
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			goUserInfo(id) {
				uni.navigateTo({
					url: '/pages/other/other?scene=' + id
				})
			}
		},
		onReachBottom() {
			if (this.last_page > this.paramsd.page) {
				this.paramsd.page = this.paramsd.page++
				this.getAskReplylist()
			}
		},
		onPullDownRefresh() {
			this.list = []
			this.paramsd.page = 1
			this.getAskReplylist()
			uni.stopPullDownRefresh()
		},
		//分享
		onShareAppMessage(res) {
			app.getShareTask('/pages/question/askinfo/askinfo')
			if (this.ainfo.image) {
				var imgurl = this.ainfo.image[0]
			} else {
				var imgurl = this.answer.content[0].img ? this.answer.content[0].img : ''
			}
			this.showShare = false
			return {
				title: this.ainfo.question,
				path: '/pages/question/askinfo/askinfo?scene=' + this.aid,
				imageUrl: imgurl
			}


		},
	}
</script>

<style lang="scss">
	page {
		background-color: #f7f7f7;
	}

	.commentinfo_box {
		.commentinfo {
			display: flex;
			align-items: flex-start;
			background-color: #FFFFFF;
		}

		.commentinfo_list {
			display: flex;
			align-items: flex-start;
			padding: 30rpx;
			border-bottom: 2rpx solid #eaeaea;

		}

		.collect_img_box {
			width: 80rpx;
			height: 80rpx;
			border-radius: 60px;
		}

		.collect_img {
			width: 100%;
			height: 100%;
			border-radius: 60px;
		}

		.oper-pic {
			width: 30rpx;
			height: 28rpx;
		}

		.article_info {
			margin-top: 30rpx;
			background-color: #E3E3E3;
			border-radius: 6rpx;
			padding: 20rpx;
			display: flex;

			.article_info_img {
				width: 210rpx;
				height: 140rpx;
				border-radius: 10rpx;
			}

			.article_info_title {
				flex: 1;
				font-size: 26rpx;
				height: 140rpx;
			}
		}
	}
</style>
