<template>
	<view class="models_box">
		<block v-for="(item,index) in list" :key="item.id">
			<view :class="index==selectnum?'car_cells models-active':'car_cells'"
				@click="select(item.id,item.title,index)">
				<view style="flex: 1;" class="text-c">{{item.title}}</view>
				<image src="/static/images/member/carsright.png" style="width:16rpx;height:24rpx"></image>
			</view>
		</block>
		<view class="addmodels text-c" @click="addmodels">没有我的车型，<span style="color:#605C6B">填写我的车型</span></view>
		<view :class="istrue ? 'weui-demo-dialog weui-demo-dialog_show' : 'weui-demo-dialog'">
			<view class="weui-mask" @click="closeDialog"></view>
			<view class="weui-dialog__wrp" @click="closeDialog" v-if="istrue">
				<view class="weui-dialog" catchtap="stopEvent" style="width:100%;">
					<view class="weui-dialog__hd">
						<view class="f-16">我的车型</view>
					</view>
					<view class="weui-dialog__bd" style="margin-bottom: 30rpx;padding: 0 30rpx;">
						<input class="weui-input text-l" placeholder="车型" name='model' :value="model_name" />
					</view>
					<view class="weui-dialog__ft pd-30">
						<view class="weui-dialog__btn" @click="submit">确认提交</view>
					</view>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	import {
		selectModel
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				list: [],
				selectnum: 0,
				istrue: false,
				model_name: '',
				is_have_card: 1,
				delta: 3
			};
		},
		onLoad(options) {
			this.delta = parseInt(options.delta) + 1
			this.car_id = options.car_id
			this.car_name = options.car_name
			this.brand_id = options.brand_id
			this.brand_name = options.brand_name
			this.selectModel(options.car_id)
			this.is_have_card = options.is_have_card

		},
		onShow() {
			var params = {
				event_code: '车主认证_选择车型',
				event_id: this.car_id,
				title: this.car_name,
				value: '',
				path: 'pages/models/models',
				user_id: uni.getStorageSync('member').id,
			}
			app.BurialPoint(params)
		},
		methods: {
			selectModel(car_id) {
				var params = {
					car_id: car_id
				}
				selectModel(params).then(res => {
					if (res.state == 1) {
						this.list = res.data
					}
				})
			},
			select(id, name, index) {
				this.selectnum = index
				uni.navigateTo({
					url: '/pages/carsinfo/carsinfo?brand_id=' + this.brand_id + '&brand_name=' + this.brand_name +
						'&car_name=' + this.car_name + '&car_id=' + this.car_id + '&model_id=' + id +
						'&model_name=' + name + '&is_have_card=' + this.is_have_card +
						'&delta=' + this.delta
				})
			},
			addmodels() {
				this.istrue = true
			},
			closeDialog() {
				this.istrue = false
				this.model_name = ''

			},
			submit() {
				uni.navigateTo({
					url: '/pages/carsinfo/carsinfo?brand_id=' + this.brand_id + '&brand_name=' +
						this.brand_name +'&car_id=' + this.car_id + '&car_name=' + this.car_name + '&.model_name=' + this.model_name+ '&is_have_card=' + this.is_have_card +
						'&delta=' + this.delta
				})
			}
		}
	}
</script>

<style lang="scss">
	.models_box {
		.carclass {
			padding: 10rpx 30rpx;
			font-size: 28rpx;
			background-color: #F3F8FF;
			color: #666666;
		}

		.car_cells {
			display: flex;
			align-items: center;
			padding: 15px;
			font-size: 14px;
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		}

		.models-active {
			background-color: #D8D8D8;
		}

		.addmodels {
			background-color: #f1f1f1;
			padding: 40rpx;
			font-size: 28rpx;
			color: #010203;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.othercar {
			width: 30rpx;
			height: 30rpx;
			vertical-align: middle;
		}

		.weui-half-screen-dialog__desc {
			padding-bottom: 30rpx;
		}

		.weui-dialog {
			border-radius: 5rpx;
		}

		.weui-dialog__ft {
			line-height: 50px;
			min-height: 50px;
			font-size: 13px;
			background-color: #fff;
		}

		.weui-dialog__ft:after {
			border-top: 0rpx solid rgba(0, 0, 0, .1);
		}

		.weui-dialog__btn {
			color: #010203;
			background-color: #FFBB00;
			width: 100%;
		}

		.weui-dialog__hd {
			padding: 32rpx 24px 16px;
		}

		.weui-input {
			flex: 1;
			background-color: #EEEEEE;
			padding: 30rpx;
			font-size: 24rpx;
			height: auto;
		}
	}
</style>
