<template>
	<view class="forum">
		<view class="top_column">
			<view style="flex: 1;">帖子</view>
			<view class="display_flex">最新回复
				<uni-icons type="arrowdown" size="12" color="#9a9a9a"></uni-icons>
			</view>
		</view>
		<view class="bbs_box">
			<view class="bbs_cell" v-for="(item,index) in list" :key="item.id">
				<view class="bbscell_userinfo" @click="goInfo(item.id,item.title,item.post_id)">
					<view class="bbscell_useravater">
						<image class="useravater" :src="item.user.headimg_url"></image>
					</view>
					<view class="bbscell_info">
						<text class="f-15">{{item.user.user_name}}</text>
						<view class="f-12 c-gray bbscell_intor">{{item.time_format}} 浏览{{item.show_num}}</view>
					</view>
				</view>
				<view class="bbs_cell_title mt-10" @click="goInfo(item.id,item.title,item.post_id)">{{item.title}}
				</view>
				<view class="bbs_cell_topic mt-10" v-if="item.tags.length>0"
					@click="goInfo(item.id,item.title,item.post_id)">
					<span class="mr-10" v-for="itemt in item.name">#{{item.name}}#</span>
				</view>
				<view class="bbs_cell_imgbox mt-20" @click="goInfo(item.id,item.title,item.post_id)">
					<view v-if="item.cover" class="bbs_cell_cover">
						<image class="bbs_cell_bigimg" :src="item.cover"></image>
					</view>
					<block v-else>
						<view v-if="item.image.length==1" class="bbs_cell_cover">
							<image class="bbs_cell_bigimg" :src="item.image[0]"></image>
						</view>
						<view v-if="item.image.length==2||item.image.length>3" class="">
							<uni-grid :column="3" :showBorder="false" :highlight="false">
								<uni-grid-item v-for="(itemi,indexs) in item.image" :key="indexs" style="height: 214rpx;">
									<view style="padding: 5rpx;">
										<image class="motor_list_right_img" :src="itemi" mode="aspectFill">
										</image>
									</view>
								</uni-grid-item>
							</uni-grid>
						</view>
						<block v-if="item.image.length==3">
							<view class="motor_list_imgroup">
								<view class="motor_list_imgroup_left">
									<image class="motor_list_left_img" :src="item.image[0]" mode="aspectFill">
									</image>
								</view>
								<view class="motor_list_imgroup_right">
									<image class="motor_list_right_img" :src="item.image[1]" mode="aspectFill">
									</image>
									<image class="motor_list_right_img" style="margin-top: 12rpx;" :src="item.image[2]"
										mode="aspectFill"></image>
								</view>
							</view>
						</block>
					</block>
				</view>
				<view class="display_flex mt-15 f-13 c-gray">
					<view class="source" v-if='item.channel.alias'>{{item.channel.alias}}</view>
					<view class="display_flex" style="flex: 1;justify-content: flex-end;">
						<view class="display_flex mr-15">
							<image class="operate_icon mr-5" src="../../static/images/comment.png"></image>
							{{item.comment_num}}
						</view>
						<view class="display_flex" @click="praise(item.id,item.post_id,item.is_praise,index)">
							<image class="operate_icon mr-5" v-if="item.is_praise==1"
								src="../../static/images/zan-active.png"></image>
							<image class="operate_icon mr-5" v-else src="../../static/images/zan.png"></image>
							{{item.praise_num}}
						</view>
					</view>
				</view>
				<view @click="goInfo(item.id,item.title,item.post_id)" class="bbs_cell_comment_box"
					v-if="item.comments.length>0">
					<view class="bbs_cell_comment" v-for="(itemc,indexc) in item.comments" :key="indexc" v-if="indexc<3">
						<view class="display_flex">
							<image class="bbscell_comment_avatr" :src="itemc.user.headimg_url"></image>
							<text class="flex-1 f-15 f-w ml-10">{{itemc.user.user_name}}</text>
							<view class="f-12 c-gray">{{itemc.create_time}}</view>
						</view>
						<view class="f-14 mt-10 ellipsis-4">
							{{itemc.content}}
						</view>
					</view>
					<view class="text-c f-12 c-blue mt-20" v-if="item.comments.length>3">查看全部消息</view>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	import {
		getBbslist,
		bbsPraise,
		articlePraise
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				params: {
					page: 1,
					size: 10,
					user_id: 0,
					sort: 2,
					is_lexus_app: 1,
					source: app.globalData.source,
				},
				list: []
			};
		},
		onShow() {

		},
		onLoad() {
			this.getBbslist()
			var params = {
				event_code: '汽车时间',
				event_id: '',
				title: '',
				value: '',
				path: 'pages/forum/forum',
				user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
				source: 4,
				source_page: ''
			}
			app.BurialPoint(params)
		},
		methods: {
			getBbslist() {
				this.params.user_id = uni.getStorageSync('member') ? uni.getStorageSync('member').id : ''
				getBbslist(this.params).then(res => {
					if (res.state == 1) {
						this.list.push.apply(this.list, res.data.data)
					}

				})
			},
			goInfo(id, title, postid) {
				var params = {
					event_code: '汽车时间',
					event_id: id,
					title: title,
					value: '',
					path: 'pages/forum/forum',
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
					source: 4,
					source_page: '汽车时间详情'
				}
				app.BurialPoint(params)
				if (postid) {
					uni.navigateTo({
						url: '/pages/article/article?scene=' + postid
					})
				} else {
					uni.navigateTo({
						url: '/pages/articleinfo/articleinfo?scene=' + id
					})
				}
			},
			praise(id, postid, praise, index) {
				if (uni.getStorageSync('access_token')) {
					if (postid) {
						var params = {
							id: postid,
							type: praise == 1 ? 2 : 1
						}
						articlePraise(params).then(res => {
							if (res.state == 1) {

								if (this.list[index].is_praise == 0) {
									this.list[index].praise_num++
								} else {
									this.list[index].praise_num--
								}
								this.list[index].is_praise = this.list[index].is_praise == 1 ? 0 : 1
							}

						})
					} else {
						var params = {
							id: id,
							type: praise == 1 ? 2 : 1
						}
						bbsPraise(params).then(res => {
							if (res.state == 1) {

								if (this.list[index].is_praise == 0) {
									this.list[index].praise_num++
								} else {
									this.list[index].praise_num--
								}
								this.list[index].is_praise = this.list[index].is_praise == 1 ? 0 : 1
							}

						})
					}

				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			}
		},
		onReachBottom() {

		}
	}
</script>

<style lang="scss">
	.forum {
		.top_column {
			background-color: #f8f8f8;
			color: #9a9a9a;
			display: flex;
			align-items: center;
			padding: 20rpx 30rpx;
			font-size: 24rpx;
		}

		.bbs_box {
			.bbs_cell {
				padding: 30rpx;
				border-bottom: 2rpx solid rgba(0, 0, 0, 0.1);

				.bbscell_userinfo {
					display: flex;
					align-items: center;

					.bbscell_useravater {
						width: 90rpx;
						height: 90rpx;
						border-radius: 100px;

						.useravater {
							width: 90rpx;
							height: 90rpx;
							border-radius: 100px;
						}
					}

					.bbscell_info {
						margin-left: 30rpx;
						height: 90rpx;
						position: relative;
						flex: 1;

						.bbscell_intor {
							position: absolute;
							bottom: 0;
						}
					}
				}

				.bbs_cell_title {
					font-size: 30rpx;
					font-weight: bold;
				}

				.bbs_cell_topic {
					font-size: 28rpx;
					color: #33a1ff;
				}

				.bbs_cell_imgbox {
					.bbs_cell_cover {
						width: 100%;
						height: 420rpx;
					}

					.bbs_cell_bigimg {
						width: 100%;
						height: 420rpx;
						border-radius: 10rpx;
					}

					.motor_list_imgroup {
						height: 420rpx;
						display: flex;
						margin-top: 30rpx;
					}

					.motor_list_imgroup_left {
						float: left;
						width: 67%;
					}

					.motor_list_imgroup_right {
						float: right;
						width: 33%;
						padding: 0 0 0 12rpx;
						line-height: 0;
					}

					.motor_list_left_img {
						width: 100%;
						height: 100%;
						border-radius: 3px;
					}

					.motor_list_right_img {
						width: 100%;
						height: 204rpx;
						border-radius: 3px;
					}
				}

				.source {
					display: inline-block;
					padding: 0.15em 0.4em;
					min-width: 8px;
					border-radius: 18px;
					background-color: #f6ab00;
					color: #fff;
					line-height: 1.2;
					text-align: center;
					font-size: 12px;
				}

				.operate_icon {
					width: 30rpx;
					height: 28rpx;
				}

				.bbs_cell_comment_box {
					margin-top: 30rpx;
					padding-top: 30rpx;
					border-top: 2rpx solid rgba(0, 0, 0, 0.1);

					.bbs_cell_comment {
						margin-top: 40rpx;

						.bbscell_comment_avatr {
							width: 60rpx;
							height: 60rpx;
							border-radius: 100px;
						}



					}
				}
			}
		}
	}
</style>
