<template>
	<view class="orderlist_page">
		<view class="tabs_fixed">
			<view v-for="(item,index) in tabs" :key="index"
				:class="activeIndex == index ? 'tabs_item tab_item_border' : 'tabs_item'" style="color: #3a3a3a;"
				@click="handleTap(item.type,index)">
				{{item.text}}
			</view>
		</view>
		<view class="orderlist_box">
			<view v-for="(item,index) in list" :key="item.order_no" class="order_cell_box">
				<view class="order_top_box" @click="goOderInfo(item.order_no)">
					<view class="flex-1 display_flex">
						<image class="order_shop_logo" :src="item.channel.img_url"></image>
						<view class="ml-10 f-12 c-black">{{item.channel.name}}</view>
					</view>
					<view class="order_status">{{item.status.name}}</view>
				</view>
				<view class="order_goods_box" @click="goOderInfo(item.order_no)">
					<image class="order_goods_img" mode="aspectFill" :src="item.goods.pic_url"></image>
					<view class="order_goods_content">
						<view class="ellipsis-3 order_goods_name">
							<span class="presellbadge" v-if="item.activity_status==1">预售</span>
							<span class="secondbadge" v-if="item.activity_status==2">秒杀</span>
							<span class="groupbadge" v-if="item.activity_status==4">团购</span>
							{{item.goods.name}}
						</view>
						<view class="order_goods_price_box">
							<block v-if="item.activity_status==3">
								<span>共{{item.product_count}}件商品，应付
									<span class="price f-17">{{item.balance}} 积分</span>
								</span>
							</block>
							<block v-else>
								<span v-if="item.status.id==1||item.status.id==8">共{{item.product_count}}件商品，应付
									<span v-if="item.activity_status==1">
										<block v-if="item.deposit=='0.00'">款</block>
										<block v-else>
											<span v-if="item.deposit_status==0">定金</span>
											<span v-if="item.deposit_status==1">尾款</span>
										</block>
									</span>
									<span v-else-if="item.activity_status==4">
										<block v-if="item.deposit=='0.00'">款</block>
										<block v-else>
											<span v-if="item.deposit_status==0">定金</span>
											<span v-if="item.deposit_status==1">尾款</span>
										</block>
									</span>
									<span v-else>款</span>
								</span>
								<span v-else-if="item.status.id==7">共{{item.product_count}}件商品，已退款</span>
								<span v-else>共{{item.product_count}}件商品，实付款</span>
								<span class="price display_flex">
									￥
									<span class="f-17" v-if="item.activity_status==1||item.activity_status==4">
										<block v-if="item.status.id==7">
											{{item.refund}}
										</block>
										<block v-else>
											<block v-if="item.deposit=='0.00'">
												{{item.product_amount_total}}
											</block>
											<block v-else>
												<block v-if="item.status.id==2||item.status.id==5">
													<span class="f-17">{{item.product_amount_total}}</span>
												</block>
												<block v-else>
													<block v-if="item.deposit_status==0">{{item.deposit}}</block>
													<block v-if="item.deposit_status==1">{{item.balance}}</block>
												</block>
											</block>
										</block>
									</span>
									<span class="f-17" v-else>{{item.product_amount_total}}</span>
								</span>
							</block>
						</view>
					</view>
				</view>
				<!-- 团购状态：group_status：1：团购报名中，等待付款；2：团购报名结束，可付款或尾款；3：团购结束，不可付款，不退定金，订单状态为已取消
				// activity_status:0 普通 1 预售 2 秒杀 3 积分兑换 4 团购 5展示
				// status订单状态（1未付款,2已付款,3已发货,4已签收,5退货申请,6退货中,7已退货,8取消交易）,
				-->
				<view class="order_btn_box">
					<block v-if="item.status.id==1">
						<block v-if="item.group_status==0">
							<view v-if="item.deposit_status==0" class="closeBtn ml-5"
								@click="cancelOrder(item.order_no,index)">
								取消订单</view>
							<view class="byuBtn ml-5" @click="payOrder(item.order_no,index)">立即付款</view>
						</block>
						<block v-if="item.group_status==1">
							<view v-if="item.deposit_status==1" class="closeBtn ml-5">待付尾款</view>
							<view v-if="item.deposit_status==0" class="closeBtn ml-5"
								@click="cancelOrder(item.order_no,index)">取消订单</view>
							<view v-if="item.deposit_status==0" class="byuBtn ml-5"
								@click="payOrder(item.order_no,index)">立即付款</view>
						</block>
						<block v-if="item.group_status==2">
							<view v-if="item.deposit=='0.00'&&item.deposit_status==0" class="closeBtn ml-5"
								@click="cancelOrder(item.order_no,index)">
								取消订单</view>
							<view class="byuBtn ml-5" @click="payOrder(item.order_no,index)">立即付款</view>
						</block>
					</block>
					<block v-if="item.status.id==2">
						<block v-if="item.activity_status!=3&&item.refund_status!=2&&item.offline_type!=1">
							<view class="closeBtn ml-5" @click="refundOrder(item.order_no,index)">申请退款</view>
						</block>
					</block>
					<block v-if="item.status.id==3">
						<view class="closeBtn ml-5" @click="showLogistics(item.express_no,index)">查看物流</view>
						<!-- <block v-if="item.activity_status!=3&&item.refund_status!=2&&item.offline_type!=1">
							<view class="closeBtn ml-5" @click="refundOrder(item.order_no,index)">申请退款</view>
						</block> -->
						<view class="byuBtn ml-5" @click="submitOrder(item.order_no,index)">确认收货</view>
					</block>
					<block v-if="item.status.id==4">
						<view class="closeBtn ml-5" @click="delOrder(item.order_no,index)">删除</view>
						<!-- <block
							v-if="item.activity_status!=3&&item.refund_status!=2&&item.offline_type!=1&&item.is_overtime==1">
							<view class="closeBtn ml-5" @click="refundOrder(item.order_no,index)">申请退款</view>
						</block> -->
						<block
							v-if="item.activity_status!=3&&item.refund_status!=2&&item.offline_type!=1&&item.is_overtime==1">
							<view class="closeBtn ml-5"
								@click="goLogistics(item.order_no,index,item.product_amount_total,item.balance,item.activity_status)">
								申请退款</view>
						</block>
						<block v-if="item.activity_status!=4">
							<view v-if="item.offline_type!=1||item.activity_status==0||item.activity_status==3"
								class="byuBtn ml-5"
								@click="buyAgain(item.order_no,index,item.activity_status,item.goods.id)">
								再次购买
							</view>
						</block>
					</block>
					<block v-if="item.status.id==5">
						<view class="closeBtn ml-5" @click="refundCancel(item.order_no,index)">取消退款</view>
					</block>
					<block v-if="item.status.id==6">
						<view class="closeBtn ml-5" @click="refundCancel(item.order_no,index)">取消退款</view>
						<!-- <view class="byuBtn ml-5" @click="refundCancel(item.order_no,index)">查看物流信息</view> -->
					</block>
					<block v-if="item.status.id==7">
						<view class="closeBtn ml-5" @click="delOrder(item.order_no,index)">删除</view>
						<block v-if="item.activity_status!=4">
							<view v-if="item.offline_type!=1||item.activity_status==0||item.activity_status==3"
								class="byuBtn ml-5"
								@click="buyAgain(item.order_no,index,item.activity_status,item.goods.id)">
								再次购买</view>
						</block>
					</block>
					<block v-if="item.status.id==8">
						<view class="closeBtn ml-5" @click="delOrder(item.order_no,index)">删除</view>
						<block v-if="item.activity_status!=4">
							<view v-if="item.offline_type!=1||item.activity_status==0||item.activity_status==3"
								class="byuBtn ml-5"
								@click="buyAgain(item.order_no,index,item.activity_status,item.goods.id)">
								再次购买</view>
						</block>
					</block>
				</view>
			</view>
		</view>
		<view class="no_orders">
			<image v-if="noCommentText=='加载中'" class="loading_gift" src="/static/images/gif.gif">
			</image>
			<image v-if="noCommentText=='暂无订单'" class="error_img" src="/static/images/shop/error.png"></image>
			<view class="mt-5">{{noCommentText}}</view>
		</view>
	</view>
</template>

<script>
	import {
		getOrderList,
		cancelOrder,
		getOrderinfo,
		goodsAddcarts,
		delOrder,
		refundOrder,
		submitOrder,
		cancelRefundOrder
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				// activity_status:0 普通 1 预售 2 秒杀 3 积分兑换 4 团购 5展示
				// status订单状态（1未付款,2已付款,3已发货,4已签收,5退货申请,6退货中,7已退货,8取消交易）,
				//refund_status 1可以退款 2不允许退款
				//offline_type 1 线下  
				//is_overtime   是否超过7天无理由退款，1未超过，0超过
				tabs: [{
					type: 'nopay',
					text: '待付款'
				}, {
					type: 'shipped',
					text: '待收货'
				}, {
					type: 'finished',
					text: '已完成'
				}, {
					type: 'canceled',
					text: '已取消'
				}],
				activeIndex: 0,
				navScrollLeft: '',
				params: {
					page: 1,
					size: 10,
					type: 'nopay'
				},
				list: [],
				noCommentText: '加载中'

			};
		},
		onShow() {
			wx.hideShareMenu()

			if (uni.getStorageSync('onload')) {
				this.params.page = 1
				this.list = []
				this.getOrderList()
				uni.removeStorage({
					key: 'onload'
				})
			}
		},
		onLoad(options) {
			if (!uni.getStorageSync('access_token')) {
				uni.navigateTo({
					url: '/pages/login/login'
				})
			} else {
				this.params.type = options.type ? options.type : 'nopay'
				this.activeIndex = options.index ? options.index : 0
				this.getOrderList();
			}

		},
		methods: {
			handleTap(type, index) {
				if (uni.getStorageSync('access_token')) {
					this.showPop = false
					var singleNavWidth = app.globalData.windowWidth / 5;
					var navScrollLeft = (index - 2) * singleNavWidth;
					//tab选项居中   
					this.navScrollLeft = index * singleNavWidth
					this.activeIndex = index
					this.noCommentText = '加载中'
					this.params.type = type
					this.list = []
					this.params.page = 1
					this.getOrderList();
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			getOrderList() {
				getOrderList(this.params).then(res => {
					if (res.state == 1) {
						this.list = [...this.list, ...res.data.data]
						this.current_page = res.data.current_page
						this.last_page = res.data.last_page
						if (res.data.total == 0) {
							this.noCommentText = '暂无订单'
						} else {
							this.noCommentText = ''
						}
					}
				})
			},
			goOderInfo(id) {
				uni.navigateTo({
					url: '/pages/shop/orderinfo/orderinfo?id=' + id
				})
			},
			cancelOrder(order_no, index) {
				var that = this
				uni.showModal({
					content: '确定要取消该订单吗？',
					confirmText: "确定",
					cancelText: "暂不",
					success: function(res) {
						if (res.confirm) {
							cancelOrder(order_no).then(res => {
								if (res.state == 1) {
									that.list.splice(index, 1)
									if (that.list.length == 0) {
										that.noCommentText = '暂无订单'
									}
								}
							})
						} else {}
					}
				})
			},
			payOrder(order_no, index) {
				uni.navigateTo({
					url: '/pages/shop/goodspay/goodspay?order_no=' + order_no + '&pages=2'
				})
			},
			buyAgain(order_no, index, activity_status, gid) {
				if (activity_status == 3) {
					uni.navigateTo({
						url: '/pages/integral/integralinfo/integralinfo?scene=' + gid
					})
				} else if (activity_status == 4 || activity_status == 2) {
					uni.navigateTo({
						url: '/pages/goodsinfo/goodsinfo?scene=' + gid
					})
				} else {
					getOrderinfo(order_no).then(res => {
						if (res.state == 1) {
							var corders = res.data.corders
							var num = 0
							for (var i = 0; i < corders.length; i++) {
								num++
								var params = {
									goods_id: corders[i].goods.id,
									goods_attr_id: corders[i].goods.attr.id,
									number: corders[i].goods.goods_number,
									is_buy_cancel: 0,
									is_buy: 1
								}
								goodsAddcarts(params).then(res => {
									if (res.state == 1) {
										if (num == corders.length) {
											uni.redirectTo({
												url: '/pages/shop/goodscarts/goodscarts'
											})
										}
									}
								})
							}
						}
					})
				}
			},
			delOrder(order_no, index) {
				var that = this
				uni.showModal({
					content: '确定要删除该订单吗？',
					confirmText: "确定",
					cancelText: "取消",
					success: function(res) {
						if (res.confirm) {
							delOrder(order_no).then(res => {
								if (res.state == 1) {
									that.list.splice(index, 1)
									if (that.list.length == 0) {
										that.noCommentText = '暂无订单'
									}
								}
							})
						} else {}
					}
				})
			},
			submitOrder(order_no, index) {
				var that = this
				uni.showModal({
					content: '是否确认收货？',
					confirmText: "确定",
					cancelText: "取消",
					success: function(res) {
						if (res.confirm) {
							submitOrder(order_no).then(res => {
								if (res.state == 1) {
									that.list.splice(index, 1)
									if (that.list.length == 0) {
										that.noCommentText = '暂无订单'
									}
								}
							})
						} else {}
					}
				})
			},
			refundOrder(order_no, index) {
				var that = this
				uni.showModal({
					content: '确定申请退款吗？',
					confirmText: "确定",
					cancelText: "取消",
					success: function(res) {
						if (res.confirm) {
							refundOrder(order_no, {}).then(res => {
								if (res.state == 1) {
									that.noCommentText = '加载中'
									that.params.page = 1
									that.list = []
									that.getOrderList()
								}
							})
						} else {}
					}
				})
			},
			goLogistics(order_no, index, total, balance, activity_status) {
				if (activity_status == 4) {
					uni.navigateTo({
						url: '/pages/shop/logistics/logistics?order_no=' + order_no + '&total=' + balance
					})
				} else {
					uni.navigateTo({
						url: '/pages/shop/logistics/logistics?order_no=' + order_no + '&total=' + total
					})
				}

			},
			refundCancel(order_no, index) {
				var that = this
				uni.showModal({
					content: '确定取消申请退款吗？',
					confirmText: "确定",
					cancelText: "取消",
					success: function(res) {
						if (res.confirm) {
							cancelRefundOrder(order_no).then(res => {
								if (res.state == 1) {
									that.noCommentText = '加载中'
									that.params.page = 1
									that.list = []
									that.getOrderList()
								}
							})
						} else {}
					}
				})
			},
			showLogistics(express_no) {
				if (express_no) {
					uni.showModal({
						title: '物流信息',
						content: express_no,
						showCancel: false,
						confirmText: '复制单号',
						success: function(res) {
							if (res.confirm) {
								uni.setClipboardData({
									data: express_no,
									success: function() {
										uni.showToast({
											title: '复制成功',
											icon: "none",
										});
									}
								});
							} else {}
						}
					})
				} else {
					uni.showToast({
						title: '暂无物流信息',
						icon: "none",
					});
				}

			}
		},
		onReachBottom() {
			if (this.current_page < this.last_page) {
				this.noCommentText = '加载中'
				this.params.page++
				this.getOrderList();
			} else {
				this.noCommentText = '已加载全部'
			}
		},
		onPullDownRefresh() {
			this.noCommentText = '加载中'
			this.params.page = 1
			this.list = []
			this.getOrderList()
			uni.stopPullDownRefresh()
		}
	}
</script>

<style lang="scss">
	.orderlist_page {
		.orderlist_box {
			.order_cell_box {
				padding: 30rpx;
				border-bottom: 2rpx solid #eaeaea;

				.order_top_box {
					display: flex;
					align-items: center;

					.order_shop_logo {
						width: 60rpx;
						height: 60rpx;
						border-radius: 60px;
					}

					.order_status {
						color: #ffba00;
						font-size: 24rpx;
					}
				}

				.order_goods_box {
					display: flex;
					align-items: center;
					padding: 30rpx 0;

					.order_goods_img {
						width: 200rpx;
						height: 200rpx;
					}

					.order_goods_content {
						flex: 1;
						height: 200rpx;
						margin-left: 20rpx;
						position: relative;

						.order_goods_name {
							font-size: 26rpx;
							font-weight: bold;
							line-height: 16px;
						}

						.goods_attr_box {
							display: inline-block;
							color: #3A3A3A;
							font-size: 22rpx;
							margin-top: 10rpx;
							background-color: #e8e8e8;
							border-radius: 30px;
							padding: 0 20rpx;
							line-height: 1.6;
						}

						.order_goods_price_box {
							display: flex;
							align-items: center;
							justify-content: flex-end;
							color: #3a3a3a;
							position: absolute;
							bottom: 10rpx;
							right: 0;
							font-size: 24rpx;
						}
					}
				}

				.order_btn_box {
					display: flex;
					justify-content: flex-end;

					.closeBtn {
						min-width: 170rpx;
						max-height: 60rpx;
						font-size: 26rpx;
						color: #9A9A9A;
						background-color: #FFFFFF;
						border: 2rpx solid #9A9A9A;
						text-align: center;
						border-radius: 30px;
						padding: 10rpx 0;
					}

					.byuBtn {
						min-width: 170rpx;
						max-height: 60rpx;
						font-size: 26rpx;
						color: #FFFFFF;
						background-color: #E10000;
						text-align: center;
						border-radius: 30px;
						padding: 10rpx 0;
					}
				}
			}
		}

	}
</style>