<template>
	<view class="salescash_pages">
		<view class="f-14 text-c" style="color: #8C8C8C;">本次提现金额</view>
		<view class="f-40 mt-20 text-c f-w">100.00</view>
		<view class="salescash_input_box mt-40">
			<text>您的提现申请已成功提交，待审核完成后安排打款，请稍后查看到账信息。</text>
		</view>
		<view class="cash_btn_box">
			<view class="cash_btn">遇到问题，点击联系客服</view>
		</view>
	</view>
</template>

<script>
	import {
		getList,
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {

			};
		},
		onShow() {
			wx.hideShareMenu()
		},
		onLoad() {

		},
		methods: {

		},
		// onShareAppMessage(res) {
		// 	return {

		// 	}
		// },
		// onShareTimeline: function() {
		// 	return {

		// 	}
		// },
	}
</script>

<style lang="scss">
	.salescash_pages {
		padding: 80rpx;

		.salescash_input_box {
			font-size: 24rpx;
			padding: 20rpx;
			margin-bottom: 30rpx;
			line-height: 45rpx;
			border-radius: 10rpx;
			background-color: #EEEDEB;
		}


		.cash_btn_box {
			position: fixed;
			bottom: 15%;
			left: 0;
			right: 0;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.cash_btn {
			color: #030303;
			font-size: 28rpx;
			padding: 16rpx 30rpx;
			border-radius: 10rpx;
			margin-top: 440rpx;
			background-color: #FFBB00;
		}
	}
</style>