<template>
	<view class="mypost">
		<view class="tabs_fixed">
			<view :class="current == 0?'tabs_item tab_item_border':'tabs_item'" @click="onClickItem(0)">主贴</view>
			<view :class="current == 1?'tabs_item tab_item_border':'tabs_item'" @click="onClickItem(1)">草稿</view>
		</view>
		<view v-if="current==0" class="post_cell" v-for="item in list" :key="item.id" @click="goInfo(item.id)">
			<view class="f-15 f-w">{{item.title}}</view>
			<view class="f-14 ellipsis-2 mt-10">
				<text class="c-blue f-w" v-for="item in tags" :key='item'>#{{item.name}}#</text>
				<text>{{item.content}}</text>
			</view>
			<view class="auditbox" style="margin: 30rpx 0;" v-if="item.is_audit!=1&&item.audit_text">{{item.audit_text}}</view>
			<block v-if='item.image.length>0'>
				<view class="pic-box mt-15" :data-img="item.image" v-if='item.image.length<3'>
					<image class="picmode" mode="aspectFill" :src="item.image[0]"> </image>
				</view>
			</block>
			<view class="motor_list_imgroup mt-15" v-if='item.image.length==3'>
				<view class="motor_list_imgroup_left">
					<image class="motor_list_left_img" :src="item.image[0]" mode="aspectFill"></image>
				</view>
				<view class="motor_list_imgroup_right">
					<image class="motor_list_right_img" :src="item.image[1]" mode="aspectFill"></image>
					<image class="motor_list_right_img" style="margin-top: 12rpx;" :src="item.image[2]"
						mode="aspectFill"></image>
				</view>
			</view>
			<view class="mt-15">
				<uni-grid :column="3" :showBorder="false" v-if='item.image.length>3'>
					<uni-grid-item v-for='(item,indexs) in item.image' :key="indexs">
						<view style="padding: 0 5rpx;">
							<image class="motor_list_right_img" :data-src="item" :src="item" mode="aspectFill" />
						</view>
					</uni-grid-item>
				</uni-grid>
			</view>
			<view class="display_flex mt-10">
				<view class="flex-1">
					<view class="source" v-if='item.channel.alias'>{{item.channel.alias}}</view>
				</view>
				<view class="display_flex text-r">
					<image class="oper-pic" src="../../static/images/comment.png">
					</image>
					<view class="f-12 ml-5">{{item.comment_num}}</view>
					<image v-if='item.is_praise==1' class="oper-pic ml-15" src="../../static/images/zan-active.png">
					</image>
					<image v-if='item.is_praise==0' class="oper-pic ml-15" src="../../static/images/zan.png"></image>
					<view class="f-12 ml-5">{{item.praise_num}}</view>
				</view>
			</view>
		</view>
		<view v-if="current==1" class="post_cell" v-for="(item,index) in list" :key="item.id">
			<view @click="goPost(item.id)">
				<view class="f-15 f-w">{{item.title}}</view>
				<view class="f-14 ellipsis-2 mt-10">
					<text class="c-blue f-w" v-for="(item,indexd) in tags" :key='indexd'>#{{item.name}}#</text>
					<text>{{item.content}}</text>
				</view>
				<block v-if='item.image.length>0'>
					<view class="pic-box mt-15" :data-img="item.image" v-if='item.image.length<3'>
						<image class="picmode" mode="aspectFill" :src="item.image[0]"> </image>
					</view>
				</block>
				<view class="motor_list_imgroup mt-15" v-if='item.image.length==3'>
					<view class="motor_list_imgroup_left">
						<image class="motor_list_left_img" :src="item.image[0]" mode="aspectFill"></image>
					</view>
					<view class="motor_list_imgroup_right">
						<image class="motor_list_right_img" :src="item.image[1]" mode="aspectFill"></image>
						<image class="motor_list_right_img" style="margin-top: 12rpx;" :src="item.image[2]"
							mode="aspectFill"></image>
					</view>
				</view>
				<view class="mt-15">
					<uni-grid :column="3" :showBorder="false" v-if='item.image.length>3'>
						<uni-grid-item v-for='item in item.image' :key="item">
							<view style="padding: 0 5rpx;">
								<image class="motor_list_right_img" :data-src="item" :src="item" mode="aspectFill" />
							</view>
						</uni-grid-item>
					</uni-grid>
				</view>
			</view>
			<view class="display_flex mt-10">
				<view class="flex-1" @click="goPost(item.id)">
					<view class="source" v-if='item.channel.alias'>{{item.channel.alias}}</view>
				</view>
				<view class="display_flex text-r">
					<view class="f-12 c-gray" @click="delDrafts(item.id,index)">删除</view>
				</view>
			</view>
		</view>
		<view class="text-c" style="background-color: #FFFFFF;" v-if="showLoading"
			:style="'padding-bottom:'+pdbottom+'rpx;'">
			<image class="loading_gift" src="/static/images/gif.gif"></image>
		</view>
		<view class="text-c" style="background-color: #FFFFFF;" v-else :style="'padding-bottom:'+pdbottom+'rpx;'">
			<view class="f-12 c-gray text-c pd-30">{{loadingTitle}}</view>
		</view>
	</view>
</template>

<script>
	import {
		getMyPostlist,
		getMyDrafts,
		delDrafts
	} from '../../api/motortime.js';
	const app = getApp()
	export default {
		data() {
			return {
				current: 0,
				list: [],
				last_page: 1,
				params: {
					cid: '',
					page: 1,
					size: 10
				},
				pdbottom: 0,
				showLoading: true,
				loadingTitle: '已加载全部',
			};
		},
		onShow() {
			if (uni.getStorageSync('onload')) {
				this.user_id = uni.getStorageSync('member') ? uni.getStorageSync('member').id : ''
				this.showLoading = true
				this.list = []
				this.params.page = 1
				if (this.current == 0) {
					this.getMyPostlist()
				} else {
					this.getMyDrafts()
				}
				uni.removeStorage({
					key: 'onload'
				})
			}
		},
		onLoad() {
			this.getMyPostlist()
			var params = {
				event_code: '我的帖子',
				path: 'pages/mypost/mypost',
				user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
				source: app.globalData.source,
				invitees_scene_id: '',
				source_page: '',
				event_id: '',
				title: '',
				value: '',
			}
			app.BurialPoint(params)
		},
		methods: {
			onClickItem(e) {
				this.showLoading = true
				this.loadingTitle = '已加载全部'
				this.current = e
				this.params.page = 1
				this.list = []
				if (e == 0) {
					this.getMyPostlist()
				} else {
					this.getMyDrafts()
				}

			},
			getMyPostlist() {
				getMyPostlist(this.params).then(res => {
					if (res.state == 1) {
						this.list = [...this.list, ...res.data.data]
						this.last_page = res.data.last_page
						this.current_page = res.data.current_page
						if (res.data.total == 0) {
							this.showLoading = false
							this.loadingTitle = '暂无数据'
						} else if (res.data.last_page == res.data.current_page) {
							this.showLoading = false
						}
					}
				})
			},
			getMyDrafts() {
				getMyDrafts(this.params).then(res => {
					if (res.state == 1) {
						this.list = [...this.list, ...res.data.data]
						this.last_page = res.data.last_page
						this.current_page = res.data.current_page
						if (res.data.total == 0) {
							this.showLoading = false
							this.loadingTitle = '暂无数据'
						} else if (res.data.last_page == res.data.current_page) {
							this.showLoading = false
						}
					}
				})
			},
			goInfo(id) {
				uni.navigateTo({
					url: '/pages/articleinfo/articleinfo?scene=' + id
				})
			},
			goPost(id) {
				uni.navigateTo({
					url: '/pages/post/post?draft_id=' + id
				})
			},
			delDrafts(id, index) {
				var that = this
				uni.showModal({
					content: '确定要删除吗？',
					confirmText: '删除',
					cancelText: "取消",
					success: function(res) {
						if (res.confirm) {
							delDrafts(id).then(res => {
								if (res.state == 1) {
									that.list.splice(index, 1)
								}
							})
						} else if (res.cancel) {
							console.log('用户点击取消');
						}
					}
				});
			}
		},
		onReachBottom() {
			if (this.current_page < this.last_page) {
				this.showLoading = true
				this.params.page = this.params.page + 1
				if (this.current == 0) {
					this.getMyPostlist()
				} else {
					this.getMyDrafts()
				}
			} else {
				this.showLoading = false
				if (this.list.length > 0) {
					this.loadingTitle = "已加载全部"
				} else {
					this.loadingTitle = "暂无动态"
				}

			}
		},
		onPullDownRefresh() {
			this.showLoading = true
			this.list = []
			this.params.page = 1
			if (this.current == 0) {
				this.getMyPostlist()
			} else {
				this.getMyDrafts()
			}
			uni.stopPullDownRefresh()
		}

	}
</script>

<style lang="scss">
	.post_cell {
		padding: 30rpx;
		border-bottom: 2rpx solid rgba(0, 0, 0, 0.1);

		.pic-box {
			width: 100%;
			height: 420rpx;

			.picmode {
				width: 100%;
				height: 100%;
			}
		}

		.uni-grid-item {
			height: 210rpx !important;
		}

		.source {
			font-size: 28rpx;
			display: inline-block;
			padding: 5rpx 10rpx;
			min-width: 20rpx;
			border-radius: 18px;
			background-color: #f6ab00;
			color: #fff;
			line-height: 1.2;
			text-align: center;
			vertical-align: middle;
		}

		.oper-pic {
			width: 30rpx;
			height: 28rpx;
		}

		.loading {
			padding: 40rpx;
			text-align: center;
		}
	}
</style>
