<template>
	<view class="addresslist_page">
		<view style="padding-bottom: 70px;">
			<uni-swipe-action ref="swipeAction">
				<uni-swipe-action-item v-for="(item, index) in list" :key="item.id" :right-options="options"
					@change="swipeChange($event, index)" @click="swipeClick($event, index,item.id)">
					<view class="address_cell">
						<view class="top_addr_text" @click="chooseAddr(index)">
							<view class="top_addr_user">
								<span class="f-14">{{item.name}}</span>
								<span class="f-12 ml-5">{{item.mobile}}</span>
							</view>
							<view class="top_addr mt-5">
								<span class="defult_address" v-if="item.status==1">默认</span>
								{{item.area.province_name}} {{item.area.city_name}}
								{{item.area.area_name}}
								{{item.address}}
							</view>
						</view>
						<view @click="openEditAddr(item.id,index)" class="f-12 c-gray"
							style="border-left: 1rpx solid #eaeaea;padding: 30rpx 20rpx;">编辑</view>
					</view>
				</uni-swipe-action-item>
			</uni-swipe-action>
		</view>
		<view class="btn_block" style="position: fixed;bottom: 50rpx;left: 0;right: 0;" @click="openAddress">添加收货地址
		</view>
	</view>
</template>

<script>
	import {
		getAddressList,
		delAddr
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				options: [{
					text: '删除',
					style: {
						backgroundColor: '#F56C6C'
					}
				}],
				list: []
			};
		},
		onShow() {
			wx.hideShareMenu()
			if (uni.getStorageSync('onload')) {
				this.getAddressList()
				uni.removeStorage({
					key: 'onload'
				})
			}
		},
		onLoad() {
			this.getAddressList()
		},
		methods: {
			openAddress() {
				uni.navigateTo({
					url: '/pages/shop/editaddress/editaddress?type=0'
				})
			},
			getAddressList() {
				getAddressList().then(res => {
					if (res.state == 1) {
						this.list = res.data
					}
				})
			},
			openEditAddr(id, index) {
				app.editAddressInfo = this.list[index]
				uni.navigateTo({
					url: '/pages/shop/editaddress/editaddress?type=1'
				})
			},
			chooseAddr(index) {
				console.log('chooseAddr==' + index)
				uni.setStorage({
					key: 'addr',
					data: this.list[index],
				})
				uni.navigateBack({
					delta: 1
				})
			},
			swipeChange(e, index) {},
			swipeClick(e, index, id) {
				console.log('swipeClick==' + index)
				let {
					content
				} = e;
				if (content.text === '删除') {
					uni.showModal({
						title: '提示',
						content: '确定要删除吗?',
						success: res => {
							if (res.confirm) {
								delAddr(id).then(res => {
									if (res.state == 1) {
										uni.showToast({
											title: '已删除',
											icon: 'success'
										})
										this.list.splice(index, 1);
									}
								})

							} else if (res.cancel) {
								console.log('用户点击取消');
							}
						}
					});
				} else {
					uni.showToast({
						title: `点击了${e.content.text}按钮`,
						icon: 'none'
					});
				}
			}
		}
	}
</script>

<style lang="scss">
	.addresslist_page {
		border-top: 1rpx solid #eaeaea;

		.address_cell {
			display: flex;
			align-items: center;
			padding: 30rpx 20rpx;
			border-bottom: 1rpx solid #eaeaea;

			.top_addr_text {
				flex: 1;

				.top_addr_user {
					font-weight: bold;
				}

				.top_addr {
					color: #3A3A3A;
					font-size: 24rpx;

				}
			}

			.defult_address {
				color: #E10000;
				font-size: 22rpx;
				border-radius: 30px;
				padding: 0 8rpx;
				margin-right: 10rpx;
				border: 1rpx solid #E10000;
			}
		}
	}
</style>
