<template>
	<view class="classification">
		<!-- #ifdef MP -->
		<!-- <uni-nav-bar :fixed="true" leftIcon="back" @clickLeft="clickLeft()" :statusBar="true" :border="true">
			<view class="SearchWidth_wechat">
				<uni-search-bar v-model="params.content" placeholder="输入搜索关键词" bgColor="#F0F0F0" radius="60"
					@confirm="search" @clear="clearInput" cancelButton="none" />
			</view>
		</uni-nav-bar> -->
		<!-- #endif -->
		<!-- #ifdef APP-PLUS|| H5 -->
		<!-- <uni-nav-bar :fixed="true" leftIcon="back" @clickLeft="clickLeft()" rightIcon="bars" leftWidth="120"
			:statusBar="true" :border="true">
			<view class="SearchWidth_app">
				<uni-search-bar v-model="params.content" placeholder="输入搜索关键词" bgColor="#F0F0F0" radius="60"
					@confirm="search" @clear="clearInput" cancelButton="none" />
			</view>
		</uni-nav-bar> -->
		<!-- #endif -->
		<!-- :style="'height:calc(100vh - '+tabs_top+'px)'" -->
		<view class="classify_box" style="height: 100vh;">
			<view class="classify_left">
				<view v-if="showTuijian" :class="params.column_id==0?'classify_left_cell cell_on':'classify_left_cell'"
					@click="checkLefyCell(0)">推荐商品</view>
				<view v-for="item in clist" :key="item.id"
					:class="params.column_id==item.id?'classify_left_cell cell_on':'classify_left_cell'"
					@click="checkLefyCell(item.id)">{{item.alias}}</view>
			</view>
			<view class="classify_right">
				<view class="classify_top_img_box" v-for="item in advlist" :key="item.id">
					<image class="classify_top_img" @click="goAdvInfo(item.url)" mode="aspectFill"
						:src="item.pic_url?item.pic_url:'../../../static/images/default_img.png'"></image>
				</view>
				<block v-for="(itemd,index) in slist" :key="itemd.id">
					<view class="classify_right_toptitle">{{itemd.alias}}</view>
					<view class="classify_right_cell_box">
						<view class="classify_right_cell" v-for="(item,index) in itemd.children" :key="item.id"
							@click="goGoodslist(item.id)">
							<image class="classify_right_cell_img" mode="aspectFill"
								:src="item.img_url?item.img_url:'../../../static/images/default_img.png'"></image>
							<view class="classify_right_cell_title">{{item.alias}}</view>
						</view>
					</view>
				</block>
			</view>
		</view>
	</view>
</template>

<script>
	import {
		getShopClassList,
		getShopSubList,
		getAdvs
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				tabs_top: 64,
				params: {
					column_id: 0
				},
				clist: [],
				slist: [],
				advlist: [],
				showTuijian: false
			};
		},
		onShow() {

		},
		onLoad() {
			this.tabs_top = 44 + app.globalData.statusBarHeight
			this.getAdvClassList(9)
			// this.getShopClassList()
			// this.getShopSubList()
		},
		methods: {
			getAdvClassList(type) {
				getAdvs({
					media_id: 1,
					type: type,
					relation_type: 1,
					relation_id: this.params.column_id
				}).then(res => {
					if (res.state == 1) {
						this.advlist = res.data
						if (type == 9) {
							if (this.advlist.length == 0) {
								this.showTuijian = false
								this.getShopClassList()
							} else {
								this.showTuijian = true
								this.getShopClassList()
							}
						}
					}
				})
			},

			getShopClassList() {
				getShopClassList({
					channel_id: 1
				}).then(res => {
					if (res.state == 1) {
						this.clist = res.data
						if (!this.showTuijian) {
							this.advlist = []
							this.params.column_id = this.clist[0].id
							this.getShopSubList()
						}
					}
				})
			},
			checkLefyCell(id) {
				if (id == 0) {
					this.slist = []
					this.advlist = []
					this.params.column_id = 0
					this.getAdvClassList(9)
				} else {
					this.advlist = []
					this.params.column_id = id
					this.getShopSubList()
					this.getAdvClassList(10)
				}

			},
			getShopSubList() {
				this.slist = []
				getShopSubList(this.params).then(res => {
					if (res.state == 1) {
						this.slist = res.data
					}
				})
			},
			goAdvInfo(url) {
				if (url) {
					uni.navigateTo({
						url: url
					})
				}
			},
			goGoodslist(id) {
				uni.navigateTo({
					url: '/pages/shop/goodslist/goodslist?subs_id=' + id
				})
			}

		}
	}
</script>

<style lang="scss">
	page {
		overflow: hidden;
	}

	.classification {
		.SearchWidth_wechat {
			width: 72%;
		}


		.classify_box {
			width: 100%;
			position: relative;
			overflow: hidden;
			border-top: 1rpx solid #F9F9F9;

			.classify_left {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				width: 30%;
				background-color: #F9F9F9;
				overflow: auto;

				.classify_left_cell {
					color: #3a3a3a;
					font-size: 28rpx;
					padding: 30rpx 0;
					text-align: center;
					letter-spacing: 1.2px;
				}

				.cell_on {
					color: #F6AB00;
					background-color: #ffffff;
				}
			}

			.classify_right {
				position: absolute;
				top: 0;
				left: 30%;
				bottom: 0;
				right: 0;
				padding: 30rpx;
				overflow: auto;

				.classify_top_img_box {
					width: 100%;
					height: 258rpx;
					margin-bottom: 20rpx;
				}

				.classify_top_img {
					width: 100%;
					height: 258rpx;
					border-radius: 3rpx;
				}

				.classify_right_toptitle {
					color: #818181;
					font-size: 28rpx;
					margin-top: 30rpx;
				}

				.classify_right_cell_box {
					margin-left: -15rpx;
					margin-right: -15rpx;
					display: flow-root;

					.classify_right_cell {
						float: left;
						width: 33.3333%;
						text-align: center;
						margin-top: 30rpx;

						.classify_right_cell_img {
							width: 130rpx;
							height: 130rpx;
							border-radius: 3rpx;
						}

						.classify_right_cell_title {
							color: #3a3a3a;
							font-size: 24rpx;
							margin-top: 10rpx;
							text-align: center;
						}
					}
				}
			}
		}
	}
</style>