<template>
	<view class="mysaleslist_pages">
		<view class="mysaleslist_cell" v-for="(item,index) in goodslist" :key="item.id">
			<view class="mysaleslist_img_box" @click="goInfo(item.id)">
				<image mode="aspectFill" class="mysaleslist_img" :src="item.cover_img"></image>
			</view>
			<view class="mysaleslist_goods_info">
				<view @click="goInfo(item.id)">
					<view class="display_flex">
						<span class="mysaleslist_goods_title">商品名称：</span>
						<span class="mysaleslist_goods_name ellipsis flex-1">{{item.goods_name}}</span>
					</view>
					<view class="display_flex">
						<span class="mysaleslist_goods_title">库存数量：</span>
						<span class="mysaleslist_goods_name">{{item.number}}件</span>
					</view>
					<view class="display_flex">
						<span class="mysaleslist_goods_title">商品金额：</span>
						<span class="mysaleslist_goods_name">{{item.price}}</span>
					</view>
					<view class="display_flex">
						<span class="mysaleslist_goods_title">预估佣金：</span>
						<span class="c-red">{{item.commission}}</span>
					</view>
				</view>
				<view class="display_flex">
					<view class="display_flex flex-1" @click="showLevel(item.id,index)">
						<span class="mysaleslist_goods_title">佣金级别：</span>
						<span style="display: flex;">{{item.commission_name}}
							<uni-icons style="margin-left: 10rpx;" type="help" color="#4B4B4B" size="16"></uni-icons>
						</span>
					</view>
					<view class="mysaleslist_goods_icon_box" @click="goInfo(item.id)">
						<!-- <image class="collect" src="../../../static/images/collect.png"></image> -->
						<!-- <image class="collect" src="../../../static/images/collect_active.png"></image> -->
						<image class="cales_share" src="../../../static/images/shop/cales_share.png"></image>
					</view>
				</view>
			</view>
		</view>
		<view class="text-c pd-30 c-gray f-14" v-if="endLoad">{{endLoad_text}}</view>
		<view class="pop_box" v-if="isshowPop">
			<view class="popup_mask" @click="isshowPop=false"></view>
			<view class="pop">
				<view class="pop_close_img" @click="isshowPop=false">
					<image class="close_img" src="../../../static/images/close.png"></image>
				</view>
				<view class="pop_title">{{commission_arr.title}}</view>
				<view class="pop_text">
					<view class="mb-10">{{commission_arr.desc}}</view>
					<uni-table style="min-width: 100px;" ref="table" border>
						<uni-tr>
							<uni-th align="center">级别</uni-th>
							<uni-th align="center">佣金</uni-th>
						</uni-tr>
						<uni-tr v-for="item in commission_arr.info">
							<uni-td align="center">{{item.name}}</uni-td>
							<uni-td align="center">{{item.commission}}</uni-td>
						</uni-tr>
					</uni-table>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	import {
		getSaleGoodsList,
	} from '@/api/motortime.js';
	let app = getApp()
	export default {
		data() {
			return {
				goodslist: [],
				params: {
					user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : 0,
					page: 1,
					size: 20,
				},
				endLoad: true,
				endLoad_text: '',
				isshowPop: false,
				commission_arr: ''
			};
		},
		onShow() {
			wx.hideShareMenu()
		},
		onLoad() {
			var params = {
				event_code: '带货商品列表',
				path: 'pages/shop/mysaleslist/mysaleslist',
				user_id: uni.getStorageSync('member') ? uni.getStorageSync('member').id : '',
				invitees_scene_id: '',
				source_page: '',
				event_id: '',
				title: '',
				value: '',
			}
			app.BurialPoint(params)
			uni.showLoading()
			this.getSaleGoodsList()
		},
		methods: {
			getSaleGoodsList() {
				getSaleGoodsList(this.params).then(res => {
					if (res.state == 1) {
						this.goodslist = [...this.goodslist, ...res.data.data]
						this.current_page = res.data.current_page
						this.last_page = res.data.last_page
						if (res.data.total == 0) {
							this.endLoad = true
							this.endLoad_text = '暂无商品'
						} else {
							if (res.data.total < this.params.size) {
								this.endLoad = true
								this.endLoad_text = '已加载全部'
							} else {
								this.endLoad = false
							}
						}
						uni.hideLoading()
					} else {
						uni.hideLoading()
						uni.showToast({
							title: res.error[0],
							mask: true,
							icon: 'none',
							duration: 1500
						})
					}
				})
			},
			goInfo(id) {
				uni.navigateTo({
					url: '/pages/shop/salesshare/salesshare?id=' + id
				})
			},
			showLevel(id, index) {
				this.commission_arr = this.goodslist[index].commission_arr
				this.isshowPop = true
			}
		},
		onReachBottom() {
			if (this.last_page > this.current_page) {
				this.params.page++
				this.getSaleGoodsList()
			} else {
				this.endLoad = true
				this.endLoad_text = '已加载全部'
			}
		},
		onPullDownRefresh() {
			this.endLoad = true
			this.endLoad_text = ''
			this.params.page = 1
			this.goodslist = []
			uni.showLoading()
			this.getSaleGoodsList()
		},
		// onShareAppMessage(res) {
		// 	return {

		// 	}
		// },
		// onShareTimeline: function() {
		// 	return {

		// 	}
		// },
	}
</script>

<style lang="scss">
	page {
		background-color: #F4F4F4;
	}

	.mysaleslist_pages {

		.mysaleslist_cell {
			display: flex;
			align-items: center;
			padding: 30rpx;
			background-color: #ffffff;
			margin-top: 20rpx;

			.mysaleslist_img_box {
				width: 185rpx;
				height: 192rpx;

				.mysaleslist_img {
					width: 185rpx;
					height: 192rpx;
				}

			}

			.mysaleslist_goods_info {
				flex: 1;
				font-size: 24rpx;
				margin-left: 30rpx;
				height: 192rpx;
				line-height: 38rpx;

				.mysaleslist_goods_title {
					color: #4B4B4B;
				}

				.collect {
					width: 24rpx;
					height: 24rpx;
				}

				.cales_share {
					width: 24rpx;
					height: 22rpx;
					margin-left: 25rpx;
				}
			}
		}

		.popup_mask {
			position: fixed;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background-color: rgba(0, 0, 0, 0.5);
			z-index: 6;
		}

		.pop {
			position: absolute;
			top: 20%;
			left: 5%;
			right: 5%;
			bottom: 20%;
			z-index: 7;
			padding: 30rpx;
			border-radius: 20rpx;
			overflow-y: auto;
			overflow-x: hidden;
			background-color: #FFFFFF;
		}

		.pop_close_img {
			position: absolute;
			top: 0;
			right: 0;
			z-index: 8;
		}

		.close_img {
			width: 20rpx;
			height: 20rpx;
			padding: 30rpx;
		}

		.pop_title {
			font-size: 32rpx;
			text-align: center;
		}

		.pop_img {
			width: 100%;
			height: 300rpx;
			margin-top: 15rpx;
		}

		.pop_text {
			font-size: 28rpx;
			margin-top: 15rpx;
			line-height: 36rpx;

			.uni-table {
				min-width: none !important;
			}
		}
	}

	.mysaleslist_pages:last-child {
		border-bottom: 20rpx solid #F4F4F4;
	}
</style>